[2020-06-24 05:50] harshbafna commented on #478
@s-rog : Your Nvidia Cuda compiler version is outdated

[code]

Could you please upgrade it to version >= 10.1 and let us know the result.

[2020-06-24 07:46] MFreidank commented on #397
@maaquib Could you raise this with that team? Is there anything that can be done from our end to help expedite this process?

[2020-06-24 09:33] s-rog commented on #478
It seems like driver 418 is incompatible despite no errors or warnings, updating to 440 works as advertised.
@harshbafna

[2020-06-24 09:33] #478 closed

[2020-06-24 18:16] chauhang opened #479 "TorchScripted BERT model not working on GPU"
The BERT model [example](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers) is not working on GPU machines. Model gets loaded but the predictions are failing.

## Context
* torchserve version: Tested with both v0.1.1 release and install from source
* torch version: 1.5.1
* torchvision version [if any]: 0.6.1
* torchtext version [if any]: 0.6.0
* torchaudio version [if

[2020-06-25 00:09] chauhang opened #480 "Add GPU tests to the Automation test framework"
To catch the regression issues on GPU side, please add support for running the Automation test suite on GPU machines in addition to the current tests on CPUs.  GPU tests can run daily or few times a week.

## Is your feature request related to a problem? Please describe.
The issue with BERT example not running on GPU would have been caught sooner, if the tests were in place.

## Describe the solut

[2020-06-25 04:51] #416 closed

[2020-06-25 04:51] #417 closed

[2020-06-25 12:20] sermakarevich commented on #459
@harshbafna Hi, I got a bit different question but ask here as it is related to parallelism as well.

We have torchserve deployed with 5 different models, 1 worker for every model, instance has 12 threads . The goal is to query all models at the same time.

When we do this with python multiprocessing.Pool - it takes multiple times longer than querying  every model sequentially one by one. Same thi

[2020-06-25 13:05] sermakarevich opened #481 "Processing requests to different models in parallel is slower than sequentially"
Hi, this is a question, not a bug report.

We have torchserve deployed with 5 different models, 1 worker for every model, instance has 12 threads . The goal is to query all models at the same time.

When we do this with python multiprocessing.Pool - it takes multiple times longer than querying every model sequentially one by one. Same thing when we send queries from bash - backend time grows from

[2020-06-25 13:10] dhaniram-kshirsagar commented on #481
Do you mean 12 cores?? or netty threads??

How many concurrent requests/model you are sending?
Also, can you attach a sampler to reproduced this.

[2020-06-25 13:31] sermakarevich commented on #481
12 cores, yes
5 concurrent request - 1 for each model
will try to create a sampler

[2020-06-25 13:56] sermakarevich commented on #481
@dhaniram-kshirsagar  this should work
single  request Backend response time: 400
concurrent requests Backend response time: up to 2000
[code]

[2020-06-25 14:32] sermakarevich commented on #481
I think I have found the issue. Its pytorch's default parallelism. Every model worker process spawns its own subprocesses which cause conflicts.
`MKL_NUM_THREADS=1 torchserve --start` looks like solved the issue.

[2020-06-25 17:29] sermakarevich commented on #481
@dhaniram-kshirsagar the other strange thing here is that model's memoryUsage double its size after a request.
model archive size: 106MB
memoryUsage after load: 175-220 MB
after an inference request (or a couple of) memoryUsage spike to ~400MB
![image](https://user-images.githubusercontent.com/9593371/85769150-04748800-b71a-11ea-8d12-090a8a5fadfe.png)
![image](https://user-images.githubusercontent

[2020-06-26 21:02] #442 closed

[2020-06-28 10:59] dhaniram-kshirsagar commented on #362
Can you please elaborate on this?

[2020-06-29 05:05] dhaniram-kshirsagar commented on #355
@mycpuorg - It turned out to be a bug as explained above hence fixed it in PR #385 [as explained in my earlier comment above]
Also, this new PR #432 addresses the concerns around structure and things to be taken care of while implementing custom or extending default handlers.
This was discussed in the initial stages of torchserve and it was decided that we will have default handlers for commonly u

[2020-06-30 05:51] deepakbabel opened #485 "Enhancements to existing Regression Suite- Adding more coverage."
At present, pytorch Regression Suite consists of mostly API based basic regression test cases(both positive as well as negative). But it does not cover scenario based/End-to-end test cases well.

To start with, we are planning to enhance the existing Regression Suite by adding this new category of test suite(Scenario Based) with scenario based test cases. We are also adding new test cases for API

[2020-06-30 15:39] UdonDa commented on #355
In a branch of `issue_355`, I sent a post using `curl http://localhost:8080/predictions/fcn_resnet_101 -T ./examples/image_segmenter/fcn/persons.jpg -o output.jpg`, but I got the illegal jpg file...

It's an output of `curl http://localhost:8080/predictions/fcn_resnet_101 -T ./examples/image_segmenter/fcn/persons.jpg
[code]

I wonder this output is wrong. I think in the segmentation task we use an

[2020-06-30 23:35] maaquib opened #488 "Install from src scripts missing cudatoolkit dependencies"
## Your Environment

* Installed using source? yes
* Is it a CPU or GPU environment?: GPU

## Expected Behavior
[Install from source scripts](https://github.com/pytorch/serve/blob/master/scripts/install_from_src_ubuntu) should install gpu dependencies depending on the kind of host

## Current Behavior
`cudatoolkit` is not installed on gpus when using install from source scripts

[2020-07-01 06:02] harshbafna commented on #488
This is a non-issue. If the CUDA drivers are correctly installed, the `cudatoolkit` python package is not required.

Validated this on p3.8xlarge instance using DLAMI 30.0 and on plain ubuntu 18.0.4 image and validated that the model workers are created on GPU and the same is also reflected on `nvidia-smi` output.

**Describe model call output**:
[code]

**nvidia-smi output** :
[code]

For more de

[2020-07-01 06:02] #488 closed

[2020-07-01 10:48] dhaniram-kshirsagar commented on #434
Replied to your comments on PR#432 last week itself. Will you be able to create PR against that branch for your comments on improving base handler.

[2020-07-01 16:59] htappen commented on #434
Great, I'm working on two PRs -- one for improving BaseHandler, then a 2nd
for adding in RequestEnvelope

Thanks,
Henry

On Wed, Jul 1, 2020 at 3:49 AM dhaniram-kshirsagar <notifications@github.com>
wrote:

[2020-07-01 17:33] dhaniram-kshirsagar commented on #481
@sermakarevich  As you might know, torchserve starts a python process for every model you register with it. In your case, you are registering 11 models which are equal to launching 11 python process + 1 main process. When you try to run concurrent requests against each of those 11 models, process switching results into slow response time. We tried with a 36 core machine, overall response time impr

[2020-07-02 11:48] TheRochVoices opened #490 "Is the model-archiver's documentation supposed to look like a page written in basic html?"
![Screenshot from 2020-07-02 17-16-52](https://user-images.githubusercontent.com/35432742/86355204-f1b50280-bc87-11ea-84a8-6e4f39bca4cb.png)

From the content it looks like we did not intended the page to look like what it looks in the above screenshot.

[2020-07-02 12:41] dhaniram-kshirsagar commented on #355
Not sure how you test it but this is the output I am getting for person.jpg. I am following the same steps. NOTE now curl command demands you to supply -o flag else it fails.
![out](https://user-images.githubusercontent.com/26479924/86359946-5162dc00-bc8f-11ea-9cef-83d5e6a4637a.jpg)

[2020-07-03 04:45] harshbafna opened #492 "testPredictionMemoryError test case in frontend build fails intermittently"
## Context
* torchserve version: latest master
* torch version: 1.5.1
* torchvision version [if any]: 0.6.1
* torchtext version [if any]: NA
* torchaudio version [if any]: NA
* java version: JDK 11
* Operating System and version: Ubuntu 18.0.4

## Your Environment
* Installed using source? [yes/no]: Yes
* Are you planning to deploy it using docker container? [yes/no]:No
* Is it a CPU or GPU enviro

[2020-07-03 10:22] deepakbabel commented on #485
[PR Link](https://github.com/pytorch/serve/pull/494)

[2020-07-03 10:25] deepakbabel commented on #485
#494

[2020-07-03 11:44] jesudasvf opened #495 "Inference / prediction does not work, after serving the mnist model from the examples, with change in directory structure"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.
** Sorry could not locate an issue similar to this

## Context

Trying to serve the mnist classifier example on a Linux Ububtu 18.04 VM on Azure
After serving the model the torchserve keep repeating a message that a worker thread has stopped.

* torchserve version:

[2020-07-03 11:52] harshbafna commented on #495
@jesudasvf :

From the provided logs, I observed following error while loading the model :

[code]

Looks like you have modified the custom handler supplied with the `mnist` example and replaced

[code]

to

[code]

[2020-07-04 09:12] baopanda opened #496 "About running torchserve"
Hi all,
After running torch serve for a few times and I get an erorr, can you help me to fix this?

java.text.ParseException: Unparseable date: ".directory"
        at java.base/java.text.DateFormat.parse(DateFormat.java:395)
        at org.pytorch.serve.snapshot.FSSnapshotSerializer.getSnapshotTime(FSSnapshotSerializer.java:95)
        at org.pytorch.serve.snapshot.FSSnapshotSerializer.lambda$get

[2020-07-04 12:26] harshbafna commented on #496
@baopanda :

From the shared logs, `TorchServe` is starting with the last saved snapshot file. However, looks like the `config` directory inside the `logs` directory contains some invalid file named `.directory`.

Could you please share the output of `ls -al` command for `logs/config` directory.

Note:  The logs directory is by-default generated on the path from where `TorchServe` is started.

[2020-07-04 22:28] jlin27 commented on #490
I added a fix in this PR: https://github.com/pytorch/serve/pull/497
Could someone from the aws team help review and merge? Thanks!

[2020-07-05 12:56] nihiluis opened #498 "Worker dies, unclear error message given"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

Thank you for the lib.

## Context

* torchserve version: 0.1.1
* torch version: 1.5.1
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: 11.0.7
* Operating System and version: arch linux

## Your Environme

[2020-07-06 08:37] dhaniram-kshirsagar opened #499 "Model's memoryUsage double its size after a inference request"
Model's memoryUsage double its size after a request.
model archive size: 106MB
memoryUsage after load: 175-220 MB
after an inference request (or a couple of) memoryUsage spike to ~400MB

in a pure python I can control the process size to be less than 200 MB always.

![image](https://user-images.githubusercontent.com/9593371/85769150-04748800-b71a-11ea-8d12-090a8a5fadfe.png)
![image](https://user-i

[2020-07-06 08:39] dhaniram-kshirsagar commented on #499
Please comment in #481 - This requires fix to default handlers where `with no_grade: `context manager is not used.

[2020-07-06 10:26] baopanda opened #500 "Setting batch inference."
Hi all,
I am running my model using torch serve but when I configure TorchServe to use the batching feature, it get an error.

and the error:

  "code": 409,
  "type": "ConflictStatusException",
  "message": "Model version 1.0 is already registered for model segment"
}

Thank you in advance for helping me.

[2020-07-06 10:36] harshbafna commented on #500
@baopanda : As the error message clearly indicates, a model named `segment` is already registered in `TorchServe`.

To handle this you could do one of the following :

 - Register the model with a different name. You could use `model_name` parameter while registering the model. Sample :

[code]

This will register the model with the name `segment_batch`

 - Change the model version while creation

[2020-07-06 12:20] dhaniram-kshirsagar commented on #434
By when PR for this i.e. changes for base_handler.py per comments in PR #432 will be available? We plan to close this by 10th july for 0.2.0 release.

[2020-07-06 12:38] jesudasvf commented on #495
Thanks @harshbafna
I had created a folder called src and moved the model.py, and all the code under the src folder.
I will try by maintaining the original folder structure and revert with the results.

[2020-07-06 13:02] harshbafna commented on #89
- The dependency for `resnet-18` mar file has been removed from the [docker files](https://github.com/pytorch/serve/tree/master/docker)
 - `TorchServe` already supports configurations through environment variables. However, user needs to set `enable_env_vars` parameter to true in config.properties. For more details on config parameters configurable through environment variables refer [configuratio

[2020-07-06 19:15] #347 closed

[2020-07-06 19:35] #154 closed

[2020-07-06 21:07] #99 closed

[2020-07-07 03:10] baopanda commented on #500
@harshbafna Thank for your reply, I have setup some basic config with min_workers and max_workers = 6, batch_size =8.
but when I testing with apache benchmark, i got an error:
`ab -k -l -n 1000 -c 10 -p test1.json -T 'application/json' http://127.0.0.1:8080/predictions/segment_batch`
and the error:

Another question I want to ask you is "How can I decode the response that TS will give to me? becas

[2020-07-07 03:37] #496 closed

[2020-07-07 04:11] htappen commented on #434
OK I'm working on a few test cases, which is taking a bit longer

On Mon, Jul 6, 2020, 5:20 AM dhaniram-kshirsagar <notifications@github.com>
wrote:

[2020-07-07 04:18] baopanda commented on #500
@harshbafna Do you have any ideas?

[2020-07-07 05:21] harshbafna commented on #500
@baopanda :

`TorchServe` creates a batch of requests (list) based on the configured batch size (8 in your case) in the frontend and forwards it on to the model's handler and expects a response of similar size. In your case, the custom handler is returning back a list with a single item and hence the above error is observed.

You could refer the following example custom handler with batch inferenc

[2020-07-07 08:27] baopanda commented on #500
Thank for your help mr @harshbafna
This is my json file that i will sent to the api:

	"sentence":"Hà Đức Chinh tỏa sáng với hat-trick vào lưới Brunei và khiến HLV Park Hang Seo 2 lần trong phòng họp báo sửng sốt."
}

and the response I have printed after preprocessing phrase:

[code]

[2020-07-07 10:06] harshbafna commented on #500
@baopanda

I created a dummy handler that returns an unicode string in response.

[code]

and executed a simple inference request on this model using `curl` as well as `postman app` but couldn't reproduce the issue :

[code]

<img width="970" alt="Screen Shot 2020-07-07 at 3 32 31 PM" src="https://user-images.githubusercontent.com/26594595/86765995-8abc9280-c067-11ea-9cb2-022e4a0ad1be.png">

[2020-07-07 10:22] abmitra84 commented on #498
Facing Same issue on Ubuntu 18 on CPU.
Simple command `torchserve --start --ncs --model-store model_store --models densenet161.mar` from the example can't bring up the torchserver

[2020-07-07 10:27] dhaniram-kshirsagar commented on #498
@nihiluis The preprocessor method has issues.
Correct method -
[code]

However, given logs are pointing towards model/model handler loading error instead of preprocessing error which occurs during prediction call.

As there was no concrete info around this issue, I went ahead and built this example using some of your code and our existing [BERT example](https://github.com/pytorch/serve/tree/master

[2020-07-07 10:30] dhaniram-kshirsagar commented on #498
Can you please post logs for this.

[2020-07-07 10:38] jesudasvf commented on #495
Added the following lines in the handler code to make it work with a different dir structure

import sys
sys.path.insert(1, '/fdrive/t_serve_eg/src/')

Rebuilt the model archive with this change and torchserve is working well and predictions are successful.

thanks @harshbafna for pointing out the issue.

[2020-07-07 10:38] #495 closed

[2020-07-07 10:52] harshbafna commented on #495
@jesudasvf : I would not recommend setting a local drive to the system path. Instead, you could zip/tar your dir structure and supply it with the `--extra-files` param while creating the model-archive. Then later you can unzip this in the model directory while initializing your model.

You can refer the following mar creation step and handler from [waveglow example](https://github.com/pytorch/serv

[2020-07-07 11:18] jesudasvf commented on #495
thanks @harshbafna for suggesting how to handle the change in directory structure. I will try the recommended method and revert.

I had a couple of questions
1. why does the TS-METRICS not include GPU utilization?
2. When I add debug log messages in the handler, I do not see them in the console output neither in the TS_LOG file? where can I see the debug log messages added in the handler code?
3.

[2020-07-07 12:25] harshbafna commented on #495
- TS metric currently just captures the CPU usage. This can be taken up as a future enhancement.
 - It should get logged into the `ts_log.log` file. Make sure you are using the root logger from `logging` module provided by python.
 - You can use the [describe api](https://github.com/pytorch/serve/blob/master/docs/management_api.md#describe-model) to check if the worker is running on CPU or GPU. Yo

[2020-07-07 13:39] jesudasvf commented on #495
thanks a lot ! @harshbafna for the response. Will check out the details as pointed out by you.

[2020-07-07 22:25] #409 closed

[2020-07-08 03:34] #345 closed

[2020-07-08 04:48] harshbafna opened #503 "Python linting for model-archiver fails"
Python linting fails for torch-model-archiver with the following errors :

[code]

The python lint for model-archiver is also not part of the sanity suite/CI build.

[2020-07-08 08:09] prashantsail opened #505 "CircleCI Enchancements"
## Is your feature request related to a problem? Please describe.
- Enhance CircleCI configuration for independent build and test jobs.
- Support for workflows like smoke \ regression \ performance along with scheduling on specific branches
- Better error reporting \ feedback on test failures
- Optimize build time by eliminating creation of a new docker image on every build trigger
- Support for e

[2020-07-09 06:16] SeaOfOcean commented on #361
will Serving multiple models on a single GPU help improve the throughput? e.g. get ~3X speedup for 3 models on a single GPU? @dhanainme @chauhang

[2020-07-09 07:30] #500 closed

[2020-07-09 08:47] yangp725 commented on #455
### Encountered the same problem when high concurrent requests

`io.netty.handler.codec.DecoderException: java.lang.IndexOutOfBoundsException: readerIndex(496) + length(4) exceeds writerIndex(496): PooledUnsafeDirectByteBuf(ridx: 496, widx: 496, cap: 496)
        at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:459)
        at io.netty.handler.codec.ByteToMessage

[2020-07-09 09:31] harshbafna commented on #455
@yangp725 please share the following details :

* Operating System and version:
* CPU/GPU environment?
* Number of CPU cores/ GPUs:
* What kind of model is it e.g. vision, text, audio?
* Using a default/custom handler?
* In case of a custom model, model's mar file, and sample input
* Provide config.properties, logs [ts.log], and parameters used for model registration/update APIs:
* Bare minimum co

[2020-07-09 09:56] maheshambule opened #509 "Performance Regression Suite"
## Is your feature request related to a problem? Please describe.
A performance regression suite is needed which does the following:

1. Allows to write test performance test cases
1. Monitors system and API metrics
1. Allows to specify threshold checks for monitored metrics
1. Fails on an error and produces a report

## Describe the solution
Add a performance regression suite which adds the featu

[2020-07-09 13:51] harshbafna opened #511 "Model registered without any initial workers creates workers equal to available GPUs or CPU cores"
## Context
This bug got introduced to PR #318

* torchserve version: latest master
* torch version: 1.5
* torchvision version [if any]: NA
* torchtext version [if any]: NA
* torchaudio version [if any]: NA
* java version: JDK 11
* Operating System and version: Ubuntu 18.04/MacOS

## Your Environment

* Installed using source? [yes/no]: Yes
* Are you planning to deploy it using docker container? [y

[2020-07-09 16:05] bigswede74 opened #512 "models "all" option only starts first mode found in model store"
## Issue
Torchserve start with models "all" option only starts the first model found in the model store unless snapshots are disabled. All models are started if the --ncs option is added.

**Only first model is started**
[code]

**All models are started**
[code]

* torchserve version: 0.1.1
* Operating System and version: ubuntu 18.04

## Environment

* Installed using source? [yes/no]: yes
* Are

[2020-07-09 17:41] harshbafna commented on #512
@bigswede74 : I could not reproduce this issue on the latest master.

Following is my model store :

[code]

I used the following command to start `TorchServe` :

[code]

And following is the output of list models API :

[code]

Detailed logs :
[load_all_models_on_startup.log](https://github.com/pytorch/serve/files/4898522/load_all_models_on_startup.log)

Could you please check if there is no old

[2020-07-09 18:10] bigswede74 commented on #512
@harshbafna  What am I looking for? I have eight .cfg files in that directory, 4 startup and 4 shutdown.

[2020-07-09 18:16] harshbafna commented on #512
@bigswede74 :  The snapshot files get generated on startup, shutdown, and every management API call. These snapshot files have timestamp in the filename in `yyyyMMddHHmmssSSS` format and based on this timestamp `TorchServe` will select the latest one while starting and load the models present in the`model_snapshot` parameter in the snapshot file.

Note that the `--models` parameter is ignored if `

[2020-07-09 18:28] harshbafna commented on #512
@bigswede74: You can refer to the [snapshot documentation](https://github.com/pytorch/serve/blob/master/docs/snapshot.md) for more details on the snapshot feature.

[2020-07-09 18:35] bigswede74 commented on #512
@harshbafna  So I can just clear out this folder to get back to a good state?

[2020-07-09 18:59] harshbafna commented on #512
Yes. Or if you don't want to use snapshot feature, just use `--ncs` to disable it while starting `TorchServe` :-)

[2020-07-09 19:06] bigswede74 commented on #512
@harshbafna Thanks for the help.

[2020-07-09 19:06] #512 closed

[2020-07-10 04:46] baopanda opened #515 "Start model torchserve"
Hi all,
when I run my .mar model in the server I have encounter an error:

java.lang.InterruptedException
at java.base/java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.reportInterruptAfterWait(AbstractQueuedSynchronizer.java:2056)
at java.base/java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.awaitNanos(AbstractQueuedSynchronizer.java:2133)
at java.base/jav

[2020-07-10 04:51] harshbafna commented on #515
@baopanda : Could you please provide the complete logs from `logs/ts_log.log`. Also, share the model's mar file so that we can reproduce the issue at our end.

[2020-07-10 05:38] dhaniram-kshirsagar opened #516 "Torchscript models not working with latest master"
The latest commit for base_handler has introduced a bug due to which scripted models are not working.
The existing script model related test case was having model file [which is not required] hence sanity test suite had not flagged this issue.

[2020-07-10 06:57] dhaniram-kshirsagar opened #517 "Doc for adding new benchmark test plan using jmeter"
Create document to list steps for creating new jmeter test plan for torchserve benchmark.

[2020-07-10 08:36] baopanda commented on #515
Definitely, Mr @harshbafna , I am happy to provide it to you.
Logs from ts_log.log:
[code]

and file handle:

[code]

Thank you for helping me, wish you will have a good day

[2020-07-10 10:07] harshbafna commented on #515
@baopanda: From the shared logs, I could only make out that your custom handler throws an exception from `line:29` while loading the model.
[code]

Unfortunately, it looks like the frontend input stream got closed before it could capture the complete stack trace.

Also, the `handler` file you have shared doesn't match the exact line sequence per the above stack trace. Could you please share your m

[2020-07-10 10:19] baopanda commented on #515
@harshbafna
I have know the error and fixed it
I really appreciate your help with my project!
Once again, Thank you

[2020-07-10 10:19] #515 closed

[2020-07-10 16:01] dhaniram-kshirsagar commented on #434
@htappen Thanks for your PR!! I have merged to PR #432.

[2020-07-10 17:26] sermakarevich commented on #481
@dhaniram-kshirsagar thanks for the explanation - it makes sense.

[2020-07-13 03:56] harshbafna opened #522 "Remove frontend UT suite execution from setup"
## Is your feature request related to a problem? Please describe.
Dusing install from source, Gradle build executes complete frontend UT suite thereby increasing the install time by a considerable amount.

## Describe the solution
Setup should only `generate` the required frontend jar for installation and not execute the whole frontend UT suite.

Developers have the option to run frontend UT suite

[2020-07-13 04:00] harshbafna opened #523 "Setup CI build process for Windows WSL and MacOS"
## Is your feature request related to a problem? Please describe.
Currently, CI build only runs for Linux based environment. However, `TorchServe` is supported on macOS and Windows WSL as well.

## Describe the solution
Add support for Windows WSL and macOS environment in the CI build. Circle CI provides support for both environments.

[2020-07-13 04:44] buqing2009 opened #524 "support two/multi inputs"
There is no tutorial about two or more model inputs in doc, is it supported?

[2020-07-13 04:48] buqing2009 opened #525 "support two/multi inputs"
There is no tutorial about two or more model inputs in doc, is it supported?

[2020-07-13 05:19] dhaniram-kshirsagar commented on #524
You mean batch support?

[2020-07-13 05:20] dhaniram-kshirsagar commented on #525
Duplicate of #524

[2020-07-13 05:20] #525 closed

[2020-07-13 06:56] buqing2009 commented on #524
Not batch, the input of my model forward is two images

[2020-07-13 09:14] buqing2009 opened #526 "Invalid return type: <class 'numpy.ndarray'>."
When I post process the inference output in handler, it seems that it only support return list object. But some model of other tasks like depth estimation, sceneflow, 3D reconstruction..., the output is just a image. It's necessary for torch serve to response the client request, and return an image url.

[2020-07-13 12:57] Leoduv opened #528 "Best way to register a specific model on pod startup ? Kubernetes"
Hi,

### Context
I am currently trying to create a Kubernetes infrastructure using torchserve for the inference of some models. I have a loadbalancer, a horizontal autoscaling and the deployment with the .mar files in a volume ; but having a load balancer creates an unexpected problem : you have to send a curl request to register a model X, but the load balancer will only send it to a single pod.

[2020-07-13 17:05] bigswede74 opened #529 "Custom handler request data"
Is there a mechanism to pass more than just the http request body to a custom handler? Currently the data is a dictionary with a single element containing the request body. I have the need to access more request data, the query string would suffice for my purposes.

Potential solution would be to pass the full request to the custom handler.

[2020-07-13 18:12] maaquib commented on #528
Related to https://github.com/pytorch/serve/issues/88
@Leoduv Please track the above issue for k8s deployement feature progress
You can join the torchserve channel on Pytorch Slack for questions to the devs https://pytorch.org/resources/

[2020-07-14 05:23] harshbafna commented on #526
@buqing2009: You could return the binary data for the image generated by your model and write it to a file at the client end.

You can refer the following examples :
 - [Waveglow speech to text synthesizer](https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer)
 - [Image segmentation example using fcn_resnet_101_coco model](https://github.com/pytorch/serve/tree/issue_355

[2020-07-14 07:14] harshbafna commented on #529
@bigswede74: The multiple request data is already supplied to the custom handler as a key-value pair in the `data` object.

Consider the following example which just dumps the raw binary data of the inputs sent in the request

 - Dummy handler
[code]

 - Sample inference request sending two files in the request

[code]

 - Backend log generated by the handler

[code]

 - Sample request to send dat

[2020-07-14 07:16] harshbafna commented on #524
@buqing2009: Please refer the following comment on another ticket

https://github.com/pytorch/serve/issues/529#issuecomment-658012913

[2020-07-14 09:30] buqing2009 commented on #524
Thanks, @harshbafna.  The comment solve my problem.

But i have another question, can i return the **bytearray** type data from handle function?

[2020-07-14 10:58] harshbafna commented on #524
@buqing2009 : I have already replied to this query in https://github.com/pytorch/serve/issues/526#issuecomment-657974000 . Could you please confirm if that helps?

[2020-07-14 11:14] harshbafna commented on #524
Closing this ticket as the query has been resolved and the other query is already being tracked in #526.

[2020-07-14 11:14] #524 closed

[2020-07-14 14:19] faustomilletari commented on #529
eisen deploy might have what you need. you can pass whatever and receive whatever using torch serve. Moreover, you can get some metadata from the model, giving you info about what the model expects in terms of input keys, types and shape.

Of course it all uses torch serve with a custom handler

http://docs.eisen.ai/eisen/deploy.html

[2020-07-14 14:42] faustomilletari opened #532 "Failure after a bunch of requests (memory leak?)"
Hello,

I experience failure after a number of requests to the prediction endpoint. My input sizes are rather large (tens of megabytes. videos).

I am seeing what looks like a potential memory leak somewhere.

As the model starts: MemoryAvailable.Megabytes:1512.77734375
[code]

as I keep making requests: MemoryAvailable.Megabytes:278.9453125

[code]
 After a while:

[code]

and again the memory is

[2020-07-14 14:56] faustomilletari commented on #532
is this related to #415 ?

[2020-07-14 15:15] harshbafna commented on #532
@faustomilletari: There are multiple factors that should be considered.

 - Is it a JIT/eager mode model [as indicated by you, this was the problem in #415]
 - Number of workers [model is loaded in memory for every worker]
 - PyTorch's model's size increases in memory whenever a prediction is made based on the input tensor  [not permanent, changes with different inputs]
 - Input size, inference co

[2020-07-14 15:38] faustomilletari commented on #532
Hello, the model is a .pt file obtained as a result of torch.save. I do believe it is not a JIT compiled model then.

do you think that setting the following env variables will do?

[code]

[2020-07-14 15:42] harshbafna commented on #532
In that case, you could simply set `TS_PREFER_DIRECT_BUFFER` to true in the environment variable and restart. You can control the number of workers using the scale API, the default workers per model is 0 by default.

Question: Have you installed `TorchServe` from binary or from source?

[2020-07-14 15:44] faustomilletari commented on #532
I have done pip install TorchServe (I have also tried to install from git by pip install git+http://github-repo)

[2020-07-14 15:45] harshbafna commented on #532
Just wanted to confirm because of a recent bug (#511) which got introduced in the master.

[2020-07-14 16:10] faustomilletari commented on #532
unfortunately the behaviour does not change with the two env variables set :( . does it matter that my model is being executed on CPU?

[2020-07-14 16:35] lokeshgupta1975 opened #533 "Add reference in documentation to known limitations for WSL from NVIDIA"
For the WSL support please add reference in the docs for known limitations for WSL from Nvidia: https://docs.nvidia.com/cuda/wsl-user-guide/index.html#known-limitations
docs.nvidia.com
CUDA on WSL :: CUDA Toolkit Documentation
The guide for using NVIDIA CUDA on Windows Subsystem for Linux.

[2020-07-14 16:55] harshbafna commented on #532
@faustomilletari :

Could you please share the following details :

 - Total memory on your machine
 - Total CPU cores
 - Are you using docker?
 - Number of workers being used for your model
 - Memory consumed by model? [top command output on `TorchServe` startup, after model registration, after worker scale]
 - Inference request concurrency?
 - What is the average response time observed for the i

[2020-07-14 19:20] dhaniram-kshirsagar commented on #499
Updates -
The increase in size [without no_grad] is model dependent per our observations .e.g in case of vgg11 or resnet-18 based cnn models memory increases by 20-30% however for densenet-161, it doubles! Tried running gc explicitly however no memory is released.

NOTE even after deactivating autograd engine, we saw a 10-15% increase in memory footprint based on model type as explained above. Exa

[2020-07-15 01:27] buqing2009 commented on #526
thanks， it's helpful

[2020-07-15 01:27] #526 closed

[2020-07-15 09:52] buqing2009 commented on #529
I'm using curl POST upload two images, and running handle function in torch serve. I found POST requests cost a large part of time.Input image size is 640*400 RGB channels.  The model handle in serve cost about 600ms, but upload POST form cost 4s！I confused if it's the bug of pytorch serve of not.

[2020-07-15 11:05] buqing2009 commented on #529
Let me paste some details.
The server whole running time is 5.64s:
![image](https://user-images.githubusercontent.com/4568457/87537247-e8d32080-c6cc-11ea-94d6-fd6865e67d7b.png)
But in handle i print all functions time cost(unit: ms):
2020-07-15 18:54:40,170 [INFO ] W-9000-****_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - preprocess time :12.755870819091797
2020-07-15 18:54:40,304 [INFO ] W-9

[2020-07-15 11:25] harshbafna commented on #529
@buqing2009: Could you please share the output of your `curl` command with `time`

e.g.

[code]

Also, share the `access_log.log` file from the `logs` directory.

[2020-07-15 11:36] harshbafna opened #535 "VGG11 model in the model zoo is broken for GPU."
## Context

* torchserve version: latest master
* torch version: 1.5.1
* torchvision version [if any]: 0.6.1
* torchtext version [if any]: NA
* torchaudio version [if any]: NA
* java version: JDK-11
* Operating System and version: Ubuntu 18.04 on p3.8xlarge instance

## Your Environment

* Installed using source? [yes/no]: Yes
* Are you planning to deploy it using docker container? [yes/no]: No
*

[2020-07-15 11:37] harshbafna commented on #535
This is a bug in `torchvision`. Created following ticket with `torchvision` GH repo :

https://github.com/pytorch/vision/issues/2473

[2020-07-15 12:10] buqing2009 commented on #529
the output of **time curl**:
[code]

the access_log:
2020-07-15 20:05:15,987 - /10.244.12.30:44492 "POST /models?model_name=test&url=test.mar&batch_size=2&max_batch_delay=5000&initial_workers=1&synchronous=true HTTP/1.1" 200 2490
2020-07-15 20:05:23,927 - /10.244.12.30:34062 "POST /predictions/test HTTP/1.1" 200 5958

[2020-07-15 12:21] buqing2009 commented on #529
i removed the **batch_size=2&max_batch_delay=5000**, it works now.
The running time is 600ms, thanks.

[2020-07-15 12:23] harshbafna commented on #529
The delay is because of the `max_batch_delay` parameter set to `5000ms` at the time of model registration. `TorchServe waits for this configured amount of time or for input the batch to complete before it forwards the request to the backend worker for inference.

In your case, it will wait for either 2 (batch_size) inference requests or for 5 seconds (max_batch_delay) [whichever is earlier].

[2020-07-15 12:23] harshbafna commented on #529
Cheers.

[2020-07-16 06:23] dhaniram-kshirsagar commented on #94
As discussed offline. Assigning this to you.

[2020-07-17 01:15] fancyerii opened #537 "Backend worker monitoring thread interrupted or backend worker process died."
I have used huggingface transformer to train a text classification model and deploy it to pytorch serv.

1. training and saving model
The full codes can be found [here](https://gist.github.com/fancyerii/d4cbf64151a0a80b0da196fd1e23cd1b). The code is not well organized but the model is very simple:

[code]

After training, I saved the best whole model:

[code]

2. create handler testtorchserving.py

[2020-07-17 08:05] Sandeep418 opened #538 "failing to load a custom model"
[ts_log.log](https://github.com/pytorch/serve/files/4936445/ts_log.log)

torchserve version: 0.1.1
torch version : 1.5.1
torchvision version : 0.6.1
os : wsl
java version : "11.0.7"

[handler.txt](https://github.com/pytorch/serve/files/4937001/handler.txt)
[nets.txt](https://github.com/pytorch/serve/files/4937006/nets.txt)
[commands_used.txt](https://github.com/pytorch/serve/files/4937030/commands

[2020-07-17 08:22] harshbafna commented on #538
@Sandeep418 : Could you please update the ticket and share all the details asked in the bug template.

The logs are not conclusive enough, but there is something wrong with your custom handler. We will need the mar file or the handler code at the least to check the issue.

[2020-07-17 09:20] philipskokoh opened #539 "Newbie Questions about pytorch version compatibility"
I have one quick question. Based on the guideline, we need to archive all model artifacts into `.mar` file before we can register the model to TorchServe.
https://github.com/pytorch/serve/blob/master/model-archiver/README.md

Does the `torch-model-archiver` have assumptions/requirements on pytorch models that can be archived? Is it compatible with all pytorch versions. Let say we have few models w

[2020-07-17 09:38] harshbafna commented on #539
@philipskokoh : `torch-model-archiver` has no dependency on `PyTorch` version. It is just a utility to package all the model's dependency files in one single archive file `.mar`. What you need need to ensure is that the model artifacts like `model-file`, `state-dict`, `checkpoint`, handler(used for model loading and inferencing), etc. are compatible with the version of `PyTorch` and other torch pa

[2020-07-17 10:06] philipskokoh commented on #539
I see. So I just need to ensure that no conflicts among the pytorch and my model dependencies in one `TorchServe` instance. Thanks for the clarification.

Sorry, one more quick question:
If the model size is not too big, do you suggest we share one GPU to run multiple installed pytorch models inference in `TorchServe`? Any considerations about pros and cons?

Thank you.

[2020-07-17 10:14] harshbafna commented on #539
It will depend on the number of models and workers per model. `TorchServe` creates one java thread per and one python process per worker. You could refer the following documentation for deciding on the number of workers :

[Concurrency And Number of Workers](https://github.com/pytorch/serve#concurrency-and-number-of-workers)

[2020-07-17 10:20] philipskokoh commented on #539
Understand. Thank you very much for the clarification! :)

[2020-07-17 10:20] #539 closed

[2020-07-17 10:58] harshbafna commented on #538
@Sandeep418
Following import statements are missing from your handler :
[code]

and the handler uses these modules in various places. Could you please check and confirm?

[2020-07-17 11:34] Sandeep418 commented on #538
Thanks for your reply, yes I added the above libraries still facing the same issue.

[2020-07-17 12:23] harshbafna commented on #538
I missed out on one more import statement which is missing :
[code]

[2020-07-17 12:52] sermakarevich commented on #499
Hey @dhaniram-kshirsagar. I have made the fix with no-grad on my end and did additional profiling, this is what I got:
[code]

[2020-07-17 14:08] Sandeep418 commented on #538
state-dict file  :https://drive.google.com/file/d/16vISYfIr8oYOWeOymfZUNvNMfiWf8Txj/view?usp=sharing
[ts_log.log](https://github.com/pytorch/serve/files/4938221/ts_log.log)

[2020-07-17 17:05] harshbafna commented on #538
@Sandeep418 : I was able to successfully register the model with the suggested changes in the handler. Please try with the following updated handler file

[handler.txt](https://github.com/pytorch/serve/files/4939088/handler.txt)

Steps executed :

 - added the handler.py, nets.py and pymodel.pth file in a directory and created the model-archive using following command.

[code]
 - copy above mar fi

[2020-07-17 17:54] harshbafna commented on #537
@fancyerii, From the shared logs I could observe the following exception as the root cause of failure while creating the worker processes :
[code]

Looks like some environment-related issue. Please share the following details :

* torchserve version:
* torch version:
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and

[2020-07-17 19:38] Sandeep418 commented on #538
Thank you @harshbafna, It's working after using the --ncs flag.

[2020-07-17 19:38] #538 closed

[2020-07-17 21:10] #533 closed

[2020-07-18 00:16] ashokei opened #541 "TorchScript model KeyError: 'modelFile'"
TorchScript model archive was working before, fails with new update. According to documentation, modelFile is optional for torchscript models.

2020-07-17 16:41:01,070 [INFO ] epollEventLoopGroup-4-1 org.pytorch.serve.wlm.WorkerThread - 9000 Worker disconnected. WORKER_STARTED
2020-07-17 16:41:01,070 [INFO ] W-9000-resnet50_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle -     model_file = self.m

[2020-07-18 00:45] ashokei commented on #541
have a PR https://github.com/pytorch/serve/pull/540

[2020-07-18 01:19] harshbafna commented on #541
Duplicate of #516

[2020-07-18 01:58] #541 closed

[2020-07-18 21:42] dhruvsakalley opened #542 "Add support to have inference and management ports to be user specified"
## Is your feature request related to a problem? Please describe.
There are situations where port numbers are already taken by other components in the stack.

## Describe the solution
Instead of fixed ports 8080 and 8081, these could be better handled with torchserve args --inference-rest-port and --management-rest-port.

[2020-07-18 21:56] dhruvsakalley commented on #542
If my understanding is correct there is a way to do this right now through config.properties by changing the values here:
[code]

[2020-07-19 04:51] harshbafna commented on #542
@dhruvsakalley: This is correct. Alternatively, you could also set `enable_envvars_config` to true in config.properties and configure the inference/management address through environment variables as follows :

 - Create/update config.properties
[code]

 - Export environment variables
[code]
 - Start TorchServe
[code]

Refer to the TorchServe [configuration documentation](https://github.com/pytorc

[2020-07-19 23:50] fancyerii commented on #537
I have copied all the codes of OrderClassifier to the handler(testtorchserving.py) but it seemed that it's not imported?

    torchserve version: 0.1.1
    torch version: 1.5.0+cu101
    torchvision version [if any]: 0.6.0+cu101
    torchtext version [if any]: 0.6.0
    torchaudio version [if any]:
    java version: jdk-14.0.2
    Operating System and version: Ubuntu 16.04
    Installed using sour

[2020-07-20 06:58] deepakbabel opened #544 "Registration request with no initial workers, asynchronous and non existent handler somehow succeeds!!"
## Context

* torchserve version: latest master
* torch version: 1.5.1
* torchvision version [if any]: NA
* torchtext version [if any]: NA
* torchaudio version [if any]: NA
* java version: JDK-11
* Operating System and version: Ubuntu 18.04 on c4.4xlarge instance

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: yes
* Is

[2020-07-20 10:59] fancyerii commented on #537
train data:
    https://gist.github.com/fancyerii/95bccfb9cd47ab66ec3eab53f16d577d
test data:
    https://gist.github.com/fancyerii/8db2c0a8a09f314d261097aae9b70488

you can modify these lines:
train_data = read_data("/home/lili/data/order_data_v2/train_data_v2.csv")
test_data = read_data("/home/lili/data/order_data_v2/test_data_v2.csv")

[2020-07-20 11:39] wangxiang2713 opened #545 "Can development environment transfer to Serving environment?"
Hi, when i develop my model, i used some third party libraries, which serving environment doesn't contain, how can TorchServer supports models developed in different environment?

[2020-07-20 11:42] harshbafna commented on #545
@wangxiang2713: Please have a look at this PR https://github.com/pytorch/serve/pull/462, which adds support for supplying model specific packages with the mar file.

[2020-07-20 11:47] wangxiang2713 commented on #545
Hi, thank you for your response, i have read official documents about mar file, i wonder if my model need third party libraries such as some python libraries, is mar file recommended solution?

[2020-07-20 11:49] harshbafna commented on #545
@wangxiang2713: This PR (#462) is a new feature in progress and will be available as a part of the upcoming release. Have you looked into the details of this PR?

[2020-07-20 11:52] wangxiang2713 commented on #545
@harshbafna Oh, i'm very sorry, it looks amazing! Thankyou very much.

[2020-07-20 21:16] #529 closed

[2020-07-21 13:47] Kshitij09 commented on #202
I learned we should use `--insecure` option with curl to make ssl work. How this translates to some other machine trying to access APIs with IP address of machine hosting torchserve server?

cc: @mycpuorg

[2020-07-21 14:41] #180 closed

[2020-07-21 15:19] #503 closed

[2020-07-21 15:40] #492 closed

[2020-07-21 16:34] #435 closed

[2020-07-21 16:53] #475 closed

[2020-07-21 18:05] harshbafna commented on #535
Currently removed the test case to validate `VGG11` mar file from model zoo. Will add back the test case as a part of the fix for this issue once the actual issue is fixed by PyTorch.

[2020-07-21 21:09] #325 closed

[2020-07-21 21:33] #522 closed

[2020-07-22 07:02] #216 closed

[2020-07-22 08:21] chauhang commented on #490
This has been fixed on pytorcg.org

[2020-07-22 08:21] #490 closed

[2020-07-22 10:06] ptschandl opened #546 "OpenCV in Docker by default?"
Given its prominent use in other libraries (e.g. albumentations) and probable enhancements in custom handlers, would it make sense to install opencv by default in the official pytorch docker container(s)?
`RUN pip install --no-cache-dir torch torchvision torchtext torchserve torch-model-archiver opencv-python`
https://github.com/pytorch/serve/blob/ebe55b0d099aa0e7c32af6a284d11b992c86078b/docker/Do

[2020-07-22 10:35] harshbafna commented on #546
@ptschandl: Please have a look at this PR #462, which adds support for supplying model specific packages with the mar file. This feature will be available in the upcoming release.

[2020-07-22 13:19] #546 closed

[2020-07-22 13:40] shihanmax opened #547 "Model description API return 0 memoryUsage at the first a few seconds after the model registered and inference ready"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

I'm trying to get the memory usage of every worker of a model after I registered it, but the memoryUsage from GET /models/{model_name} turns to be 0 at the first a few seconds (10~30s), even if I already successfully did a batch of inference.

* torchs

[2020-07-22 13:45] harshbafna commented on #547
@shihanmax : Please share the following :

 - custom handler used [if possible please share the mar file itself]
 - TorchServe logs [logs/ts_log.log]
 - Access logs [logs/access_log.log]

Also, could you please try downgrading the java version to JDK11?

[2020-07-22 14:02] jesudasvf opened #548 "the link to the Resnet-152 handler py code on the "https://pytorch.org/serve/batch_inference_with_ts.html#" web page needs to be updated"
## 📚 Documentation

On the web page
https://pytorch.org/serve/batch_inference_with_ts.html#

When you click on the hyperlink  resnet152_handler.py,  in section https://pytorch.org/serve/batch_inference_with_ts.html#id4
it redirects you to
https://pytorch.org/examples/image_classifier/resnet_152_batch/resnet152_handler.py
![torchserve_batchHandler_example_incorrect_link](https://user-images.githubu

[2020-07-22 14:59] #485 closed

[2020-07-22 14:59] #395 closed

[2020-07-22 19:29] #426 closed

[2020-07-23 02:19] shihanmax commented on #547
following is my custom handler:

[code]

[access_log.log](https://github.com/pytorch/serve/files/4963549/access_log.log)
[ts_log.log](https://github.com/pytorch/serve/files/4963550/ts_log.log)

[2020-07-23 02:45] shihanmax commented on #547
The problem remains after I downgraded to jdk 11.

[code]

[2020-07-23 07:35] Kshitij09 commented on #202
@dhaniram-kshirsagar what's the progress on this issue?

[2020-07-23 14:52] dhaniram-kshirsagar commented on #202
@Kshitij09 As of no progress on this one due to release activities. Will try to reply by tomorrow.

[2020-07-23 15:23] Kshitij09 commented on #202
I've written a client app and trying make REST calls to torchserve, but due to this issue I'm not able to do so. I've made sure that the problem is not with my firewall settings since I was able to make calls to other servers on the same machine. So let me know the progress and workaround for the same.

[2020-07-23 15:50] #222 closed

[2020-07-23 16:08] #370 closed

[2020-07-23 16:33] #517 closed

[2020-07-23 18:21] #289 closed

[2020-07-23 22:34] #200 closed

[2020-07-23 22:35] #516 closed

[2020-07-23 23:49] vdantu commented on #479
Was the model scripted on a CPU? If yes, it could be related to [this](https://github.com/huggingface/transformers/pull/5773/files)

[2020-07-23 23:53] maaquib commented on #479
Pending merge of https://github.com/huggingface/transformers/pull/5773

[2020-07-24 03:52] harshbafna commented on #147
Closing as this was part of 0.1.0 release and all changes have been already merged.

[2020-07-24 03:52] #147 closed

[2020-07-24 07:23] vishal-wiai opened #553 "Dump system metrics in a database"
How should I access system metrics to dump it in a SQL database?

Also, what are the best practices for logging inference predictions in a database?

[2020-07-24 11:33] harshbafna opened #554 "Enhance benchmark-ab script to support backend profiling"
## Is your feature request related to a problem? Please describe.

Need flag for enable backend-profiling so that we can capture ab-benchmark numbers as well as backend profiling through CProfile.

The backend-profiling is already supported and documented, however, user can currently run this manually only and not enable/disable through the benchmark script.

## Describe the solution
Add one more

[2020-07-24 13:40] mfuntowicz commented on #479
@maaquib The PR has been upstream on transformers 👍.

Let us know may you have any follow up issue(s)/question(s)

Morgan from 🤗

[2020-07-24 14:16] Jrokisky commented on #548
Linking to a similar issue reported on the pytoch.github.io repo: https://github.com/pytorch/pytorch.github.io/issues/425

[2020-07-24 15:13] damosuzuki commented on #545
Looks like https://github.com/pytorch/serve/pull/462 will solve my problem. However, is there a known workaround for supplying packages in 0.1.1?

[2020-07-24 15:27] harshbafna commented on #547
@shihanmax: This is observed because the memory information availability is dependent on `TorchServe`'s system metric collector, which runs every 60 seconds. Thus, the model worker's memory information availability could vary anywhere between 0-60 seconds based on when the metric collector gets triggered.

For TorchServe, this a secondary information. What is the use-case you are trying to impleme

[2020-07-24 16:55] harshbafna commented on #537
@fancyerii : Somehow the `torch.load()` call in your handler failed to unpickle the serialized model. Could you please share the following training datasets used or the model's mar file.

[code]

[2020-07-26 04:56] srib opened #556 "Links return 404"
## 📚 Documentation

On [this](https://pytorch.org/serve/rest_api.html)  page, the links to [Inference API](https://pytorch.org/serve/inference_api.md) and [Management API](https://pytorch.org/serve/management_api.md) return 404.

[2020-07-27 03:58] #545 closed

[2020-07-27 07:38] dhaniram-kshirsagar commented on #553
@vishal-wiai At present, there is no api interface to dump system metrics to SQL database however the torchserve metrics are generated in ts_model.log and ts_metrics.log. These are pip '|' separated files which can be easily parsed and serialized to any DB.

Can you please elaborate/use case, why you want to log inference data in DB?

[2020-07-27 09:49] dhaniram-kshirsagar commented on #537
@fancyerii There is problem in the way you are saving and loading your model. And it is generally not a recommended way of saving model for production or external deployment. This is what you are using -> [Save/Load Entire Model](https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-load-entire-model) for details.

[Pytorch recommended way ](https://pytorch.org/tutorials/beginner/

[2020-07-27 14:35] harshbafna commented on #130
Closing as this has been merged to master in 0.1.1 release.

[2020-07-27 14:35] #130 closed

[2020-07-27 22:06] HamidShojanazeri commented on #479
Hi @mfuntowicz, thank you for pushing the [PR](https://github.com/huggingface/transformers/pull/5773) and working on this issue. I am trying to trace/save the bert_base model for sequence classification on GPU and then load and run it on CPU, and I am facing the issue which is not about position_embedding anymore. I tried the following code (device is set to cuda) and it complains about token_type

[2020-07-28 05:51] #542 closed

[2020-07-28 06:03] chauhang commented on #361
@SeaOfOcean This is use case specific and you should run your own load tests to figure out the optimal configuration for your models. You can use the benchmarking and snakeviz profiler to help in the analysis. More details [here](https://github.com/pytorch/serve/tree/master/benchmarks)

[2020-07-28 06:37] shihanmax commented on #547
I was planning to do same thing like `auto-scaling`, to be more specific, I want to unregister some models automatically based on their memory usage and recent usage when registering a model with not enough memory.

Does the `secondary` in your reply means there are more flexible ways to obtain the memory informations?

[2020-07-28 09:35] wangxiang2713 opened #558 "Is there a way to test my handle file before serving my model?"
Hi, i recently use TorchServer to serving my model. For each model i write a handle file, but i don't know how to test it. Is there a way to test my handle file before serving my model?

[2020-07-28 11:21] harshbafna commented on #558
@wangxiang2713:

You could simply write python code to test model loading (initialize) and inferencing (pre-process, inference and post-process) outside TorchServe where you can hard-code the device and paths for model definition file and/or model's serialized file.

Once you are satisfied with the results then convert the same code into a handler file and replace the hard-coded values with the dy

[2020-07-28 15:28] Kshitij09 commented on #202
@maaquib @dhaniram-kshirsagar could you confirm that this is a bug? or am I missing something and there is a workaround for this issue?

All I want is to be able to make REST calls from a remote machine

[2020-07-28 15:55] harshbafna commented on #547
Generally, I would not unregister/scale down a model based on their memory usage but based on the inference load on that model. Correct me if I am wrong, but in the case of auto-scaling, you would be adding more resources to your already running server rather then unregistering/scaling down a model?

Also, do you envision a use-case where you will need to unregister a model within 60 seconds of it

[2020-07-28 16:45] harshbafna commented on #535
Moving this back to 0.2.0 milestone as vgg11 is important for benchmarking, and fix is available through adding a custom handler.

[2020-07-28 22:42] misrasaurabh1 opened #560 "Diffcult to continuously rollout and serve multiple models at scale with Kubernetes"
Assume an architecture where in a Kubernetes environment a gateway service generates API requests for models which are then handled by TorchServe. We deploy models where torchserve is serving multiple models that are for the same use case but maybe have different architectures or trained on different data for AB testing.
In such a case it is very difficult for the gateway service to know what mode

[2020-07-29 03:46] dhaniram-kshirsagar commented on #560
@misrasaurabh1 Thanks for listing out deployment issues that you are facing. We will get back to you on this.

 For the last part, there is an open enhancement request #476  for having customizable downloader

[2020-07-29 05:07] dhaniram-kshirsagar opened #561 "Doc reviews + enhancements"
## 📚 Documentation

This has been created to review overall doc changes and figure out if there are any technical or doc flow shortcomings-
Findings -
1. Add a link to custom handler doc in MAR doc
2. Provide more details around requirements.txt which is a parameter to torch-model-archive when you someone wants to install model-specific python packages

....more to be added and fixed

[2020-07-29 05:41] vishal-wiai commented on #553
I want to track and monitor the prediction generated by my model when an inference request was served. Later, I would use the predictions for analysis and fine-tune.

[2020-07-29 06:33] harshbafna commented on #202
@Kshitij09: I was successfully able to start TorchServe with SSL enabled on one EC2 node using following steps:

 -  generate a keystore with Java's keytool

[code]

 - created a config.properties with SSL related configurations :

[code]

 - Started TorchServe with the following command:

[code]

I was also able to  successfully execute the following REST API calls from another EC2 instance :

[c

[2020-07-29 08:30] Kshitij09 commented on #202
I have followed almost similar steps but I was not able to connect inference and management API ports through telnet.

However, I was able to connect some other ports(nginx server) on the same machine using telnet.

Are there any subtleties involved?

[2020-07-29 08:34] harshbafna commented on #202
I just had to make the ports accessible in the inbound rules of the security group. But that is AWS environment-specific. Mostly looks like the firewall issue (or security group issue in case you are also on AWS environment).

[2020-07-29 09:49] harshbafna opened #562 "TorchServe backend pytest suite failing with pytest version."
## Your Environment
pytest version : 6.0.0

## Expected Behavior
The backend pytest suite should pass on the latest pytest version.

## Current Behavior
The pytest suite fails with assertion errors.

## Possible Solution
Use caplog.setlevel() to capture console logs in pytest suite.

## Steps to Reproduce

[code]

## Failure Logs [if any]
[code]

[2020-07-29 10:10] harshbafna opened #564 "Codebuild-GPU not utilizing GPUs for running the sanity suite."
## Context
Codebuild CI on GPU instance is not using the GPUs for running the sanity suite.

## Expected Behavior
The Codebuild CI should use the GPU instances

## Current Behavior
On adding a nvidia-smi command in the `torchserve-sanity` script it was observed that the models are not getting loaded in the GPU on regstration

## Possible Solution
Upgrade the nvidia-driver version used in the docke

[2020-07-29 10:40] #562 closed

[2020-07-29 10:48] rpadovani commented on #476
A provisional workaround we implemented on AWS: we create a public S3 website, but we restrict access only to IPs range we own / VPC where the application is deployed.

[2020-07-29 11:10] harshbafna commented on #480
Reopened this issue as the bert scripted models are still broken on GPU. This got accidentally merged because code build succeeded due to #564 .

We have reverted back the changes from master and the bert models should be added back in sanity-suite once #479 is fixed.

[2020-07-29 11:49] harshbafna commented on #564
Removed the bert scripted models from sanity script in the master branch (#565) which were succeeding on GPU because of this issue.

[2020-07-29 12:30] harshbafna commented on #511
closing as the fix has been merged to master.

[2020-07-29 12:30] #511 closed

[2020-07-29 13:44] sagjounkani opened #566 "How to use model archiver utility for complex projects?"
I am trying to serve the model from the [NCRFpp](https://github.com/jiesutd/NCRFpp) project using torchserve. The files that are required by my custom _handler.py_ file are in multiple folders and have import statements which refer to this folder hierarchy. The model archiver zips all these files and extracts into a temporary folder at the same level without this folder hierarchy, leading to runti

[2020-07-29 14:32] harshbafna commented on #566
@sagjounkani: You could create a zip file of the dependency python files in the required folder hierarchy and supply this zip file using the `--extra-files` parameter while creating the mar. Later while initializing the handler you could extract this zip file, in the model's temporary directory which is already added in the `PYTHONPATH`

You can refer to the [waveglow text-to-speech-synthesizer](h

[2020-07-29 18:43] misrasaurabh1 commented on #566
Yep, I encountered this problem as well. Even though the files specified by `--extra-files` even though may belong to a directory structure, torchserve copies them all to a single top level directory while serving. This complicates things for applications. Also there is a big possibility of filename collisions. I would like the directory structure of the files within the `--extra-files` to be pres

[2020-07-30 07:25] sagjounkani commented on #566
@harshbafna Thank you for the resolution, I was able to deploy the model. I found it easier to append the path for dependencies in my custom handler file compared to the process followed in the waveglow text-to-speech-synthesizer example. Not sure of a standard way to approach this. Agree with @misrasaurabh1 that if somehow the directory structure is preserved within the --extra-files it will make

[2020-07-30 07:26] #566 closed

[2020-07-30 07:46] wow-1129 opened #568 "Backend worker process died"
## 📚 Documentation
Some error made backend worker process died.
[code]
From log, I guess there is a environmental configuration problem about importlib. But I don't know to solve it.

[2020-07-30 08:12] harshbafna commented on #568
@wow-1129: Please share your custom handler and attach the `logs/ts_log.log` file.

[2020-07-30 09:22] harshbafna commented on #564
Tested manually on the docker image created using [dev dockerfile](https://github.com/pytorch/serve/blob/master/docker/Dockerfile.dev) by following the [serve/codebuild documentation](https://github.com/pytorch/serve/tree/master/codebuild)

 - create docker image

[code]

 - start docker container

[code]

 - clone serve

[code]

- add nvidia-smi command in sanity script and start execution

[code

[2020-07-30 10:38] SeaOfOcean opened #569 "Can I use get method for http request, currently seems only post is supported"
## Is your feature request related to a problem? Please describe.
Can I use get method for http request, currently seems only post is supported

## Describe the solution

## Describe alternatives solution

[2020-07-30 11:15] harshbafna commented on #569
@SeaOfOcean: Could you please elaborate, for which API you are trying out the GET method request?

You can use the API descriptions to view a full list of inference/management APIs and their respective details
 - [Inference API description](https://github.com/pytorch/serve/blob/master/docs/inference_api.md#api-description)
 - [Management API description](https://github.com/pytorch/serve/blob/maste

[2020-07-30 11:32] harshbafna commented on #566
@sagjounkani: Your solution may work when TorchServe is deployed on your localhost, however, it will fail in case you need to register the model on a remote host where the extra files will not be available on the server's file system.

There are multiple ways you can add you dependency python files in the model-archive :

 - zip your directory structure as required and unzip in the handler (as exp

[2020-07-30 11:48] SeaOfOcean commented on #569
Inference API, for example call by

[code]
pass argument arg1 and arg2 by get method, and handle it in user defined processor

[2020-07-30 12:11] harshbafna commented on #569
Unfortunately prediction/inference API currently only supports the POST method.

[2020-07-30 15:53] HamidShojanazeri commented on #466
It has been fixed in PR#474.

[2020-07-30 15:54] HamidShojanazeri commented on #356
It has been fixed in the current merged version of the example.

[2020-07-30 17:28] harshbafna opened #570 "Regression suite fails for scripted densenet161 model due to timeout issue on PyTorch 1.6"
Regression suite fails for scripted densenet161 model due to a timeout issue on PyTorch 1.6 due to the following issue on PyTorch :

https://github.com/pytorch/pytorch/issues/33354

## Context
* torchserve version: latest master
* torch version: 1.6
* torchvision version [if any]: 0.7.0
* torchtext version [if any]: 0.7.0
* torchaudio version [if any]: 0.6.0
* java version: 11
* Operating System a

[2020-07-30 17:45] harshbafna opened #571 "Freeze versions for torch related pakcages in requirements.txt"
## Is your feature request related to a problem? Please describe.
Freeze versions for torch related packages in requirements.txt so that CI build / regression suite / dockerfile.dev doesn't start using the latest versions until certified.

## Describe the solution
Freeze versions for torch related packages in requirements.txt

[2020-07-30 17:56] harshbafna opened #572 "Add validation in sanity script to check if models are actually loaded on GPU."
## Is your feature request related to a problem? Please describe.
Validation is required to ensure that the Codebuild-GPU is actually using the GPU devices to ensure TorchServe sanity as part of regular CI build, so that issue like #564  can be avoided.

## Describe the solution
Enhance the `torchserve_sanity.sh` script which is executed as a part of regular CI build to check if model are actually

[2020-07-31 02:32] SeaOfOcean commented on #569
Do you have any plan for supporting GET method? Most serving framework like flask/tornado support GET

[2020-07-31 04:16] sevenold commented on #526
for example， the text detection(CTPN, CRAFT, EAST...) model output a lot of images.  How should I use other default return methods in my custom handler.  [{},{}],[[[]]] not only []  Thanks.
@harshbafna

[2020-07-31 05:23] chauhang commented on #570
@harshbafna Can you please recreate the .mar files files for densenet161 model with PyTorch 1.6 release and test again. Things should speed up with the new zip serialization mechanism. For details check out:

https://github.com/pytorch/pytorch/pull/38379
https://pytorch.org/docs/master/generated/torch.save.html#torch.save. (_use_new_zipfile_serialization now defaults to True, use this mode for sav

[2020-07-31 05:37] chauhang commented on #528
@Leoduv Please check https://github.com/pytorch/serve/pull/551 for K8s solution.

[2020-07-31 05:41] chauhang commented on #380
@lessw2020  Model specific custom requirements.txt is also supported now, see PR https://github.com/pytorch/serve/pull/462 for details.

[2020-07-31 05:41] #380 closed

[2020-07-31 06:17] sevenold opened #576 "handler(.py) return type"
for example， the text detection(CTPN, CRAFT, EAST...) model output a lot of images. How should I use other default return methods in my custom handler. [{},{}],[[[]]] not only [] Thanks.

[2020-07-31 08:23] sevenold opened #577 "Supply a requirements file with the model-archive."
version
[code]
export command
[code]
requirements.txt

[code]

docerk command
[code]

logs

[code]

[2020-07-31 08:45] harshbafna commented on #577
@sevenold: By-default this feature is disabled.

To enable installing model-specific python dependencies you need to set `install_py_dep_per_model`  parameter to true in config.properties and supply this config file while starting torchserve.

Refer [configuration documentation](https://github.com/pytorch/serve/blob/master/docs/configuration.md#allow-model-specific-custom-python-packages) for more

[2020-07-31 10:18] sevenold opened #578 "extra-files load error"
version
[code]

crnn_haddle.py
[code]

export command

[code]

run command

[code]

local files

![image](https://user-images.githubusercontent.com/41443157/89025550-a27ef200-d359-11ea-9836-a4438ca79d42.png)

logs
[code]

[2020-07-31 10:58] harshbafna commented on #578
@sevenold

There is an extra single quote (') at the end of the file name in the handler code.

You are using `torchserve` installed from binaries and `torch-model-archiver` installed from source. Any specific reason for that? I would recommend installing both the packages either from binaries or from source.

[2020-07-31 15:01] deepakbabel commented on #561
Some documentations sections appear to be broken in examples section. Here are the steps that I tried:
1) Navigate to https://github.com/pytorch/serve/tree/master/examples[#85].
The following URL's are not updated properly:
- Serving torchvision image classification models in TorchServe
- Serving custom model with custom service handler
- Serving text classification model
- Serving object detectio

[2020-07-31 15:33] harshbafna commented on #570
@chauhang

This current issue is observed with the densenet161 TorchScripted model saved using `torch.jit.save()`. This is a known problem with TorchScripted models and the performance seems to have worsened with PT 1.6.

Refer to https://github.com/pytorch/pytorch/issues/33354#issuecomment-665656904 for more details.

The explanation given below doesn't resolve this problem.

IIUC, the above URLs

[2020-07-31 15:39] deepakbabel commented on #561
In examples section for batch inference, there is some typos. Details below:
Navigate to https://github.com/pytorch/serve/blob/master/docs/batch_inference_with_ts.md#batch-inference-with-torchserve-using-resnet-152-model

In the "Run inference to test the model" section, the port number is missing while infering:
curl localhost/predictions/resnet-152-batch -T kitten.jpg
As the port number is not s

[2020-07-31 16:47] harshbafna commented on #569
There is no immediate plan for this. The serving framework (netty) supports all HTTP methods. It's the inference API which only supports the POST method.

[2020-07-31 17:03] maaquib opened #579 "Add windows based codebuild project to the CI"
## Is your feature request related to a problem? Please describe.
Add windows based codebuild project to the CI
Related to #543

[2020-07-31 18:19] #571 closed

[2020-07-31 18:19] #572 closed

[2020-07-31 18:55] dhanainme opened #580 "Update Kubernetes version to 1.17 / Use EKS Managed nodes"
The Kubernetes scripts are installing older v1.14 version. The latest EKS supported version is 1.17.
Update to one of the new version as 1.14 shows red warning when seen from EKS dashboard.

EKS will soon default to all managed nodes. Change the Kubernetes installation to reflect the same.

[2020-08-01 03:46] MichaelMMeskhi opened #581 "Torchserve REST API vs Flask REST API"
I am trying to serve a model on a server. Apart from doing inference, I want to be able to send inference results to a SQL database as well as back to the request. Basically, I want to add customer API methods. Is this done via `handler.py` or should I just use Flask to get this done? What are the major differences between TS and Flask?

[2020-08-01 04:06] harshbafna commented on #581
@MichaelMMeskhi: There are a couple of ways with which you can handle this scenario

 - **Handle at the client end:** You can write a simple script to collect the inference response returned by TorchServe and execute the required SQL query.

 - **Handle at the server end:** Execute the required SQL query in the post process method of your handler.

   - This will require your database-specific pyt

[2020-08-01 04:11] MichaelMMeskhi commented on #581
@harshbafna Thank you for your feedback! I am looking to handle this on the server end. So basically, customizing the `post process` method to whatever I need to get done after prediction is the best option I see.

[2020-08-02 01:55] #578 closed

[2020-08-02 07:37] sevenold commented on #577
@harshbafna  docker images also is disabled?

docker command
[code]

logs
[code]

[2020-08-02 07:56] sevenold commented on #577
docker image pip error

docker image:  pytorch/torchserve:latest-gpu

command
[code]

logs
[code]

[2020-08-02 20:46] chauhang opened #582 "Add Native Windows support for development"
## Is your feature request related to a problem? Please describe.
Ability to deploy TorchServe on native windows machines (similar to Mac) for development

## Describe the solution
Should be able to install and test TorchServe on Windows OS

## Describe alternatives solution
Windows Subsystem Linux  can be used as an alternative, however it has limitations related to GPUs support. Proper Native Wi

[2020-08-03 04:31] harshbafna commented on #577
@sevenold: Please refer to [TorchServe's docker documentation](https://github.com/pytorch/serve/tree/master/docker#create-torchserve-docker-image-from-source) for creating a docker image with `TorchServe` installed from source.

[2020-08-03 06:46] dhaniram-kshirsagar commented on #569
There is no direct relation between flask and torchserve except the fact that both support handling http request however using different engines [netty or python apis]. Hence naturally, they can support all HTTP methods.
In torchserve context, we need input for inference hence POST method is needed and hence GET cannot be supported unless you have some model that doesn't need any input!!

[2020-08-03 10:46] SeaOfOcean commented on #569
we can also get input from arguments of Get method. e.g. curl http://localhost:8080/predictions/pipeline?arg1=1&arg2=2

[2020-08-03 10:46] SeaOfOcean commented on #569
we can also get input from arguments of Get method. e.g. curl http://localhost:8080/predictions/pipeline?arg1=1&arg2=2

[2020-08-03 13:03] LinDong123a opened #583 "Transfer model between gpu and cpu"
I am trying to serve multiple models on a server. Considering the resource limit,  I wanted to transfer model between gpu to cpu when the model hasn't been used for some time, so no time-consuming disk reading has to be done when I want to reload the model to model. However, the `delete` inference would just wrap out the model from gpu or memory. I want to know if there is such a API for controlin

[2020-08-04 01:09] #465 closed

[2020-08-04 06:45] shihanmax commented on #547
@harshbafna  Thanks for the explanation, My application needs to consider the situation of many models and limited resources (all models cannot be loaded at the same time).

Here is another question: I encountered a situation here. When I tested a model, `nvidia-smi` indicated the memory occupation of the worker is 1013M, and the MemoryUsage in the Describe model API is 2345M. At this time, the me

[2020-08-04 14:50] harshbafna commented on #547
`TorchServe` uses [psutil](https://pypi.org/project/psutil/) to capture the CPU and memory (RAM) usage and does not capture the GPU memory usage of a model.

Could you please raise an enhancement ticket to include the GPU memory information and worker pid in `describe model` api response?

If this is a blocker for you, then you can try out following hack in your model's handler:

 - Add a hack in

[2020-08-04 15:02] harshbafna commented on #583
@LinDong123a: `TorchServe` currently does not have an API to move models between CPU and GPU. This will be an interesting feature to add. Could you add a feature request for this with a detailed use-case?

For now, you could add a hack in custom handler based on the input parameter(s) in the inference request:
 - either run the inference
 - or move the model to the specific device (CPU/GPU).

Note

[2020-08-04 17:42] dhaniram-kshirsagar commented on #576
@sevenold You can create an array of image object. Look at following examples - [text_to_speech_synthesizer](https://github.com/pytorch/serve/blob/master/examples/text_to_speech_synthesizer/waveglow_handler.py) and [image segmenter](https://github.com/pytorch/serve/tree/issue_411/examples/image_segmenter)
Also, look at this which returns an image [can be easily extended] - [sending image data](htt

[2020-08-04 17:53] dhaniram-kshirsagar commented on #553
@vishal-wiai You can use a solution similar to the one given here - [Adding predictions to DB](https://github.com/pytorch/serve/issues/581#issuecomment-667464975)

[2020-08-04 18:31] #570 closed

[2020-08-04 19:03] #554 closed

[2020-08-04 19:37] shivamshriwas opened #586 "Add links check for markdown files in sanity tests"
Context :
     Currently, there is no automated check to identify and flag broken links in documentation.

Proposed enhancement:
- Add checks in sanity script to test all links in markdown files are valid.
- Sanity script should return failure if broken links are found in any of the markdown files.
- types possible of links in .md files:
    -  URLs
    - links to other folders/files/images

[2020-08-05 11:21] Kshitij09 commented on #202
@harshbafna I've created keystore file using `keytool`. My `config.properties` has following details:
[code]
I used this command to start the server
[code]
This is my firewall setting:

![image](https://user-images.githubusercontent.com/23584666/89406740-42ae8f80-d73b-11ea-8dc6-c50bd9fe6942.png)

doing curl from same machine is working
[code]
Output:
[code]
But telnet from the same machine isn't w

[2020-08-05 12:01] anonuser278 opened #587 "Error while deploying model by torchserve on MacOS on CPU"
I was trying to deploy a model using torchserve following the steps in the blog - https://aws.amazon.com/blogs/machine-learning/deploying-pytorch-models-for-inference-at-scale-using-torchserve/

As I executed -  **"torchserve --start --model-store model_store --models densenet161=densenet161.mar"** after following the previous steps , I get the following error
[code]

Necessary information about t

[2020-08-05 19:23] Bartlett-Will commented on #537
I have a similar problem and the line that saves the model is from the transformer library.
`model_to_save = model.module if hasattr(model, 'module') else model  # Take care of distributed/parallel training
model_to_save.save_pretrained(output_dir)
tokenizer.save_pretrained(output_dir)`

Then to load the model you can use: `~transformers.PreTrainedModel.from_pretrained`

Will this cause problems w

[2020-08-05 19:43] Bartlett-Will commented on #537
This seems related to #283

[2020-08-06 02:52] dhaniram-kshirsagar commented on #587
@anonuser278 Looks like it failed even before loading the model. Can you please try this command `python -c import site` and Check your python installation. The reason I am suspecting this because the site package is loaded whenever python interpreter starts and does usually task of loading paths and errors in your log are pointing to site package load sequence.

In torchserve, we create a new pyt

[2020-08-06 11:28] yaysummeriscoming opened #590 "Backends & performance comparison"
## 📚 Documentation

This seems like a really useful deployment solution. However I can't find in the documentation anywhere what this is running under the hood: FBGEMM, tensor-rt, MKL?

I'm also trying to get an idea of performance vs OpenVINO and tensor-rt, are there any benchmarks?

[2020-08-06 12:09] anonuser278 commented on #587
@dhaniram-kshirsagar , as asked I tried executing "import site". It was imported without any error as shown below :-

Please let me know if you need me to try something else.

[2020-08-06 19:04] #78 closed

[2020-08-06 19:04] #374 closed

[2020-08-06 19:04] #381 closed

[2020-08-06 19:04] #404 closed

[2020-08-06 19:04] #411 closed

[2020-08-06 19:04] #434 closed

[2020-08-06 19:04] #499 closed

[2020-08-07 08:25] #553 closed

[2020-08-07 08:48] dhaniram-kshirsagar opened #593 "Example custom handler for fairseq - using install from source"
## Is your feature request related to a problem? Please describe.
At present, we don't have any example which demonstrates how to use requirement.txt and install a custom package like pytorch/fairseq from source. NOTE fairseq doesn't have binaries on PyPi.
Having such an example will help new users who want to deploy their custom model using a custom package

## Describe the solution
Create new ex

[2020-08-07 17:00] harshbafna commented on #587
@anonuser278: Could you try recreating your mar file with `--runtime python3`. By default, TorchServe creates the worker using `python` as runtime, while in your case it should use `python3`.

[2020-08-07 23:40] maaquib commented on #480
Latest mar file working with GPU https://torchserve.s3.amazonaws.com/mar_files/BERTSeqClassification_Torchscript_gpu.mar

[2020-08-07 23:40] #480 closed

[2020-08-08 00:56] maaquib opened #596 "Add bert scripted models in sanity script"
Now that we have HF Bert scripted models working on all GPUs instances we should revert the changes in https://github.com/pytorch/serve/pull/565

https://torchserve.s3.amazonaws.com/mar_files/BERTSeqClassification_Torchscript_gpu.mar

[2020-08-10 03:35] shihanmax opened #597 "Add cuda memory usage info and pid of workers in model description API"
## Is your feature request related to a problem? Please describe.

Currently the **Model Description API** gives no **cuda memory info** nor the **pid of worker**s, which is not convenient for those who want to manage the status of running models.

## Describe the solution

Could you consider adding gpuUsage and pid of the worker in the response of model description API?
      "workers": [

[2020-08-10 04:45] harshbafna opened #598 "Add environment information header in regression and sanity suite scripts"
## Is your feature request related to a problem? Please describe.

Enhance regression suite and sanity suite logging to add headers which include following environment information :

 - torchserve branch
 - torch module versions: torch, torchvision, torchaudio, torchtext
 - OS name and version
 - python version
 - java version
 - CPU/GPU environment
 - NVCC version / NVIDIA driver version (when ru

[2020-08-10 05:44] dhaniram-kshirsagar commented on #505
@prashantsail Please add following to nightly build task
- It should build binary using available scripts
- Binary should be either placed on Github or linked to S3

Also, need to incorporate benchmark-ab script in nightly.

[2020-08-10 07:32] harshbafna commented on #547
Closing this ticket as the original question has been answered. The enhancement to describe API will be tracked through #597.

[2020-08-10 07:32] #547 closed

[2020-08-10 08:28] yuanshaochen commented on #528
I have a similar use case as @Leoduv. I have multiple torchserve pods running and want to add more models for all pods using curl management API.

By looking into K8s solution, it could resolve registering a model on all pods during startup, but it does not talk about how to updated models for all pods during torchserve running. If I understand correctly, to add/update a model after torchserve sta

[2020-08-10 10:43] harshbafna commented on #535
Closing as this has been merged to master.

[2020-08-10 10:43] #535 closed

[2020-08-10 11:49] anonuser278 commented on #587
@harshbafna , I re-created the mar file using --runtime python3 - torch-model-archiver --model-name densenet161 \

After that I started the torchserve server. But I am still getting the aforementioned error at start time.

**2020-08-10 16:22:11,306 [INFO ] main org.pytorch.serve.snapshot.SnapshotManager - Validating snapshot 20200805171754856-startup.cfg
2020-08-10 16:22:11,308 [INFO ] main org.py

[2020-08-10 11:58] harshbafna commented on #587
@anonuser278:

From the logs shared, it looks like TorchServe is restoring from snapshot. Did you add a new mar file in the model-store or replaced the old one?

The issue looks related to `python` runtime. Please share the following :

 - `ts_log.log` file from the logs folder.
 - Are you using a virtual env or conda-env?

[2020-08-10 12:49] TheRochVoices opened #601 "Does torchserve manages memory when different models are called at the same time?"
Suppose there are 2 models. Calling both parallely will cause a machine to go Out of Memory. Is there a way to queue (or something else) when different models are getting hit parallely?

[2020-08-10 12:52] anonuser278 commented on #587
@harshbafna , Please find the ts_log.log file
[ts_log.log](https://github.com/pytorch/serve/files/5050842/ts_log.log)
I am not using virtualenv or conda-env. Is it mandatory to create a virtualenv or conda-env on the machine?

I tried a few things

- I removed the .cfg files in the config so that a new .cfg file is generated .
- I replaced the old mar file in the model_store after generating the m

[2020-08-10 13:07] harshbafna commented on #587
@anonuser278

No. Was just checking on the environment.

Could you please provide the value of `PYTHONPATH` environment variable.

[2020-08-10 13:31] anonuser278 commented on #587
@harshbafna , please find the PYTHONPATH variable.
**<mhost>:logs <host>$ echo $PYTHONPATH
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages**

[2020-08-10 14:23] harshbafna commented on #587
Something is screwing up the python environment trying to load the backend workers, this type of error is generally observed when there are multiple python versions available and the site-package load command refers to a different python version.

Could you please share the output of `env` or `printenv` command?

[2020-08-10 14:35] anonuser278 commented on #587
@harshbafna , please find the output of the env command.
[env_output.docx](https://github.com/pytorch/serve/files/5051435/env_output.docx)
I had to mask the texts for some paths to avoid compliance issues.

[2020-08-10 16:34] #300 closed

[2020-08-10 17:08] harshbafna commented on #601
@TheRochVoices: The model is loaded in memory at the model registration itself and not at the time of inference. TorchServe creates a copy of the model per-worker. You can tune the number of workers per model based on the inference load and memory availability.

TorchServe doesn't provide any memory management feature as of now.

We have recently added support for [TorchServe on Kubernetes](https:

[2020-08-10 18:27] maaquib commented on #89
@dennybritz Based on the comments from @harshbafna , I am resolving this. Please reopen if necessary

[2020-08-10 18:27] #89 closed

[2020-08-10 18:28] maaquib commented on #250
Closig this. @mohammedayub44 Please reopen if this is still an issue

[2020-08-10 18:28] #250 closed

[2020-08-10 18:29] maaquib commented on #358
Closing due to lack of activity. @uzaymacar please reopen if this is still an issue

[2020-08-10 18:29] #358 closed

[2020-08-10 18:30] maaquib commented on #459
Closing. @la-cruche please reopen if you need any further infromation regarding this

[2020-08-10 18:30] #459 closed

[2020-08-10 18:32] maaquib commented on #498
Closing due to lack of activity. @nihiluis @abmitra84 Please reopen if the solution provided by @dhaniram-kshirsagar doesn't resolve this

[2020-08-10 18:32] #498 closed

[2020-08-10 18:38] #127 closed

[2020-08-10 18:42] maaquib commented on #383
Closing due to lack of activity. @lessw2020 Please reopen if necessary

[2020-08-10 18:42] #383 closed

[2020-08-10 20:21] mohammedayub44 commented on #250
@maaquib  Thanks. Providing the Python path to the model defn. fixes it for me.

[2020-08-11 03:10] chauhang opened #604 "Expose metrics endpoint for the CFNs"
Expose the new prometheus metrics endpoint in the AWS CloudFormation templates.

- [ ] Update the config.properties
- [ ] Add the metrics endpoint URL to the CFN output list

[2020-08-11 05:13] harshbafna opened #606 "Pytest cases in regression suite fails on DLAMI"
## Context

* torchserve version: latest master
* torch version: 0.6.0
* torchvision version [if any]: 0.7.0
* torchtext version [if any]: 0.7.0
* torchaudio version [if any]: 0.6.0
* java version: openjdk 11
* Operating System and version: Ubuntu 18.04

## Your Environment
* Installed using source? [yes/no]: Yes
* Are you planning to deploy it using docker container? [yes/no]: No
* Is it a CPU or

[2020-08-11 05:22] harshbafna opened #608 "Automate benchmarking activity for release."
## Is your feature request related to a problem? Please describe.
Benchmarking `TorchServe` with different models and environment combination for release is a time consuming manual task and needs to be automated.

## Describe the solution
 - Add pre-configured `json` files which can be supplied to [benchmark-ab.py](https://github.com/pytorch/serve/blob/master/benchmarks/benchmark-ab.py) script

 -

[2020-08-11 06:33] harshbafna opened #609 "nvidia-smi command not detected on GPU instance used for Codebuild CI"
`nvidia-smi` command not detected on GPU instance used for Codebuild CI.

Refer the following CI build logs for more details :

[CI Codebuild logs for GPU](https://serverlessrepo-github-codebuild-logs-gp-buildlogs-nvnea8wgyz6z.s3.amazonaws.com/8abad754-9ad0-4757-ba2c-988e52c93a74/build.log?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAZFY6OBP5YLGPC3U2%2F20200811%2Fus-east-1%2Fs3%2Faws4_req

[2020-08-11 06:37] harshbafna opened #610 "Update HuggingFace transformers example documentation"
## 📚 Documentation

Add the following details in [HuggingFace Transformers documentation](https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/README.md) :

 - How to create CPU and GPU specific scripted mar files
 - step to export `MKL_THREADING_LAYER=GNU` to execute the scripted bert models on GPU instance.

[2020-08-11 07:16] harshbafna opened #611 "Enhance ServingSDK to support mertic endpoint and convert prometheus metric collector as plugin"
## Is your feature request related to a problem? Please describe.

 - The current metric API implementation creates a dependency on [Prometheus packages](https://github.com/pytorch/serve/blob/master/frontend/gradle.properties#L5)

 - TorchServe should allow users to add different metrics collection frameworks similar to Prometheus.

 - Prometheus metric collector should be available as a plugin an

[2020-08-11 09:03] LinDong123a opened #613 "GPU loading config for multiple-gpu machine"
I find that worker thread will be allocated based on the number of gpu in the deployed machine, without external config for controlling, after reading the source. This is quite awkward when I want to perform custom loading balance on gpu. So I wonder if there is a way to specify target gpu device for each model's worker.

[2020-08-11 09:12] harshbafna commented on #613
@LinDong123a: `TorchServe` selects the GPU devices in a round-robin fashion and passes the selected GPU-ID to the backend worker. The base/default handlers use this GPU id to load the model in memory.

Refer: https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L34

You can always write a custom handler to control on which device you want to load the model.

[2020-08-11 11:11] LinDong123a commented on #613
I'm afraied this solution may cause risk when `torchserve` want to gather gpu-relation infomation. If I just wirte a custom handler to control device, the actual gpu the model loaded will differ from what a worker thread expects,  which makes disorder between thread and behavior. If such behaivor is allowed, unreliable gpu-related infomation will be gathered if wanted.

[2020-08-11 11:11] LinDong123a commented on #613
I'm afraied this solution may cause risk when torchserve want to gather gpu-relation infomation. If I just wirte a custom handler to control device, the actual gpu the model loaded will differ from what a worker thread expects, which makes disorder between thread and behavior. If such behaivor is allowed, unreliable gpu-related infomation will be gathered if wanted.

[2020-08-11 11:15] harshbafna commented on #613
Currently, no GPU information is collected by TorchServe and a worker is just a python process that uses the handler's initialize function to load the model in CPU/GPU memory.

To keep the memory usage balanced across multiple GPU devices, TorchServe passes on a GPU id selected in round-robin fashion that can be used/ignored at the worker level.

[2020-08-12 03:11] harshbafna commented on #587
@anonuser278: Could you try running TorchServe in a new virtual environment or conda environment?

[2020-08-12 06:38] TheRochVoices commented on #601
Ok thanks. I feel like this will be a bottleneck when a server is hosting multiple models (which is a valid case in real-life projects). Multiple models will get hits parallely and some kind of memory management will be needed.

Do you have any recommendations for hosting multiple models on a same machine in a way that it doesn't go out of memory?

[2020-08-12 09:13] harshbafna commented on #601
@TheRochVoices:  You should consider each model's memory consumption, inference load on each model, resources available on the machine (memory and GPU/CPU cores). Based on these parameters, you can decide on the number of workers that should be allocated to each model.

You can use the [scale workers API](https://github.com/pytorch/serve/blob/master/docs/management_api.md#scale-workers) to control

[2020-08-12 12:08] #601 closed

[2020-08-12 16:25] quantum-fusion opened #615 "ONNX to .MAR model archiver converter requested"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

I am using the Microsoft converter (https://github.com/onnx/tensorflow-onnx), to convert Tensorflow models to ONNX format.

I need to be able to use a custom ONNX model and then host it to model serve as shown in the Pytorch Serving.

I would like in addition to b

[2020-08-12 23:22] MichaelMMeskhi commented on #569
@SeaOfOcean One method I am working on is doing the following:

`curl http://localhost:8080/predictions/model -F "imgid=555" -F "image=@file" -F "task=classify" -F "result=prob"`

This way I can handle specific conditions that I need inside `handler.py`.

[2020-08-13 08:04] SeaOfOcean commented on #569
thanks, it is a great workaround

[2020-08-13 11:35] dhaniram-kshirsagar commented on #598
This should be implemented in #505 as well.

[2020-08-13 12:17] dhaniram-kshirsagar opened #616 "Add example use case guide"
## 📚 Documentation

This guide will provide the reference use cases i.e. different ways in which torchserve can be deployed for serving different types of pytorch models.

This will be separate guide apart from faq and troubleshooting guide being addressed via #384 #215

[2020-08-13 12:39] dhaniram-kshirsagar commented on #590
@yaysummeriscoming torchserve is not using or supporting any of these at present. torchserve requires you to create MAR file using pytorch model file i.e. .pt/pth file however the accelerators you have listed need models in ONNX format. At present, torchserve doesn't support ONNX models and models are loaded to cpu/gpu using pytorch.

[2020-08-13 12:40] dhaniram-kshirsagar commented on #615
@quantum-fusion Torchserve is for serving PyTorch specific models only. Due to this, only pytorch models can be used for creating a MAR file. If you are planning to serve pytorch and onnx models together then you may go for [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md) for onnx models however note that torchserve has never been tested for onnx support. Thus

[2020-08-13 12:49] yaysummeriscoming commented on #590
I'm not following sorry, FBGEMM & MKL are CPU backends for pytorch. So presumably, torchserve is using these?

Benchmarks would be great, as that would easily allow devs to compare performance to OpenVINO & other packages and make the process of choosing a deployment solution much easier.

I'd love to use torchserve, but unfortunately until I get an idea of its performance that's hard to do.

[2020-08-13 13:11] anonuser278 commented on #587
@harshbafna , yes I will try running Torchserve in a virtual environment.
Could you figure out any anomaly in the environment from the logs shared before?

[2020-08-13 13:31] dhaniram-kshirsagar commented on #590
@yaysummeriscoming  Looks like misinterpreted it. Similar query was answered earlier here - https://github.com/pytorch/serve/issues/361

[2020-08-13 19:58] Bartlett-Will opened #617 "Service workers dying when creating a server with a custom handler for Bert trained with the HuggingFace (transformers) library."
## Context
Hi all, I'm trying to serve a model trained with the transformers library on a EC2 instance. I have been following [this](https://medium.com/analytics-vidhya/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18) blog post and looking at AWS's Deploying PyTorch models for inference at scale using TorchServe blog post as well.
I followed the installation, and got an exa

[2020-08-13 21:11] maaquib commented on #617
@Bartlett-Will Seems like you are missing the `transformers` module

[code]

[2020-08-13 21:54] Bartlett-Will commented on #617
@maaquib Yeah, That is the first log! But, I just found the docs for serving transformers, which I didn't think existed. I tried starting the server after I installed transformers module and it threw some different errors. It might be that I did not include an index_to_name.json file in the --extra-files tag

[2020-08-14 04:53] harshbafna commented on #587
@anonuser278: I couldn't figure out anything concrete from the logs shared. The `TorchServe` frontend layer is not able to instantiate a python process itself. Mostly looks like some issue related to the python environment setup.

[2020-08-14 17:45] Bartlett-Will commented on #617
Here is another log trying to run the server with the same model save and handler file, on macOS.
[ts_log.log](https://github.com/pytorch/serve/files/5076135/ts_log.log)

[2020-08-14 23:21] maaquib commented on #617
@Bartlett-Will Seems like it is having trouble loading the model. Can you provide details/command on how you generated the mar file?

[code]

[2020-08-14 23:26] maaquib opened #619 "Benchmark CPU optimized Docker.ipex"
Run benchmark against [Docker.ipex](https://github.com/ashokei/serve/blob/ipex_docker/docker/Dockerfile.ipex) for CPU optimized deployment

Note from Intel: By default the container is configured with OMP=1 thread, for BERT i notice it gives better performance with atleast 4 cores per container instance, which you can invoke follows.
`docker run -e OMP_NUM_THREADS=4 --rm --name ts -p 8080:8080 -p

[2020-08-14 23:57] #606 closed

[2020-08-15 02:57] MartinEliasQ commented on #577
Hi, everybody.
Inside the .mar file of my model I have the respective requirements file. I'm using the Kubernetes deployment guide with Helm and I get the same error as if I didn't install the external packages that are in my file. Also, I tried to set the install_py_dep_per_model attribute to true without success.
Does anyone else have the same problem?

[2020-08-15 06:07] harshbafna commented on #577
@MartinEliasQ: You will need to add the `install_py_dep_per_model` property in the config.properties file and restart TorchServe. To enable controlling different config params through environment variables you will need to set `enable_envvars_config` to `true` in config.properties. Refer [TorchServe configuration documentation](https://github.com/pytorch/serve/blob/master/docs/configuration.md) fo

[2020-08-15 09:05] shihanmax commented on #547
Thank you for your patience and look forward to the following optimization!

[2020-08-16 20:16] quantum-fusion opened #620 "pytorch transfer learning and model hosting failed to load model test case"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

Pytorch transfer learning and model load failure.

I tried out the transfer learning like shown here (https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html) and this example(https://github.com/pytorch/tutorials/blob/master/beginner_source/transfer

[2020-08-17 09:33] dhaniram-kshirsagar commented on #620
@quantum-fusion There aren't enough details in given log hence will try executing this and let you know.
In the meantime, please provide detail logs/info if any

[2020-08-17 11:25] Sandeep418 opened #621 "About Arguments"
I'm trying to serve the human action recognition model in my case the model need a list of images. Can you give any suggestion about how to pass a list of images or an image folder to the model.

[2020-08-17 11:41] quantum-fusion commented on #620
@dhaniram-kshirsagar I tested the generated .MAR file using the Pytorch Archiver, and then ran another test this time using the multi-model-server ( https://github.com/awslabs/multi-model-server ) .  The transcript file is here (https://www.dropbox.com/s/zhh87q0mtmys2zh/modelserverLog.txt?dl=0).  The transcript file provides a lot more data, and also leads me to believe that there may have been an

[2020-08-17 14:47] Bartlett-Will commented on #617
Yeah, it is having trouble loading the model, even in just a regular Colab file. Not sure why though.

This is the code that saved the model:
`model_to_save = model.module if hasattr(model, 'module') else model  # Take care of distributed/parallel training
model_to_save.save_pretrained(output_dir)
tokenizer.save_pretrained(output_dir)
`
here is the bit of code that is being run to load the checkpo

[2020-08-17 16:01] Leoduv opened #623 "Limited to batches of 100 during inference, even if model deployed with batch_size = 128"
## Context

- Using torchserve gpu docker container, built locally from source.
- Running on a VM with a gpu
- torch==1.5
- torchvision==0.6
- torchtext==0.6
- torchserve==0.1.1
- in config.properties : job_queue_size=1000
- custom image classification model, custom handler

## Issue
I am sending batches of 128 images to my torchserve container, but when I check the logs that my handler is giving

[2020-08-17 16:10] prashantsail commented on #620
Hi @quantum-fusion

## Analysis
1. I have used the [transferlearningmodel.mar](https://www.dropbox.com/s/m29a1h1y0u6haa8/model_save.tar?dl=0&file_subpath=%2Fmodel_save%2Ftransferlearningmodel.mar) file that you have shared in dropbox.
2. I see following error in the logs -
[code]
3.  Looking closely at your example [transfer_learning_tutorial.py](https://github.com/pytorch/tutorials/blob/master/be

[2020-08-17 16:39] dhaniram-kshirsagar commented on #620
This should be added to ts guide #215

[2020-08-17 16:48] dhaniram-kshirsagar commented on #623
@Leoduv Can you please check if torchserve initialization log [in ts.log/on console] is correctly printing the new job queue size as 1000. Also, please attach the log file.

[2020-08-17 16:57] quantum-fusion commented on #620
@dhaniram-kshirsagar I have tried the following steps.

1. Executed ./beginner_source/transfer_learning_tutorial.py , and it produced ./model_save/transferlearning.pth

2. I copied the ./model_save/transferlearning.pth to ./beginner_source/testTransferLearning

3. created the model.py , handler.py , and index_to_name.json files as you had described, and place them in ./beginner_source/testTransfer

[2020-08-17 17:41] dhaniram-kshirsagar commented on #620
@quantum-fusion cannot access `./beginner_source/testTransferLearning/logs/ts_log.log`

[2020-08-17 17:59] dhaniram-kshirsagar commented on #620
Looks like you are using torchserve 0.1.1 release [per logs on dropbox], can you please upgrade your torchserve to the latest and try again.

[2020-08-17 19:29] quantum-fusion commented on #620
@dhaniram-kshirsagar torch-model-archiver and torch serve was upgraded to 0.2.0 . I am trying again.  The MAR format has to be 0.2.0

[2020-08-17 19:33] quantum-fusion commented on #620
@dhaniram-kshirsagar Are we not expecting the result to be a tiger cat, like the torchserve example?  This transfer learning experiment was supposed to add Ants and Bees as a tensor pattern, but not replace the Tiger cat with an Ant or Bee.  Please let me know why the index_to_name.json class names were only Ant for 0, and Bee for 1. Also, please tell me why those index class names replace the mor

[2020-08-17 19:37] quantum-fusion commented on #620
@dhaniram-kshirsagar I had a similar set of results using the BentoML transfer learning as well, and while the REST api had a similar format, the transfer learning also produced the wrong sets of results, which invalidated the performance of the model. (https://github.com/jjmachan/resnet-bentoml/issues/1).

@dhaniram-kshirsagar Can you please help with explaining the transfer learning results, and

[2020-08-17 19:50] quantum-fusion commented on #620
@prashantsail Do you see the results not showing a Tiger Cat?  I don't think this is what we were expecting.

[2020-08-18 08:28] Leoduv commented on #623
Hi, here are the contents the ts_log.log file :

Torchserve version: 0.1.1
TS Home: /home/venv/lib/python3.6/site-packages
Current directory: /home/model-server
Temp directory: /home/model-server/tmp
Number of GPUs: 1
Number of CPUs: 2
Max heap size: 1866 M
Python executable: /home/venv/bin/python3
Config file: /home/model-server/config.properties
Inference address: http://0.0.0.0:8080
Management

[2020-08-18 10:08] BorisPolonsky opened #626 "Method `preprocess` is not called for custom handler"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.2.0 (official docker image `ytorch/torchserve:0.2.0-cuda10.1-cudnn7-runtime`)
* torch version: 1.6.0
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: 11.0.8
* Operating

[2020-08-18 10:15] harshbafna commented on #626
@BorisPolonsky: TorchServe only calls the `handle` function, which is the default entry point for your model handler which in turn should call the pre-process function. Since you are overriding the default behavior of handle function from `BaseHandler`, you will need to take care of the function call.

[2020-08-18 11:17] quantum-fusion commented on #620
@prashantsail look at results below, I used the index_to_name.json from the torch serve repo, and now we see wrong results
@dhaniram-kshirsagar look at results below, I used the index_to_name.json from the torch serve repo, and now see wrong results.

@prashantsail It may be that we have the wrong format for the index_to_name.json that does not include the ants and bees
@dhaniram-kshirsagar It may

[2020-08-18 12:24] prashantsail commented on #620
@quantum-fusion

**Referring to [transfer_learning_tutorial.py](https://www.dropbox.com/s/jru4p9hbbazm7zn/transfer_learning_tutorial.py?dl=0)**
For creating the model, you have started with a Resnet18 model and used **feature extraction** for transfer learning scenario.

1. Resnet18's "Fully Connected" layer has "1000" out_features (classes)
2. In the line 312 -  `model_conv.fc = nn.Linear(num_ftr

[2020-08-18 12:41] prashantsail commented on #620
@quantum-fusion

Also, the model did provide valid prediction results when I tested it with a random ant and bee images -

[sample1.jpg](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Red_Weaver_Ant%2C_Oecophylla_longinoda.jpg/800px-Red_Weaver_Ant%2C_Oecophylla_longinoda.jpg) (**ant**)
[code]

[sample2.jpg](https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Honey_bee_%28Apis_mell

[2020-08-18 13:36] quantum-fusion commented on #620
@prashantsail I thought the whole point about transfer learning is that you can add the 2 additional classifiers without losing the 1000 classes of the pre-trained model.  What they mean when they say transfer learning, is that you learn what the 1000 classifiers already knew from the pre-trained model, but then add 2 additional classifiers.  Am I missing something?  What you are describing is a b

[2020-08-18 14:33] quantum-fusion commented on #620
@prashantsail I do not know if @devansh20la had a great idea when he tried to add 100 cells to an existing layer, by popping 2 modules off. (https://discuss.pytorch.org/t/finetuning-the-convnet-question-can-i-change-the-cells-in-a-fc-layer/7096/4)

See his writeup:
model = models.vgg16(pretrained=True)
#list all the modules in the model's classifier
mod = list(model_ft.classifier.children())
#Pop

[2020-08-18 14:50] Leoduv commented on #623
I upgraded to torchserve 0.2.0, and checked that the config is used in the docker entrypoint (torchserve --start --ts-config /home/model-server/config.properties), the contents of the config.properties are :

management_address=http://0.0.0.0:8081
number_of_netty_threads=32
job_queue_size=1000
model_store=/home/model-server/model-store

But the problem persists, I'm still limited to batches of 100

[2020-08-18 15:10] BorisPolonsky commented on #626
Thanks for the clarification. The code is derived from the official [example for serving Transformer](https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py). There's a `preprocess` method, which confused me.

[2020-08-18 16:32] maaquib commented on #617
Yes, the .mar file is expected to be in the `--model-store <dir>` directory that is specified at server startup

[2020-08-18 19:29] HamidShojanazeri commented on #617
Hi @Bartlett-Will , as @maaquib mentioned the .mar file should be place in a folder named model_store, if  you are using

 torchserve --start --model-store model_store --models bert=bert.mar

 to start the server.

That would be great if you could share a minimal code to reproduce the issue.

Would please confirm if you are using:

[code]
in your handler.

If that's the case, I believe, you may wa

[2020-08-19 02:56] #626 closed

[2020-08-19 07:07] sihuo521 opened #627 "unknown flag: --gpus See 'docker run --help'."
when:     docker run --rm -it --gpus all -p 8080:8080 -p 8081:8081 torchserve:gpu-latest
result:    unknown flag: --gpus See 'docker run --help'.

[2020-08-19 07:21] harshbafna commented on #627
@sihuo521: Mostly your docker client is outdated. Could you please update your docker client and try again.

[2020-08-19 08:31] sihuo521 commented on #627
thank you. I try to update my docker.

[2020-08-19 09:38] Leoduv commented on #627
I've had the same problem when working on a vm. You may need to enable gpu use for docker, I did this by doing the following :

curl -s -L https://nvidia.github.io/nvidia-docker/gpgkey | sudo apt-key add -
curl -s -L https://nvidia.github.io/nvidia-docker/$distribution/nvidia-docker.list | sudo tee /etc/apt/sources.list.d/nvidia-docker.list
sudo apt-get update && sudo apt-get install -y nvidia-con

[2020-08-19 09:53] Leoduv commented on #577
I'm having this `ImportError: cannot import name 'sysconfig'` problem, but I think that my config.properties file is correct :

inference_address=http://0.0.0.0:8080
management_address=http://0.0.0.0:8081
number_of_netty_threads=32
job_queue_size=1000
model_store=/home/model-server/model-store
install_py_dep_per_model=true

Isn't `python3-distutils` missing from the image ? I'm building from sourc

[2020-08-19 10:08] harshbafna commented on #623
@Leoduv: Could you please share the following details so that we can reproduce the error at our end :

 - Curl command used for registering the model
 - How you are sending the requests? Using some tool like apache-bench or jmeter?
 - What is the concurrency used at the client end for inference requests.

[2020-08-19 10:12] harshbafna commented on #577
@Leoduv: Please create a separate ticket with details about your environment (as per the BUG template).
This issue looks related to your python environment and not related to the requirements file supplied with model-archive.

I have added a comment in the other ticket, could you share the requested information there.

[2020-08-19 11:55] Leoduv commented on #623
I'm doing it in a python using the requests library `r = requests.post(url=f"http://localhost:8081/models?url={model_name}.mar&batch_size={batch_size}"
                          f"&initial_workers=1&max_batch_delay=100")`

For the predictions requests I am sending then using the `asyncio` and `aiohttp` python libraries

[code]

I have also joined the Dockerfile I'm using for building the torchserv

[2020-08-19 12:46] Leoduv opened #628 "code 400, type ModelException, "Custom pip package installation failed for *my_model*""
## Context
Trying to get a model working with the necessary libraries in a requirements.txt added to the mar file following the documentation.
If the container :
* torchserve version: 0.2.0
* torch version: 1.5
* torchvision version [if any]: 0.6
* java version: 11
* Operating System and version: Ubuntu 18.04.4 LTS

## Your Environment
* Installed using source? [yes/no]: yes, built with the follow

[2020-08-19 12:48] Leoduv commented on #577
Thank you @harshbafna , I've created another ticket #628

[2020-08-19 13:02] harshbafna commented on #623
@Leoduv: From the initial analysis, the value `100ms` for `max_batch_delay` is too low. Could you try increasing the value to some higher value say 5000 (5 seconds)?

I will try and reproduce this scenario at my end with your shared script.

[2020-08-19 13:19] Leoduv commented on #623
@harshbafna  Just finished testing it and it didn't change anything. I have a handler that logs the size of the tensor after the preprocessing and when I was making batches of 64 :

But when I redeployed the model with a batch size of 128 :

and after the predictions of this batch were returned :

ect ect

[2020-08-19 14:34] prashantsail commented on #620
@quantum-fusion

1. One of the explanations for transfer learning that I could easily grasp - (ref: [CS231n](https://cs231n.github.io/transfer-learning/))

    Besides this, there are various blogs\videos available online which you could refer to for understanding the intent\definition of transfer learning.

2. As for the example you have referenced:  "... tried to add 100 cells ~~to an existing l

[2020-08-19 14:39] quantum-fusion commented on #620
@prashantsail I tried this example that trains multiple layers, and uses transfer learning (https://github.com/krazygaurav/krazygaurav.github.io/issues/1), however there were some coding errors, with index out of range. I also found the coursework from Stanford that you are referencing, but there are not any solutions published for the course examples.

[2020-08-19 19:27] quantum-fusion commented on #620
@prashantsail It is really a shame, but the transfer learning appears not to work, because the pre-trained model that was already provided was already trained with these patterns. If you simply follow the example with torch serve (https://github.com/pytorch/serve) using the densenet161 model you will see it detects the Ant and Bee, and in addition it also detects the kitten tiger cat, and the whal

[2020-08-20 11:02] anonuser278 commented on #587
@harshbafna , I installed torchserve in a virtual environment, archived the model using torch-model-archiver and tried to deploy the model. The error is exactly the same as before. However, I tried to deploy the model in a separate unix machine. It worked perfectly. There are different builds of Java in the two machines - open jdk 11 in the unix machine and oracle jdk 11 in my mac. Can that be the

[2020-08-20 11:34] anonuser278 opened #631 "Error while querying deployed model in aws sagemaker"
Hi,
I deployed a model in aws sagemaker following the tutorial - https://aws.amazon.com/blogs/machine-learning/deploying-pytorch-models-for-inference-at-scale-using-torchserve/  .. After deployment I queried the model from sagemaker SDK, but I got the following error.

**---------------------------------------------------------------------------
ModelError                                Traceback

[2020-08-20 12:47] maheshambule commented on #619
@maaquib, Below are the benchmark results BERT model:

Torch Serve version = 66216ce945d99a32fb281707eb88791215a44dd5 + [intel_torch_extension changes](https://github.com/maheshambule/serve/blob/6e8a88a9c007da5821360dab4d97039184532e09/ts/torch_handler/base_handler.py#L37-L48)
EC2 Instance : c5.4xlarge

Benchmark|Model|Concurrency|Requests|TS failed requests|TS throughput|TS latency P50|TS latency

[2020-08-20 13:49] vishal-wiai opened #632 "Torchserve error while serving"
Can anyone help me understand what this error means? I'm having the issue with a particular version of my model, the other is working fine. I tried testing the `Torchscript` model of this and it works fine. The issue seems to be in the `mar` file.

Can somebody please help me understand what this error means? Thanks

[code]

[2020-08-20 15:49] alexdmiller opened #633 "Multiple serialized models in one `.mar` file?"
## Is your feature request related to a problem? Please describe.

We have multiple serialized models that we would like to use for a single TorchServe endpoint.

## Describe the solution

Right now, I'm not aware of a way to achieve this with TorchServe. When creating the `.mar` archive, only a single serialized model can be passed in.

## Describe alternatives solution

 If we could store multip

[2020-08-20 16:11] harshbafna commented on #633
@alexdmiller: Currently `TorchModelArchiver` allows supplying only one serialized file with `--serialized-file` parameter while creating the mar. However, you can supply any number and any type of file with `--extra-files` flag. All the files supplied in the mar file are available in `model_dir` location which can be accessed through the context object supplied to the handler's entry point.

Sampl

[2020-08-21 04:03] harshbafna commented on #632
@vishal-wiai: From the above logs like the model response size exceeds the default limit of `6553500` bytes. You can change the response size value by setting the `max_response_size` parameter in the config.properties file.

For more details refer [torchserve configuration documentation](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties)

[2020-08-21 04:05] harshbafna commented on #532
Closing due to no response from OP.

[2020-08-21 04:05] #532 closed

[2020-08-21 04:05] harshbafna commented on #455
Closing due to no response from OP.

[2020-08-21 04:05] #455 closed

[2020-08-21 04:06] harshbafna commented on #558
Closing due to no response from OP.

[2020-08-21 04:06] #558 closed

[2020-08-21 04:06] harshbafna commented on #568
Closing due to no response from OP.

[2020-08-21 04:06] #568 closed

[2020-08-21 04:07] harshbafna commented on #581
Closing as the question has been answered.

[2020-08-21 04:07] #581 closed

[2020-08-21 04:17] vishal-wiai commented on #632
@harshbafna Thank you! This worked!

[2020-08-21 04:17] #632 closed

[2020-08-21 04:40] harshbafna commented on #576
Closing due to no response from OP.

[2020-08-21 04:40] #576 closed

[2020-08-21 04:41] harshbafna commented on #583
Closing due to no response from OP.

[2020-08-21 04:41] #583 closed

[2020-08-21 04:56] harshbafna commented on #628
A similar error was observed in #577. Looks like the pip command crashes in the docker image created using this [dockerfile](https://github.com/pytorch/serve/blob/master/docker/Dockerfile)

[2020-08-21 05:34] chauhang opened #634 "Add support for file:// url for copying .mar files into model store"
Add support for file://xxx.mar as a URL for copying .mar files into the model-store. This will help for doing integration into other orchestration solutions and manual steps for users to copy the file after generating a .mar file in their model code directory during development

[2020-08-21 06:34] harshbafna opened #636 "Model p50, p90 and p99 latency is calculated incorrectly in benchmark-ab script"
The benchmark-ab.py(https://github.com/pytorch/serve/blob/master/benchmarks/benchmark-ab.py#L273) script doesn't sort the model latency values before calculating the p50, p90, and p99 latencies.

[2020-08-21 06:36] harshbafna commented on #628
@Leoduv: I have fixed the docker file in #577. Could you try using this new docker file?

[2020-08-21 07:32] prashantsail commented on #537
Hi @Bartlett-Will

[save_pretrained()](https://huggingface.co/transformers/_modules/transformers/modeling_utils.html#PreTrainedModel.save_pretrained) internally uses the [pytorch recommended](https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-load-state-dict-recommended) way for saving the model.
Hence you would not run into the issue @fancyerii is facing.

I believe this query

[2020-08-21 07:55] prashantsail commented on #620
Since you are now able to host both Resnet and Densenet models using _torchserve_ we will be closing this issue.
For any further queries related to _transfer learning_, please log a ticket on pytorch forums.

[2020-08-24 03:14] harshbafna commented on #621
@Sandeep418: Please refer the following comment: https://github.com/pytorch/serve/issues/529#issuecomment-658012913

[2020-08-24 03:16] #569 closed

[2020-08-24 03:17] harshbafna commented on #613
Closing due to no response from OP.

[2020-08-24 03:17] #613 closed

[2020-08-24 04:47] maheshambule commented on #619
@maaquib, Please take a look at the Benchmark results. They are are updated now.

[2020-08-24 10:11] sidd-pandey opened #640 "Cuda not available in pytorch/torchserve:0.2.0-cuda10.1-cudnn7-runtime Docker image"
## Context
Model deployed using the latest image does not use GPU for inference. Torch shows cuda not available.

## Your Environment
* Installed using source? No
* Are you planning to deploy it using docker container? Yes (`pytorch/torchserve:0.2.0-cuda10.1-cudnn7-runtime`)
* Is it a CPU or GPU environment?: GPU
* Using a default/custom handler?:  Default handler (image_classifier)
* What kind of

[2020-08-24 10:39] crameth opened #641 "Reason for implementing HTTP request server via Java"
## Is your feature request related to a problem? Please describe.
Not applicable.

## Describe the solution
Not applicable.

## Describe alternatives solution
FastAPI - https://fastapi.tiangolo.com/
uvicorn - https://www.uvicorn.org/

This is more of a question directed at the decision behind using Java. What are the reasons why Java is chosen to implement the HTTP request server?

There are a myr

[2020-08-24 11:45] Sandeep418 commented on #621
Presently I am doing the same thing, but we need to pass a large number of images 30 or more for which it would be better to pass the set of images in a folder for inference.

[2020-08-24 11:55] harshbafna commented on #621
@Sandeep418: It will be better to write a custom python/shell script to do this task at the client end.

[2020-08-24 13:00] Sandeep418 commented on #621
okay, Thanks.

[2020-08-24 13:26] Sandeep418 commented on #621
okay,Thanks

[2020-08-24 14:17] shivamshriwas opened #643 "Torchserve inference profiling"
## Details

End to end profiling of inference request with the following sub-section.
- Front-end
- Job Queue
- Prediction
- Backend

### Proposed Approch
Add various metrics logs to capture the time taken in these events
Run AB benchmark with Resnet-18 model and get insights using these logs

[2020-08-24 17:21] maaquib commented on #619
@maheshambule Thanks for this benchmakr. I'll take a closer look at these numbers. Can you also create a PR with your changes?

[2020-08-25 03:11] alexdmiller opened #645 "`torch.jit.load(...)` fails silently"
## Context

* torchserve version: `0.0.1`
* Operating System and version: ubuntu:18.04

## Your Environment

* Installed using source? [yes/no]: No
* Are you planning to deploy it using docker container? [yes/no]: Yes
* Is it a CPU or GPU environment?: CPU
* Using a default/custom handler? [If possible upload/share custom handler/model]: Yes: [custom-handler.py.txt](https://github.com/pytorch/serv

[2020-08-25 03:13] BorisPolonsky opened #647 "Please Clarify How Data are Organized in Outermost JSON Array on Handler Side in the Document"
## 📚 Documentation

I tried to implement custom handlers by subclassing `ts.BaseHanlder` as suggested in the document. By adding `sys.stdout.write(str(data))` for data inspection on server side, it turns out that no matter what kind of data I've included in my request body (e.g. array of string or single string), I always receive a single element list on the server size. e.g:
By sending `curl  htt

[2020-08-25 03:34] harshbafna commented on #645
@alexdmiller:

 - There have been lots of structural changes with TorchServe 0.2.0 release. Please use the latest docker container.

 - To use the latest docker image for TorchServe on your EC2 instance use the following command

[code]

If the problem still persists please share `logs/ts_log.log` file.

[2020-08-25 04:27] maheshambule opened #648 "Torchscript C++ based handler"
## Is your feature request related to a problem? Please describe.
Add a Torch C++ API based handler support.

## Describe the solution
This will add support in base handler to invoke Torch C++ based API to load and to do inference on a model.
Since the handler runs in the python process, to invoke C++ API from python, python bindings need to be added.

## Describe alternatives solution
NA

[2020-08-25 09:42] prashantsail opened #649 "Add more torchserve examples using popular PyTorch models"
## Description
To enrich and diversify the torchserve examples, we would like to add a few more by using some of the popular PyTorch models.

I have segregated a small list -

| Model | Github Stars | PR | Overview |
| ----- | ------------ | -- | -------- |
| [RoBERTa (fairseq)](https://github.com/pytorch/fairseq)| 8.9k | #592 | Models for translation, summarization, language modeling and other te

[2020-08-25 20:57] alexdmiller commented on #645
My apologies. I thought I had run `docker pull pytorch/torchserve`, but clearly had not. Updating to the latest docker image fixed it. Thanks!

[2020-08-25 20:57] #645 closed

[2020-08-26 08:49] Leoduv commented on #628
Sorry for the wait, issue solved ! Thank you, I'll close the issue

[2020-08-26 08:49] #628 closed

[2020-08-26 11:41] graviraja opened #652 "Custom pip package installation failed"
Trying to get a model working with the external libraries in a requirements.txt added to the mar file following the documentation.

## Context

* torchserve version: 0.2.0
* torch version: 1.6.0
* torchvision version [if any]:
* torchtext version [if any]: 0.7.0
* torchaudio version [if any]:
* java version: 11.0.8
* Operating System and version: Ubuntu 18.04

## Your Environment

* Installed usin

[2020-08-26 11:46] harshbafna commented on #652
Duplicate of #628. Please use the updated Dockerfile from PR #635.

[2020-08-26 12:06] graviraja commented on #652
@harshbafna  I am using the latest one only which contains `python3-distutils`. Here is the content of the Dockerfile

[code]

[2020-08-26 12:54] harshbafna commented on #652
@graviraja : The `python3-distutils` package  has been added to the final runtime image as well in the PR #635.

Could you please recreate your image using the docker file from the above PR and try again?

You can also check if the package is available by using the following command on docker container shell :

[code]

[2020-08-26 19:22] dhanainme opened #653 "PyLint Failures for pylint-2.6.0"
PyLint recently released 2.6.0 which has resulted in the following errors - https://github.com/PyCQA/pylint/releases

Running `pylint -rn --rcfile=./ts/tests/pylintrc ts/.` would produce,

[code]

This has been pinned to 2.5.3 till these are fixed.

[2020-08-27 04:13] harshbafna commented on #653
This has already been fixed and merged to master. PR: https://github.com/pytorch/serve/pull/639

Logs from latest master :

[code]

[2020-08-27 04:13] #653 closed

[2020-08-27 04:21] harshbafna commented on #621
Closing as the query has been answered.

[2020-08-27 04:21] #621 closed

[2020-08-27 04:21] harshbafna commented on #627
Closing due to inactivity.

[2020-08-27 04:21] #627 closed

[2020-08-27 04:22] harshbafna commented on #615
Closing due to inactivity.

[2020-08-27 04:22] #615 closed

[2020-08-27 07:59] KanchanIIT commented on #473
I am getting the same error
(torch_serve1) kanchan.sarkar@shopee-ds-ip-10-128-148-226:~$ java.lang.NoSuchMethodError: java.nio.file.Files.readString(Ljava/nio/file/Path;)Ljava/lang/String;
	at org.pytorch.serve.util.ConfigManager.readFile(ConfigManager.java:202)
	at org.pytorch.serve.util.ConfigManager.<init>(ConfigManager.java:114)
	at org.pytorch.serve.util.ConfigManager.init(ConfigManager.java:

[2020-08-27 08:48] harshbafna commented on #473
@KanchanIIT: I suspect there are multiple Java versions installed on your machine. Could you please share the output of the following command:

[code]

Also share the details about your environment and steps you executed which caused this error.

[2020-08-27 09:06] CSLujunyu opened #654 "How to change Temp Directory?"
## 📚 Documentation

My computer has little space to mount '/tmp'. And I can't find any helps.
Are there any way to change Temp Directory?

[2020-08-27 09:25] harshbafna commented on #654
@CSLujunyu: You can export `TEMP` environment variable to the desired path. This path will be used by `TorchServe` to extract the model-archives content.

[2020-08-27 09:34] CSLujunyu commented on #654
I see. Thanks.

[2020-08-27 09:34] #654 closed

[2020-08-27 10:39] graviraja commented on #652
Hi @harshbafna

This was the output of the command

[code]

These are the following steps I am using in order to build the docker image. (please let me know if I am doing anything wrong)

1. Pull the latest repo. (I am using master branch)
2. These are the contents of the Dockerfile
[code]
3. Building the docker image

[code]

4. Running the container

[code]

5. Entering the bash terminal & runni

[2020-08-27 11:06] harshbafna commented on #652
@graviraja: As indicated in my last command, this is a known issue in the Dockerfile available in the master branch and hence you need to use the Dockerfile from #635 (which is yet to be merged to the master branch)

[2020-08-27 11:23] CSLujunyu opened #655 "Torchserve can not stop, and restarts again."
## Expected Behavior

Run `torchserve --stop`  to stop the server

## Current Behavior

When changing the environment variable of `TEMP`, I run `torchserve --stop` and get message "TorchServe is not currently running." But the server is still alive.

[2020-08-27 12:23] harshbafna commented on #655
@CSLujunyu: Please also add the environment details and steps followed for reproducing the issue.

[2020-08-27 12:31] CSLujunyu commented on #655
1. Add `TEMP` in order to change default temp directory
export TEMP=~/torch_server/examples/Huggingface_Transformers/tmp

2. Follow Huggingface example, and create a torch model archive
torch-model-archiver --model-name BERTEmbedding --version 1.0 --serialized-file ~/pretrained_checkpoints/model_V1.pt --handler ./Transformer_handler_generalized.py --extra-files "setup_config.json,models.py"

3. Re

[2020-08-27 12:39] harshbafna commented on #655
@CSLujunyu:

I could not reproduce this using the latest binaries from PyPI :

 - Install torchserve
[code]

 - Export `TEMP` variable

[code]

 - Start `TorchServe`
[code]

 - Stop `TorchServe`

[code]

[2020-08-27 12:48] harshbafna commented on #655
It would be great if you could share the details using the bug report template.

[2020-08-27 12:51] harshbafna opened #656 "Add support for gRPC"
Add support for gRPC in `TorchServe`

[2020-08-27 12:53] harshbafna opened #657 "Add SLA guide for community queries"
Add SLA guide for response and closure of community queries.

[2020-08-27 13:10] CSLujunyu commented on #655
## Context

* torchserve version: 0.2.0
* torch version: 1.4.0
* torchvision version : 0.5.0
* java version: 11.0.8
* Operating System and version: CentOS Linux release 7.5.1804 (Core)

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker container? [yes/no]: yes
* Is it a CPU or GPU environment?: GPU
* Using a default/custom handler? [If possibl

[2020-08-27 13:15] harshbafna commented on #655
Are you executing all the above commands inside the docker container?

[2020-08-27 13:21] CSLujunyu commented on #655
Sorry, I make a mistake. I am not using docker container currently. I will deploy it in the future.

- Are you planning to deploy it using docker container? [yes/no]: no

[2020-08-28 11:24] anonuser278 commented on #587
@harshbafna , I removed Java completely and reinstalled Oracle Java 11.0.8 as below
**java 11.0.8 2020-07-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.8+10-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.8+10-LTS, mixed mode)**
I re-archived the model with torch-model-archiver and tried deploying it with torchserve in a virtual environment.
The error was same as before.
_2020-08

[2020-08-28 11:39] harshbafna commented on #587
@anonuser278: Could you please share the output of following commands on your mac:

[code]

[2020-08-28 12:04] anonuser278 commented on #587
@harshbafna , please find the output of the commands below .
1. /usr/libexec/java_home -V
[code]
2. ls -ls /usr/bin/python*
[code]
However the executable/symlink path for python3 that I use is as below
[code]

[2020-08-28 16:53] udithhaputhanthri commented on #203
@fbbradheintz
Hi, We are currently developing a website that includes a backend processing that should be done in the pytorch serve on AWS server. The problem is we need a SSL certificate for the application. So we have tried 2 methods that have been shown in the "torchserve advanced configurations". But in there, they only have provided a way to create a "self-signed" SSL certificate. With that,

[2020-08-31 05:55] harshbafna commented on #587
@anonuser278: Could you try starting TorchServe with a config.properties file which has the following property set :

[code]

[2020-08-31 06:01] dhaniram-kshirsagar commented on #203
As far as I know, you will need a domain name to get CA signed SSL cert. There are different articles on the net on how to [get CA signed cert](https://comodosslstore.com/resources/what-is-a-ca-signed-certificate-how-do-i-get-one/). NOTE this is a general process for any webserver and nothing to do with torchserve as such.

[2020-09-01 04:11] harshbafna commented on #655
@CSLujunyu: We were not able to reproduce this issue at our end. Could you share the `ts_log.log` file and the error message that you get on executing `torchserve --stop` command. It would be great if you could share the complete dump of commands executed on your terminal to reproduce this issue.

[2020-09-01 11:08] yuanshaochen opened #661 "High CPU utilization when serving GPU and CPU models on one container."
## Context

* torchserve version: pytorch/torchserve:0.1-cuda10.1-cudnn7-runtime
* torch version: N/A
* torchvision version [if any]: N/A
* torchtext version [if any]: N/A
* torchaudio version [if any]: N/A
* java version: N/A
* Operating System and version: N/A

## Your Environment

* Installed using source? [yes/no]: yes.
* Are you planning to deploy it using docker container? [yes/no]: yes.
* I

[2020-09-02 11:24] krrishdholakia opened #663 "SSL TorchServe: 405 Connection Refused Error"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.
## Context

I'm trying to run my huggingface model locally.

*Torch Serve Version: 0.2.0
*Java Version: 11
* Operating System and Version: MacOS version 10.15.4 (Catalina)

## Your Environment

* Installed using source? [yes/no]: Yes
* Are you planning to deploy it

[2020-09-02 13:25] dhaniram-kshirsagar commented on #663
Why https? By default it is http

[2020-09-02 13:27] krrishdholakia commented on #663
tried on both - thought it might be accepting https only, when i initially tried it w/ http

[2020-09-02 16:29] dhaniram-kshirsagar commented on #663
Can you please attach logs else it is difficult to help. At least on my Mac this works fine `curl -X OPTIONS http://localhost:8080`

[2020-09-02 19:50] dhanainme commented on #616
@dhaniram-kshirsagar can you please point me to the specific ask for which we created this documentation.

Took a look #616. Just trying to get the context.

[2020-09-03 06:48] hyperparameters opened #664 "Model version is not defined"
## Issue
I want to serve 2 models using torch serve but, torchserve is throwing an error
[code]

following are the commands i used to create model-archive

**model 1**
[code]

**model 2**
[code]

**config**
[code]

**torch serve**
[code]

* torchserve version: 0.2.0
* torch-model-archiver: 0.2.0
install using `pip install torchserve==0.2.0 torch-model-archiver==0.2.0`

* torch version:1.6.0
* torc

[2020-09-03 06:58] harshbafna commented on #664
@hyperparameters

Please provide the following details:

 - What's the version of `torch-model-archiver` you are using?
 - And how was `torchserve` and `torch-model-archiver` installed? From source or from binary?

[2020-09-03 07:12] hyperparameters commented on #664
torch-model-archiver: 0.2.0
install using pip install torchserve==0.2.0 torch-model-archiver==0.2.0

updated original issue too

one thing I noticed is i am facing this issue in `docker` on `local` its working

this is the log from local run
[code]

[2020-09-03 08:02] harshbafna commented on #664
@hyperparameters:

Please share minimal steps to reproduce this issue. Also include the docker image creation and container start command used.

[2020-09-03 08:15] hyperparameters commented on #664
Dockerfile  (model path removed)
[code]

dockerd-entrypoint.sh
[code]

config file
[code]

model-archive
[code]

[2020-09-03 08:57] hyperparameters commented on #664
**SOLVED**
model-archives were corrupted when downloading
that was the reason it failed to load the `manifest` file

**SUGGESTION**
 if the error message can be more relevant when it cant find `manifest` file

[2020-09-03 08:59] #664 closed

[2020-09-03 10:19] dhaniram-kshirsagar commented on #664
There is [set default management api](https://github.com/pytorch/serve/blob/master/docs/management_api.md#set-default-version) to do that.

[2020-09-03 10:28] hyperparameters commented on #664
@dhaniram-kshirsagar thanx,
sorry I forgot to mention without using management API.
I am not exposing management API.

[2020-09-03 10:30] harshbafna commented on #664
@hyperparameters: TorchServe registers the models with the version specified at the time of mar creation.

[2020-09-03 10:42] hyperparameters commented on #664
@harshbafna yes, but if I have registered 2 models `version 1.1` and `version 1.2` is there a way for me to specify which `version` to pick when `torchserve` initialises. Other than management API, may be from config.properties

[2020-09-03 13:28] dhaniram-kshirsagar commented on #657
Added this page describing SLA guidelines and different stages.
https://github.com/pytorch/serve/wiki/SLA---Issue-response

[2020-09-04 04:35] harshbafna commented on #652
Closing due to inactivity.

[2020-09-04 04:35] #652 closed

[2020-09-04 08:17] dhaniram-kshirsagar commented on #661
@yuanshaochen To better understand the situation, could you please let me know the following
1. Are you saying that CPU models are not performing well on the CUDA based torchserve image you are running?
2. Are you saying that CPU model inference request is blocked or getting processed at a slow pace compared to GPU based models?

FYI - The eight threads that you saw are worker thread which process

[2020-09-04 08:25] dhaniram-kshirsagar commented on #647
@BorisPolonsky Yes, it is related to batch however at present there is no separation for different clients. Our batch aggregator accumlates requests [irrespective of clients] for same model/version for a time equal to batch delay and forwards it to its handler in a format indicated by you.

[2020-09-04 11:01] yuanshaochen commented on #661
Thank you for the response. Here are the answers for your question:
1. Are you saying that CPU models are not performing well on the CUDA based torchserve image you are running?
Not that case from my recent tests. I have tried to use cpu torchserve image for serving those 7 cpu models and observed the same high CPU utilization when traffic increased. I thinks this is not related to GPU or GPU mode

[2020-09-04 12:05] anonuser278 commented on #587
@harshbafna , I created the config.properties file as you mentioned and tried deploying the model using
`torchserve --start --model-store model_store --models densenet161=densenet161.mar --ts-config config.properties`

_It showed the same error as before_. Also, as I am running in a virtual environment, following python executable is picked up.
[code]
the python executable in the virtual environme

[2020-09-05 07:50] krrishdholakia commented on #663
hi @dhaniram-kshirsagar not sure what happened but the endpoint managed to run it's now giving errors related to the huggingface library itself:
[code]

[2020-09-05 08:59] #663 closed

[2020-09-05 14:35] BorisPolonsky commented on #647
So what response will each client receive respectively after the server accumulates data from each client and finshes prediction on the whole accumulated batch.? Does this means that a client will receive prediction that should be delivered to another client?

[2020-09-05 14:36] BorisPolonsky commented on #647
So what response will each client receive respectively after the server accumulates data from each client and finshes prediction on the whole accumulated batch.? Does this means that a client will receive prediction that should be delivered to another client?

[2020-09-06 09:07] pommedeterresautee commented on #615
I have not yet found better trade off power / simplicity than torch serve to ... serve some onnx models.
It is using a simple custom handler.

I was wondering where there may be issues? (I understand that there is no exhaustive list because it s not tested for this use case) but just wondering if you see a risk somewhere?

[2020-09-06 11:38] quantum-fusion commented on #615
@pommedeterresautee I tried to convert the ONNX to .MAR format, but don't see a way currently to run ONNX models using Torchserve.  If you have a method for converting ONNX models please provide an example, and that would be fantastic.

[2020-09-06 11:40] pommedeterresautee commented on #615
It's not a "conversion", it's just a custom handler which loads onnx model with onnx runtime. Nothing fancy but not automatic. If you want to do the same thing you should check Microsoft onnx runtime library and see how to load your models. When you have your custom handler it's all about packaging it in the mar file and the torch serve doc is quite clear on how to do that, plus you can check the

[2020-09-06 11:43] quantum-fusion commented on #615
@pommedeterresautee Yes I looked at ONNXRuntime that Microsoft has, and was not able to get that working on either Windows10 or MACOS.  IF you have some examples with a wiki page, please point me to it, because I see the path of ONNX models , however do not know how to host them, and have no method to do so.

[2020-09-06 13:15] pommedeterresautee commented on #615
I can tell you that the pre compiled version of onnx runtime cpu version (the one on pip) works on Mac. After, it depends of the shape of your data so no general method unfortunately.

[2020-09-06 16:28] quantum-fusion commented on #615
@pommedeterresautee I would encourage you to look at the Pytorch batch examples that show you how to model host a Pytorch model (https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_152_batch). This example does not have any of the limitations that the Microsoft ONNX has which requires preprocessing.  This example has a very simplified preprocessor, which does not require

[2020-09-06 20:27] pommedeterresautee commented on #615
It looks like automagic, it's because the handler are included in torchserve code.
You can find it their:
https://github.com/pytorch/serve/tree/master/ts/torch_handler
It may be a good starting point for you, to adapt to onnx model.

[2020-09-06 20:32] quantum-fusion commented on #615
@pommedeterresautee I have already adopted the MAR model format for the model zoo from Pytorch, so I no longer need ONNX. It was a wrong standard, if nobody can explain it.  Furthermore, why doesn't Microsoft have their own model server that hosts ONNX?  That may be a better path, than to try to force TorchServe to support ONNX, with an undocumented path. What do you know about ONNX model hosting

[2020-09-07 04:01] akarazniewicz commented on #641
Just a my view. Unfortunatelly python solutions are quite challenging in terms of tuning for every-day user. Java on the other hand is rock solid in this area. After all it's supposed to be kind of black box, usually inside of the container and, well not that important from user perspective.

If You are looking for alternatives - ray-serve is excellent, pure python solution, which can be integrate

[2020-09-07 04:03] hoangminhq5310 opened #667 "Backend worker monitoring thread interrupted or backend worker process died."
## Context
I'm testing torchserve using the tutorial provided in the link: https://github.com/pytorch/serve/tree/master/examples/image_classifier/mnist

It works perfectly fine, but when I add a new model.py file:

[code]
and change the archive command to:

after executing the torchserve --start command, it returns:

* torchserve version: 0.2.0
* torch version: 1.6.0
* java version: 11.0.8
* Opera

[2020-09-07 12:16] zhoudayang commented on #378
expect

[2020-09-07 12:19] harshbafna commented on #378
This is being tracked through #656, targetted for 0.3.0 release. Closing this ticket.

[2020-09-07 12:19] #378 closed

[2020-09-07 17:42] vishal-wiai opened #668 "Deployment best practises for TorchServe"
I have few questions regarding deployment using TorchServe

- How scalable is TorchServe? Both in horizontal as well as vertical scaling and possible tradeoffs?
- Which way is preferred for deployment on AWS : Sagemaker, EC2, ECS or something else? And Why?
- What's the difference in using TorchServe or Multi Model Server on Sagemaker?
- Is it possible to do lambda deployment using TorchServe?
- A

[2020-09-08 11:48] vishal-wiai opened #669 "Failed to download and register model using s3 presigned v4 url"
I'm using management API to register a model with a HTTPs URL. It is a s3 presigned url. Torchserve successfully downloads and registers models from s3 v2 signature URLs but fails to download for v4 signature types. Is there any bug to it?

I checked this behaviour with 3 of the models and also verified URL permissions. Using `requests.get()` I'm able to download but not on TorchServe.

[2020-09-08 13:29] harshbafna commented on #669
@vishal-wiai: I was able to successfully register a model using an s3 pre-signed v4 URL.

**Note**: I had to replace `&` characters with its corresponding URL encoding character in the curl command i.e., `%26`.

[2020-09-08 13:34] harshbafna commented on #667
@hoangminhq5310: You will also need to supply the `mnist.py` file which is being imported in the new `model.py` file. You can use the `--extra-files` flag to supply the `mnist.py` file.

**Updated command:**

[code]

[2020-09-08 15:45] hoangminhq5310 commented on #667
Thanks @harshbafna, it works, but I'm wondering why the resnet-18 model in link: https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_18 does not require resnet-18 architecture file but only the model.py file which only imports the ResNet model?

[2020-09-08 16:04] harshbafna commented on #667
The 'ImageClassifier` class in `model.py` file in resnet-18 example actually extends the inbuilt ResNet model class from torchvision package and the arguments supplied to the super call are for loading the `resnet-18` flavor or ResNet model.

[2020-09-08 16:31] vishal-wiai commented on #669
Yes thank you @harshbafna . It worked after encoding `&` in the url with `%26`.

As a feature request, is it possible for TorchServe to do this encoding, under the hood?

[2020-09-08 16:35] hoangminhq5310 commented on #667
Then the resnet.py from torchvision should also be included in the --extra-files right? But in reality it is not necessary.
I tried to put resnet.py (from torchvision), model.py (from resnet-18 example) and index_to_name.json in the same directory,  then change the model.py as follow:
`from resnet import ResNet, BasicBlock

class ImageClassifier(ResNet):
    def __init__(self):
        super(Image

[2020-09-08 16:36] vishal-wiai commented on #669
Is it always safe to replace all `&` with `%26` in the url as string manipulation or are there any cases where this will fail?

[2020-09-08 16:46] vishal-wiai commented on #669
It works when you only provide the `url` parameter but fails when you provide additional params like `initial_workers`, `batch_size`, etc..
Any other encoding required?

[2020-09-08 17:45] maaquib commented on #623
@Leoduv were you able to resolve this issue?

[2020-09-08 17:46] #620 closed

[2020-09-08 17:49] maaquib commented on #537
@fancyerii @Bartlett-Will Closing this due to lack of activity. Please reopen if this is still an issue

[2020-09-08 17:49] #537 closed

[2020-09-08 17:53] maaquib commented on #577
@Leoduv Closing this since #635 is merged. Please reopen if this is still an issue.

[2020-09-08 17:53] #577 closed

[2020-09-08 18:00] maaquib commented on #669
@vishal-wiai Can you provide the HTTPs URL alongwith the parameters you are using?

[2020-09-09 04:49] harshbafna commented on #669
@vishal-wiai:

This is the way an HTTP request works, where the parameters supplied in the URL using `?` are separated using  `&` character. Thus, if the data to be passed to the URL, in your case the model URL, contains any `&` character, it needs to be encoded using the corresponding hexadecimal value. Hence, this needs to be handled at the client end.

You only need to encode the `&` character

[2020-09-09 04:57] harshbafna commented on #667
@hoangminhq5310

Since you have already installed the `torchvision` package through `pip` or `conda`,  the resnet.py file is already available in the python path. In case of mnist example, the model network file is not available in the PYTHONPATH by default and hence needs to be made available to `TorchServe`.

`TorchServe` extracts the model-archive (.mar file) in a temporary directory and adds i

[2020-09-09 07:14] Leoduv commented on #623
No we are still having this issue for now

[2020-09-09 09:24] vishal-wiai commented on #669
@harshbafna CURL did work for me but using `requests` gives me `HTTP 400` error (for both encoded and decoded url). Am I missing something?

[code]

[2020-09-09 11:38] harshbafna commented on #669
@vishal-wiai: This seems to be a problem with the `requests` module in python which by default encodes every special character supplied in the params.

A simple approach would be URL formation through string concatenation:

[code]

Reference: https://github.com/psf/requests/issues/1454#issuecomment-20832874

[2020-09-09 11:56] #669 closed

[2020-09-10 11:57] Jimexist opened #671 "Setup GitHub actions?"
## Is your feature request related to a problem? Please describe.

I see that we are using CircleCI which has good docker support, but there are not enough Python and Java tooling checks done in CI steps.

## Describe the solution

Probably some more GitHub actions can be setup to automate them?

For examples, `black` and `isort` can be setup to automatically check for code quality and styling in

[2020-09-10 12:05] Jimexist opened #673 "Setup lombok?"
## Is your feature request related to a problem? Please describe.

Java being a verbose language might be largely improved if we use Lombok.

## Describe the solution

Is there any possibility of setting up https://projectlombok.org for this project?

Then code like

[code]
can be simplified as:
[code]

Also there are many other handy usages.

## Describe alternatives solution

1. use Kotlin?

[2020-09-10 12:05] Jimexist commented on #673
related #641

[2020-09-10 13:02] Jimexist opened #677 "Setup spotless?"
## Is your feature request related to a problem? Please describe.

Currently Java code is not automatically formatted.

We can leverage some automated tool to apply formatting.

## Describe the solution

- https://github.com/diffplug/spotless
- also with Google java format (or some tweaked version of it)

## Describe alternatives solution

[2020-09-10 13:07] Jimexist opened #678 "Setup guice for deps injection and provide ways to configure WorkLoadManager"
## Is your feature request related to a problem? Please describe.

For now there's no deps injection but this project can benefit from guice e.g. so that code is more organized and testable.

Also there can be a way to inject yaml or toml based config into various parameter tuning, incl. WorkLoadManager.

## Describe the solution

Use guice.
Use a toml or yaml based config system.

## Describe alt

[2020-09-10 13:39] shivamshriwas opened #679 "Enhancing API regression suite to test batch support for models"
## Is your feature request related to a problem? Please describe.
The API Regression suite is used to test the models available in model zoo & examples such as HF - BERT.
However, this is yet incomplete as it does not test batching of inference request for the models.
As almost all models support batch inference there should some check for testing models with batch.

The current postman collection

[2020-09-11 05:16] Mgeethabhargava opened #681 "how to deploy sentence transformer model which has bert-base-nli-mean-tokens weights using torchserve"
i tried so many times to deploy my model using torchserve , it did not work

sometimes it is coming like this

2020-09-11 10:41:02,757 [INFO ] W-9004-encoder_model_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle -   File "/tmp/models/a7e46f396a6348deba9e844a002f7b36/handler.py", line 61, in handle
2020-09-11 10:41:02,757 [INFO ] W-9004-encoder_model_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycl

[2020-09-11 05:27] prashantsail opened #682 "Support for ensemble of models served in torchserve"
## Is your feature request related to a problem? Please describe.
- Currently to implement ensemble of models, the user needs to create a pipeline and manage data flow on the client side.
- This introduces an overhead of multiple API requests, slowing down the overall output.

## Describe the solution
- Ensembling could be achieved at the server side by providing a simple configuration which repre

[2020-09-11 06:08] harshbafna commented on #681
@Mgeethabhargava: Could you please share the steps used for creating the mar file?

You can refer to the [hugging-face transformers](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers) example available in the repo.

The example also uses a [config.json](https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/setup_config.json) file and uses it in

[2020-09-11 07:46] Mgeethabhargava commented on #681
@harshbafna  first i tried to download the model as follows:

from sentence_transformers import SentenceTransformer

xformer = SentenceTransformer('bert-base-nli-mean-tokens')
xformer.save('/home/ubuntu/Documents/xxxxxx/torchbot/sentencetransformer.pt')

torch-model-archiver --model-name embedding_model --version 1.0 --serialized-file /home/ubuntu/Documents/xxxxxx/torchbot/sentencetransformer.pt -

[2020-09-11 07:50] Mgeethabhargava commented on #681
@harshbafna  i initialize the handler like this

![IMG_20200911_131808](https://user-images.githubusercontent.com/24910158/92886702-7c0ca600-f431-11ea-95c4-84398fa2cd88.jpg)

[2020-09-11 11:14] harshbafna commented on #681
@Mgeethabhargava: The correct way of saving a pre-trained bert model is as follows:

[code]

This will generate all the required files for loading the model and these should be supplied to the model-archive. You can refer the sample model-archive creation command from the other hugging face transformer example [documentation](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transf

[2020-09-11 17:24] #634 closed

[2020-09-11 19:08] #505 closed

[2020-09-11 19:24] HamidShojanazeri commented on #681
@Mgeethabhargava If you intend to use the sentence-transformers from Huggingface what @harshbafna suggest should work. In case you are using [sentenceTransformers](https://github.com/UKPLab/sentence-transformers) from UKPLab, you may want to use loaded_xformer = SentenceTransformer() to load it back in the handler.

I have written a sample handler that may help. In this case when you save the mode

[2020-09-14 05:23] Mgeethabhargava commented on #681
thank you it's working and i got doubt how to change input type text file to string

[2020-09-14 08:21] Leoduv commented on #623
It seems that aiohttp has a default limit I didn't notice of 100 simultaneous requests :/ This was the cause of all my problems. Closing the issue.

[2020-09-14 08:21] #623 closed

[2020-09-14 08:43] harshbafna commented on #623
Thanks, @Leoduv for the update.

[2020-09-15 19:58] prashantsail opened #684 "Inferece collection under regression test suite fails"
## Context
The regression test suite fails as newman is unable to load iteration data(_inference_data.json_) for inference collection.

## Expected Behavior
Newman inference collection should be executed.

## Current Behavior
Newman inference collection fails to execute.

## Possible Solution
Remove an erroneous line (seems unintentionally added) in _inference_data.json_

## Steps to Reproduce
Exe

[2020-09-16 23:15] HamidShojanazeri commented on #681
@Mgeethabhargava if you mean the input text file, you can just change the input in the file into a simple string and then modify the preprocess() function in handler,  input_text = text.decode('utf-8') in the handler should just give you the passed string.

[2020-09-17 06:33] prashantsail commented on #682
# Support for Ensemble Models in TorchServe

## What are ensemble models?
\- Ensemble model represents a pipeline of models and the flow of data between them.
\- This can reduce the overhead of transferring intermediate tensors and minimize the number of requests that must be sent to torchserve.

## Approach
1. Ensemble will be a logical model representing a pipeline of required models.
2. From an

[2020-09-17 16:32] dhanainme commented on #661
Hi @yuanshaochen ,

TorchServe runs each inference in a separate Process. You may be able to isolate if this is a TorchServe specific issue by running N inference workers as processes with python multiprocess.

You might want to look @ the [knobs that are exposed by TS for performance tuning](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties) - job_queue_size / nu

[2020-09-18 13:00] prashantsail commented on #682
@chauhang @dhanainme @maaquib -
This is the approach we are thinking of. Let us know your thoughts.

[2020-09-19 04:42] harshbafna commented on #617
CLosing as the query has been answered and no response from OP.

[2020-09-19 04:42] #617 closed

[2020-09-19 04:43] harshbafna commented on #655
Closing due to no response from OP.

[2020-09-19 04:43] #655 closed

[2020-09-19 04:44] harshbafna commented on #667
Closing as the query has been answered and inactivity.

[2020-09-19 04:44] #667 closed

[2020-09-20 02:23] Jimexist commented on #671
related https://github.com/pytorch/serve/pull/672

[2020-09-20 10:51] pushpendrapratap opened #689 "relative import error with `custom handler`"
## Context
* torchserve version: `0.2.0`
* torch-model-archiver version: `0.2.0`
* torch version: `1.6.0`
* torchvision version [if any]: `0.7.0`
* java version: `openjdk 11.0.8 2020-07-14`
* Operating System and version: `Ubuntu 20.04`
* which python3: `/home/pushpendra/Documents/personal-src/ocr/venv/bin/python3`

## Your Environment
* Installed using source? [yes/no]: `no`
* Are you planning to

[2020-09-20 18:37] HamidShojanazeri commented on #689
@pushpendrapratap would please try to set the util file path in the initialize() method as utils = os.path.join(model_dir, "utils.py"), then import utils where its needed. Please let me know if that helps.

[2020-09-21 04:16] harshbafna commented on #689
@pushpendrapratap:

The model-archive is extracted in a temporary directory (model_dir) and added to the PYTHONPATH but it is not a package hence the relative import statement fails.

Use the following import statement

[code]

instead of

[code]

[2020-09-21 04:51] tranquangchung opened #690 "Example "text_to_speech_synthesizer" is not working"
I do step by step following by guide (README.md) but having many errors that I cannot fix.
https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer

If you have Dockerfile for each example. Please add this to repository.
Thanks

[2020-09-21 05:10] dhaniram-kshirsagar commented on #690
Can you post errors/logs from your execution.

[2020-09-21 05:48] tranquangchung commented on #690
Firstly, how I can find "tacotron.zip" in create_mar.sh. I make this by zip project "https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/Tacotron2". Is right? (I don't know)
Secondly, after creating "**waveglow_synthesizer.mar**" file.
I run it but having many errors (I just copy some errors from screen).

---
Torchserve version: 0.2.0

Number of GPUs: 2
Number of CP

[2020-09-21 16:51] tranquangchung commented on #690
2020-09-21 23:42:52,866 [INFO ] W-9000-waveglow_synthesizer_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle -     handle = getattr(model_service, "handle")
2020-09-21 23:42:52,867 [INFO ] W-9000-waveglow_synthesizer_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - AttributeError: 'WaveGlowSpeechSynthesizer' object has no attribute 'handle'
2020-09-21 23:42:52,867 [DEBUG] W-9000-waveglow_synthes

[2020-09-21 17:44] MFreidank opened #691 "S3 Model Store SSE support"
## Is your feature request related to a problem? Please describe.
Yes. The [management API](https://pytorch.org/serve/management_api.html#id1) has support for MAR files stored on S3, using syntax `/models?url=https://<s3_path>/${MODEL_NAME}.mar`.

However, when the MAR file is stored on a S3 bucket encrypted with server-side encryption (e.g. AWS KMS) the syntax above is insufficient because it doe

[2020-09-22 05:09] dhaniram-kshirsagar commented on #691
This can be very well covered via #476

[2020-09-22 05:40] #684 closed

[2020-09-22 08:47] cceyda opened #693 "Change batch_size of registered model through management API"
## Is your feature request related to a problem? Please describe.
This is more of a convenience issue.
It would be nice to have an endpoint for modifying `batch_size`, `max_batch_delay` and `response_timeout` for a registered model rather than deleting an re-registering a model.

## Describe the solution
It could be similar to modifying [number of workers](https://pytorch.org/serve/management_api.

[2020-09-22 13:09] harshbafna commented on #693
This is really good to have feature. A similar ticket is already there and targetted for future release.

https://github.com/pytorch/serve/issues/64

[2020-09-22 14:44] MFreidank commented on #691
@dhaniram-kshirsagar agree - but what would it take for that to get more traction? Looks like it's been open for a while.

[2020-09-23 02:42] yuanshaochen commented on #661
@dhanainme Thank you for the information. I have tried to tune the `job_queue_size` to zero and `netty_client_threads` to a small number, but the issue still happened. I think the problem is causing by requests for different models come in at the same moment, since we have >9 models and each request could use up to 30% CPU utils for model inference, the CPU utils would spike to 100% and could not

[2020-09-23 04:22] pushpendrapratap commented on #689
@HamidShojanazeri thanks for the suggestion but in my case, it will not help. Here is a reason:
Let's say I've a script `utils.py` which in turn import other python scripts (e.g., `video_transforms.py`), all imports are relative and not absolute. Now, in this scenario, your suggested approach will not work.

[2020-09-23 04:34] pushpendrapratap commented on #689
@harshbafna absolute import works. My bad, I think I didn't clarify it well that actually I was looking for any better way to achieve the same. The reason was that, in order to just deploy my model using `torchserve`, I've to create lots of duplicate scripts (`--extra-files`) and change relative import to absolte import in all of them.

Can you suggest any resources for `torchserve` best practices

[2020-09-23 05:23] harshbafna commented on #689
@pushpendrapratap, There can be a couple of approaches to supply multiple python dependency files while creating the mar file :

 - Create an egg file.
 - Create a zip file and extract it in the `model-dir` while initializing the handler.

[2020-09-23 05:57] pushpendrapratap commented on #689
@harshbafna Thanks for your response. Yes, I think for the time being I've to go with the above approach. But I really wish if the same codebase could have been used to serve the inference request (like if I'm going to use `Flask` or `Starlette`, all I've to do is add an `app.py` file and I'll be good to go).

[2020-09-23 05:58] pushpendrapratap commented on #689
Closing this issue as `absolute import` fixes the above issue.

[2020-09-23 05:58] #689 closed

[2020-09-23 06:46] dhaniram-kshirsagar commented on #661
@yuanshaochen
As you have mentioned, there are 9 models each having 1 worker. This means, you will be having 10  processes running on your machine. 10 process => 9 worker processes [which load and serve your specific model] + 1 main process with 9 worker threads. Assuming your request load is fairly distributed among 9 workers, what you can try is following
1. Increase the number of workers for ea

[2020-09-23 06:50] dhaniram-kshirsagar commented on #661
Seems like a model inference request taking more time and hence overall spike when all the models are busy inferencing.

No

As you said, the same TPS is still going on hence CPU load is not going down i.e. Model worker processes are still busy with inferencing

[2020-09-23 08:32] yuanshaochen commented on #661
Thank you for the suggestions! I have a naive question about the first suggestion: Why increasing the number of works could help with this issue, does it make it worse? As worker number increased, the chance to reach 100% CPU gets higher?

[2020-09-23 09:44] MFreidank commented on #476
What would it take to get the ball rolling on this one? Happy to support the effort if desired.
Resolving this is required to unblock my team, for more details on the exact use-case refer to #691 .

[2020-09-23 11:32] #47 closed

[2020-09-23 12:59] toretak commented on #64
what about to check if there is `MODELNAME.properties` in model store during start? If so, load batch_size and delay from it per model?

[2020-09-23 17:08] dhaniram-kshirsagar commented on #691
@MFreidank Sure will get back to you on this. This shouldn't take much effort. The idea here is to provide a pluggable or extendable interface. One way of achieving this could be to ask the user to configure the custom downloader **python** file which will be invoked by torchserve. Obviously, torchserve will have to supply the target download path to this custom downloader. This way download will

[2020-09-23 18:31] jeremiahschung commented on #556
This has been fixed now.

[2020-09-23 18:31] #556 closed

[2020-09-24 13:22] paniabhisek opened #699 "t5-small-e2e-qg model not able to serve: worker stopped"
**model**: https://huggingface.co/valhalla/t5-small-e2e-qg
**torchserve**: 0.2.0
**torch**: 1.6.0

**archived using**: `torch-model-archiver --model-name t5-small-e2e-qg --version 1.0 --serialized-file t5-small-e2e-qg.pt --export-path model_store --handler text_classifier`

**served using**: `torchserve --start --ncs --model-store model_store --models t5-small-e2e-qg.mar`

**output**:

	Torchserve

[2020-09-24 14:05] dhaniram-kshirsagar commented on #699
@paniabhisek Please create mar similar to this [huggingface example](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers) and try again.

[2020-09-25 06:36] harshbafna commented on #681
Closing due to inactivity.

[2020-09-25 06:36] #681 closed

[2020-09-25 06:48] tranquangchung opened #701 "model inference by java or pytorch ?"
Dear Author

We have a question about TorchServe.

Is TorchServe convert pytorch model to inference by java ?
Or Java only wraps outside pytorch model with the purpose is only easy to use ?

Thanks

[2020-09-25 06:59] dhaniram-kshirsagar commented on #701
@tranquangchung Java is not used for inferencing. We use PyTorch in the backend for inferencing.
Java is used in frontend component of torchserve whose main purpose is to provide rest APIs and model mgmt.

[2020-09-28 10:41] #699 closed

[2020-09-30 10:36] Atul997 opened #706 "How to serve model trained over mmdetection framework?"
I have trained my model using the MMdetection framework. After training the model, I have a checkpoint file in the .pth format and config file which helps in making inference/prediction. To draw an inference or making prediction steps take the following lines to generate predictions-

    from mmdet.apis import init_detector, inference_detector, show_result,show_result_pyplot
    import mmcv
    c

[2020-09-30 13:35] harshbafna commented on #706
@Atul997: You will need to follow the following steps to serve your model :

 - Write a custom handler to do preprocessing on model input, run inference, and do postprocessing on the model output. Refer [custom handler documentation](https://github.com/pytorch/serve/blob/master/docs/custom_service.md) for more details

 - Create a model archive using `torch-model-archiver` and pass your checkpoint

[2020-09-30 16:03] dhaniram-kshirsagar commented on #706
@Atul997  You can refer this guide to see if any of the given cases are relevant #629. The steps are similar to ones mentioned by @harshbafna

[2020-10-01 04:59] chauhang commented on #682
Thanks @prashantsail for putting this together.

1. Can you also describe how the support for different pipelining options will be handled in future releases? Are you thinking of having something like the workflows for the AWS Lambda Step function?
2. How will the batching get handled for the Ensemble models?
3. What provision will be there for debugging the ensemble pipeline?
4. Are we going to a

[2020-10-01 14:34] harshbafna commented on #682
@chauhang Please see the comments below

The user will define a pipeline/workflow while registering the ensemble model. We are thinking of following two approaches for how an end-user interfaces with TorchServe for registering an ensemble model. The ensemble model will be registered as a logical model.

**Approach A** :

Use the already existing model registration API with a new parameter named en

[2020-10-01 16:15] lxning opened #708 "Implement feature load_models=ALL"
Load all models present in model_store if load_models=ALL when torchserve is started.

[2020-10-01 16:21] lxning commented on #708
Implementation:
The feature was implemented at [load_models=all code](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/ModelServer.java#L146)

Test:
1. Local test via [config.properties](https://github.com/pytorch/serve/blob/96ccbbb9b19b1e4e6817367fcf87048bfcca6cd2/frontend/server/src/test/resources/config.properties#L8 )
2. Integration testing was done

[2020-10-02 12:33] gromoglasov opened #710 "[Question] K8s multi-model set-up for large models"
##  Question

The k8s integration with helm from 0.2.0 has helped a lot with the set up, but working with larger models is still a problem due to the memory requirements.

With the size of the models I am working with, I can only launch one/two models per machine. I can realistically only have 2 models registered per one TorchServe pod.

I was thinking to only deploy 1 model per 1 TorchServe pod,

[2020-10-02 18:38] veronikayurchuk opened #711 "[Question] How to debug custom handlers?"
Hi! I am very excited about torch serve, so thanks to all contributors to this awesome tool!
I have already run my custom model with custom postprocessing and here is a question that I am struggling to find an answer on. Any help would be very appreciated!

Question:
How to debug my custom handlers? In other words, how can I see what is happening with the data on each step (i.e initialize, preproc

[2020-10-02 23:49] chauhang commented on #710
@gromoglasov This should be fine for managing models on your own in K8s deployments.  You can inherit from the based TorchServe docker image and create a new image per model with the model config and mar files as part of that docker container and set the scaling rules for it on K8s side. Let us know if you run into any problems.

[2020-10-02 23:58] HamidShojanazeri commented on #711
@veronikayurchuk for debugging purposes in a custom handler, you can add prints / logs inside any of the function in the handler to obtain necessary info and you can see the info/logs in the terminal/shell that torchserve is running if you serving locally. I wonder if that helps you instead of checking the ts_log.log.

[2020-10-03 12:21] gromoglasov commented on #710
Thanks, @chauhang :)

[2020-10-03 12:21] #710 closed

[2020-10-04 14:14] saurabheights-ecr commented on #711
Not a repository owner.

This is not exactly what you are looking for but you can pass inputs to your handler directly same way as torchserve does.
For this, you can check :-

`model_service_worker.TorchModelServiceWorker`
:L108 -  which shows prediction call
:L84 - creates ts.model_loader.TsModelLoader object for loading model

Makes debugging quite easy.

Furthermore, it might be possible to do

[2020-10-05 15:19] harshbafna commented on #682
@chauhang Please ignore the previous comment. We had an internal discussion today there may be a different way to approach this. We will update this ticket in a day or two.

[2020-10-05 19:16] jeremiahschung commented on #24
Confirmed fix in the latest 1.7 RC thanks to the fix in [pytorch/pytorch#33354](https://github.com/pytorch/pytorch/issues/33354).

Followed steps in the original issue description to create a torchscripted densenet model and served it with TS.
[code]
[code]
@chauhang , can we close this issue now or wait until 1.7 is out?

[2020-10-06 06:16] Atul997 commented on #706
@harshbafna  @dhaniram-kshirsagar  I tried the above steps and create the custom handler but it is not working for me. My custom handler file is -

    """
    Base default handler to load torchscript or eager mode [state_dict] models
    Also, provides handle method per torch serve custom model specification
    """
    import abc
    import logging
    import os
    import importlib.util
    imp

[2020-10-06 06:21] harshbafna commented on #706
@Atul997: There is an incorrect (and unused) relative import statement in your handler

[code]

[2020-10-06 07:47] Atul997 commented on #706
I comment that line and re-ran it after archiving  but no success. Here is the log-

2020-10-06 13:16:09,359 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.2.1
TS Home: /home/billion/anaconda3/envs/serve/lib/python3.8/site-packages
Current directory: /home/billion/Desktop/modelserving
Temp directory: /tmp
Number of GPUs: 0
Number of CPUs: 4
Max heap size: 3986 M
Python executab

[2020-10-06 07:52] harshbafna commented on #706
@Atul997: I observed the following in the above logs :

[code]

You can either do
[code]
on the machine where TorchServe is running, or supply it as a model dependency in a `requirement.txt file` with your mar file.

[2020-10-06 10:29] paniabhisek opened #712 "how to register model present in local file system"
I have `my-model`, present in `/path/to/models`; the path is local file system path.

**command to start `torchserve`**: `docker run -p 8080:8080 -p 8081:8081 --name my-serve pytorch/torchserve:0.2.0-cpu`

Then when I try to register `my-model` -> `curl -X POST "http://localhost:8081/models?url=/path/to/models/my-model.mar"`, I get:

	{
	  "code": 404,
	  "type": "ModelNotFoundException",
	  "mess

[2020-10-06 10:55] harshbafna commented on #712
@paniabhisek: TorchServe 2.0 expects the URL to be either an HTTP(s) URI which can be downloaded from the internet or just the name of the mar file which is already present in the model-store.

In your case, you can map the model-store directory in the docker container to your local model directory which starting the container as follows:

[code]

Then change your curl command to the following:
[c

[2020-10-06 11:49] paniabhisek commented on #712
$ pwd
	/path/to/model-store
	$ ls
	model-store
	$ ls model-store
	my-model.mar

**command to start torchserve**: `docker run -p 8080:8080 -p 8081:8081 --name my-serve -v /path/to/model-store/model-store:/home/model-server/model-store pytorch/torchserve:0.2.0-cpu`

	$ curl -X POST "http://localhost:8081/models?url=my-model.mar"
	{
	  "code": 404,
	  "type": "ModelNotFoundException",
	  "message": "

[2020-10-06 12:17] harshbafna commented on #712
Do not replace the `($pwd)/model-store` in the command, this represents the default model-store path used in the TorchServe docker image.

[2020-10-06 12:46] paniabhisek commented on #712
Same issue. Besides `$(pwd)/model-store` and it's equivalent absolute path shouldn't make any difference, as after creation of container they will point to same path

[2020-10-06 13:18] harshbafna commented on #712
@paniabhisek: My bad, I by-mistake swapped the `-v` arguments. It should be <local-path>:<container-path>

Here is what I tried,

My local model-store
[code]

Docker container start command:

[code]

Model registration command:

[code]

[2020-10-06 14:01] paniabhisek commented on #712
My bad it has to do with file permission: the folder permission was `drwx------.` and file permission was `-rw-------`.

Also you can be anywhere in the local file system while registering as long as the file name is correct.

Thanks @harshbafna

[2020-10-06 14:01] #712 closed

[2020-10-06 14:14] dhaniram-kshirsagar commented on #682
@chauhang @lokeshgupta1975 @dhanainme @maaquib Based on the internal discussion, here are the updated approaches for ensemble support in TorchServe

**Scope**

Ensembles of models will support parallel inferencing with multiple
models followed by an ensemble function(expressed in post-processing code) to return the inferred output.

<img width="416" alt="scope" src="https://user-images.githubuserc

[2020-10-06 16:32] HamidShojanazeri commented on #479
@mfuntowicz I was wondering if there is any update/ workaround / PR  in progress to solve this issue. Thanks.

[2020-10-06 23:30] maaquib opened #713 "Benchmark dependencies installation failure on latest DLAMI"
Created on behalf of @HamidShojanazeri

**DLAMI ubuntu 18.04 v34.0**

[code]

[code]

[2020-10-07 02:28] misrasaurabh1 opened #714 "Autoscaling TorchServe Questions and feature request"
I am trying to deploy TorchServe in a kubernetes cluster and it seems hard to figure out how to autoscale this server to handle a variety of traffic load while not deploying maximum possible number of replicas to save money as well.

It seems like there is a Prometheus metrics framework with the v0.2 release and it has metrics like `ts_inference_latency_microseconds` , `ts_inference_requests_total

[2020-10-07 11:58] ematvey commented on #361
Another issue for serving multiple models on a single GPU. Since each worker of each model runs in its own process, CUDA context with its constant overhead of ~600MB is replicated across all models/workers. This overhead is critical in our case, where we run ~20 torch models as a pipeline for a single inference run.

I would love to see some kind of automatic GPU memory management, such as model w

[2020-10-08 02:13] reachtarunhere opened #716 "is there a method to add additional endpoints to the API?"
## 📚 Documentation

Say I want to POST some JSON which changes model's behaviour for inference of future requests?

[2020-10-08 02:58] dhaniram-kshirsagar commented on #716
@reachtarunhere Please provide an example.

[2020-10-08 03:00] dhaniram-kshirsagar commented on #716
I did notice the issue description. Yes, you can add additional endpoints, have a look at https://github.com/pytorch/serve/plugins. Documentation for this is in progress. Let us know if you need any other details on this.

[2020-10-08 15:22] sivashakthi commented on #397
We would like to know the status of this issue? Is this feature/fix in Sagemaker team's near-term roadmap?

[2020-10-08 20:40] MartinEliasQ opened #717 "Error when trying to install custom packages with the current Docker image."
## Context
I am trying to deploy my models in a cluster of [Kubernetes](https://github.com/pytorch/serve/tree/master/kubernetes). The image is successfully created following the [documentation](https://github.com/pytorch/serve/tree/master/docker#create-torchserve-docker-image). However, when trying to install custom packages such as nltk or pyyaml the server never finishes running. With the versio

[2020-10-08 21:26] spate141 opened #718 "Remove tmp models files under /tmp/models/ after torchserve --stop"
- Version: `torchserve == 0.2.0`
- Issue: When you start the torchserve; it generate tmp files under `/tmp/models/` which stays there even after you invoke `torchserve --stop`. These files keep piling up and over the time you will run out of disk space. Isn't there any mechanism that deletes these model files once you stop the server?

[2020-10-09 00:57] reachtarunhere commented on #716
@dhaniram-kshirsagar thanks for the prompt reply. Say along with text labelling I want to provide a captialization API (for reasons I can't explain in detail this has can't be  PyTorch model). So I would like to add an endpoint like /captalize/ instead of /predict/

Technically I can wrap torchserve behind another WebAPI and get this functionality. I am curious tho if I can avoid doing that.

Furt

[2020-10-09 04:42] harshbafna commented on #718
@spate141: Currently, the temp model directory is cleaned when a model is unregistered. However, when TorchServe is stopped the models are not unregistered and the server state is dumped into the snapshot.

This is a good catch.

[2020-10-09 11:59] Atul997 commented on #706
I have tried ut the thing is mmdet should be built before using it and it takes time to run and install.
I have tried it on docker but unable to do so. Kindly suggest a way to do this

[2020-10-09 18:13] lxning opened #720 "batch_size is hard coded as 1 if model is loaded during server initialization."
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: master
* torch version: master
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and version:

## Your Environment

* Installed using source? [yes/no]:

[2020-10-09 20:52] maaquib commented on #397
@sivashakthi TorchServe is now the default inference server for PyTorch models in SageMaker. It should work. Please let us know if you run into any issues.

[2020-10-09 20:55] maaquib commented on #718
@harshbafna Not sure if this is a bug. If we delete the model temp directory on server stop, won't reload from snapshot fail on server restart?

[2020-10-09 22:55] lxning commented on #682
If client side batches multiple requests together and sends the request to ensemble model. Should the ensemble model require each internal model's batch size must be 1?

[2020-10-10 00:11] spate141 commented on #718
Just some thoughts: How about `torchserve --stop --clear_cache` ? Or, an option with `torchserve --start` that won't make a brand new tmp copy of same model?

[2020-10-10 00:53] vikigenius opened #721 "no-archive model cannot be loaded"
## Context

* torchserve version: 0.2.0
* torch version: 1.6.0
* java version: 11.0.9
* Operating System and version: GNU/Linux

## Your Environment

* Installed using source? [no]:
* Are you planning to deploy it using docker container? [no]:
* Is it a CPU or GPU environment?: GPU
* Using a default/custom handler? [custom]:
* What kind of model is it e.g. vision, text, audio?: text
* Are you plan

[2020-10-12 10:18] harshbafna commented on #682
@lxning

The batching for any model is done at TorchServe's frontend layer. The ensemble model's every internal model will use the same batch size that is specified for the ensemble model at the time of registration.

The model's workers for the ensemble model will be independent of the regular workers and will only serve the ensemble model requests.

Any model used in the ensemble can have its ow

[2020-10-12 20:54] la-cruche commented on #459
Hi, I have a follow-up question: I see in TorchServe only the ability to configure a number of model workers. But how about the ability to configure the number of CPU allocated to a single model worker?
Let's take this fictional example: I have a model deployed in TorchServe over an 8-CPU machine. I want to create 2 model workers, using 4 CPU each. How can I configure than in TorchServe?

(that re

[2020-10-13 05:40] harshbafna commented on #718
@maaquib: TorchServe state restoration from snapshot does not depend on the model's temp directory. It expects the mar file for every model from the snapshot to be present in the model-store.

@spate141: This has been fixed as a part of Windows native support in PR #662, refer to the following code snippet from the PR for more details :

https://github.com/pytorch/serve/pull/662/files#diff-45f9e03

[2020-10-13 06:22] harshbafna commented on #717
@MartinEliasQ : It was the permission issue to the `venv` path in the docker container. Could you try with the Dockerfile from #724

[2020-10-13 07:52] harshbafna commented on #706
@Atul997: I have fixed the Dockerfile and added the required packages for building packages like mmcv/mmdt. Could you please try creating an image from Dockerfile in #724

[2020-10-13 12:49] cceyda opened #726 "Torchserve Management Dashboard"
I have created a dashboard for the management API using streamlit 🔥
https://github.com/cceyda/torchserve-dashboard

![Demo](https://cceyda.github.io/blog/images/copied_from_nb/torchserve/dashboard_demo.gif)

`pip3 install torchserve-dashboard --user`
`torchserve-dashboard`

Along with a TorchServe tutorial type [blog post](https://cceyda.github.io/blog/torchserve/streamlit/dashboard/2020/10/15/tor

[2020-10-13 14:45] mycpuorg commented on #726
Looks good, Thank you!

[2020-10-13 15:30] MartinEliasQ commented on #717
I tested my model with Dockerfile version #724  and it worked perfectly.
Thank you @harshbafna

[2020-10-13 16:08] HamidShojanazeri commented on #726
Nice work, thanks!

[2020-10-13 16:11] harshbafna commented on #717
@MartinEliasQ: I created a dummy mar file, with the following content for `handler.py` and `requirements.txt`

**handler.py**
[code]

**requirements.txt**
[code]

and was able to successfully register the model on TorchServe running inside the docker container created using Dockerfile from #724

**Registration Request**
[code]

**TorchServe Logs**
[code]

[2020-10-13 16:40] MartinEliasQ commented on #726
This looks really good, Thank you.

[2020-10-13 21:11] agpar opened #727 "Logging in custom handler?"
It looks like at the moment any logs output in a custom handler will be read from the stdout of the process running the handler, then output at level INFO from the thread managing the worker life cycle (in this class (?): https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java). Logging in custom handlers is useful in cases of more comp

[2020-10-14 04:23] yunjjun opened #729 "System metrics are not shown on port 8082 & Making inference API results as metrics"
Hello,
If you look at this page, torchserve provides System metrics.
(https://pytorch.org/serve/metrics.html)

However, when torchserve is included in prometheus and looked up, System metrics are not shown.
I wonder if there is a need to change the setting or if there is a special method.
(https://pytorch.org/serve/metrics_api.html)

Additionally, I am wondering if it is possible to make the value

[2020-10-14 04:52] harshbafna commented on #729
@yunjjun: Metrics logging and metrics API are two different things in TorchServe :-)

Please refer following documentation for `metrics_api` and integration with `Prometheus`:

https://pytorch.org/serve/metrics_api.html

[2020-10-14 06:01] yunjjun commented on #729
Thanks for answering :)

I think you are confused by asking two questions at once.
It means how to get metrics from #1 like #2 from Prometheus.

[#1]
![image](https://user-images.githubusercontent.com/59493881/95949219-2e6acb00-0e2d-11eb-9177-6c7e639022c6.png)

[#2]
![image](https://user-images.githubusercontent.com/59493881/95949159-0c714880-0e2d-11eb-8599-4ae65d776ea1.png)

[2020-10-14 06:34] Atul997 commented on #706
I am getting this error on executing the command after the mentioned changes-
`DOCKER_BUILDKIT=1 docker build --file Dockerfile -t torchserve:latest .`

    Building 11.7s (3/3) FINISHED
    => [internal] load build definition from Dockerfile                                                                                     0.8s
    => => transferring dockerfile: 2.89kB

[2020-10-14 06:48] harshbafna commented on #706
This looks like some proxy issue at your end, where the docker file is not able to connect to the registry.

[code]

[2020-10-14 07:05] harshbafna commented on #729
@yunjjun: The current matrics API does not return System Matrix data and is tightly coupled to Prometheus and returns the data in Prometheus specific format.

There is a work in progress (#722) where :

 - Metrics API will return all the metrics data in fix format including the system metrics as well.
 - Prometheus metrics collector will be converted to a plugin that will consume the data from met

[2020-10-14 17:52] agpar commented on #727
This would be much less of an issue if there was a special logger that was used only to record the log output from handlers. Then in the log4j settings I could apply a set of rules which only apply to the output from the handlers. For example, I would set them to log everything, with no formatting applied - then whatever the handler outputs would simply be copied to stdout, and none of these setti

[2020-10-14 22:21] #717 closed

[2020-10-15 04:28] yunjjun commented on #729
Thank you so much for answering ! 👍
I'm looking forward to seeing the next release soon :)

[2020-10-15 05:54] #729 closed

[2020-10-15 11:05] harshbafna commented on #355
Closing due to inactivity. The bug fixes in the image segmentation default handler are already merged to master as part of #432.

[2020-10-15 11:05] #355 closed

[2020-10-15 11:39] veronikayurchuk commented on #711
Thanks, @HamidShojanazeri and @saurabheights-ecr!
I found my alternative way of solving the issue.
It is not exactly what I was looking for, so I used a simple workaround, that temporarily helped me. Leaving it here in case someone is having the same issue.

I had to slightly modify my custom handler class. More specifically, in the `preprocess` method I changed
`data.get("image")` to `request["im

[2020-10-15 16:03] veronikayurchuk opened #730 "number of batch response mismatched for models with custom handler"
## Context

I want to serve a model that accepts 8 ordered images per each request and returns an output.
I wrote my custom handler, where a `preprocess` method collects images that are coming from request and forms a tensor with size [8, 3, H, W]. Next, it sends it to an `inference` method, where this tensor used as an input to my model.

I sent a single request and got the following error.

`202

[2020-10-15 21:41] HamidShojanazeri commented on #730
@veronikayurchuk I could not reproduce the issue with a custom handler, would you please share the handler/ minimal code to reproduce it.

[2020-10-16 04:54] harshbafna commented on #730
@veronikayurchuk:

In TorchServe, batching happens at the server frontend, where the frontend creates a batch of `n` (configured model batch_size, in your case 8) from `n` input requests and passes it on to the model handler, and expects `n` response back from the handler.

IIUC, you are doing the following steps:

 - you are sending one single request with 8 images,
 - converting these images int

[2020-10-16 05:43] jeremiahschung opened #732 "Metrics API returns empty response until TS process serves a prediction"
## Context

When the torchserve process initially starts, metrics API endpoints tested return an empty response. While this is a niche case (most likely TS would have served at least 1 prediction before the user calls the metrics APIs), it seems as though the API is broken.

* torchserve version: Installed from source on latest [master](https://github.com/pytorch/serve/commit/78d9c4133702cc2d413bf

[2020-10-16 05:59] harshbafna commented on #732
This should be taken up as part of converting Prometheus integration into a plugin (#611).

@maheshambule Could you please validate this?

[2020-10-16 07:01] maheshambule opened #733 "Shared memory model architecture changes"
## Is your feature request related to a problem? Please describe.
Using multithreading to share the model between workers to reuse the memory space.
The number of models that can be loaded by TorchServe should increase.
Need to handle CPU and GPU models as well.

## Describe the solution

## Describe alternatives solution

[2020-10-16 08:04] harshbafna commented on #419
Closing this ticket as Linux fork semantics does not work well with PyTorch models. Instead, we should look for sharing the models across multiple workers through multithreading and/or PyTorch's enhanced multiprocessing.

This will be tracked through #733

[2020-10-16 08:04] #419 closed

[2020-10-17 01:01] adumit opened #734 "Java index out of bounds exception when running many requests through server"
## Context
Trying to loadtest a torch serve model to gauge performance on a custom handler.

* torchserve version: 0.2.0
* torch version: 1.6.0
* java version: openjdk 11.0.8
* Operating System and version: Debian via the python 3.7-buster image.

## Your Environment

* Are you planning to deploy it using docker container? [yes/no]: yes
* Is it a CPU or GPU environment?: CPU
* Using a default/cust

[2020-10-17 15:37] chauhang commented on #732
@harshbafna A simple fix with message "No data" in the body should be fine. At present it is confusing for users when they get 200K response but nothing in metrics on initial install and think the metrics endpoint is broken. Adding this message is independent of prometheus integration

[2020-10-17 15:51] chauhang opened #735 "Health check for all endpoints"
At present there is a health check /ping only for the inference endpoint. Add health check for other endpoints as well for service validations for infrastructure automation like for the CFN deployments

[2020-10-17 17:19] #397 closed

[2020-10-18 00:58] vikigenius commented on #721
@dhaniram-kshirsagar where you able to reproduce the issue?

[2020-10-18 12:09] Licini opened #736 "Conda installation errors"
## 📚 Documentation
Hi,

There are few parts might need to small adjustments in installation instruction using conda:
1. `pip install -U -r requirements_gpu.txt` under conda would throw an error:
[code]
I needed to remove `+cu101` from requirements and install torch and torch version with `conda install pytorch torchvision cudatoolkit=10.1 -c pytorch` first.

2.  Suggesting replace `conda install t

[2020-10-18 13:04] Licini opened #737 "ModuleNotFoundError: No module named 'packaging'"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.2.1
* torch version: 1.6.0
* Operating System and version: Ubuntu 20.04 with Conda python3.8
## Your Environment

* Installed using source? [yes/no]: No
* Are you planning to deploy it using docker container? [yes/no]: Yes
* Is

[2020-10-18 21:21] reubenwenisch opened #738 "Custom Handler Detectron2"
## Context
I am trying to serve a detectron2 model with torch serve using a custom handler. I get the following error
**"TypeError: Object of type Instances is not JSON serializable"** after I convert the dictionary output of the model to a list.

* torchserve version: 0.2
* torch version: 1.6
* Operating System and version: Ubuntu 20.04

## Custom Handler Code
[code]

## Expected Behavior
Want th

[2020-10-18 21:30] reubenwenisch commented on #721
Can you try and comment on what you get
`torchserve --start --model-store model_store --models sqgen=BartQgen.mar --no-config-snapshots`

[2020-10-18 21:44] vikigenius commented on #721
@reubenwenisch if I use BartQgen.mar, I get the same model not found error. Of course it works perfectly fine if i actually create an archive called BartQgen.mar by removing the no-archive flag.

[2020-10-19 05:09] harshbafna commented on #736
@Licini: This is a documentation issue.

Please use the following command to run requirements_gpu.txt

[code]

[2020-10-19 06:13] harshbafna commented on #737
@Licini:  The TorchServe version reported by you is `0.2.1` and the same can be seen in the provided logs as well. However, the official latest version of TorchServe is 0.2.0 only. Is this some custom implementation of TorchServe that you are using?

The `packaging` module used in `object_detector` default handler is already a part of TorchServe dependency defined in [setup.py](https://github.com/