[2022-05-18 00:13] msaroufim commented on #1636
## Python code coverage

Module	statements	missing	excluded	coverage
[ts/__init__.py](https://github.com/pytorch/serve/issues/d_ef6fb7d9bb9f4358___init___py.html)	3	0	0	100%
[ts/metrics/__init__.py](https://github.com/pytorch/serve/issues/d_162ef05779c78626___init___py.html)	7	0	0	100%
[ts/metrics/unit.py](https://github.com/pytorch/serve/issues/d_162ef05779c78626_unit_py.html)	4	0	0	100%
[ts/mode

[2022-05-18 00:26] lxning commented on #1631
This code refactoring makes backend handler elegant. The only issue I can see is more related to the communication b/w frontend and backend by using environment variable.

- From security perspective, it is not safe by using environment variable as a way to pass configuration b/c environment variable can be easily hacked.

- It is not necessary to set env when frontend and backend are in the same

[2022-05-18 00:40] msaroufim commented on #1636
## Tests are all over the place

We should have them all in the same directory and use nested directory structures

[code]

[2022-05-18 02:58] #1621 closed

[2022-05-18 05:20] HamidShojanazeri commented on #1537
if not mistaking, you are sending the whole video as one request? if its not streaming, then I think in a custom handler it should be doable, does something like this help?

[code]

[2022-05-18 07:12] MariaBocsa commented on #1635
I tried this and it works without torchserve.
Yes, the principal problem is with the "inverted_residual_setting" parameter from efficientnet model. I don't know how to set this parameter in `super(ImageClassifier, self).__init__()`  from model.py

[2022-05-18 07:15] MariaBocsa commented on #1635
for example ResNet152  model looks like:
[code]

and it works with torchserve

[2022-05-18 08:52] tulbureandreit commented on #1635
@msaroufim I have the same problem as @MariaBocsa

The model is working fine when inferencing by calling
[code]

But when supplying this model.py for archiving the model for serving it does not work

hence model.py looks like:
[code]

[2022-05-18 12:19] tulbureandreit opened #1638 "Has anybody managed to serve efficientnet (from torchvision) ?"
Hello,

I cannot find no documentation on serving the efficientnet(from torchvision) with torchserve.

I struggle, as the serve worker dies everything and the status of the server jumps around from Healthy, to partial healthy to unhealthy and then the workers restarts.

I think I do not create the .mar archive correctly for torchserve.

Any ideas?

[2022-05-18 18:03] msaroufim commented on #1637
There are about 12 tests that take longer than a minute

With the problematic ones being <google-sheets-html-origin><style type="text/css"></style>

Time in minutes | Test
-- | --
3.64 | test/pytest/test_snapshot.py::test_snapshot_created_on_start_and_stop
3.18 | test/pytest/test_metrics_kf.py::test_logs_created
3.17 | test/pytest/test_handler.py::test_mnist_model_register_and_inference_on_valid_m

[2022-05-18 22:21] mdaj06 commented on #1489
@msaroufim could i have a look at this?

[2022-05-19 02:30] msaroufim commented on #1546
For accelerated decoding, these are all the endpoints we can improve

[code]

[2022-05-19 16:32] lxning opened #1640 "broken link in the report.md of benchmark automation"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: v0.6.0
* torch-model-archiver version:
* torch version:
* torchvision version [if

[2022-05-20 18:19] lxning opened #1642 "add OMP_NUM_THREADS default as 1 for CPU device in config.properties"
## Is your feature request related to a problem? Please describe.

According to [known issue](https://github.com/pytorch/pytorch/issues/3146), it can optimize performance for CPU to set "OMP_NUM_THREADS". So it is convenient for users to set  "OMP_NUM_THREADS" in TS config.properties.

## Describe the solution

1.  add OMP_NUM_THREADS in config.properties. (default value: 1)
2. set environment var

[2022-05-20 18:47] msaroufim commented on #1642
We have more sophisicated heuristics as part of this PR https://github.com/pytorch/serve/pull/1401

Although I do agree that OM_NUM_THREAD=1 is a reasonable default

[2022-05-21 19:03] nikunjbjj opened #1644 "Server does not start on mac when jdk is installed"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context
 Run the server using the following command and getting the following error-

[code]

[code]

[code]

[co

[2022-05-21 21:18] msaroufim commented on #1644
Yeah for now we official support JDK 11 but did look into updating versions here #1619

[2022-05-22 07:19] csukuangfj commented on #206
@aaronmarkham
The link to the pdf file is broken. Could you update it? Thanks!

[2022-05-23 09:38] BeMarinoGit opened #1646 "Unable to build a CPU based image"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context
I was trying to build a CPU based image but running the `./build_image.sh` script leads to the following

[2022-05-23 15:13] mhashas opened #1647 "How to return n images instead of 1?"
Hi,

I am trying to deploy a DALL-E type model, in which you get as input a text and you receive as output a couple of images.

[code]

  This does not work and results in a failure, with the logs from torchserve saying 'object of type bytearray is not json serializable'

  However, changing `return [outputs]` into `return [outputs[0]]` makes it work. What can I do regarding this?

[2022-05-23 15:40] msaroufim commented on #1647
By default, all the handler functions `preprocess, inference, postprocess` take in a `List[Any]` and output a `List[Any]` so a `List[List[Any]]` also works just fine. So if your `preprocess(input : List[str]) -> List[torch.tensor]` `inference(tensors : List[torch.tensor]) -> List[torch.tensor]` and finally `postprocess(tensors : List[torch.tensor]) -> List[Image])`

I'm not exactly sure where you'

[2022-05-23 15:53] mhashas commented on #1647
Hi @msaroufim, thanks for the quick response, these are the logs that I get back

2022-05-23T15:52:22,028 [INFO ] W-9000-image-generation-glid-3_1.0-stdout MODEL_LOG - Unable to serialize model output.
2022-05-23T15:52:22,028 [INFO ] W-9000-image-generation-glid-3_1.0-stdout MODEL_LOG - Traceback (most recent call last):
2022-05-23T15:52:22,028 [INFO ] W-9000-image-generation-glid-3_1.0-stdout MOD

[2022-05-23 16:21] msaroufim commented on #1647
Ideally I'd still like a full repro with your mar file for example - this template helps https://github.com/pytorch/serve/issues/new?assignees=&labels=&template=bug_template.md

But if you can't provide that the issue seems to be here

`2022-05-23T15:52:22,028 [INFO ] W-9000-image-generation-glid-3_1.0-stdout MODEL_LOG - json_value = json.dumps(val, indent=2).encode("utf-8")`

Since after that the

[2022-05-23 16:23] lxning opened #1648 "DLRM example"
please provide [DLRM](https://github.com/facebookresearch/dlrm) example.

## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2022-05-23 17:03] mhashas commented on #1647
Thanks for the help.

Changing the append line into `outputs.append(base64.b64encode(byte_output.getvalue()).decode())` solved it.

Regarding the repo, I can share with you my handler and the requirements file. What is left is to download the models from:  https://github.com/Jack000/glid-3-xl. I unfortunately do not have time to make a PR, sorry about that.

Let me know if you think its useful to

[2022-05-23 17:21] #1647 closed

[2022-05-23 22:45] lxning opened #1651 "cpp backend milestone1 - java frontend"
This is java frontend work in cpp backend milestone1.

## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2022-05-23 23:58] msaroufim commented on #206
You can check out docs/internals.md to see the diagram

[2022-05-24 08:19] NormXU opened #1652 "When will a new worker be started by Torchserver ?"
### [Question]
As [here](https://pytorch.org/serve/management_api.html#scale-workers) mentioned:

Does that mean that TorchServe will automatically start a new worker for the registered model during the inference stage when there still exists enough GPU memory?

Suppose we have configuration like below

[code]

I monitored my server and noticed that torchserver always started 1 worker for network.

[2022-05-24 11:29] BeMarinoGit commented on #1646
I tried to follow your suggestion, specifically i used the ubuntu:22.04 as base image but unfortunately the issue is still present.

[2022-05-26 03:13] thangld201 opened #1656 "Any examples on serving Speech2Text models from Huggingface, such as Wav2Vec2 ?"
### 🚀 The feature

As far as I know, there are no examples or documentation on serving Speech2Text models from Huggingface, such as Wav2Vec2. How could I enable serving with Wav2Vec2 Huggingface pre-trained checkpoints ?

### Motivation, pitch

I'm working on Huggingface Wav2Vec2 models' deployment, and would like serving on these models made possible. Thank you !

### Alternatives

_No response_

[2022-05-26 03:14] thangld201 commented on #1656
@msaroufim Could you help me ?

[2022-05-26 03:32] msaroufim commented on #1656
So we have support for huggingface text models but haven't yet added support for an Audio example. You can feel free to contribute it but if you'd like me to prioritize it could you please elaborate on what you'd use it for?

[2022-05-26 03:56] thangld201 commented on #1656
Thank you for the explanation. I'm trying to deploy Huggingface Wav2Vec2 models for serving with TorchServe, but haven't found a way to do this as there are no related documentations, apparently. Could you show me one way or another that could work ? I'm not familiar with the APIs.

[2022-05-26 04:09] thangld201 commented on #1656
The model receives float tensors as inputs and output logits, which are then decoded to human-readable text. Since TorchServe provides supports for Huggingface language models, which also receive tensors as inputs, I figured there should somehow be a workaround for Wav2Vec2.

[2022-05-26 05:13] msaroufim commented on #1656
So the list of changes I'd expect are
* Adding `AutoModelForCTC` here https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L80
* Adding a tokenizer here `https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L80

I also need to better understand how the data format works here fo

[2022-05-26 05:31] msaroufim commented on #1635
Hi @MariaBocsa sorry for the delay, so one idea is that the error is expecting a List of config instead of a single one so you can pass in a list like so by wrapping with `[]`

[code]

The other problem could be that you're passing in a class definition instead of an object so you may need to do something like

[code]

This doesn't feel like a torchserve bug to me but if you're still stuck let me

[2022-05-26 05:34] msaroufim commented on #1652
Hi @NormXU just to clarify if you set `minWorkers=4` or some number larger than 1 then you get the behavior you expect which is a larger memory allocation on GPU?

[2022-05-26 06:48] thangld201 commented on #1656
The ```sample``` above is a dict, and may look like this. But for inference we only need the ['audio']['array'] property.
[code]
 In short, the follow codes should suffice:
[code]
 The cast_column function is available for the huggingface datasets class only, but it is fairly simple to implement similar functions, and it's only a preprocessing step.
 Again, thank you for the explanation!

[2022-05-26 07:43] NormXU commented on #1652
@msaroufim Exactly. I expect the the torchserver can automatically start or kill workers according to the left GPU memory and `maxWorkers` is the largest number of workers a handler can start. However, my experiments showed that it might not work in this way

[2022-05-26 07:53] thangld201 commented on #1656
Are supports for these models coming soon ?

[2022-05-26 20:48] #1640 closed

[2022-05-26 23:48] nickliu86 commented on #464
@Varun-Epi Can you share your script torch_serve_handler.py? I'm trying to use an allennlp model in torchserve but have a hard time to make it work. Thanks a lot!

[2022-05-27 07:31] yaoing opened #1659 "Missing response in continuous request test"
### 🐛 Describe the bug

Hello, I am trying to test the error cases using the postman toolkit. In the cases, I send the same wrong params continuously, however, only the first request return corresponding respose and log, and the others are mute. At first I thought the problem came from within the custom handler class, but then I realized that the requests didn't go into the preprocess method. And

[2022-05-28 17:09] jack-gits opened #1660 "has no permission to install library."
### 🐛 Describe the bug

I'm using the basic docker of  pytorch/torchserve:0.6.0-gpu.
when I install library in this docker, I met the following errors:

Installing collected packages: tifffile, threadpoolctl, scipy, PyWavelets, opencv-python-headless, opencv-python, networkx, munch, imageio, scikit-learn, scikit-image, efficientnet-pytorch, timm, qudida, pretrainedmodels, segmentation_models_pytor

[2022-05-29 14:15] jiaojiaoho commented on #1659
having the same issue here

[2022-05-30 11:40] IamMohitM commented on #577
I have the install_py_dep_per_model property set to true in my config.properties:
[code]

and I'm passing the following requirements.txt

[code]

to my model-archiver command

[code]

However, while running torchserve via docker I still get the same error: `no module named cv2`

[2022-05-30 15:58] IamMohitM commented on #1094
Actually ignore the above comment. This happened because my docker command didn't have the path to the mounted config  instead used the path to the local config.

[2022-05-30 16:18] msaroufim commented on #1094
Hmm I think we should print out the used config in logs to make debugging easier

[2022-05-31 18:48] rahul003 commented on #1579
As a first step is there any proposed standardization of APIs around partial checkpoints?

[2022-05-31 23:42] msaroufim commented on #1579
@yifuwang @ananthsub @HamidShojanazeri can comment more

[2022-05-31 23:51] msaroufim commented on #1660
Hi @jack-gits I can't repro this error using the vanilla torchserve docker file. Do you mind sharing a minimal repro of your `Dockerfile`?

[2022-06-01 13:10] IamMohitM opened #1662 "Can't access served models via grpc"
### 🐛 Describe the bug

I have two models served on a remote server. Accessible via http request without an issue. However, when trying to connect via grpc, I get the error `failed to connect to all address`

[code]
I have generated the pb2 files using the following command:

[code]

The inference.proto and management.proto were downloaded from https://github.com/pytorch/serve/tree/master/frontend

[2022-06-01 13:44] IamMohitM commented on #577
@FestinaI Yes, this seems to be working however, a differnect error occurs:

[code]

Is this an opencv installation error? I'm adding the following version `opencv-contrib-python==4.5.4.58`

[2022-06-01 14:16] festinais opened #1663 "Model not loaded - MODEL_LOG - what(): std::bad_alloc - Torchserve version: 0.5.2"
### 🐛 Describe the bug

**Torschserve:**:
Name: torch-model-archiver
Version: 0.6.0
The command to create the MAR file: torch-model-archiver --model-name bodypartrec --version 1.0 --serialized-file model.pt --handler model_handler.py --requirements-file requir/requirements.txt

**KServe**:
Inferenceservice:

apiVersion: "serving.kserve.io/v1beta1"
kind: "InferenceService"
metadata:
  namespace: "k

[2022-06-01 14:44] IamMohitM commented on #1662
Actually, it seems to be working fine. The issue was that the port of the remote machine was not allowed by the inbound rules on AWS. It works fine by changing the inbound rules.

[2022-06-01 14:44] #1662 closed

[2022-06-01 23:06] msaroufim commented on #1587
Ok running experiments one more time - tracking them all here https://gist.github.com/msaroufim/b8569bab0d2ddd777a53a9c59d8ebffe

[2022-06-02 14:00] FestinaI commented on #1663
So I found the trigger to it. Basically I'm using KServe and torchserve is started in the kserve env.
When I created the MAR file I passed the **monai==0.8.1** dependency through the **--requirements-file requirements.txt**, where I also added the **install_py_dep_per_model=true** in the **config.properties** file.

When I created the MAR file without any requirements file then it worked properly

[2022-06-02 16:07] msaroufim opened #1666 "Fully automated release"
### 🚀 The feature

We're close to fully automated releases with our new nightly build setup by leveraging nightly builds. The remaining gaps are

* [x] #1620
* [ ] A process to eyeball metrics from our benchmark scripts and notify us of any issues @lxning
* [ ] A script `release.py --date 20220601 --version 0.6.2` which would take care of uploading all binaries in one go

### Motivation, pitch

Wi

[2022-06-02 16:26] msaroufim commented on #1663
OK that's good'ish news, thanks for looking into it - I don't think a requirements.txt should just break everything though. Can you repro this issue without kserve, just a vanilla torchserve setup with `monai==0.8.1`

[2022-06-02 19:05] FestinaI commented on #1663
No I couldn't reproduce it without kserve. I tried with different python envs 3.8-3.10, and everything worked fine. The error always happened with kserve.

[2022-06-02 23:02] msaroufim opened #1667 "Make all tests runnable via pytest"
### 🚀 The feature

Today we cannot run these 3 test folders using pytest
* https://github.com/pytorch/serve/tree/master/test/pytest
* https://github.com/pytorch/serve/tree/master/ts/torch_handler/unit_tests (this is the easiest to start with)
* https://github.com/pytorch/serve/blob/master/ts_scripts/sanity_utils.py  (which does not use pytest :( )

We should be able to just run them using `pytest

[2022-06-03 00:11] msaroufim opened #1668 "Integrate dead link checker in linting CI"
### 🚀 The feature

Instead of silently failing in CI we should fail explicitly https://github.com/pytorch/serve/runs/6717935460?check_suite_focus=true#step:6:611700

[code]

### Motivation, pitch

Noone likes to click on a dead link

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-03 07:55] fullscratchlove opened #1669 "Text to speeh synthesizer predict failed."
I served waveglow_synthesizer and predict.
$ curl http://127.0.0.1:8080/predictions/waveglow_synthesizer -T sample_text.txt -o audio.wav
But I get the following error and cannot generate audio.

[code]
If you have a sample of the correct execution, could you please let us know?
Thanks.

[2022-06-03 18:35] msaroufim opened #1670 "Add regression test to CI"
### 🚀 The feature

Regression test on GPU take about 30 min so could be potentially added to CI which takes about 20 min
Regression test on CPU takes more than 12h but I suspect the majority of time is spent on BERT inference where it took 1-2s per inference

If we can get both to ~30min then it's realistic to add this to CI

### Motivation, pitch

Right now none of our handlers are tested in CI s

[2022-06-04 07:48] Gabibing commented on #1392
I'm having trouble with same problem.
I built the image by cu113 production build.
but I got same error
[code]

result <code>python -m torch.utils.collect_env</code> below
[code]

[2022-06-06 04:01] jagadeeshi2i commented on #1663
@FestinaI KServe 0.8.0 uses torchserve 0.5.3 which has been reported with issue #1587 Can you try installing KServe from source which has torchserve 0.6.0.

[2022-06-06 08:50] CerebralSeed opened #1671 "Assign Device Inside of Model"
This is a really simple question. My model's forward pass has something like this:

`out=torch.empty(size=(batch_size,0))`

Which I then fill with an iterator. The above, if left as is, will give a "RuntimeError: Expected all tensors to be on the same device, but found at least two devices".

With Torch Serve, the model is entirely encapsulated in a single .py file. And the Handler.py file defines

[2022-06-07 03:37] CerebralSeed commented on #1671
Add one more thing, I've already tried putting this in the init of the model:

`self.device = torch.device("cuda:" + str(properties.get("gpu_id")) if torch.cuda.is_available() else "cpu")`

That just gives a bunch of non-descript errors:

[code]

The main question is just how can I get the device into the model for use in making new tensors in the forward pass.

[2022-06-07 05:38] jpunis commented on #1490
Its not about multiprocessing or archieving parallelism. its about reading the output stream.  If you dont process the output and reaches the maximum size, processes enter deedlock.
I created one simple class that extends Thread so I can read the output
![setupModelDependecies](https://user-images.githubusercontent.com/78851875/172303712-fc9b14b2-3d3b-458b-924f-949a71c2a966.png)

in the setupModel

[2022-06-07 11:18] IamMohitM commented on #776
Yes, @msaroufim @harshbafna could you please provide steps for performing grpc secure communication for both client and server?

I have created a private key (.key) and certificate file (mycert.pem) on the server side. Copied the  certificate on the client side and using the following code on the client side

[code]

However, this doesn't seem to work. I get the error:

[code]
or
[code]

[2022-06-07 14:26] #1671 closed

[2022-06-07 20:56] lxning commented on #1669
@fullscratchlove I followed the [instruction](https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer) on GPU EC2 instance and it works for me.

[code]

Are you using GPU host?

[2022-06-07 21:15] lxning commented on #1644
@nikunjbjj pls run torchserve on java 11. Feel free to open this ticket if there are any issues.

[2022-06-07 21:15] #1644 closed

[2022-06-08 07:31] bamboosdu commented on #1663
same to me
`2022-06-08 15:26:47,431 [INFO ] W-9000-maskrcnn_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - Listening on port: /tmp/.ts.sock.9000
2022-06-08 15:26:47,431 [INFO ] W-9000-maskrcnn_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - [PID]19125
2022-06-08 15:26:47,431 [INFO ] W-9000-maskrcnn_1.0-stdout org.pytorch.serve.wlm.WorkerLifeCycle - Torch worker started.
2022-06-08 15:26:47,

[2022-06-08 07:53] fullscratchlove commented on #1669
@lxning  Thanks.
I checked the model status and the GPU was set to true.

[code]

The error message I saw was a mismatch in the arguments passed to infer(), and I couldn't figure out why that would happen.

[2022-06-08 08:40] festinais commented on #1663
@bamboosdu  the error in your case is happening for a different reason! it's not the memory leak issue!
Read more into it, your model is not even loaded from this log for example: `Load model failed: maskrcnn`

[2022-06-08 09:32] festinais commented on #1663
@jagadeeshi2i I can't seem to find a kserve source that has torchserve 0.6.0.
One idea I had in mind was to enter the container and install the torchserve 0.6.0 manually, however I'm not sure how to start torchserve inside the kserve env. manually because I can't find the MAR file in there....

Do you have any ideas?

[2022-06-08 09:43] festinais commented on #1663
or I will try to just change the version when installing kserve inside the kserve.yaml file.
[code]

[2022-06-08 09:50] festinais commented on #1663
also in the **kserve-runtimes.yaml** there is:
[code]
I'm not sure if I change it to **kserve/torchserve-kfs:0.6.0** that it would work in this case..

[2022-06-08 10:03] jagadeeshi2i commented on #1663
@festinais Pls try changing the images to pytorch/torchserve-kfs:0.6.0 both on runtimes and kserve. yaml.

[2022-06-08 11:06] festinais commented on #1663
@jagadeeshi2i  I just updated the yaml files both kserve.yaml and kserve-runtimes.yaml with torchserve 0.6.0. I couldn't create the inferenceservice with kserve updated with these yaml files. The inferenceservice status was always FALSE , and there weren't any pods created for me to see logs.

[2022-06-08 11:15] jagadeeshi2i commented on #1663
@festinais you have to use this image - https://hub.docker.com/layers/torchserve-kfs/pytorch/torchserve-kfs/0.6.0/images/sha256-43c1c14b2768c0cd73ce40e23da0a56176532b3c0fcb8b2217c087da3054c372?context=explore I have mentioned in the above comment.

[2022-06-08 11:50] festinais commented on #1663
thank you! it works now :)
it was my mistake, i was referring to kserve/ instead of pytorch/..

[2022-06-08 11:50] #1663 closed

[2022-06-08 20:01] pjerryhu commented on #1646
I'm experiencing the same issue.
I haven't touched anything yet, so I believe build docker image is currently broken for master too

[2022-06-08 20:06] msaroufim commented on #1646
@pjerryhu are you observing this issue for Ubuntu 22.04 as well?

[2022-06-08 22:54] pjerryhu opened #1673 "Unable to build a CPU based image - version recognition error"
### 🐛 Describe the bug

Running `bash build_docker.sh` will give no matching distribution error

[code]

### Error logs

[code]

### Installation instructions

Install Torchserve from source: Yes. I followed this guide - https://github.com/pytorch/serve/blob/master/docs/getting_started.md

Are you using docker? Yes. I ran `bash build_image.sh -t torchserve:local` and already run into error

### Mo

[2022-06-09 09:23] Sigura commented on #1587
Same issue. @jagadeeshi2i: Did you up docker container on MacOS? In my case same exception on Macbook 2019 i9. Because looks like it work on Ubuntu

MacOS details
![Screenshot 2022-06-09 at 12 21 59](https://user-images.githubusercontent.com/428500/172813441-90c4776f-0105-4c3d-9532-c27876305015.png)

[2022-06-09 17:37] msaroufim opened #1676 "Revamp docker `build_image.sh` and `Dockerfile` and create more tests for local docker builds"
### 🚀 The feature

I've been noticing a few recurring issues with our Docker images
* No support for Ubuntu 20.04 - fix ready to be merged https://github.com/pytorch/serve/pull/1674 EDIT: May not be needed if we revert the NVIDIA key sign issue
* Broken images for TS 0.5.3 https://github.com/pytorch/serve/issues/1587 which I updated here https://hub.docker.com/r/pytorch/torchserve/tags
* Customer

[2022-06-09 19:10] lxning commented on #1673
@pjerryhu After fixing #1646, i ran the following command on my mac. it works for me. Could you pull the latest master branch and try again ?

./build_image.sh -t torchserve:local
[+] Building 407.7s (25/25) FINISHED
 => [internal] load build definition from Dockerfile     0.0s
 => => transferring dockerfile: 4.50kB                   0.0s
 => [internal] load .dockerignore                        0.

[2022-06-09 19:15] lxning commented on #1646
@BeMarinoGit Pls feel free to try the fixing and reopen this ticket if there is any issue.

[2022-06-09 19:15] #1646 closed

[2022-06-09 22:12] lxning commented on #1669
@fullscratchlove Here is the information of my environment.

1. model:
-rw-rw-r--  1 ubuntu ubuntu 1114353653 Jun  7 20:37 waveglow_synthesizer.mar
3. cuda: cuda 10.2
4. torch:
pip freeze|grep torch
torch==1.11.0
torch-model-archiver @ file:///home/ubuntu/serve/model-archiver
torch-workflow-archiver @ file:///home/ubuntu/serve/workflow-archiver
torchaudio==0.11.0
torchserve @ file:///home/ubuntu/s

[2022-06-09 22:24] lxning commented on #1673
@pjerryhu yeah, I think so. The root cause is mac M1 according to PyTorch installation instruction.

# MacOS Conda binaries are for x86_64 only, for M1 please use wheels
conda install pytorch torchvision torchaudio -c pytorch

[2022-06-09 22:34] lxning commented on #1515
close this ticket due to dup #1363

[2022-06-09 22:34] #1515 closed

[2022-06-09 23:37] lxning opened #1678 "Torchserve support mac M1 chip"
### 🚀 The feature

According to [PyTorch installation instruction](https://pytorch.org/), Torchserve needs to update PyTorch installation and docker for Mac M1.

"MacOS Conda binaries are for x86_64 only, for M1 please use wheels
conda install pytorch torchvision torchaudio -c pytorch"

### Motivation, pitch

To unblock TS on Mac M1.

### Alternatives

_No response_

### Additional context

_No re

[2022-06-10 00:21] kevinyaoxm opened #1679 "In DescribeModel, worker is ready before model is loaded"
### 🐛 Describe the bug

https://github.com/pytorch/serve/blob/162af4f9c503d8c1e6870efb5fb0d3a4519c4cea/frontend/server/src/main/java/org/pytorch/serve/http/messages/DescribeModelResponse.java#L137

https://github.com/pytorch/serve/blob/162af4f9c503d8c1e6870efb5fb0d3a4519c4cea/frontend/server/src/main/java/org/pytorch/serve/util/ApiUtils.java#L384

https://github.com/pytorch/serve/blob/162af4f9c503

[2022-06-10 17:39] msaroufim commented on #1676
I'm reopening this because this many issues in a short period of time is just a sign that we need to integrate the build script in CI so it's more regularly tested and simply the scripts to make testing easier. The current docker nightly builds only test a small subset of configs

Regarding the #1587, I could not identify the root cause - I simply rebuilt the image from scratch, tested it locally

[2022-06-10 19:08] mansigoel opened #1681 "torchserve docker image with tag 'latest' and '0.6.0' still using previous torchserve version '0.5.3'"
Latest docker releases of torchserve (version 0.6.0) are still using previous torchserve library version '0.5.3'
Can the latest docker images be updated to reflect the latest torchserve library version 0.6.0?

[code]

[code]

[2022-06-10 22:24] #1679 closed

[2022-06-10 22:30] msaroufim commented on #1681
Yeah our bad, like like the PR to update the version number was merged in after the release https://github.com/pytorch/serve/pull/1592

[2022-06-10 23:23] lxning commented on #1681
@msaroufim according to the [link](https://github.com/pytorch/serve/commit/9aeb8af7a11a18a4aca6b81d2f0a239a500ca252#diff-0377cd7efa39189d481ea81cd7c45057e164e01393c2316560bc6bf677b21517), the docker images are tagged as latest-cpu and latest-gpu in v0.6.0.

@mansigoel sorry for the confusion. Please find v0.6.0 docker images

- [latest-gpu](https://hub.docker.com/layers/torchserve/pytorch/torchser

[2022-06-11 00:22] pjerryhu commented on #1010
I'm experiencing the same issue as this thread.

I have added `install_py_dep_per_model=true` into the config.properties file and built my image with all necessary python dependencies by adding the `pip3 install -r midas_requirements.txt` in `Dockerfile`

Then run my image with following command to ensure that I have all the volume mount working correctly.
`docker run --rm -it -p 8080:8080 -p 8081

[2022-06-11 00:22] pjerryhu commented on #1673
Hey @lxning , thank you for responding! the `docker buildx` command solved my problem. Thank you so much!

[2022-06-11 00:22] #1673 closed

[2022-06-11 00:31] msaroufim commented on #1681
This should be fixed now

[2022-06-11 00:55] #1681 closed

[2022-06-11 16:31] hamzaraouzi commented on #1337
I am trying to explore deployments with torchserve-kubernets on GKE, I am facing the same problem, it's obvious that the file "Helm/values.yaml" missing value about ( securityContext: groupId) but unfortunately I can't find any official documentation about this, any ideas about how to came around this problem ?!!!

[2022-06-11 16:48] #1676 closed

[2022-06-11 18:54] hamzaraouzi commented on #1218
I am trying install torchserve on GKE cluster, but when i execute the command `helm install ts .` I got the following error `Error: INSTALLATION FAILED: template: torchserve/templates/torchserve.yaml:51:26: executing "torchserve/templates/torchserve.yaml" at <.Values.securityContext.groupId>: nil pointer evaluating interface {}.groupId`
I found out that there is an  open issue #1337 , i came here

[2022-06-11 19:46] hamzaraouzi commented on #1337
I fixed this problem after checking the history of pull requests, anyway the solution is very easy all you have to do is to add this
to file Helm/values.yaml

apparently that they added this after fixing the volume owner issue, but somehow after git clone i can't find it.
I think we can close this issue

[2022-06-13 09:34] IamMohitM commented on #577
Actually, it worked at some later point with a different installation (tensorflow) in the requirements file. Haven't tested with opencv as shown above. Used the `--requirements-file` option instead of `-r`

[2022-06-13 10:36] IamMohitM opened #1683 "Include shape information of output in the gRPC PredictionResponse"
### 🚀 The feature

Include the shape of the predicted output in the PredictionResponse message in grpc. For example, if a segmentation model is served, which returns a segmented output of the input shape. Include the shape of the segmented output (in this case, same as input shape) in the PredictedResponse.

### Motivation, pitch

Currently, the PredictionResponse only contains a byte string of th

[2022-06-13 10:47] IamMohitM opened #1684 "How to decode the gRPC PredictionResponse string efficiently"
### 📚 The doc issue

There is no documentation about decoding the received bytes form PredictionResponse into torch tensor efficiently. Currently, the only working solution is using `ast.literal_eval`, which is extremely slow.

[code]

Using methods like numpy.fromstring, numpy.frombuffer or torch.frombuffer returns the following error:

[code]

The following returns an incorrect tensor values. Th

[2022-06-13 23:28] maaquib commented on #1683
@IamMohitM You can write a [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#custom-handlers) in this case, which would augment the response with the shape

[2022-06-14 09:38] IamMohitM commented on #1683
Thanks @maaquib. That does make sense. I have tried adding that to my custom handler:

[code]

However, the problem happens at the client. Apart from literal eval, I can't efficiently seem to decode the bytes I receive from torch serve. This is related to another issue I created - #1684. Is there any other way to decode the bytes that I receive apart from `ast.literal_eval`?

[2022-06-14 16:42] DPeled opened #1686 "Error in loading model in Windows os"
I've noticed that there is an error in the code:
https://github.com/pytorch/serve/blob/a4d5090e114cdbeddf5077a817a8cd02d129159e/ts/model_loader.py#L92

There is an attempt to read the `MANIFEST.json` file, and there is use of the `/` charecter which used as a seperator in the Linux os, and in Windows there is use of the back-slash `\`, so this line creates always an invalid path so the loader does

[2022-06-14 17:06] maaquib commented on #1686
@DPeled Thanks for pointing out the bug. Would you like to send out the fix as a PR?

[2022-06-14 17:08] DPeled commented on #1686
@maaquib I can, but waht if there is more errors like this? in another PR?

[2022-06-14 17:16] maaquib commented on #1686
You are right. I did a quick search and found a few more [1](https://github.com/pytorch/serve/blob/873edc50cc6059c47830a5d30bbbdbe1e1a3d9bb/test/pytest/test_handler.py#L11) [2](https://github.com/pytorch/serve/blob/7a69e4018f3d694891c1415e2ab01413452fb009/test/pytest/test_metrics_kf.py#L15) [3](https://github.com/pytorch/serve/blob/dd2d48525e10ca401092b4abad0792191f7469b9/ts/model_server.py#L95) [

[2022-06-14 18:03] jiapei-nexera opened #1687 "How to install torchserve from source ???"
### 🚀 The feature

Without using
`pip install torchserve` and `docker pull pytorch/torchserve`, how can I install **torchserve** using this open source ??
I can build `model-archiver` and `workflow-archiver`, but how can I build out `torchserve` from source ?

### Motivation, pitch

Without using
`pip install torchserve` and `docker pull pytorch/torchserve`, how can I install **torchserve** using

[2022-06-14 18:28] maaquib commented on #1687
@jiapei-nexera You can follow [these](https://github.com/pytorch/serve/blob/master/CONTRIBUTING.md#install-torchserve-for-development) instructions for building from source

[2022-06-14 23:04] jiapei-nexera opened #1688 "Torchserve image_classifier: NONE is working except resnet_152_batch ONLY ?"
### 🐛 Describe the bug

For **ALL** models @[https://github.com/pytorch/serve/tree/master/examples/image_classifier](https://github.com/pytorch/serve/tree/master/examples/image_classifier),

1.
[code]

2.
[code]

It looks **ONLY resnet-152-batch** is successfully loaded ?
Did I use the correct **model_name** and correct **url** for all those models?

### Error logs

[code]

### Installation instru

[2022-06-14 23:58] maaquib commented on #1687
It seems like you already have a jdk version installed. Can you provide the details for your env?

[2022-06-15 00:03] maaquib commented on #1688
@jiapei-nexera Looks like you have a snapshot file from a previous run which is overriding the load. Can you try running with snapshot disabled `torchserve --start --model-store model_store --models all --ncs`

[2022-06-15 00:06] maaquib commented on #1683
@IamMohitM Got it. I'll close this issue and we can continue the conversation on #1684

[2022-06-15 00:06] #1683 closed

[2022-06-15 02:39] jiapei100 commented on #1687
@maaquib

Thank you for your prompt reply.... ^_^ Thanks...

[code]

Let me what other env **torchserve** is looking for ?

[2022-06-15 03:05] maaquib commented on #1687
We currently support jdk 11. Please track [this](https://github.com/pytorch/serve/issues/1619) for the upgrade. For now please run with jdk11

[2022-06-15 03:05] #1687 closed

[2022-06-15 04:18] jiapei100 commented on #1688
@maaquib

Working... Thank you very much...

[code]

[2022-06-15 04:41] #1688 closed

[2022-06-15 04:48] jiapei100 commented on #1688
@maaquib

From [https://pytorch.org/serve/server.html#command-line-interface](https://pytorch.org/serve/server.html#command-line-interface), according to my **guessing**, `torchserve --model-store /models --start --models all` should be able to load **ALL** models by one command. And we should be able to select **anyone of ALL** AI models to carry out our testing...

However, it seems whenever I u

[2022-06-15 09:20] csJoax opened #1689 "keep root dir for extra files when generating .mar file in model-archiver/model_packaging_utils.py"
### 🚀 The feature

Maybe we need to keep the root dir because:

- somtimes the structure is complicated;
- somtimes there are the same filenames.

[code]
`my_file.py` files may used by their own libs.

the structure of the .mar file should be like this:
[code]

### Motivation, pitch

Current:

[code]

if we want to remain `my_lib1/` and `my_lib2/` in the `--extra-files` option, then error occurs:

[2022-06-15 16:05] jiapei-nexera opened #1690 "Which parameters can detect multiple objects in one image?"
### 🚀 The feature

I actually tested this image [https://miro.medium.com/max/639/1*vg3kxX3H9eCNWKgBBeQHeA.jpeg](https://miro.medium.com/max/639/1*vg3kxX3H9eCNWKgBBeQHeA.jpeg), in which there is a cat and a dog...

However, it looks only a dog is detected ? How can I detect both a dog and a cat out ???

[code]

### Motivation, pitch

I would like to try out **1 image - multiple objects**.

### Alte

[2022-06-15 18:51] msaroufim commented on #1690
Hi @jiapei-nexera there wouldn't be a ts config that will help you solve this problem

What you're describing is a multi label classification problem - here is a good tutorial https://towardsdatascience.com/multilabel-classification-with-pytorch-in-5-minutes-a4fa8993cbc7

After which you would then need to create a custom handler, if you'd like to contribute such an example I'd be happy to merge i

[2022-06-15 19:20] maaquib commented on #1690
@jiapei-nexera To add to what Mark said above, you need an object detection model not a classification. You can try also checkout [this](https://github.com/pytorch/serve/tree/master/examples/object_detector) example

[2022-06-15 19:20] #1690 closed

[2022-06-15 20:09] jiapei-nexera commented on #1690
@maaquib @msaroufim

Great... Things done... Is there a port to display the detection result?? If I wanna see the resultant image with bounding box drawn???

[code]

[2022-06-15 23:05] #1668 closed

[2022-06-15 23:07] #1637 closed

[2022-06-15 23:07] #1636 closed

[2022-06-15 23:08] #1615 closed

[2022-06-15 23:09] #1505 closed

[2022-06-15 23:09] #1506 closed

[2022-06-15 23:10] #1533 closed

[2022-06-15 23:10] #1513 closed

[2022-06-15 23:11] #1565 closed

[2022-06-15 23:11] #1521 closed

[2022-06-15 23:11] #1504 closed

[2022-06-15 23:11] #1494 closed

[2022-06-15 23:12] #1481 closed

[2022-06-15 23:12] #1456 closed

[2022-06-15 23:12] #1457 closed

[2022-06-15 23:28] #1667 closed

[2022-06-16 00:15] #1512 closed

[2022-06-17 18:54] Hegelim opened #1692 "TorchServe How to Curl Multiple Images Properly"
I am using TorchServe to potentially serve a model from MMOCR (https://github.com/open-mmlab/mmocr), and I have several questions:
1. I tried to do inference on hundreds of images together using batch mode by using & to concatenate curl commands together, such as suggested here https://github.com/pytorch/serve/issues/1235#issuecomment-938231201. However, this doesn't provide a neat solution if I h

[2022-06-18 11:52] jack-gits opened #1693 "java.lang.AssertionError: Unexpected nvidia-smi response"
### 🐛 Describe the bug

I'm using pytorch/torchserve:0.6.0-gpu to build my own docker image.
when I run the docker image, it raise an error as below

**_Starting docker image
Warning: TorchServe is using non-default JVM parameters: -Dlog4j.configurationFile=./log4j2.xml
docker image started
java.lang.AssertionError: Unexpected nvidia-smi response.
	at org.pytorch.serve.util.ConfigManager.getAvaila

[2022-06-19 09:30] choshiho commented on #267
Hi, MFreidank, thank you for your sharing blog post [https://medium.com/@freidankm_39840/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18](url). I follow your instructions and download bert-base-chinese.tar.gz in my directory transformer_model which contains bert_config.json, pytorch_model.bin, vocab.txt.
   Then I use the following steps to serve my model, but get "Backend

[2022-06-19 13:08] choshiho opened #1695 "Serving Huggingface Transformers using TorchServe official demo can't run successfully"
### 🐛 Describe the bug

When I ran the official demo Serving Huggingface Transformers using TorchServe - Sequence Classification, I got the error logs as follows.

### Error logs

torchserve --start --model-store model_store --models my_tc=BERTSeqClassification.mar --ncs --ts-config config.properties
(base) [root@localhost Huggingface_Transformers]# WARNING: sun.reflect.Reflection.getCallerClass i

[2022-06-19 15:40] alar0330 commented on #1498
is this documented anywhere?

[2022-06-20 17:35] maaquib commented on #1688
@jiapei-nexera Can you make sure you add the `--ncs` argument while running. Otherwise it will load from the last snapshot

[2022-06-20 17:40] maaquib commented on #1690
@jiapei-nexera The bounding box coordinates are in the response, you can use these to create the boxes in your source image

[2022-06-20 17:42] Hegelim opened #1696 "Performance Benchmark Doc Missing"
### 📚 The doc issue

https://github.com/pytorch/serve/blob/master/docs/performance_guide.md
Here, the link https://github.com/pytorch/serve/tree/master/benchmarks/automated is missing

![image](https://user-images.githubusercontent.com/55818214/174655162-ff7d883b-66d6-450f-8c23-4bbecb426d9a.png)

### Suggest a potential alternative/fix

_No response_

[2022-06-20 18:35] Hegelim opened #1698 "Confused about Cumulative Inference Duration vs. PredictionTime"
### 📚 The doc issue

I am running a model on TorchServe and I am trying to see how long it takes for inference.
If I use logging and view the logs, then I can see there is something called PredictionTime:
![image](https://user-images.githubusercontent.com/55818214/174660754-3e3915a1-a3b6-4e28-9720-2bfd654f17b7.png)

However, if I use the Metrics API, then I got something called "Cumulative Inferen

[2022-06-20 19:01] Hegelim opened #1699 "How to properly understand MaxBatchDelay"
From the documentation https://github.com/pytorch/serve/blob/master/docs/management_api.md#register-a-model
The parameter `maxBatchDelay` is the maximum delay for batch aggregation. It will wait this amount of time before aggregating all the requests (please correct me if I am wrong) into batches. Now, on the user side, if I set this number high, like 5000, then TorchServe will have enough time to

[2022-06-20 19:36] msaroufim commented on #1698
Thanks for all the recent feedback @Hegelim - since you're exploring our metrics story I'd recommend you check out our RFC #1492 and provide any feedback there. I agree that right now figuring out what each metric is from documentation alone is not ideal

* `HandlerTime` is the time it takes to run the `handle()` function in the base handler https://github.com/pytorch/serve/blob/master/ts/torch_ha

[2022-06-20 19:41] msaroufim commented on #1699
That is correct

`maxBatchDelay` or `batch_size` more generally in inference is a tradeoff between latency and throughput. If what you care about is the maximum time it takes to return an inference for a single request then you should opt for smaller batch sizes e.g `batch_size = 1`. However if you care more about throughput or your GPU utilization then you go faster on a group of requests because

[2022-06-20 20:01] msaroufim commented on #1692
Unfortunately `requests` is a synchronous library, there are some alternatives like `grequests` or `asyncio` with the latter growing in popularity that should resolve this issue #1489. I can take a look at producing something in `examples` as a tutorial for others since I've seen people get bit by this a few times.

I don't think this is the root cause of the issue you're seeing general suggestion

[2022-06-20 20:15] msaroufim commented on #1695
I see two different issues

### Unsuccessful NVIDIA driver installation

`AttributeError: /lib64/libnvidia-ml.so.1: undefined symbol: nvmlDeviceGetComputeRunningProcesses_v2`

### Importing a function that does not exist

I also see `2022-06-19T20:37:26,893 [INFO ] W-9001-my_tc_1.0-stdout MODEL_LOG - ModuleNotFoundError: No module named 'ts.torch_handler.Transformer_handler_generalized'` which is

[2022-06-20 21:09] msaroufim commented on #1693
Hi @jack-gits the issue seems to be that `nvidia-smi` is not returning anything https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/util/ConfigManager.java#L740 which may happen if your docker image has no access to a GPU. Can you confirm this is the case by running `nvidia-smi` from inside your container.

Make sure to also use the `--gpus` argument like h

[2022-06-20 21:32] Hegelim commented on #1698
I am still confused - maybe because I am not very versed in Java.
So if I understand you correctly, `Cumulative inference duration` should be the largest, right? Because it is the end-to-end overhead including everything. However, according to my screenshots above, `Cumulative inference duration` is much smaller than `PredictionTime`, the former one is around 6 ms, the latter one is around 3 s.

[2022-06-20 23:47] Hegelim commented on #1692
Thank you so much for the comment! I tried re-writing my code using `asyncio` and `aiohttp` and the python file looks like below
[code]

However, the issue of GPU usage still remains - each call of this python file will boost the GPU memory usage, by the end of 2nd call my GPU is already full. Am I doing this in the right way?

[2022-06-21 00:32] Hegelim opened #1700 "Netty Threads and Performance"
I have read configurations here https://pytorch.org/serve/configuration.html
I am wondering do `number_of_netty_threads` and `netty_client_threads` have anything to do with performance (throughput)?
When I start my TorchServe model using `config.properties` that looks like below
[code]
The model started properly. However, the model has 0 for `number_of_netty_threads` and `netty_client_threads`, wh

[2022-06-21 01:07] msaroufim commented on #1700
Those 2 need a better name
* `number_of_netty_threads`:  number of threads available to Java frontend
* `netty_client_threads`: number of threads available to Python backend

The default is the number of logical cores available to JVM for both which is a reasonable default that maximizes throughput, increasing it more may cause thread oversubscription which will tank performance

What the ideal co

[2022-06-21 06:21] rbavery commented on #1695
Does this section of the docs need to be updated to reflect that you can't import from `ts` in the pytorch docker images?

https://pytorch.org/serve/custom_service.html

I'm trying to use a custom handler like so and running into this error

[code]

[2022-06-21 06:34] choshiho commented on #1695
@msaroufim Thank you for you reply!
**BaseHandler**
`from ts.torch_handler.base_handler import BaseHandler`
is in the official Transformer_handler_generalized.py[https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py](url)

**ImportError**
I have made the official demo Sequence Classification run successfully. The  reason may be

I solved

[2022-06-21 09:12] choshiho commented on #1695
@msaroufim
hi, one more question.
How can I import third-party file in some directory when I edit a custom handler. for example, in pytorch_pretrained directory, there are several python files that need to be imported in my custom_handler.py and model.py

in my custom_handler.py and model.py, my import code are as follows:
`from pytorch_pretrained import BertModel, BertTokenizer`

my personal dire

[2022-06-21 14:15] ma-batita opened #1701 "curl 404 ResourceNotFoundException"
Hello,
I am stuck with an error that I am not sure what does it mean.
when I do  `curl "http://localhost:8080/models"` I get :
`{
  "code": 404,
  "type": "ResourceNotFoundException",
  "message": "Requested resource is not found, please refer to API document."
}`

I make an `.mar` file for my model with
`
torch-model-archiver -f \
  --model-name=classifier \
  --version=1.0 \
  --serialized-file=

[2022-06-21 16:24] Hegelim commented on #1696
I think the link is still missing?
![image](https://user-images.githubusercontent.com/55818214/174849662-bc04bbe2-b2f0-4c26-a33b-7b798591684a.png)

[2022-06-21 16:31] #1699 closed

[2022-06-21 17:56] msaroufim commented on #1696
PR is out but not merged yet

[2022-06-21 22:28] msaroufim opened #1702 "Can't use `ts` library inside docker image"
Does this section of the docs need to be updated to reflect that you can't import from `ts` in the pytorch docker images?

https://pytorch.org/serve/custom_service.html

I'm trying to use a custom handler like so and running into this error

[code]

_Originally posted by @rbavery in https://github.com/pytorch/serve/issues/1695#issuecomment-1161313611_

[2022-06-21 22:31] msaroufim commented on #1695
Hi @rbavery I created a separate issue to track your question

@choshiho regarding your error on `no module named pytorch_pretrained` my suspicion is this has something to do with how you're importing the library, is this a local directory file or a full package? In which case maybe you need to do something like `from .pytorch_pretrained` or link to the right directory

On the CUDA front it's tric

[2022-06-21 22:33] msaroufim commented on #1702
@rbavery did I understand your question correctly that if you try a line like `from ts import *` that this fails in your docker image? That's not expected behavior we have in our `Dockerfile` a line to install torchserve explicitly https://github.com/pytorch/serve/blob/master/docker/Dockerfile#L74

[2022-06-21 22:50] rbavery commented on #1702
thanks a bunch for answering @msaroufim

it looks like it depends on the method of importing in the docker image. What I had in my custom handler does not work

[code]

but as you indicate, * importing does work

[code]

[2022-06-21 23:17] #1702 closed

[2022-06-22 03:21] 16NightTimeRain opened #1703 "TTS batch"
### 📚 The doc issue

In TTS batching, how do I write the handler.py file to implement batching.What I want to achieve is that if you input multiple text files, you can output multiple audio files in one batch。

### Suggest a potential alternative/fix

_No response_

[2022-06-22 07:07] ma-batita commented on #1701
Thank you for your response :) but I dont see anything else beside my files :/

[2022-06-22 15:43] BraginIvan opened #1704 "Preprocess performance"
### 📚 The doc issue

In the default image processing handler you process images one by one
https://github.com/pytorch/serve/blob/a4d5090e114cdbeddf5077a817a8cd02d129159e/ts/torch_handler/vision_handler.py#L38
it works synchronously.
What is the best way to optimize it, should I use Pool here or there is a better way?

It happens that if I use batch size = 1 it preprocesses faster but doesn't utili

[2022-06-22 17:12] msaroufim commented on #1703
Here's a good example https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L203-L207

[2022-06-22 17:16] msaroufim commented on #1704
Thank you for your feedback @BraginIvan this is something that we're working to improve. We had a couple of prototype PRs like #1641 or #1545 to improve our story here but if you have any requirements or thoughts please let me know. At a high level my thinking is either
1. Integrate more preprocessing libraries like DALI, ffcv, accimage
2. Instead of iterating over rows of data, just instantiate a

[2022-06-23 02:54] choshiho commented on #1695
@msaroufim
My project is on a cloud machine and my package is a directory, I followed your proposed method，
`from .pytorch_pretrained import BertModel, BertTokenizer`
I also tried
`from .pytorch_pretrained.modeling import BertModel`
`from .pytorch_pretrained.tokenization import BertTokenizer`
both led to ImportError: attempted relative import with no known parent package.

**personal directory con

[2022-06-23 02:56] msaroufim commented on #1695
Can you share a zip file with all your files so I can reproduce?

[2022-06-23 18:38] Hegelim opened #1707 "Does TorchServe have better performance than calling Pytorch"
From doc here: https://github.com/pytorch/serve

It says TorchServe is a tool used to serve Pytorch models in production. I am wondering, in theory, if we can expect to have a better performance (in terms of speed) to do inference on Pytorch models using TorchServe vs not using TorchServe? I have been searching for a satisfying answer online with detailed comparison between the 2, but weirdly I co

[2022-06-23 18:40] Hegelim commented on #1700
Thanks for your reply! Any idea why my netty threads is 0 even though I set it explicitly in `config.properties`?

[2022-06-23 23:44] DPeled opened #1708 "Unclosed file descriptors in tests"
Hey everyone!

As I reviewing the code as part of PR I'm working on, I found lines in the `pytest` tests that using the `open()` function without a `with`,  and the file never closed.

Example for such line: https://github.com/pytorch/serve/blob/873edc50cc6059c47830a5d30bbbdbe1e1a3d9bb/test/pytest/test_handler.py#L41

[2022-06-23 23:44] DPeled commented on #1708
I fixed it in my PR, this issue is on me

[2022-06-24 16:23] msaroufim commented on #1707
If you're making an inference on a single model with a single worker then not using any framework will likely be the fastest. The benefits of TS come in when you're managing multiple workers per model, multiple models, and for each model. But TS is also about integrations with Kubernetes, Docker, and management and metrics API to make your models prod ready. We also try to include reasonable defau

[2022-06-24 20:22] jiapei-nexera opened #1710 "Save requesting image to local and return a resultant image with bounding box?"
### 🚀 The feature

By requesting
`curl http://192.168.1.100:8080/predictions/alexnet -T ./serve/examples/image_classifier/kitten.jpg`,

Wondering if there is an option to:

- save the uploaded **kitten.jpg** to a local folder on http://192.168.1.100 ??
- return an image with bounding box to the requesting web browser ?

### Motivation, pitch

As described in **The feature**, the motivation is quit

[2022-06-24 21:06] msaroufim commented on #1710
The way you'd support this is extending this function in your own custom handler. So inherit `ImageClassifier` and then add support in your own `postprocess()` function support for writing an image to disk or returning whatever you like including a bounding box https://github.com/pytorch/serve/blob/master/ts/torch_handler/image_classifier.py#L35

If you need more pointers lmk

[2022-06-26 05:22] divastar opened #1711 "running two yolo models in parallel on mor ethen one gpu"
can I run two yolo models in parallel on more then one gpu
what would be the best way to optimize the ansamble of two models?
thank you

[2022-06-26 14:17] choshiho commented on #1695
@msaroufim
**model.pt**
I got a model.pt file from this github repo as shown below.
[https://github.com/649453932/Bert-Chinese-Text-Classification-Pytorch](url)
step 1. download pre-trained model bert_Chinese from
[https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-chinese.tar.gz](url)
step 2. download bert-base-chinese-vocab.txt
[https://s3.amazonaws.com/models.huggingface.co/bert/bert

[2022-06-26 17:38] msaroufim commented on #1711
Hi @divastar are the two models the exact same? As in they do they share weights, do not communicate and run on the same inputs? If so all you need to is in your `config.properties` set `workers` to some value greater than 1.

If your question is about running two models in parallel and aggregating their results in some way, you would need to write a custom handler where in your `__init__()` funct

[2022-06-27 15:37] TillmannRheude commented on #1710
I tried following your explanation @msaroufim and wrote my own class by inheriting ImageSegmenter. By adding something like `torch.save(tensorfile, filename.pt)`, into `postprocess`, I cannot identify where the tensor is saved. Further, by changing the return of `postprocess `in order to be able to do `curl -o`, an error message in the model_log is created which states `Invalid return type: <class

[2022-06-27 17:57] agunapal commented on #1710
@TillmannRheude  Will get back to you with an example

[2022-06-28 00:43] #1696 closed

[2022-06-28 01:01] agunapal commented on #1710
@TillmannRheude  The following code worked for me with the AlexNet example.
I modified the inference code to return a tuple of the inference result and input image
We can unpack the data in the postprocess method and do the necessary post processing operation on the image and save it

`   def inference(self, data, *args, **kwargs):
        marshalled_data = data.to(self.device)
        with torch.

[2022-06-28 07:05] TillmannRheude commented on #1710
Thank ya @agunapal, it worked like a charm - My fault was not to define "/home/.." in front of the path for the image.

[2022-06-28 16:36] agunapal commented on #1710
Thanks for confirming. Closing the issue

[2022-06-28 16:36] #1710 closed

[2022-06-28 18:23] jiapei-nexera opened #1712 "my bad"

[2022-06-28 18:26] #1712 closed

[2022-06-28 19:35] jiapei-nexera opened #1713 "How to specify which gpu is to be used for serve?"
### 🚀 The feature

[code]

### Motivation, pitch

Just wanna **NVIDIA driver** for **torchserve** and the other one **Intel** for display if possible ???

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-28 21:08] agunapal commented on #1713
If you using docker, you can specify it with the docker command

`docker run --rm -it --gpus '"device=1,2"' -p 8080:8080 -p 8081:8081 pytorch/torchserve:latest-gpu`

Please let me know if this answers your question?

[2022-06-29 00:24] Hegelim opened #1714 "Netty Threads don't change even set explicitly in config.properties"
https://github.com/pytorch/serve/issues/1700#issuecomment-1164746780

Any ideas why?

[2022-06-29 02:09] amit-cashify commented on #1626
Thanks

[2022-06-29 02:12] msaroufim commented on #1700
Since there's a new issue about this will close this for now

[2022-06-29 02:12] #1700 closed

[2022-06-29 12:57] jonathan-ibex opened #1715 "Failing to load the pre-trained weights on multi-gpus - FasterRCNN example"
### 🐛 Describe the bug

Hey,
I have an issue when running the FasterRCNN example given [here](https://github.com/pytorch/serve/tree/master/examples/object_detector/fast-rcnn): it seems that the backbone is being loaded on cuda:0 while the model itself is being distributed to multiple GPUs. I saw that this issue was mentioned before for other architectures: #1037, #1038, vision [issue](https://gith

[2022-06-29 16:35] agunapal commented on #1715
@jonathan-ibex  Could you please try torch scripting the faster-rcnn model as shown here in alexnet example and then try your test. https://github.com/pytorch/serve/tree/master/examples/image_classifier/alexnet#torchscript-example-using-alexnet-image-classifier

[2022-06-29 17:05] agunapal commented on #1713
@jiapei-nexera  You can use the ts-config command and pass the config.properties file , where you can specify GPU specific information. You can refer to this section https://pytorch.org/serve/configuration.html#limit-gpu-usage and https://pytorch.org/serve/configuration.html#nvidia-control-visibility

[2022-06-30 13:34] jonathan-ibex commented on #1715
Hey @agunapal, I tried saving the models weights with `torch.jit`, and I now get a different error (moving forward! 🎉):

[code]

(Comment: I named the model "stry")
What might the issue be here?
Thanks!

[2022-06-30 19:27] agunapal commented on #1715
@jonathan-ibex  Do you mind sharing your code.

I tried the following and it worked for me

`from torchvision.models.detection import fasterrcnn_resnet50_fpn
import torch
model = fasterrcnn_resnet50_fpn(pretrained=True)
sm = torch.jit.script(model)
sm.save("frcnn.pt")`

[2022-06-30 19:56] agunapal commented on #1626
@amit-cashify @dmuiruri can you please share your config.properties so I can reproduce it accurately. Also, is pwd the serve directory?

[2022-07-01 18:54] ankit-db opened #1721 "Clarify that TorchServe supports KServe V2 Inference API"
### 🚀 The feature

Hey folks - I was wondering whether TorchServe has considered supporting the Inference V2 API proposed by KServe (https://github.com/kserve/kserve/blob/master/docs/predict-api/v2/required_api.md) It seems Triton, TFServing, and MLServer all support this API.

Please let me know if I'm missing that this is already on a public roadmap.

### Motivation, pitch

It seems KServe V2 Pr

[2022-07-01 20:19] msaroufim commented on #1721
We already support the v2 API - there's more information in docs here https://github.com/pytorch/serve/tree/master/kubernetes/kserve

I think we can make this clearer in the `README.md`

[2022-07-01 20:46] ankit-db commented on #1721
Oh great! Good to hear. My confusion originated from this docs page in case that helps: https://pytorch.org/serve/inference_api.html

[2022-07-03 23:42] msaroufim commented on #1692
I need to take a closer look at how `asyncio` works (I haven't used it much) I suspect a request is not freeing the resources that it's grabbing. Typically for these quick experiments the team uses postman https://github.com/pytorch/serve/tree/master/test#adding-tests

That said I've been meaning to come up with a good asyncio example for a while now so will let you know when we prioritize it

[2022-07-03 23:46] msaroufim commented on #1714
Both of those parameters are parameters to TorchServe and not to a specific model see this for an example https://github.com/pytorch/serve/blob/master/docker/config.properties#L1-L7

And in your code you've shown them as model specific parameters

[code]

[2022-07-04 10:33] jonathan-ibex commented on #1715
Hey @agunapal
I used exactly your code, and the saving works without any issues. ✔️
I then proceeded to archive the model using `torch-model-archiver` as described [here](https://github.com/pytorch/serve/blob/master/model-archiver/README.md#creating-a-model-archive) (without the model file!) ✔️
Now the server starts correctly and I can see the model runs correctly on the workers ✔️
But I still hav

[2022-07-04 13:16] lromor opened #1722 "NVML_ERROR_NOT_SUPPORTED exception"
### 🐛 Describe the bug

Sometimes it can occur that NVML does not support monitoring queries to specific devices. Currently this leads to failing the startup phase.

### Error logs

[code]

### Installation instructions

pytorch/torchserve:latest-gpu

### Model Packaing

N/A

### config.properties

_No response_

### Versions

[code]

### Repro instructions

run:
[code]

### Possible Solution

Dea

[2022-07-04 16:46] msaroufim commented on #1722
Thanks for opening this, which specific devices are you referring to?

[2022-07-05 10:42] lromor commented on #1722
nvidia smi:
[code]
This is a virtual GPU. It seems that some features like temperature monitoring might not be supported for these virtual device. See for instance page 118.

[2022-07-05 10:45] lromor commented on #1722
If you approve for an upstream bug-fix I'd be happy to help.

[2022-07-05 18:36] Hegelim commented on #1714
Ahh thanks! Finally figured it out!

[2022-07-05 18:36] #1714 closed

[2022-07-05 18:40] Hegelim commented on #1707
I see. By managing multiple workers, does it have to work given that the model itself has the capacity to support multiple workers?

[2022-07-05 19:54] msaroufim commented on #1707
There's nothing you usually need to make your model work with multiple workers. The only limitation is if your model does some crazy multiprocessing already it won't play too well with TS

[2022-07-05 22:35] Hegelim commented on #1707
Thanks! Just to confirm again, by multiple workers, do you mean multiple GPUs?

[2022-07-06 00:40] msaroufim opened #1724 "Data-oriented & SOLID `benchmarks/benchmark-ab.py`"
### 🚀 The feature
Wrote this after an offline discussion with @lxning

We've recently standardized on using `benchmarks/benchmark-ab.py` as **the** preferred way to benchmark torchserve models and used it to build `benchmarks/auto_benchmark.py` which is now integrated in our CI. As our benchmark suite becomes more useful I recently tried to extend it with Docker support and noticed we can do a bet

[2022-07-06 09:08] vuongdanghuy opened #1725 "Serving other framework models with Torchserve?"
Hi everyone.

As in the title, I want to ask if torchserve can serve other framework models or pytorch models only?

For example, I have a model written in mxnet. This is the snippet code of `initialize` method in my custom handler.
[code]
For some reason, pretrained mxnet model can't be loaded. But that same model works fine in my training and inferencing script. This is the error log.
[code]

[2022-07-07 01:26] #1721 closed

[2022-07-07 02:06] agunapal commented on #1626
Yes @amit-cashify , I started the container with the following command
sudo docker run --rm -it -p 8080:8080 -p 8081:8081 -p 8082:8082 -p 7070:7070 -p 7071:7071 -v $(pwd)/model_store:/home/model-server/model-store -v /home/ubuntu/serve/docker:/home/config pytorch/torchserve:latest-cpu torchserve --ts-config /home/config/config.properties

Then I did a ping from the host VM and it works

curl http:

[2022-07-07 02:12] agunapal commented on #1626
Thank you for reporting the issue. Closing this issue . Please re-open if you notice the problem again.

[2022-07-07 02:12] #1626 closed

[2022-07-07 02:13] agunapal commented on #1713
@jiapei-nexera  Hope your issue is resolved. Closing this for now. Please re-open in case this is unresolved

[2022-07-07 02:13] #1713 closed

[2022-07-07 02:14] agunapal commented on #1715
@jonathan-ibex Thanks for checking. Will debug further and get back to you

[2022-07-08 12:23] festinais opened #1728 "self.mapping is None even after adding --extra-files index_to_name.json"
### 🐛 Describe the bug

I created the MAR file with this command:

`torch-model-archiver --model-name chest_limbs_spine --serialized-file model.pt --extra-files index_to_name.json --handler model_handler.py --requirements-file requir/requirements.txt --version 1.0`

I added the `--extra-files index_to_name.json` part where the json file contains some dummy json like:
`{"0": "cat","1": "dog"}`

How

[2022-07-08 18:06] lxning commented on #1725
@vuongdanghuy torchserve do support different frameworks eg. MxNet. According to the log, it seems that there is error in the model itself about json.

[2022-07-08 18:15] lxning commented on #1728
@festinais could you first verify if index_to_name.json is included in mar file? For example, run "unzip mar_file" and then check if index_to_name.json is there.

Second, according to the code, I don't know which function reads index_to_name.json. Please check the model implementation if it is read by model

[2022-07-08 18:31] lxning commented on #1704
@BraginIvan We are investigating potential solutions for parallel preprocessing multiple images in one video frame.
* solution1: parallel preprocessing multiple images out of TS by using pipeline.
* solution2: optimize handler by using multiprocessing to  parallel preprocessing.

[2022-07-08 18:35] #1703 closed

[2022-07-08 18:40] lxning commented on #1701
@ma-batita I think you need use[ KFServing ](https://github.com/pytorch/serve/tree/master/kubernetes)port

[2022-07-08 18:49] lxning commented on #1698
@Hegelim
* in the model_metrics.log: HandlerTime/PredictionTime: records each individual inference requests latency.
* in metrics API: all of the values (eg. Cumulative Inference Duration) are stats results during the time interval calculated by Prometheus.

[2022-07-09 00:37] vuongdanghuy commented on #1725
Thanks @lxning .
I also do believe torchserve can support different frameworks.
So maybe it's an error because the same model can be loaded totally fine in my training and inference script.
I'll try to provide a minimum script to repro this error.

[2022-07-09 04:05] vuongdanghuy commented on #1725
Hi,

I create a simple repo to repro this error [here](https://github.com/vuongdanghuy/torchserve_mxnet/tree/master).
I found out that if torch is imported, the error happened. You can check it by running `test_script.py`.
I'm not sure if it's because of my MXNet and PyTorch version compatibility. Currently i'm running Pytorch 11.6 nightly because I only have CUDA 11.6, but MXNet highest version 1

[2022-07-11 08:54] lromor commented on #1722
@msaroufim  any update on this?

[2022-07-11 11:26] RobinFrcd opened #1729 "Pre-install packages in Docker image"
### 🚀 The feature

Hi,
I'm trying to run TochServe on AWS ECS + Inferentia instances. The thing is, it needs [pretty big packages](https://awsdocs-neuron.readthedocs-hosted.com/en/latest/neuron-guide/neuron-frameworks/pytorch-neuron/tutorials/tutorial-torchserve.html#run-the-tutorial) to run on inferentia instance.

So I'd like to pre-install the package in my Docker images. I tried to install the

[2022-07-11 16:09] rohithkrn opened #1730 "Upgrade torchserve to JDK17 on Ubuntu"
### 🚀 The feature

Child task for https://github.com/pytorch/serve/issues/1619 to update JDK version on Ubuntu

### Motivation, pitch

Motivation listed in parent task - https://github.com/pytorch/serve/issues/1619

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-11 16:12] rohithkrn opened #1731 "Upgrade torchserve to JDK17 on macOS"
### 🚀 The feature

Child task for https://github.com/pytorch/serve/issues/1619 to update JDK version on macOS

### Motivation, pitch

Motivation listed in parent task - https://github.com/pytorch/serve/issues/1619

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-11 16:13] rohithkrn opened #1732 "Upgrade torchserve to JDK17 on Windows"
### 🚀 The feature

Child task for https://github.com/pytorch/serve/issues/1619 to update JDK version on windows

### Motivation, pitch

Motivation listed in parent task - https://github.com/pytorch/serve/issues/1619

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-11 16:17] rohithkrn opened #1733 "Update dependencies and documentation for JDK17 update"
### 🚀 The feature

Update docs and dependencies for JDK17 update - https://github.com/pytorch/serve/issues/1619

### Motivation, pitch

Motivation listed in parent task - https://github.com/pytorch/serve/issues/1619

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-11 16:18] rohithkrn commented on #1619
- [] https://github.com/pytorch/serve/issues/1730
- [] https://github.com/pytorch/serve/issues/1731
- [] https://github.com/pytorch/serve/issues/1732
- [] https://github.com/pytorch/serve/issues/1733

[2022-07-12 06:00] klae01 opened #1736 "torchserve version mismatching at `pytorch/torchserve:0.5.3-gpu`, `pytorch/torchserve:0.5.3-cpu`"
`pip list` in `pytorch/torchserve:0.5.3-gpu` return following. I found `torchserve` version is `0.6.0`.
Also `pytorch/torchserve:0.5.3-cpu` also have same issue

 `pytorch/torchserve:0.5.3-gpu`
[code]

 `pytorch/torchserve:0.5.3-cpu`
[code]

[2022-07-13 07:58] vuongdanghuy commented on #1725
UPDATE!

I uninstall my PyTorch with CUDA 11.6 nightly and install new stable version and the error is gone.

Thanks anyway.

[2022-07-13 07:58] #1725 closed

[2022-07-13 11:43] RobinFrcd commented on #1729
Well, if I set `install_py_dep_per_model=false` and install the dependencies in the Dockerfile, it seems to work !

[2022-07-13 11:43] #1729 closed

[2022-07-13 16:46] msaroufim commented on #1736
Ack - I've repro'ed and fixed this issue in a staging environment just need to confirm with rest of the team before I promote

I've uploaded the correct binaries to my own account as a staging environment and did 3 manual tests for each CPU and GPU environment and listed results here https://gist.github.com/msaroufim/8ed161ae98bd34c70cc94e12afe851ca

The problem is if we build our docker images us

[2022-07-13 18:20] maaquib commented on #1728
@festinais Just to add to what @lxning already mentioned, `index_to_name.json` mapping is supported in the [default handler](https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L108-L109). If you are using a custom handler, you'd have to add the mapping code in your handler along-with packaging it in the mar file

[2022-07-13 18:20] #1728 closed

[2022-07-13 21:44] sharvil commented on #1492
@msaroufim just wanted to check in about my previous comment. Given that models can be loaded/unloaded dynamically, I'm not sure how a pre-defined `metrics.yaml` file will work. Can we discuss before the PR is merged?

[2022-07-13 21:54] msaroufim commented on #1492
@joshuaan7 and @lxning are leading the design and implementation for this refactor. It sounds like you're suggesting to archive metric definitions along with the model to have model specific metrics. We can for convenience provide a global predefined `metrics.yaml`. I think your ask makes sense but I'll leave it to @joshuaan7 and @lxning to decide how to stage this work.

[2022-07-13 23:19] msaroufim commented on #1722
Hi @lromor I'm not sure what the right fix is yet. It does like seem like this is problem introduced by NVIDIA `pynvml.nvml.NVMLError_NotSupported: Not Supported` so I believe your best best is commenting on  https://forums.developer.nvidia.com/t/bug-nvml-incorrectly-detects-certain-gpus-as-unsupported/30165 which will give someone on the team some buffer to take a look

[2022-07-14 01:01] sharvil commented on #1492
My comments in this thread revolve around two suggestions which are independent of each other, but on the topic of this metrics refactor.

### 1. Model-specific metrics
We have model-specific metrics that we'd like to log and monitor. In our ideal world, TorchServe would provide a mechanism for each model to log and publish those metrics just like it does for global metrics (e.g. `ts_inference_lat

[2022-07-14 11:37] koking0 opened #1740 "CORS config not working"
### 🐛 Describe the bug

I followed the [HuggingFace example](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers) to deploy the GPT2 model, but a CORS error occurred when the front-end was called.

I configured it in `config.properties` according to the [tutorial on the official website](https://pytorch.org/serve/configuration.html#configure-cross-origin-resource-sharing

[2022-07-14 21:13] #1620 closed

[2022-07-15 00:36] lxning commented on #1492
@sharvil Let me try to answer your questions.

- Existing Torchserve allows users to define customized model specific metrics by [custom-metrics-api](https://github.com/pytorch/serve/blob/master/docs/metrics.md#custom-metrics-api). All metrics from backend (ie., model metrics) are written into model_metrics.log. I assume you are using it in your case now. The problem for this solution is it has no

[2022-07-15 15:19] AndreasKleineberg commented on #1293
I am currently facing the same problem. Download via browser or using curl work fine, but torchserve cannot retrieve the model. I always get an HTTP 400 error.

[2022-07-18 02:52] sharvil commented on #1492
Thanks for the detailed response.

I think we're saying the same thing here. The existing custom metrics API doesn't go far enough because it doesn't publish to Prometheus. We'd like the metrics API refactor to allow for custom metrics that get published to Prometheus.

Yes, I understand the proposed API design. I'm suggesting an alternative design to support the following scenario:

- each model

[2022-07-18 07:11] klae01 commented on #1736
Why not replace `python -m pip install --no-cache-dir torchserve` by copying the files to the docker `/tmp` folder and then running `python -m pip install .`?

just change 3 lines in repository
[code]

[2022-07-18 07:21] klae01 commented on #1736
Why not replace `python -m pip install --no-cache-dir torchserve` by copying the files to the docker `/tmp` folder and then running `python -m pip install .`?
https://github.com/klae01/serve-dockerfile-update/tree/feature/pip_install_from_repo

`pip list` result obtained by changing only 4 lines in `release_0.5.3`
[code]

[2022-07-18 07:59] lromor commented on #1722
Hi @msaroufim , I've opened an issue here: https://forums.developer.nvidia.com/t/nvml-issue-with-virtual-a100/220718?u=lromor

[2022-07-18 14:43] heatxg opened #1743 "Health check for all API endpoints"
### 🚀 The feature

At present, there is a health check /ping only for the inference endpoint. Add health check for other endpoints.

### Motivation, pitch

There is currently no way to implement load balancer health checks for the metrics API prior to routing traffic to it.

### Alternatives

_No response_

### Additional context

It appears that this was considered (https://github.com/pytorch/ser

[2022-07-18 16:00] msaroufim commented on #1743
Probably good feedback to roll into present or future requirements for #1492

[2022-07-19 22:09] msaroufim commented on #1736
Updated the 0.5.3 images just now

[2022-07-19 22:09] #1736 closed

[2022-07-19 23:56] msaroufim opened #1744 "Doc automation broken in CI"
### 🐛 Describe the bug

Our latest doc build is crashing https://github.com/pytorch/serve/runs/7361642275?check_suite_focus=true with this error `ModuleNotFoundError: No module named 'ts_scripts'`

@svekars does this look familiar?

### Error logs

[code]

### Installation instructions

N/A

### Model Packaing

N/A

### config.properties

_No response_

### Versions

N/A

### Repro instructions

R

[2022-07-20 17:54] agunapal commented on #1715
@jonathan-ibex I tried reproducing this will PyTorch 1.12/cuda 11.3 and I think its working as expected. Please find the screenshot below. Does this look fine?

![Screen Shot 2022-07-20 at 10 49 15 AM](https://user-images.githubusercontent.com/16617092/180049475-32435a92-147f-496f-9b51-7bebcd2b3bad.png)

[2022-07-20 21:12] agunapal opened #1749 "Simplify torchserve installation procedure by removing the need to run the install_dependencies script"
### 🚀 The feature

## Motivation

To install torchserve today, users have to run `python ts_scripts/dependencies.py` with the optional CUDA arg  Ex: `--cuda=cu102` and then install torchserve binaries on top. \

##### Example:
`python ./ts_scripts/install_dependencies.py --cuda=cu102`
`pip install torchserve torch-model-archiver torch-workflow-archiver`

The additional step of installing dependenc

[2022-07-22 04:04] Vincentwei1021 opened #1753 "how to return the predictions in JSON format(in JSON string and JSON header)?"
I was using torchserve to production service, I was able to return the predictions with a JSON string, but I was unable to get the response with a JSON header.

[2022-07-22 04:11] msaroufim commented on #1753
On very handler, you'll have access to this `context` object and you can set the response header for it https://github.com/pytorch/serve/blob/master/ts/context.py#L62

[2022-07-22 08:13] amanjain1397appy opened #1754 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
I am deploying a model using torchserve. It was easily deployed on Tesla K80 GPU. But now when i shifted it to newer GPU Nvidia A30. I am getting this error

torch_version: '1.12.0+cu113'
cudnn_version: 8302

![image](https://user-images.githubusercontent.com/96763622/180394916-48ac55d0-18b6-4f59-a8e7-62d1c102c990.png)

PFA Nvidia-smi Screenshot

![image](https://user-images.githubusercontent.com/

[2022-07-22 16:46] msaroufim commented on #1754
Hi @amanjain1397appy does your model also fail when you're not serving it with torchserve? I would need more repro instructions which you can see in the bug template we have here on github https://github.com/pytorch/serve/issues/new?assignees=&labels=&template=bug.yml

Regardless my suspicion is this is happening because we don't support pytorch 1.12 in torchserve yet but this was something @mreso

[2022-07-22 17:03] amanjain1397appy commented on #1754
@[msaroufim](https://github.com/msaroufim) My model does not fail when I am not serving with Torchserve. Speaking of the pytorch version, during my first attempt I actually used the torch version in requirements.txt and still I faced the same issue.

[2022-07-22 17:25] imjohsep opened #1755 "Register Workflows at Server Start"
### 🚀 The feature

Register workflows as part of application startup for immediate access to work flow predictions.

### Motivation, pitch

Currently, workflows must be registered via the management api at `POST /workflows?url=myworkflow.war`. This requires some outside manual or automated registration of a workflow that is already thoroughly defined. Workflows should be able to self register base

[2022-07-22 18:34] msaroufim commented on #1754
Hi @amanjain1397appy if you try torch version `1.11` without torchserve do you see this error?

[2022-07-22 18:43] amanjain1397appy commented on #1754
I don't get any such errors when I try torch 1.11 without torchserve.

![image](https://user-images.githubusercontent.com/96763622/180503610-8ae702ab-f74f-44b8-a142-af00c91e43a6.png)

[2022-07-22 18:57] msaroufim commented on #1754
Ok cool, if you can share a repro that'll help make things go faster. Otherwise we'll take a look at how we run on A100 when we upgrade to `1.12`

[2022-07-22 19:03] amanjain1397appy commented on #1754
I'll try to share a repro.

Just wanted to let you know that when I try out the examples already present in torchserve repo for example [dcgan_fashiongen](https://github.com/pytorch/serve/tree/master/examples/dcgan_fashiongen) they work absoutely fine. Even the current model in which I am facing issues, was working fine on Torchserve in other machine  having the following specs.

![image](https://

[2022-07-22 20:12] mreso opened #1757 "Wring codecov binary is used in macos CI"
### 🐛 Describe the bug

We're using codecov linux binaries in our MacOS CI pipeline which fails to execute.

### Error logs

![image](https://user-images.githubusercontent.com/13337103/180519640-1ba5e259-4623-44bf-80c2-ff2ab2ab4cab.png)

### Installation instructions

Run CI

### Model Packaing

None

### config.properties

_No response_

### Versions

master

### Repro instructions

See https://g

[2022-07-22 20:20] msaroufim commented on #1757
Interesting how Windows runs :/ - just fixed this

[2022-07-22 20:36] #1757 closed

[2022-07-22 20:38] amanjain1397appy commented on #1754
@[msaroufim](https://github.com/msaroufim) I have reproduced the code and pushed it here at https://github.com/amanjain1397appy/serve-personal

[2022-07-22 21:12] msaroufim commented on #1744
This did not work - tagging @svekars who I'm planning on this discussing this more

[2022-07-24 16:50] #1753 closed

[2022-07-24 21:19] ozancaglayan commented on #24
Hi,

sorry to bring this up but I thought that this may be the right place.

I'm also having a similar issue with `torchserve-nightly`, but interesting with an eager model. After launching the server, the forward-pass for the very first HTTP request takes around 320ms whereas the subsequent ones take around 9ms. I've measured times of different snippets and indeed, it's the `forward` call that tak

[2022-07-25 13:52] ozancaglayan commented on #79
Hi there,

Lookin at this for some time and I think it is still super obscure where that `gpu_id` parameter should come from. Is that even possible that we deploy two models, one on `cpu` and the other one on `cuda:0`? Do we set this param from the `config.properties` file's `models=` section?

[2022-07-25 17:09] ozancaglayan commented on #24
sorry, ignore this, i didnt notice that the model was getting deployed onto gpu without any further setup, so that overhead is probably due to the model being on gpu, some CUDA cache coldness. now there seems to be still a slight lag in first calls on CPU, though probably negligible.

Thanks!

[2022-07-25 17:23] avickars opened #1761 "Explanation of data location on Workflows"
### 📚 The doc issue

I didn't see anything relating to this in the doc, so I figured Ill post the question here.  I am wondering where data is stored during a workflow?  For instance, in my case we are looking to execute a series of models on an image (i.e. a PGIE -> SGIE....), and we are wondering where is say the image that is sent to torchserve is stored?  In our ideal world we'd just move the

[2022-07-25 18:31] lxning opened #1762 "upgrade to PT1.12"
### 🚀 The feature

upgrade to PT1.12

### Motivation, pitch

PT 1.12 was released. TS needs to upgrade to PT1.12

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-25 20:04] ozancaglayan commented on #1018
Is there a solution for deploying one model on CPU but some other(s) on GPUs, other than modifying the BaseHandler so that it selectively sets the `device` depending on some other config params?

[2022-07-25 20:29] msaroufim commented on #1018
You could have multiple docker containers each with their own config.properties. Would that work?

[2022-07-25 20:39] YongWookHa opened #1763 "The handler only gets the correct value from cuda:0."
### 🐛 Describe the bug

I am using 2 GPU.
Torchserve inference returns correct values only for predictions run on cuda:0.

### Error logs

[code]

x_emb_1 != x_emb_2  # True

### Installation instructions

[code]

### Model Packaing

My handler looks like this

[code]

### config.properties

[code]

else : default setting

### Versions

docker-hub: `pytorch/torchserve:0.6.0-gpu`

### Repro instruc

[2022-07-25 20:59] ozancaglayan commented on #1018
i thought about it as well: lets remove docker from the equation, you are basically suggesting to run one torchserve instance for models that will run on vCPUs, and another for models that should be launched on GPUs. For the former, I add number_of_gpus=0 to ts config.

But is there a way to orchestrate things so that both APIs are accessible from the same IP:port? Otherwise, one should expose two

[2022-07-25 21:08] avickars opened #1764 "Decoding video frames on TS side"
### 📚 The doc issue

To maximize throughput I am looking to have the client batch multiple frames into a single request before sending to TS.  However, I am struggling to decode them back into tensors or arrays on the TS side (i.e. bytearray to tensor).  The only way I've been able to do it so far is to write the frames to disk and then read it back in using cv2 (on the TS side).  Does anyone know

[2022-07-26 06:03] YongWookHa commented on #1763
Updated the issue.
I thought the handler returns the correct value only in the `cuda:0`.
However, it turns out that alternating requests return the correct value. In a cycle of 2. Although I run the torchserve container with 1 gpu.
Here's an example.

[code]

[2022-07-26 15:39] xyang16 commented on #1740
I was able to reproduce the issue. The cause is that the browser (tested Firefox and Chrome) was using OPTIONS to do a preflight check before PUT and DELETE request.

In this case, the OPTIONS request is:

OPTIONS http://123.125.8.44:18081/models/insurance_chat?minWorkers=2&maxWorkers=3

TS code currently doesn't handle OPTIONS for management API and will throw MethodNotAllowedException.

https://

[2022-07-26 16:57] xyang16 commented on #1740
@koking0 Please change the cors_allowed_methods in config.properties to:

`cors_allowed_methods=GET, POST, PUT, DELETE`

[2022-07-26 18:24] abhinav-cashify opened #1768 "GPU sharing support across models"
### 🚀 The feature

Need feature for sharing the GPU across models. It can be configured by setting the  0 < workers < 1 for a model.

### Motivation, pitch

Currently one of my models is using 15% GPU utilization. I want multiple models to share GPU simultaneously. So that rest of the GPU can be utilized at the same time by other models.

### Alternatives

_No response_

### Additional context

_N

[2022-07-26 18:36] abhinav-cashify opened #1769 "Automatic loading and unloading of model."
### 🚀 The feature

Torchserve automatically loads and unloads the model on the basis of the request. If I have registered 3 models in torchserve. If one of the models does not get any hit in like 1 day, it will automatically unload the model from memory. Once I got the hit for that model, it will be loaded back to memory. (like the one provided by AWS Sagemaker multi-model Endpoint)

### Motivatio

[2022-07-26 21:44] agunapal commented on #1763
@YongWookHa  Could you please clarify if your setup is single GPU or multiple GPU. Also, could you please share some details on the model ( some example of an open source model) so I can repro it.

[2022-07-27 08:23] amit-cashify commented on #1768
@msaroufim

[2022-07-27 08:24] amit-cashify commented on #1769
@msaroufim

[2022-07-27 11:48] RutujaWanjari opened #1770 "Torchserve unable to handle cv2 images"
### 🐛 Describe the bug

I did some image composition ie overlaying 1 image on top of other using cv2

After running this command I get different results on local vs torchserve -
`cv2.imwrite("composited_image.png", composited_image)`

Local machine result -
![composited_image_0](https://user-images.githubusercontent.com/19467081/181234642-de12fe5c-38f7-4bfd-8a2d-40a216e5b813.png)

After running sa

[2022-07-27 16:04] lxning commented on #1769
@amit-cashify AWS Sagemaker multi-model Endpoint makes call to TorchServe to unload model based on the memory usage. This elastic loading/unloading feature is provided by Sagemaker hosting service. Customers has to pay for the inference latency spike due to model reloading cost.

On TorchServe roadmap, we are going to address memory usage and elastic parallel processing issues by providing the fol

[2022-07-27 16:05] lxning commented on #1768
@abhinav-cashify @amit-cashify this is already on our roadmap.

[2022-07-27 16:47] agunapal commented on #1764
@avickars  Can you please share the code you have tried. I can try to repro this

[2022-07-27 16:51] agunapal commented on #1770
@RutujaWanjari  Can you please share the steps to repro the problem. How are you passing the image, what model you are using, the code you have written etc. Thanks

[2022-07-27 20:15] JafarBadour opened #1771 "Cant find org.pytorch.serve.grpc.inference"
### 📚 The doc issue

Cant find the grpc inference java code?

### Suggest a potential alternative/fix

_No response_

[2022-07-27 21:59] agunapal commented on #1764
@avickars Have you looked at this example where a video is being passed.  I believe you can modify this to pass a batch of images and decode it in the handler https://github.com/pytorch/serve/tree/master/examples/MMF-activity-recognition

[2022-07-27 22:43] avickars commented on #1764
@agunapal Appreciate the response!  So that example is essentially my code actually.  I copied it exactly and it actually doesn't work (have tried a variety of avenues with no luck.  The only difference is that I was replicating that example in a workflow, and was performing the decoding in the workflow pre-processor (to be clear I was not able to decode it in the pre-processor).  There shouldn't

[2022-07-27 23:01] avickars commented on #1764
To follow up, below is the torchserve output I am getting:

`2022-07-27T22:58:17,630 [INFO ] W-9003-w1__pre_processing_1.0-stdout MODEL_LOG -     video_tensor, audio_tensor, info = torchvision.io.read_video(video)
2022-07-27T22:58:17,630 [INFO ] W-9003-w1__pre_processing_1.0-stdout MODEL_LOG -   File "/opt/conda/lib/python3.8/site-packages/torchvision/io/video.py", line 267, in read_video
2022-07-

[2022-07-28 00:49] agunapal commented on #1764
@avickars I tried something like this and it works
You can one process which is reading frames from a device and putting the frames in a buffer
Have another process to read this buffer frame by frame, convert to bytes and make requests.
I am still trying how to pass a batch of images.
`
data = open(<file>, 'rb')
response = requests.post('http://localhost:8080/predictions/resnet152', data=data)`

[2022-07-28 01:37] agunapal commented on #1764
@avickars I tried the following and it works.

If you are using opencv to read the video, add the following code in your while loop

Please let me know if this works for you.

`data = cv2.imencode('.jpg', frame)[1].tobytes()
`
`
    response = requests.post('http://localhost:8080/predictions/resnet152', data=data)
`

[2022-07-28 01:58] agunapal commented on #1761
@avickars  I wad discussing with @maaquib  regarding this. Currently, the preprocessing step is not shared by the different elements of the DAG in the workflow. It's not optimal but optimizing this to a zero copy solution is not planned for the near future.

[2022-07-28 16:39] agunapal commented on #1715
Closing this. Please re-open if issue is not resolved

[2022-07-28 16:39] #1715 closed

[2022-07-28 18:14] agunapal commented on #1771
@JafarBadour Can you please clarify what is the context and what you are looking for

[2022-07-28 18:44] JafarBadour commented on #1771
I am trying to understand torchserve code base and it seems it is missing this part

[2022-07-28 19:52] agunapal commented on #1771
Got it . Thanks

[2022-07-30 13:39] zyx-cv commented on #706
hello, have you successfully put you mmdet model on torchserve. I met some troubles when excute thr oder "docker build -t mmdet-serve:latest docker/serve/"

[2022-08-01 03:41] duk0011 opened #1776 "Handle invalid json formatted requests without killing the worker process"
### 🚀 The feature

**Current Setup:**
Currently, the TorchServe backend worker process dies whenever it receives an invalid json formatted requests.

**Feature Requested:**
Instead of killing the backend worker process, TorchServe could handle this failure gracefully within **try** block, log the failing payload and send back any relevant error code (may be 400?).

**Test Query:** "Blue shirt!

**

[2022-08-01 11:27] dalvlv commented on #967
@cbasavaraj @lxning @cgnhmt
I met the extremly same problem even though at new ts version in 0.6. Has Anyone solved the problem？

[2022-08-01 15:54] #1730 closed

[2022-08-01 15:54] #1731 closed

[2022-08-01 15:54] #1732 closed

[2022-08-01 16:03] #1771 closed

[2022-08-01 17:38] #1733 closed

[2022-08-01 22:48] msaroufim commented on #1619
Thanks @rohithkrn !

[2022-08-01 22:48] #1619 closed

[2022-08-02 09:14] Shin-ichi-Takayama opened #1777 "Handler to input/output wav file"
Thank you for your help.

I want to create a handler to input/output wav file.
Is there a sample handler?
If not, is there any documentation that would be helpful?

Best regards.

[2022-08-02 10:14] nhthanh0809 opened #1778 "Read data from local directory of Torchserve server side"
Hi all,
Currently, i'm trying to send request to Torchserve by sending "image path" instead of "image data" (REST API)
Although I put the image file to Current directory of Torchserve, but in Torchserve sever side I can not read this file (File can not be found)
I tried to change TEMP env, but even put image file to there, Torchserve server still can not read it.
Do have any solution for this issu

[2022-08-02 16:23] jonhilgart22 commented on #1581
I'm also running into this. Any pointers to what the refactor would look like?

[2022-08-02 17:41] lxning commented on #1778
@nhthanh0809 TorchServe does not support a directory as the inference input payload. Can you clarify if "image path" is a directory?

[2022-08-02 17:43] lxning commented on #1777
@Shin-ichi-Takayama
[here](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#custom-handlers) is documentation of customer handler.

[here](https://github.com/pytorch/serve/blob/master/docs/default_handlers.md) is the documentation of default handler.

[2022-08-02 17:52] lxning commented on #1776
@duk0011 Thank you for the report. I add this into TS backlog.

[2022-08-03 18:50] ridhwan-saal opened #1779 "/models returns empty list of models when models is specified"
### 🐛 Describe the bug

Please note that this is related to https://github.com/pytorch/serve/blob/master/docs/configuration.md#config-model

I have a config file in the config section below.

In the serve logs I can see my model "newmodel" and its config, but it's not loaded. Hitting `:8085/models` shows no models loaded, which is expected because there are no models loaded (default is `N/A` for l

[2022-08-03 18:51] ridhwan-saal commented on #1779
Please note that I am able to run the model properly when model_snapshot is provided
[code]

[2022-08-04 03:17] nhthanh0809 commented on #1778
@lxning Thank for your responce,
Actually, my idea is described as below:
IDEA: I would like to send request to my customized object detection Torchserve  model by using JSON like bellow:
{"image": "/path/to/abc.jpeg"}
Then in server side (XXX_handler.py) I want read this image file via "/path/to/abc.jpeg" path. Subsequently, I want to save the output of the model to specific directory (save image

[2022-08-04 16:24] jonhilgart22 opened #1780 "Memory leak"
### 🐛 Describe the bug

I have an onnx model running a normal endpoint, no issues.

 I have a second endpoint that is running a workflow that I think is leaking memory.  I see the torch container constantly increasing working memory until the node on Kube crashes at about 8-10 QPS. This crashes every 1-3 days.
<img width="463" alt="image" src="https://user-images.githubusercontent.com/8621935/1828

[2022-08-04 22:45] lxning commented on #1780
@jonhilgart22 v0.6.0 has a fix for thread clean up. Could you please try it and see if the issue is still there?

[2022-08-04 22:49] lxning commented on #1778
@nhthanh0809 you can write your own handler to process this request. you can save the output is the model dir in your handler. model dir can be found at [here](https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L80)

[2022-08-05 02:55] lxning commented on #1779
@ridhwan-saal in config.properties,
"[models](https://github.com/pytorch/serve/blob/master/docs/configuration.md#config-model)": is used to provide parameters for model loading.
"[load-model](https://github.com/pytorch/serve/blob/master/docs/configuration.md#load-models-at-startup)s": is used to specify which model needs to be loaded during torchserve start.

you can either:
* run: model-server@e4

[2022-08-05 02:57] ridhwan-saal commented on #1779
@lxning what if I want to change what models are loaded while serve is already running? Do I have to stop it and open it again?

[2022-08-05 04:07] X-Bei commented on #1659
Unfortunately I also have the same problem as you, please ask if you have a suitable solution, my email is: 946654363@qq.com, hope to get your reply

[2022-08-05 17:23] lxning commented on #1779
@ridhwan-saal you can change model configuration via [rest-api](https://github.com/pytorch/serve/blob/master/docs/management_api.md#scale-workers)

[2022-08-05 17:25] ridhwan-saal commented on #1779
I tried load model all and it is loading the same model 10 times before crashing, even though I have 1 model only specified. @lxning

[2022-08-05 17:53] jonhilgart22 commented on #1780
Let me try that - thanks

[2022-08-06 05:18] hungtooc opened #1782 "Unsupported model output data type"
### 📚 The doc issue

Where is list of supported data type? How could I return numy-array, tensor, or bytes in postprocess()?

### Suggest a potential alternative/fix

_No response_

[2022-08-07 23:43] msaroufim commented on #1768
@amit-cashify Would you happen to be using a newer generation of GPUs? On Ampere+ you can leverage Multi Instance GPUs like so https://discuss.pytorch.org/t/access-gpu-partitions-in-mig/142272/4

[code]

[2022-08-08 03:54] lxning commented on #1779
@ridhwan-saal could you please provide the following information and log?
- how many models are there in model_store dir?
- what is the command to start torchserve?
- what is the config.properties

[2022-08-08 03:56] nhthanh0809 commented on #1778
@lxning
Many thanks for your suggestion.
My goal is Torchserve can integrate with NFS server.
I hope that Torchserve have this feature in future.

[2022-08-08 03:56] #1778 closed

[2022-08-08 03:58] lxning commented on #1777
@Shin-ichi-Takayama please feel free to reopen if you have further questions

[2022-08-08 03:58] #1777 closed

[2022-08-08 09:33] Shin-ichi-Takayama commented on #1777
@lxning
Sorry for the delay in replying.
I have created a custom handler based on the documentation.
However, it is not working well.
Below is the procedure I have followed.

I have attempted to API the following inference code.
This code removes noise from a wav file that is a mix of noise and voice.
I used [ESPnet](https://github.com/espnet/espnet) as the noise removal tool.

[code]

So I create

[2022-08-08 14:18] mhashas opened #1783 "Question regarding multiple inputs / batching"
### 📚 The doc issue

Hello!

I am a bit confused about the internal workings of torchserve regarding batching and multiple inputs. I will try to best explain my questions.

Let's start with the first question, which regards batching (let's disregard multiple inputs for now).

1. Is it true that requests can be batched together by TorchServe? i.e. user A under user B both make a request, in order t

[2022-08-08 14:38] mhashas commented on #1783
I seem to have found the answer to the second.

In my case I can indeed send a dict `{"image": bytes, "mask": bytes}` and in the handler I can do:

[code]

https://github.com/pytorch/serve/blob/5c03e711a401387a1d42fc01072fcc38b4995b66/frontend/server/src/main/resources/proto/inference.proto#L17.

[2022-08-08 14:43] mhashas commented on #1783
Regarding the first, as I can see the 'maxBatchDelay and batchSize' config properties seem to control whether inputs are batched, correct? However, it's still my code's responsability to handle > 1 batch size? Can this behaviour be disabled by setting batchSize to 1? In the case of the text_classifier, batch size should always be 1?

Thank you

[2022-08-08 15:54] ridhwan-saal opened #1784 "load_models all loading the same model 10 times before going unresponsive"
### 🐛 Describe the bug

This is a continuation of #1779 as that discussion took a different route.

### Error logs

[Logs too long, moved to pastebin](https://pastebin.com/mGe5JLYW)

### Installation instructions

`docker run --rm -it -p 8085:8085 -v $(pwd):/home/model-server/ pytorch/torchserve bash`

### Model Packaing

Packaged using model archiver 0.6
Model Handler
[code]

### config.propertie

[2022-08-08 15:56] ridhwan-saal commented on #1784
Quote from @lxning https://github.com/pytorch/serve/issues/1779#issuecomment-1207632295

There is 1 model in model store
the command is `torchserve --start --model-store model_store --ts-config config.properties > models_all.log`

The hierarchy is
- model_store/testmodel.mar
- logs/
  - config
  - logs*.log
- tmp/
- config.properties

[2022-08-09 01:42] Shin-ichi-Takayama commented on #1777
The console log when starting torchserve is as follows.

root@e43b6b75eb45:~/transformer# WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
2022-08-09T01:39:46,266 [INFO ] main org.pytorch.serve.servingsdk.impl.PluginsManager - Initializing plugins manager...
2022-08-09T01:39:46,471 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.6.0

[2022-08-09 07:26] Shin-ichi-Takayama commented on #1777
@lxning
Sorry, could you please reopen this issue?

[2022-08-09 10:01] 961644660 commented on #1754
You can print this and try it. The gpuid in the docker may not be consistent with the actual gpuid. For example,
`docker run --gpus "device=1"  ...`

<img width="948" alt="image" src="https://user-images.githubusercontent.com/36272524/183620093-f3c48708-08ed-454b-ac08-77816d40dd7b.png">
<img width="957" alt="image" src="https://user-images.githubusercontent.com/36272524/183620263-ebaf4e8f-f303-421

[2022-08-09 18:06] maaquib commented on #1782
@hungtooc For returning custom data types, you can serialize it to a bytearray and then deserialize it on the client side. For instance, for numpy array, you could use `np.save` and `np.load` to do this.

I'll leave this issue open to add this to the custom_service documentation

[2022-08-09 18:12] maaquib commented on #1783
@mhashas There are two ways of disabling server side batching. You can set batchSize=1 during registering your model or set them up in the `config.properties` file. ([doc](https://github.com/pytorch/serve/blob/master/docs/batch_inference_with_ts.md#torchserve-model-configuration)). Feel free to re-open if you need any more info

[2022-08-09 18:12] #1783 closed

[2022-08-09 18:14] mhashas commented on #1783
@maaquib Thanks for the answer. Regarding if its my responsability to handle > 1 batch size or it's handled automatically by torchserve?

In the VisionHandler (https://github.com/pytorch/serve/blob/master/ts/torch_handler/vision_handler.py#L38), you loop over rows of data. This leads me to believe that my custom handler code should work for batches and not only a single example. i.e. I need to mak

[2022-08-09 18:25] maaquib commented on #1784
@ridhwan-saal This typically happens when there is an error in the handler file. It is possible that the logs are not getting flushed to the frontend before the worker dies. Can you post the output of `pip freeze` from the env you are running this on. Also, can you try running the script standalone to make sure there aren't any missing dependencies

[2022-08-09 18:53] maaquib commented on #1784
@ridhwan-saal Thanks for the info. I will try and reproduce this. Can you also let me know what name or path you are loading here `self.config = AutoConfig.from_pretrained(model_path)`?

[2022-08-09 18:58] ridhwan-saal commented on #1784
@maaquib it's a huggingface model so it's referenced by name:
`CAMeL-Lab/bert-base-arabic-camelbert-msa-sixteenth`

Let me know if you need any more info. So far I've ran this on different machines (and on a Kubeflow cluster) and all of them produce the `INITIALIZING TOPIC CLASSIFIER` more than 20 times, which is a log I have placed in the `initialize` function of the handler as seen above.

[2022-08-10 02:16] yayuntian opened #1786 "huge performance gap on intel mac metal vs docker run env"
### 🐛 Describe the bug

The results obtained by running in different environments vary greatly

- run in macbook pro 2019 metal
- run in the same metal, but use docker 20.10.17

running command is exactly the same as the mar file, but serve TPS differs greatly

### run in metal

`torchserve --start --model-store model-store --models all`

wrk result
[code]

###  run in docker

[code]
and in docker

[2022-08-10 05:13] yayuntian commented on #1786
@lxning  help

[2022-08-10 05:27] moghadas76 opened #1787 "page not found!"
### 📚 The doc issue

https://github.com/pytorch/serve/blob/master/docs/model-archiver/README.md

### Suggest a potential alternative/fix

_No response_

[2022-08-10 07:42] Shin-ichi-Takayama opened #1788 "Handler to input/output wav file"
I am asking again because the Issue(#1777 ) is not reopen.
I have created a custom handler based on the documentation.
However, it is not working well.
Below is the procedure I have followed.

I have attempted to API the following inference code.
This code removes noise from a wav file that is a mix of noise and voice.
I used [ESPnet](https://github.com/espnet/espnet) as the noise removal tool.

[

[2022-08-10 07:43] Shin-ichi-Takayama commented on #1788
The console log when starting torchserve is as follows.

root@e43b6b75eb45:~/transformer# WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
2022-08-09T01:39:46,266 [INFO ] main org.pytorch.serve.servingsdk.impl.PluginsManager - Initializing plugins manager...
2022-08-09T01:39:46,471 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.6.0

[2022-08-10 20:36] jonhilgart22 commented on #1780
That seems to have fixed it. Thank you!

[2022-08-10 20:36] #1780 closed

[2022-08-11 03:29] maaquib commented on #1786
@yayuntian Can you provide the reproduction steps, particularly regarding the model ` --serialized-file models/bert_model.pt --extra-files ./bert_record.py,./models/content_id_map.json`. I want to get a breakdown of where the latency is added, is it just the model or also the server frontend

[2022-08-11 03:33] maaquib commented on #1788
@Shin-ichi-Takayama  Looking at the logs, it seems like you have not installed espnet2.
`ModuleNotFoundError: No module named 'espnet2'`

[2022-08-11 04:44] Shin-ichi-Takayama commented on #1788
Thanks for your reply.

However, I am able to run the following code importing espnet2.

[code]

I checked the library with the `pip list` command.
espnet was installed.

Package             Version
\------------------- --------------------
appdirs             1.4.4
audioread           2.1.9
captum              0.5.0
certifi             2019.11.28
cffi                1.15.1
chardet             3.0

[2022-08-11 12:30] ozancaglayan commented on #1208
Hi,

Why this was completed?

[2022-08-11 16:52] maaquib commented on #1784
@ridhwan-saal I am not able to reproduce this. Let me know if I got something wrong from your instructions

`torchserve --start --model-store model_store --ts-config config.properties --ncs --models all` Works fine. The only change I made was

[code]

[code]

[2022-08-11 16:54] maaquib commented on #1788
@Shin-ichi-Takayama Can you also confirm if the python executable being used by Torchserve `/usr/bin/python3.8` is the same as the on you are checking the `pip list` for?

[2022-08-11 18:21] ridhwan-saal commented on #1784
@maaquib
I will try to replicate your changes tomorrow to see how they go with me. But from what I've seen are the following differences between us:

- You used `--ncs` where I didn't.
- You are passing `models all` where I'm doing that in config file
- In your config you commented out models where mine is there (perhaps it's the reason?)

I will let you know how it goes once I try it out. Thanks

[2022-08-11 21:52] msaroufim commented on #1208
Hi @ozancaglayan not quite, we're now tracking this item in #1631 - @HamidShojanazeri has a promising proposal there to package configurations using the `torch-model-archiver` so please feel free to put any feedback on that issue. Thanks!

[2022-08-11 23:53] duk0011 commented on #1492
If the model is configured with multiple workers, is there a way to know **worker specific** metrics/informations within the model logs? If not, can this be added.

[2022-08-12 12:36] liyaodev opened #1790 "Error in compiling plugins"
### 🐛 Describe the bug

FAILURE: Build failed with an exception.

### Error logs

* Where:
Build file '/.../serve/plugins/DDBEndPoint/build.gradle' line: 13

* What went wrong:
A problem occurred evaluating project ':DDBEndPoint'.

### Installation instructions

Docker

### Model Packaing

https://github.com/pytorch/serve/

### config.properties

https://github.com/pytorch/serve/blob/master/plugin

[2022-08-12 14:42] dalvlv opened #1792 "Batch inference for dynamic input size"
### 📚 The doc issue

I'm doing TTS tasks and my input size is dynamic. I want to use batch inference in torchserve.
My question is how to send  dynamic inputs to the model?
If use padding, how to do.
Is there any docs or examles?

### Suggest a potential alternative/fix

_No response_

[2022-08-12 18:30] maaquib commented on #1792
@dalvlv Can you provide some more detail on which handler are you using? I am assuming when you say dynamic batch size you are talking about client size batching

[2022-08-12 21:07] dalvlv commented on #1792
Hi @maaquib ,
I use the handle in text_to_speech_synthesizer. And the example handle seems not to surppot batch inference.
text length is not same.
I want to synthesis several texts once.

[2022-08-13 02:47] Shin-ichi-Takayama commented on #1788
@maaquib
Thanks for your reply.

I built the environment again.
I was able to see espnet and torchserve in the `pip list`.
I think they refer to the same Python.

Package              Version
\-------------------- --------------------
aniso8601            9.0.1
ansi2html            1.8.0
appdirs              1.4.4
arrow                1.2.2
audioread            2.1.9
certifi              2019.11.2

[2022-08-13 04:43] Shin-ichi-Takayama commented on #1788
I was getting an error "NameError: name 'os' is not defined", so I added "import os" to the model_handler.py file.
The log changed as follows.

2022-08-13T13:30:12,959 [INFO ] main org.pytorch.serve.servingsdk.impl.PluginsManager - Initializing plugins manager...
2022-08-13T13:30:13,097 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.6.0
TS Home: /usr/local/lib/python3.8/dist-pa

[2022-08-15 08:56] sharvil opened #1793 "Docker images for CUDA variants"
### 🚀 The feature

It would be really nice to have Docker images on the Hub for the various releases of CUDA – in particular, the same CUDA versions as the official PyTorch repository (currently 10.2, 11.3, 11.6).

### Motivation, pitch

Older CUDA versions don't fully support newer hardware, e.g. CUDA 10.2 doesn't support compute capability 8.6 devices. While it's possible to build Docker images

[2022-08-15 15:53] tpanza opened #1796 "Mention Java dependency in installation instructions"
### 📚 The doc issue

`torchserve` apparently requires Java (and, in particular, Java 17) in order to run. However, neither the [README](https://github.com/pytorch/serve/blob/master/README.md#install-torchserve) nor the [Getting Started doc](https://github.com/pytorch/serve/blob/master/docs/getting_started.md) describe this requirement.

The closest I can find about this requirement are the [Win Na

[2022-08-15 15:54] maaquib commented on #1793
@sharvil We do support [building from source](https://github.com/pytorch/serve/blob/master/docker/build_image.sh#L66-L82) for different versions of cuda. You can check out [this](https://github.com/pytorch/serve/tree/master/docker#create-torchserve-docker-image) for more details

[2022-08-15 15:56] maaquib commented on #1788
From the logs it seems like it is missing a file to load
[code]

[2022-08-15 16:03] msaroufim commented on #1796
Today we do this via `python ./ts_scripts/install_dependencies.py --cuda=cu102` which is mentioned in the README. Do you think it'd best to briefly mention what this script does also in the main `README`?

[2022-08-15 16:10] tpanza commented on #1796
Thanks, @msaroufim Yes, I think the Java dependency is important enough to warrant mentioning up front in the README.

I suppose this is technically a separate issue, but the `ts_scripts/install_dependencies.py` does not appear to be a universal solution. For example,  running `apt-get install -y openjdk-17-jdk` for someone running on a RHEL-based distro.

[2022-08-15 16:28] msaroufim commented on #1796
Interesting, what did you need to do to make it work? I'm happy to make `install_dependencies` more general for you

[2022-08-15 18:36] #1740 closed

[2022-08-15 19:01] sharvil commented on #1793
@maaquib in the "Motivation" section I pointed out that it's possible to build from source but is inconvenient. This feature request is to build and push the image variants to Docker Hub. Can you please reopen this feature request?

[2022-08-15 19:54] msaroufim commented on #1793
Hi @sharvil it's not difficult to do this, I do appreciate that you're suggesting only 3 versions that way we can deprecate old ones as needed. Historically our release process involves manual promotions which has made doing something like this a pain but once this is merged #1666 your ask will be easy to handle

[2022-08-15 20:30] msaroufim opened #1797 "Efficient and Consistent Batching"
### 🚀 The feature

I've had this conversation offline a few times so I figured I would summarize it a single thread to explain how batching works in TorchServe today and how to make it more efficient

### How batching works today

Today our batching is controlled via 2 parameters in `config.properties`, `batch_size` and `max_batch_delay`

So let's say you set the `batch_size` to 8 and `max_batch_d

[2022-08-15 21:10] tpanza commented on #1796
For RHEL, [this procedure is one way to install JDK](https://access.redhat.com/documentation/en-us/openjdk/17/html-single/installing_and_using_openjdk_17_on_rhel/index#installing-jdk11-on-rhel-using-yum_openjdk). The package manager is `yum`, rather than `apt-get`. The package name is `java-17-openjdk-devel`, rather than `openjdk-17-jdk`.

Having a general Java installer sounds quite ambitious, IM

[2022-08-15 23:21] msaroufim commented on #1768
@abhinav-cashify @amit-cashify out of curiosity what kind of GPU are you using? Starting from Ampere, NVIDIA has added support for MIG to allow resource isolation and allocate partial GPUs. We would just need to make sure to pass in the right device id from `config.properties` to the handler https://docs.nvidia.com/datacenter/tesla/mig-user-guide/

Here's how to use it in your PyTorch code https:/

[2022-08-15 23:53] #1776 closed

[2022-08-16 02:20] hungtooc commented on #729
its 2022 and system metrics not added to API metrics yet

[2022-08-16 04:17] #1686 closed

[2022-08-16 04:17] #1708 closed

[2022-08-16 04:34] msaroufim commented on #1796
Interesting, lemme discuss this with @rohithkrn and get back to you

[2022-08-16 07:39] Shin-ichi-Takayama commented on #1788
@maaquib
Thank you for your reply.

I am not using the constants.pkl file. I do not include it in the source of my custom handlers.
Are you saying that the constants.pkl is being used somewhere?

[2022-08-17 10:01] ozancaglayan commented on #1797
Hello @msaroufim . A quick question that boggles my mind on this: what happens if N different users pushes requests at more or less the same time to the API and their requests are internally batched? How do the N users get the N responses that correspond to their requests in the end?

[2022-08-17 11:35] github-actions[bot] opened #1799 "Nightly Docker build failed"
Commit 55eff698b65eb759573f15441cd59b2ff7fd776f daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2874923519) failed, please check why

[2022-08-17 12:58] ridhwan-saal commented on #1784
@maaquib
Apologies for taking a while as I was caught up in some things.
I tried using your method to replicate it but unfortunately the same things happen. However when I have `--ncs`, even though the same problem persists I am able to hit the prediction endpoints and use torchserve normally. So the only problem is that I can see the `Initializing` about 20 times.

[2022-08-17 15:24] jack-gits opened #1800 "integrate with configuration server"
### 🚀 The feature

whether the serve can integrate with the popular configuration server?

### Motivation, pitch

it will be flexible to change the configuration parameters.

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-17 16:02] msaroufim commented on #1800
Hi which configuration server are you referring to?

[2022-08-17 16:35] msaroufim commented on #1799
This issue was sporadic, retriggering the job solved the problem https://github.com/pytorch/serve/runs/7883105684?check_suite_focus=true

[2022-08-17 16:35] #1799 closed

[2022-08-17 16:45] msaroufim commented on #1797
That's a good question so right now TorchServe would return N requests back to each of the N users and a good long-term solution for this would be us to add a middleware layer that would keep track of who made the request in a batch and send it back to them only.

But a good workaround I've seen others use is this, each of the `preprocess()`, `inference()` and `postprocess()` have the following si

[2022-08-17 20:56] ozancaglayan commented on #1796
I generally refrain from running dependency installer scripts unless I'm 100% sure what it does. So I think it'd be good to document all the steps performed in the install_deps also in the README file.

[2022-08-18 03:24] jack-gits commented on #1800
there're many popular config server used in micro-service world, such as consul,  nacos, Apollo.
if the parameters related with environment and resource is stored in the config server, it will be easy to change it and just restart the server to effect the new parameter, such as default_workers_per_model, number_of_netty_threads, minWorkers, maxWorkers etc.

[2022-08-18 09:15] ozancaglayan commented on #932
What's the situation on this, did you try with recent versions of the toolkits @lgvaz ?

[2022-08-18 09:18] ozancaglayan commented on #1392
is this actually an issue related to `torchserve` or rather to `torch` packages?

[2022-08-18 11:20] Vert53 commented on #1235
This should really be added to the batch inferencing documentation as the example there only shows how to run 1 image. I was pretty confused until I stumbled on this issue.

https://pytorch.org/serve/batch_inference_with_ts.html

"""
Run inference to test the model.

  $ curl http://localhost:8080/predictions/resnet-152-batch_v2 -T kitten.jpg
  {
      "tiger_cat": 0.5848360657691956,
      "tabby

[2022-08-18 13:44] lromor commented on #1722
In case anyone gets to a similar issue and would like to have a quick fix, I patched the code with:

[code]

[2022-08-18 15:15] msaroufim commented on #1235
Agreed lemme reopen this to keep track

[2022-08-18 15:16] msaroufim commented on #1722
I think this is the right solution. Wanna make a PR for it? May just need to add a logging warning as well

[2022-08-18 23:28] msaroufim commented on #1800
Which one would be most useful to you? Realistically we can only prioritize one at first

[2022-08-19 04:44] Gabibing commented on #1392
I think it's related to torchserve because it doesn't happen with torch only

[2022-08-21 02:54] jack-gits commented on #1800
nacos should be most popular.

[2022-08-21 02:58] jack-gits commented on #1800
nacos always provide python-sdk for python application integrate with it.

https://github.com/nacos-group/nacos-sdk-python

[2022-08-21 15:47] jack-gits opened #1806 "image size limitation"
### 🐛 Describe the bug

whether there's a limitation of image size? when the image is bigger, app can't pass the image to the torchseve.

### Error logs

there's no any log in the torchseve. seem it didn't receive the access request.

### Installation instructions

yes, using docker 0.6.0gpu version

### Model Packaing

use torch-model-archiver

### config.properties

_No response_

### Versions

[2022-08-21 16:45] msaroufim commented on #1806
There is an image size limit that you can change in your `config.properties` https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties

[2022-08-22 08:57] jamessocure commented on #1316
I had a similar requirement. After digging into the code, I noticed that torchserve already supports it. It probably needs to be documented. The below is a minimal example:

[code]

[2022-08-22 17:00] agunapal commented on #1770
Please reopen the issue when you get a chance

[2022-08-22 17:00] #1770 closed

[2022-08-22 17:01] agunapal commented on #1761
Closing since there is no follow up comment. Please re-open if required

[2022-08-22 17:02] agunapal commented on #1763
Closing since there is no followup. Please re-open when you get a chance

[2022-08-22 17:02] #1763 closed

[2022-08-22 17:03] agunapal commented on #1764
Please re-open if the above recommended solution didn't work

[2022-08-22 17:03] #1764 closed

[2022-08-23 14:00] piEsposito opened #1808 "Enable multiple serving signatures, as TF Serving does"
### 🚀 The feature

It would be great if, given a handler, we could define multiple serving signatures and bind them to specific endpoints of models. That way, we could use the same model in different ways without having to load them twice in memory.

### Motivation, pitch

It is expensive to load very large models (language ones, for example) in memory, and this is needed if we need to call them i

[2022-08-23 17:21] agunapal commented on #1808
Thanks @piEsposito It would be great if you can give a specific example you had in mind and how this would look like. If you have an example of this in some other framework, you could share that as well.

[2022-08-23 19:07] github-actions[bot] opened #1810 "Nightly CPU benchmark failed"
Commit 8c23585d2453f230c411721028ad4b07e58cc7dd daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2908587948) failed, please check why

[2022-08-24 02:26] tednaseri opened #1812 "TorchServe no prediction when input data gets bigger (Backend worker did not respond in given time)"
### 🐛 Describe the bug

I am passing JSON data to python-requests. For simplification you can assume the following input:
[code]
**Issue:**
When the `count<= 8` --> it is working well.
As soon as `count>8` --> it stuck and never returns.

as you see the input is just a simple python dictionary and if I set `input_data = [dic1 for i in range(10)]` the final size of the input would be very small.

I

[2022-08-24 05:07] Shin-ichi-Takayama commented on #1788
The custom handler has been modified as follows
[code]

After modifying the model load process, the error is gone.
The error is gone and torchserve appears to be working.

I sent the wav file to torchserve with the following command

However, the following error was returned
[code]

The Torchserve logs are as follows
[code]

Is there somewhere wrong?
Best regards.

[2022-08-24 06:24] tripathiarpan20 commented on #1783
Hi @mhashas
I have been learning Torchserve with AWS past few days too and have read a fair bit of documentation too.

The Line 5 of [TextClassifier](https://github.com/pytorch/serve/blob/master/ts/torch_handler/text_classifier.py#L5) indeed mentions that it does not support batching, not sure why though as I haven't looked into it.

Your understanding of dynamic batching is also along the lines o

[2022-08-24 08:13] LiJell opened #1813 "Cannot load model"
### 🐛 Describe the bug

I am trying to deploy locally pretrained model via sagemaker to make a endpoint and use it.

I deployed a model
=====================================================================================
from sagemaker.pytorch import PyTorchModel

pytorch_model = PyTorchModel(model_data='model.tar.gz',
                             role=role,
                             entry_poi

[2022-08-24 10:16] Vert53 commented on #1235
@toretak were you able to get some python asyncio code working asynchronously with Torchserve API?

[2022-08-24 12:35] tednaseri commented on #1812
- The reason behind sending a list of input data instead of single input: The computational performance
- I have increased  responseTimeout, but it does not help

[2022-08-24 13:39] piEsposito commented on #1808
In tf serving you can define, on the model, multiple functions and bind them to endpoints when serving. That way, you can call the same model differently (using different parts of the graph, for example).

So we could have a decorator or a config on on the handler that lets the dev define which methods of it are called when each endpoint of the server is called.

TF Serving does that as: https://w

[2022-08-24 14:37] mhashas commented on #1783
Hi @tripathiarpan20,

First of all thanks a lot for the awesome resources and for clearing things up for me. Best of luck in your learning journey.

[2022-08-24 17:52] agunapal commented on #1810
Being addressed by https://github.com/pytorch/serve/pull/1811

[2022-08-24 19:06] agunapal commented on #1812
Taking a look. Will get back to you

[2022-08-24 22:28] agunapal commented on #1812
@tednaseri Can you please share how you are pre-processing and running inference on the input data. In another usecase, I have tried sending batch of images (10) as json data and processing them in a single batch and this works. So, I would need more details on your implementation to repro this. For example, it would be great if you can use the HuggingFace transformer example given in the README t

[2022-08-25 01:16] agunapal commented on #1813
@LiJell I checked with  @lxning  about this this. Please try using version 1.11 instead of 1.9

[2022-08-25 01:49] LiJell commented on #1813
Thank you I will try version 1.11!!

[2022-08-25 02:10] LiJell commented on #1813
@agunapal

I tried version 1.11, but I got more error ;(
I am a  beginner of this AI field, and I kinda lost even if I am trying hard to find the reasons

======================================================================================
--------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-08-25 02:31] tednaseri commented on #1812
**@agunapal** Thank you so much for the response. For an easier communication, I have tried to simplify the custom handler  while it repros the problem. For this purpose, I imagine that the input data is just a digit, then the handler makes a dummy input as follows:
[code]

Using this handler, it still faces the issue.
Here is the prepared handler:

[code]

[2022-08-25 02:35] LiJell commented on #1813
@agunapal

inference.py post here again just in case.
I think I might wrote inference.py in a wrong way since I still am not understood fully

`class ConvNormLReLU(nn.Sequential):
    def __init__(self, in_ch, out_ch, kernel_size=3, stride=1, padding=1, pad_mode="reflect", groups=1, bias=False):

        pad_layer = {
            "zero":    nn.ZeroPad2d,
            "same":    nn.ReplicationPad2d,

[2022-08-25 05:19] Shin-ichi-Takayama commented on #1788
This issue is closed as it appears to be a curl issue, not torchserve.

[2022-08-25 05:19] #1788 closed

[2022-08-25 05:58] amit-cashify commented on #1208
@msaroufim we are also working on serving yolov7 using either ONNX or TensorRT through TorchServe. Are there any clear best-practices for that?

Repo: https://github.com/WongKinYiu/yolov7/tree/main/deploy/triton-inference-server

cc @saurav-cashify @abhinav-cashify

[2022-08-25 17:33] #1810 closed

[2022-08-25 19:04] HamidShojanazeri commented on #1813
@LiJell For 1.9 it is not clear from the logs why its failing to load the model, I wonder if there is any further pointer in the log traces to show the exact point it fails. I am guessing it can be some path issue, are you following this [doc](https://sagemaker.readthedocs.io/en/stable/frameworks/pytorch/using_pytorch.html#load-a-model) and your [model artifact lives in a s3 bucket](https://sagema

[2022-08-26 02:12] agunapal commented on #1812
@tednaseri I used the below handler and I tried with json payloads of length 1000 with T4 GPU. It works

`from abc import ABC
import logging
import torch
import transformers
from transformers import (
    AutoModelForSequenceClassification,
    AutoTokenizer,
)

from ts.torch_handler.base_handler import BaseHandler

logger = logging.getLogger(__name__)
logger.info("Transformers version %s", transf

[2022-08-26 02:14] agunapal commented on #1812
Here is the client part

`import requests
import json

api = 'http://127.0.0.1:8080/predictions/my_tc'
headers = {'Content-type': 'application/json', 'Accept': 'text/plain'}

payload = {"text":["Bloomberg has decided to publish a new report on the global economy." for i in range(1000)]}

payload = json.dumps(payload)
response = requests.post(api, data=payload, headers=headers)

print(response.cont

[2022-08-26 05:27] hgong-snap opened #1815 "Worker thread stuck in die state"
### 🐛 Describe the bug

We encountered similar problems as https://github.com/pytorch/serve/issues/1531 and it happens quite often.

See logs below. We have two workers(9000, 9001) for this model. After worker 9000 got an exception, it's kinda stuck in an unknown state: it didn't terminate itself, so no workers can be added automatically. But in the meantime, it won't receive incoming traffic.  wh

[2022-08-26 06:13] #1806 closed

[2022-08-26 06:13] jack-gits commented on #1806
fixed!!

[2022-08-26 06:14] jack-gits commented on #1800
any update?

[2022-08-26 07:00] hgong-snap commented on #1815
Another example:   similar thing, and GPU usage drop to almost half (2 workers, 1 worker died stuck, only 1 work is functioning)

<img width="1420" alt="Screen Shot 2022-08-25 at 11 59 16 PM" src="https://user-images.githubusercontent.com/103610571/186842096-a52bb216-15d2-4e3b-ba40-14d3d27c1abe.png">

[2022-08-26 07:06] hgong-snap commented on #1815
With that said, there's really no way to catch the worker die stuck error?

[2022-08-26 08:12] amit-cashify commented on #1208
@msaroufim I understand that it is possible to use TorchServe with ONNX and TensorRT. Is it encouraged or discouraged?

Should one expect better support moving forward or will TorchServe remain focused only on native PyTorch and TorchScript model serving and a platform like Triton be a better choice for different flavor of model deployment?

[2022-08-26 18:28] msaroufim commented on #1208
Hi @amit-cashify we want to encourage more use of ONNX and TensorRT and I'm personally working on making this as easy to use as possible. It took a while because we had a couple of proposals floating around #1631 but I think I have a better one and will experiment with it and run some benchmarks starting next week and will keep you posted on progress

[2022-08-26 22:13] #1722 closed

[2022-08-26 23:08] #1666 closed

[2022-08-27 06:08] tripathiarpan20 opened #1818 "Template for deploying any HuggingFace pipeline for supported tasks with Torchserve"
Hi!
Lately I have been working on [my repo](https://github.com/tripathiarpan20/HF-torchserve-pipeline) that contains a [template to deploy any Huggingface model supported by the pipeline](https://github.com/tripathiarpan20/HF-torchserve-pipeline/tree/main/HF-only#instructions-to-use-any--model-from-the-hub-for-any-task-supported-by-the--pipeline), where [pipeline](https://huggingface.co/docs/trans

[2022-08-27 10:30] Shin-ichi-Takayama opened #1819 "How to transfer files to a custom handler with curl command"
I have created a custom handler that inputs and outputs wav files.
The code is as follows
[code]

I transferred the wav file to torhserve with the following command

However, I got the following response
[code]

What is wrong?

I have confirmed that the following command returns the response.

[code]

[2022-08-27 10:33] Shin-ichi-Takayama commented on #1819
The logs on the torchserve side are as follows

[code]

[2022-08-27 11:32] github-actions[bot] opened #1820 "Nightly Build failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2939060115) failed, please check why

[2022-08-27 15:01] github-actions[bot] opened #1821 "Nightly Build failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2939060115) failed, please check why

[2022-08-27 17:26] msaroufim commented on #1821
`subprocess.run()` can sometimes behave strangely on Windows. It's generally preferred over `os.system()` because it includes error handling but reverting back to `os.system()` would be the easiest fix. I'm headed to the airport now for a long trip but can take a look at this late Monday evening PST

[2022-08-27 17:33] msaroufim commented on #1818
Hi @tripathiarpan20 thank you for sharing this. I'm wondering how does the present state differ from the work here? https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers

Ultimately if we choose to merge in your work I'd like us to have 1 recommended way of deploying HF models

cc: @HamidShojanazeri

[2022-08-27 17:38] msaroufim commented on #1819
In your `config.properties` can you set `decode_input_request` to false? https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties

Otherwise you'd need to make sure the request you send is a JSON which wraps your custom binary data, here's an example of how that works here https://github.com/pytorch/serve/blob/master/examples/MMF-activity-recognition/request.py

[2022-08-27 18:45] tripathiarpan20 commented on #1818
Hi @msaroufim ,
The main difference is that `examples/Huggingface_Transformers` does not use the HuggingFace pipeline abstraction at all, and thus supports only a limited number of tasks, meanwhile pipeline can assert the required `AutoTokenizer`, `AutoConfig` and the `AutoModel` class corresponding to the selected task, out of any [listed tasks](https://huggingface.co/docs/transformers/main_class

[2022-08-27 18:50] msaroufim commented on #1818
Ok that clarifies things, thank you.  please feel free to make your PR directly. I think for now we can focus on improving the support for our HF models and once the PR is in we can work together to publicize the work. Please add @HamidShojanazeri and myself as reviewers for your PRs

[2022-08-27 19:03] tripathiarpan20 commented on #1818
Thanks, how exactly do you suggest I should make the PR? like should I make a new folder in `examples/Huggingface_Transformers` called `docker_integration` or something?

Another point I missed is that the work utilises the shared memory feature of mounted volumes in Docker to keep the `.mar` file   only have the size of the handler file (by passing in dummy/empty file to the `--serialized-file` a

[2022-08-27 19:10] msaroufim commented on #1818
We can split the work into
1. Add support for pipeline in existing handler code, refactor and simplify as needed
2. Docker support for large models with its own sub folder

[2022-08-27 19:38] tripathiarpan20 commented on #1818
I have raised the PR, we can plan how to integrate the pipeline in the code there.

[2022-08-27 19:47] #1744 closed

[2022-08-27 19:47] #1633 closed

[2022-08-27 19:51] msaroufim commented on #1316
Would you like to make a PR to add this in our docs folder about batching?

[2022-08-28 04:40] tednaseri commented on #1812
@agunapal Thank you so much for the response. Your test shows that the input sample of 1000 works.

By the way, there are some differences that I cannot get that much from the response.

- I am using SimpleTransformer while the test case is based on AutoModelForSequenceClassification.
- AutoModelForSequenceClassification accept model.eval() while the SimpleTransformer does not.
- I am passing the

[2022-08-28 10:51] jonathan-ibex commented on #1715
Hey @agunapal!

Good news! 🎉
I managed to get the same result once I updated to the latest torch (1.12) + cuda 113 support.

Now I'm facing a new issue, perhaps you could help me here: When I'm trying to change the default network to a custom model that gives the full probability output (instead of softmax result), I get the error I previously got (backbone loaded on `cuda:0`)

[Here are my model

[2022-08-28 11:28] github-actions[bot] opened #1823 "Nightly Build failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2942819779) failed, please check why

[2022-08-29 01:27] LiJell commented on #1813
Thank you for your reply!

I have tried install nvgpu and import it, but I will try again since I might have a mistake.

Actually, I uploaded model.pt file on jupyter notebook and converted into tar.gz format in notebook where belongs to s3 bucket, but I will follow the doc and upload as it had to.

Thank you again!!

[2022-08-29 11:32] github-actions[bot] opened #1824 "Nightly Build failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2948105311) failed, please check why

[2022-08-29 19:59] zz-x404 opened #1825 "Torchserve on KServe README potential wording issue"
### 📚 The doc issue

https://github.com/pytorch/serve/tree/master/kubernetes/kserve#running-torchserve-inference-service-in-kserve-cluster
Under this heading, the sentence

Not sure if I understood correctly, but should it be the reverse?

### Suggest a potential alternative/fix

[2022-08-30 01:03] LiJell commented on #1813
Hi, HamidShojanazeri, there was an improvement after restructure model.tar.gz file maybe there was a mistake.
However, there are sill error. I am trying a couple of thing to resolve error or warn.
I will share the log really soon again.

By the way, nvgpu error still comes out depending on framework version.
When I use 1.9.0 it look fine with nvgpu.

Thank you!!

[2022-08-30 06:27] msaroufim commented on #1825
TS definitely uses port 8080 by default for inferences, why do you say it should be the reverse?

[2022-08-30 06:43] zz-x404 commented on #1825
Since Step 2 mentions setting a property like this
[code]
wouldn't that mean `torchserve` would obey that and serve requests on port 8085?

Also I just realized

The `service_envelope` property is deprecated right? And replaced by `enable_envvars_config=true` allowing setting the env var during runtime? It's reflected in the property file above but this sentence should probably be updated as well?

[2022-08-30 10:08] msaroufim commented on #1825
@jagadeeshi2i had been working on a few documentation changes so flagging them for him

[2022-08-30 11:30] github-actions[bot] opened #1827 "Nightly Build failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2955819567) failed, please check why

[2022-08-30 11:43] msaroufim commented on #1819
Did anything wrong happen if you convert data to 16 bit from your handler?

[2022-08-30 23:40] Shin-ichi-Takayama commented on #1819
Thank you for your response.
I was able to get it to work by modifying the custom handler as follows
[code]

[2022-08-30 23:40] #1819 closed

[2022-08-31 04:25] hgong-snap commented on #1815
Had quite a few similar issues recently, and I think in general all issues seems pointing to some race condition when GRPC got cancelled for some reason(maybe from client? or timeout? ) and corresponding server will stuck in a die-ish(zombie) state

[2022-08-31 17:49] #1821 closed

[2022-08-31 18:40] hgong-snap opened #1832 "Unix Domain Socket(UDS) support for GRPC APIs"
### 🚀 The feature

Currently HTTP APIs over Unix Domain Socket(UDS) is already supported, It'll be great if we can support UDS for GRPC APIs. This unblocks the integration with some existing GRPC components and will have great potential performance gain.

### Motivation, pitch

See above

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-31 18:58] hgong-snap opened #1833 "Explanation/comparison between default_response_timeout and responseTimeout in config.properties"
### 📚 The doc issue

`default_response_timeout`  and `responseTimeout` looks very similar. Should we add more details about those two? e.g. what's the behavior if timeout is reached? will backend worker die/restart? or just timeout status received from HTTP/GRPC response but backend worker is still fine/alive?

Example would be also great. e.g., if 100ms is my P99 response time for model, given de

[2022-08-31 19:44] github-actions[bot] opened #1834 "Nightly CPU benchmark failed"
Commit b62e5d7ab23e295c333a0422023edfba4f579e6a daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/2961077745) failed, please check why

[2022-08-31 21:28] msaroufim commented on #1834
@ankithagunapal could this be related to https://github.com/pytorch/serve/pull/1811/files#diff-c85a58ceffd2b65d1ff66d1641d657f86b2f5004938e4267771922c1b4896451R510

AFAIK in python `"" != None`

What was the context for adding that change?

[2022-09-01 01:16] LiJell commented on #1813
@HamidShojanazeri Hi, HamidShojanazeri. Model loads well now!!! But I still have a problem with inference.py, so if I fix it well it might work!!

Thank you for ur help :) @HamidShojanazeri @agunapal

[2022-09-01 03:47] msaroufim commented on #1833
The main difference between `default_response_timeout` and `responseTimeout` is that the first applies to TorchServe and applies to **all models** and the latter applies to a **specific model**. I can make this clearer in the docs but to keep backwards compatibility with a name change we'd need to support both. Regardless lemme make the doc PR for this now

I do agree that the our current defaults

[2022-09-01 04:19] msaroufim commented on #1832
Thank @hgong-snap I'm trying to assess how high of a priority this ask should be. Do you mind elaborating on your integrations point.

[2022-09-01 06:24] hgong-snap commented on #1832
Thanks for reply. Priority-wise I think it's kinda medium. would be a nice-to-have feature.

For easier integration, context is that we use GRPC exclusively for online serving. If we use UDS, then there'll be a GRPC -> HTTP proxy layer; if uses GRPC, then we seems losing the benefit of UDS...

[2022-09-01 07:53] Shin-ichi-Takayama opened #1838 "How can I get the value of the "--extra-files" option in the handler?"
For example, the value of the "--serializedFile" option can be obtained with the following code
[code]

How can I get the value of the "--extra-files" option?

Best regards.

[2022-09-01 08:50] LiJell opened #1839 "I keep get request_body as bytearray on sagemaker"
### 🐛 Describe the bug

HI, I am not sure it is right place to ask, but need a help.
I am a beginner of this field and I am struggling with inference.py

I am trying to input image on my model.
But, I keep get request_body as bytearray somehow.

I thought this is due to content_type, so I convert image to json which is common content_type of sagemaker.
However, I still get byearray.

Need a help..

[2022-09-01 08:53] LiJell commented on #1839
was a problem with https://github.com/pytorch/serve/issues/1813#issuecomment-1233620734 but improved now!!

https://github.com/pytorch/serve/issues/1813#issuecomment-1233620734

[2022-09-01 12:39] msaroufim commented on #1838
This should work

[code]

Here's an example https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L53

[2022-09-01 15:46] joemal1234 commented on #1607
Any luck with this?

[2022-09-01 16:47] joemal1234 commented on #473
sudo apt-get install openjdk-11-jdk
This worked for me

[2022-09-01 17:54] mansigoel commented on #1825
Adding onto this, I believe it should be
`management_address=http://0.0.0.0:8081` in the `config.properties` file
https://github.com/pytorch/serve/blob/695b90e5acc8b1afc08cb0f73f8f58b8915b9b52/kubernetes/kserve/config.properties#L3
Can this also be addressed in the documentation changes please?

[2022-09-01 21:55] agunapal commented on #1834
the issue happened because of multiple runs of benchmark being done at the same time. The latest run works fine when we have a single run https://github.com/pytorch/serve/runs/8126983523?check_suite_focus=true

[2022-09-02 01:27] LiJell commented on #1839
Thank you for your reply!!

btw, the point is I input JSON that is converted from image, so my expectation was that request_body had to be JSON not bytearray.

I think `UnicodeDecodeError: 'utf-8' codec can't decode byte 0x93 in position 0: invalid start byte` is due to bytearray.

When I run model in jupyter notebook with using same handler as endpoint, it worked well since request_body come with

[2022-09-02 01:53] LiJell commented on #1839
I am reading this.
This is right one that I need to read?

 Behavior for serialization of input data and deserialization of
        result data can be configured through initializer arguments. If not
        specified, a sequence of bytes is expected and the API sends it in the
        request body without modifications. In response, the API returns the
        sequence of bytes from the predictio

[2022-09-02 05:07] Shin-ichi-Takayama commented on #1838
@msaroufim
Thank you for your response.

I think this method would require rewriting the handler directly.
I would like to get the value of the "--extra-files" option in the handler.

Best regards.

[2022-09-02 10:47] joemal1234 opened #1840 "--ncs flag, what exactly does it do?"
### 📚 The doc issue

can't serve the new model i want to serve with torchserve --start without the --ncs flag

What is it's purpose and what is it doing?
What exactly is the benefit of having it?

I've found it to be very confusing, and I can't see clear documentation on what it does.

### Suggest a potential alternative/fix

_No response_

[2022-09-02 11:38] msaroufim commented on #1840
`--ncs` stands for no config snapshot https://github.com/pytorch/serve/blob/master/ts/arg_parser.py#L52

Snapshots are a way to resume inferences in case a deployment goes down or needs to be stopped. For local experimentation it makes more sense to disable it and for prod deployments it makes more sense to enable it

[2022-09-02 14:21] jack-gits opened #1841 "how to register a workflow directly when docker is started."
### 🚀 The feature

how to register a workflow directly when docker is started.

### Motivation, pitch

how to register a workflow directly when docker is started.

### Alternatives

_No response_

### Additional context

_No response_

[2022-09-02 14:51] jack-gits opened #1842 "initial parameters transmit"
### 🚀 The feature

how transmit the initial parameters from the first model to laters in workflow.

### Motivation, pitch

how transmit the initial parameters from the first model to laters in workflow.

### Alternatives

_No response_

### Additional context

_No response_

[2022-09-02 16:04] Chichilele opened #1843 "docker image built with`-bt prodction` throws permission denied on `/usr/local/bin/dockerd-entrypoint.sh`"
### 🐛 Describe the bug

After building the docker image with production built type as follows:
[code]
The container runs into the following error at startup:
[code]
Note that it works fine with `--bt dev`

### Error logs

[code]

### Installation instructions

[code]

### Model Packaing

[code]
or equivalent but not relevant as it works in 3 different contexts

### config.properties

_No response_

[2022-09-02 16:47] ArgoHA commented on #1607
@joemal1234 I did not manage to make it work, used different serve method

[2022-09-02 23:07] sadra-barikbin opened #1844 "Remove some redundant lines in model_loader"
Hi, in model_loader, lines
https://github.com/pytorch/serve/blob/695b90e5acc8b1afc08cb0f73f8f58b8915b9b52/ts/model_loader.py#L113-L123

could be removed because service and entrypoint are constructed later again.

Besides, line
https://github.com/pytorch/serve/blob/695b90e5acc8b1afc08cb0f73f8f58b8915b9b52/ts/model_loader.py#L129
is redundant as well because the same thing is done earlier in the co

[2022-09-02 23:16] #1840 closed

[2022-09-02 23:19] msaroufim commented on #1842
Hi @jack-gits could you please elaborate a bit more on your ask? By parameters do you mean configuration parameters? model outputs? something else? The easiest workflow example to follow we have is https://github.com/pytorch/serve/tree/master/examples/Workflows/dog_breed_classification

[2022-09-02 23:26] justmul commented on #1813
I'm seeing this same error:
`
2022-09-02T23:21:06,034 [ERROR] Thread-77 org.pytorch.serve.metrics.MetricCollector - Traceback (most recent call last):  File "ts/metrics/metric_collector.py", line 27, in <module>    system_metrics.collect_all(sys.modules['ts.metrics.system_metrics'], arguments.gpu)  File "/opt/conda/lib/python3.8/site-packages/ts/metrics/system_metrics.py", line 91, in collect_all

[2022-09-02 23:29] justmul commented on #1813
I've also tried with the framework version 1.10, had the same error.

[2022-09-02 23:31] msaroufim commented on #1843
I believe there's just a simple bug here

https://github.com/pytorch/serve/blob/master/docker/Dockerfile#L101

That should be fixed by doing `COPY docker/dockerd-entrypoint.sh /usr/local/bin/dockerd-entrypoint.sh` - if that works lmk and if you like make a PR for it

[2022-09-02 23:38] msaroufim commented on #1844
Thank you! Just triggered CI to see if we missed anything

[2022-09-02 23:38] #1834 closed

[2022-09-02 23:42] msaroufim commented on #1838
Sounds good, just curious how you'd like the experience to be like instead?

Let's say we have something like then you'd still need to change your handler file

[code]

[2022-09-02 23:49] msaroufim commented on #1800
Hi @jack-gits I think it's an interesting ask but I'm not sure how to prioritize it. If you'd like to make a PR proposal for it by all means I can help merge it. For example I've also heard asks for integrations with https://hydra.cc/docs/intro/ in the past. If you'd like someone on the TS to work on it I think the best next step is to provide more detail on your use case and explain the limitatio

[2022-09-02 23:55] msaroufim commented on #1792
@dalvlv typically dynamic input sizes are supported by PyTorch natively as in you need to pad your inputs to some size which is what we do for example in our HuggingFace example https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L190

[2022-09-03 09:21] Chichilele commented on #1843
The `COPY` works fine, it it looks like it's more to do with how the permissions are set. I managed to get it to work. I bumped into another permission error with the config file. Just add a read permission to the entrypoint and change the ownership of the config file as follows:
[code]
to
[code]

Should I open a PR wit this? I didn't run all the tests you ask for but I managed to serve a model an

[2022-09-03 10:24] msaroufim commented on #1843
Yup opening a PR sounds great

[2022-09-03 11:11] jack-gits opened #1846 "how allocate a specific GPU memory for each model."
### 🚀 The feature

whether we can limit the GPU memory for each model?

### Motivation, pitch

whether we can limit the GPU memory for each model?

### Alternatives

_No response_

### Additional context

_No response_

[2022-09-03 14:16] justmul commented on #1813
@lxning I also still have this error with framework version 1.9.  Any advice on a work around or what might be missing?

[2022-09-03 14:20] msaroufim commented on #1846
NVIDIA only supports GPU resource isolation via MIG which is only available on newer GPUs like A100

We've had the ask come in a few times now
* https://github.com/pytorch/serve/issues/1768#issuecomment-1215975511
* https://github.com/pytorch/serve/issues/1237

Would A100 work for you or are you looking at older generations of GPUs? In which case another option would be virtual GPUs but my underst

[2022-09-03 16:13] mod-cpu opened #1848 "Confusing Sequence Classification Example for HuggingFace"
### 📚 The doc issue

In the sequence classification example in examples/Huggingface_Transformers, the model results in a binary classification 'Accepted' or 'Not Accepted' as defined in `index_to_name.json`. The example query in `sample_text_captum_input.txt` will results in a 'Not Accepted' classification.. If I am new to torchserve and working through the example for the first time, this looks l

[2022-09-03 17:10] msaroufim commented on #1848
I agree! If you'd like to make a PR better names I'd be happy to merge it

[2022-09-04 05:40] sreenath-tm commented on #1848
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-04 22:37] sadra-barikbin opened #1850 "A few typos, need to do some lints and update .gitignores"
Regarding lint, I mean to apply existing pre-commit hooks to the code

[2022-09-05 01:16] LiJell commented on #1813
I am a beginner, but I would like to share my experience.

I still do not get why nvpgu error occurred, but @HamidShojanazeri said its docker container issue
Try different framework version.

Even if I installed nvgpu and import it just as like you did, Cloud Watch said "there is no module name nvgpu" until framework version fit on mine.

cheers!

[2022-09-05 03:27] Shin-ichi-Takayama commented on #1838
@msaroufim
Thank you for your response.
Suppose the coefficient file (pth file) and the model configuration file (yaml file) are tied together.
For example, if I want to run a model with setting A, I archive the model as follows

If I want to run a model with setting B, I archive the model as follows

The first method you suggested would require rewriting the code.
However, I would prefer to just

[2022-09-05 05:15] Vert53 opened #1851 "High utilization of hardware"
HI, I'm trying to use torchserve as a backend with a custom hardware setup. How do you suggest to run such that the hardware is maximally utilized? For example I tried using the benchmarks-ab.py script to test the server for throughput on resnet18 but only achieved ~200 requests per second (tried different batch sizes) while the hardware is capable of crunching at least 10,000 images per second.

[2022-09-05 10:28] msaroufim commented on #1851
Hi @Vert53 I need a bit more context to properly answer your question. What kind of hardware are you using? Which model? The template in the Github issue is a good start. If for whatever reason you can't share more details and work for a custom hardware provider would be happy to chat more via email so lmk

[2022-09-05 16:20] jonathan-ibex commented on #1715
If anybody ever comes across the same issue in the future:

I solved it eventually. I followed [this](https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer) example, and had to rewrite my custom handler. The big difference is that in the way described in this example they skip the default loading and load the model on their own in the initialize method. Here's how I did

[2022-09-06 08:07] Vert53 commented on #1851
@msaroufim Chatting privately would be great as we are looking to support torchserve for our processor. Where can I contact you?

[2022-09-06 10:27] msaroufim commented on #1848
@sreenath-tm
1. Run this example https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers
2. Think of better names to give to the labels instead of Accepted vs Not Accepted and change them here https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/index_to_name.json
3. Change

[2022-09-06 10:37] msaroufim commented on #1851
First Name last name at fb.com

[2022-09-06 10:38] #1851 closed

[2022-09-06 14:27] msaroufim opened #1852 "gRPC API docs out of date"
### 📚 The doc issue

## Start torchserve

Easy fix

Start torchserve: `torchserve --start`: needs to include `--model-store`

[code]

### Register model:

Need to document intent behind each arg, maybe just use `argparse` to make this clearer

`python ts_scripts/torchserve_grpc_client.py register densenet161`

[code]

## Run an inference

Probably need to link to the right model in model_zoo

[cod

[2022-09-06 15:24] msaroufim commented on #1815
An update I tried to repro this offline, still haven't managed to repro yet but I suspect something should happen at a high enough infererence count

## Setup
[code]

## Get patched client
Use this patched version of `torchserve_grpc_client.py` https://gist.github.com/msaroufim/8a9f7e8a0a58ff5687c4266677c10fe3

## Get input data
I picked one of the slowest models I know of from `docs/model_zoo.md`

[2022-09-06 19:23] hgong-snap commented on #1815
Hi  @msaroufim    here's mar file and config file:

mar file:
https://drive.google.com/file/d/1GaNfIhvAZn-7hFE1BlfDyTXajrFAAWuR/view?usp=sharing
config.properties:
[code]

[2022-09-06 19:27] hgong-snap commented on #1815
for repro, I guess best way is to cancel the request on client side? or set some short-enough GRPC timeout so that internally GRPC will cancel the request?

[2022-09-06 22:28] lxning commented on #1838
@Shin-ichi-Takayama existing model archiver only includes extra-files input from[ cmd-line](https://github.com/pytorch/serve/tree/master/model-archiver#arguments), does not add sth like "extraFiles" in manifest [model item](https://github.com/pytorch/serve/blob/master/model-archiver/model_archiver/manifest_components/model.py#L33).

So there is no way for you to write code such as
[code]

Let's as

[2022-09-07 03:54] Shin-ichi-Takayama commented on #1838
@lxning
Thank you for your response.
So you are saying that it is not possible to get the value of the `--extra-files` option in the handler?
Does it mean that I need to directly mention the filename in the handler?

[2022-09-07 11:17] msaroufim commented on #1815
@hgong-snap confirming we can finally repro, will get back to you with a solution soon

[2022-09-07 16:32] lxning commented on #1838
@Shin-ichi-Takayama In the existing code, there is no API for users to retrieve the input value of "--extra-files". However, users can directly access the extra files via mode_dir/your_extra_file_name in handler.

[2022-09-07 16:54] lxning commented on #1839
@LiJell please file a ticket to AWS SageMaker.

[2022-09-07 17:42] lxning commented on #1843
@Chichilele I tested the docker prod, it works fine. Here are the steps what i did.

- cd docker
- mkdir model_store
- cd model_store
- wget https://torchserve.pytorch.org/mar_files/mnist_v2.mar
- ./build_image.sh -bt production --gpu --tag torchserve:cuda113 -cv cu113
- docker run -it -p8080:8080 -p8081:8081 -p8082:8082 -v /home/ubuntu/serve/docker/model_store/:/home/model-server/model-store torc

[2022-09-07 17:54] lxning commented on #1841
There is no difference for model  registration and inference b/w docker container and local host. You can follow this [workflow example](https://github.com/pytorch/serve/tree/master/examples/Workflows/dog_breed_classification) to register workflow and run inference.

[2022-09-07 18:37] Chichilele commented on #1843
As you can see in the picture below, the file is executable but not readable.
<img width="1611" alt="image" src="https://user-images.githubusercontent.com/17325189/188953129-0927dfbb-d8e7-4409-9737-29781a9cb1ec.png">

[2022-09-07 18:41] Chichilele commented on #1843
As you can see in the picture below, the file is executable but not readable.
![Screenshot 2022-09-07 at 19 23 34](https://user-images.githubusercontent.com/17325189/188953859-8d443cd1-6adb-4616-812e-13e559dee0f8.png)

[2022-09-07 18:41] Chichilele commented on #1843
As you can see in the picture below, the file is executable but not readable.
<img width="1722" alt="Screenshot 2022-09-07 at 19 39 13" src="https://user-images.githubusercontent.com/17325189/188953923-26aed2df-0c6a-4e17-9169-56ad9734abd0.png">

[2022-09-07 21:48] lxning commented on #1813
@LiJell Torchserve doesn't own SM docker container. Please file a ticket to AWS Sagemaker if you are using Torchserve via SM.

[2022-09-08 00:13] Shin-ichi-Takayama commented on #1838
@lxning
Thank you very much.
I understand now. My question has been answered and I will close this issue.

[2022-09-08 00:13] #1838 closed

[2022-09-08 12:21] MohamedAliRashad commented on #1815
I have the same problem, Any ideas ?

[2022-09-08 14:36] joemal1234 opened #1853 "I can't import torchserve"
### 🐛 Describe the bug

I can use torchserve in my terminal

I need access the ts folder in torchserve
currently i just took the code from here can copied it in. But i would rather it get it from the package directly

[code]
[code]

### Error logs

ModuleNotFoundError: No module named 'torchserve'

### Installation instructions

poetry installed torchserve

### Model Packaing

taking custom handle

[2022-09-08 15:12] msaroufim commented on #1853
Can you please try running

`python ./ts_scripts/install_dependencies.py` first

[2022-09-08 15:21] joemal1234 commented on #1853
just realised it works with import ts directly

[2022-09-08 15:48] #1853 closed

[2022-09-08 23:04] lxning commented on #1843
@Chichilele I still can not reproduce your case. And also I don't understand "+X" mode prevents you to start container. Screen Shot 2022-09-08 at 2.54.18 PM

[2022-09-08 23:20] lxning commented on #1815
@MHatemAbdelhamid The issue reported in this ticket is the workerthread hang and never got chance to recreate a new workerthread. Your case is different since a new workerthread is created. In your case, most likely there is sth wrong either with your model implementation or the input data.

[2022-09-09 02:23] tednaseri commented on #1812
Hi @agunapal, I have tested another transformer model with the same custom handler, there is no issue there. I think that the issue is an incompatibility between SimpleTransformer and PyTorch. I am wondering, have you ever tested any  SimpleTransformer model with PyTorch for text classification?

[2022-09-09 03:22] #1818 closed

[2022-09-09 10:33] ozancaglayan commented on #1700
Hi,

What would be the best practice in terms of setting these two parameters along with the number of worker processes for the model? Lets say we have 1 model and 4 physical CPUs. Is it better to have the sum of `number_of_netty_threads`, `netty_client_threads` and the `default_number_of_workers` to be <=4? Or for the threads, since they are much lightweight, we dont care about potential oversubs

[2022-09-09 16:43] Chichilele commented on #1843
It looks like your layers are cached so changes may not be applied. Try adding a ‘—no-cache’ to the production docker build command in the script. The +x is already there. My change adds a +r to make the file readable for anyone (file mode 755)

[2022-09-09 17:31] #1850 closed

[2022-09-11 15:26] MohamedAliRashad commented on #1815
@lxning But the model does work in a normal state, only in stress testing does this happen.

[2022-09-11 15:39] pplantinga commented on #1787
There's actually quite a few links on the getting started page that don't work:

https://github.com/pytorch/serve/blob/master/docs/getting_started.md

[2022-09-11 16:04] MHatemAbdelhamid commented on #1815
It works normally on normal condition the error only happens on large number of users, suddenly when the number of users increases it goes into infinite loop of trying to create the worker then failing

[2022-09-12 17:28] njhill opened #1859 "Support for KServe V2 gRPC Prediction API?"
I've seen that TorchServe [now supports](https://github.com/pytorch/serve/pull/1190) the [KServe V2 Prediction API](https://github.com/kserve/kserve/blob/master/docs/predict-api/v2) but as far as I can see, this is only the REST flavour of it, via the `kservev2` service envelope.

Are there any plans to add support for the [gRPC version](https://github.com/kserve/kserve/blob/master/docs/predict-ap

[2022-09-13 15:34] mansigoel opened #1860 "torchserve-kfs docker image upgrade to kserve v0.9.0"
Kserve v0.9.0 release fixes log4j security vulnerability issue: https://github.com/kserve/kserve/releases/tag/v0.9.0
torchserve-kfs 0.6.0 docker image currently uses kserve v0.8.0
Can we please upgrade the kserve version and release a new version of torchserve-kfs docker image to address the log4j vulnerability issue?

[2022-09-13 21:43] lxning commented on #1815
@MHatemAbdelhamid According to your description ("the error only happens on large number of users, suddenly when the number of users increases"). It seems it is a capacity issue. I suggest you find the error log to identify the root cause. I believe the issue in this ticket is different the issue you faced.

[2022-09-14 02:44] hgong-snap commented on #1815
Hi @lxning @msaroufim ,

thanks for the quick fix. unfortunately https://github.com/pytorch/serve/pull/1854 seems not fully mitigate the issue.

I build the image with latest master with `./build_image.sh -g` an deployed.  Similar error:

- [18:41:01] W-9001 throws exception:
[code]
<img width="1239" alt="Screen Shot 2022-09-13 at 7 39 38 PM" src="https://user-images.githubusercontent.com/10361057

[2022-09-14 07:36] LiJell commented on #1813
Okay!! Thank you for your help!! I will ask this question on right place.
Thank you again!!

[2022-09-14 07:36] #1813 closed

[2022-09-14 07:37] LiJell commented on #1839
Thank you for letting me know!

Have a good one :)

[2022-09-14 07:37] #1839 closed

[2022-09-14 17:58] alexgaskell10 commented on #1591
I also am having this problem. My model sometimes loads correctly, sometimes doesn't. When it does load, the response time is c. 119s so I need to increase this threshold to load the model reliably. When I set  `default_response_timeout` and/or `TS_DEFAULT_RESPONSE_TIMEOUT` nothing happens.

Is there a plan to fix this? This is a big issue for me. Thanks!

The logs below show an example of when mo

[2022-09-14 21:18] kmichiels commented on #1591
Hi @alexgaskell10,

As this received the `wontfix` label, and I did not get the impression this was high priority, I started looking a bit more into the Java server code.

It turns out the relevant parameter setting the 120s can be found [here](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/workflow/messages/RegisterWorkflowRequest.java#L22):

[code]

[2022-09-14 21:21] Michielskilian commented on #1591
Hi @alexgaskell10,

As this received the `wontfix` label, and I did not get the impression this was high priority, I started looking a bit more into the Java server code.

It turns out the relevant parameter setting the 120s can be found [here](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/workflow/messages/RegisterWorkflowRequest.java#L22):

[code]

[2022-09-15 06:43] hgong-snap commented on #1815
we currently implemented a workaround for GKE that if there's no worker available just restart the pod(restart torchserve).
as you can see this error can happen very often(8pm-11pm).  #worker 2->1->0->restart->2->1->0, repeat....

<img width="377" alt="Screen Shot 2022-09-14 at 11 40 31 PM" src="https://user-images.githubusercontent.com/103610571/190332928-39f45e18-2aeb-4892-998b-f26100a521b4.png"

[2022-09-15 14:55] alexgaskell10 commented on #1591
@Michielskilian ah excellent thanks, I'll do this!

[2022-09-16 03:26] hgong-snap commented on #1815
@msaroufim @lxning

I can successfully repro it in my local with following setup:

- in `config.properties`, I put min/max worker=2
- start torchserve in local, waiting for it's fully up
- have a simple python GRPC client

[code]

- in one tab, run the client with normal timeout(2s) and very large number of requests, simulating consistent stream of requests):
[code]
- in another tab, run the clien

[2022-09-16 07:02] MohamedAliRashad commented on #1815
@hgong-snap This is precisely the problem I faced.

@lxning Any thoughts ?

[2022-09-16 11:45] jdddp opened #1861 "I think i have started the model successfully,but there is some trouble i can't find"
### 🐛 Describe the bug

i can't curl it, in fact i can find that the port(8080) not in use, may you give me some help

### Error logs

2022-09-16T19:38:09,388 [INFO ] main org.pytorch.serve.servingsdk.impl.PluginsManager - Initializing plugins manager...
2022-09-16T19:38:09,388 [INFO ] main org.pytorch.serve.servingsdk.impl.PluginsManager - Initializing plugins manager...
2022-09-16T19:38:09,535 [

[2022-09-16 15:17] #1648 closed

[2022-09-16 22:39] lxning commented on #1815
@hgong-snap I tried the steps you provided. There is no exception or died workerthread in the [ts_log.log.zip](https://github.com/pytorch/serve/files/9589837/ts_log.log.zip). Message "grpc client call already cancelled" was logged when TS was trying to send response but timeout on client side.

The reason of the tab1 with timeout=2 slow recovery is that the tab2 with timeout=0.02 has 100x rate tha

[2022-09-16 22:49] lxning opened #1862 "valid ts process during start"
### 🚀 The feature

Torchserve needs to verify the [pid](https://github.com/pytorch/serve/blob/master/ts/model_server.py#L39) is a real torchserve process.

### Motivation, pitch

This feature is able to avoid torchserve restart failure if system reuses a pid for the other application.

### Alternatives

_No response_

### Additional context

_No response_

[2022-09-16 23:04] lxning opened #1863 "add client timeout configuration"
### 🚀 The feature

client_timeout is used for TS to stop processing a request asap.

### Motivation, pitch

This feature is able to reduce the inference failure rate on client side.

### Alternatives

_No response_

### Additional context

_No response_

[2022-09-16 23:36] hgong-snap commented on #1815
@lxning  I updated my script to accept another parameter `--sleep_time` so that it can configure how much time client should wait/sleep between requests.
new client script:
[code]

I record a video to illustrate the problem. some good timestamp to look at:
- 0:10  I send bad requests in tab2 with
[code]
so that QPS=1 now.

- 0:16 tab1 seeing worker issue, either INTERNAL, either DEADLINE_EXCEEDED

[2022-09-17 01:18] lxning commented on #1815
@hgong-snap Thank you for recording the workflow, I can see the following exception in the video.
[code]

After the [PR](https://github.com/pytorch/serve/pull/1854), the above exception should be gone. Instead, only warning  "grpc client call already cancelled" is shown in the log (eg. [ts_log.log.zip](https://github.com/pytorch/serve/files/9589837/ts_log.log.zip)). Could you please check if you c

[2022-09-17 08:59] hgong-snap commented on #1815
@lxning  hmm I'm pretty sure I built on latest master though...   however just in case, would you mind help to upload the docker you use so that I can try on my end?  (better with GPU support)

[2022-09-19 15:07] divastar opened #1864 "dense161 example"
### 🐛 Describe the bug

Hi the default densnet161 example worked
but when I tried to run it with ts/torch_handler/densenet_handler.py it looked like stuck on the request
curl http://127.0.0.1:8080/predictions/densenet161 -T examples/image_classifier/kitten.jpg
Is this the right way to archive using
--handler ts/torch_handler/image_classifier.py
instead of the default example:
--handler image_class

[2022-09-19 19:19] agunapal commented on #1864
@divastar  image_classifier handler as shown in the example https://github.com/pytorch/serve/tree/master/examples/image_classifier/densenet_161   is more complete. I'll find out more about ts/torch_handler/densenet_handler and get back to you.

[2022-09-19 22:25] hgong-snap commented on #1815
@lxning  thanks. I tried to build the dev image locally with
[code]
after this completed successfully, I run
[code]
but has error with:
[code]

Any hint why `torchserve` python package not installed in the docker image?

[2022-09-19 23:01] lxning commented on #1815
@hgong-snap gpu docker image should specify cuda version. For example:
./build_image.sh -g -cv cu102

[Here](https://github.com/pytorch/serve/tree/master/docker) is the detail information about torchserve docker image build.

Could you can directly pull torchserve docker nightly build to quickly verify, which is based on cu102? eg.
docker pull pytorch/torchserve-nightly:latest-gpu

[2022-09-20 09:42] divastar commented on #1864
thank you

[2022-09-20 11:49] IamMohitM commented on #1684
I have added my solution to Stack Overflow which has solved the bottleneck: https://stackoverflow.com/a/73721450/8727339

[2022-09-20 16:43] hgong-snap commented on #1815
@lxning verified on`pytorch/torchserve-nightly:latest-gpu` and seems issue is solved!

[2022-09-20 16:46] lxning commented on #1815
@hgong-snap Great, thank you for the verification.

[2022-09-20 18:47] hgong-snap opened #1865 "images with Ubuntu 20.04"
### 🚀 The feature

images with Ubuntu 20.04

### Motivation, pitch

Currently images are all ubuntu 18.04. if we can have the flexibility to build ubuntu20.04-based image that'll be great. e.g. ubuntu18 ships with gcc7, which don't support C++17 quite well. ubuntu20.04 ship with gcc9 with very good C++17 support and we also see some performance gains

### Alternatives

_No response_

### Additiona

[2022-09-21 17:04] msaroufim commented on #1865
Just to clarify would updating the script be sufficient for you to support both 18.04 and 20.04?

Or are you asking us to support 22.04 in our official or nightly builds alongside 18.04?

Or should we instead update the LTS Ubuntu version to 20.04?

I'm open to doing any of the above just let me know. Also @lxning let me know if you have any opinions on this

[2022-09-21 17:22] hgong-snap commented on #1815
quick question:

in order to run torchserve with the fix locally (e.g. mac) without docker, will

[code]

be sufficient?

[2022-09-21 17:24] msaroufim commented on #1815
Yep

[2022-09-21 17:33] msaroufim commented on #1865
Yeah I think that's a reasonable ask, lemme take a look

[2022-09-22 00:28] msaroufim opened #1870 "Show warning to increase `max_response_size` if `CorruptedFrameException`"
### 🚀 The feature

A few customers I've chatted with have been confused with a `CorruptedFrameException` error https://github.com/pytorch/serve/issues?q=CorruptedFrameException

The fix is to increase the `max_response_size` in `config.properties` so we should probably just print that in warnings

### Motivation, pitch

See above

### Alternatives

_No response_

### Additional context

_No respon

[2022-09-22 08:32] tanayg2 commented on #1870
I'm a first time contributer and I wanted to take a crack at this. I wanted to check, could I add to this catch:
[code]
[https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerThread.java](url)
line 365

and log (```slf4j```) the warning if ```t``` is a ```CorruptedFrameException``` instance to resolve this?

[2022-09-22 11:30] github-actions[bot] opened #1871 "Nightly Build failed"
Commit 4f7caa30bae521ae1e4b0ac337884e35f2734af2 daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3105039332) failed, please check why

[2022-09-22 13:01] Michielskilian commented on #1591
Hi @alexgaskell10,

I tried the simple example I described above but the bug still occurs. The timeout remains at 120s, I checked if the config.properties is read properly by changing the ports for the management and inference URLs, and it does seem to pick up these changes.

Could you provide some more details on your setup so I can see what the differences are?

[2022-09-22 13:54] #1367 closed

[2022-09-22 14:44] msaroufim commented on #1871
Well this is strange this since the linked PR only changed the way we build our docker images and there hasns't been any recent changes to the way we do our nightly builds so will just restart this job and hopefully it was just a flake

[2022-09-22 15:03] msaroufim commented on #1871
IT was indeed a flake so closing

[2022-09-22 15:03] #1871 closed

[2022-09-22 16:13] msaroufim commented on #1870
I think so? Might be worth running a quick check with a very tiny value of max response size to see if you can reliably trigger the warning

[2022-09-22 17:52] agunapal commented on #1861
@jdddp I don't see anything wrong in the logs you have shared. Can you please share the model file and the handler so I can try to repro.

[2022-09-22 19:46] github-actions[bot] opened #1872 "Nightly CPU benchmark failed"
Commit 4f7caa30bae521ae1e4b0ac337884e35f2734af2 daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3102593621) failed, please check why

[2022-09-23 21:59] agunapal commented on #1872
Issue similar to previously seen , where a duplicate run can trigger a failure. Today's run is passing

[2022-09-23 21:59] #1872 closed

[2022-09-26 01:19] #1833 closed, assigned to msaroufim

[2022-09-26 01:20] #1815 closed

[2022-09-26 16:35] #1864 closed

[2022-09-26 16:35] agunapal commented on #1864
Please re-open if issue exists

[2022-09-26 23:23] hgong-snap opened #1875 "Populate exception message"
### 🚀 The feature

Populate exception message

### Motivation, pitch

Currently, if the handler raise some random error, the client will receives only `InternalServerException` without any error/exception details
[code]

what I do now is basically add a wrapper everywhere:
[code]
This way exception message from original exception will be correctly populated:
[code]

Is this expected?  is it possib

[2022-09-27 19:43] github-actions[bot] opened #1877 "Nightly CPU benchmark failed"
Commit 9217c6ae74d8f3b1ba5cadc6e0d418ace087f656 daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3132666936) failed, please check why

[2022-09-28 13:48] blatr opened #1879 "PredictionException wrong message format"
### 🐛 Describe the bug

Wrong string formatting syntax in [PredictionException \__str\__ method](https://github.com/pytorch/serve/blob/f856ede158c8151cd5ce95b125a6a2bb013a9660/ts/utils/util.py#L91).

### Error logs

print(PredictionException('hello','world'))
returns
"message : error_code" instead of "hello : world"

### Installation instructions

Install torchserve from source: Yes

### Model Pac

[2022-09-28 13:51] #1879 closed

[2022-09-28 13:51] blatr commented on #1879
Already fixed in https://github.com/pytorch/serve/pull/1802

[2022-09-28 19:47] github-actions[bot] opened #1880 "Nightly CPU benchmark failed"
Commit 9217c6ae74d8f3b1ba5cadc6e0d418ace087f656 daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3140557548) failed, please check why

[2022-09-29 16:25] lxning opened #1881 "import pynvml failed in cpu host"
### 🐛 Describe the bug

[import pynvml](https://github.com/pytorch/serve/blob/master/ts/metrics/system_metrics.py#L9) is invalid in cpu host.

### Error logs
[code]

### Installation instructions

from source

### Model Packaing

N/A

### config.properties

_No response_

### Versions

master branch

### Repro instructions

run import pynvml on cpu host
[code]
### Possible Solution

_No response_

[2022-09-29 16:51] #1862 closed

[2022-09-29 17:57] #1881 closed

[2022-09-29 23:57] msaroufim commented on #1875
Yeah for now the suggestion would be to manually add try blocks around parts of your code that could potentially raise an exception. I think the ask is valid though that whatever exception is thrown by a handler it should get caught with an error code and message by default but just need to think about how to do this.

[2022-09-30 09:31] shrini-s commented on #1339
Has this problem been resolved? I am facing the same problem. Please update us. Thanks.

[2022-09-30 10:48] shrini-s commented on #1339
This problem was resolved by fixing the input json to be of the proper format. Example passing the serialised data directly as input instead of using `$(base64 --wrap=0`

[code]

[2022-09-30 15:02] IamMohitM commented on #1467
I'm facing the same issue. No `ts_inference_latency_microseconds` and `ts_queue_latency_microseconds` metrics.

Using torchserve version 0.6.0

[2022-09-30 18:50] lxning commented on #1875
@hgong-snap [Here](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/util/GRPCUtils.java#L46) is the map b/w grpc code and http code defined in Torchserve. I expect the error message from handler is still available for client according to the [code](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/job/GRPCJob.ja

[2022-09-30 23:08] #1020 closed

[2022-10-03 00:01] msaroufim commented on #1877
Looks like we're clear

[2022-10-03 00:01] #1877 closed

[2022-10-03 00:02] msaroufim commented on #1880
Looks like we're clear

[2022-10-03 00:02] #1880 closed

[2022-10-03 10:23] divastar commented on #1864
Hi.
This timee after running:
wget https://download.pytorch.org/models/densenet161-8d451a50.pth
torch-model-archiver --model-name densenet161 --version 1.0 --model-file examples/image_classifier/densenet_161/model.py --serialized-file densenet161-8d451a50.pth --handler image_classifier --extra-files examples/image_classifier/index_to_name.json
mkdir model_store
mv densenet161.mar model_store/
torc

[2022-10-03 10:33] divastar opened #1885 "dense161 example"
### 🐛 Describe the bug

#1864 , Hi.
after running:
wget https://download.pytorch.org/models/densenet161-8d451a50.pth
torch-model-archiver --model-name densenet161 --version 1.0 --model-file examples/image_classifier/densenet_161/model.py --serialized-file densenet161-8d451a50.pth --handler image_classifier --extra-files examples/image_classifier/index_to_name.json
mkdir model_store
mv densenet161.

[2022-10-03 18:12] msaroufim commented on #1875
@hgong-snap did the above answer your question?

[2022-10-03 20:11] rohithkrn opened #1886 "Incorrect Gpu memory utilization on dashboards"
### 🐛 Describe the bug

[Torchserve dashboard](https://cloudwatch.amazonaws.com/dashboard.html?dashboard=torchserve-benchmark-nightly-gpu&context=eyJSIjoidXMtZWFzdC0xIiwiRCI6ImN3LWRiLTA1NzEyMjc1OTY4NCIsIlUiOiJ1cy1lYXN0LTFfVTB1SmZDOWVKIiwiQyI6IjYwN3IzMGpwN2JlNmVhdDNvaW1vZ2hkam84IiwiSSI6InVzLWVhc3QtMTowZjdmYTg1ZS0wZjY2LTQ2ZjItYmFlNy04N2JlNDgyMDIzMGYiLCJNIjoiUHVibGljIn0%3D) displays incorrect gpu mem

[2022-10-03 20:24] hgong-snap commented on #1875
thanks for the code pointer. but that seems not the case...   seems error detail can be dropped if the exception is not `PredictionException`

[2022-10-05 06:25] msaroufim commented on #1875
Is the error truncated only on the client end? I'm assuming you see the error correctly populated in logs `logs/model_log.log`?

[2022-10-05 12:29] bergerkiller opened #1888 "Worker crashes and model is reloaded when a gRPC client aborts a prediction request"
### 🐛 Describe the bug

We are hosting a GPU model using pytorch-serve, and have gRPC client making requests to this server to perform inference on images. [This uses this proto specification](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/resources/proto/inference.proto).

In production we discovered a DOS situation where the server was endlessly reloading the model after a

[2022-10-05 15:01] msaroufim commented on #1888
Which torchserve version are you using? This was fixed here https://github.com/pytorch/serve/issues/1815 and you can try out our nightlies to confirm. Official release coming in November

[2022-10-05 17:38] msaroufim opened #1889 "Default to Ubuntu 20.04 in our releases"
### 🚀 The feature

Ubuntu 18.04 is quite old now and the LTS is Ubuntu 20.04 so we should default to that in our releases, CI and docker build scripts

### Motivation, pitch

Regular maintenance

### Alternatives

Upgade to 22.04

### Additional context

Should we deprecate support for Ubuntu 18.04?

[2022-10-05 20:38] bergerkiller commented on #1888
Thanks, I will give this a try tomorrow

[2022-10-06 13:36] bergerkiller commented on #1888
It was a lot of trouble to get the dev build working because of incompatibilities with MMCV, so I had to tweak things like using the devel cudnn base tag among other things. But, I got it all working, and I can no longer crash the worker process by killing the client. So it looks like the issue is indeed resolved.

Thanks for the quick advice :)

[2022-10-06 13:36] #1888 closed

[2022-10-06 23:29] msaroufim opened #1891 "fsspec for batch inference example"
### 🚀 The feature

fsspec gives the ability to work with remote file systems like S3, GCS or Azure Blog storage with a single unified API

See this recent example for how broadly useful it is https://github.com/pytorch/data/pull/812

We can create an example with some large dataset in some remote cloud storage, stream that data to some local client which then creates requests to torchserve for som

[2022-10-07 19:33] github-actions[bot] opened #1893 "Nightly CPU benchmark failed"
Commit 8d601cd63542cb2a1917582af79fc5f723d62c3b daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3201956558) failed, please check why

[2022-10-09 05:59] jack-gits opened #1894 "passport of root"
### 🐛 Describe the bug

what's the password of root?

![image](https://user-images.githubusercontent.com/30545972/194740560-e69bb9ee-ae91-47c7-8a2d-367e29b11aa0.png)

### Error logs

![image](https://user-images.githubusercontent.com/30545972/194740564-da52e455-303a-4c47-90e8-ea9e79612598.png)

### Installation instructions

![image](https://user-images.githubusercontent.com/30545972/194740567-580

[2022-10-09 14:28] msaroufim commented on #1894
You need to login as the root user when you create your container. See this https://www.baeldung.com/ops/root-user-password-docker-container#2-using-the-root-user

[2022-10-09 17:45] msaroufim commented on #1893
Hmm so it seems like last night's job did succeed, so there is some flakiness going on here we need to diagnose

[2022-10-10 16:06] #1893 closed

[2022-10-10 16:17] maaquib commented on #1894
Resolving. @jack-gits Please reopen if this is still an issue

[2022-10-10 16:17] #1894 closed

[2022-10-10 16:27] maaquib commented on #1885
@divastar I am not able to reproduce this. Can you provide the complete logs from the server startup

[2022-10-12 04:02] msaroufim commented on #1885
Yeah I also tried looking into this and couldn't repro on Ubuntu - I feel like this may be some Windows specific issue with how your paths are setup

[2022-10-12 16:54] #1870 closed

[2022-10-12 17:11] Chichilele commented on #1843
up? I've been building my tochserve images this way for about a month now and it works just fine. Otherwise probably best to close this issue.

[2022-10-12 17:19] #1843 closed

[2022-10-12 17:31] angarg12 opened #1899 "The /ping endpoint should return an error 5xx when the backend is Unhealthy"
### 🚀 The feature

The /ping endpoint should return an error 5xx when the backend is Unhealthy.

### Motivation, pitch

Currently the /ping health check returns HTTP OK always, whether the backend is Healthy, Unhealthy or Partially Healthy. This causes problems with some setups (e.g. AWS ALB) which rely on HTTP codes to determine the health of a server.

### Alternatives

The status quo.

### Addi

[2022-10-12 19:26] BDHU opened #1900 "Multiple node inference"
### 📚 The doc issue

I'm trying to find guides on how to deploy a single model across multiple nodes but find little information, Any potential hint will be appreciated!

### Suggest a potential alternative/fix

_No response_

[2022-10-12 23:08] msaroufim commented on #1900
You can setup a server per node and then create a load balancer yourself between them. This is kind of hard to do manually so I'd recommend checking out this cloudformation template https://github.com/pytorch/serve/tree/master/examples/cloudformation#multi-node-ec2-deployment-behind-elastic-loadbalancer-elb

[2022-10-13 01:22] somizgh opened #1901 "gRPC List API error"
hi
I have a problem when trying to get a list of registerd model from torchserve
I'm using both of REST API and gRPC API but only gRPC API don't work when using ListModelsRequest

in REST API
---
[code]
returns model list successfully

'models': [{'modelName': 'aaa', 'modelUrl': 'aaa.mar'}, {'modelName': 'bbb', 'modelUrl': 'bbb.mar'}]}

but in gRPC API
---
[code]

returns empty list
{
  "nextPageT

[2022-10-13 02:20] msaroufim commented on #1901
Are you able to reproduce this error with 2 toy models for example our densenet example from our getting started guide?

[2022-10-13 02:24] #1900 closed

[2022-10-13 04:57] somizgh commented on #1901
@msaroufim
I followed this guide
https://github.com/pytorch/serve/blob/master/docs/getting_started.md

I use mac OS and run it using cpu

and changed some codes in torchserve_grpc_client.py to use listmodels
[code]

and typed
[code]
prints
{
  "nextPageToken": "0",
  "models": []
}
b'{\n  "models": [\n    {\n      "modelName": "densenet161",\n      "modelUrl": "densenet161.mar"\n    }\n  ]\n}\n'

[2022-10-13 13:00] kangsan0420 opened #1902 "Is it possible to use Torchserve for Huggingface transformers` VisionEncoderDecoderModel?"
Hi, I'm wondering whether I can use Torchserve for the below model.
(I'd like to use it for TrOCR)

[code]

[2022-10-13 16:16] msaroufim commented on #1902
@agunapal has recently looked at video models, it should be entirely possible - just need to expand on the huggingface custom handler to support this

[2022-10-13 21:50] divastar commented on #1885
[https://drive.google.com/drive/folders/1xEUTP0BUzNo4wGj8_7jxTrgGAa9HWPNR?usp=sharing](url)
these are the logs
thank you

[2022-10-17 13:16] anishchhaparwal commented on #1692
Facing the same issue as @Hegelim. GPU memory usage keeps increasing post each inference batch.

[2022-10-18 19:44] github-actions[bot] opened #1909 "Nightly CPU benchmark failed"
Commit c3ec20160da4489f7183d5ebf3ca00cab829f06c daily scheduled [CI run](https://github.com/pytorch/serve/actions/runs/3270329445) failed, please check why

[2022-10-18 19:56] msaroufim commented on #1909
Nightly CPU benchmark has been flaky for a while so either we need to disable the warning it or root cause the problem. I can't personally login to the benchmark CPU machine to investigate but if this issue occurs one more time I will send a PR disabling warnings only for nightly CPU benchmark

[2022-10-18 20:39] anishchhaparwal commented on #1219
@lxning, what changes do I need to make in the Torchserve grpc client to make this work?

[2022-10-18 20:47] anishchhaparwal commented on #1219
Making the following changes in torchserve_grpc_client.py solved the issue:

def get_inference_stub():
    options= [('grpc.max_receive_message_length',200*1024*1024)]
    channel = grpc.insecure_channel("localhost:7070", options=options)
    stub = inference_pb2_grpc.InferenceAPIsServiceStub(channel)
    return stub

[2022-10-19 08:55] Hanyu-Jin opened #1911 "How can I change the inference_address?"
### 📚 The doc issue

I run the steps in [Getting Started]( https://github.com/pytorch/serve/blob/master/docs/getting_started.mdl). When I run the `torchserve --start --ncs --model-store model_store --models densenet161.mar`, I find that http://127.0.0.1:8080 is already in use and I cannot kill the process that uses the port.
I tried to change 8080 to 8085 in all files but it didn't work. The comma

[2022-10-19 11:32] harshbafna commented on #1911
@Hanyu-Jin : The default inference port for TorchServe is `8080`. Please refer the [advanced configuration](https://github.com/pytorch/serve/blob/master/docs/configuration.md#configure-torchserve-listening-address-and-port) on how to configure the listening address and port for TorchServe

[2022-10-19 16:35] #1911 closed

[2022-10-20 04:17] lxning commented on #1899
@angarg12 Torchserve includes frontend and backend. Frontend essentially is a http/grpc server which manages backend transparently to users; models are deployed on backend.

- ping endpoint is used to monitor model serve frontend heartbeat. (eg. AWS SageMaker uses this endpoint to check Torchserve heartbeat).

- endpoints [model status](https://github.com/pytorch/serve/blob/master/docs/management_

[2022-10-20 15:27] angarg12 commented on #1899
@lxning when the backend crashes, the /ping endpoint returns "Unhealthy" and HTTP code 200. Is this expected?

If so, it doesn't align with my expectations. If /ping returns Unhealthy, I would expect a return code of 5xx.

[2022-10-20 16:53] maaquib opened #1918 "Spellcheck fails if no changed src files"
### 🐛 Describe the bug

In case there are no changes to a markdown file, the spellcheck is run with [empty arguments](https://github.com/pytorch/serve/blob/master/ts_scripts/spellcheck.sh#L15) which throws the [error](https://github.com/marketplace/actions/github-spellcheck-action-german#diagnostic-text-runtimeerror-none-of-the-source-targets-from-the-configuration-match-any-files) `RuntimeError:

[2022-10-20 19:05] lxning commented on #1899
@angarg12 ping endpoint is used to monitor model serve frontend heartbeat. (eg. AWS SageMaker uses this endpoint to check Torchserve heartbeat), not for backend. "Backend crash" do not mean "frontend(ie. model server) is unhealthy.

Backend purely runs customer model. Frontend will automatically retry to create a new worker(ie. backend process) if a worker (ie. backend process) dies. That's why en

[2022-10-20 23:21] angarg12 commented on #1899
Just to double check that I understand correctly and we are on the same page, I have created a minimal example of the issue that we are experiencing.

This Dockerfile reproduces the issue

[code]

Running this container starts a torchserve instance where backend workers die

The ping endpoint returns Unhealthy, but the HTTP code is 200.

[code]
This mimics previous issues where our workers died, b

[2022-10-20 23:38] kirkpa commented on #1891
Hi @msaroufim, Can you add me as a collaborator/contributor to pytorch/serve project. I would like to submit PR for this issue. Thanks

[2022-10-21 00:15] msaroufim commented on #1891
Hi @kirkpa there is no need for that you can can create your own fork of pytorch/serve and then make a PR to this repo

[2022-10-21 07:05] VikasNeoito opened #1921 "Is it possible to use torch serve for deploying a Face Recognition model?"
Hi, I am wondering whether I can use TorchServe to deploy a PyTorch FaceNet model. How do I set something that needs to take an image, pass it through the model to get the encodings, and then compare them to every image encoding in the database and output the closest one.?
Which is the most efficient way to do this?

[2022-10-21 08:07] nhthanh0809 commented on #967
I also met the same problem with ts version 0.6.0. When i loaded model on CPU, my 10 models only consumed 6GB RAM. But when i loaded model on GPU, it took 9GB GPU RAM and ~14 RAM.  Please open this issue!

[2022-10-21 11:29] samils7 commented on #1841
Adding a curl request after torchserve start in dockerd-entrypoint.sh may be a solution but not sure if it will work.
I will update here after I tried.
What I mean is like:

[code]