[2020-10-19 10:31] harshbafna commented on #738
@reubenwenisch: The `DefaultPredictor` model returns object of type `Instances` and not a JSON/python dictionary.

I assume you are looking for `boxes` and `classes`. You can extract these from the model output as follows :

[code]

[2020-10-19 11:25] harshbafna commented on #734
@adumit:

From the above logs, it looks like the model response size exceeds the configured limit of 1024 bytes. Have you updated the  'max_response_size' in `config.properties`? The default value is `6553500` bytes.

Could you share your config.properties and minimal reproducer?

[2020-10-19 13:00] Licini commented on #737
@harshbafna Thanks for the quick reply, I used `conda install torchserve`. It is mysteriously one version ahead ...
 https://anaconda.org/pytorch/torchserve

[2020-10-19 13:07] harshbafna commented on #737
@Licini: Thanks for the update on the steps used for installation. I will try and reproduce this at my end and revert.

[2020-10-19 13:23] harshbafna commented on #737
@Licini: Thanks for reporting this. I can confirm this is a bug with the conda binary and the `packaging` module does not get installed as part of TorchServe dependency. We will fix this in the next release.

[2020-10-19 14:49] adumit commented on #734
Thanks for helping out @harshbafna!

I tried increasing the 'max_response_size' config to 10x the `6553500` bytes and no luck.

I'm having a bit of a hard time working up a minimal reproducible example since this error only appears to occur under load. But, here are the settings I'm using for the config.properties:

Could you help me understand how the bytes error with regards to the reader/writer

[2020-10-19 21:49] #690 closed

[2020-10-20 03:29] harshbafna commented on #734
@adumit: Could you share your model handler and a sample expected response from the handler?

The java frontend layer communicates over netty channels to the [backend worker processes](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerThread.java#L227) and expects the total length of the backend response to be not more than configured `max_respo

[2020-10-20 04:33] harshbafna opened #740 "Add generic support for different GPU hardware."
## Is your feature request related to a problem? Please describe.
Currently, TorchServe's sanity suite, regression suite, and the recent changes related to logging [GPU info in the model description](https://github.com/pytorch/serve/pull/680/files#diff-f59542e2d3bf96fef95e59fd56706088a99631304e5637812e76911b64ae8539R93) are dependent on `nvidia-smi` command which is NVIDIA specific.

Also, the def

[2020-10-20 07:35] jeremiahschung opened #742 "Add serving-sdk unit tests to sanity/regression tests"
## Is your feature request related to a problem? Please describe.

No.

## Describe the solution

The current sanity/regressoin tests do not have coverage for the [serving-sdk](https://github.com/pytorch/serve/tree/master/serving-sdk).

## Describe alternatives solution

Add unit test coverage to the serving-sdk using TestNG.

[2020-10-20 07:36] SysuCharon commented on #473
@harshbafna : same error
my java version
[code]
list jdk package
[code]

[2020-10-20 07:38] jeremiahschung opened #743 "Replace JUnit tests with TestNG and unify testing framework"
## Is your feature request related to a problem? Please describe.

No. Currently the [serving-sdk](serving-sdk/src/test/java/org/pytorch/serve/servingsdk/ModelServerEndpointTest.java) uses the JUnit framework for unit testing. This is the only place JUnit is used compared to TestNG being used in the main frontend code.

## Describe the solution

Replace the use of JUnit in the serving-sdk with Tes

[2020-10-20 09:06] harshbafna commented on #473
@SysuCharon: Could you please log a fresh ticket with your environment details per the bug report template?

[2020-10-20 12:30] adumit commented on #734
@harshbafna unfortunately, I'm unable to share my model handler and expected response at this time. Still checking to see if I can get an equivalent error here.

To answer your questions:
- I have tried a few different batching parameters. Currently, I was at "batch_size" = 4 with max_batch_delay=25. Have tried varying batch_sizes from 8 to 32 though.
- I was using the same input for each request

[2020-10-20 13:14] harshbafna commented on #734
That should not be a problem. Mostly the message returned from the backend python process (model worker) to the frontend is malformed. Hence, it fails while converting the `byte buffer` to `message`. In your case, it fails when it is trying to extract the HTTP code (int value) where it expects to read `1024 bytes` in total but got one extra byte (`readerIndex(1021) + length(4) exceeds writerIndex(

[2020-10-20 13:47] adumit commented on #734
I see. So would that just be what is returned from the `handle` method? In that case, that part is pretty generic. I'm taking as input a softmaxed vector and running the following post_process:

    def postprocess(self, inference_output):
        topk_probs_batch, topk_indices_batch = inference_output.topk(10, dim=-1)
        output_batch = []
        for topk_indices, topk_probs in zip(topk_indi

[2020-10-20 14:15] harshbafna commented on #734
@adumit: Thanks for sharing the snippets from your model handler. This indeed looks pretty generic post-processing.

Could you share the following more info so that I match the exact environment and try reproducing this issue:

 - Model configuration for which the issue always reproduces: number of workers, batch_size, max_batch_delay
 - TorchServe is installed from source or binaries?
 - Any chan

[2020-10-20 14:27] adumit commented on #734
Absolutely.

batch_size: 4 (tried 8, and 32 as well and see the errors)
number_of_workers: 3
max_batch_delay: 25 (tried 50 and the default of 100 as well)

TorchServe installed via pip.

Good thing to check on the special character! The only non-alpha numeric characters in my mapping file are: single quotes (maybe an issue?), "(", ")", "+", "-", "/", ":", "<", and ">". Happy to test removing any o

[2020-10-20 14:53] adumit commented on #734
@harshbafna here's one more part of the error, apologies for not sending it earlier. It occurs with the other part I described above and I had assumed it was part of the overall Java error. But, in case it's not I logged it out below.

[code]

[2020-10-20 15:08] harshbafna commented on #734
Could you add a simple `logging.info()` statement to see if there is any specific character observed in the final output from the handler when the error occurs?

Could you also test this same load with `batch_size=1`? This will mean that there is an independent frontend-backend communication for every inference request. If the issue is still reproducible then we can narrow down on the parameters.

[2020-10-20 15:16] adumit commented on #734
I will test the `batch_size=1` now.

As far as the `logging.info()` statement, looks like I should be adding that to the Java codebase. Am I mistaken and I can add that into the python piece or no? Will I need to recompile once I've added it in?

And thanks for confirming on the after effect.

[2020-10-20 15:19] harshbafna commented on #734
You can add it to your handler using python's logging module, the frontend code captures the standard out from the backend worker. You will just need to rebuild the mar file with the updated handler.

[2020-10-20 15:37] adumit commented on #734
@harshbafna good call on the batch size check.. batch_size=1 appears to totally fix the issue. The model is small enough to run sub 50ms latency without batching. I'll test with the logging statement next and batch_size > 1.

Fine to close this issue if you'd like to stop investigating for now as this solves my immediate need. However, I'm also more than happy to continue helping try and uncover w

[2020-10-20 15:43] harshbafna commented on #734
It would be great if you could help bring this to closure :-).

[2020-10-20 16:39] adumit commented on #734
So I re-ran with a batch size > 1 and the logging enabled. I am seeing some non-alpha numeric characters for this output: ":", ")", "(", ">", and "-" are all present in the output. Not sure if this could cause the issue. Other than that, the shapes of the outputs all look correct batch-wise.

When I run it through the model for just a single request, the one-batch request also looks the same with

[2020-10-20 18:24] #736 closed

[2020-10-20 18:26] maaquib commented on #732
@harshbafna Looking at the prometheus java client [code](https://github.com/prometheus/client_java/blob/b61dd232a504e20dad404a2bf3e2c0b8661c212a/simpleclient/src/main/java/io/prometheus/client/SimpleCollector.java#L106), it seems a metric is initialized only if doesn't have a label

[2020-10-20 18:57] #384 closed

[2020-10-20 19:04] maaquib commented on #714
@misrasaurabh1 We do plan to use these metrics for autoscaling. The work for this is being tracked under #88

[2020-10-20 21:07] reubenwenisch commented on #738
Right. Even this `pred_boxes` is of type `detectron2.structures.boxes`. Even this cannot be json serializable right? So what is the recommended way to send the output and convert back in the case of a segmentation algorithm?

[2020-10-22 03:17] stefempath opened #745 "Question: Is it possible to secure .mar files?"
I hope it's okay to ask questions here. I couldn't find a community channel for Serve.

We would like to deploy trained TorchScript models on-premise. For this we need to at least secure the trained weights. If the .mar files can somehow be secured, it would allow us to use Serve on the client's server. Any thoughts?

[2020-10-22 04:06] dhaniram-kshirsagar commented on #459
@la-cruche There is no direct config to do this.

[2020-10-22 04:20] dhaniram-kshirsagar commented on #745
@saifrahmed Do you want to protect mar in transit e.g. have pass protected zip OR Are you looking at protecting extracted content on the server?

[2020-10-22 04:21] saifrahmed commented on #745
I think that comment was meant for @stefempath

[2020-10-22 04:25] dhaniram-kshirsagar commented on #743
@jeremiahschung This should be taken care of by PR #536

[2020-10-22 04:25] stefempath commented on #745
@dhaniram-kshirsagar
1. Stored securely in the model store, so that when not in use, the .mar contents cannot be accessed. I guess this would require some sort of key that can expire that can safely be stored somewhere?
2. Prevent/complicate the extraction of weights when the model is being loaded for inference.

[2020-10-22 05:07] jeremiahschung commented on #743
@dhaniram-kshirsagar Thanks for the response! It looks like PR #536 still has references to JUnit (https://github.com/pytorch/serve/pull/536/files#diff-ef66cdab4bf76628f5e70f719f2c16ad0952fe5a0ba8ac5dace57bed9c5bab46R7). IS this intended?

[2020-10-22 17:26] #597 closed

[2020-10-23 04:05] shnoru1 opened #746 "Support AWS Elastic Inference (EI)?"
I've been trying to deploy `TorchServe` API via AWS Elastic Inference (EI), referring to the document written by AWS https://docs.aws.amazon.com/elastic-inference/latest/developerguide/ei-pytorch-using.html#ei-pytorch-inference.

I've read that `TorchServe` selects the GPU devices in a round-robin fashion, and would this be same to Elastic Inference? It would be very helpful if there is a best pra

[2020-10-23 06:35] m1kelle-crypto commented on #587
@harshbafna did you figured it out? I have the same problem.

[2020-10-23 08:44] dhaniram-kshirsagar commented on #745
@stefempath
Both these requirements cannot be supported in torchserve at present however you can raise an enhancement request.
Suggestion-
For 1, Yes, you will have to secure a mar file using a password etc.. and in your custom torchserve handler you will have to extract it however there is a risk as python files can be read.
NOTE mar file is nothing but a zip file

[2020-10-23 09:14] dhaniram-kshirsagar commented on #746
@shnoru1 Yes, torchserve selects the  GPU in a round-robin fashion.
I am assuming for using aws EI, you have written a custom torchserve handler as it doesn't support EI in default handlers. If yes, then look at [this](https://github.com/pytorch/serve/blob/master/examples/text_to_speech_synthesizer/waveglow_handler.py#L56) which demonstrates how given gpu id can be used while loading model.

For b

[2020-10-23 10:30] dhaniram-kshirsagar commented on #721
@vikigenius It is a bug. We will fix it in 0.3 release.
This is the [line](https://github.com/pytorch/serve/blob/master/frontend/modelarchive/src/main/java/org/pytorch/serve/archive/ModelArchive.java#L87) which is causing problem. It needs to be replaced with a load call instead of an exception.

[2020-10-23 10:35] dhaniram-kshirsagar commented on #716
Yes, you can add as many endpoints as you want. You don't have to wrap torchserve behind WebAPI. Plugins are simply jars which are loaded in the same container as torchserve.

[2020-10-23 10:49] harshbafna commented on #587
@m1kelle-crypto: I could not reproduce this issue at my end. It would be great if you could provide all the information requested in the above conversation. So that we can figure out some common points from both the environment.

[2020-10-23 11:03] harshbafna commented on #734
@adumit Thanks for the update. I couldn't spend more time this week investigating the root cause. I will try a few more permutation and combinations next week.

[2020-10-23 11:15] harshbafna commented on #738
@reubenwenisch: As documented by [detectron2](https://detectron2.readthedocs.io/modules/structures.html), `detectron2.structures.boxes` stores a `list` of boxes as an Nx4 torch.Tensor.

TorchServe handler should return a list of output. You can return any type of data like Tensor, Boxes, Classes, or a segmented image (in binary format). What you want to return from the handler will depend on your

[2020-10-23 12:51] shnoru1 commented on #746
@dhaniram-kshirsagar Yes, I've written a custom torchserve just as waveglow examples. I've figured out `torch.jit` is required to save a trained model, as described [here](https://docs.aws.amazon.com/elastic-inference/latest/developerguide/ei-pytorch.html). But I'm still little bit confused applying it to torchserve, like how to deal with the gpu devices, etc.. I think I can raise a doc enhancemen

[2020-10-23 13:02] shnoru1 opened #748 "Doc enhancement request for the best practice using TorchServe with AWS Elastic Inference"
## 📚 Documentation

I'm trying to write a custom handler that handles AWS EI model. [This document](https://github.com/awslabs/multi-model-server/blob/master/docs/elastic_inference.md) from AWS multi model server repo gives an example showing custom service using MXNet, but I couldn't find a document explaining best practice for PyTorch. It would be helpful if the document is enhanced by adding in

[2020-10-24 00:02] veronikayurchuk opened #751 "Custom pip package installation failed while running torchserve with custom library"
`2020-10-23 21:31:48,131 [WARN ] main org.pytorch.serve.ModelServer - Failed to load model: mymodel_docker_import.mar
org.pytorch.serve.archive.ModelException: Custom pip package installation failed for mymodel`

## Context

* torchserve version: 0.2.0
* torch version: 1.6.0
* Operating System and version: ubuntu:18.04

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning

[2020-10-26 05:31] dhaniram-kshirsagar commented on #746
@shnoru1 As such you don't have to manage the GPU aspect, the only thing required from you is to load your model and later during inference input with supplied GPU id to your [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#handling-model-execution-on-multiple-gpus) as shown [here](https://github.com/pytorch/serve/blob/master/examples/text_to_speech_synthesizer/

[2020-10-26 07:16] m1kelle-crypto commented on #587
Ok, but maybe to be clarify, when I am following the docs and runiing densenet161 example, everything is working fine.
I have got my custom Resnet34 model trained on 9 class. Maybe I am doing something wrong during the conversion to .mar file?
I used this command:
`torch-model-archiver --model-name model34 --version 1.0 --model-file resnet34-333f7ec4.pth --serialized-file res34.pt --export-path mo

[2020-10-26 17:28] #643 closed

[2020-10-26 18:17] maaquib commented on #751
@veronikayurchuk Can you also post the output of the following
[code]

[2020-10-26 18:32] #88 closed

[2020-10-26 18:59] #708 closed

[2020-10-26 19:00] #604 closed

[2020-10-26 21:48] jeremiahschung opened #752 "Torchserve latest-gpu remote docker image does not support Metrics API"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

The remote docker image pytorch/torchserve:latest-gpu fails to receive metrics API calls on port 8082.
Please see the logs below where I tested:
- Deploying torchserve on EKS with the "latest-gpu" image, metrics API fails.
- Deploying torchserve on EKS

[2020-10-26 21:52] jeremiahschung opened #753 "Update outdated helm repo address in EKS setup instructions"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

The command `helm repo add stable https://kubernetes-charts.storage.googleapis.com` produces the error message `Error: repo "https://kubernetes-charts.storage.googleapis.com" is no longer available; try "https://charts.helm.sh/stable" instead`.

Update

[2020-10-26 21:55] jeremiahschung commented on #753
Created [PR 754](https://github.com/pytorch/serve/pull/754/) to address this.

[2020-10-26 22:01] maaquib commented on #752
@jeremiahschung I don't think the latest gpu image was tagged to `pytorch/torchserve:latest-gpu`. You should try with `pytorch/torchserve:0.2.0-cuda10.1-cudnn7-runtime`

https://hub.docker.com/r/pytorch/torchserve/tags?page=1

[2020-10-26 22:10] jeremiahschung commented on #752
Image `pytorch/torchserve:0.2.0-cuda10.1-cudnn7-runtime` is failing with the same error.

Regardless of this issue, since the "latest-gpu" tag is widely used across our documentation, we should update the image when we release a new build. Thoughts?

[code]

[2020-10-26 22:11] MartinEliasQ commented on #751
@veronikayurchuk  Try  this [Dockerfile](https://github.com/pytorch/serve/blob/04fbaabe62d1e9363af0aaf479bd7e5b30e39b92/docker/Dockerfile) (#724). With the current version there is a problem with the permissions of the virtual python environment and the user of the container. In my case I built the container with those changes and it worked fine.

[2020-10-26 22:16] maaquib commented on #752
@jeremiahschung I see. I tried with `0.2.0-cuda10.1-cudnn7-runtime` and it seems like the port is open only to the loopback address. Hence the failure.
[code]

@seemethere Just want to confirm if the gpu image was not tagged to `latest-gpu` intentionally

[2020-10-27 00:01] dhaniram-kshirsagar commented on #587
@m1kelle-crypto Is this a typo `--model-file resnet34-333f7ec4.pth`? model file should be a python file.

[2020-10-27 06:36] harshbafna commented on #587
@m1kelle-crypto: Looks like this is the root cause. I can see the following error, in the logs shared by you, when TorchServe tries to load the model file.

[code]

[2020-10-27 08:46] jeremiahschung commented on #752
Good catch. I believe that is part of the config.properties configuration. Perhaps the gpu image was built with the wrong config settings?

[2020-10-27 10:44] Hammamwa47 commented on #752
Hi, I think the config.properties  should be modified to include the metrics address e.g like this:

`metrics_address=https://0.0.0.0:8082`

[2020-10-27 15:11] harshbafna opened #755 "Regression suite fails to install newman with latest nodejs"
## Context
* torchserve version: latest master
* torch version: 1.6.0
* torchvision version [if any]: 0.7.0
* torchtext version [if any]: 0.7.0
* torchaudio version [if any]: 0.6.0
* java version: OpenJDK 11
* Operating System and version:Ubuntu 18.04

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: No
* Is it a CPU or

[2020-10-27 16:40] #706 closed

[2020-10-27 16:40] #751 closed

[2020-10-27 17:18] veronikayurchuk commented on #751
Hi, @maaquib !

Unfortunately, it didn't fix my issue completely.
Now I am getting another error.
[code]

Would appreciate any help!

[2020-10-27 20:39] veronikayurchuk commented on #751
Here is a list of steps that I did to fix the above issue:
* specified python version to python3.8 in Dockerfile
* specified torch and torchvision versions (as just a couple of hours ago a new version of torch was released)
* added these commands to Dockerfile:
`RUN apt-get update && apt-get install -y apt-transport-https`
`RUN apt-get install -y libgl1-mesa-dev`
* unfortunately, had to run this c

[2020-10-27 20:51] #738 closed

[2020-10-28 02:21] spate141 commented on #720
Any update on this one?

[2020-10-28 06:57] harshbafna commented on #701
Closing as the query has been answered.

[2020-10-28 06:57] #701 closed

[2020-10-28 06:58] harshbafna commented on #711
Closing as the query has been resolved.

[2020-10-28 07:01] harshbafna commented on #730
Closing as the query has been answered and no response from OP.

[2020-10-28 07:01] #730 closed

[2020-10-28 07:04] harshbafna commented on #746
Closing as the query has been answered and doc enhancement related to best practices for AWS Elastic Inference will be tracked through #748

[2020-10-28 07:04] #746 closed

[2020-10-28 08:19] Mister5ive opened #756 "worker restart and logs “epollEventLoopGroup-3-10 org.pytorch.serve.http.HttpRequestHandler”"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
* torch version:
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and version:

## Your Environment

* Installed using source? [yes/no]:no
* Are you pl

[2020-10-28 09:02] harshbafna commented on #756
@Mister5ive: Please update the context details. Also, attach the `ts_log.log` and `access_log.log` file from the `logs` directory.

Questions :

 - When is the error observed? While scaling up the model workers or at the time of inference?
 - Does the model works fine with a single worker?
 - Could you share a minimal reproducer?

[2020-10-28 09:41] m1kelle-crypto commented on #587
@dhaniram-kshirsagar @harshbafna You were rigth! I was confused about command in documentation:
`torch-model-archiver --model-name densenet161 --version 1.0 --model-file ./serve/examples/image_classifier/densenet_161/model.py --serialized-file densenet161-8d451a50.pth --export-path model_store --extra-files ./serve/examples/image_classifier/index_to_name.json --handler image_classifier`

I just us

[2020-10-28 13:20] Mister5ive commented on #756
this happened during production environment.

not really.even 1 worker the case would happen.

docker image: docker pull mister5ive/torchserve:gpu-10.2-cudnn7-runtime-ubuntu18.04

thanks for your reply

[2020-10-28 13:41] harshbafna commented on #756
@Mister5ive: Thanks for the updates. I will try and reproduce this error at my end and will revert.

[2020-10-28 16:44] dhaniram-kshirsagar commented on #682
As discussed with @chauhang @lokeshgupta1975 @dhanainme @maaquib @harshbafna, here is the final plan for adding workflow support to torchserve.

Goal - Able to support the ensemble of models.

**Assumptions/notes**
- In this design ensemble is described by a workflow i.e. either a parallel execution of the model with aggregation function OR sequential/pipeline flow OR any other custom flow with on

[2020-10-28 18:21] lxning commented on #720
@spate141 it was added into our working list. The code review will be sent out soon.

[2020-10-28 19:46] #598 closed

[2020-10-29 05:54] harshbafna commented on #756
@Mister5ive: Please share a sample input and a sample inference request command for your model.

Question: Was there any specific reason to split the handler into two files?

[2020-10-29 06:54] opconty opened #760 "python requests examples desired"
There are only curl examples in Predictions API document, it would be better if providing some python requests examples .

[2020-10-29 07:36] Mister5ive commented on #756
[sample.zip](https://github.com/pytorch/serve/files/5456747/sample.zip)

No,I just refer to the following: https://towardsdatascience.com/deploy-models-and-create-custom-handlers-in-torchserve-fc2d048fbe91

I create TorchServe docker image from source according to https://github.com/pytorch/serve/blob/master/docker/README.md#create-torchserve-docker-image-from-source

there is no other process run

[2020-10-29 08:18] harshbafna commented on #756
@Mister5ive: Thank you for the script. I will run the load test with the same input and let you know.

[2020-10-29 08:25] harshbafna commented on #756
@Mister5ive : Could you also share the `docker run` command used for starting the container.

[2020-10-29 08:42] Mister5ive commented on #756
this is my docker run command used for starting the container:
docker run -itd --runtime=nvidia -p 8080:8080 -p 8081:8081 --name ${gpu_container} -v /opt/app/${server}/models/model-store:/home/model-server/model-store torchserve:gpu-10.2-cudnn7-runtime-ubuntu18.04 torchserve --start --model-store model-store --ts-config /home/model-server/model-store/ts.properties --models ${model_name}

[2020-10-29 09:41] jagadeeshi2i opened #761 "Cannot create model archive in waveglow example"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context
While creating model archive file for waveglow example the create_mar.sh script fails with 404 error.

[code]

* torchserve version:
* torch version:1.6.0
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* jav

[2020-10-29 09:49] alvarobartt commented on #760
Hi @opconty! I found the same issue while I was starting with TorchServe, here I leave you an example using Python once the TorchServe server is deployed. Note that it really depends on the model you are using, the example below applies to any image related problem (for text would be different as you don't need to transform the data to bytes), so I'll show you how to proceed for images as it may s

[2020-10-29 10:18] opconty commented on #760
HI,alvarobartt,
Thanks a lot, I found pycurl works nice for me, but I'll try your method,

by using pycurl:
[code]

[2020-10-29 10:35] alvarobartt commented on #761
Hi @jagadeeshi2i! I'm currently working on a PR to solve this as the NVIDIA models URL has been updated so some changes need to be done on that script.

[2020-10-29 10:36] alvarobartt commented on #761
@harshbafna I just saw that you self-assigned this, you want me to keep on working on the PR or should I discard it? Thanks!

[2020-10-29 10:37] alvarobartt commented on #760
You're welcome @opconty if you have any other doubt just let me know! 🤗

[2020-10-29 10:47] harshbafna commented on #761
@alvarobartt: If you are already working on this and found the fix please continue and feel free to submit the PR :-)

I just checked that this is a known issue in `NVIDIA/DeepLearningExamples` repo. The Tacotron2 model which is used in this example is not available on `torch.hub` anymore:

Ref:

https://github.com/NVIDIA/DeepLearningExamples/issues/725
https://github.com/NVIDIA/DeepLearningExampl

[2020-10-29 10:48] alvarobartt commented on #761
Sure @harshbafna! I'll try to fix it now!

[2020-10-29 11:02] harshbafna commented on #760
@alvarobartt: Thanks for the elaborate example. It would be good to have a simple python based code snippet for inference for every example we have.

[2020-10-29 11:08] alvarobartt commented on #761
The issue seems to be related with a model update NVIDIA did, which somehow removed/deleted the previous model, so the specified version of that model couldn't be found at [NVIDIA Catalog - Models](https://ngc.nvidia.com/catalog/models?orderBy=modifiedDESC&pageNumber=1&query=&quickFilter=models&filters=).

On the other hand, both Tacotron2 and Waveglow models are available, but the version of thos

[2020-10-29 11:16] alvarobartt commented on #760
@harshbafna ok then! I'll probably start off with `image_segmenter` and `image_classifier` Python examples as those are the ones I'm more familiar with. Anyway I'll try to develop a simple Python snippet plus a minimal explanation for every example!

Then should I get this issue assigned? Thanks!

[2020-10-29 13:21] harshbafna commented on #756
@Mister5ive: I executed `100000` requests on your model running inside the docker container created by the image shared by you and all the requests succeeded successfully.

Is there any memory restriction imposed on docker containers in your production environment?

Also, the `nvidia-smi` output shared by you shows the python process consumes ~5 GB memory, however, in my testing both the processes

[2020-10-29 14:04] Mister5ive commented on #756
1.I set torchserve batch Inference by ‘model_snapshot’ in config.properties, so this may lead to the python process consumes ~5 GB memory.
As follows：
model_snapshot={"name":"startup.cfg","modelCount": 1,"models":{"SpamCls":{"1.0":{"defaultVersion": true, "marName": "SpamCls.mar", "minWorkers": 2, "maxWorkers": 2,"batchSize": 30, "maxBatchDelay": 50, "responseTimeout": 120}}}}
2.In my production e

[2020-10-29 16:55] harshbafna commented on #756
Restoring from model_snapshot should not create a problem. I used the following command model registration, which matches the parameters in your `model_snapshot`

[code]

I used this simple shell script to run a load test

[code]

Could you share your load test script to reproduce this issue?

[2020-10-29 17:16] #636 closed

[2020-10-29 23:29] chauhang commented on #761
@alvarobartt Please also add the related requirements.txt file for the waveglow example so that the pip install dependencies get picked up by TorchServe for running the models.

[2020-10-30 08:16] harshbafna commented on #682
Different ensemble scenarios to be covered through workflows described above:
https://docs.google.com/spreadsheets/d/1x_Rj5xczANznVRJBaMrU0Wkhy-z-uWasrS4bzkQ7s3c/edit?ts=5f882aa5#gid=0

[2020-10-31 08:10] Mister5ive commented on #756
Sorry to reply so late.

 I reproduce this issue in test environment by using locust,and attached  code is my test script. In the script, kk is the URL of 10000 test images that Include GIF, JPG and PNG formats. Running the test scripts by

locust -f test.py

[test.py.zip](https://github.com/pytorch/serve/files/5468745/test.py.zip)
As shown in the picture， QPS up to 100+.
![image](https://user-ima

[2020-11-01 13:38] mightyroy opened #766 "Ubuntu 20.04: Error: Could not find or load main class org.pytorch.serve.ModelServer"
Installed torchserve with `pip install torchserve`

When I run the following example code:
[code]
I got the following error:
[code]

It seems like a recurring error reported several times in the past, with conda environment and in windows. I'm using Ubuntu 20.04. How can I fix the class path to solve the error?

[2020-11-01 13:41] harshbafna commented on #766
@mightyroy: Please share the environment details as per the bug report template.

[2020-11-01 13:50] mightyroy commented on #766
## Context
 Cannot start torchserve.

* torchserve version: TorchServe Version is 0.2.0
* torch version: 1.6.0
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: openjdk 11.0.9 2020-10-20
OpenJDK Runtime Environment (build 11.0.9+11-Ubuntu-0ubuntu1.20.04)
OpenJDK 64-Bit Server VM (build 11.0.9+11-Ubuntu-0ubuntu1.20.04, mixed mode, sharing)

[2020-11-01 14:31] mightyroy commented on #766
I managed to fix it!!!
In the main torchserve folder, run the following to commands:
[code]
Then torchserve starts nicely with:
`torchserve --start --ncs --model-store model_store --models densenet161.mar`

[2020-11-01 14:32] #766 closed

[2020-11-02 03:32] jeremiahschung opened #767 "Error running benchmark.py with the "--all" flag"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.2.0
* torch version: 1.7.0
* torchvision version [if any]: 0.8.1
* Operating System and version: Ubuntu18.04

## Your Environment

* Installed using source? [yes/no]:no
* Are you planning to deploy it using docker container? [ye

[2020-11-02 17:04] alvarobartt commented on #761
Hi @chauhang, I included the Waveglow requirements into the `create_mar.sh` file as you can see at: https://github.com/alvarobartt/serve/commit/0bbe4bfcc18fec498950f44feeec5105b60fb958, should I instead create a `requirements.txt` file and then `pip install -r requirements.txt` or is it ok to leave it just like that? Thank you! 👍🏻

[2020-11-02 18:06] cbasavaraj opened #769 "JSON dumps slow"
Hi, I'm trying to serve a detectron2 model. In fact, got it to work by more or less following the example posted here https://github.com/facebookresearch/detectron2/issues/1289
While it works fine for returning boxes + classes + scores, json.dumps is too slow for returning segmentation masks, which are per detection binary masks, each as big as the image resolution (720x1280 in my case). I could p

[2020-11-03 04:38] harshbafna commented on #761
@alvarobartt: Yes, please move the python packages to a `requirements.txt` file and include it as part of `torch-model-archiver` command instead of adding a pip install command. This way user will not require to install the custom python packages on the server manually while deploying the model on TorchServe. TorchServe automatically installs the packages specified in the requirements.txt file in

[2020-11-03 08:16] alvarobartt commented on #761
Hi @harshbafna, thanks for the tips! Honestly I was not aware of that feature regarding the `torch-model-archiver` package. I'll update this ASAP 👍🏻

[2020-11-03 08:19] alvarobartt commented on #769
Just as a side note that may not answer your question but can be useful is that developers are already working on the gRPC support for TorchServe, you can find more details at https://github.com/pytorch/serve/pull/687

[2020-11-03 12:06] cbasavaraj commented on #769
I've kinda fixed this using `orjson` instead of the standard `json` module. This alone reduced overall prediction time from 650 ms to 150 ms. I then used RLE instead of binary masks. This brought down pred time marginally to 120 ms.

[2020-11-03 12:39] #769 closed

[2020-11-03 14:57] cbasavaraj opened #771 "DiskAvailable: Possible memory leak?"
Hi, I'm new to TorchServe, started only yesterday, but since then I've noticed that it's consuming space on my hard disk quite rapidly. Please see two screenshots attached, two hours apart, and I wasn't even running TS all the time.

## Context
* torchserve version: 0.2.0
* torch version: 1.6.0
* torchvision version [if any]: 0.7.0
* torchtext version [if any]: --
* torchaudio version [if any]: --

[2020-11-03 15:21] harshbafna commented on #771
@cbasavaraj: TorchServe will only consume disk space for the following:

 - Model temp dir: temporary location where model-archive is extracted
 - Model store: Where model-archives are stored (downloaded in case a public URL is specified)
 - Logs:
   - System metrics are logged every minute by default
   - API access logs
   - Server logs
   - Model metrics

Assuming you have only one model regist

[2020-11-03 17:54] cbasavaraj commented on #771
Found the problem! Like you said, it's the `/tmp/models` directory which is causing the problem. As I've been experimenting / prototyping, I've stopped and started TorchServe many many times, and turns out that all the extracted models are retained. It's 15.1 GB now (that's 30 times x a 500 MB model). Apart from clearing `/tmp/models` manually, is there anything we could do differently with TorchS

[2020-11-04 04:22] harshbafna commented on #771
@cbasavaraj: Thanks for confirming the root cause of the problem. The model temp directory is cleaned whenever a model is unregistered. As part of windows native support, we now unregister every model while [stopping TorchServe](https://github.com/pytorch/serve/pull/662/files#diff-45f9e03a9d3046ef0e2c18e18b0bb9c1889f9e3ff9918568870539cc926e3895R391). So this issue will get fixed with the next rele

[2020-11-04 09:46] cbasavaraj commented on #771
Thanks. Not sure what "windows native support" means though, does it apply to Ubuntu or Linux in general as well?
And a couple of other general questions:
a) Why is Java being used as opposed to C++? Just curious.
b) What do you think of nvidia's Triton Inference Server. They seem to be a bit more advanced than TorchServe? I hope TorchServe will be great, because in general I'm happy with PyTorch

[2020-11-04 11:49] alvarobartt commented on #761
Already updated #762 🤗 @harshbafna @chauhang

[2020-11-04 12:27] abishekchiffon opened #772 "Torch handler Unit test : AttributeError: 'bytes' object has no attribute 'metrics'"
## Context
The handler unit tests in the ts/torch_handler folder fails in the master branch.
It fails with the following error "AttributeError: 'bytes' object has no attribute 'metrics'" in the base_handler handle function at the line.
[metrics = self.context.metrics](https://github.com/pytorch/serve/blob/878d2480c11983cd44505057c8edba240ed6324a/ts/torch_handler/base_handler.py#L128), when you run

[2020-11-04 12:42] abishekchiffon opened #773 "Torch handler Unit test : AssertionError for test_object_detector.py"
## Context
The handler unit tests in the ts/torch_handler folder fails in the master branch.
As you run ".[/run_unit_test.sh](https://github.com/pytorch/serve/blob/master/ts/torch_handler/unit_tests/run_unit_tests.sh)" , it fails with the following error

[code]

 in the [test_object_detector.py](https://github.com/pytorch/serve/blob/878d2480c11983cd44505057c8edba240ed6324a/ts/torch_handler/unit_t

[2020-11-05 04:45] harshbafna opened #776 "Add support for secure communication over gRPC"
## Is your feature request related to a problem? Please describe.
The current [implementation of gRPC](https://github.com/pytorch/serve/pull/687) doesn't support communication over a secure channel.

## Describe the solution
Add support for starting gRPC secure mode.

[2020-11-05 11:10] enjoykcc456 commented on #769
Hi @cbasavaraj , do you mind sharing how you used RLE instead of binary masks? I am new to this, the model i tested was mask_rcnn_R_50_FPN_3x and it only returns pred_masks. Did you convert the masks to RLE? Thanks in advance.

[2020-11-05 12:46] harshitmalik03 commented on #81
Hey can u help me with this one ?

[2020-11-05 14:36] cbasavaraj commented on #769
Just need to use pycoco for RLE. Further need to convert the counts field to string datatype, else you get an error when you encode as json for returning from TorchServe.
[code]

[2020-11-05 15:47] harshbafna commented on #771
@cbasavaraj:

We are adding support for running TorchServe on the windows box. In the last release, TorchServe was certified on WSL on windows.

The said changes are generic and will apply to all the OS.

The project was derived from the [Multi-Model Server (MMS)](https://github.com/awslabs/multi-model-server)

There is a lot of difference between the way TorchServe and Triton host models and run

[2020-11-05 17:51] #755 closed

[2020-11-06 01:50] enjoykcc456 commented on #769
Thanks @cbasavaraj , it is working now.

[2020-11-06 19:32] #772 closed

[2020-11-07 00:03] #773 closed

[2020-11-08 16:00] veronikayurchuk opened #777 "Question about batch support using custom handlers"
Hi!
I feel like I am missing something.
Could you please help me to understand how can I benefit from batch support using custom handlers?

Currently, I have a custom handler that accepts 8 ordered images from a request and returns a list of one dictionary (as required to make TS work). As an intermediate step, it preprocesses images and forms a tensor of shape [8, 3, H, W] to send it to the model

[2020-11-09 12:29] cbasavaraj commented on #771
Thanks for all the responses. I have one more question related to workers. In order to economise on GPU memory usage, is it possible to load a given model only once, and make it usable by multiple workers? If this is possible, it'll be much easier to scale up. Thanks

[2020-11-09 13:40] harshbafna commented on #771
As per the current framework, each model worker is a process and there is no possible way to share the model(s) across these processes. We are currently evaluating various options to optimize the memory usage of model workers. We are tracking this through #733.

[2020-11-10 03:18] yuanyuangoo opened #779 "Hi, any suggestion on how to serve yolov5 on torchserve ?"
## Is your feature request related to a problem? Please describe.

I'd like to serve yolov5 model, but there is no template in the example.
## Describe the solution

serve model from https://github.com/ultralytics/yolov5/

## Describe alternatives solution

[2020-11-10 03:56] dhaniram-kshirsagar commented on #779
@yuanyuangoo You can use the following hints to deploy this model -

1. create torchscripted model using following from yolo repo. -
https://github.com/ultralytics/yolov5/issues/251

2. Create a custom handler -
https://github.com/ultralytics/yolov5/issues/36
https://github.com/pytorch/serve/blob/v0.2.0/docs/custom_service.md

3. Create torchscripted model MAR file -
https://github.com/pytorch/ser

[2020-11-10 14:28] skat00sh opened #780 "[Suggestion] Loading torch-model-archiver arguments from YAML"
## Is your feature request related to a problem? Please describe.

`torch-model-archiver` takes in a lot of params that makes it a hefty command line argument
## Describe the solution

Allowing all the param values to be parsed from a YAML file when `torch-model-archiver` is used with a `--yaml` flag.
It will also help automating creation of multiple `.mar` from different configurations.
## Descri

[2020-11-10 14:40] harshbafna commented on #716
Closing as the query has been answered.

[2020-11-10 14:40] #716 closed

[2020-11-10 14:42] harshbafna commented on #745
Closing as the query has been answered.

[2020-11-10 14:42] #745 closed

[2020-11-10 14:44] harshbafna commented on #213
Closing due to no activity.

[2020-11-10 14:44] #213 closed

[2020-11-11 14:43] punshriv commented on #734
@harshbafna I am also facing the same issue. Issue occurs when doing batched inference , Also the issue is intermittent but is reproducible in 1/5 times whenever i try sending any concurrent requests. Please let me know if you need any logs or the code to reproduce this.

    2020-11-11 14:21:25,783 [ERROR] epollEventLoopGroup-5-7 org.pytorch.serve.wlm.WorkerThread - Unknown exception
    io.netty

[2020-11-12 14:04] alvarobartt commented on #668
Hi! I'm also interested on the `curl http://localhost:8080/ping` behavior when returning either "Healthy" or "Unhealthy", as sometimes I got the "Unhealthy" response, but I didn't figure out what does it really mean... 😩

A simple explanation over that would be really useful! 👍🏻 @dhaniram-kshirsagar @harshbafna

[2020-11-13 06:44] rishabh1212 opened #782 "Default Netty thread in configuration.md is different from ConfigManager.java"
## 📚 Documentation

I want to make a pull request for this, but I am not able to push to `pytorch/serve`
* `number_of_netty_threads`: Number frontend netty thread. This specifies the numer of threads in the child [EventLoopGroup](https://livebook.manning.com/book/netty-in-action/chapter-8) of the frontend netty server. This group provides EventLoops for processing Netty Channel events (namely infe

[2020-11-17 17:49] #611 closed

[2020-11-18 05:28] opconty commented on #640
same problem

[2020-11-19 00:46] #753 closed

[2020-11-19 01:30] dhaniram-kshirsagar opened #787 "Fix broken or dead links in docs"
The link checker for md files is showing the following problem -

ERROR: 1 dead links found!
[âœ–] tsutils.py.py â†’ Status: 400
##Broken links in file: scripts/Readme.md

ERROR: 1 dead links found!
[âœ–] https://torchserve-regression-test-gpu.s3.amazonaws.com/public/TS-NIGHTLY-REGRESSION-2020-07-10/tmp/test_exec.log â†’ Status: 403
##Broken links in file: test/README.md

ERROR: 6 dead links found

[2020-11-19 02:20] #582 closed

[2020-11-19 08:29] Aldo-Aditiya opened #789 "Worker Died in load_model inside model_service_worker.py"
## Context
* torchserve version: 0.2.0
* torch version:1.6.0
* torchvision version [if any]:0.7.0
* java version: installed from main readme
* Operating System and version: ubuntu 20.04

## Your Environment
* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: yes (I deployed it in docker)
* Is it a CPU or GPU environment?: GPU
* Using a default/

[2020-11-19 11:13] Aldo-Aditiya commented on #789
It seems the problem has been resolved. Turns out I didn't implement the right handler to be directed to torchserve. If anyone is having the same problem, I suggest you look at these:

https://towardsdatascience.com/deploy-models-and-create-custom-handlers-in-torchserve-fc2d048fbe91

https://github.com/pytorch/serve/issues/779

[2020-11-19 11:13] #789 closed

[2020-11-19 16:22] fortunto2 opened #790 "feature_extractor for Resnet"
Hi,
can you help me please create feature_extractor handler for ResNet152(or other)?
[code]

try this change,
change import only model
to `from model import ResNetFeatures`

[code]

or in model.py ? from https://github.com/pytorch/vision/issues/2200#issuecomment-629229991

[code]

get
[code]

[2020-11-19 18:04] dhaniram-kshirsagar commented on #790
You don't have to refer to your model class explicitly. The way to do that is as follows -
Look at this https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L48

Taken from above file
[code]

Once the model is loaded i.e. post line number https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L58

You have to add your specific piece of code i.e. in y

[2020-11-19 19:55] fortunto2 commented on #790
Coll, thank you!

write like this
[code]

[2020-11-19 19:58] #790 closed

[2020-11-19 21:08] #640 closed

[2020-11-20 03:13] dhaniram-kshirsagar commented on #779
Closing as there is no response on this.

[2020-11-20 03:13] #779 closed

[2020-11-20 04:29] misrasaurabh1 opened #792 "Pytorch website Docs link broken"
If you go to https://pytorch.org/ecosystem/ and then click on Docs on the topbar and select TorchServe it leads to a deadlink
![image](https://user-images.githubusercontent.com/1271289/99758082-aa4bd900-2aa5-11eb-8c25-dab9eda87435.png)

The link it tries to take us to is https://pytorch.org/ecosystem/serve which is dead.

[2020-11-20 05:08] misrasaurabh1 commented on #771
@harshbafna The reply https://github.com/pytorch/serve/issues/771#issuecomment-722461177 should be added to a FAQ. I learnt a lot about the design choices through this comment

[2020-11-22 23:51] anustupc commented on #355
I am using the latest files from Torchserve for the image segmenter when I use the -o flag and try to save the output as a jpg file, it does not seem to be a valid image file. I suspect that it is still writing out the labels. Can you tell me how to write it out as an image file esp. for applications like segmentation/style transfer ?

[2020-11-23 04:48] dhaniram-kshirsagar commented on #355
@anustupc In the last release, the implementation has changed and now we don't return the image anymore. You will have to write your custom handler for post-processing to return the image instead of labels. You may refer to the old version of image_segmenter.py handler for this post-processing.

[2020-11-23 08:13] punshriv commented on #734
@harshbafna can you please provide an update on this one ? This is stopping us from using torchserve

[2020-11-23 08:15] giranntu opened #794 "Text to speeh synthesizer create_mar.sh running failed"
create_mar.sh in the example of Text to speeh synthesizer

I have been found the right way to download the model in the new API.

[code]

[2020-11-23 08:30] harshbafna commented on #794
There is a PR already in place for this and will be soon merged to master:

https://github.com/pytorch/serve/pull/762

[2020-11-23 08:46] harshbafna commented on #734
@punshriv: I have been running busy with the next release activities and haven't been able to spend much time on this. Also, we couldn't reproduce this at our end due to the lack of user models. It would be great if you could share your model's mar file.

There is another open PR from @jettify which fixes a small socket communication-related issue between frontend and model-workers. Could try this

[2020-11-23 09:30] punshriv commented on #734
@harshbafna sure thanks will will try with PR 765 and also provide the mar file soon

[2020-11-23 18:24] chauhang opened #796 "Install from source not working"
Install from source is not working on a brand new ubuntu 18.04 machine.

Steps to reproduce:

1. Install openjdk
2. Install python 3.7
3. Run python ./scripts/install_from_src.py
[code]

[2020-11-23 19:35] maaquib commented on #796
Update instructions too since install from source now requires both Python and Pip

[2020-11-23 19:36] chauhang opened #797 "test scripts failing after native windows code merge"
The development install and tests scripts are broken after the recent Native windows PR code merge changes.

Following are not working:
1. Install from source on fresh machine (#796)
2. Test script for model archiver
3. Test script for TorchServe
4. Test script for sanity tests
5. Tests for API

## Detailed error logs

`python ./scripts/test_modelarchiver.py`

`python ./scripts/test_torchserve.py`

[2020-11-23 20:13] maaquib commented on #796
`torchserve_sanity.py` run issue on a fresh EC2 CPU instance. Requires updates to requirements file and install from source instructions
[code]

[2020-11-23 20:16] maaquib commented on #797
@chauhang This seems to be working after following install steps from https://github.com/pytorch/serve/issues/796#issuecomment-732400784

[2020-11-24 07:04] punshriv commented on #734
@harshbafna
Tested on the latest master with the changes of PR 765 , still the issue is occurring , testing the model at 100 req/sec ( Issue only occurs in batched inference )

Model settings:

GPU - NVIDIA T4

MAR File - distilbert-base-uncased-distilled-squad-reader-3.0.mar
Link - https://drive.google.com/file/d/1qCnPrtqUoqlFT8Vb39PaXVNnF7ygJnBU/view?usp=sharing

You would need this additional d

[2020-11-24 18:37] BryanWBear commented on #390
Is there a more recent example? The SentenceTransformer model files are different now so creating the mar does not work anymore.

[2020-11-24 20:45] chauhang commented on #767
@jeremiahschung Please resolve the merge conflicts

[2020-11-24 21:31] chauhang commented on #740
@harshbafna What is the additional work remaining for this issue?

[2020-11-25 05:43] BryanWBear commented on #390
I modified the original example to work for the new files and dockerized it. Hope this helps!
https://github.com/BryanWBear/sentence-transformers-torchserve

[2020-11-25 07:33] #761 closed

[2020-11-25 07:33] #794 closed

[2020-11-25 08:02] harshbafna commented on #740
@chauhang: We currently only support CUDA GPU hardwares and it is hard-coded in certain sections of code and test suites. This issue has been logged to enhance this to a more generic solution and will be taken up in future releases.

[2020-11-25 08:06] harshbafna opened #799 "Add config flag to enable gRPC/REST/both APIs in TorchServe"
## Is your feature request related to a problem? Please describe.
Currently, TorchServe starts both gRPC and REST APIs. This should be controlled using a config flag taking `gRPC/REST/both` as input and default to `both` which will enable both the APIs in default deployment.

## Describe the solution
Add config flag to enable gRPC/REST/both APIs in TorchServe

## Describe alternatives solution
NA

[2020-11-25 09:48] skat00sh commented on #780
@dhaniram-kshirsagar @harshbafna Any thoughts on this?

[2020-11-25 11:22] #726 closed

[2020-11-25 11:54] harshbafna commented on #718
Closing as this has been merged to master.

[2020-11-25 11:54] #718 closed

[2020-11-25 12:01] harshbafna commented on #771
Closing this as the fix related to model temp dir is merged to master.

[2020-11-25 12:01] #771 closed

[2020-11-25 16:31] abishekchiffon opened #800 "Torchserve_sanity script fails for MNIST models"
## Context
python torchserve_sanity.py fails for MNIST models in the gradle build inside a conda environment of a fresh ubuntu instance.
torchserve==0.2.0
torch-model-archiver==0.2.0

Python version: 3.8 (64-bit runtime)
Python executable: /home/ubuntu/anaconda3/envs/fbserve/bin/python3

Versions of relevant python libraries:
numpy==1.19.2
torch==1.4.0

Java Version:
openjdk 11.0.5 2019-10-15
Open

[2020-11-25 18:19] #796 closed

[2020-11-25 19:58] maaquib opened #801 "Documentaion and sanity testing issues"
* Running `python ./ts_scripts/install_from_src.py && python ./torchserve_sanity.py` on a fresh EC2 instance (Ubuntu 18.04) throws exception due to missing dependencies not installed in `install_from_src.py`

[code]

* We should verify that the versions of Java, Python and Pip are correct before running `ts_scripts/install_from_src.py`

* Looking at the [readme](https://github.com/pytorch/serve/#i

[2020-11-25 20:02] chauhang commented on #797
@maaquib @dhaniram-kshirsagar Tests are still failing at different places on different machines after the merge of #798

### CPU logs (ubuntu 18.04)
[test-frontend-cpu-hung-after-79pc.log](https://github.com/pytorch/serve/files/5599012/test-frontend-cpu-hung-after-79pc.log)

### GPU Logs (ubuntu 18_04)
[test-frontend-gpu.log](https://github.com/pytorch/serve/files/5598880/test-frontend-gpu.log)
##

[2020-11-25 20:03] chauhang commented on #801
Additionally please see: https://github.com/pytorch/serve/issues/797#issuecomment-733920793

[2020-11-25 20:11] chauhang opened #802 "Proper dev/test environment instructions"
Please add proper documented steps for Contributors for setting up development environment and how to run the tests for the different components:

1. Steps for development environment setup including all the dev/test environment dependencies for running the tests (eg pytest)
2. Steps for install from source, that work properly on reinstalling from source as well
3. Steps for running the tests for:

[2020-11-25 20:18] chauhang commented on #797
test_torchserve.py is still failing even after manually installing pytest and pylint on CPU (ubuntu 18.04)

`ubuntu@ip-172-31-40-192:/serve$ pip freeze| grep py
numpy==1.19.4
py==1.9.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pygobject==3.26.1
**pylint==2.6.0**
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
**pytest==6.1.2**
python-apt==1.6.5+ubuntu0.3
python-debian==0.1.32
pyxdg==0.2

[2020-11-25 20:37] chauhang opened #803 "Add troubleshooting steps for AKS"
## 📚 Documentation
For the Kubernetes install on AKS, add troubleshooting steps for different scenarios, similar to the steps in case of EKS

[2020-11-25 20:54] chauhang opened #804 "Pip install support for windows"
Publish the wheel files for pip install for native windows. Current [Native windows install steps](https://github.com/pytorch/serve/blob/master/docs/torchserve_on_win_native.md#install-from-binaries) ask user's to create the files and install

[2020-11-25 21:02] chauhang commented on #436
@htappen This should be resolved with the merge of PR #749 Please run the tests on GCAIP side

[2020-11-25 21:29] #94 closed

[2020-11-26 00:02] #616 closed

[2020-11-26 04:20] anustupc opened #805 "Passing multiple(variable) input images to the handler via curl"
Hello,

I am trying to pass multiple images using a custom handler that I build. I understand that in order to pass a single image during inference I have to give the command as follows: curl localhost:8080/predictions/<model> -F "data=@image1.jpg"

On looking online, I found that in order to give multiple images, I need to give it as an array as follows: curl localhost:8080/predictions/<model> -F

[2020-11-26 04:25] anustupc commented on #777
Hi @veronikayurchuk
I just filed a new issue #805 where I need to pass a variable number of images to a custom handler. It looks like you have some success doing that.

If I do: curl localhost:8080/predictions/ -F "data[]=@image1.jpg" -F "data[]=@image2.jpg"
the dictionary containing the data just has a single key with the name as data[] (containing information of image2.jpg) instead of it being a

[2020-11-26 05:19] harshbafna commented on #800
@abishekchiffon: Looking at the logs, the unregister API call for MNIST model responded with `408 HTTP status` which means the server was overloaded.

Could you share the machine configuration on which you tested this?

[2020-11-26 05:29] harshbafna commented on #805
@anustupc: Please refer to the following comment :

https://github.com/pytorch/serve/issues/529#issuecomment-658012913

[2020-11-26 06:36] anustupc commented on #805
Hi @harshbafna ,
Thanks for your reply. I understand that it can be done by giving a different key value for each image. I was wondering if it is possible to pass everything as elements of one list. If not, the solution as stated right now should work for me (for now).

[2020-11-26 07:36] abishekchiffon commented on #800
I tested it on a t2.xlarge ec2 instance - 4cpus and 16GB RAM. The same happens in my local system, which are also of the same configuration.

[2020-11-26 11:06] harshbafna commented on #805
@anustupc

you could use the -d flag of curl command as follows:
[code]

[2020-11-26 14:53] OmriPi opened #806 "Torchserve fails to load Transformers model, Worker died error"
Hi,
I am trying to deploy a trained Transformers BertForSequenceClassification model using torchserve.
When starting the server I keep getting "Worker died" error and the model isn't getting loaded.
I have tried following all examples of torchserve I could find to the letter, but still the model will not load, no matter what changes I make. The problem is I don't even know how to debug torchserve

[2020-11-26 15:09] harshbafna commented on #806
@OmriPi: I am assuming you have installed `TorchServe` from the source.

[2020-11-26 15:16] harshbafna commented on #806
@OmriPi: `TorchServe` expects only once class in the handler file

[code]

Please refactor your custom handler and move `InputFeatures` class to some other file.

[2020-11-26 16:14] OmriPi commented on #806
@harshbafna Thank you!

I have moved the InputFeatures class into a separate file and included it in the --extra-files flag.
After that I got a new error saying the tokenizer's "vocab.txt" file is missing so went ahead and added the tokenizer configuration files. Works like a charm now!
Thanks so much!

[2020-11-26 16:25] #806 closed

[2020-11-26 17:41] dhaniram-kshirsagar commented on #801
@maaquib Could you please share logs for this. Assuming these are not EC2 DLAMI instances.
NOTE Our observation, on **non**-DLAMI nodes, the python site-packages are not accessible and hence our dependencies gets installed under `~/.local/...`.

[2020-11-26 17:51] dhaniram-kshirsagar commented on #797
@chauhang Only install_from_src.py should be executed from ts_scripts folder. However, I understood, why somebody may try to directly execute other scripts in that folder and end up with this kind of issue i.e. Along with install_from_src.py other scripts are also self-executable i.e. they have main in it.
I will fix this so that only install_from_src.py and install_dependencies.py can be executed

[2020-11-26 17:54] dhaniram-kshirsagar commented on #801
Commented on #797

[2020-11-28 17:29] duckroll opened #811 "Failing to serve model"
Im trying to serve model on Windows but get this error.  I am able to serve same model on Linux.

Conda version: conda 4.9.2
Pytorch version: 1.7.0+cu101
Cuda version: Cuda compilation tools, release 10.1, V10.1.243
TorchServe sersion: 0.2.0

[code]

[2020-11-28 19:36] duckroll commented on #811
Oops, I didnt install detectron2.

[2020-11-28 19:36] #811 closed

[2020-11-29 00:28] vhlmbrg opened #812 "Model not found"
I stumbled upon very frustrating error. I do everything according to manual AND I am able to run same code on another machine.
First, I archive my model:

`torch-model-archiver --model-name mymodel --version 1.0 --serialized-file retinanet_R_101_FPN_3x.pth --extra-files retinanet_R_101_FPN_3x.yaml --handler detectron2-handler.py -f`

Then I serve it:

`torchserve --start --model-store model-store

[2020-11-29 01:53] vhlmbrg commented on #812
I messed up syntax.

[2020-11-29 01:53] #812 closed

[2020-11-29 09:39] xiaoFine commented on #751
I had the exact same problem with the latest dockerfile in master branch.
The apt libraries mentioned by @veronikayurchuk is essential but not enough. When i added up those libs, torch server log something like :
[code]
so i had to append libsm.so.
Here is my final Dockerfile that works properly：
[code]

[2020-11-29 11:48] vhlmbrg opened #813 "I am getting this error trying to follow model serve quick start"
[code]

[2020-11-29 13:03] vhlmbrg commented on #813
I fixed it by making new conda env and downgrading to Cuda 11.0 from Cuda 11.1. Not sure what the problem was exactly.

[2020-11-29 13:03] #813 closed

[2020-11-30 06:34] gunandrose4u commented on #803
Working on it

[2020-11-30 08:21] vdantu opened #815 "Archive the full directory"
Currently there isn't a mechanism to archive the directories. Also, the `--extra-file` option in the archiver tool doesn't hold onto the relative path. This feature is required when we have multiple source/auxiliary files associated with a model.

## Context

* torchserve version: 0.2.0
* torch version: N.A.

## Expected Behavior

## Current Behavior

## Possible Solution
https://github.com/pytorc

[2020-11-30 17:35] abishekchiffon commented on #800
@harshbafna  I ran the torchserve_sanity.py after python ts_scripts/install_from_src.py on a c5n.9xlarge ec2 instance and I still get those Mnist errors.
I have attached the logs
[master_ec2_c5_sanity_fail.log](https://github.com/pytorch/serve/files/5617589/master_ec2_c5_sanity_fail.log)

[2020-11-30 19:44] jeremiahschung commented on #767
Merge conflict resolved in [PR 768](https://github.com/pytorch/serve/pull/768)

[2020-11-30 20:34] maaquib commented on #801
This was a barebones EC2 instance, not DL AMI

[2020-11-30 23:33] anustupc commented on #805
Thanks for your suggestion @harshbafna . I haven't really tested the -d option but I can make do with using multiple names with -F. I think we can close this for now and if need be reopen it later.

[2020-12-01 03:46] #805 closed

[2020-12-01 06:08] harshbafna commented on #800
@abishekchiffon: From the shared logs I observe the following error message:

[code]

You need to run the following command to install the required dependencies:

[code]

[2020-12-01 14:32] OmriPi commented on #806
After getting the model to work locally following the instructions of @harshbafna here (thanks!), I'm now facing a similar issue when trying to serve the model through the torchserve docker container. The command I use to run the docker container is:

`docker run --rm -it -p 8080:8080 -p 8081:8081 -v %cd%/model_store:/home/model-server/model-store pytorch/torchserve:latest torchserve --start --mod

[2020-12-01 15:12] dhaniram-kshirsagar commented on #806
Based on the following, looks like `transformers` package is missing in docker -
`No module named 'transformers'`

[2020-12-01 15:15] OmriPi commented on #806
@dhaniram-kshirsagar
That is strange, I thought all required files are included in the archived model... I am using the official torchserve docker image, does it make sense that I have to edit it for every package I want to include?

[2020-12-01 22:50] #767 closed

[2020-12-02 03:11] rishabh1212 opened #821 "Dockerfile with nvidia/cuda:10.2-cudnn7-runtime-ubuntu18.04 gives ascii codec error"
## Context
- When executing python script while opening file in read mode containing non-ascii chars give
[code]
- This was fixed by https://github.com/pytorch/text/issues/77, this happens due to python 3.6
[code]

* torch version: 1.7.0+cpu
* torchvision version [if any]: 0.8.1+cpu
* torchtext version [if any]: 0.8.0
* java version:
* Operating System and version:

## Your Environment

* Installe

[2020-12-02 03:36] rishabh1212 commented on #821
Also, I want to be a contributor, but I get access denied when I try to create a pull request.

[2020-12-02 04:33] dhaniram-kshirsagar commented on #821
You will have to fork this repo and make changes to that. Once it's ready you can rebase it to base repo's master.

[2020-12-02 11:01] punshriv commented on #734
@harshbafna did you get a chance to look into this ?

[2020-12-02 12:22] shyoulala opened #822 "How to fix this problem"
When I run the official example,I've got this problem,Does anyone have the same problem as Me?How can I solve it? thank you!

[2020-12-02 12:22] shyoulala commented on #822
![image](https://user-images.githubusercontent.com/23413415/100871992-17b32d00-34dc-11eb-835e-8d4249ced162.png)

[2020-12-02 12:41] harshbafna commented on #822
@shyoulala: I see the model name as `my_tc`. AFAIK this is from the text classification example and will take a text as input and you are supplying an image as input.

Could you please confirm?

[2020-12-02 12:53] shyoulala commented on #822
Here are my operational details:
0.clone the TorchServe repository and pip install torchserve torch-model-archiver (The Java condition has been met)
unzip the code and cd it.
1.wget https://download.pytorch.org/models/densenet161-8d451a50.pth
2,mkdir model_store
3.torch-model-archiver --model-name densenet161 --version 1.0 --model-file ./serve/examples/image_classifier/densenet_161/model.py --seri

[2020-12-02 12:54] shyoulala commented on #822
thank you for your reply,I'm sure that's the official example of the image classification

[2020-12-02 13:04] harshbafna commented on #822
Thanks for confirming and sharing the steps followed. Please and share the `ts_log.log` file from the logs directory

[2020-12-02 13:07] shyoulala commented on #822
(base) root@ubuntu:/home/sayoulala/torch_server_study/logs# cat ts_log.log
2020-12-03 00:52:35,860 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.2.1
TS Home: /home/sayoulala/anaconda3/lib/python3.8/site-packages
Current directory: /home/sayoulala/torch_server_study
Temp directory: /tmp
Number of GPUs: 0
Number of CPUs: 8
Max heap size: 1968 M
Python executable: /home/sayoulala

[2020-12-02 13:08] shyoulala commented on #822
this is my log file,This looks like a long log, because I started and stopped multiple times

[2020-12-02 13:16] harshbafna commented on #822
@shyoulala: Looking at the logs, the server has been started thrice and always stopped after the model was loaded. There are no logs of any inference request.

Please attach the other log files from the log directory.

[2020-12-02 13:22] shyoulala commented on #822
Only ts_metrics.log has some info.Server stopped  thrice because I used torchserver --stop .It looks like the server did not receive my command.But I did turn it on.here is some of  the ts_metrics.log :
2020-12-03 01:28:05,078 - MemoryAvailable.Megabytes:5346.53125|#Level:Host|#hostname:ubuntu,timestamp:1606930085
2020-12-03 01:28:05,078 - MemoryUsed.Megabytes:2224.58984375|#Level:Host|#hostname:u

[2020-12-02 13:29] harshbafna commented on #822
@shyoulala: Is there any proxy server and/or firewall running on your machine? Mostly it looks like the requests are not reaching the server and curl requests are getting timed out.

[2020-12-02 13:43] shyoulala commented on #822
The firewall has been turned off by me,no proxy.It's too sad.

[2020-12-02 14:09] harshbafna commented on #822
@shyoulala: Do you get the response back for the following command:

[code]

Also, share the output of the following commands:

[code]

[2020-12-02 14:18] shyoulala commented on #822
I can't connect to Google for some other reason,but I can connect to other website such as Baidu.
This agent is only for Internet use:
![image](https://user-images.githubusercontent.com/23413415/100884271-40dbb980-34ec-11eb-8a64-7376b2587a41.png)

[2020-12-02 14:19] shyoulala commented on #822
Thank you for your help for so long

[2020-12-02 14:59] harshbafna commented on #822
@shyoulala: Looking at the output of `env` and `set` commands the requests are going through some proxy server.

Are you able to get the response of the following curl command:

[code]

If no, then you need to check with your network administrator for bypassing the requests to TorchServe.

[2020-12-02 15:15] shyoulala commented on #822
wow!!!!!!! Thank you very much.I fix it:
![image](https://user-images.githubusercontent.com/23413415/100891410-31606e80-34f4-11eb-9998-24c135968073.png)

[2020-12-02 15:37] #822 closed

[2020-12-03 04:55] chauhang opened #824 "old scripts folder references in multiple places"
There are still references of the older "scripts" folder at multiple places in the code after the recent fix for https://github.com/pytorch/serve/issues/796  (install from source issue). Please resolve all references, you can check using this [query](https://github.com/pytorch/serve/search?q=%22.%2Fscripts%22)

[2020-12-03 04:57] chauhang commented on #797
@dhaniram-kshirsagar Please see https://github.com/pytorch/serve/issues/824 still many issues with older folder name that need to be resolved

[2020-12-03 07:31] YanglanWang opened #826 "Create TorchServe docker image from source failed"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* Operating System and version: Ubuntu 18.04.4 LTS

## Your Environment

* Installed using source? [yes/no]:yes
* Are you planning to deploy it using docker container? [yes/no]:yes
* Is it a CPU or GPU environment?:CPU
* Using a default/custom handler?

[2020-12-03 17:31] dhaniram-kshirsagar opened #828 "torchserve sanity is failing on windows native"
The latest changes related to torchserve-sdk UT step in torchserve_sanity.py is causing sanity script failure on windows native tested on windows server 2019 using codebuild.

## Failure Logs [if any]

2020/12/03 13:53:19 Running command cd serving-sdk/ && mvn clean install -q && cd ../

992 | At C:\codebuild\output\tmp\script.ps1:5 char:17
993 | + cd serving-sdk/ && mvn clean install -q && cd ../

[2020-12-03 22:49] lxning opened #829 "docker image build failure"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
master
* torch version:
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and version:

## Your Environment

* Installed using source? [yes/no]:
* Are y

[2020-12-04 02:49] xiaoFine opened #830 "Worker thread failed to connect in kubernetes"
## Context

* torchserve version: 0.2.0
* torch version: 1.7.0+cu101
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: 11
* Operating System and version: ubuntu16.04

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker container? [yes/no]: yes
* Is it a CPU or GPU environment?: gpu
* Usi

[2020-12-04 06:28] HamidShojanazeri opened #831 "Failing to install the Nvidia plugin on EKS"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.2.1
* torch version:1.6.0
* torchvision version [if any]:0.7.0
* Operating System and version:ubuntu 18.04

## Your Environment
* Installed using source? [yes/no]:no
* Are you planning to deploy it using docker container? [yes/n

[2020-12-04 07:14] jeremiahschung commented on #800
Potentially related:

I encountered a failure running the testPredictionMNISTTracedModel test failing with an HTTP 503 error. In my case, this was due to a CUDA version mismatch between the environment vs the torch package. Installing the correct torch version resolved the issue for me.

[code]

[2020-12-04 07:21] harshbafna commented on #800
@jeremiahschung : Please share the torch and torchvision version.

[2020-12-04 08:48] jagadeeshi2i commented on #831
Please use nvidia plugin version `0.7.1`.

[2020-12-04 11:39] jeremiahschung commented on #800
@harshbafna
Here are the logs I was able to repro with!

Note that the machine (g4dn.xlarge on the Ubuntu 18.04 deep learning AMI) has CUDA 11 installed.

The test failed when the torch version was 1.6.0+cu92. Also note that the install_dependencies script fails to fetch the correct torch version for cu110.
[fail_cuda_version_mismatch.txt](https://github.com/pytorch/serve/files/5642443/fail_cuda_v

[2020-12-04 13:18] harshbafna commented on #800
@jeremiahschung: Please correct me if I am wrong, CUDA 11.0 support is available with Torch 1.7.0 only and not with Torch 1.6.0. The current master and 0.2.0 release are certified with Torch 1.6.0 only.

[2020-12-04 18:44] jeremiahschung commented on #800
@harshbafna
Further looking into this, this looks like an issue with the PyTorch pip releases for torch 1.6.0. This still affects the current version of support and is not related to CUDA 11 or Torch 1.7 support.

Currently the command for installing torch 1.6.0 installs the binary for cu92 instead of cu102 which is an unexpected change in behavior.
[code]

I'll check with the PyTorch release team

[2020-12-04 19:01] #824 closed

[2020-12-04 19:01] #826 closed

[2020-12-04 19:01] #829 closed

[2020-12-04 19:26] maaquib commented on #800
@jeremiahschung Looking at the dependency [script](https://github.com/pytorch/serve/blob/master/ts_scripts/install_dependencies.py#L19) it seems we only support PT1.6 and CU10.1

[2020-12-04 20:19] maaquib commented on #800
DLAMI 37; CU10.1

[code]

Test FAILURE:
[test_sanity_cu101_dlami37.log](https://github.com/pytorch/serve/files/5645251/test_sanity_cu101_dlami37.log)

[2020-12-04 20:25] jeremiahschung commented on #800
The recommendation from the pytorch release eng team is to use one of the two options:
- Use the folder-specific FilePath: https://download.pytorch.org/whl/cu102/torch_stable.html
- Download Torch 1.6.0 from PyPI instead of pytorch.org (e.g. pip install torch==1.6.0)

[2020-12-05 00:58] chauhang opened #833 "Add environment check script for troubleshooting"
Add an environment checking script that prints version numbers of all the required software on the machine where torchserve is being installed/is running.

This is needed to help with troubleshooting of problems on different machines / environments. Scripts should print:

1. Name and version of all dependencies for runtime (eg Java, python, pytorch versions, pip versions of related packages, ...)

[2020-12-05 01:01] chauhang opened #834 "Add version check for python for install with source"
Install with source scripts fail on machines with python 2.x with a cryptic error message:

[code]

Add a version check in the install script and print helpful for the users to upgrade to python3 for running the scripts

[2020-12-05 01:45] chauhang opened #835 "Sanity tests not working on CPU machine"
After install from source, not able to run sanity tests on brand new ubuntu 18.04 cpu only machine (m3.large instance).

Please see the error below:

[2020-12-05 02:39] chauhang commented on #835
Also attempted to install on the machine using `python ts_scripts/install_dependencies.py --cuda=cu101` and then run the sanity tests again. Still the same error. Full logs below:

[cpu1804.log](https://github.com/pytorch/serve/files/5646373/cpu1804.log)

[2020-12-05 02:47] lxning commented on #835
I followed the [instruction](https://github.com/pytorch/serve#install-torchserve-for-development), and then run "python torchserve_sanity.py" on CPU. There was no issue.

Could you please check if nvgpu is installed after "python ./ts_scripts/install_dependencies.py"?

[2020-12-05 03:42] chauhang commented on #835
Problem was narrowed down to issue with python3 links changing. Following steps provided by @maaquib worked. Step#8 needs to be called again after install dependency on the fresh ubuntu 18.04 machines:

1. sudo apt-get update && sudo apt-get install -y python3 python3-pip
2. git clone https://github.com/pytorch/serve
3. cd serve
4. sudo ln -sf /usr/bin/python3 /usr/bin/python
5. sudo ln -sf /usr/b

[2020-12-05 03:43] jeffxtang commented on #835
I tested `python torchserve_sanity.py` on Windows 10 Pro with CPU, and got some other error (attached log). I installed the latest serve from source and can start the serve and get prediction from it using the commands [here](https://github.com/pytorch/serve#get-predictions-from-a-model).
[sanity_test_windows_log.txt](https://github.com/pytorch/serve/files/5646443/sanity_test_windows_log.txt)

[2020-12-05 06:10] jeffxtang commented on #835
Complete test log is attached below..
[sanity_log_win_full.txt.zip](https://github.com/pytorch/serve/files/5646581/sanity_log_win_full.txt.zip)

[2020-12-05 16:00] harshbafna commented on #835
@jeffxtang : You will need to run this as administrator on windows.

[2020-12-05 18:24] jeffxtang commented on #835
@harshbafna

From the Anaconda Powershell Prompt. where the sanity test script runs, I have this:
(base) PS C:\Users\Warrior\repos\serve> whoami
warrior\warrior

And from WIndows User Accounts, Warrior shows as Administator.

[2020-12-06 08:14] dhaniram-kshirsagar commented on #835
@jeffxtang Can you please test windows native using [PR#836 Windows native](https://github.com/pytorch/serve/blob/build_fixes/docs/torchserve_on_win_native.md). NOTE that earlier, torchserve was never tested on windows 10. This PR has some fixes [scripts + doc] for windows 10 pro.

[2020-12-06 20:03] jeffxtang commented on #835
@dhaniram-kshirsagar I grabbed PR 836 and did another test and still got the errors. Please see the attached log.
[sanity_log_win_full_pr836.txt](https://github.com/pytorch/serve/files/5649452/sanity_log_win_full_pr836.txt)

[2020-12-07 14:28] OmriPi opened #838 "Torchserve docker fails, runs locally"
After getting the model to work locally (i.e. running torchserve directly on my machine without using docker), I'm now facing an issue when trying to serve the model through the torchserve docker container. The command I use to run the docker container is:

`docker run --rm -it -p 8080:8080 -p 8081:8081 -v %cd%/model_store:/home/model-server/model-store pytorch/torchserve:latest torchserve --start

[2020-12-07 14:39] harshbafna commented on #838
@OmriPi: The docker image doesn't have the transformers package pre-installed. You can do the following to resolve this issue:

 - Install transformers in the docker container
 - Or set [`install_py_dep_per_model`](https://github.com/pytorch/serve/blob/master/docs/configuration.md#allow-model-specific-custom-python-packages) and supply the model-specific python packages in a requirements.txt file

[2020-12-07 14:56] punshriv commented on #734
@harshbafna I understand you are busy with the next release , but can you please provide some pointers around this , possible code changes / experimentation i can try at my end to speed up the process since i already have the setup ?

[2020-12-08 02:35] #831 closed

[2020-12-08 08:54] jeremiahschung opened #841 "torchserve_sanity.py fails on a Windows GPU machine"
The frontend unit tests in the torchserve_sanity.py script is failing on a Windows GPU machine.
Created a fresh Windows Server 2019 using the base AMI on an ec2 g4dn.xlarge instance.
Installed the CUDA 10.2 toolkit and followed the installation instructions here: https://github.com/pytorch/serve/blob/master/docs/torchserve_on_win_native.md

## Context

* torchserve version: Installed from source u

[2020-12-08 09:15] dotel-saramsz commented on #669
I tried all of the techniques suggested above but still could not get torchserve to download the model from s3 presigned url.
The presigned url I got is of the following format:

`https://<bucket-name>.s3.amazonaws.com/<object-name>?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=<some-credential>%2F<date_string>%2F<aws-region>%2F...`

When I send this url as part of the POST request to register

[2020-12-08 10:25] harshbafna commented on #669
@dotel-saramsz : Are you able to download the mar file with a simple curl/wget command using this pre-signed-URL?

[2020-12-08 10:34] dotel-saramsz commented on #669
Yes, I am able to download with a simple curl command using the pre-signed url

[2020-12-08 11:13] harshbafna commented on #734
@punshriv: I will be looking into this now. Could you share the sample input as well and model-server config.properties file (if any) for reproducing this?

As for the points from where this might be failing:
 - code for [predict response creation](https://github.com/pytorch/serve/blob/master/ts/protocol/otf_message_handler.py#L51) at the backend
 - The exception is getting thrown when the custom

[2020-12-08 14:03] OmriPi commented on #838
@harshbafna Thanks!
Could you please elaborate on how exactly do I go about the second option?
I have added a `requirements.txt` file containing only the line `transformers==3.4.0` and a `config.properties` file containing the lines:
[code]
I have not used the `config.properties` file before, so I'm not sure I'm doing it right.
I create the model archive using the following command:
`torch-model-a

[2020-12-08 15:27] harshbafna commented on #838
@OmriPi:

Your configuration looks fine. Also, the flag for installing the model-specific pip packages is properly initialized:

[code]

From the above logs, it seems that TorchServe was not able to load the handler module and ran into some `import` related issues. Could you please share the `handler` file?

I assume you have installed TorchServe from the source?

[2020-12-08 16:08] OmriPi commented on #838
@harshbafna Thanks for your reply!
I have installed TorchServe using pip, if that is what you mean by "from source".
Here's the strange thing though: I have changed nothing in the handler file, that same handler worked perfectly fine without adding the config and requirements files, so it sounds strange that would be the cause.
I'll add it here nonetheless, perhaps it could shed light on the probl

[2020-12-08 17:58] fbbradheintz opened #842 "Dependency installation failing on Mac"
## Context
Installation of dependencies by `ts_scripts/install_dependencies.py` fails when trying to install Node packages.
* torchserve version: current master
* java version: OpenJDK 11
* Operating System and version: macOS 10.15.7

## Environment
* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: no
* Is it a CPU or GPU environment?: CPU

#

[2020-12-08 17:58] fbbradheintz commented on #842
PR for this is incoming

[2020-12-08 18:01] #593 closed

[2020-12-08 18:45] #803 closed

[2020-12-08 22:57] #842 closed

[2020-12-09 03:42] maaquib opened #846 "Fix FairSeq regression tests"
FairSeq newman tests have started failing most likely due to in upstream dependency

Details at https://github.com/pytorch/serve/pull/845

[2020-12-09 03:48] harshbafna commented on #846
This should also cover the issue reported by @HamidShojanazeri [here](https://github.com/pytorch/serve/pull/592#issuecomment-741394822)

[2020-12-09 03:50] chauhang opened #847 "Log date and environment info in the regression test logs"
The regression tests in the "tests" folder should log the date on which test was run, along with full environment details to verify when and on which configuration the tests were run. You can start by simply adding output of `python -m torch.utils.collect_env` for the environment logging till we have proper sol implemented by #833

[2020-12-09 03:53] chauhang opened #848 "Regression tests "Latest logs" and "Test Logs by date" showing old logs"
The "Test Logs by date" on the [tests](https://github.com/pytorch/serve/tree/master/test) page are showing logs of very old date.

Same issue started coming for the main logs as well from the "Latest Test Logs : CPU / GPU / Windows" (all these logs are of Dec 3rd  with errors as below using the old .sh version of the scripts:

Please fix:

1. Verify the latest scripts (.py) version are being used

[2020-12-09 06:08] harshbafna commented on #834
This has been added as part of #836. Closing.

[2020-12-09 06:08] #834 closed

[2020-12-09 06:15] harshbafna commented on #835
@jeffxtang: From the shared logs it looks like the TorchServe failed to create a worker on port number `9012` and ran into following error:

[code]

Could you please check if the port is in use by some other process on your system? In case you face more issues on windows please add the details on #828

[2020-12-09 06:16] harshbafna commented on #835
Closing this as the issue related to install_dependency scripts has been fixed in #836 and merged to master. We will be tracking the windows related failures through #828 and #841

[2020-12-09 06:16] #835 closed

[2020-12-09 06:24] harshbafna commented on #800
Issues related to install_dependency on CPU and different CUDA environments has been fixed as part of #836.

Closing the issue.

[2020-12-09 06:24] #800 closed

[2020-12-09 06:25] harshbafna commented on #801
Documentation has been updated as part of #836. Closing.

[2020-12-09 06:25] #801 closed

[2020-12-09 06:26] harshbafna commented on #797
This has been fixed and corresponding documentation has been updated as part of #836. Closing.

[2020-12-09 06:26] #797 closed

[2020-12-09 06:35] harshbafna commented on #787
Changes covered in fix for #561

[2020-12-09 07:30] harshbafna commented on #838
@OmriPi: I don't see any problem with the handler. The only reason it could fail is if it couldn't find the transformers package.

Could you share the complete mar file, so that I can try reproducing and debug this error at my end?

[2020-12-09 11:16] Aldo-Aditiya opened #849 "Deploying Model with Custom handler, error in module = importlib.import_module(module_name)"
## Context

I'm trying to deploy a custom model, and I faced some bugs. Problem is, the ts_log doesn't seem to provide enough information

* torchserve version: 0.2.0
* torch version: 1.6.0
* torchvision version [if any]: 0.7.0
* java version: not sure (I used pytorch/torchserve latest, taken from 19th of November)
* Operating System and version: Ubuntu 20.04, running the serving on Docker

## You

[2020-12-09 13:51] abishekchiffon opened #850 "ModuleNotFoundError: No module named 'pygit2' on running install_from_src.py"
## Context
On running install_from_src,  I get the following error.
Traceback (most recent call last):
  File "ts_scripts/install_from_src.py", line 62, in <module>
    from pygit2 import Repository
ModuleNotFoundError: No module named 'pygit2'

* java version: openjdk 11.0.9.1
* Operating System and version: ubuntu  20.04
* This is run on ec2 t3xlarge instace with intel x64

## Your Environment

[2020-12-09 14:16] harshbafna commented on #850
@abishekchiffon : As per the updated instructions you need to run following command for installing dependencies in dev environment

[code]

Documentaion : https://github.com/pytorch/serve#install-torchserve-for-development

By default `install_dependencies.py` installs only production specific dependencies.

[2020-12-09 15:05] harshbafna commented on #849
@Aldo-Aditiya: Could you share the `mar` file for this model?

I am suspecting one of the following `import` statements are failing:
[code]

[2020-12-09 16:49] harshbafna commented on #850
Closing as per feedback from OP over slack.

[2020-12-09 16:49] #850 closed

[2020-12-10 03:11] OmriPi commented on #838
@harshbafna Here is a link to the mar file: http://www.mediafire.com/file/71eys2g8kxxk938/DocTag.mar/file
I do not think it fails because it couldn't find the transformers package, because I'm not even running this on docker, and the transformers package is installed locally. Previously before the addition of the requirements and config files, it DID run locally without any problem, using (I assum

[2020-12-10 03:20] jeffxtang commented on #835
I found that the permission error above was caused by my running the script actually not as Admin (forgot the right mouse click on Anaconda Powershell Prompt) even though I logged in as Admin. After I ran the sanity test script as Admin, the error above was gone but there's still 2 failed errors. I'll post the full log at #828.

[2020-12-10 03:22] jeffxtang commented on #828
Previous full logs were uploaded at #835. This is the new full log running as Admin on Windows CPU with 2 failed tests.
[sanity_log_win_admin.txt](https://github.com/pytorch/serve/files/5670066/sanity_log_win_admin.txt)

[2020-12-10 03:42] Aldo-Aditiya commented on #849
The MAR file is attached here:
https://drive.google.com/file/d/1M5E-a8_Y3IEqezyKsGKfcEEs9NtrQWwp/view?usp=sharing

[2020-12-10 05:01] Aldo-Aditiya commented on #849
After exploring my code a bit, I have a suspicion it's because I haven't installed "pycocotools" though I couldn't verify this until tomorrow.

But aside from that, do you have any suggestions to make errors from such missing imports more visible in the debug log? Something perhaps a bit more verbose than the one below?
[code]

[2020-12-10 05:28] harshbafna opened #854 "Add gRPC support for explain model API"
## Is your feature request related to a problem? Please describe.
The gRPC support added in #687 currently does not include the recently added support for  `captum` explanation APIs as part of #809

## Describe the solution
Add gRPC support for `explain` APIs

[2020-12-10 06:36] dhaniram-kshirsagar commented on #828
@jeffxtang Looking at the latest logs, it seems to be same issue `OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions` . Can you please refer troubleshooting section of the [windows native installation](https://github.com/pytorch/serve/blob/build_fixes/docs/torchserve_on_win_native.md) page and change backend port range from 9000 to 9500 [o

[2020-12-10 06:37] harshbafna commented on #849
The code has been refactored in the latest master and there have been some fixes related to logging as well.

[2020-12-10 06:43] Aldo-Aditiya commented on #849
I've tried installing "pycocotools" but it doesn't seem to solve it. I'll try using a newer version of the code to see if the new logging fix would help

[2020-12-10 10:59] harshbafna commented on #849
@Aldo-Aditiya: I checked your mar file and there are a bunch of import issues with your handler file. For e.g.,

 - Usage of undefined variables
 - Usage of undefined functions
 - Missing various import statements

Simply extract the mar file in a directory and load the directory in any Python IDE like PyCharm should help you see the errors in the handler.

You can always test your custom handler

[2020-12-10 11:40] Aldo-Aditiya commented on #849
Thank you, will do so - and will also note your suggestion to extract the mar file for debugging it.

As the problem seems to stem from my fault, I will close the issue for now. Many thanks!

[2020-12-10 11:40] #849 closed

[2020-12-10 12:14] harshbafna commented on #838
@OmriPi: I tested your mar file on my local set-up with the latest master and I am able to load the model with `install_py_dep_per_model` set to `true` as well as `false`.

Also, are you running this on Windows? The v0.2.0 release is only certified on Linux, Mac, and Windows WSL.

[2020-12-10 15:38] harshbafna commented on #249
BERT models are already part of TorchServe examples. Closing.

[2020-12-10 15:38] #249 closed

[2020-12-10 15:45] OmriPi commented on #838
@harshbafna Interesting, how can it work with `false` if transformers is not included? (Unless you already have transformers installed locally)

Yes I'm running it on Windows. Is it possible that without the requirements file it worked on Windows, and adding it stops the model from working on Windows? If it's a feature of v0.2.0 which was not tested on Windows it might possibly be the cause.
Tryin

[2020-12-10 15:59] harshbafna commented on #564
This has already been fixed and merged to master. Torch dependencies are installed based on cuda version. There is also a strict check in the sanity script to ensure that the models are loaded in GPU on codebuild-GPU.

Closing.

[2020-12-10 15:59] #564 closed

[2020-12-10 16:04] harshbafna commented on #838
I should have mentioned that I manually installed transformers before setting the parameter to false :-)

You can try it on latest master which is now supported on Windows-10 PRO as well.

`config.properties` is used for configuring TorchServe and has no impact on model-archive creation. A mar file is a simple archive file (zip) to package all model-specific files.

You can use the volume flag whi

[2020-12-10 16:09] harshbafna commented on #436
#749 is not merged to master. Closing.

[2020-12-10 16:09] #436 closed

[2020-12-10 16:19] harshbafna commented on #523
Moving this to v0.4.0 as CircleCI support is not planned for v0.3.0 release and Window Server 2019 based code-build is being tracked through #579

[2020-12-10 16:50] #215 closed

[2020-12-10 17:10] lokeshgupta1975 commented on #579
Dhana has confirmed that for any new PRs, Windows build and tests are running for CI, the logs are also getting posted

[2020-12-10 17:10] #579 closed

[2020-12-10 17:11] lokeshgupta1975 commented on #713
Looks stale, we have moved to DLAMI 37, 38 now, closing this issue

[2020-12-10 17:11] #713 closed

[2020-12-10 17:18] lokeshgupta1975 commented on #804
Binaries for Windows to be published for this release, Eli should do this once we are done with the release branch being stable. @chauhang Can you give a heads up to @seemethere

[2020-12-10 17:19] lokeshgupta1975 commented on #804
@harshbafna  will check whether the windows binaries and all other binaries are getting generated and will do some basic sanity testing with the binaries.

[2020-12-10 17:29] #656 closed

[2020-12-10 19:06] #737 closed

[2020-12-10 19:37] jeremiahschung opened #859 "install_dependencies on Windows installs the torch package for CUDA 10.1 instead of 10.2"
Start of the discussion in this comment: https://github.com/pytorch/serve/pull/851#issuecomment-742625731

Currently, the command `pip install torch==1.6.0 torchvision==0.7.0 -f https://download.pytorch.org/whl/torch_stable.html` installs the CUDA 10.1 packages instead of the expected 10.2 package. This seems to be an issue with how the pip download source is configured and not a TorchServe issue.

[2020-12-10 19:54] fbbradheintz opened #860 "KFServing instructions fail on Docker build"
## Context
I'm attempting to follow the instructions at https://github.com/pytorch/serve/tree/master/kubernetes/kfserving but they fail on the second step:

`DOCKER_BUILDKIT=1 docker build --no-cache --file Dockerfile_kf.dev -t <docker image name> .`

(This is after substituting a suitable name for `<docker image name>`, of course.)

* torchserve version: Latest master, commit hash 3bc25565bcc0cee

[2020-12-10 21:22] #657 closed

[2020-12-10 21:30] maaquib commented on #860
Working on GPU (DLAMI 38, CU10.2, g4dn.xl).
Was able to reproduce the issue on CPU (DLAMI 38, c5.4xl).

[2020-12-10 21:45] maaquib commented on #860
@fbbradheintz Adding `sudo` to the list of apt installs in the Dockerfile seems to resolve this. Will send out a PR

[2020-12-10 23:59] jeffxtang commented on #828
It's weird... I thought I didn't see the permission error anymore after I ran as Admin..
I looked at [the troubleshooting link](https://github.com/pytorch/serve/blob/master/docs/torchserve_on_win_native.md#troubleshooting) but in the `config.properties` file, I don't see port `9000` or `backend` but I changed the 3 addresses to:
[code]
After that running the sanity test had the same `OSError: [Win

[2020-12-11 00:42] fbbradheintz commented on #860
@maaquib Do you mean here?

[code]

When I put a `sudo` in front of that `apt-get install`, I get a different error:

[code]

Any progress on that PR?

[2020-12-11 00:51] maaquib commented on #860
@fbbradheintz I meant installing sudo [here](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/kf_predictor_docker/Dockerfile_kf.dev#L35)

[2020-12-11 00:51] chauhang commented on #860
@maaquib I was able to successfully build on Mac, Ubuntu 18.04 GPU and CPU machines just now and no errors during docker creation. Do we have some intermitted timeout problem somewhere which is causing different behaviour on different machines?

[2020-12-11 02:43] fbbradheintz commented on #860
@maaquib: I added the line; it does not resolve the problem. What I'm seeing:
* Weirdly long times to clone repos from GitHub. I'm not sure whether this is my network env or something - but when I clone the same repos locally, they take seconds. I'll try building with `--network=host`, but this is slowing me down.
* I'm seeing "Killed" after the Dockerfile attempts to install PyTorch with `pip`. (

[2020-12-11 05:44] maaquib opened #866 "Windows 10 Pro, CUDA 11.0 +PyTorch 1.7.1+ issue"
On behalf of @jeffxtang

On my Windows 10 Pro, I had CUDA 11.0 and PyTorch 1.7.1+ (it was 1.7.0 but was upgraded to 1.7.1 when I ran `python .\ts_scripts\install_dependencies.py --environment=dev`, with == changed to >= in the requirements\torch.txt)

[code]

The first time I ran `python .\torchserve_sanity.py`, 151 tests completed, 20 failed - result [win_gpu_torch171_sanity_test.txt](https://git

[2020-12-11 05:56] #841 closed

[2020-12-11 08:23] harshbafna opened #867 "Add multi-worker test cases in regression suite"
The number of workers in the regression suite newman test cases were lowered to `1` in #858 due to random failure on Windows codebuild instance.

 - Add a multi-worker test case to ensure regression suite covers all scenarios
 - Add OS-specific check in regression_test.py script and to use different data files on different environments.

[2020-12-11 09:29] abishekchiffon opened #868 "Install from src throws ModuleNotFoundError: No module named '_cffi_backend'"
## Context
Facing ModuleNotFoundError: No module named '_cffi_backend' after
python ./ts_scripts/install_dependencies.py --environment=dev
python ./ts_scripts/install_from_src.py

I also get this error after install_dependencies

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency confli

[2020-12-11 09:39] harshbafna commented on #868
@abishekchiffon:

This is Python and brew environment setup issue on your mac and TorchServe expects these to be configured by end user. Please refer the below error messages from shared logs:

[code]

[code]

[2020-12-11 15:43] ladanisavan opened #870 "Difference in docker image size"
Why there is huge difference in docker image size between official dockerhub (https://hub.docker.com/r/pytorch/torchserve) and build using ./build_image.sh?
from dockerhub: pytorch/torchserve:latest-gpu =  3.42GB
build by build_image.sh: pytorch/torchserve:latest-gpu =  5.68GB

[2020-12-11 15:58] lokeshgupta1975 commented on #866
@jeffxtang, can you now verify and close this issue

[2020-12-11 16:01] lokeshgupta1975 commented on #859
@jeremiahschung Can you verify and close?

[2020-12-11 16:03] lokeshgupta1975 commented on #848
@dhanainme Can you update this issue, link your PR to it and close it if this has been verified?

[2020-12-11 16:04] lokeshgupta1975 commented on #847
@lxning Can you update the issue and link your fix PR to it?

[2020-12-11 16:08] lokeshgupta1975 commented on #828
@jeffxtang Can you verify and close this issue?

[2020-12-11 16:10] lokeshgupta1975 commented on #804
@harshbafna Can you confirm whether you are able to generate all the required binaries for publishing as well as basic testing with these binaries has been done?

[2020-12-11 16:12] lokeshgupta1975 commented on #802
@dhaniram-kshirsagar Can you go through the latest documentation and make sure that following the documented steps, contributors will be able to do what @chauhang has mentioned in her note above?

[2020-12-11 16:13] lokeshgupta1975 commented on #799
@harshbafna Can this issue be closed now with the merge of the gRPC PR or is there remaining work for this?

[2020-12-11 16:15] lokeshgupta1975 commented on #787
@harshbafna can we verify and close this issue?

[2020-12-11 16:16] harshbafna commented on #804
@lokeshgupta1975: We have validated the scripts are in good shape and were able to generate the required binaries for `pip` and `conda`.

We did some basic testing on Ubuntu DLAMI, Local Mac, and Windows 10 Pro on Azure.

There were minor doc updates required which have been done in #869

[2020-12-11 16:18] harshbafna commented on #787
@lokeshgupta1975: We are waiting for #561  to get merged.

[2020-12-11 16:42] #561 closed

[2020-12-11 16:42] #586 closed

[2020-12-11 16:42] #787 closed

[2020-12-11 16:58] fbbradheintz commented on #860
It turned out not to be a timeout - that was just related to how long it took certain packages to download.

The actual error was an OOME. I'm going to put up a PR with a note indicating that Docker instances should have at least 4GB of memory allocated.

I'm still getting sporadically long download times for the KFServing and TorchServe git repos, but that appears to be unrelated, and isn't keepi

[2020-12-11 16:59] lxning commented on #847
https://github.com/pytorch/serve/pull/865

[2020-12-11 17:10] chauhang commented on #860
@maaquib We still need to investigate why PT 1.6 and 1.7.1 installs are getting called twice in the docker setup

[2020-12-11 17:21] maaquib commented on #848
Fixed as part of https://github.com/pytorch/serve/pull/852

[2020-12-11 17:21] #848 closed

[2020-12-11 17:25] lokeshgupta1975 commented on #868
@abishekchiffon does this help you, can you confirm and close this issue?

[2020-12-11 17:26] maaquib commented on #860
I have not been able to reproduce this.

[2020-12-11 17:41] fbbradheintz commented on #860
The 1.6.0 installation failed on an OOME; later, when installing Captum, there is another attempt (also failed due to OOME) to install PyTorch as a dependency, and it takes latest (1.7.1). This is not a bug, just a consequence of the out-of-memory failure.

[2020-12-11 17:57] fbbradheintz opened #875 "Failure of BERT model instructions"
Instructions for the BERT example at https://github.com/shrinath-suresh/serve/tree/bert-news-classification-example/kubernetes/kfserving/bert_news_classification fails with an error due to mismatched input sizes:

[code]

cc @shrinath-suresh

## Context
* torchserve version: latest bert-news-classification-example branch at https://github.com/shrinath-suresh/serve/tree/bert-news-classification-exa

[2020-12-11 18:16] #860 closed

[2020-12-11 19:14] chauhang commented on #799
@harshbafna @lokeshgupta1975 This is causing problems on the KFServing integration. We need to add the flag to turn off gRPC

[2020-12-11 21:29] jeffxtang commented on #866
you mean to test again and verify if the problem is gone? or just verify what @maaquib - thanks - posted for me and close it? i may not have time to test this again today..

[2020-12-11 22:35] jeremiahschung commented on #859
I confirmed the issue is present in the latest master (c15fb54).
[1211_master_win_gpu_dependency_cuda101.txt](https://github.com/pytorch/serve/files/5681885/1211_master_win_gpu_dependency_cuda101.txt)

Note there's another workaround:

Using three equals correctly pulls the cu102 binary (default for PT1.6):
[code]
Using two equals pulls the cu101 package instead:
[code]

[2020-12-11 23:02] fbbradheintz opened #876 "Apache Benchmark failure on Mac"
100% failure on running Apache Benchmark script on Mac.

Python's `tempfile.gettempdir()` on Mac does not return `/tmp`, as the script assumed in one place, but a directory under `/var/folders` - e.g., `/var/folders/dz/74wm7dyd7_x4sc9q2fzm_h8dqwwlkh/T`

When generating reports, `benchmark-ab.py` is assuming files are written to `/tmp`. The last line of the log below is the most important:

[code]

[2020-12-11 23:48] #876 closed

[2020-12-12 00:08] jeremiahschung opened #878 "Frontent sanity test failures on lower memory instances"
## Context

* torchserve version: installed from source
* torch-model-archiver version: installed from source
* torch version: 1.6.0
* torchvision version [if any]: 0.7.0
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: openjdk11
* Operating System and version: Ubuntu 18.04

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it usi

[2020-12-12 01:43] maaquib commented on #870
@ladanisavan Are you building from master? We have added stuff since the last release v0.2.0 on dockerhub

[2020-12-12 01:43] dhanainme commented on #875
@fbbradheintz , I assume this uses the transformers lib.
Can you please share the transformer lib version ?

Asking coz we have run in a lot of issues with transformer lib version

[2020-12-12 04:34] #833 closed

[2020-12-12 04:34] #847 closed

[2020-12-12 05:30] harshbafna opened #881 "Add support for conda binaries for Windows"
## Is your feature request related to a problem? Please describe.
Currently, the conda binaries generated using the build script does not work on the Windows environment. Enhance the script to generate correct binaries for Windows.

## Describe the solution
Enhance the binary generator script to support conda binaries on windows

[2020-12-12 05:33] harshbafna opened #882 "Enable naked DIR test case for windows environment"
The naked DIR related test case in ModelServerTest.java has been by-passed for windows environment in #862.

Fix and enable the test case for windows.

[2020-12-12 07:26] abishekchiffon opened #883 "Unable to run install_dependencies.py in ec2 instance"
## Context

Facing Install dependencies issues - gcc error(present in the logs).

* java version: openjdk 11.0.9.1 2020-11-04
* Operating System and version: Ubuntu 18.04.5 LTS

## Your Environment
Ubuntu Server 18.04 LTS (HVM), SSD Volume Type - ami-0ac73f33a1888c64a (64-bit x86)

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: no
* Is it

[2020-12-12 08:09] abishekchiffon opened #884 "Unable to start Torchserve"
## Context
I installed the dependencies script and installed from source after which I started the Torchserve and encountered Native io exception java error.

* torchserve version: 0.3.0
* model archiver version: 0.2.1
* torch version:1.7.1
* torchvision version [if any]: 0.8.2
* torchtext version [if any]:0.8.1
* torchaudio version [if any]:0.7.2
* java version: openjdk 11.0.5 2019-10-15
* Operat

[2020-12-12 08:18] harshbafna commented on #884
@abishekchiffon: From the shared logs it's clear that the ports required by TorchServe are already in use. It was able to bind to 8080/81/82 REST API default ports but failed while trying to bind the gRPC default ports 7070/71 with `Address already in use` error.

[2020-12-12 08:26] abishekchiffon commented on #884
@harshbafna
[code]
The above two command don't list anything.

[2020-12-12 08:27] harshbafna commented on #883
@abishekchiffon : It looks like gcc is outdated on your instance. I couldn't find the ami id provided above.

<img width="1427" alt="Screen Shot 2020-12-12 at 1 37 15 PM" src="https://user-images.githubusercontent.com/26594595/101979194-f2af7e80-3c80-11eb-95da-90400335930b.png">

<img width="1440" alt="Screen Shot 2020-12-12 at 1 55 08 PM" src="https://user-images.githubusercontent.com/26594595/10

[2020-12-12 09:04] abishekchiffon commented on #884
[local_torch_env.log](https://github.com/pytorch/serve/files/5682768/local_torch_env.log)

Hi @harshbafna , please find the env details in this log attached for my local.

[2020-12-12 09:05] abishekchiffon commented on #883
[ec2_torch_env.log](https://github.com/pytorch/serve/files/5682769/ec2_torch_env.log)

Hi @harshbafna , please find attached the env details of the ec2 instance.

[2020-12-12 18:35] chauhang opened #886 "Add test to check all combinations of install environmentes"
Add a regression test to test all combinations on install environments, for different versions of CUDA, OS etc. Start by adding a script for this and then add it to the CI tests, as a separate test.

[2020-12-12 19:01] jagadeeshi2i opened #887 "Torchserve fails to run. Uses too much resources"
Torchserve stops running on GPU resource throwing below error. Upon increasing the resources torchserve works as intended.

[code]

## Context

* torchserve version:
* torch-model-archiver version:
* torch version:
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and version:

## Your Environment

* Installed using sour

[2020-12-12 22:28] HamidShojanazeri opened #888 "Mnist example captum Explanations fails on GPU"
The Mnist example captum Explanations fails on GPU, due to a missing device conversion.

## Context
Running through the Mnist example for captum explanaiton it fails with error "RuntimeError: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same"

* torchserve version: from src on master
* torch-model-archiver version:
* torch version:
* torchvision version [if

[2020-12-13 01:11] #888 closed

[2020-12-13 04:19] lxning opened #890 "kfserving failed to predict"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.3.0
* torch-model-archiver version:
* torch version:
* torchvision version [if a

[2020-12-13 04:47] chauhang commented on #890
@lxning Explain is not supported for TorchScripted models. Docs will be updated for this. Captum does not support torchscripted models at present. Please test with eager mode version of the model

[2020-12-13 07:18] tigercosmos commented on #755
this also failed at `mac_npm_deps`

[2020-12-13 07:37] harshbafna commented on #755
@tigercosmos: Please use the `ts_scripts/install_dependencies.py` instead of directly executing the `mac_npm_deps` script. It should take care of installing and setting the node version to `14.x`.

**Note**: It will only unlink any existing version of the node and not uninstall it.

[2020-12-13 14:05] OmriPi commented on #838
Thanks a lot! When you say the latest master supports Windows 10, can I use pip to upgrade my torchserve to the latest master? Or it it not out through pip yet?
If not, how do I replace the pip version with the master version?

After trying on WSL and finding out it worked I returned to my original task of making the model run on a docker container, this time sharing the `config.properties` file w

[2020-12-14 00:08] fbbradheintz commented on #887
@jagadeeshi2i How much RAM was allocated to the Docker container?

[2020-12-14 00:12] fbbradheintz commented on #875
@dhanainme If you look at the logs, you can see it fails in the DataLoader - I don't believe the transformer comes into it.

Has anyone actually witnessed these instructions work? If so, what version of PyTorch was used? That might make a difference to DataLoader behavior.

[2020-12-14 06:32] HamidShojanazeri opened #895 "Deploy TorchServe using Helm Charts fails for MNIST example in EKS"
## Context
Following the EKS doc, deploying torchserve with hellm charts, checking the ts logs mnist example failed with the error: 'MNISTDigitClassifier' object has no attribute 'handle'. Removing mnist from config.properties, squeezenet worked fine, replacing mnist with densenet also worked fine. Logs are attached.

* torchserve version: 0.3.0b20201214
* torch-model-archiver version: 0.2.1b20201

[2020-12-14 06:41] lxning commented on #890
vgg11 model also failed.
mar: https://torchserve.pytorch.org/mar_files/vgg11_v2.mar
input data: [kitten](https://github.com/pytorch/serve/blob/bacdf0a626fc24d89f332c413a2039f7c0cf9953/examples/image_classifier/kitten.jpg)) json format converted by [img2bytearray.py](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/img2bytearray.py), or [input.json](https://github.com/pytorch/serve

[2020-12-14 06:51] lxning commented on #890
vgg11 also failed to predict

mars: https://torchserve.pytorch.org/mar_files/vgg11_v2.mar
input data: [kitten](https://github.com/pytorch/serve/blob/bacdf0a626fc24d89f332c413a2039f7c0cf9953/examples/image_classifier/kitten.jpg) json format converted by [img2bytearray.py](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/img2bytearray.py)    , or [input.json](https://github.com/pyto

[2020-12-14 06:59] abishekchiffon commented on #890
@lxning vgg11 model doesnot support explain for now. Only Mnist, Bert supports kfserving explain. Please attach logs of the vgg11 failure for more understanding.

[2020-12-14 07:00] harshbafna commented on #895
@HamidShojanazeri : Could you please try with https://torchserve.s3.amazonaws.com/mar_files/mnist_v2.mar. This is the referenced mar for mnist model in our model zoo as well.

[2020-12-14 07:02] chauhang commented on #895
@harshbafna Please update the readme in the EKS install steps which is still pointing to the old paths. Also please verify the links of all the Model Zoo mar files

[2020-12-14 07:04] HamidShojanazeri commented on #895
@harshbafna sure, I will try and update.

[2020-12-14 07:18] harshbafna commented on #895
@chauhang : Created #897

[2020-12-14 07:55] shrinath-suresh commented on #875
I am able to reproduce the error after compiling from source. Looks like the transformer version is causing the error. I will investigate on it.

To unblock, the script is working with `transformers==3.0.2` . I upgraded all other packages to latest version (`torch`, `torchtext` and `pytorch_lightning`)..

Please find the environment info captured using `print_env_info.py`

[code]

Packages which a

[2020-12-14 07:57] HamidShojanazeri commented on #895
@harshbafna Still getting the same error, please check the logs.

[Mnist_fails_new_url.logs.txt](https://github.com/pytorch/serve/files/5687251/Mnist_fails_new_url.logs.txt)

[2020-12-14 08:06] harshbafna commented on #895
@HamidShojanazeri: I looked at the logs, the TorchServe version is `0.1.1`. You might want to use the Torchserve docker image built from source.

Also, the `torchserve:latest-gpu` image looks outdated on the docker hub (6 months old).

[2020-12-14 08:08] HamidShojanazeri commented on #895
@harshbafna my understanding is the issue should be from the image. I will give it a try.

[2020-12-14 08:20] ladanisavan commented on #870
Yes I have built image from master for Production and GPU (./build_image.sh -g)

[2020-12-14 08:38] jeremiahschung opened #898 "BERT model fails to run on k8s with docker image built from source"
## Context

* torchserve version: source
* torch-model-archiver version: source
* torch version: 1.7.1
* torchvision version [if any]: 0.8.2
* torchtext version [if any]:0.8.1
* torchaudio version [if any]:
* java version:openjdk11
* Operating System and version: ubuntu18.04

## Your Environment

* Installed using source? [yes/no]:
* Are you planning to deploy it using docker container? [yes/no]:y

[2020-12-14 08:41] HamidShojanazeri commented on #895
@harshbafna I built the image from src and worked. Please modify the doc accordingly.  Thanks.
[Mnist_working.logs.txt](https://github.com/pytorch/serve/files/5687521/Mnist_working.logs.txt)

[2020-12-14 08:55] chauhang commented on #895
@harshbafna The TorchServe Helm chart in EKS setup is pointing to the published docker image `torchserve_image: pytorch/torchserve:latest-gpu` which is still on older version of PyTorch and the old code for the base handlers from 0.2 release. Things will work with matching versions

[2020-12-14 09:02] harshbafna commented on #895
@chauhang @HamidShojanazeri: I think we should fix the image names in docker hub with `pytorch/torchserve:latest-gpu` and `pytorch/torchserve:latest-cpu` always pointing to the latest TorchServe version. Thoughts?

Else we will always need to update this documentation with every release.

[2020-12-14 10:47] shrinath-suresh commented on #875
@fbbradheintz  The issue is due to `transformers` library. I have updated the script to work with the latest version of `transformers` as well.

I am able to train and test using `3.5.1` and `4.0.1`. Please check and let me know if you face any more issues on the same.

[2020-12-14 11:20] punshriv commented on #734
@harshbafna

Input to test:

This should return the following response:

config.properties:
inference_address=http://0.0.0.0:8080
management_address=http://0.0.0.0:8081
metrics_address=http://0.0.0.0:8082
number_of_netty_threads=32
job_queue_size=1000
model_store=/home/model-server/model-store

[2020-12-14 11:45] harshbafna commented on #721
Naked DIR support has been merged as part of #862. Closing.

[2020-12-14 11:45] #721 closed

[2020-12-14 18:59] abishekchiffon opened #899 "Facing "CannotResolveClassException: kg.apc.jmeter.listener.GraphsGeneratorListener" on running benchmark"
## Context

1. python benchmark.py latency -v -l 1 --ts http://127.0.0.1:8080.
Passes for all test but throws "CannotResolveClassException: kg.apc.jmeter.listener.GraphsGeneratorListener"
2. python benchmark.py throughput -v -l 1 --ts http://127.0.0.1:8080
Fails for 90% of the test and throws "CannotResolveClassException: kg.apc.jmeter.listener.GraphsGeneratorListener"
Ran the test on C5.4Xlarge i

[2020-12-14 22:46] jeremiahschung commented on #898
Initially reported the issue with Kubernetes, but this is due to the Transformer_handler_generalized.py being updated to have captum as a dependency. Newly archived BERT models with the updated handler will face the same issue.

Addressed in PR https://github.com/pytorch/serve/pull/901

[2020-12-14 23:01] HamidShojanazeri commented on #890
@lxning I could reproduce the issue with prediction failure of kfserving using the [input.json](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/image_transformer/input.json), it needs to be modified and git rid of the inner key value of "image_bytes":{"b64":...}}", I have attached the modified version, in the logs. This suggest changes in https://github.com/pytorch/serve/blob/f3a

[2020-12-14 23:49] lxning commented on #890
@abishekchiffon, vgg11 failed to predit, not explain.
[ts_log.log](https://github.com/pytorch/serve/files/5692246/ts_log.log)

[2020-12-14 23:55] lxning commented on #890
kfserving only works for mnist batch_size = 1, otherwise, it would fail.

[2020-12-14 23:59] fbbradheintz commented on #875
@shrinath-suresh Thanks for the update - I'll retry when I have a chance.

[2020-12-15 00:03] HamidShojanazeri commented on #890
@lxning I could reproduce the issue with prediction failure of kfserving using the [input.json](https://github.com/pytorch/serve/blob/master/kubernetes/kfserving/image_transformer/input.json) and make it working for prediction and explanation with following modifications, in the input.json, we need to change the key  "image_bytes" to "data" and need to change the [line](https://github.com/pytorch/

[2020-12-15 01:14] misrasaurabh1 opened #903 "How many concurrent executions does Pytorch Serve dispatch?"
## 📚 Documentation

Assume that a handler uses 30% of the time on CPU processing and 70% of time in GPU execution. Since we have two devices, if we run two different api requests sequentially, it would keep GPU unutilized for 30% of the time leading to potentially 30% slower throughput by the server compared to the case when GPU was in use 100%.

I am wondering how does pytorch serve handle execut

[2020-12-15 02:04] misrasaurabh1 commented on #903
Another comment. For large production use cases, as a customer and an engineer, I feel a bit uncomfortable using this server because it does not say much about how it optimizes for performance. It would be great if you could upload performance benchmarks wrt. other servers and recommend performance optimizations for getting best performance with this server. It would be great to know load tested,

[2020-12-15 02:31] dhaniram-kshirsagar commented on #782
@rishabh1212 Commented on your PR #873

[2020-12-15 05:30] jeffxtang commented on #828
I pulled the latest from master about 5 hours ago, the lastest commit being:
[code]

and then ran the sanity test after the two install, and was stuck at 82%:

[code]

[2020-12-15 06:23] harshbafna commented on #828
@jeffxtang: The front-end Gradle build suite, executed as part of the sanity suite, takes around 8 minutes to complete. Did your run finish after some time or it was stuck there forever?

[2020-12-15 07:03] punshriv commented on #734
@harshbafna I was debugging this further and observed the following: Python backend sends the complete response of all the batched request , but when the frontend server gets its , its fragemented.
Example for the below scenario , for the total response size of 500777 , the Message decoder gets the fragments
2020-12-15 03:36:08,577 [INFO ] W-9000-bert-base-nli-mean-tokens-embeddings_1.0-stdout org

[2020-12-15 09:58] punshriv commented on #734
@harshbafna The other thing i suspect is there is no BUFFER_UNDER_RUN check before the following
 // Set per request response code
 int httpStatusCode = in.readInt();
Since readint will move the index by 4 bytes , the writerindex should have these 4 bytes. If it doesnt it will crashes here.

[2020-12-15 11:55] rishabh1212 commented on #782
@dhaniram-kshirsagar I update PR, please review

[2020-12-15 12:33] cbasavaraj commented on #656
Hi, I see gRPC has been added in v0.3.0. By when will this version be released? When I pip install torchserve, I get 0.2.2.  Right now, is there a way of testing v0.3.0?

[2020-12-15 12:35] harshbafna commented on #656
@cbasavaraj: You can [install TorchServe from the source](https://github.com/pytorch/serve#install-torchserve-for-development) for now. TorchServe 0.3.0 will be very soon available on PyPi. :-)

[2020-12-15 12:45] harshbafna commented on #734
@punshriv: I am still not able to reproduce this. I tried this with the latest master on my local Mac and c4.4xlarge EC2 instance (with DLAMI 38.0)

Here are the commands executed and result:

_**Config.properties**_

[code]

_**TorchServe startup command**_

[code]

_**Model Registration**_

[code]

_**Input**_

[code]

**_Load test with Apache bench_**
[code]

**_Apache Bench Report_**
[code]

[2020-12-15 13:14] harshbafna commented on #838
It is not able on PyPi yet, we are in the process to make an official 0.3.0 release, which will have support for Windows 10 Pro. Meanwhile, you can [install from source](https://github.com/pytorch/serve#install-torchserve-for-development).

This was a bug in the Docker image in the last release and has been fixed in the latest master. You can create a local docker image from the source. Refer the

[2020-12-15 13:15] punshriv commented on #734
@harshbafna During registration i have used "batchSize": 100 and "maxBatchDelay": 200 but you have used batch_size=10&max_batch_delay=5000 . Not sure if that is causing any difference.

Also after i added this before the HTTP status check [here](https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/util/codec/ModelResponseDecoder.java#L56) :
[code]
I dont see

[2020-12-15 13:59] cbasavaraj commented on #656
Ah yes, I'd seen that section yesterday, forgot about it. Thanks!

[2020-12-15 16:34] cbasavaraj commented on #656
I tried from master, and it works great! I think on the [readme](https://github.com/pytorch/serve/blob/master/docs/grpc_api.md), the entire paths need not be included for the proto files, as that's already present in `proto_path`.

One question: `inference.proto` seems to be quite generic, as it takes `map<string, bytes> input = 3` as input into the model and returns ` bytes prediction = 1;` as ou

[2020-12-15 16:59] jeffxtang commented on #828
It was stuck there like 30 minutes.

[2020-12-15 17:12] chauhang commented on #828
@dhaniram-kshirsagar Please verify that the gRPC tests are working fine on Windows, based on the logs above this is the part where things are stuck. The same tests are taking long time to finish on Ubuntu as well

[2020-12-15 17:39] #890 closed

[2020-12-15 17:53] jeffxtang opened #907 "unable to use GRPC APIs via Python - torchserve_grpc_client.py not generated on Windows"
* torch                  1.7.1+cu110
* torch-model-archiver   0.2.1b20201214
* torchaudio             0.7.2
* torchserve             0.3.0b20201214
* torchtext              0.8.1
* torchvision            0.8.2+cu110
* java version: openjdk version "11.0.2" 2019-01-15
* Operating System and version: Windows Pro 10

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to d

[2020-12-15 18:04] harshbafna commented on #907
@jeffxtang: This is a documentation issue. The path has changed from `scripts` to `ts_scripts` and is a missout in doc. I will put a PR for this. Note that the `torchserve_grpc_client.py` is there in `ts_scripts` directory and is not generated at runtime. Only the gRPC client stubs for inference and management APIs are generated using the first python command.

[2020-12-15 18:19] maaquib commented on #907
@jeffxtang Can you test with the updated instructions in #908 and let me know if it works? Thanks

[2020-12-15 18:20] harshbafna commented on #828
@chauhang: There was a problem today morning (IST) with `pip 20.3.2` release which was getting into a recursive loop while installing any package and thereby increasing the overall build time. We had created a PR (#904) to freeze the pip version to the last stable major release `20.3`. However, later in the day, this release was yanked from PyPi.

We don't see any problem with gRPC test cases on a

[2020-12-15 18:24] jeffxtang commented on #907
(py38) PS C:\Users\Warrior\repos\serve> python ts_scripts/torchserve_grpc_client.py infer densenet161 examples/image_classifier/kitten.jpg
Traceback (most recent call last):
  File "ts_scripts/torchserve_grpc_client.py", line 2, in <module>
    import inference_pb2
ModuleNotFoundError: No module named 'inference_pb2'

[2020-12-15 18:26] harshbafna commented on #907
@jeffxtang: You will need to generate the client stubs as well using the updated command.

[code]

[2020-12-15 18:35] chauhang commented on #895
@harshbafna We already have the "latest" and "latest-gpu" tags in dockerhub. The images are still 0.2 as the new release binaries are not yet published till we can cut the release. Please update the documentation steps accordingly.

https://hub.docker.com/r/pytorch/torchserve/tags?page=1&ordering=last_updated

[2020-12-15 18:35] harshbafna commented on #656
Yes, that's correct.

[2020-12-15 18:47] jeffxtang commented on #907
@harshbafna by "expects the model to be already registered" you mean run torchserve like ` torchserve --start --ncs --model-store model_store --models densenet161.mar `? I did that and also generated the stubs using the updated command and now `python ts_scripts/torchserve_grpc_client.py infer densenet161 examples/image_classifier/kitten.jpg` returns no errors, actually returns nothing - but the t

[2020-12-15 19:08] harshbafna commented on #907
Yes, that will register the `densenet` model at startup.

The print statement was missing in the client's infer function. I have fixed that as well in the same PR.

[2020-12-15 19:09] maaquib commented on #907
@jeffxtang Let me know if this resolves the issue. The fix has been pushed to the same PR #908

[2020-12-15 20:00] jeffxtang commented on #907
Cool it works.

[2020-12-15 20:00] #907 closed

[2020-12-15 20:15] maaquib commented on #895
@chauhang `latest-gpu` was built with TS v0.1.1
Last release (v0.2.0) we tagged the GPU image `0.2.0-cuda10.1-cudnn7-runtime` and not `latest-gpu`
Do you want the documentation to point to the above tag until v0.3.0 release?

[2020-12-15 20:53] maaquib commented on #884
Looks like this was resolved. @abishekchiffon Please reopen if this is still an issue

[2020-12-15 20:53] #884 closed

[2020-12-15 20:54] maaquib commented on #883
Looks like this was resolved. @abishekchiffon Please reopen if this is still an issue

[2020-12-15 20:54] #883 closed

[2020-12-15 21:23] jeffxtang commented on #866
Did another sanity test with the commit 2541292f076d155206decc03bf92bc6edac1837b and was stuck at 82% EXECUTING for about an hour. Full log is attached. Is this still caused by "OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions"?

[sanity_log_win_gpu_pt171.txt](https://github.com/pytorch/serve/files/5698693/sanity_log_win_gpu_pt171.txt)

[2020-12-15 21:24] jeffxtang commented on #828
Did another test and was stuck for about an hour. Full log was uploaded at issue #866

[2020-12-15 21:57] maaquib commented on #898
The BERT model needs to be bundled with the required dependencies. @abishekchiffon Can you please address this

[2020-12-15 22:08] jeffxtang commented on #866
About the error "OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions", it was mentioned at https://github.com/pytorch/serve/issues/828#issuecomment-742876398 and the [Windows Native TroubleShooting](https://github.com/pytorch/serve/blob/master/docs/torchserve_on_win_native.md#troubleshooting) may help - "If you are building from source then

[2020-12-16 01:34] dhaniram-kshirsagar commented on #866
@jeffxtang Please add this configuration parameter in your config properties file - initial_worker_port. At present its default initial value is set to 9090.

[2020-12-16 03:00] harshbafna commented on #866
@jeffxtang: For running on HTTPS, you will need to generate and provide the `private_key_file` and `certificate_file` parameters in your `config.properties` file.

[2020-12-16 03:58] harshbafna commented on #866
@jeffxtang:

From the shared logs, I am still observing the same error at different places and a bunch of test cases have failed.

[code]

TorchServe Sanity suite executes a bunch of integration test cases which uses different ports to load the model workers. In your case it seems your user doesn't have access to some ports or the ports required are already in use by some other process and hence t

[2020-12-16 05:21] harshbafna commented on #734
@punshriv :

The max batch delay of 200ms is too low. I will test with batchSize of 100, but then you will probably need a higher JobQueue size based on the model response time to avoid 503 errors. I will test this again today with 100 batch size and see if I can reproduce.

Why not use the `BUFFER_UNDER_RUN` check?

[2020-12-16 05:31] harshbafna commented on #878
This is more to do with a lower number of cores on the machine, a similar error is observed randomly while running the frontend Gradle build on a g4dn.xl instance which has 4 cores and 16G RAM

[2020-12-16 05:42] jeffxtang commented on #866
@harshbafna yes I'm able to run the basic model serving with REST and GRPC APIs but haven't made the sanity test work. I'll try to make https work to see it'll fix the problem.

[2020-12-16 05:47] punshriv commented on #734
@harshbafna I am using GPUs (NVIDIA T4) so the response time is very low , having a delay greater than 200ms will add further delay to the response time and will not suit the latency vs throughput trade off requirement i have , Although i am not facing 503 with 100 req/sec with this configuration, good suggestion on increasing the job queue size , i will update that.

According to my hypothesis,

[2020-12-16 06:13] harshbafna commented on #734
Thanks for the inputs.

A few more questions:

 - Is this a multi-GPU machine or single?
 - What is the number of model workers?

This makes sense.

[2020-12-16 07:05] punshriv commented on #734
Single GPU machine (g4dn.xlarge) this machine has 1 GPU , 4 VCPUS but giving only 2 VCPUS to the model-server

1 model worker for benchmarking

[2020-12-16 15:32] OmriPi commented on #838
@harshbafna I am trying to install from source following the windows instructions in the link you provided. However, when I execute the `python .\ts_scripts\install_from_src.py` command, it fails at building the wheels for torchserve with the following error output:

[code]

What am I missing here? I am on a brand new environment and have run the dependency installation script before.
Thanks!

[2020-12-16 15:43] harshbafna commented on #838
@OmriPi: The above logs seem to be from `torchserve_sanity.py` and not `install_from_src.py`

The above failure is for frontend Gradle build failure which is get executed as part of `install_from_src.py`

[2020-12-16 15:48] harshbafna commented on #838
@OmriPi : Could you try downgrading the NumPy version to 1.19.3 and try running the `install_from_src` script again?

[2020-12-16 17:39] fbbradheintz opened #911 "Failure running KFServing benchmarks w/ batch size 4 on CPU and GPU"
## Context

Running benchmarks on CPU for KFServing API with batch size 4 fails consistently. Command line:

* torchserve version: 0.3.0rc
* torch version: 1.7.1
* java version: 11
* Operating System and version: Ubuntu 18

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: no
* Is it a CPU or GPU environment?: CPU
* Using

[2020-12-16 17:43] fbbradheintz commented on #911
Just verified identical failure on GPU - so it does not appear to be specific to processor type.

[2020-12-16 18:31] jeffxtang commented on #866
I followed the configuration [Enable SSL's Examples' two options](https://github.com/pytorch/serve/blob/master/docs/configuration.md#examples) and retried the sanity test but for option 1 I was still stuck at 82% with the same errors and for option 2, the test finished quickly with the messages
[code]

[2020-12-16 18:49] maaquib commented on #866
@jeffxtang What was the failed test? Can you provide the logs?

[2020-12-16 18:55] fbbradheintz commented on #911
It turns out this is expected, and relates to KFServing's static batching behavior, which has the beginnings of documentation at #910 . The two changes needed to make this work:
* Change batch size to 1 in command line
* Alter the input JSON as described in #910 to contain multiple data instances.

[2020-12-16 21:34] chauhang opened #912 "CUDA warnings on CPU deployment"
Installed TorchServe using prod deployment steps, created mar file for the mnist example and tested the prediction. Seeing CUDA related warnings in the TorchServe logs.

Install steps used:

[code]

Mar file created using:
`torch-model-archiver --model-name mnist --version 1.0 --model-file serve/examples/image_classifier/mnist/mnist.py --serialized-file serve/examples/image_classifier/mnist/mnist_

[2020-12-16 22:15] chauhang commented on #912
Uninstalling pytorch and reinstalling the CPU version using below command fixed the issue, as suggested by @seemethere

`pip install torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio==0.7.2 torchtext==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html`

Output of env dump after this is also not showing the CUDA warnings:

[code]

@maaquib Please update the install_dependencies to pick th

[2020-12-16 23:01] chauhang opened #914 "Environment print script picking wrong version of torchserve binaries"
The environment print script is printing the wrong version for torchserve and torch-model-archiver, seems to be picking from source code location vs the actual version of the binaries:

Output of pip-freeze:

[code]

Reported by env print script:

[code]

[2020-12-17 01:02] jeffxtang commented on #866
[sanity_log_win_failed.txt](https://github.com/pytorch/serve/files/5706339/sanity_log_win_failed.txt)

[2020-12-17 02:28] OmriPi commented on #838
@harshbafna I did as you recommended, however, I am still getting an error. Here is the error output:

[code]
Any clue on what I can do next?

I just wanted to do something simple and it seems like I'm running through every possible bug in the book on the way XD
But I'm not going to give up, I WILL get it to work!

Thanks a lot for all the help!

[2020-12-17 04:06] rishabh1212 opened #917 "Implement one of the TODOs: Pass request id while loading model in model_loader.py"
**TODO**
https://github.com/pytorch/serve/blob/6c078d6cd1f91c1614c18abf2f94d3571be1b659/ts/model_loader.py#L71

[code]

## Is your feature request related to a problem? Please describe.

The main aim is to connect request maker(frontend) to request processor(backend) using request-id. One of the use cases can be when there is an error and we need to debug. It will be easy if we have request-id ins

[2020-12-17 05:07] harshbafna commented on #838
@OmriPi:  I tried this on windows 10 pro and was not able to reproduce this.

From the above error, it looks like it is not able to find the proto files while generating the server-side stubs.

[code]

Could you please recheck if you followed all the steps documented [here](https://github.com/pytorch/serve/blob/master/docs/torchserve_on_win_native.md)

If this still doesn't get solved, please crea

[2020-12-17 05:23] #912 closed

[2020-12-17 15:09] OmriPi commented on #838
@harshbafna Thanks, I am currently running a Windows 10 Pro (Hebrew language if it matters).
I do not know what are those proto files, how can I make them appear there?
I have rechecked to make sure that I did everything as instructed, the only step I was missing was installing node.js but after having installed it, it made no difference and the wheel building still fails at the same spot.
The onl

[2020-12-17 15:23] harshbafna commented on #838
For windows, you should use the Powershell prompt started with Administrator permission.

The path exists on the latest master :
https://github.com/pytorch/serve/tree/master/frontend/server/src/main/resources/proto

The Gradle tool generates the gRPC server-side stubs using these files.

I am not too sure about the root cause here, probably some file permission issues because you are using the nor

[2020-12-17 15:52] OmriPi commented on #838
@harshbafna

Ok I'll try to somehow getting it working if it's mandatory. I did give admin permissions to the normal Anaconda prompt if that matters.

https://github.com/pytorch/serve/tree/master/frontend/server/src/main/resources/proto
The Gradle tool generates the gRPC server-side stubs using these files.

Would manually copying those files to the location mentioned in the error report (where it

[2020-12-17 16:52] harshbafna opened #920 "Captum package not included as part of Dockerfile"
Add `captum` package in Dockerfile.

[2020-12-17 23:20] chauhang commented on #920
@harshbafna This is not needed. Captum is a prerequisite to use similar to PyTorch, TorchVision and these are handled via the install dependencies. We do not want to tag this as a pip dependency

[2020-12-18 02:21] harshbafna commented on #920
@chauhang, This was based on the offline discussion, the production docker file neither had this package installed not uses install_dependency script to install the packages.

#924 will take care of this.

Updated the description.

[2020-12-18 02:32] #920 closed

[2020-12-18 03:44] harshbafna commented on #859
#885  Should take care of this.

[2020-12-18 03:47] harshbafna commented on #911
@fbbradheintz: Are we good to close this ticket as #910 is merged to master now?

[2020-12-18 04:03] harshbafna commented on #866
@jeffxtang

Could you also zip and attache the reports generated at following path:

[code]

From the shared logs, it says it ran into some FileNotFound exception while trying to start the test suite.

You should not make any changes in the config.properties file for running the test suites, it will mess up the the expected outputs. The reason for pointing you to that doc was that you were trying

[2020-12-18 04:06] harshbafna commented on #804
Closing as the wheels have been published.

[2020-12-18 04:06] #804 closed

[2020-12-18 04:07] harshbafna commented on #802
The instructions have been streamlined and now merged to master as part of #836 . Closing

[2020-12-18 04:07] #802 closed

[2020-12-18 04:14] harshbafna commented on #777
@veronikayurchuk: Please refer to the following comment for sending multiple requests data to your handler

https://github.com/pytorch/serve/issues/529#issuecomment-658012913

This is now also documented as part of our FAQ here:

https://github.com/pytorch/serve/blob/master/docs/FAQs.md#how-can-pass-multiple-images-in-inference-request-call-to-my-model

[2020-12-18 04:14] harshbafna commented on #760
@alvarobartt: Any updates on this?

[2020-12-18 04:22] harshbafna commented on #609
Closing this as the codebuild instance is now working fine with Cuda 10-1

[2020-12-18 04:22] #609 closed

[2020-12-18 04:23] harshbafna commented on #587
@anonuser278: Were you able to resolve this issue on your mac?

[2020-12-18 05:06] harshbafna commented on #361
Closing as the original query has been answered.

@ematvey: The memory footprint optimization is being tracked through #733

[2020-12-18 05:06] #361 closed

[2020-12-18 10:40] veronikayurchuk commented on #777
@harshbafna thank you for your answer, but it is not the problem I am facing.

My question was about batches. Please help me to understand how to run TorshSever with batch support receiving multiple images per request?
Let's say my GPU can process 128 images simultaneously. For every request, I receive 8 images. In theory, I should be able to process 16(128/8) requests simultaneously. But I don't

[2020-12-18 11:04] harshbafna commented on #777
@veronikayurchuk: TorchServe uses two parameters, `batch_size` and `max_batch_delay`, provided at the time of model registration for batching.

1. `batch_size`: This is the maximum batch size that a model is expected to handle.

2. `max_batch_delay`: This is the maximum batch delay time (in milliseconds) TorchServe waits to receive a `batch_size` number of requests. If TorchServe doesn't receive t

[2020-12-18 11:10] harshbafna commented on #777
@veronikayurchuk:

You can refer to the [vision handler's preprocessing](https://github.com/pytorch/serve/blob/master/ts/torch_handler/vision_handler.py#L35), which handles the batch requests. However, it doesn't handle multiple inputs in each request.

[2020-12-18 13:22] vivekpd15 commented on #691
Any updates on this? Or a prospective timeline?

[2020-12-18 19:36] alvarobartt commented on #760
Sure @harshbafna I'm working on it, I'll prepare the README with a fully working Python example for Image Segmentation and Image Classification too! I'll do it before the year ends! 🔥

[2020-12-18 20:45] maaquib opened #929 "Benchmark scripts are outdated"
On behalf of @HamidShojanazeri

* [Benchmark](https://github.com/pytorch/serve/blob/master/benchmarks/install_dependencies.sh#L37) script is outdated. Installing an older version of PT and CUDA.
* Install dependencies installs brew in a different location on Ubuntu if I choose the non root install given I don't have a password for the default user on ec2 machine
[code]
* Benchamark [enable/disable

[2020-12-19 08:36] lxning commented on #929
run cmd "python benchmark-ab.py -c 10 -r 10000 -bs 1 -ic 'application/text' -e docker -bp True \
                       -i ../examples/Huggingface_Transformers/QA_artifacts/sample_text0.txt \
                       -u https://torchserve.s3.amazonaws.com/mar_files/BERTSeqClassification_Torchscript_batch.mar"

profile file "tsPythonProfile.prof" is not generated.

[2020-12-20 00:46] alvarobartt commented on #760
@harshbafna Here I attach the first example, just let me know if you like the content and the formatting of the example and I'll create one example per different model (starting with the image models).

https://github.com/alvarobartt/serve/tree/python_examples/examples/image_segmenter/README.md

[2020-12-20 08:41] rishabh1212 commented on #821
@harshbafna is it okay if you allow me to take up this issue?

[2020-12-20 17:53] OmriPi commented on #838
@harshbafna Ok, I managed to install from source successfully by creating a new user with an English-only name.
Apparently gradle runs into some problems if the path contains unicode characters.
I built the docker image (with gpu support from master branch) according to the instructions in the link you gave.
I'm getting the following output:

[code]

It looks like everything is in order except for

[2020-12-21 04:22] harshbafna commented on #838
You can use the `--gpus all` flag while starting the docker container to allow access to GPUs.

You have built the container correctly and TorchServe has started normally as well. The CUDA-related messages are just warning and not errors and starting the container with the above flag should resolve that problem as well.

The error generally means there is some proxy server or firewall running on y

[2020-12-21 11:03] harshbafna commented on #58
Closing this as we now have an apache-bench based [benchmarking script](https://github.com/pytorch/serve/blob/master/benchmarks/benchmark.py) which is used for benchmarking TorchServe against different PyTorch models.

[2020-12-21 11:03] #58 closed

[2020-12-21 11:07] harshbafna commented on #41
Closing this due to inactivity and the environment variable restriction can be easily controlled through REGEX. Please reopen if required.

[2020-12-21 11:07] #41 closed

[2020-12-21 11:15] harshbafna commented on #119
We have moved away from the initial design to a plugin-based architecture. And an out-of-box dynamo-db snapshot serializer plugin is under development. The recently released TorchServe `serving-sdk 0.0.4` already allows user to write their own custon snapshot serializer.

Refer #362  and corresponding PR #536

[2020-12-21 11:15] #119 closed

[2020-12-21 11:29] harshbafna commented on #356
Closing as this is already part of the latest master and bert models are part of both sanity and regression suite.

[2020-12-21 11:29] #356 closed

[2020-12-21 11:30] harshbafna commented on #373
Closing as the query has already been answered.

[2020-12-21 11:30] #373 closed

[2020-12-21 11:31] harshbafna commented on #392
Closing this as the query has been answered.

[2020-12-21 11:31] #392 closed

[2020-12-21 12:18] #590 closed

[2020-12-21 12:27] dhaniram-kshirsagar commented on #647
Even though its an old comment, replying it for reference. The requests are tracked using request-id associated with clients request hence corresponding correct response will be sent back to clients.

[2020-12-21 12:27] #647 closed

[2020-12-21 13:29] harshbafna commented on #24
Validated this on the latest master with PT 1.7 on a p3.8xlarge instance with 4 model workers each loaded on a different GPU device and response time is 1.4 seconds

[code]

[code]

[code]

[code]

Closing the ticket.

[2020-12-21 13:29] #24 closed

[2020-12-21 13:51] harshbafna commented on #868
Closing due to inactivity. Please reopen if still facing issue.

[2020-12-21 13:51] #868 closed

[2020-12-22 03:29] dhaniram-kshirsagar commented on #903
@misrasaurabh1  Yes, it supports multiple executions in flight for a single model on different GPUs [If available]. In general, for inference requests, minor time [say around 5% or lesser] goes in preprocessing image data [if needed] and inference is done on GPU using loaded/registered model. So its really not a 30% + 70% combination but much lower.

@misrasaurabh1  It is indeed a small code for C

[2020-12-22 03:34] dhaniram-kshirsagar commented on #903
@misrasaurabh1 At present, we don't have such a report however it is a good idea to have it for reference. Can you please create a separate doc ticket for tracking this?

[2020-12-22 03:48] dhaniram-kshirsagar commented on #661
Replying to the old thread for reference

@yuanshaochen  Number of workers should be tuned per machine configuration used in your deployment. So accordingly CPU usage should be taken care of.

[2020-12-22 03:48] #661 closed

[2020-12-22 04:05] harshbafna commented on #752
Validated this on latest `torchserve:latest-gpu` image

[code]

Closing.

[2020-12-22 04:05] #752 closed

[2020-12-22 04:14] harshbafna commented on #895
Validated that the `torchserve:latest-gpu` docker image is now updated and built with TorchServe 0.3.0.
Also validated both mnist.mar and mnist_v2.mar files.

[code]

[code]

Closing.

[2020-12-22 04:14] #895 closed

[2020-12-22 04:25] harshbafna commented on #760
@alvarobartt: We don't really need the documentation to be so elaborate and generic. We should simply have another example of through python's request module to send an HTTP request to the model as an alternative to the curl request example we already have.

[2020-12-22 04:25] harshbafna commented on #760
Something similar to what we have here:

https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer#serve-the-waveglow-speech-synthesis-model-on-torchserve

[2020-12-22 04:38] harshbafna commented on #828
Closing this as sanity suite is working fine on Windows.

The problem faced by @jeffxtang is already being tracked through #866

[2020-12-22 04:38] #828 closed

[2020-12-22 05:47] harshbafna commented on #734
@punshriv: I tried this on a p3.8xlarge instance with the latest master and still could not reproduce the issue.

**Model Registration**

[code]

**Load test with Apache bench**

[code]

**Input**

[code]

**Apache Bench Report**

[code]

[2020-12-22 05:51] harshbafna commented on #734
Questions:

 - Is there any specific reason to restrict the number of cores to 2? Given that you have set netty threads to 32 which will add heavy thread switching with high concurrency and there will be process switching between frontend and backend for every batch of requests. Overall, the performance will take a hit.

 - Any updates on the fix related to `BUFFER_UNDER_RUN` that you have been tr

[2020-12-22 08:40] alvarobartt commented on #760
Oh cool I see! Then I'll do it later today 👍🏻 Thanks for the info

[2020-12-22 10:35] dhaniram-kshirsagar commented on #780
@skat00sh Yes, it will be nice to have YAML/json as an alternative to command input.

[2020-12-24 17:08] #870 closed

[2020-12-28 03:57] harshbafna commented on #587
Closing due to inactivity. Please re-open in case any other help is required.

[2020-12-28 03:57] #587 closed

[2020-12-28 03:59] harshbafna commented on #838
Closing due to no activity. Please re-open if still facing any issue with docker and/or install from source.

[2020-12-28 03:59] #838 closed

[2020-12-28 03:59] harshbafna commented on #777
Closing as the query has been answered and no response from OP.

[2020-12-28 03:59] #777 closed

[2020-12-28 06:37] lucasxlu commented on #473
Facing the same issue on Ubuntu16.04 with PyTorch1.7.1. Related information is listed as  follows:
[code]

[code]

[2020-12-28 06:43] harshbafna commented on #473
@lucasxlu: Could you please create a fresh ticket with details per the bug report template? Please also share the details of the steps followed

[2020-12-28 22:45] ucb-pb commented on #281
Mac also has this problem for me, but wanted to note here that switching to ubuntu also fixed it

[2020-12-29 04:54] harshbafna commented on #281
@ucb-pb: Could you please create a fresh ticket with setup details and logs. Please also share the docker's memory and CPU configuration.

[2020-12-29 07:51] SysuCharon commented on #473
@harshbafna
thank u
I have solved this problem
Install JDK first and then torch serve

[2020-12-29 12:20] skat00sh commented on #780
Thanks @dhaniram-kshirsagar! Will start working on it soon

[2020-12-29 21:07] lgvaz opened #932 "FasterRCNN scripted fails on forward"
## Context

* torchserve version: 0.3.0
* torch-model-archiver version: 0.3.0
* torch version: 1.7.1+cpu
* torchvision version [if any]: 0.8.2+cpu
* Operating System and version: Ubuntu 20.04

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker container? [yes/no]: no
* Is it a CPU or GPU environment?: CPU
* Using a default/custom handler? [If p

[2020-12-30 03:23] dhaniram-kshirsagar commented on #932
@lgvaz Will look into it. In the meantime can you check this https://discuss.pytorch.org/t/torch-jit-trace-is-not-working-with-mask-rcnn/83244

[2020-12-31 13:23] veronikayurchuk commented on #777
hi, @harshbafna !
Thanks for the provided answer.

This is exactly what I have already done. The problem comes while inferencing the model.
I've got my model by tracing it with `@torch.jit.trace`.
So, as far as I understand I can't use it for batch inferencing with TS as it expects fixed batch size and it wouldn't work if I have got not a full batch.
And the only alternative for me is to use `@tor

[2021-01-04 15:47] vinayaksable2399 commented on #314
how to create egg/zip :
or it's zip file
in extract-file

[2021-01-05 00:26] HamidShojanazeri opened #934 "Captum explanations fails with HF models other than BERT and Token classification explainations fails"
## Context
The Captum explanations in  line 102 of Huggingface example handler is tied to bert embedding which stops the handler from serving for other HF models such as roberta, etc. Also, the target for the Captum explanations in line 246 of the handler, in case of token classification needs to be a tuple presenting the token and the class label for the token. The current target setting makes th

[2021-01-05 13:15] punshriv commented on #734
@harshbafna

This was just the intial configuration done and the idea was to change later depending on load , but i encountered this crash issue which was not because of high CPU , i was constantly monitoring the CPU for the load. The initial assumption was 2 CPU might be sufficient for hte frontend to backend communication as the major processing for the application is done by GPU.Do you have any

[2021-01-07 05:09] cbasavaraj opened #935 "Java errors on Google Compute Engine instance with Ubuntu 20.04"
Hi, I am trying to use TorchServe on a Google Compute Engine instance, as I working from home. Earlier, I've used on a Ubuntu Desktop in our office without any issues. Now I am getting Java errors right after registering my models (three of them, all vision models). Appreciate any help.

## Context
* torchserve version: 0.3
* torch-model-archiver version: 0.3
* torch version: 1.8.0.dev20210104+cu1

[2021-01-07 12:00] cbasavaraj commented on #760
Hi, I have a use case where I need to send an image + a python dict (which is the output of another network). Here is what it looks like using `requests`:
[code]
Would it be possible to treat this case in the handler on the server side? And how? Thanks

[2021-01-07 17:20] cbasavaraj commented on #935
Managed to fix this. Turns out I was running out of RAM with the three models. Solved it by increasing the RAM on the instance. I wonder if TorchServe could make this more obvious?

[2021-01-07 20:43] #935 closed

[2021-01-09 13:53] lgvaz commented on #932
Hi hi, any updates on this?

Looking in hindsight I should've written a message instead of just giving the thumbs up on your message, but yeah, that's exactly the problem I'm facing, and the solution described there (of wrapping the image in a list) does solve the issue.

Now, how can this be addressed with torchserve?

[2021-01-12 07:57] lessenko opened #937 "Add possiblities of usage models with built-in subdirectories"
## Is your feature request related to a problem? Please describe.

I am trying to use universal-sentence-encoder model [https://tfhub.dev/google/universal-sentence-encoder/4](url).
The model has a structure with built-in subdirectories. Currently load model failed.
But if I create the required structure of model on the fly, then everything is working properly.
## Describe the solution

Adding the

[2021-01-13 01:32] #859 closed

[2021-01-13 06:37] ankita4AI opened #938 "multiple image input (batched input) in single request through gRPC"
**Q&A**
As far as I could understand the simple torchserve grpc client given handles only single image in the input data.

Just like In tensorflow, shape is set this way
request.inputs['images'].CopyFrom(tf.contrib.util.make_tensor_proto(data, shape=[1]))

What is the correct way to set shape on the input entry to the prediction request here?

[2021-01-13 12:55] ankita4AI opened #939 "Q. What are the different model formats supported by torchserve"
What are the different model formats supported by torchserve?
Wondering if onnx checkpoint can be used with torchserve.

[2021-01-15 07:08] punshriv commented on #734
@harshbafna any thoughts on my previous comment ?

[2021-01-15 12:47] #937 closed

[2021-01-15 12:57] lessenko opened #940 "Add possiblities of usage TensorFlow models"
## Is your feature request related to a problem? Please describe.

If it were possible, I think it would be useful to support other models, in particular TensorFlow models.
Currently I'm loading Universal Sentence Encoder https://tfhub.dev/google/universal-sentence-encoder/4.
The model works, but the load is not optimal.

Thanks.

[2021-01-15 17:14] maaquib commented on #940
@lessenko TorchServe was built specifically for serving PyTorch models. There is no plan to support TF or other frameworks.

[2021-01-15 17:14] #940 closed

[2021-01-15 18:20] maaquib commented on #938
@ankita4AI There is no specific schema for the request payload ([code](https://github.com/pytorch/serve/blob/5c03e711a401387a1d42fc01072fcc38b4995b66/frontend/server/src/main/resources/proto/inference.proto#L17)). You should be able to pass whatever payload you like and write a [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#custom-handler-with-class-level-entr

[2021-01-15 18:25] maaquib commented on #939
@ankita4AI TorchServe is specifically geared for PyTorch models. We do not support other frameworks.

[2021-01-15 18:25] #939 closed

[2021-01-18 05:55] RickyGunawan09 commented on #335
can you tell me how to solve this ? i can't find any clue about how to make tsconfig file and change the max request size.
what format did you use for make tsconfig file ? or there is another way to change environment variable max request size ?
thank you

[2021-01-18 08:50] lessenko opened #941 "Large memory allocation for Hugging Face Transformer Models"
## Context

* torchserve version: 0.3.0
* torch-model-archiver version: 0.3.0
* torch version: 1.7.0
* torchvision version [if any]: 0.7.0
* torchtext version [if any]: not used
* torchaudio version [if any]: not used
* java version: openjdk version "11.0.9.1" 2020-11-04
* Operating System and version: Ubuntu 18.04.2 LTS

## Your Environment

* Installed using source? [yes/no]: no
* Are you planni

[2021-01-18 12:04] xiaoFine commented on #830
Fixed.
The serve is deployed on CCE, a k8s built by HUAWEI Cloud. It turns out that the loadbalace used an '/healthz'  interface to
 the pod which somehow caused problem above.

[2021-01-18 12:04] #830 closed

[2021-01-19 14:34] ankita4AI commented on #730
@veronikayurchuk was your problem resolved?
I faced the same issue, Since the number of request is still 1, which is inherently carrying 8 inputs.
Updating the postprocess method solved the issue. Since number of predictions will be equal to the number of inputs.
if we return a list of list, this issue will not persist.
Would love to know how you handled it.
Thanks

@harshbafna I have used gRPC wi

[2021-01-19 14:50] ankita4AI opened #942 "gRPC throws error on large input size"
Hello,
gRPC throws an error when the size of input request is bulky, which is not the case with REST requests.
works seamlessly for smaller batch sizes.
Where am I supposed to increase max size parameter?

PFB the error log
debug_error_string = "{"created":"@1611067667.277075000","description":"Error received from peer ipv6:[::1]:7070","file":"src/core/lib/surface/call.cc","file_line":1063,"grpc_m

[2021-01-19 18:29] maaquib commented on #335
@RickyGunawan09 You can find details on how to set config properties [here](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties)

[2021-01-19 18:32] maaquib commented on #941
@lessenko Looks like you have 4 model workers getting started. Each will load its own copy of the model. You can set this to 1 by adding `default_workers_per_model=1` in config.properties at startup. More details [here](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties). Please reopen if this is still an issue.

[2021-01-19 18:32] #941 closed

[2021-01-19 18:35] maaquib commented on #942
@ankita4AI Can you try increasing `max_request_size` parameter to something larger ([doc](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties))

[2021-01-20 00:40] RickyGunawan09 commented on #335
@maaquib thank you

[2021-01-20 06:16] lessenko commented on #941
@maaquib Thanks. I used your recomendation. It works.

[2021-01-20 06:42] ankita4AI commented on #942
hi @maaquib thanks for your response.
But this max_request_size in ConfigManager.java is not the one overriding grpc's message size.
I wonder where grpc client settings are configured. can you point me where we can set max message Inbound size for gRPC.
I can say that with certainty coz its maximum size remains 4194304 no matter the max_request_size set.

please find below ts_logs for more informa

[2021-01-20 06:48] ankita4AI commented on #942
gRPC uses per-message size limits to manage incoming and outgoing messages. By default, gRPC limits incoming messages to 4 MB. There is no limit on outgoing messages.

[2021-01-22 00:29] maaquib commented on #942
Looks like this has to be made configurable on the server side by adding [this](https://grpc.github.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html#maxInboundMessageSize-int-) parameter. Adding this to 0.4 roadmap

[2021-01-22 07:39] ankita4AI commented on #942
I was trying to update startGRPCServer method in ModelServer.java
one can update ServerBuilder's setMaxMessageSize to unlimited.
But struggled at rebuilding torch serve for this build to be used.
Please share steps to do that as well, It would help a lot, Thanks.

[2021-01-22 09:19] aixuedegege opened #943 "how to return Chinese characters with UTF-8 code"
1.  When I use torch sever, I return a list in the **postprocess function** of the handler. Each element of the list is a python dictionary and the dictionary value is Chinese characters. Torch sever directly returns a json with the unicode encoding like "\u59d3". Can I control the return using UTF-8?
2.  In addition, "model-server.jar ”Is there a corresponding document for this? What's his relati

[2021-01-22 16:58] maaquib commented on #942
@ankita4AI You can run the scripts [here](https://github.com/pytorch/serve#install-torchserve-for-development) to build TS from source.

[2021-01-23 22:19] ctlaltdefeat opened #945 "Persistence/threading within handlers"
My application requires me to routinely modify my handler variables (that are external to the pytorch model), in a way that is scheduled independently of incoming requests.
If I were to create a background thread that deals with it and initialize it in the initialization function of the handler, would that work or does the handler "wake up" only when requests are called?

[2021-01-25 15:48] ShiroKL opened #946 "serving with batch, wait only for inference possible ?"
Hello,

It is not really a bug, more a question as I don't know where to ask it. (maybe a feature request ? )

I am currently using batching with torchserve and it seems to work. However, I was wondering if it was possible to "configure" it a little. From my understanding, there is a queue which contains the different requests until it reach a time limit or a number of request. Instead, would it b

[2021-01-26 15:27] velenciucsergiu commented on #476
It is indeed a solution, but, in case you got object KMS encrypted, you might get into trouble.

In the same order of idea-  each object has a download link. You generate a pre-signed URL for the object, keep bucket ACL updated with whitelisted IPs - and object can be donwloaded via link. Yet, KMS encryption still and issue.

And finally, if you can play around the bash script which is launching t

[2021-01-26 17:41] cbasavaraj opened #947 "Model(s) loaded twice on same GPU"
Hi, I have an inference workflow that requires three deep learning models. I am running this on an Ubuntu machine with two GPUs. As per TS documentation, I would expect one worker per GPU per model. But when I load all the models using `--models all`, two of my models get loaded on the same GPU twice. This is counter-intuitive, and may have implications on the inference time. Please see screenshot

[2021-01-28 21:32] nagamanikandank opened #948 "MaskRCNN not serving when using PyTorchServe Docker"
Steps which led me to the bug

1. I downloaded PyTorch Serve Docker image from here --> https://hub.docker.com/r/pytorch/torchserve
2. Downloaded https://download.pytorch.org/models/maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth to my computer in folder  C:/examples
3. Downloaded https://github.com/pytorch/serve/tree/master/examples/ to my computer in folder  C:/examples
4. Created empty folder called mo

[2021-01-29 02:10] khalid-davis opened #949 "Model hot load"
Does pytorch server supoort model hot load?
For example, I've run model 1.0 with torchserver, and I want to replace model 1.0 with model 2.0, and I don't want the service to be unavailable during the replacement.

[2021-01-29 09:23] alvarobartt commented on #760
Sorry for taking too long @harshbafna! I've just updated the example at https://github.com/alvarobartt/serve/blob/python_examples/examples/image_segmenter/README.md following the pattern you requested, let me know if that looks OK to you and I'll apply it to the other examples so as to finally document the Python usage 👍🏻

[2021-01-29 09:26] alvarobartt commented on #760
Hi @cbasavaraj, which handler are you using while generating the MAR? You can handle the format of the input data of the inference request on the handler, but you need to provide more details. 👍🏻

[2021-01-29 09:30] alvarobartt commented on #948
Hi @nagamanikandank, could you please check and share the logs while deploying TorchServe in point 8? I guess that the model is not being properly registered due to some error while generating the MAR, but please share the logs and I'll try to help you as much as I can! 👍🏻

[2021-01-29 18:12] dhanainme commented on #949
You would be able to register multiple models & later set a default model with a set-default-version call. Would is this something similar to what you are expecting ?

https://github.com/pytorch/serve/blob/master/docs/management_api.md#set-default-version

[2021-01-29 18:20] dhanainme commented on #943
Right now we only support Json / unicode. Also, UTF-8 is a particular way of encoding Unicode. Can you please provide some more context on this feature ask ?

Frontend of Torchserve is Java / Netty based HTTP server. model-server.jar  is the compiled jar for the same.

[2021-01-29 18:23] dhanainme commented on #946
Right now both the preprocessing & the inference happens in the Python process while the queuing for Batching happens in the Java Process. Hence this may not be immediately possible with the current architecture.

One way workaround this may be to do the pre processing on client side.

[2021-01-29 18:27] dhanainme commented on #948
A good place to debug would be to do a list model to confirm that the model has been registered.

`curl -X GET http://127.0.0.1:8081/models` should tell you if the model is registered.

[2021-01-29 18:31] dhanainme commented on #945
This should work as long as the model workers registered / running. Essentially the code provided by the user is run as an independent python process. This would imply that this should work.

[2021-01-29 18:35] dhanainme opened #950 "Review / Document the GPU Assignement logic for multiple workers / models"
The GPU id -> Worker / Model assignment behaviour is not consistent / reproducible.

This can be confirmed by registering multiple models / workers. It does not follow a round robin pattern.

[2021-01-29 18:37] dhanainme commented on #950
Also related to #947  / @HamidShojanazeri 's testing with multiple BERT models for 0.3 release.

[2021-01-29 18:41] dhanainme opened #951 "Model Loading times for CUDA 11+PT1.7.1 > CUDA10.2+PT1.7.1"
Based on investigations from @HamidShojanazeri :

https://docs.google.com/document/d/1kt6kg3ebVuc_rSsJwjQGo49EWx0Kiv0BUbt5K62lcsM/edit?usp=sharing

This could be an issue with PT.

Next steps :
Create a simple inference example without Torchserve to validate & report to PyTorch team

[2021-01-29 19:57] ctlaltdefeat commented on #945
I can confirm that this does indeed work and conforms to my requirements, as far as I'm concerned the issue can be closed, although I'll leave it up to you decide what you want to do with it. Thanks!

[2021-01-29 20:09] #945 closed

[2021-01-29 20:47] dhanainme commented on #950
Possible code bug

* GPUs for worker threads seem to be assigned in a round robin manner with an atomic integer `gpuCounter `. This counter is incremented once every time a worker is created (does not matter if they belong to the same model or not)

* However the modulus performed on this universal `gpuCounter` is based on a per model config `getNumberOfGpu()`.

Example

Initially gpuCounter = 0

[2021-01-29 23:12] nagamanikandank commented on #948
@alvarobartt  and @dhanainme , Thanks for your quick response

`curl -X GET http://127.0.0.1:8081/models` provides the following response

`
{
  "models": []
}
`
Attaching the logs generated after this command `torchserve --start --model-store /home/model-server/model-store --models maskrcnn=maskrcnn.mar`

`
$ torchserve --start --model-store /home/model-server/model-store --models maskrcnn=maskrc

[2021-01-30 00:49] alvarobartt commented on #948
It looks like the model is not being registered somehow... I'll try to reproduce those steps tomorrow and let you know which is the issue! 👍🏻 And the solution if possible!

[2021-02-01 04:05] aidan-fitz opened #963 "Pass model constructor parameters to TorchServe"
## Is your feature request related to a problem? Please describe.

I am creating a PyTorch model with a variable number of `nn.Conv2d` layers that are stored in an `nn.ModuleList`. These layers are created during training, not initialization. Trying to load the `nn.Conv2d` parameters from the `state_dict` into an empty `nn.ModuleList` for inference throws the following error:
[code]

## Describe t

[2021-02-01 08:54] aixuedegege commented on #943
Hi. Thank you for your reply. I have a ner model and the model return label directly. It is a json. It looks like `{
    "姓名":"程序猿",
    "年龄":"23岁",
    "职业":"码农"
}` .Eache label is the key in json. When I call my model with curl cmd or browser I just see `{"\u59d3\u540d":"\u7a0b\u5e8f\u733f","\u5e74\u9f84":"23\u5c81", "\u804c\u4e1a":"\u7801\u519c"}`. My colleagues received unicode code and need t

[2021-02-01 22:12] HamidShojanazeri commented on #951
@dhanainme @chauhang To better understand the difference between Cuda 11 vs 10.2 and their effect on the performance/ benchmark results of toechserve v0.3, we made a simple script that loads a BERT model and measures the time for following cases: 1. Copying input data from cpu to gpu, 2. Loading the model to gpu and make inference 3. Run 50 inferences to average the time of the inference.
The test

[2021-02-02 02:40] khalid-davis commented on #949
It seems that I need to register all models first. However, if the new model does not exist at the beginning but is trained later, I hope that the old model can be replaced with a new model without service interruption. The `set-default-version`  does not support this scenario. Of course, I can fulfill my needs by gray upgrade.

[2021-02-02 02:43] khalid-davis commented on #949
In kfserving, maybe I can work with model_config_file_poll_wait_seconds and modify model config file to implement hot loading requirements.

[2021-02-02 15:27] cbasavaraj commented on #942
Hi, I tried changing client side code just like @ankita4AI . Can confirm that it's not enough. Looking forward to server side changes in v0.4. Thanks

[2021-02-02 18:04] maaquib commented on #949
@khalid-davis You can register a new version of the model while TorchServe is still running by calling the [register model](https://github.com/pytorch/serve/blob/master/docs/management_api.md#register-a-model) API and then calling the [set-default](https://github.com/pytorch/serve/blob/master/docs/management_api.md#set-default-version) model API on the newly registered one.

[2021-02-03 01:25] khalid-davis commented on #949
OK, thanks.

[2021-02-03 01:25] #949 closed

[2021-02-03 18:12] maaquib commented on #963
@aidan-fitz You can write a [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#custom-handlers) where you can define how your model is loaded. Please reopen if you need any further help. ([example](https://github.com/pytorch/serve/blob/master/examples/image_classifier/vgg_11/vgg_handler.py)).

[2021-02-03 18:12] #963 closed

[2021-02-04 02:09] aidan-fitz commented on #963
Thanks, I'll try this.

[2021-02-04 10:32] alvarobartt commented on #948
Hi @nagamanikandank and @dhanainme! ✋🏻

I've tested it already and the error seems to be coming from the latest `torchserve` update, as the MaskRCNN model can be server properly using the v0.2.0 release, but when using the latest one (v0.3.0) it seems to break. The issue comes when retrieving the handler as it throws the following error while registering the model: `ModuleNotFoundError: No module

[2021-02-04 10:42] alvarobartt commented on #948
Anyway, as a temporary fix for you @nagamanikandank, you can reproduce the following steps as this does work over a plain Ubuntu Docker image:

[code]

And then without closing that Docker container, from a new terminal use the following set of commands to make sure that the model was registed:

[code]

And it should output something like:

[code]

Hope this helped you! 🔥 At least as a fix while t

[2021-02-04 18:59] DSLituiev opened #964 "Custom handler file with multiple classes: not selecting the first one"
According to [docs](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#custom-handler-with-class-level-entry-point), if two classes are present in a handler file, the first one will be used. However, that's not what happens, and I get an error while serving. Additionally, specifying the handler class with `--handler handler.py:HandlerClass` yields an error during archival.

I have

[2021-02-04 19:14] maaquib commented on #964
@DSLituiev
* Issue 1: This seems to be an issue with the docs being outdated. Will update
* Issue 2: Can you try archiving with `--handler handler:ClassifierFeatureExtractor` and let me know if it works https://github.com/pytorch/serve/tree/master/model-archiver#handler

[2021-02-04 19:56] DSLituiev commented on #964
method 2  worked, at least I don't see an error. dealing with other errors now

[2021-02-04 20:21] DSLituiev commented on #964
There still might be a remaining issue here:

[code]

I inserted a log statement after line 130 in `ts/model_loader.py`:

[code]
Output:
```initializing module <module 'original_baidu_handler' from '/tmp/models/6c7b776e96b84c56be6a773281e62ce3/original_baidu_handler.py'>.BaiduClassifierFeatureExtractor()```

Which makes me think it treats the class as if it were a function

[2021-02-04 20:26] DSLituiev commented on #964
specifying `--handler handler:ClassifierFeatureExtractor.handle` brings me back to the same error:
[code]

[2021-02-04 21:08] maaquib commented on #964
@DSLituiev As I mentioned for the first issue, the docs are outdated. Looks like TS [doesn't support](https://github.com/pytorch/serve/blob/abcaf1a062dd2dd60352955bdd5ecfbf08cf3b47/ts/model_loader.py#L136) multiple classes in the handler right now. Would it be possible to reorganize your code to have only a single class in handler.py?

[2021-02-04 21:15] DSLituiev commented on #964
I didn't have a function as entry point initially. I though a class would do the job from docs.

Now I wrapped the class into a function
[code]

and compiled with `--handler  handler:handle`.

Still getting a tons of logs that are really hard to parse by eye and it keeps restarting. Is there a way to tell it to exit on error? Or any other way to separate Python logs from the rest?

[2021-02-04 21:18] DSLituiev commented on #964
I keep seeing messages "File xyz.py in fuction blahblah", but I can't see the actual exception.

[2021-02-04 22:02] maaquib commented on #964
Would it be possible for you to share your handler code? If not I'll try and code up something similar and see if I can reproduce the issue.

[2021-02-04 22:43] DSLituiev commented on #964
What I see is that the handler is called when I start the server and before I pass any request:
`torchserve --start --model-store model_store --models resnet18-baseline=esnet18-baseline.mar`

I see the server fails in  [`ts/model_loader.py:104`](https://github.com/pytorch/serve/blob/master/ts/model_loader.py#L104), while calling   `initialize_fn(service.context)`. The latter is defined as `initial

[2021-02-04 22:45] DSLituiev commented on #964
Thank you for looking into it.
Her is the [code](https://gist.github.com/DSLituiev/4d4bbf51a8bbdcd46d6b24f0fa76e15a)

[2021-02-04 22:49] nagamanikandank commented on #948
@alvarobartt Thanks a lot for your reply.

I followed the steps you have mentioned and `curl -X GET http://127.0.0.1:8081/models`  returns me the following output successfully

[code]

But, there are a lot of errors in the logs and when I try to inference from model using command `curl http://127.0.0.1:8080/predictions/maskrcnn -T persons.jpg` , the CURL command doesn't get any result and waits in

[2021-02-04 22:54] alvarobartt commented on #948
Yeah @nagamanikandank, the error seems to be coming from the `object_detector` Torch handler, but I don't really know why this is about... I'll do more research on this issue and will let you know the outcome of it! 💪🏻 And a solution in the best-case scenario.

[2021-02-04 22:56] alvarobartt commented on #948
Did you installed `torch`? @nagamanikandank Because besides the ModuleNotFound error over the `object_detector` there also seems to be another one regarding `torch` as it follows:

[code]

[2021-02-04 23:06] alvarobartt commented on #948
Please, test this and let me know if that works:

[code]

And the once deployed share with me the output of the following commands:

[code]

Thank you!

[2021-02-04 23:19] nagamanikandank commented on #948
@alvarobartt Thanks for quick reply

You are correct, PyTorch is not getting installed correctly, I don't know why ?

Attaching the commands I am executing to install PyTorch. At the end of the install, it shows `Killed`. I am not sure why that happens

[code]

[2021-02-04 23:22] alvarobartt commented on #948
Try:

[code]

And then start TorchServe again!

[2021-02-04 23:30] nagamanikandank commented on #948
@alvarobartt I re-installed Torch with following command
`python3 -m pip install torch --no-cache-dir`

I started torch serve after that and there was no error!!!

But, the prediction is failing with the `persons.jpg` provided in examples folder

The error is,

[code]

Errors from the log file when trying to inference

[code]

[2021-02-04 23:36] alvarobartt commented on #948
Can you try:

[code]

[2021-02-04 23:40] nagamanikandank commented on #948
@alvarobartt ,

Same error when I run `curl -X POST http://127.0.0.1:8080/predictions/maskrcnn -T persons.jpg`

Attaching the error

[code]

[2021-02-04 23:45] alvarobartt commented on #948
Mmm that's a PIL error, but if you are using the image provided in the docs you should be good! Anyway, you can also try this Python code to test whether the error is coming from the Torch Handler or from the Inference API.

Install the requirements:

[code]

Run this Python code:

[code]

[2021-02-04 23:52] nagamanikandank commented on #948
@alvarobartt I had to redownload the image and it worked !!!

Attaching all the steps that worked for me. Thanks a lot !!!

[code]

[2021-02-04 23:53] alvarobartt commented on #948
Cool! I'm glad I could help you 👍🏻 I think you can close the issue now, or maybe @dhanainme wants to ask anything else before you do so.

[2021-02-05 01:58] wangs0007 opened #965 "How to change loadedAtStartup to be true while registering a model?"
## 📚 Documentation

When a model is registered loadedAtStartup is false by default. Is this option related to model pre-load? Is the model supposed to be loaded all time if this is set to be true? And how exactly do we change it while registering a model? Thank you in advance.

[2021-02-06 04:25] DSLituiev commented on #272
I had a similar problem. Cleared the `logs` and it worked.
It's a very confusing error message. Is there a way to do something about the message or clean the logs automatically?

[2021-02-06 04:32] DSLituiev commented on #964
I was able to resolve it by moving the transform class into a separate file and passing the latter under the `--extra-files`.

[2021-02-06 04:57] DSLituiev commented on #29
I ran into a similar issue when following an example [here](https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_152_batch):

[code]

I plugged in my own model. Is it an outdated piece?

[2021-02-06 14:49] DhyeyPatel1416 opened #966 "No module named 'image_classifier' when following steps given in densenet161 example"
## Steps to Reproduce
follow the steps in examples(densenet161) in wsl
error caused in : torchserve --start --ncs --model-store model_store --models densenet161.mar

## Failure Logs [if any]
2021-02-06 20:16:32,717 [INFO ] main org.pytorch.serve.ModelServer -
Torchserve version: 0.3.0
TS Home: /home/dhyey0adp/.local/lib/python3.8/site-packages
Current directory: /mnt/c/Users/dhyey.LAPTOP-EONE31F8/

[2021-02-06 15:07] DhyeyPatel1416 commented on #314
how to add a folder as extra files
?

[2021-02-06 16:00] DhyeyPatel1416 commented on #966
[](url)

[2021-02-06 16:03] DhyeyPatel1416 commented on #966
any ideas

[2021-02-08 11:05] alvarobartt commented on #966
Hi @DhyeyPatel1416, this is a similar issue to #948 as you are having a similar problem when using the default TorchServe handlers, so please read the solution and check whether that does work for you or not! 👍🏻

[2021-02-08 11:09] alvarobartt commented on #966
__This has not been tested previously!__ But you can try something similar to:

[code]

And then from another terminal open a connection to the running Docker container as it follows:

[code]

Let me know if that worked for you! 💪🏻

[2021-02-08 12:40] cbasavaraj opened #967 "RAM Usage"
Hi, I noticed that TorchServe takes up a lot of RAM. This is unexpected, especially as the models run on GPU and take up space there too. In my particular case, I have 2 GPUs and 3 models for a particular inference chain, and `nvidia-smi` shows that the 3 models x 2 GPUs take approximately 6 GB on the GPUs (i.e. ~ 1 GB per model per GPU). At the same time, `htop` shows that they are also occupying

[2021-02-09 04:09] DSLituiev commented on #631
I've built torchserve from the Dockerfile and passing my own model to it.
Error:

[code]

[2021-02-09 07:53] zeyu-liu opened #968 "Register multi-model error"
When I serving two models simultaneously, I found that the prediction procedure was very very slow. I checked the log file and found models were re-started again and again. It seems that I cannot register two models at same time. And I tried to register one model and tested it multi times, everything is OK. So, what happened?

Parts of the log file:
[log](https://gist.github.com/zeyu-liu/d0acbfbb7

[2021-02-14 00:53] chauhang commented on #911
Documentation updated with details

[2021-02-14 00:53] #911 closed

[2021-02-14 00:59] chauhang commented on #914
@lxning  Is there any update on this?

[2021-02-15 02:50] DhyeyPatel1416 commented on #966
works fine with torchserve 0.2.0 but not with latest one, hence i'm keeping this issue open until it gets fixed in torchserve !

[2021-02-15 03:04] lxning commented on #914
@chauhang it was fixed in [pr916](https://github.com/pytorch/serve/pull/916)

[2021-02-16 07:52] DSLituiev opened #969 "Batch Mode Documentation: broken URLs"
in https://pytorch.org/serve/batch_inference_with_ts.html#batch-inference-with-torchserve-using-resnet-152-model

in [TorchServe Model Configuration](https://pytorch.org/serve/batch_inference_with_ts.html#torchserve-model-configuration)

[2021-02-16 07:54] DSLituiev commented on #969
`Transformer_handler_generalized.py` is mentioned elsewhere in .md files on this repo, but doesn't seem  to be available any longer.

Do you have any docs for batch inference on CNNs?

[2021-02-16 14:28] toretak opened #970 "Custom model requirements in docker"
First of all, I would like to thank for such a great tool!
I have been searching for this issue, but nothing came up. Please forgive me if I missed it somewhere.

Let's have model with custom handler and custom requirement placed in requirements.txt attached to mar file.

in **config.properties** file is `install_py_dep_per_model` set to true
[code]

But docker run on latest torchserve ...
[code]

[2021-02-17 00:26] dhanainme commented on #970
This is a bug as the intention is to allow users to provide req.txt file. This appears to be missing - https://github.com/pytorch/serve/blob/master/docker/Dockerfile.dev#L46

Have tagged this for the next release. Feel free to send a PR if you have made the change.

[2021-02-17 00:29] dhanainme commented on #969
Are you referring to this ?

https://github.com/pytorch/serve/blob/eda7d586791a7192e7f664ff50dcedfbb5d5fef9/examples/Huggingface_Transformers/Transformer_handler_generalized.py

[2021-02-17 00:32] dhanainme commented on #968
Can you please confirm if you are able to perform inference in a simple python script without TorchServe. As its not clear why the backend python worker as died (no stack trace) this could be difficult to diagnose.

[2021-02-17 01:06] dectl commented on #631
Same problem here..

[2021-02-17 01:20] DSLituiev commented on #631
what torchserve version is SM running?
I figured my model built on 0.3.0  breaks with 0.1.0 docker container

[2021-02-17 02:00] HamidShojanazeri commented on #875
@shrinath-suresh @fbbradheintz seems the issue has been resolved with support for transformers>3.0, I could successfully test it with transformers==3.0.2 and 4.3.2.
[issue_875.logs.txt](https://github.com/pytorch/serve/files/5992724/issue_875.logs.txt)

[2021-02-17 18:45] HamidShojanazeri commented on #898
Captum has been added to the [dockerfile](https://github.com/pytorch/serve/blob/master/docker/Dockerfile#L66) and requirements which is being used by [dockerfile.dev](https://github.com/pytorch/serve/blob/master/docker/Dockerfile.dev#L56) in case of building image for dev env. I could successfully test it.
[issue_898.logs.txt](https://github.com/pytorch/serve/files/5997869/issue_898.logs.txt)

[2021-02-17 18:46] #898 closed

[2021-02-17 18:46] #875 closed

[2021-02-17 21:41] VladYushchenko commented on #966
Have the same issue as @DhyeyPatel1416
It works with torchserve==0.2.0, but not with torchserve==0.3.0

[2021-02-18 21:08] maaquib opened #975 "Add build support for Python 3.9"
Add Python 3.9 build support to TS0.4+PyTorch 1.8.0

[2021-02-18 23:49] HamidShojanazeri opened #976 "Failing to trace Huggingface models on one device and inferencing on other device."
## Context
 Using Trace API from Torchscript and tracing HF Models on one device (e.g. cpu) and running inference on another device (gpu) run into some issue with device inconsistency. Some of the inputs such as position_ids get hardcoded to the device that it's been traced on. This issue exist in multi-gpu setting as well, when tracing on one GPU (e.g. GPU:id0) and running inference on another GP

[2021-02-18 23:57] HamidShojanazeri commented on #479
@chauhang Currently the HF model being traced on gpu can be run on machines with same one gpu. However the issue with tracing HF models on one gpu and running inference on another gpu in a multi-gpu setting is yet to be solved [issue#976](https://github.com/pytorch/serve/issues/976).

Logs of tracing Bert model on one gpu and running inference.

[BERT_seq_cls_traced_one-gpu.logs.txt](https://githu

[2021-02-18 23:57] #479 closed

[2021-02-19 05:46] kosehy opened #977 "MANAGEMENT API documentation: broken URLs"
## 📚 Documentation

Inference API / Management API description output link is broken in
https://pytorch.org/serve/management_api.html

[Inference API description output](https://pytorch.org/frontend/server/src/test/resources/inference_open_api.json)
[Management API description output](https://pytorch.org/frontend/server/src/test/resources/management_open_api.json)

[2021-02-22 04:05] DSLituiev commented on #969
@dhanainme yes.

Another question / request: The [example](https://pytorch.org/serve/batch_inference_with_ts.html#batch-inference-with-torchserve-using-resnet-152-model) for CNN batch mode demonstrates how to send one image and get  back prediction. How can one make sure from just one image that it's running in batch mode?

I tried sending several images, and I don't see any speed-up with batch mo

[2021-02-22 04:10] DSLituiev commented on #969
Another moment of confusion is regarding the handling. Do I need to modify `VisionHandler` or is it already compatible?

I don't see any special secret sauce in the `TransformersSeqClassifierHandler` that you've attached. The `preprocess()` has a very similar loop that collects data into a batch.

in `ts.torch_handler.vision_handler.TransformersSeqClassifierHandler`:
[code]

in `VisionHandler`:

[

[2021-02-22 04:27] aniketmaurya commented on #969
One more question, how do I send batch images from client side only. Say 4 images at a time?

[2021-02-22 13:27] zeyu-liu commented on #968
Yes, and I also tried to serve these models separately. Everyone was worked well.

[2021-02-22 13:32] zeyu-liu commented on #968
I put both models into a directory named 'model-store'. And I used the POST method "models" as it is said in DOC.

[2021-02-22 14:23] zeyu-liu commented on #968
I tried to serve these models on a CPU machine, with same version of torch / torchvision / torchserve. No worker died event occurred.

[2021-02-23 02:02] lxning commented on #950
- Test case1: 2 models on 4 gpus, default_workers_per_model = 0
docker run --rm -it --gpus all -p 8080:8080 -p 8081:8081 -p 8082:8082 -p 7070:7070 -p 7071:7071 -v ~/serve/benchmarks/model_store:/home/model-server/model-store pytorch/torchserve:latest-gpu torchserve --model-store /home/model-server/model-store --models all

curl http://localhost:8081/models/
{
  "models": [
    {
      "modelName":

[2021-02-23 02:51] lxning commented on #947
I could not reproduce this bug.

Teat case1: 3 models on 4gpus
- curl http://localhost:8081/models/
{
  "models": [
    {
      "modelName": "resnet-18",
      "modelUrl": "resnet-18.mar"
    },
    {
      "modelName": "squeezenet1_1",
      "modelUrl": "squeezenet1_1.mar"
    },
    {
      "modelName": "vgg11_v2",
      "modelUrl": "vgg11_v2.mar"
    }
  ]
}

- curl http://localhost:8081/models

[2021-02-24 17:13] cbasavaraj commented on #947
Thanks for the response. I'll check again on my side and get back to you tomorrow or Friday.

[2021-02-24 19:35] lxning opened #980 "Add unit test for gRPC APIs"
## Is your feature request related to a problem? Please describe.

Add unit test for gRPC APIs.

## Describe the solution

## Describe alternatives solution

[2021-02-24 21:38] lxning commented on #966
The root cause is "captum" is missing in 0.3. I tested on master. It works.
torchserve --start --ncs --model-store model_store --models densenet161.mar

 curl http://localhost:8081/models/
{
  "models": [
    {
      "modelName": "densenet161",
      "modelUrl": "densenet161.mar"
    }
  ]
}

[2021-02-24 21:38] #966 closed

[2021-02-25 09:39] hal-314 opened #981 "Allow to use custom handlers from pip packages"
First of all, many thanks for developing TorchServe!

## Is your feature request related to a problem? Please describe.

You need to specify a file to use a custom handler.

This requirements prevents for code reusing. For example, your custom handler can't extend other custom handlers.  Also, helper classes or custom transforms must be defined in the same file and can't be reused by other handler

[2021-02-25 15:28] AtsunoriFujita commented on #631
In my case, just ran the code below
https://github.com/shashankprasanna/torchserve-examples

What's wrong?

[code]

[2021-02-25 16:47] maaquib commented on #631
@AtsunoriFujita Can you please provide the server side logs from https://us-west-2.console.aws.amazon.com/cloudwatch/home?region=us-west-2#logEventViewer:group=/aws/sagemaker/Endpoints/torchserve-endpoint-2021-02-25-14-41-08

[2021-02-25 17:04] AtsunoriFujita commented on #631
@maaquib

Thank you for your reaction
This is the error I tried again and reproduced.

[code]

[2021-02-26 10:31] cbasavaraj commented on #947
Hello, I checked. Turns out I was not using the torch.device at all in two of my model handlers. Corrected now, and it works fine. Thanks.

[2021-02-26 10:31] #947 closed

[2021-02-26 11:14] tq010or opened #982 "User provided vocab is not used in HuggingFace examples"
## Context
I am trying to deploy a sentiment-analysis model from Huggingface ([nlptown/bert-base-multilingual-uncased-sentiment](https://huggingface.co/nlptown/bert-base-multilingual-uncased-sentiment)). It seems the given example (Transformer_handler_generalized.py) cannot recognise my provided vocab.txt file.

## Your Environment
* torch==1.7.1+cpu
* torch-model-archiver==0.3.0
* torchaudio==0.7

[2021-02-27 02:18] #946 closed

[2021-02-27 06:49] lxning commented on #970
verified on master branch
steps:
1. cat requirements.txt
transformers==4.0.0
2. torch-model-archiver --model-name maskrcnn --version 1.0 --model-file model.py --serialized-file maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth --handler object_detector --extra-files ../index_to_name.json --requirements-file requirements.txt
3. torchserve  --model-store /home/model-server/model-store --models maskrcnn.mar
4.

[2021-02-27 06:49] #970 closed

[2021-02-27 19:10] chauhang commented on #965
@wangs0007 Please use the [Scale Workers](https://github.com/pytorch/serve/blob/master/docs/management_api.md#scale-workers) after model registration for loading the model and starting actual worker threads.

[2021-02-27 19:13] chauhang commented on #932
@lgvaz Please use eager mode deployment for now. Torchscript support for detectron models is coming as part of PyTorch 1.8 release next week

[2021-02-27 21:26] collinarnett opened #984 "RuntimeError: Could not run 'aten::empty_strided' with arguments from the 'QuantizedCUDA' backend."
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

Trying to use a quantized version of GPT2-XL for language generation. Currently deploying locally before

[2021-02-28 11:18] lgvaz commented on #932
@chauhang just to be clear, I'm using torchvision and not detectron

[2021-03-01 03:30] softmurata opened #985 "Custom Handler for cyclegan but I have troubling with errors and not start REST API"

[2021-03-01 06:53] prajwaljpj commented on #985
@softmurata Even i am facing the same `ModuleNotFound` error. Were you able to solve this issue? If so can you please share your solution?

[2021-03-01 06:56] prajwaljpj commented on #985
Did you give your model folder as a `--extra-files` parameter while creating your `.mar` file? I think this is the reason your code is not able to find model -> Generator

[2021-03-01 18:34] lxning commented on #964
@DSLituiev I'm going to close this bug. Please feel free to reopen it if you find new issues.

[2021-03-01 18:34] #964 closed

[2021-03-01 19:20] DSLituiev commented on #964
@lxning I believe this still needs to be documented properly.

[2021-03-01 22:52] lxning commented on #631
The root cause is the [Dockerfile](https://github.com/shashankprasanna/torchserve-examples/blob/master/Dockerfile) missed captum. This issue was already fixed and verified in [issue_966](https://github.com/pytorch/serve/issues/966)

[2021-03-01 22:52] #631 closed

[2021-03-02 08:19] Ark-kun opened #987 "Built-in Handler for regression"
## Is your feature request related to a problem? Please describe.

Every model ultimately transforms an input tensor (array of numbers) to an output tensor (another array of numbers). This is the general case, yet there is no handler that could handle such a model.

## Describe the solution

The base handler or a some new regression_handler should handle the case of predicting from a JSON list of

[2021-03-02 09:27] softmurata opened #988 "I tried examples of nmt transformers, but I ran into error."
Hello. I am a beginner of torchserve and I want to use translation model(nmt Transformer), but when I executed ./create_mar.sh and start torchserve, I ran into following error.
[code]
I searched issue on nmt Transformer and I found same errors which occured before. But I could not find solution against this problem. Please give me some advices or ideas in order to solve this problem.

[2021-03-03 09:48] neoragex2002 opened #989 "How to get the URL parameters within the custom inference handler?"
Hi guys, recently I'm writing an custom service handler for yolov5. However, I have no idea about how to get the GET url parameters in the inference handler.

For example:
[code]
How can I get the value of ``my_parameter`` in my custom service handler?

I know that I could pass the parameters within the multipart/form-data or json body to my service handler. But I can't, because the API signature

[2021-03-03 12:19] hellodario opened #991 "Pytorch model issues"
Hi there,
I am trying to run the ESG BERT model for sustainable reporting analysis created by mukut03

https://github.com/mukut03/ESG-BERT

Unfortunately, I receive the following error, which I believe is related to the model having some issues

I also attach the bigger log in case useful
[ts_log.log](https://github.com/pytorch/serve/files/6075876/ts_log.log)

can someone help please?
thank you
Da

[2021-03-03 12:28] hellodario commented on #991
I can also see other users found useful to check the custom handler. please find it attached. This material has been developed by mukut03 and all credits to him!

[handler.txt](https://github.com/pytorch/serve/files/6075930/handler.txt)

thanks!
Dario

[2021-03-03 22:11] #942 closed