[2021-03-04 02:26] lxning opened #993 "Make --serialized-file argument optional"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.
This issue is reported in https://github.com/aws/sagemaker-pytorch-inference-toolkit/issues/86
## Context

* torchser

[2021-03-04 12:56] jcampbell05 commented on #733
This would be very useful

[2021-03-04 18:51] Squeeezeee commented on #991
Hello,
Did you manage to start mukut03 with this new handler?
I copy paster custom one that you provided, but backend worker still dies...

[2021-03-04 20:07] hellodario commented on #991
hi there thanks for response

no. mukut03 did both the model and the handler.

[2021-03-05 02:37] lxning commented on #943
Can you check if your model define response content-type as "utf-8"? If not, please try call "set_response_content_type" ([example](https://github.com/pytorch/serve/blob/master/frontend/modelarchive/src/test/resources/models/noop_no_archive/noop/service.py#L85) to see if it can work.

[2021-03-05 05:17] HamidShojanazeri commented on #466
PR #996 will address this issue.

[2021-03-05 05:17] #466 closed

[2021-03-05 05:23] lynx97 opened #997 "Torchserve cannot run with MMS at the same time?"
when I start mxnet-model-server, torchserve detects that torchserve is running, so I cannot start torchserve?
Thanks

[2021-03-05 20:54] nagamanikandank opened #998 "MaskRCNN Example Inferencing runs for long time with no error and no output"
I was able to install PyTorch Serve on WSL and Register the MaslRCNN example model provided in Github.

To start the PyTorch server, I provided a `config.properties` with following configuration

[code]

When I hit this URL --> `curl -X GET http://127.0.0.1:9091/models`, I could see the model registered fine  with the following result

[code]

The status of inference server also return healthy, wh

[2021-03-06 21:48] Ark-kun commented on #721
The change breaks the error reporting.
It's very confusing when the system tells you that file does not exist even though it clearly does.

[2021-03-08 06:54] prajwaljpj commented on #353
@jeon30c For now you can just stream it externally and send it as a batch as your input.

[2021-03-08 07:54] jeon30c commented on #353
@prajwaljpj Oh. Glad to hear that. Can you give me examples/documentations link for that?

[2021-03-08 10:30] prajwaljpj commented on #353
You can use [torch.split](https://pytorch.org/docs/stable/generated/torch.split.html) to split your input tensor to pieces. Then feed these pieces to your server. Outside the server you can write a function to join these into one.

[2021-03-08 20:24] mattvan83 opened #1001 "How to deploy on the cloud sentence transformer from the UKPLab from"
Hi community,

How could I practically deploy on the cloud pre-trained sentence transformer from the UKPLab ?

I saw the issue #681 and customisation proposed but didn't know whether it was intended for cloud.

Secondly, once deployed on cloud how to configure at scale?

Thanks !

[2021-03-09 00:39] HamidShojanazeri commented on #991
@hellodario The error, that I see in your logs is indentation error (if you open the logs and search for it, you will find it), other than the indentation errors, if you are using the latest torchserve version, the handler needs some changes to adopt the BaseHandler and recent changes. I have attached the modified handler that worked on my side along with server side logs.
Please let me know if yo

[2021-03-09 00:49] HamidShojanazeri commented on #1001
@mattvan83  can please provide more context on what cloud service you need to deploy your model and also steps to produce the .mar file(handler, etc.). [Here](https://aws.amazon.com/blogs/machine-learning/serving-pytorch-models-in-production-with-the-amazon-sagemaker-native-torchserve-integration/) is a tutorial for deploying Bert model form Huggingface on sagemaker, also you can read more on usin

[2021-03-09 04:26] kosehy opened #1002 "Fix typo in pytorch/serve"
## 📚 Documentation

The example of latest-gpu tag in [Start GPU container](https://github.com/pytorch/serve/tree/master/docker#start-gpu-container),

[code]
should be
[code]

If you do not change above tag, then you will face below error
[code]

[2021-03-09 06:46] Shobhit20 opened #1003 "GPU memory increasing with every request"
We have 3 models each having mar file of ~800 mb deployed on a machine with 11gb gpu space available. The model on loading using torchserve start command occupies roughly around 6gb(1.1gb is preoccupied) of space but with each subsequent requests it receives the memory keeps on growing.
Within receiving 4-5 requests the memory grows to ~8gb and keeps on growing until eventually one of the models s

[2021-03-09 08:18] mattvan83 commented on #1001
@HamidShojanazeri ideally I would like to deploy on OVH Cloud and I am interesting not in BERT model from HuggingFace but in `SentenceTransformer('stsb-xlm-r-multilingual')` model from the UKPLab repository.

I admit, I am pretty newbie regarding deployment so I can't describe the needed steps regarding deployment to the cloud service. Could you kindly address me to the correct sequence of steps t

[2021-03-09 08:37] hellodario commented on #991
Thanks Hamid, it worked!!

Last question if I may. I am now trying to predict multiple sentences in the same file. How should I modify the handler to iterate through rows of the predict.txt?

Will post your solution in my thread other side

Can i send you a beer / softdrink on Revolut / paypal ?  :)

thanks
Dario

[2021-03-09 11:02] Squeeezeee commented on #991
@hellodario  Whats the output that you are getting? Because when I run the senteces from .txt file, I just get 12,14,25 but not the actual classes name.
Can you share abit of details on that? really appriciated

[2021-03-09 16:55] Squeeezeee commented on #991
Thats wiered as I do not get the label_dict.txt created at all. That output that your provided as screenshoot I saw it at muku03 account.

But when I run curl command I get following:
INPUT:
squeezee@SQ-MBP ESG_NLP % curl -X POST http://127.0.0.1:8080/predictions/bert -T predict.txt

OUTPUT:
16%

Thats it.

[2021-03-10 10:59] hellodario commented on #991
I solved this by myself doing the requests through python + pandas apply. thanks

[2021-03-10 10:59] #991 closed

[2021-03-10 21:36] ayushch3 opened #1004 "Using json as input for pytorch serve"
## Context
I am using the mbart model from facebook and wrote a custom handler to make it work. It looks like all the examples on this repo have a text file as input. For a translation model, the needed input is simply the text, source and target language. I am unable to figure out what the preprocessing function should be so that the input can be passed as json data.

## Your Environment
[code]

[2021-03-11 00:19] lxning commented on #975
Test the following cases in python3.9 environment. All the tests passed.
-  python ./ts_scripts/install_dependencies.py --environment=dev —coda cu110
        * sudo apt-get install python-apt
        * cd /usr/lib/python3/dist-packages
        * sudo ln -s apt_pkg.cpython-38-x86_64-linux-gnu.so apt_pkg.so
        * curl https://sh.rustup.rs -sSf | sh #install rust compiler

- python ./ts_scripts/i

[2021-03-11 04:37] HamidShojanazeri commented on #1004
@ayushch3 your preprocessing looks fine, once easy way would be to use input similar to this example in [QA](https://github.com/pytorch/serve/blob/worker_optimization/examples/Huggingface_Transformers/QA_artifacts/sample_text.txt) or the other way could be setting the service_envelope=body in the config.properties and then you can send the json file as the input as mentioned [here](https://github.

[2021-03-11 08:52] covix opened #1005 "macOS dependencies fails to install with HomeBrew>=2.7"
## Context

* Operating System and version: macOS (Big Sur) with HomeBrew 3.0.5

## Your Environment

* Installed using source? no
* Are you planning to deploy it using docker container? no

## Expected Behavior

Installing dependencies with `python ./ts_scripts/install_dependencies.py` works as intended

## Current Behavior

When installing on macOS, installing java with brew fails without interr

[2021-03-11 18:22] lxning opened #1006 "Typo in docker instruction"
## 📚 Documentation

For creating GPU based image with cuda version 10.2:
./build_image.sh -bt dev -g -cv cu110

should be 11.0

[2021-03-11 19:29] lxning commented on #969
@DSLituiev Usually batching is useful to improve performance in GPU host, but not guaranteed. You can use [benchmark-ab.py](https://github.com/pytorch/serve/tree/master/benchmarks#benchmark) to tune batch_size and check the latency difference.

[2021-03-11 19:34] lxning commented on #969
@aniketmaurya Here batching means server processes multiple incoming requests together. In other words, it is not necessary for clients to batch.

[2021-03-11 20:44] lxning commented on #934
I installed TS from master branch. Run the following test.
1. cd ~/serve/examples/Huggingface_Transformers
2. python Download_Transformer_models.py
3. torchserve --start --ncs --model-store model_store --models BERTSeqClassification.mar
4. curl  -X POST http://localhost:8080/predictions/BERTSeqClassification  -T ./Token_classification_artifacts/sample_text.txt
Accepted

[2021-03-11 20:56] HamidShojanazeri commented on #934
@lxning Can you please share the error you got, also the version of the transformers you using.

[2021-03-11 22:05] lxning commented on #934
@HamidShojanazeri There is no error in log.
 pip freeze|grep tran
transformers==4.0.0

[2021-03-11 22:43] HamidShojanazeri commented on #934
@lxning The error will come up if you change the model_name in the setup cofing to anything other than bert models, e.g. Roberta, then it fails at this [line](https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py#L102).

[2021-03-11 23:54] spate141 commented on #720
@harshbafna @lxning: Any update on this one?

One specific use case for this could be when deploying models on commodity hardwares. For example, when the system recycles and models loads up again, it's using default parameters like `batch_size, max_batch_delay, initial_workers, response_timeout`. My temporary hack is to run another service script to set these variables according to my hardware eve

[2021-03-12 00:16] lxning commented on #720
[Here](https://github.com/pytorch/serve/pull/759) is the pr.

[2021-03-12 00:44] lxning commented on #969
@chauhang It seems that https://pytorch.org/serve/batch_inference_with_ts.html?highlight=batch is not sync up with TS doc. Could you pls help with this issue?

[2021-03-12 02:17] #362 closed

[2021-03-12 02:57] JohnHerry opened #1009 "start multiple instances on one machine"
## Is your feature request related to a problem? Please describe.

one machine, want to start multiple torchserver instances, so that different user of the machine can dev and test their models independently.

## Describe the solution
The idea of a HARD CODE .model_server.pid is VERY BAD!!! shoud be a start command option, or , config file option

## Describe alternatives solution

[2021-03-12 06:11] aniketmaurya commented on #969
@lxning I understand that client don't need to do any batching and it is handled by torchserve but in my use case I have multiple photos uploaded by a single client at the same time. So should I iterate the image list and hit torchserve one-by-one? Is there any workaround that I can send all the images at the same time?

[2021-03-12 21:31] ayushch3 opened #1010 "Torchserve docker fails to run on existing mar file"
## Context
I ran the torch model archiver on a different machine to create a mar with a custom handler for transformer model using this command:
[code]

It took about 20 mins and the mar file was created correctly. I was able to locally verify torch serve indeed works on that system using the following command:

[code]

## Expected Behavior
In order to run this on kubernetes, I took the pre-existi

[2021-03-12 23:11] HamidShojanazeri commented on #988
cc @AshwinChafale

[2021-03-13 00:50] HamidShojanazeri commented on #967
cc @dhanainme

[2021-03-13 00:57] lxning commented on #969
@aniketmaurya yes, you need customized handler to preprocess the request if one request includes N(>1) images.

[2021-03-15 06:07] urmeya opened #1011 "Simultaneously serving models with conflicting dependencies"
I am new to using torchserve for model deployment. I have tried using torchserve to serve multiple models e.g. `model1.mar` and `model2.mar` simultaneously as following:

`torchserve --start --ncs --model-store model_store/ --models model1.mar model2.mar`

I was able to serve multiple such models simultaneously provided dependencies for all these models are satisfied in the environment from which

[2021-03-15 16:41] dhanainme commented on #1011
Torchserve does provide environment isolation (venv / similar) right now. This is a valid feature ask which can be implemented in the future versions.

[2021-03-15 17:03] dhanainme commented on #1003
Hi @Shobhit20,

We had run similar long running soak tests in the past to identify memory issues in the past & had not seen a similar behavior.

We would be very interested to know the details of your model / handler to try and reproduce the issue. Can you attach your handler / model with a minimal example which we can try & reproduce

[2021-03-15 17:12] dhanainme commented on #1009
I think you are referring to this.
https://github.com/pytorch/serve/blob/a166ad2d2b3cec9a8381434c445e91d379d78f73/ts/model_server.py#L24

The limiting factor for having multiple instances of TS running is the manner in which we assign ports for IPC between JVM frontend & python workers.  Although there is a config for it - https://github.com/pytorch/serve/blob/a166ad2d2b3cec9a8381434c445e91d379d78

[2021-03-15 17:16] dhanainme commented on #997
This may be due to same pid file name between the servers. This should be fixed

https://github.com/awslabs/multi-model-server/blob/master/mms/model_server.py#L33

https://github.com/pytorch/serve/blob/master/ts/model_server.py#L24

[2021-03-15 17:17] dhanainme commented on #997
Similar to #1009

[2021-03-15 17:17] dhanainme commented on #997
Similar to #1009

[2021-03-15 17:21] dhanainme commented on #989
Currently only BODY of the request is passed to the CustomHandler. The URL params of the Model server's inference endpoint are static and not configurable.

[2021-03-15 17:26] dhanainme commented on #984
Are you able to perform inference on your model just with a simple python script w/o Torchserve. The stack-trace appears to be an exception with the inference itself & not anything TS specific.

[2021-03-15 17:28] dhanainme commented on #998
Some debugging steps that might help

* Can you try running inference w/o TS. Whats the typical time for an inference
* Look @ https://github.com/pytorch/serve/blob/c9ccaec192eecac70b62005938a53a12101cb0ad/docs/configuration.md#other-properties

default_response_timeout: Timeout, in seconds, used for model's backend workers before they are deemed unresponsive and rebooted. Default: 120 seconds.

[2021-03-15 17:32] dhanainme commented on #1010
Its not clear from the logs on what your custome handler is trying to do here.
[code]

Were you able to run your model in non k8s setup to start with ?

[2021-03-15 18:12] collinarnett commented on #984
Yes I found out later that this is not a issue with torch serve but a issue moving the model onto GPU with a traced model. I never got the issue fixed but I've realized that its not related to torch serve.

[2021-03-15 20:21] ayushch3 commented on #1010
Handler file:

[code]

Dockerfile:
[code]

[2021-03-15 20:31] ayushch3 commented on #1010
Error logs

[code]

[2021-03-15 21:49] ayushch3 commented on #1010
@dhanainme Essentially the issue is the torchserve isn't able to recognize the custom handler that was used when running the torch-model-archiver command. My guess is something is wrong with the path, that it just can't recognize the custom handler when running torchserve

[2021-03-16 03:39] JohnHerry commented on #1009
Thanks for the help. The JVM IPC Python designment is good, But what I said in this page is practically meaningfull. You known many small compaies do not have enough money to buy independent machines for every one. When you and your partners debug different torch models on the same machine, the same torchserver instance, It is horrible to bear frequently stop and restart.

[2021-03-16 07:10] Shobhit20 commented on #1003
Can't reveal the actual model but the model is a detectron2 model similar to cityscape
The handler and other scripts relevant for the cityscape model are as follows -

[code]

Following are the two functions used
[code]

model file can be downloaded from  - https://dl.fbaipublicfiles.com/detectron2/Cityscapes/mask_rcnn_R_50_FPN/142423278/model_final_af9cf5.pkl

and the link to config file is  - ht

[2021-03-16 20:22] ayushch3 commented on #1010
@dhanainme Just to clarify, all these issues only occur when trying to run the torchserve inside a docker image, there are no issues when running in a standalone ubuntu system. The docker image is necessary to deploy this as a microservice, but the torchserve just fails without emiting any failure logs, so its hard to debug what's going wrong

[2021-03-16 21:06] ayushch3 commented on #1010
@dhanainme  I have tried everything possible to run this mar file inside a docker container using torchserve, every single time it fails with absolutenly no indication/logs of what's the underlying issue.

This is the mar file: https://drive.google.com/file/d/18tiD5gLvbRvq6P9kHjqlSNBGO55TbXVs/view?usp=sharing

Can you try downloading and running it inside a docker container and provide me with a D

[2021-03-16 21:14] lxning commented on #950
The above test results shows that GPU assignment is round robin among all models's workers. The benefit is that GPU usage is balanced as possible as it can. If GPU assignment is round robin among each model's workers, it requires that each model's  starting gpu id is randomized.

In summary, round robin among all models's workers is a simple way to achieve GPU usage balance.

The only issue about

[2021-03-17 11:03] MFreidank opened #1012 "Model Archiver creates lingering temporary files"
## Context

* torchserve version: 0.3.0
* torch-model-archiver version: 0.3.0
* torch version: 1.7.0
* torchvision version [if any]: -
* torchtext version [if any]: -
* torchaudio version [if any]: -
* java version: openjdk version "1.8.0_282"
OpenJDK Runtime Environment (build 1.8.0_282-b08)
OpenJDK 64-Bit Server VM (build 25.282-b08, mixed mode)
* Operating System and version: RHEL Linux 7.9

##

[2021-03-17 18:30] maaquib commented on #1010
@ayushch3 It seems like an issue with loading the model file. Will try and reproduce this but in the meantime do you mind getting a shell into the container and loading the model manually

[2021-03-17 18:32] maaquib commented on #1009
@JohnHerry As a workaround, you can start multiple docker containers with different host port mapping

[2021-03-17 19:08] #914 closed

[2021-03-17 21:52] duklin opened #1013 "How to debug handlers?"
Since the handler's logic is copied inside every `.mar` file, there is no sense of breakpoints in the original handler `.py` file. Can you please suggest how can we debug our handler modules?

[2021-03-18 04:19] maaquib commented on #997
Closing in favor of #1009

[2021-03-18 04:19] #997 closed

[2021-03-18 04:26] #982 closed

[2021-03-18 16:01] HamidShojanazeri commented on #1013
@duklin one quick way is to add the debugging logic/ adding logs to the handler and use the ts_log.log or checking the server-side output in the terminal to monitor the request handling process.

[2021-03-19 07:06] JohnHerry commented on #1009
Yes,  docker can isolate different developers. But what we need is a more DIRECT and SIMPLE and NATURAL  solution.  Running containers are always costly  without carefully designed images, and we do not want to pay so much time on its design when we were just on the stage of Developing and Debuging.

[2021-03-19 17:57] ayushch3 commented on #1010
@maaquib Running the mar file on a standalone ubuntu box correctly, but the same mar file when mounted to torchserve docker image fails to load. When using the shell to get into the container, it fails to load the model with the same logs as attached above.

I am certain that there is no issue with the mar file, since it wouldn't have run locally. However, the issue is how the torchserve runs insi

[2021-03-20 09:55] lezwon opened #1015 "Specify port which failed to bind during java.io.IOException: Failed to bind. Exception"
## Is your feature request related to a problem? Please describe.
Hi, I was recently trying to run torch serve locally and couldn't get it running. It used to fail with the following error: [Torchserve issue](https://discuss.pytorch.org/t/torchserve-stopped-failed-to-bind-address-already-in-use/115232). I used to get the error `java.io.IOException: Failed to bind. Address already in use` . As a ne

[2021-03-22 21:28] ayushch3 commented on #1010
@maaquib The underlying issue is the docker can't handle any custom handler, I literally wrote the entire docker image from scratch, it still failed with the following logs

[code]

I still don't understand why is it complaining about a custom handler when I am running torch-model-archiver inside the docker container

[2021-03-23 23:42] Tony-X commented on #1010
I have a similar issue. In my setup, the goal is to invoke a model without any pre/post processing. I browsed the source and found that [base_handler](https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py) fits the need.

so I did the following

[code]

I started the sever and hist the error
[code]

[2021-03-24 02:37] zyxstudycs opened #1017 "Question about efficiency of batch inference, and throughput"
Hi, I'm trying to use torchserve to increase my model throughput when deploy it.
However, I got two problems in the process.

1. After model is deployed, when I test its throughput with requests thread number 100, it works fine. But when I increase it into 200 or more, some of the response will show error like this: {
  "code": 503,
  "type": "ServiceUnavailableException",
  "message": "Model \"de

[2021-03-24 23:37] ayushch3 commented on #1010
@maaquib Even mounting an existing mar file which runs on my ubuntu system to a docker image fails to execute on the image provided by pytorchserve

[code]

I see the following errors when running the docker image:

[code]

Is there an ETA or workaround for this issue to deploy a torch serve model in production? I have been trying to find multiple ways to make it work in a docker image, but nothin

[2021-03-25 06:44] WxyStudent opened #1018 "How can i only use cpu for inference in torchserve?"
## 📚 Documentation

[2021-03-25 10:15] xiumingliu opened #1019 "Error when open image in the VisionHandler"
Hi, I am running torchserve mnist example in a container image derived from [pytorch/torchserve:0.3.0-cpu](https://hub.docker.com/layers/pytorch/torchserve/0.3.0-cpu/images/sha256-09135470e8e5a97bbbb2c22027da5624c1bd944dd289eba63b1f7369ea42ace8?context=explore). The example is from [this GCP document](https://cloud.google.com/ai-platform/prediction/docs/getting-started-pytorch-container#run_the_co

[2021-03-25 12:23] xiumingliu commented on #1019
The problem is caused by sending the request in windows cmd, but the image path and the base 64 in json file is for Linux environment. Not an issue of pytorch serve. Closed.

[2021-03-25 12:23] #1019 closed

[2021-03-25 17:07] HamidShojanazeri commented on #1018
@WxyStudent in the [config.properties](https://github.com/pytorch/serve/blob/master/docs/configuration.md#limit-gpu-usage) you can set the number_of_gpus =0.

[2021-03-29 10:17] chrisbaume opened #1020 "Possible bug in ts.utils.util.map_class_to_label"
This doesn't seem quite right:
https://github.com/pytorch/serve/blob/f0da8d2714628cb5de0c6eaa3ac0448a6b226640/ts/utils/util.py#L63-L64

It's checking the same thing twice and talking about the classes being wrong. Looks like it should be checking `lbl_classes` and `prob` are both lists (or None in the case of `lbl_classes`).

[2021-03-30 10:43] PushpakBhoge opened #1022 ""Model name not defined" response while registering models"
I am getting the below response while trying registering model on torch serve
{
    "code": 400,
    "type": "InvalidModelException",
    "message": "Model name is not defined."
}

context:- contain 2 files model.py and util.py model.py contain only one class inheriting from torch.nn.module nad util.py contains code for blocks which are imported into model.py my model is unet and it take [N, C, W,

[2021-03-31 07:33] xiumingliu commented on #1015
Hi

In this [document](https://pytorch.org/serve/configuration.html#configure-torchserve-listening-address-and-port), you can find that, by default, the TorchServe uses the following three ports:

inference_address: Inference API binding address. Default: http://127.0.0.1:8080
management_address: management API binding address. Default: http://127.0.0.1:8081
metrics_address: metrics API binding ad

[2021-04-01 04:43] lxning opened #1025 "distillbert_qa_no_torchscript load failure"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: branch release_0.4.0
* torch-model-archiver version:
* torch version: torch==1.8.0

[2021-04-01 09:29] toretak commented on #988
#970

[2021-04-01 09:31] toretak commented on #970
setuptools still missing, if installed package needs to install wheel dependecy

[2021-04-05 20:14] HamidShojanazeri commented on #1022
@PushpakBhoge  would you please share the full server side log/ minimal code to reproduce, in the meantime you can check [issue#689](https://github.com/pytorch/serve/issues/689) to make sure you there is no issue with imports of the util file.

[2021-04-05 20:18] HamidShojanazeri commented on #1020
@chrisbaume Thanks for pointing out.

[2021-04-06 04:18] gyin-ai opened #1026 "Question about benchmark report"
The example in benchmark shows TS latency is 500ms while model latency is 200ms. Does it mean torch serve itself would take extra 300ms latency overhead to serve a single request? That seems a lot. Please correct me if I am wrong. Thanks

[2021-04-06 10:00] merryHunter commented on #1010
@ayushch3  how is your progress on this issue? I get similar no module error even when I am running example case for image classification or object detection, also in a nvidia image container. And do you have any idea about the root cause?

[2021-04-08 20:15] nelamon opened #1028 "Multimodel endpoint support with sagemaker"
Hi, I'm trying to deploy multiple models with multimodel mode within the same endpoint using torchserve.
However, I get the following error when I try to deploy it:

Error hosting endpoint torchserve-endpoint-2021-04-08-19-07-59: Failed. Reason:  The primary container for production variant AllTraffic did not pass the ping health check. Please check CloudWatch logs for this endpoint..

When I chec

[2021-04-08 21:59] msaroufim opened #1030 "Missing Java dependency install"
## 📚 Documentation

In https://github.com/pytorch/serve/README.md for the Mac CPU instructions there is a missing implicit dependency on Java which `install_dependencies.py` does take care of but doesn't actually make sure it's linked. This is especially an issue if someone has multiple Java versions installed.

`
(servefinal) marksaroufim@marksaroufim-mbp Dev % torchserve --start --ncs --model-st

[2021-04-09 02:37] lxning commented on #1010
@ayushch3 can you run "python ts_scripts/print_env_info.py" at your local and docker container and compare the dependent packages differences?

[2021-04-09 03:24] lxning commented on #1009
@JohnHerry We recommend docker container to run multiple TS on one host. [Here](https://github.com/pytorch/serve/tree/master/docker#create-torchserve-docker-image) is the command link.

Otherwise, you have to config [ports](https://github.com/pytorch/serve/blob/master/docs/configuration.md#configure-torchserve-listening-address-and-port) to start multiple TS on one host. It's painful.

[2021-04-09 03:34] lxning commented on #1002
Fixed in [pr972](https://github.com/pytorch/serve/pull/972)

[2021-04-09 03:34] #1002 closed

[2021-04-09 03:42] lxning commented on #951
TS 0.4 recommends torch 1.8 + cuda 10.2 since torch 1.7.1/1.8 are not stable on cuda 11.0. So remove this task from TS 0.4.

[2021-04-09 07:16] elb3k commented on #948
Similar problem with `detectron2` model. Mask RCNN model seems to be not registered.

[2021-04-09 18:46] HamidShojanazeri commented on #1017
cc @dhanainme

[2021-04-09 18:47] #1013 closed

[2021-04-09 19:21] dhanainme commented on #1028
This is associated with response from /ping & not from /model

Can you please share if you /ping response passes ?

[2021-04-09 19:28] dhanainme commented on #1026
The numbers you seem to share are way off from what we had observed. Usually if there is no queuing involved TSOverhead <<< Model Latency.

Also, there are many factors which determine the final latency of TS model.  If you have Dynamic batching enabled you might want to look in to your batch_size & max_batch_delay

Also is this latency observed in normal load / when stress testing ?

[2021-04-09 19:31] dhanainme commented on #1017
Did you try to scale up worker - https://github.com/pytorch/serve/blob/master/docs/management_api.md#scale-workers

Every worker is an additional python process that is expected to  increase throughput

Also is this a GPU model ?

[2021-04-09 21:54] nelamon commented on #1028
Hi,
The following are the cloudwatch log:

[code]
Looks like this issue is similar to https://github.com/pytorch/serve/issues/397
But cannot find any solution in that closed issue

[2021-04-09 22:08] HamidShojanazeri commented on #1003
@Shobhit20 my observation on serving other models is each worker occupies the gpu memory with size of the model + ~ batch_size request. I wonder if what you observed is proportional to the batch-size?

[2021-04-11 06:35] gyin-ai commented on #1026
@dhanainme the number is from this official benchmark. https://github.com/pytorch/serve/blob/master/benchmarks/README.md
![Uploading image.png…]()

[2021-04-11 06:37] gyin-ai commented on #1026
Do you mind sharing any example or benchmarking result about TSOverhead itself? How many milli seconds would it take?

[2021-04-12 02:45] #1009 closed

[2021-04-12 08:29] t-henri opened #1032 "Have system metrics available for prometheus"
## Is your feature request related to a problem? Please describe.
It would be nice to have system metrics available in prometheus to be able to setup grafana boards and alerting on these metrics. Also, we can add custom metrics to be logged by the system, but these will not be served by the metric API.
For example, we would like to be alerted when the server returns too many 500, and this metric i

[2021-04-12 23:57] msaroufim commented on #1030
For reference to others this is what fixed my java issue on Mac Catalina

`export JAVA_HOME=$(/usr/libexec/java_home -v16)` change the version to whatever version works best for you from here https://www.oracle.com/java/technologies/javase-downloads.html

[2021-04-13 08:24] fefe982 commented on #734
There is an available-bytes check for every read in `ModelResponseDecoder.decode` except for `int httpStatusCode = in.readInt();`. I think it is reasonable to also add a check for it.

Also, the check for `readMap` in [`prediction.setHeaders(CodecUtils.readMap(in, len));`](https://github.com/pytorch/serve/blob/f0da8d2714628cb5de0c6eaa3ac0448a6b226640/frontend/server/src/main/java/org/pytorch/serve

[2021-04-14 00:42] KeithCu opened #1033 "Handwritten text classifier in model zoo"
I'd like to do some recognition of handwriting text in images. For example, the open source Tesseract does a good job with printed text, but fails terribly on handwritten: "eX ng Ko hy 536 0 gwmailicom" (That's using their tessdata (https://github.com/tesseract-ocr/tessdata) dataset, LSTM engine, and telling Tesseract that it's English!)

There is an IAM dataset:
https://fki.tic.heia-fr.ch/databas

[2021-04-14 03:19] lonngxiang opened #1034 "W-9008-densenet161_1.0 org.pytorch.serve.wlm.WorkerThread"
[DEBUG] W-9008-densenet161_1.0 org.pytorch.serve.wlm.WorkerThread - Backend worker monitoring thread interrupted or backend worker process died.
java.lang.InterruptedException
        at java.base/java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.reportInterruptAfterWait(AbstractQueuedSynchronizer.java:2056)
        at java.base/java.util.concurrent.locks.AbstractQueuedSynchron

[2021-04-14 18:18] msaroufim commented on #792
This seems to have been fixed so closing

![Screen Shot 2021-04-14 at 11 17 57 AM](https://user-images.githubusercontent.com/3282513/114759488-13611100-9d13-11eb-9e77-268ce7456b95.png)

[2021-04-14 18:18] #792 closed

[2021-04-14 21:20] HamidShojanazeri commented on #984
@collinarnett current quantization schemes do not support GPU inference, it is under development.

[2021-04-14 21:20] #984 closed

[2021-04-15 05:14] prajwaljpj commented on #1015
In my case the same issue is occurring even for unused ports. I have tried random port numbers such as 5552, 5553, 5554, etc.

A more detailed view of the error:
[code]

[2021-04-15 06:59] vuongdanghuy opened #1036 "Restart model after an error input"
Hi.

I'm using Torchserve to deploy a PyTorch model and it works well. When i send an error input sample for inference, it cause an error within the model. After that, even if I send valid input sample the model keep getting error and I must re-run torchserve for it to run again.

Is there any way to reload model or restart model loading in torchserve when the model is failed from previous inferen

[2021-04-15 08:20] prajwaljpj commented on #1015
Solved! The gRPC port by default uses 7070 and 7071 as per [documentation](https://github.com/pytorch/serve/blob/master/docs/configuration.md). It can be changed by adding this to your config.properties
[code]

[2021-04-16 00:17] HamidShojanazeri commented on #1036
@vuongdanghuy If I understood correctly, for example you send an image instead of a text to a NLP model, then it fails and continue to fail on the next inference requests which is correct (text), if this is the case, it is not expected. Also, with re-run torchserve, do you mean stop and run the instance again? Would you please share more details, your env info and minimum steps to reproduce.

[2021-04-16 03:57] vuongdanghuy commented on #1036
Hi @HamidShojanazeri

I'm using [LayoutLM](https://github.com/microsoft/unilm/tree/master/layoutlm/layoutlm/modeling) for document images understanding.

The model expects a bounding box for each text in the image in format [xmin, ymin, xmax, ymax]. Those bounding boxes will be sent to torch.nn.embedding layer as in the following [code](https://github.com/microsoft/unilm/blob/715bbdea0c3cbc9664710

[2021-04-16 16:28] cbasavaraj commented on #942
Hi, will v0.4.0 be released sometime soon? Thanks

[2021-04-16 18:18] lxning commented on #942
Yes.

Thanks,
Li

From: Chandrachud Basavaraj ***@***.***>
Reply-To: pytorch/serve ***@***.***>
Date: Friday, April 16, 2021 at 9:29 AM
To: pytorch/serve ***@***.***>
Cc: "Ning, Li" ***@***.***>, State change ***@***.***>
Subject: Re: [pytorch/serve] gRPC throws error on large input size (#942)

Hi, will v0.4.0 be released sometime soon? Thanks

—
You are receiving this because you modified the op

[2021-04-16 19:47] #202 closed

[2021-04-19 16:49] #950 closed

[2021-04-19 17:14] #727 closed

[2021-04-21 20:21] HamidShojanazeri opened #1037 "Duplicated process getting launched on second gpu in multi-gpu setting during serving CV models"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context
During serving of CV examples (e.g image classification/image segementation) on a multi-gpu machine and m

[2021-04-21 23:35] msaroufim commented on #1034
Hi @lonngxiang could you please share some repro instructions? What were you trying to do? In what kind of environment? When did it break?

The format for bugs here is pretty good https://github.com/pytorch/serve/issues/new/choose

Happy to help if I get more detail

[2021-04-21 23:39] #1018 closed

[2021-04-21 23:45] #206 closed

[2021-04-22 03:29] #846 closed

[2021-04-22 04:18] msaroufim commented on #1033
Hi @KeithCu would you be interested in contributing this change? I'd be happy to review it

[2021-04-22 04:23] #975 closed

[2021-04-22 04:30] msaroufim commented on #821
Hi @rishabh1212, we welcome contributions so feel free to take this on and I'll review

[2021-04-22 04:33] #815 closed

[2021-04-22 04:43] msaroufim commented on #780
Hi @skat00sh let me know if you're still interested in working on this so we get something merged. This involves 4 steps

1. Python has a nice YAML library https://stackabuse.com/reading-and-writing-yaml-to-a-file-in-python/
2. And would need to update the arg-parser https://github.com/pytorch/serve/blob/master/model-archiver/model_archiver/arg_parser.py
3. Adding a sample YAML config in this dire

[2021-04-22 04:49] msaroufim commented on #887
Hi @jagadeeshi2i, it looks like your CPU, RAM and Disk look fine. What do you mean by increasing your GPU resources? Did you increase the number of GPUs? The on device memory of the GPU? Or did you configure the parameters of your docker container

2020-12-12 18:54:46,842 [INFO ] pool-2-thread-1 TS_METRICS - CPUUtilization.Percent:0.0|#Level:Host|#hostname:torch-pred-gpu-predictor-default-nj2qs-de

[2021-04-22 05:12] msaroufim opened #1039 "Add community blog posts and videos to README"
Add blog posts and videos by companies and individuals experimenting with Pytorch Serve. Examples to README

Blog posts
* https://towardsdatascience.com/serving-pytorch-models-with-torchserve-6b8e8cbdb632
* https://towardsdatascience.com/how-to-deploy-your-pytorch-models-with-torchserve-2452163871d3
* https://aws.amazon.com/blogs/machine-learning/deploying-pytorch-models-for-inference-at-scale-usi

[2021-04-22 05:18] #461 closed

[2021-04-22 05:24] msaroufim commented on #1005
Hi @covix would you like to go ahead and make a PR for this since you found the appropriate fix?

After making your changes make sure to run  `python ./torchserve_sanity.py` from
 https://github.com/pytorch/serve/blob/master/CONTRIBUTING.md and we should be good to go

[2021-04-22 05:27] #673 closed

[2021-04-22 06:17] #993 closed

[2021-04-22 10:19] covix commented on #1005
Hi @msaroufim, thanks for asking, but I think a solution has already been developed (https://github.com/pytorch/serve/blob/master/ts_scripts/install_dependencies.py#L89)

[2021-04-22 14:46] #1006 closed

[2021-04-22 14:47] #1005 closed

[2021-04-22 15:09] msaroufim opened #1041 "How to debug slow serve models"
## 📚 Documentation

Many issues are essentially people confused about the overhead that torch serve introduces so a good solution would be to have the below in a guide before opening a perf issue.
1. Point to existing benchmarks so people can get a baseline estimate
2. Running model without serve
3. Commands to get serve overhead
4. Expectations around how serve will scale horizontally and vertica

[2021-04-22 19:05] KeithCu commented on #1033
I don't have much experience with PyTorch, but I could probably figure something simple out based on the MNIST examples. I'll try and work on it some weekend soon.

[2021-04-23 16:45] cbasavaraj commented on #967
Hi again, I was wondering if anyone in the TorchServe team has been able to take a look at this? My RAM's close to full, it would be cool if it was freed up as soon as the models are moved to GPU.
Thanks

[2021-04-23 17:20] HamidShojanazeri commented on #967
@cbasavaraj Would you please share more details on your configs, how many workers per model, batch size, etc/ minimum steps to reproduce.
CC @maaquib @lxning

[2021-04-23 19:37] cbasavaraj commented on #967
I have custom handlers, so it may be tricky to reproduce, but will post more details on Monday, thanks!

[2021-04-25 16:45] skat00sh commented on #780
@msaroufim Sorry, I almost forgot about this issue! I'm back on it  now, will finish it asap! Thanks for defining the steps!

[2021-04-26 14:52] #1026 closed

[2021-04-26 15:47] cceyda commented on #1039
Self promotion 😄 : https://cceyda.github.io/blog/torchserve/streamlit/dashboard/2020/10/15/torchserve.html

[2021-04-26 16:44] msaroufim commented on #1039
Excellent thank you @cceyda! Added it and let me know if you have any feedback to the team since Oct 2020.

This is really cool, I will try out the dashboard for my own projects!

[2021-04-26 17:04] cceyda opened #1043 "Automatic API documentation generation"
## Auto docs
It would be nice to have something similar to FastAPI's https://fastapi.tiangolo.com/#interactive-api-docs
Also supporting adding docstrings from custom handlers to the generated docs
Why:
+ Make it easier to test models API
+ Nice to have some basic documentation

[2021-04-27 09:43] Makos63 opened #1044 "Transformer_handler_generalized.py needs some adjustment after some update"
## Context

* torchserve version: 0.3.1
* torch-model-archiver version: 0.3.1
* torch version: 1.7.1
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version: 11.0.10" 2021-01-19
* Operating System and version: 	Ubuntu 18.04.5 LTS

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker container? [

[2021-04-27 16:22] cbasavaraj commented on #967
Hi, at the moment I have four models and 2 GPUs. By default, TorchServe has 1 worker per GPU, and I'm staying with this default. I have customised the Base Handler to suit our project, and then I have other handlers which inherit from this. I'll share here just the base handler, and the load function for one of the models. I don't see any obvious mistake.

After the code, I'm sharing screenshots o

[2021-04-27 18:19] lxning commented on #967
@cbasavaraj what's torchserve version in the above test?

[2021-04-27 19:44] cbasavaraj commented on #967
v0.3.1

On Tue 27 Apr 2021 at 20:19, lxning ***@***.***> wrote:

--
Chandrachud Basavaraj
Indie ML + Vision
           @

[2021-04-28 14:45] t-henri commented on #1032
Hello, I am willing to contribute on this if it interests the open source community.
But I am wondering if there is a reason that you didn't merge the following pull requests: https://github.com/pytorch/serve/pull/722 ?

If you think this feature doesn't belong in this repository, I can create a separate repository to do a prometheus plugin, what do you think ?

[2021-04-28 20:43] msaroufim opened #1045 "How to add a new handler guide"
Goal is to support new use cases easily

The base handler is also quite general in its capabilities so want to showcase a bit more what can be done

[2021-04-28 21:06] #1030 closed

[2021-04-29 14:42] saurabheights-ecr opened #1046 "Backpropogate error from backend server to user"
## Is your feature request related to a problem? Please describe.

Scenario - User  does not get information of root cause of failures. AFAIK, the failure can happen during model initialization and during prediction/inference call.

For model setup(installation of packages, etc.), currently user gets response :-

[code]

However, backend logs more details:-

[code]

For prediction, currently user

[2021-04-29 22:29] msaroufim commented on #1046
This is an interesting proposal. I'm assuming the request is about letting teams calling a deployed model still get useful debug information in case there's an error without having to dig through logs which would be owned by a seperate backend team that may need to deal with compliance issues.

I'm guessing there's an easy way to do this by extending a handler but let me think about this more sinc

[2021-04-30 04:28] HamidShojanazeri commented on #1044
@Makos63 Thanks for reporting this, would you please share the version of Transformers, there is PR under development for supporting latest Transformers/ covering the changes in the API for Q&A.

[2021-04-30 05:40] msaroufim opened #1047 "Image code and documentation is O(#num_architectures)"
Lots of code and documentation duplication in all the image classifier example and possible other places

https://github.com/pytorch/serve/tree/dd9af7d55c1b337e205df88cf80cf4d542c489d1/examples/image_classifier

Makes it confusing to figure out how to support new image architectures without reading all the examples instead of just 1

[2021-04-30 11:23] saurabheights commented on #1046
@msaroufim For the first part, yes. We want user to know the details(no secrecy required), and it would help a lot since often, user mar files are incorrect. Knowing where the error comes from will allow the right team to focus on resolving the issue.

For later part, ~~I dont think the issue is handler. The response from handler is completely ignored in torchserve backend and the error is returne

[2021-04-30 11:57] Makos63 commented on #1044
@HamidShojanazeri

Running:

import transformers
print(transformers.__version__)

gave me: 4.1.1

[2021-04-30 16:04] msaroufim commented on #1046
That’d be fantastic please do!

[2021-05-01 00:31] HamidShojanazeri opened #1050 "Automating mar file generation for tests"
**Context**

Currently for the regression tests and sanity test, we are using pre-made mar files which might be out of sync with some of the changes in the code base.

**Feature request**

Automating the mar file generation to be use by all the tests that are using pre-made mar files from S3 bucket now.

[2021-05-01 01:04] msaroufim commented on #1032
Hi @t-henri, team is busy with the 0.4 release https://github.com/pytorch/serve/projects/9 so we should get back to this soon

That said we could move faster if you try it out and see if it works well for you

`gh checkout 722`

Feel free to add your feedback and tag me directly and we can see it merged more quickly

[2021-05-04 12:31] t-henri commented on #1032
Hello @msaroufim , thanks for your answer.

I checkout-ed and tried the PR, and it works well for me. I managed to build the frontend and the plugin code, and I could see the new metrics in the /metrics endpoint. With this, I would be able to extend the plugin to have all the metrics I want available.

I can help on this PR if you want, I can fix the conflicts and try to fix the failing CI (or if

[2021-05-05 19:17] #1045 closed

[2021-05-06 08:47] csaroff commented on #1011
@dhanainme I saw that the model archiver allows you to include a [requirements.txt file](https://github.com/pytorch/serve/tree/master/model-archiver#model-specific-custom-python-requirements). How does that differ from the environment isolation that you're describing?

[2021-05-06 16:52] brianjo commented on #1043
@msaroufim Maybe also consider adding hooks for Swagger.- https://swagger.io/

[2021-05-06 17:27] LeDuySon opened #1054 "Improve inference speed"
Why when i increase initial worker the inference times still unchanged? Can someone explain

[2021-05-06 17:47] msaroufim commented on #1054
Could you share a bit more about how you're measuring inference time?

One guess is that scaling workers should have no impact on a single inference but instead increase your total throughput by allowing more concurrent inferences

[2021-05-07 00:44] LeDuySon commented on #1054
Im writing a script to get handle time from model_metrics.log file. And making concurrent inferences about 133 requests with aiohttp, batch size 64

[2021-05-07 04:41] KeithCu commented on #1033
I've been doing some research. The dataset is broken into pages (forms), lines and sentences. In many cases the lines and sentences are the same since most sentences are longer than one line. The only difference between the lines and sentences is that if a sentence ends in the middle of a line, the next words of that line are put in a new image.

I could feed it a line at a time, but it also has t

[2021-05-07 05:24] msaroufim commented on #1054
Can you share a small reproducer? `aiohttp` seems like what we should be using for all our examples instead of `requests`

Also are you running on CPU/GPU? Can you share nvidia-smi or logs confirming number of workers are allocated

Can you try doubling the number of concurrent inferences and verify that the pattern persists

[2021-05-07 18:11] LeDuySon commented on #1054
Im running on CPU
Logs confirming number of workers:
![Screenshot from 2021-05-08 01-04-05](https://user-images.githubusercontent.com/33374938/117490945-b830e000-af99-11eb-8b08-9c727ddd4394.png)
I have tried about 1000 requests but nothing changed
Im using roberta for sentiment analysis
Here is output from torchserve --start
![Screenshot from 2021-05-08 01-07-46](https://user-images.githubusercont

[2021-05-07 19:46] msaroufim commented on #1054
Apologies for the back and forth but I still need a bit more detail

Can you send me logs and code I can run? You can paste in a gist if it's too long https://gist.github.com/

Including the `aiohttp` script, the `serve` logs, the `model_metrics.txt` and anything else you did - the more detail the better. I'd like to run the same thing you did to better understand the issue

[2021-05-08 10:42] yurkoff-mv opened #1055 "How i do models chain processing and batch processing for analyzing text data?"
Hello, I wanted to thank you for creating such a convenient and easily deployable model service.
I have several questions / suggestions (maybe they have already been implemented).

The first thing I would like to know / get is the launch of a chain of models... Example: I have a basic model, let's say BERT, I would like to use it to get embeddings for further solving other tasks, such as classific

[2021-05-08 17:37] LeDuySon commented on #1054
My mar file in here https://drive.google.com/file/d/1KL_I0zHAlzGL2uNjeQNkLYhHyBiGA0eG/view?usp=sharing
Asynchronous ìnference requests with aiohttp

`import requests
import json
import asyncio
import logging
import re
import sys
from typing import IO
import urllib.error
import urllib.parse
import time
import aiofiles
import aiohttp
from aiohttp import ClientSession
import pandas as pd

logger = lo

[2021-05-09 17:18] cceyda opened #1056 "Support GPU/CPU selection per model"
# Requested feature

I want to set number of available gpu's independently per model.

# Reason

Sometimes I want to serve; some models on gpu, some on cpu (and switch gpu/cpu usage depending on circumstances )
Right now the only gpu setting is on torchserve instance level, through `config.properties` -> `num_of_gpu`
Since torchserve is acting as one-to-many model server (one torchserve instance -

[2021-05-10 16:45] HamidShojanazeri commented on #1056
Thanks @cceyda for brining this up, it is on the roadmap to give finer control over choosing the devices in the future releases.

[2021-05-10 22:22] msaroufim opened #1058 "Speed up Pytest"
Pytest is by far the slowest part of `python test/regression_tests.py`

Some ideas here https://stackoverflow.com/questions/16417546/how-to-speed-up-pytest

[2021-05-11 06:00] msaroufim opened #1059 "Benchmarks use torch 1.4 and cuda 9.2"
https://github.com/pytorch/serve/blob/master/benchmarks/install_dependencies.sh

We can skip the lines that install nvidia toolkit and torch serve

[2021-05-11 06:13] #1059 closed

[2021-05-11 06:43] maheshcheetirala opened #1060 "Torch serve failing saying .mar file is not UTF Encoded"
https://torchserve-on-aws.workshop.aws/en/300/330-main-lab.html
I am trying to reproduce this workshop by AWS trying pytorch native server on Sagemaker, but my serve is failing when i have inspected the logs I have found that .mar file is not UFT-8 encoded saving disabled.
and when in run the ping command to endpoint it says unhealthy,\.
![torchserveerror](https://user-images.githubusercontent.com

[2021-05-11 08:02] vuongdanghuy commented on #1060
In the ts_log.log file i see that image_classifier module and py3 can not be imported. When you create .mar file, are you sure that those module are included in extra-files or requirements-file option?

[2021-05-11 08:21] maheshcheetirala commented on #1060
I am just following the jupyter notebook created on Sagemaker . in the
workshop link given.
And am running standard model archive commands  from the torch serve
densenet image classification, how do i add those  imports which are
missing.

Thanks
Mahesh

On Tue, May 11, 2021 at 1:32 PM Vương Đăng Huy ***@***.***>
wrote:

[2021-05-11 10:11] maheshcheetirala commented on #1060
This is the notebook I am running and  serve is failing with the attached
logs. Could you please help me move forward.
I tried all the instructions but still serve is failing.

Thanks
Mahesh

On Tue, May 11, 2021 at 2:06 PM Vương Đăng Huy ***@***.***>
wrote:

[2021-05-11 22:13] KYKong1997 opened #1061 "Wrong link in readme file"
## 📚 Documentation

### Get predictions from a model

To test the model server, send a request to the server's `predictions` API. TorchServe supports all [inference](docs/inference_api.md) and [management](docs/management_api.md) api's through both [gRPC](docs/grpc_api.md) and [HTTP/REST](docs/grpc_api.md).

the rest api and grpc api are linked to same page

[2021-05-12 17:44] msaroufim commented on #1061
Thank you just fixed this!

[2021-05-12 17:44] #1061 closed

[2021-05-12 17:47] msaroufim commented on #691
Hi @vivekpd15 thank you for your patience, this feature is now available https://github.com/pytorch/serve/pull/1027

[2021-05-12 17:47] #691 closed

[2021-05-12 18:10] msaroufim commented on #668
Hi @vishal-wiai

Apologies for the delayed answer but some answers to your questions

Currently it scales in the number of processes and workers that you assign to it, so scales horizontally very well. Main constraint is not supporting threading on a single process which is coming soon with our C++ backend work

I personally use EC2. Sagemaker is great if you want to deploy something out of a note

[2021-05-12 18:10] #668 closed

[2021-05-13 15:48] #887 closed

[2021-05-13 15:53] msaroufim commented on #878
Tagging as won't fix for now - recommendation is to use a machine with at least 8 cores

[2021-05-13 15:53] #878 closed

[2021-05-13 16:19] #523 closed

[2021-05-13 16:21] #733 closed

[2021-05-13 16:21] #1041 closed

[2021-05-13 16:24] #951 closed

[2021-05-13 16:26] msaroufim commented on #649
Closing because we already have many examples - I think it makes more sense to refactor our existing docs to make it trivial for people to add their own handlers

[2021-05-13 16:26] #649 closed

[2021-05-13 16:32] msaroufim commented on #1044
We are updating the example #1063 here

[2021-05-13 16:50] #1055 closed

[2021-05-13 16:51] #1001 closed

[2021-05-13 17:37] msaroufim commented on #1020
Hi @chrisbaume would you like to make the PR for this? We can follow a similar convention to this https://github.com/pytorch/serve/blob/f0da8d2714628cb5de0c6eaa3ac0448a6b226640/ts/utils/util.py#L65

[2021-05-13 17:41] #965 closed

[2021-05-13 17:43] lxning opened #1064 "Regression test and Mar file automation integration"
## Is your feature request related to a problem? Please describe.

Current regression tests download models from S3. By using mar file automation, the mars can be automatically generated from local. This integration needs 2 subtasks:
1.  model's scripted serialization file auto gen.
2. replace s3 http url with local model_store mar file name in postman json file

## Describe the solution

## Descr

[2021-05-13 17:45] msaroufim commented on #641
Java/JVM is still a powerful combo, Spark was built on top of it and so was Hadoop. There are always tradeoffs when it comes to picking a language for a project so unless those alternatives in other languages are actually built it's hard to make a prediction as to what would actually be the best solution.

That said we are also working on a C++ backend which will bring improved multithreaded perfo

[2021-05-13 17:45] #641 closed

[2021-05-13 17:47] msaroufim commented on #677
Closing since PR #683 is also closed, we can revisit potentially

[2021-05-13 17:47] #677 closed

[2021-05-13 17:48] #1015 closed

[2021-05-13 17:55] msaroufim commented on #987
@Ark-kun this is a a great idea - would you like to go ahead and make the PR for it?

[2021-05-13 17:58] #1037 closed

[2021-05-13 19:32] msaroufim commented on #192
Perhaps the best practice should be to store `model_store` in an S3 bucket or equivalent

[2021-05-13 19:38] msaroufim commented on #81
Did this work for you? https://aws.amazon.com/blogs/awsmarketplace/using-torchserve-to-list-pytorch-models-at-scale-in-aws-marketplace/

And if not please let me know what the issue was and I can help

[2021-05-13 19:42] msaroufim commented on #125
Hi @mycpuorg just trying to understand your request better. What kinds of unforeseen config failures are you seeing? It seems like the request is also asking for something like `max_num_workers` that would be determined at runtime on each machine?

[2021-05-13 20:30] #1050 closed

[2021-05-13 20:43] #1004 closed

[2021-05-13 20:47] msaroufim commented on #943
Hi @aixuedegege did @lxning's workaround work for you? We have a similar issue from way back to work with Japanese characters so if this worked, I'll go ahead and add utf-8 support #821 821

[2021-05-13 20:56] HamidShojanazeri opened #1066 "Workflow example register the models all on one gpu ."
## Context
Retesting the Workflow examples on the release branch, it register all the models in the DAG on one gpu and as one model and doesn't scale with number of workers defined in the yaml file properly, if setting min_worker =3, it starts with 2.
* torchserve version: 0.4.0b20210513
* torch-model-archiver version: 0.4.0b20210513
* torch version:1.8.0
* torchvision version [if any]:0.9.0
* tor

[2021-05-13 21:12] msaroufim commented on #998
Hi @nagamanikandank did the above solve your problem?

[2021-05-13 21:13] #969 closed

[2021-05-13 21:16] #548 closed

[2021-05-14 00:05] msaroufim commented on #1017
Hi @zyxstudycs - if you increase the batch size substantially then the inference server will wait some time before processing the entire batch so that may explain why you saw a performance degradation. This will be more pronounced for smaller models.

Try to scale the number of workers using something like `curl -v -X PUT "http://localhost:8081/models/noop?min_worker=3"
`

Also would be helpful to

[2021-05-14 08:30] aixuedegege commented on #943
First of all, thank you for @lxning's reply.
Hi @msaroufim , Sorry, I almost forgot this issue 😄. I do not try the method @lxning  mentioned above because I did not see it. And My colleague transferred the encode style by himself in the background. You can try it and tell me if it works.

[2021-05-14 21:15] nskool opened #1067 "Enhance benchmarking automation"
## Is your feature request related to a problem? Please describe.

The feature requests come from comments on this PR: https://github.com/pytorch/serve/pull/1052

## Describe the solution
Add the following features to automation to facilitate better user experience:
Review notes:
1. Consider using https://pypi.org/project/mdutils/ if the report structure becomes complex.
2. Consider using boto3 fo

[2021-05-14 21:26] dhanainme commented on #1067
Can you also log the metrics with appropriate dimensions to cloudwatch aswell.

[2021-05-17 09:19] yurkoff-mv commented on #1055
Thanks for your reply.
I really liked the idea of workflows. This is exactly what I need.

On the account of batch inference, I used this reply:
["number of batch response mismatched for models with custom handler"](https://github.com/pytorch/serve/issues/730)

I wanted to ask you to add support Cuda v11.1 (it is used by Pytorch v1.8.1). To do this, you need to fix the /ts_scripts/install_dependen

[2021-05-17 11:57] yashna-shravani opened #1068 "Worker restarts(thread error) and /ping shows: "partial healthy""
Terminal Logs:
<img width="1399" alt="image" src="https://user-images.githubusercontent.com/32808937/118482302-2d3aad00-b732-11eb-95e5-a5baa076de46.png">

/ping
<img width="308" alt="image" src="https://user-images.githubusercontent.com/32808937/118510657-c972ad00-b74e-11eb-9b28-137c4bf15a53.png">

I am deploying pretained SentenceTransformer('bert-base-nli-mean-tokens') model from hugginface used

[2021-05-18 16:41] #1047 closed

[2021-05-18 20:36] liusida opened #1072 "transformers complain, TypeError: Can't convert 'True' to PyBool"
## Context
I was trying to follow the tutorial [https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers](https://github.com/pytorch/serve/tree/master/examples/Huggingface_Transformers) to run
[code]
* torchserve version: 0.3.1
* torch-model-archiver version: 0.3.1
* torch version: 1.7.1+cpu
* java version: openjdk 11.0.11 2021-04-20
* Operating System and version: Ubuntu 20.

[2021-05-18 20:55] HamidShojanazeri commented on #1072
Thanks @liusida, this should be covered in this [PR](https://github.com/pytorch/serve/pull/1071).

[2021-05-18 21:13] liusida commented on #1072
Yes, @HamidShojanazeri , thanks.

Fixing `setup_config.json` solves this issue. No need to modify the Python code.

[2021-05-18 21:51] HamidShojanazeri commented on #1072
@liusida yes that's right, the PR will provide additional fixes to cover the latest transformers version changes with some fixes for captum explanations.

[2021-05-18 21:51] #1072 closed

[2021-05-19 02:10] chauhang opened #1073 "Code restructuring for HF BERT example"
For the HF BERT example, please review how the code can be structured better by moving the captum related items into the [explain_handle](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#captum-explanations-for-custom-handler)

[2021-05-19 16:54] HamidShojanazeri commented on #1066
This has been addressed in the base_handler.

[2021-05-19 16:54] #1066 closed

[2021-05-19 16:56] HamidShojanazeri commented on #1044
This has been addressed in PR #1071.

[2021-05-19 16:56] #1044 closed

[2021-05-19 16:57] HamidShojanazeri commented on #1025
This has been in addressed in PT1.8.1 and PR #1071 .

[2021-05-19 16:57] #1025 closed

[2021-05-19 21:54] #682 closed

[2021-05-20 03:13] lxning opened #1075 "add wget in developer dep"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
* torch-model-archiver version:
* torch version:
* torchvision version [if any]:
*

[2021-05-20 07:38] ed-muthiah commented on #813
@vhlmbrg I'm getting this same issue. Has this been fixed for Cuda 11.1?

[2021-05-20 08:08] ed-muthiah opened #1077 "Load model failed: densenet161 - Multiple Module Errors Captum, Image Classifier"
Hello I'm following this tutorial step by step inside a AWS DL-AMI Conda EC2 instance:

https://github.com/pytorch/serve/blob/master/README.md#install-torchserve

There seems to multiple load module errors for captum and image classifier that results in the load model failing.

[code]

The output of ` curl -X GET http://127.0.0.1:8081/models`:
[code]

@maaquib  @dhanainme

[2021-05-20 15:59] Apachaika opened #1078 "own base_handler can"
Hello, I'm trying create my own base_handler by Documentation, but my skills are low to understand how correct write for my task. (I'm Junior DS :( )
Very need any help!
I have wrote script which just processes the data, feeds it to the Binary Classification model and outputs the result
I a lot tried describe correctly  by example https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_

[2021-05-20 18:26] lxning opened #1080 "update cu110 to cu111"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-05-20 22:34] lxning opened #1082 "add workflow archiver into binary"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-05-20 22:51] maaquib opened #1083 "Add workflow archiver binary generation to existing scripts"
Add `workflow-archiver` binary generation to existing scripts
https://github.com/pytorch/serve/blob/master/binaries

[2021-05-21 00:19] lxning opened #1084 "add python 3.9 in build"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-05-21 05:38] #610 closed

[2021-05-21 14:43] PMA65 opened #1085 "handler works when instantiated as an object, but when trying to serve I got this error"
torch-model-archiver --model-name model1 \
--version 0.0.1 \
--export-path ./model_store \
--handler ./model_handler.py \
--serialized-file ./saved_models/weights.pth

first cmd is fine, but when serving
torchserve --start \
--ncs \
--model-store ./model_store \
--ts-config ./config.properties

2021-05-21 14:39:37,754 [ERROR] Thread-1 org.pytorch.serve.metrics.MetricCollector - Traceback (most rec

[2021-05-21 16:58] dhanainme opened #1086 "Log pip installation - stdout / stderr"
Pip installation fails silently without stdout/stderr in logs. Validate that the installation logs are populated for both success/failure for validation.

https://github.com/pytorch/serve/blob/a95ef13eb735efba6168ed485d7ab943f5e65ac3/frontend/server/src/main/java/org/pytorch/serve/wlm/ModelManager.java#L223

[2021-05-21 22:08] lxning opened #1089 "automate pipeline to push docker image to a staging repo"
## Is your feature request related to a problem? Please describe.

1. create account on conda, pip and docker for TS staging
2. create automation script to build binary code and docker image, and push into conda/pip/docker. (ref: existing binary/docker/codebuild ).
3. set up pipeline and alarm

## Describe the solution

## Describe alternatives solution

[2021-05-21 22:08] lxning opened #1090 "build kf-serving docker image script"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-05-21 22:11] maaquib commented on #1089
We can increase the scope for this to include generating and publishing pip and conda binaries via a codebuild/codepipeline job

[2021-05-22 04:27] chauhang opened #1091 "Fix conda install issues for py37, py36"
When installing using conda for python 3.7 or 3.6 environment incorrect version of the py38 binaries are getting installed.

[2021-05-22 04:30] #1080 closed

[2021-05-22 04:31] chauhang commented on #1082
Closing, duplicate of #1083

[2021-05-22 04:31] #1082 closed

[2021-05-22 04:47] chauhang opened #1092 "Add support for custom metrics in /metrics endpoint and Prometheus"
The support for getting the [custom metrics](https://github.com/pytorch/serve/blob/master/docs/metrics.md#custom-metrics-api) via the /metrics endpoint for viewing via in dashboards using  [Prometheus + Grafana](https://github.com/pytorch/serve/blob/master/docs/metrics_api.md#prometheus-server).

[2021-05-22 14:48] PMA65 commented on #481
@dhaniram-kshirsagar  I'm spawning multiple worker threads for a single model (default_workers_per_model=8), I can see that GPU memory is holding 8 models but still 8 concurrent requests take 8*one response time, could you please share what config file you're using ?

[2021-05-22 14:59] PMA65 commented on #361
@ematvey could you please share what configs you made to run multiple models in parallel ? we're trying to run 8 workers (model instances) of the same model to hopefully process 7-8 requests by the same response time as one request, were you able to achieve this ?

[2021-05-22 21:35] PMA65 opened #1093 "Multiple models inference on the same GPU"
So we're using torchserve for serving one model for each machine with one GPU,
but we want to increase throughput by having multiple instances of that model running on the same GPU but response time for concurrent requests is still the same as consecutive response time, now we are using default_workers_per_model=8 and we can see the GPU memory usage of 8 models but still when sending 8 concurrent

[2021-05-24 07:33] Arvind-Ideas2IT opened #1094 "Getting Unknown exception Message size exceed limit, When tried to save few extra attributions methods response in Explain request using my custom handler file for CIFAR10 classification example."
I have a custom handler file in which I just override the get_insights function just to add two more attributions methods along with the default  Integrated Gradient attributions method and get the response. But I get the   "Unknown exception
io.netty.handler.codec.CorruptedFrameException: Message size exceed limit: 11144798 error". But when I built torchserve from the source and hardcoded the max

[2021-05-24 16:12] HamidShojanazeri commented on #1093
@PMA65 would you please try increasing the batch size, to 4/8 and monitor the changes. Thanks.

[2021-05-25 16:00] Matthieu-Tinycoaching opened #1096 "Invalid return type: <class 'torch.Tensor'>"
Hello,

When trying to make predictions on a pretrained "`sentence-transformers/stsb-xlm-r-multilingual`" model with torchserve locally with client code below:

[code]
I got the following error message: `{'code': 503, 'type': 'InternalServerException', 'message': 'Prediction failed'}`

If I look into the log, I got the following message:
[code]

The error seems to come from this line:
`2021-05-25

[2021-05-25 20:26] sqlboy commented on #1077
I have the same issue, I've tried 4 different examples step by step and they all fail to run.  I'm using 0.4 from pip.

[2021-05-25 21:08] #1083 closed

[2021-05-25 21:08] #1091 closed

[2021-05-26 00:28] seraconlp opened #1097 "Cannot invoke TorchServe from SageMaker Notebook"
Hi, I deployed a model using **SageMaker Native TorchServe Integration**.

That is, it uses Amazon Deep Learning Container.

Now, I wanted to try the TorchServe REST APIs from SageMaker Notebook.

When I try for example calling **!curl http://localhost:8080/ping** , it is getting

_curl: (7) Failed to connect to localhost port 8080: Connection refused_

Any guidance would be appreciated.

This mod

[2021-05-26 00:50] seraconlp commented on #1097
As this method of model deployment created TorchServe-powered SageMaker endpoint, I have to try also this in the model deployer SageMaker Notebook:

!curl http://runtime.sagemaker.us-east-1.amazonaws.com/endpoints/{endpoint_name}:8080/ping

However, it looks like not responding at all. Just the hour glass / kernel running display.

[2021-05-26 01:49] vuongdanghuy commented on #1096
Torchserve need to return a list of inference results (check [here](https://pytorch.org/serve/custom_service.html)). In your case you are returning a torch.Tensor so it's invalid. You should convert your tensor, add it to a list and return it.

[2021-05-26 07:21] PMA65 commented on #1093
you mean the inference batch size or which batch size ??

[2021-05-26 12:04] Matthieu-Tinycoaching commented on #1096
Hi @vuongdanghuy thanks for the advice it works!

[2021-05-26 12:04] #1096 closed

[2021-05-26 21:56] msaroufim commented on #1097
Hi @seraconlp which tutorial are you following exactly? This one? https://torchserve-on-aws.workshop.aws/en/

Regardless of tutorial can you confirm which steps you followed and where things stopped working as expected? Logs and screenshots would be very helpful

[2021-05-26 22:02] #1039 closed

[2021-05-26 22:03] #81 closed

[2021-05-26 22:04] #671 closed

[2021-05-26 22:09] seraconlp commented on #1097
Hello @msaroufim, ah yes build from that tutorial too.

Essentially the "**Deployment that uses the Amazon SageMaker SDK for natively model serving with TorchServe.**" part.
=> https://torchserve-on-aws.workshop.aws/en/400.html

I got to call TorchServe APIs (http://localhost:808X/{REST API}) when installing it locally in the SageMaker notebook instance.

Where I am confused now is, if deployed th

[2021-05-26 22:18] HamidShojanazeri commented on #1097
CC @lxning @maaquib

[2021-05-26 22:20] HamidShojanazeri commented on #1093
@PMA65 I mean increasing the batchsize when registering the model and then sending inference requests in batch.

[2021-05-26 22:23] #1017 closed

[2021-05-26 22:24] #977 closed

[2021-05-26 22:27] #938 closed

[2021-05-26 22:32] maaquib commented on #1097
@seraconlp If you are deploying the container on SageMaker (SM) you'd have to use the SM `invocation` api. The native TorchServe APIs are not exposed on SM. You **have** to use the SM apis. You can use either [boto3.sagemakerruntime](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sagemaker-runtime.html#SageMakerRuntime.Client.invoke_endpoint) or [awscli](https://docs.aw

[2021-05-26 22:36] #509 closed

[2021-05-26 22:36] #339 closed

[2021-05-26 22:37] maaquib commented on #1094
@Arvind-Ideas2IT Can you set the [max_response_size](https://github.com/pytorch/serve/blob/master/docs/configuration.md#other-properties) to a larger value when starting the server and let us know if it works

[2021-05-26 22:41] seraconlp commented on #1097
Hello @maaquib @HamidShojanazeri @msaroufim, thank you for your replies.

Is this what you mean?

`client = boto3.client('sagemaker-runtime')
endpoint_name = ‘{endpoint_name}’
body = json.dumps({“key1: “value1”}))
response = client.invoke_endpoint(
                EndpointName=endpoint_name,
                ContentType='application/json',
                Accept="application/json",
                

[2021-05-26 22:45] seraconlp commented on #1097
Looking at this now: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sagemaker-runtime.html#SageMakerRuntime.Client.invoke_endpoint

I hope you can provide me specific example for invoking one of TorchServe's REST APIs.

[2021-05-26 23:17] maaquib commented on #1097
[code]

As mentioned earlier, once the container is deployed in SageMaker you cannot call the TorchServe APIs, they are not exposed. Only the SageMaker APIs are callable i.e. the invoke_endpoint

[2021-05-26 23:28] seraconlp commented on #1097
Oh wow. Does it mean we loose all the TorchServe REST API benefits?

Use cases like, adding models, versioning models, increasing worker threads, consuming metrics, ...

Is there a way to access these TS APIs like going inside the container where TS is running?

Or do you mean -- before the container is deployed to SageMaker, one can TS REST APIs?

However, native SageMaker deployment via SM Pytho

[2021-05-26 23:35] seraconlp commented on #1097
Would it best then to do BYOC in SageMaker with TorchServe backing?

Then before deploying BYOC to SageMaker... do any necessary TS API calls?

Would this be the best reference to use?

https://aws.amazon.com/blogs/machine-learning/deploying-pytorch-models-for-inference-at-scale-using-torchserve/

[2021-05-26 23:37] maaquib commented on #1097
SageMaker allows customers to deploy custom model server not just the default ones. As such it has a contract that all model server should implement to be able to run in SageMaker. TorchServe is just one specific model server. As such, only the common set of APIs that SageMaker exposes are callable. It doesn't matter if it is a BYOC container or the default TS one. Also, there is no way of logging

[2021-05-26 23:48] seraconlp commented on #1097
I think I am understanding it better now. Thank you for this helpful information.

All the while I thought I am going to use TS REST APIs even when it is used as model server in SageMaker.

My understanding now with your help is that, SageMaker SDK has these similar APIs that I should use instead.

TorchServe on its own is PyTorch model serving and its REST APIs are useful when not using SageMaker

[2021-05-26 23:52] seraconlp commented on #1097
Planning to read these two PRs as well:

[SageMaker changed their default PyTorch model server into TorchServe]
1. https://github.com/aws/sagemaker-pytorch-inference-toolkit/pull/79
2. https://github.com/aws/deep-learning-containers/pull/347

[2021-05-26 23:59] maaquib commented on #1097
Your understanding is correct. If there is some specific TS API that you are not able to replicate the behaviour of in SM do let us know.

Docs
* https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_runtime_InvokeEndpoint.html
* https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sagemaker-runtime.html

[2021-05-27 00:00] #1097 closed

[2021-05-27 04:36] neoragex2002 commented on #943
No. It doesn't work. No matter what content_type header I have set in context.response (even if charset:utf-8) , the output is always json/unicode... It's really annoying.

[2021-05-27 04:48] msaroufim commented on #353
@prajwaljpj's suggestion is correct - if there's a need for something more sophisticated feel free to open up this issue again

[2021-05-27 04:48] #353 closed

[2021-05-27 04:54] msaroufim commented on #760
@opconty this is a nice example https://github.com/pytorch/serve/tree/master/examples/text_to_speech_synthesizer#serve-the-waveglow-speech-synthesis-model-on-torchserve

[2021-05-27 04:54] #760 closed

[2021-05-28 08:13] Matthieu-Tinycoaching opened #1100 "InternalServerException: Failed to start workers"
Hello,

I tried to launch torchserve on AWS Inf1 instance with my custom sentence transformer model following this guideline: https://awsdocs-neuron.readthedocs-hosted.com/en/latest/neuron-guide/neuron-frameworks/pytorch-neuron/tutorials/tutorial-torchserve.html#id1

However, when I used the Management API to instruct TorchServe to load my model:
`curl -X POST "http://localhost:8081/models?url=$MO

[2021-05-28 09:19] yurkoff-mv commented on #1094
I have a similar problem when I transfer embeddings of dimension [batch_size x 256 x 768] from the BERT model to the subsequent model, which is a full connect layer. I meant that the data should go along the graph continuously and there is no unloading at intermediate stages.
`
Message size exceed limit: 11428070
`

[2021-05-28 09:58] valboldakov opened #1101 "Scaling down a model instance will shut down a worker immediately even with the correct timeout value"
## Context

I have tried `torchserve` to serve one custom simple model to test some cases. One of them is scaling down or unregistering a model to 0 workers when there are requests in the queue. I added parameter `timeout=-1` to remove workers only when all requests from the queue were completed. And the server doesn't wait for all the requests and scale them down immediately.
TL;DR I create a tor

[2021-05-28 12:01] yurkoff-mv opened #1102 "No work parameter workflow-store in config.properties"
## Context

* torchserve version: 0.4.0
* torch-model-archiver version: 0.4.0
* torch version: 1.8.1+cu111
* torchvision version [if any]: 0.9.1+cu111
* torchtext version [if any]: 0.9.1
* torchaudio version [if any]: 0.8.1
* java version: OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
* Operating System and version: Windows 10

## Your Environment

* Installed using source? [yes/no]: no
* Are

[2021-05-28 12:50] Matthieu-Tinycoaching commented on #1100
To be clear with only 1 INITIAL_WORKERS, please find below the log message:

[code]

[2021-05-28 17:00] Matthieu-Tinycoaching commented on #1100
Solved by using import torch-neuron at the top of the handler file.

[2021-05-28 17:00] #1100 closed

[2021-05-28 18:04] yurkoff-mv opened #1103 "Can two workflows share the same model with each other?"
Continuing my previous post: [How i do models chain processing and batch processing for analyzing text data?](https://github.com/pytorch/serve/issues/1055)

Can I create two workflows using the same RoBERTa base model to perform two different tasks, let's say the classifier_model and summarizer_model? I would like to be able to share the base model with two workflows.

I am trying to register two

[2021-05-31 17:58] Arvind-Ideas2IT commented on #1094
Hi @maaquib, Yes after setting  max_response_size to a larger value(i.e 655350000 ),The issue get resolved. Though I am curious to know in little detail why it is happening, I did a very simple sanity check, When I make explain req with the default Integrated gradient, the request gives the response, but when I added a simple extra dict with one key and value(ie. {"extra_attri":2} along with defau

[2021-06-01 11:14] punshriv commented on #64
If batchSize and max_batch_delay can only be configured only through management API what is the recommendation from Torchserve team to configure this when using multiple replicas in Kubernetes to load these values on container start/restart ?

[2021-06-01 17:43] gautam-girotra opened #1104 "Custom pip package installation failed."
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context
 I am trying to install custom dependencies.
 All solutions have been docker based. I am not using docker

[2021-06-02 10:16] Atul997 opened #1105 "Unable to get prediction from serving API"
I have success fully converted my model into torchserve mar format and using docker to create model serving. When I ping to check API status, it is working the response I got is
[code]
And when I am using predictions API it's response is
[code]

Also the logs folder isn't in the directory where I am running docker container the console logs are as-

[code]

[2021-06-02 15:33] Wilson-inclaims commented on #528
Hi, @Leoduv. I have the same issue. In my case, after new pods are generated, those seem to start serving.
Among some of the pods, only one pods' CPU usage was almost 100%, but the pod is not constant.
It was changed randomly, so I've found that the new pods were ready to serve.
And I checked that there wasn't any something wrong with the load balancer setting with AWS EKS engineers.
Did you get s

[2021-06-02 16:20] maaquib commented on #1105
@Atul997 It doesn't look like your model is registered ([doc](https://github.com/pytorch/serve/blob/master/docs/management_api.md#register-a-model)). Can you provide more details on how you are registering the model?

[2021-06-02 16:25] maaquib commented on #1104
Same issue as #1086. Can you manually run the pip install command to verify that it works

[code]

[2021-06-02 18:12] gautam-girotra commented on #1104
The issue was with the requirements file.

[2021-06-02 18:12] #1104 closed

[2021-06-03 06:52] Atul997 commented on #1105
I have registered the model it is working. Now the issue I am facing is my model is trained on mmdetection cuda and I have to do inferencing in cpu which shows error -
[code]

[2021-06-04 17:35] lxning opened #1107 "support model config via configuration file"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-06-04 20:32] JonathanSum opened #1109 "Does this serve work with Reactjs both without backend?"
## Is your feature request related to a problem? Please describe.

## Describe the solution

I have been seeing that many people use WebAssembly to make python libraries work in browsers in both python and Reactjs, such as numpy or other ML library.
Thus, it would be great to have Serve using something like WebAssembly to make it work in the browser only without connecting it to the backend.
## De

[2021-06-04 21:16] lxning commented on #1105
@Atul997 could you please run on release 0.4.0 to see if the problem is still there?

[2021-06-04 21:20] lxning commented on #1102
@yurkoff-mv u need provide workflow store when u start torchserve. Please follow [workflow exqmple](https://github.com/pytorch/serve/tree/master/examples/Workflows/nmt_tranformers_pipeline#commands-to-create-the-models-and-the-workflow)

[2021-06-06 19:03] jigsawcoder opened #1110 "code:405, type:"MethodNotAllowedException", message:"Requested method is not allowed, please refer to API document.""
I am trying to deploy Scaled YOLOV4 object detection model. Below are the steps I followed:
1) Converted .pt model to .torchscript.pt model

2) Created new environment and installed all dependencies.

3) Converted torchscript model to mar model using the following code,
torch-model-archiver --model-name scaled_yolov4_tablecell --version 1.0 --extra-files 'path to .torchscript file' --handler objec

[2021-06-07 03:12] opconty commented on #760
Thanks , and sorry for the late reply
@msaroufim

[2021-06-07 07:27] yurkoff-mv commented on #1102
Yes, but it works for the model-strorage. The following command works:
`torchserve --start --workflow-store wf_store/ --ts-config config.properties`

### config.properties
[code]
The documentation says that it is possible to specify a directory **workflow-store** in a file **сonfig.properties**:
[Advanced configuration](https://github.com/pytorch/serve/blob/master/docs/configuration.md)

[2021-06-07 23:37] msaroufim opened #1112 "Test DynamoDB snapshots"
Following instructions from https://github.com/pytorch/serve/blob/master/plugins/docs/ddb_endpoint.md
1. Setup AWS CLI with my credentials, key and region with `aws configure`
2. Slightly modified script to get it to run in my terminal

[code]

Confirming table was created in AWS console

![Screen Shot 2021-06-08 at 12 52 51 PM](https://user-images.githubusercontent.com/3282513/121248584-72955a80-

[2021-06-07 23:37] msaroufim opened #1113 "Test Prometheus plugin"
## Repro instructions

### Prometheus

[code]

In a separate shell - follow instructions from README
1. Install torchserve
2. Archive a model
3. Serve a model
4. Make an inference

### Grafana
[code]

Then had to enable anonymous access https://stackoverflow.com/questions/33111835/how-to-set-up-grafana-so-that-no-password-is-necessary-to-view-dashboards

## Output

In VS Code

![Screen Shot 2021-0

[2021-06-07 23:40] msaroufim opened #1114 "Documentation for batched inference with torchserve"

[2021-06-07 23:57] lxning opened #1115 "support PyTorch 1.9"
## Is your feature request related to a problem? Please describe.

## Describe the solution

## Describe alternatives solution

[2021-06-08 16:22] HamidShojanazeri commented on #1103
@yurkoff-mv I believe this should be possible to handle in one DAG, having roberta-base in the preprocessing node and sending the embeddings to classifier and summarizer, @maaquib would that be a potential solution?

[2021-06-08 19:20] msaroufim commented on #1113
## Repro instructions

### Prometheus

[code]

In a separate shell - follow instructions from README
1. Install torchserve
2. Archive a model
3. Serve a model
4. Make an inference

### Grafana
[code]

Then had to enable anonymous access https://stackoverflow.com/questions/33111835/how-to-set-up-grafana-so-that-no-password-is-necessary-to-view-dashboards

## Output

In VS Code

![Screen Shot 2021-0

[2021-06-08 20:04] msaroufim commented on #1112
Following instructions from https://github.com/pytorch/serve/blob/master/plugins/docs/ddb_endpoint.md
1. Setup AWS CLI with my credentials, key and region
2. Slightly modified script to get it to run in my terminal

[code]

Confirming table was created in AWS console

![Screen Shot 2021-06-08 at 12 52 51 PM](https://user-images.githubusercontent.com/3282513/121248584-72955a80-c858-11eb-9fc9-cf12da

[2021-06-09 04:34] HamidShojanazeri commented on #1110
@jigsawcoder seems its missing  the index_to_name.json, please refer to the [example](https://github.com/pytorch/serve/tree/master/examples/object_detector/fast-rcnn#object-detection-using-torchvisions-pretrained-fast-rcnn-model).

[2021-06-09 08:28] flightefore opened #1119 "serve module excute gardle task (jar) error"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
* torch-model-archiver version:
* torch version:
* torchvision version [if any]:
*

[2021-06-09 12:58] mspinaci opened #1120 "TorchServe slower (and lower GPU utilization) than Eager inference"
While running a (rather) big model on GPU on high res images I can easily achieve 100% GPU utilization in Eager mode. Porting the same model to TorchServe (and removing all CPU pre/post processing) still fails to achieve it, and runtime is almost twice as much.

(I'm relatively new to Pytorch and just started with TorchServe, so this might well be a problem on my end and not a bug, if so I apologi

[2021-06-09 17:41] msaroufim commented on #1119
Hi @flightefore thank you for reporting this - do you mind sharing the context, environment and repro steps so I can better help debug?

[2021-06-10 10:50] dulante00 commented on #1077
I see your situation is that models search success, Worker died. I encount this situation is caused by the handler.py file in the .mar archive. This is my situation,  for reference only , Hope it helps you

[2021-06-10 15:30] nskool opened #1121 "Enhance benchmarking automation phase 3"
## Is your feature request related to a problem? Please describe.

The feature requests come from comments on this PR: https://github.com/pytorch/serve/pull/1052, and punted issues from the PR https://github.com/pytorch/serve/pull/1099 that are follow-up from this issue https://github.com/pytorch/serve/issues/1067

## Describe the solution
Add the following features to automation to facilitate bet

[2021-06-10 15:35] nskool commented on #1067
Considerations addressed/not addressed/punted as of pr #1099

1. Consider using https://pypi.org/project/mdutils/ if the report structure becomes complex.
Addressed: the 3p utility need not be used as of PR #1099 as the format of the output markdown doesn't change, and is kept simple.
2. Consider using boto3 for aws calls?
Addressed: There is no advantage to using boto3 in the current implementati

[2021-06-11 01:52] flightefore commented on #1119
Branch：master
jdk:11
gradle:7.2

[2021-06-11 01:52] flightefore commented on #1119
Branch：master
jdk:11
gradle:7.2

[2021-06-14 14:06] husnain-ali21 opened #1123 "How should ResourceNotFoundException be solved ?"
Hello! I am trying to deploy a  model on an aws ec2 instance using torchserve and I am unable to  understand the following raised exception there is no documentation / guide / FAQ or an issue regarding such case , when I make a request  using
`curl -X POST http://127.0.0.1:8081/predictions/modelv3_im2lat -T /home/ubuntu/TEST_IMAGE.jpg`  I get this output
[code]

`curl http://localhost:8081/models`

[2021-06-14 19:39] HamidShojanazeri opened #1124 "Improving the Workflow Documentation"
## 📚 Documentation
In cases like issue #1103, type of workflows are targeted that requires a model to be registered in the pre-processing node of the workflow DAG to enable the user sending the features/embeddings to the heads/other models in the DAG. This needs to be investigated and Documented accompanied by  small sample code how this can be done in case its supported in the current version.

[2021-06-14 21:50] #1112 closed

[2021-06-14 21:50] #1113 closed

[2021-06-15 04:31] gioipv commented on #314
Hello vinayaksable2399
u can zip folder (custom module) as normal
When use `torch-model-archiver`  , set extra-file is path the zip file .and in you'r custom handler, u have to unzip file before import you'r custom module (using zipfile).

[2021-06-15 05:02] rdraju commented on #1028
I am facing the same issue. Is there any update on this.

[2021-06-15 15:46] t-henri commented on #1032
Hello, sorry for the long delay before my answer.

For why I like grafana and prometheus, that is what we use for all our other applications, and we have integrations to send prometheus/grafana alerts directly in our slack channels and everything, so I would like to not use another technology to monitor my Torchserve instances.

For what kind of data I'd like to track, I can think of a few:
- The

[2021-06-16 13:56] ed-muthiah opened #1127 "Persistent Handler"
## Is your feature request related to a problem? Please describe.

I'm looking to pass multiple feeds of sequential data  from one instance to torchserve running on a separate instance. The current handlers such as the object detector seem to distribute the incoming requests to different workers and run the handler. I'm looking to understand how I can create a persistent handler.

## Describe the

[2021-06-16 14:16] ed-muthiah commented on #1077
Installing the requirements.txt solved this.

[2021-06-16 14:16] #1077 closed

[2021-06-16 18:49] msaroufim commented on #1123
Hi @husnain-ali21 yeah that's a frustrating error message - do you mind sharing repro instructions so I can debug? The bug template we have when you open an issue is good https://github.com/pytorch/serve/issues/new?assignees=&labels=&template=bug_template.md

[2021-06-16 18:53] msaroufim commented on #1109
Hi @JonathanSum torchserve provides a RESTFUL API you can call from any React js app so yeah should work great. Take a look at one of the examples and if you get a react app working feel free to share it - I'd be happy to feature it in our examples repo

[2021-06-16 19:02] msaroufim commented on #1068
Partial Healthy gets thrown if the number of workers allocated are less than the number of workers scaled https://github.com/pytorch/serve/blob/master/frontend/server/src/main/java/org/pytorch/serve/util/ApiUtils.java#L351

I would suggest you initialize a model with 1 initial worker, try setting scale api to 1 worker and see if everything works - if it does scale to something larger than 1 and se

[2021-06-16 19:05] msaroufim commented on #899
With torchserve 0.4 and python 3.8 I am not seeing this issue so closing for now but can reopen if you feel we need to give this a second look

[2021-06-16 19:05] #899 closed

[2021-06-16 19:07] msaroufim commented on #476
If anyone comes across this issue, this merged PR should help https://github.com/pytorch/serve/pull/1027

[2021-06-16 19:12] #934 closed

[2021-06-16 19:16] chauhang opened #1128 "CPU Inference optimizations"
Optimize default settings for CPU Inference in the TorchServer handler. Explore set_num_threads optimal settings for single inference and batch inference modes.

[2021-06-16 19:21] msaroufim commented on #1119
HI @flightefore if you could fill up the template above (this one https://github.com/pytorch/serve/issues/new?assignees=&labels=&template=bug_template.md) shown in your firstt comment a nd also include repro steps so I can reproduce exactly your issue on my end to better help you

[2021-06-17 01:56] vuongdanghuy commented on #1123
may be prediction URL `curl -X POST http://127.0.0.1:8081/predictions/modelv3_im2lat -T /home/ubuntu/TEST_IMAGE.jpg` is not correct? I think it should be port 8080 instead of 8081.

[2021-06-17 07:27] yashna-shravani commented on #1068
Thanks @msaroufim , I deployed this image on Openshift pod having 4GB RAM and 4 CPU cores (hence using 4 workers now) and it is showing healthy.
I also updated the config.properties to :
<img width="315" alt="image" src="https://user-images.githubusercontent.com/32808937/122349778-32299100-cf6a-11eb-9abb-681a62e7e102.png">
But now i see these new connection reset errors:
<img width="1181" alt="ima

[2021-06-18 14:46] shrinath-suresh opened #1130 "Custom Requirements installation failed"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

We are using torchserve to deploy, predict and explain pytorch lightning models in kubelow.

For the inf

[2021-06-18 16:08] maaquib commented on #1123
From the output of `curl http://localhost:8081/models` the model is registered with the name `model`. The prediction should be `curl -X POST http://127.0.0.1:8081/predictions/model -T /home/ubuntu/TEST_IMAGE.jpg`

[2021-06-18 18:42] lxning commented on #1130
@shrinath-suresh I reproduced the issue and found that pytorch_lightning was installed when install_py_dep_per_model is set as true.

Here is my setting:
- config.properties
inference_address=http://0.0.0.0:8085
management_address=http://0.0.0.0:8081
metrics_address=http://0.0.0.0:8086
install_py_dep_per_model=true
model_store=model-store

- cmd: torchserve --start --ncs --model-store model_store/

[2021-06-19 05:21] #1109 closed

[2021-06-19 06:59] johann-petrak opened #1131 "Please document how this works and why it works that way"
The torchserve library has very specific requirements and very specific ways of how things are done or must be provided and it is really hard to find out how to adapt it to different situations and what parts of the internal processing are really essential and why.

For example, the way how models must be provided, how everything gets zipped up, how it gets unzipped again later into temporary dire

[2021-06-19 09:06] JonathanSum commented on #1109
@msaroufim
Thank you for answering. I was asking will serve supports put everything in the browser rather than using the restful API way.
I will try to build an example of it using serve with Reactjs in a restful API way or maybe the way that puts everything in the browser.
I was thinking if it is not difficult to build a restful API, we do not really need to have another framework like serve make

[2021-06-19 10:25] shrinath-suresh commented on #1130
Thanks for the reply. I have follow-up questions on this. if you notice the mar file which i have shared in the issue, the pytorch lightning version is pinned to `1.3.2`.  When `install_py_dep_per_model` is set to `true`, pytorch lightning 1.3.2 should be installed (which is not happening).

The problem here is on `install_py_dep_per_model`. May be if you think pytorch lightning is version specifi

[2021-06-19 11:03] shrinath-suresh commented on #1130
Even if all the packages are installed (say we install pytorch lightning 1.3.2 and captum using pip) , and run this example

with `install_py_dep_per_model=false` - model loads properly
with `install_py_dep_per_model=true` - throws error mentioned in the issue.

Can you please check if you are observing the same behaviour in your environment ?

[2021-06-19 20:50] johann-petrak opened #1132 "Dynamic batching?"
Torch serve mentions it is derived from the Multi Model Server https://github.com/awslabs/multi-model-server

As far as I remember, the MMS allows dynamic batching: the method for processing instances always gets an array of instances.
Depending on the configuration, if the server receives more than BATCHSIZE requests within a configurable timespan, then these requess are dynamically collected int

[2021-06-20 20:32] msaroufim commented on #1132
Hi @johann-petrak this PR should have instructions to do this https://github.com/pytorch/serve/pull/1125 which should get merged soon - let me know if this is indeed what you were looking for

[2021-06-20 20:59] msaroufim commented on #1131
Hi @johann-petrak we're very open on feedback on how we do things and what can be made simpler so feel free to reach out to me I'm happy to meet over Video Chat to discuss in more detail where you think the experience could be better so let me. That said here are my thoughts on your question.

Just trying to better understand the ask here is you're having trouble understanding the inner workings o

[2021-06-20 21:02] msaroufim commented on #1127
Hi @ed-muthiah do you feel like your use case would be covered by increasing the batch size of your model and taking care of using multiple outputs in the inference function of a handler? https://github.com/aws-samples/amazon-sagemaker-endpoint-deployment-of-fastai-model-with-torchserve/blob/main/deployment/handler.py#L85

If that doesn't work you can also write your inferences in a file in the in

[2021-06-20 21:03] #1093 closed

[2021-06-20 21:05] #1123 closed

[2021-06-20 21:05] johann-petrak commented on #1132
Thanks @msaroufim this looks exactly like the thing I was looking for! Looking forward to this getting merged and released as the component I was originally looking at is the AWS SageMaker Pytorch inference container which depends on torch serve.

[2021-06-20 21:07] msaroufim commented on #1054
Hi @LeDuySon sorry for the delay

Can you add `torch.set_num_threads(1)` at the top of your handler file? This substantially improved CPU performance for me.

I'm working on adding support for it in the base handler but just thought I'd update you in case you'd like to try it out first

[2021-06-20 21:40] johann-petrak commented on #1131
Thank you for this answer! I will get back here with more detailed information about what I had trouble with later when I understand better what part of it my own confusions was.

But here one of issues that confused me most coming from the SageMaker Pytorch inference approach of doing things:
the documentation explains in some detail how one should either specify a architecture or a saved state d

[2021-06-20 22:59] #743 closed

[2021-06-20 23:05] msaroufim commented on #1085
Hi @PMA65 this seems like an issue with a specific model that runs on Linux but not Windows

`TypeError: expected str, bytes or os.PathLike object, not PosixPath`

so if you could share more instructions so I can actually reproduce using the issue template I can help more on my end

[2021-06-21 05:00] ed-muthiah commented on #1127
@msaroufim
Hey Mark, I think the second method of writing every inference to file and reloading it back might significantly impact inference times compared to having the previous state available in memory.

With regards to batch processing could you please provide a bit more detail as to how this could accomodate sequential information? If set the batch size as 2, to use to consecutive frames in a

[2021-06-21 23:20] msaroufim commented on #1068
Since it's a distributed system it's common to have individual workers fail - the important thing to make sure it that you can still correctly get an inference by running a curl request against the inference endpoint. Closing this for now since the main issue is resolved but feel free to open a seperate issue if you need help debugging the rest

[2021-06-21 23:20] #1068 closed

[2021-06-21 23:21] #720 closed

[2021-06-21 23:25] msaroufim commented on #403
Closing and keeping track of this AMD support in this issue https://github.com/pytorch/serve/issues/740

[2021-06-21 23:25] #403 closed

[2021-06-21 23:28] msaroufim commented on #1060
Hi @maheshambule if you can share repro instructions according to the issue template I can assist you further. I don't see the notebook you attached here

[2021-06-21 23:38] msaroufim commented on #1036
Hi @vuongdanghuy I tried to repro this with the hello world example we have in our main repo and couldn't find such an issue where I took an image classifier fed it an image it worked fine, then some text and it crashed and then an image again and it worked fine

So I need a bit more information to help so I can reproduce everything exactly
1. All the files you used to generate the mar file
2. How

[2021-06-21 23:41] msaroufim commented on #1034
Closing for now since a worker dying does not mean the model isn't working - need to make sure an inference can actually run. Rerunning the hello world model for densenet on my end seems to work just fine

[code]

[2021-06-21 23:41] #1034 closed

[2021-06-22 00:15] #1132 closed

[2021-06-22 00:39] #1022 closed

[2021-06-22 00:41] HamidShojanazeri commented on #1127
@ed-muthiah this is an interesting use-case, Torchserve currently does not support linking data to a specific worker, its in our roadmap to support finer control for users in future versions, however the plan is so far about finer control on devices (selecting the gpu:id).

I wonder if for you current use-case as workaround, if there is a way to sign your input (similar to this [sample](https://gi

[2021-06-22 00:41] msaroufim commented on #608
Dupe of work by @nskool

[2021-06-22 00:42] #608 closed

[2021-06-22 00:56] msaroufim commented on #748
Hi @shnoru1 what kinds of best practices do you think we're missing? This doc feels very similar to our existing README.md

[2021-06-22 00:58] #115 closed

[2021-06-22 02:04] msaroufim commented on #948
@alvarobartt thank you so much for patiently helping out folks - we really appreciate it!

[2021-06-22 02:04] #948 closed

[2021-06-22 02:13] #866 closed

[2021-06-22 02:45] ed-muthiah commented on #1127
Hi @HamidShojanazeri and @msaroufim thanks for taking an interest in this issue. Personally I'm working with sequential images from a video. Would you have any idea how we could sign an image?

Furthermore, I'm not sure I understand what signing achieves. If you consider three different streams of images, lets say some images are signed A, signed B and signed C.

1. How would this distribute to th

[2021-06-22 03:20] vuongdanghuy commented on #1036
Hi @msaroufim. Here is the [link](https://github.com/vuongdanghuy/ts_layoutlm) to my repo. All the files and instructions are included. In the `inference` folder there are 2 json files: `abc.json` file is a correct example and `error_layoutlm.json` file is the wrong one. Inference request using `error_layoutlm.json` file will crash the server.

## My Environment
* Installed using source? [yes/no]:

[2021-06-22 04:08] HamidShojanazeri commented on #1127
@ed-muthiah I see,I think I missed the part that you need the previous frames predictions contributing to the next frame. My suggestion was a to find a work around to associate the responses from stream A, being served on different workers.

As all the workers serving the same model, so the idea of signature just make sure that the inference resulted from any worker can be associated back to the r

[2021-06-22 04:09] HamidShojanazeri commented on #1127
CC @maaquib

[2021-06-22 05:00] ed-muthiah commented on #1127
Gotcha, now I get what you mean. But yes, as you said, the sequential nature of this makes it a bit tougher.

A few comments what I think we need:

1. **Worker Affinity** - Some way of binding a stream to a worker. Is it possible to allocate a specific worker to respond to request on a specific port? This is not an elegant solution, but means that we could manually assign StreamA to Worker1.
2. **

[2021-06-23 00:08] AlfredWGA opened #1134 "Failed to build Docker image in production environment"
## Context

* torchserve version: 0.4.0
* torch version: 1.8.1
* Operating System and version: Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-144-generic x86_64)

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker container? [yes/no]: yes
* Is it a CPU or GPU environment?: gpu

## Expected Behavior

Successfully build the Docker image.

## Current Behavi

[2021-06-23 07:14] msaroufim commented on #1036
Interesting so this is probably your best bet - I'd open a Github issue on LayoutLM repo and see if they can assist. Feel free to reopen this if you run into any issues with torchserve

[2021-06-23 07:14] #1036 closed

[2021-06-23 07:25] aohan237 opened #1135 "how to serve model converted by hummingbird from sklearn?"
if i have a sklearn model, and then use hummingbird (https://github.com/microsoft/hummingbird) to transfer as pytorch tensor model

so the model structure is from hummingbird, but not by my own such as :

hummingbird.ml.containers.sklearn.pytorch_containers.PyTorchSklearnContainerClassification
so i dont have the model.py

how to use torch serve to serve this model?
i tried below:

torch-model-arc

[2021-06-23 15:28] hatzel opened #1136 "CUDA_VISBIBLE_DEVICES doesn't properly factor into GPU selection"
In a multi GPU setup it seems that setting `CUDA_VISIBLE_DEVICES` doesn't properly limit access to GPUs, instead torchserve crashes with an invalid device ordinal error.

## Context
On a multi GPU server I seek to only use one GPU for torchserve. So I set `CUDA_VISIBLE_DEVICES` to e.g. 6.
* torchserve version: 0.4.0

## Your Environment
Multi GPU server, Ubuntu Linux

## Expected Behavior
GPU roun

[2021-06-23 17:21] msaroufim commented on #1135
The model.py is only needed for eager mode inference but if you can convert your model to torchscript then you can skip it

https://github.com/pytorch/serve/tree/master/model-archiver

[code]

So my suggestion is to try to take a look at torchscripting the model using instructions from here https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html

[2021-06-23 17:21] #1135 closed

[2021-06-23 17:23] #1110 closed

[2021-06-23 17:35] HamidShojanazeri commented on #1135
@aohan237 adding to @msaroufim point, in this case you are using the default handler, the other option would be to use/write a custom handler that initialize the model in the handler and then you can bypass the requirement of model.py.

[2021-06-23 17:42] HamidShojanazeri opened #1137 "Removing model-file from Huggingface example."
## 📚 Documentation
Currently, Huggingface is an example of custom handler where it gives users the option to work with third part libraries without providing model.py as it can be complicated in many cases. Removing model.py and reverting to previous version of Huggingface example would help the community to refer to this example as custom service in these use-cases.

[2021-06-23 17:48] msaroufim commented on #1134
Hi @AlfredWGA I just tried this out on my local Mac and couldn't repro

Can you try running the command to query the latest torch version from your terminal and paste the output here?

[code]

[2021-06-23 17:55] msaroufim commented on #968
Hi @zeyu-liu it'd be helpful to get more complete repro instructions using our issue template. Ideally something I can follow step by step to get the exact same issue you're getting.

[2021-06-23 17:57] msaroufim commented on #1127
What about an in memory database like redis or memcached? Should work in principle similarly to writing to a file without the slowdown from reading and writing to disk.

[2021-06-23 18:03] msaroufim commented on #1094
So max response size you set is about 64MB, do you mind as a sanity check recursively checking the size of the response using this snippet? https://code.activestate.com/recipes/577504/

If you're working on deploying multiple models that talk to each other I'd suggest you take a look at our new workflow feature https://github.com/pytorch/serve/tree/master/examples/Workflows

[2021-06-23 18:08] #998 closed

[2021-06-23 18:11] msaroufim commented on #1033
A baseline is always good to start with, you don't need a fancy model to get started - looking forward to your PR

[2021-06-23 18:11] #1033 closed

[2021-06-23 18:32] KeithCu commented on #1033
I have been busy with a new job but I'll keep working on it during the weekends.

[2021-06-23 18:42] AlfredWGA commented on #1134
@msaroufim Hi thank you for the reply. The problem comes from my internet issue. Sorry to bother, closing the issue here.

[2021-06-23 18:43] #1134 closed

[2021-06-23 23:06] ed-muthiah commented on #1127
This could work. I can see that Tensorflow uses Kafka to handle streaming data.

I'll have an attempt and let you know.

[2021-06-23 23:57] ed-muthiah commented on #1127
This could work, I'll investigate a bit more.

[2021-06-24 02:21] aohan237 commented on #1135
if using torch.jit.trace it shows:
`RuntimeError: Could not get name of python class object`

[2021-06-24 02:35] aohan237 commented on #1135
torch.jit.trace seems only with normal model, but a hummingbird's transfered model it seems have severay problems.
have to fix things to make it run, at last i give it up..

do i have any other options?

[2021-06-24 02:54] aohan237 commented on #1135
i wrote a simple handler ,such as :

`
class MyModelHandler(object):
    """
    A custom model handler implementation.
    """

    def __init__(self):
        self._context = None
        self.initialized = False
        self.model = None
        self.device = None

    def initialize(self, context):
        """
        Invoke by torchserve for loading a model
        :param context: context con

[2021-06-24 02:57] aohan237 commented on #1135
and through the error messages, i cant know  how to fix it..
thanks

[2021-06-24 03:21] aohan237 commented on #1135
exception:
[code]

it seems it has exception of

`String version = readFile(getModelServerHome() + "/ts/version.txt");`
and what is "TS_MODEL_SERVER_HOME"

[2021-06-24 03:38] ed-muthiah commented on #1127
@msaroufim Looks like Redis cannot be used in a stream processing or ML engine, as per the license agreement: https://redislabs.com/wp-content/uploads/2019/09/redis-source-available-license.pdf

[2021-06-24 07:24] vdantu commented on #1136
Seems like a change to the logic [here](https://github.com/pytorch/serve/blob/a95ef13eb735efba6168ed485d7ab943f5e65ac3/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkLoadManager.java#L167-L169). This could also have repercussions on the number of workers that are brought up [here](https://github.com/pytorch/serve/blob/a95ef13eb735efba6168ed485d7ab943f5e65ac3/frontend/server/src/main/java/

[2021-06-24 15:10] cceyda commented on #1043
I have an idea/question since the [request envelope](https://github.com/pytorch/serve/blob/master/ts/torch_handler/request_envelope/base.py) reformats the inputs/outputs of a call to a handler.
I was wondering if it would be possible to use pydantic BaseModel instead for this purpose (similar to FastApi)
then we could just auto generate a [schema](https://pydantic-docs.helpmanual.io/usage/schema/)

[2021-06-24 20:57] AlfredWGA opened #1139 "No matching distribution found for torch==1.9.0+cu101"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: 0.4.0
* torch version: 1.8.1
* Operating System and version: Ubuntu 18.04.2 LTS (G

[2021-06-25 01:28] msaroufim commented on #1139
Yeah I'd suggest using cu102

You can see all the stable releases here https://download.pytorch.org/whl/torch_stable.html

Feel free to open a ticket on the Pytorch repo directly if you have a strong reason for prefering cu101

[2021-06-25 01:28] #1139 closed

[2021-06-25 04:59] andrey-chernykh opened #1142 "Arguments validation in the prediction model"
## Is your feature request related to a problem? Please describe.

I want to validate input arguments of prediction, with the ability to say to the sender, what is incorrect.
The current behavior is to send HTTP 503 Error without any details.

## Describe the solution

1. Create a new type of Exceptions, for example, `InvalidArgumentError`. Using ValueError exceptions directly may cause backward i

[2021-06-25 17:18] maaquib commented on #1101
This seems like a bug that needs to be fixed ([code](https://github.com/pytorch/serve/blob/fd4e3e8b72bed67c1e83141265157eed975fec95/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkLoadManager.java#L88))

[2021-06-26 09:56] valboldakov commented on #1101
@maaquib hi!

Is anyone working on this issue right now? I had some ideas how to fix it, I could create a PR if that's ok.

[2021-06-27 15:59] skat00sh commented on #780
@msaroufim I think I should release it for now for someone else. With the academic workload this sem, I'm finding it a bit hard to find time for anything. Sorry that I took so long again to revert.

I wished to mention 2 more things though:
1. Is there a chat-group or discord server like thing that I could join to be a part of the development in the near future? I find the revert latency at github

[2021-06-28 18:14] HamidShojanazeri opened #1144 "Text classification example fails on PT 1.9 release using torchtext=0.10.0"
## Context
Text classification example is failing on branch updated for PT 1.9 release, using torchtext 0.10.0.
* torchserve version: from src
* torch-model-archiver version:from src
* torchtext version [if any]:0.10.0
* Operating System and version:ubuntu 18.04

## Possible Solution
The torchtext related imports need to get updated in the example.

## Steps to Reproduce
follow the readme for text

[2021-06-29 01:40] juyunsang commented on #1120
@mspinaci
Did you solve this?

[2021-06-29 04:27] msaroufim commented on #1142
@saurabheights-ecr what do you think?

[2021-06-29 14:52] mspinaci commented on #1120
Hello @juyunsang ,

Not really, but at least I have some theories. In my project I ended up using Eager mode behind a Flask server, which worked fine and had also a lot less headaches than TorchServe to export / import (e.g. not asking me to create a model without parameters inside a file with no other instances of `nn.Module`, that was really really annoying). Plus it makes production and trainin

[2021-07-01 18:58] lxning opened #1147 "add buildspce for cpu"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
* torch-model-archiver version:
* torch version:
* torchvision version [if any]:
*

[2021-07-02 02:25] CSU-NXY commented on #355
Hi, in the old version of `image_segmenter.py`, the result is returned from server to client through `np.array -> str -> (...network...) -> str -> np.array`, which is very slow (The client may need several seconds to convert `str` to `np.array` if the image is high-resolution).

In my case, I want to serve a depth estimation model, which returns a `np.array` containing depth value for each pixel.

[2021-07-02 18:37] JonathanSum opened #1149 "Resnet18 example doesn't run(Window 10)"
$ curl http://127.0.0.1:8080/predictions/resnet-18 -T kitten.jpg
2021-07-02 20:05:53,575 [DEBUG] W-9000-resnet-18_1.0 org.pytorch.serve.wlm.WorkerThread - System state is : WORKER_STARTED
2021-07-02 20:05:53,575 [DEBUG] W-9000-resnet-18_1.0 org.pytorch.serve.wlm.WorkerThread - Backend worker monitoring thread interrupted or backend worker process died.
java.lang.InterruptedException
	at java.base/

[2021-07-02 18:38] JonathanSum commented on #1149
The example I used: https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_18

[2021-07-03 15:40] clemens33 opened #1150 "Custom handler response crashes worker with Netty IndexOutOfBoundsException exception."
Your issue may already be reported!
- Similar Issue has been reported but was closed (https://github.com/pytorch/serve/issues/455)

## Context

* torchserve version: 0.4.0
* torch-model-archiver version: 0.4.0
* java version:
** openjdk 11.0.11 2021-04-20
** OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
** OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed

[2021-07-05 09:20] mocaccano opened #1151 "Daemonization using systemd"
Hi,
I am trying to use systemd to automatically start torchserve upon boot. I've done this with other components of our system like a flask server, a node server and a Celery worker server. While the others work fine, I have a slight problem with torchserve as it never gets `activated`. systemctl shows that it's status is always just `activating`. Even in order to make this happen, we had to set
`

[2021-07-06 05:51] HamidShojanazeri commented on #1150
CC @lxning

[2021-07-06 22:10] msaroufim commented on #1149
Hi @jonathan-conder-sm can you try Java 11? That's the one that's been most reliable for me

[2021-07-06 22:13] jonathan-conder-sm commented on #1149
uh think you tagged the wrong person :smile:

[2021-07-06 22:15] maaquib commented on #1101
@valboldakov Please go ahead with your PR. Would be good to discuss the approach/idea you have. Thanks

[2021-07-06 22:49] JonathanSum commented on #1149
@msaroufim
Could you give the example of using java 	serve? Or you are saying java backend with react without serve?  If you are saying using nodejs,  it would be easy.  I can build that example for you to put them in the repo. The issue i am having is the serve restful doesnt work.

[2021-07-07 00:33] JonathanSum commented on #1149
![image](https://user-images.githubusercontent.com/21982975/124682612-1423c200-de80-11eb-8ed2-92ac69c674d8.png)
![image](https://user-images.githubusercontent.com/21982975/124682674-3b7a8f00-de80-11eb-85b0-87430a735026.png)

[2021-07-07 07:20] KhyatiMehta3 opened #1152 "How to access API outside of localhost?"
Hi!

I have Wireguard in my machine and have a few other devices connected with it via it.
Let's say my Wireguard IP is 10.0.0.1, then in the `config.properties` file, I change `inference_address=http://10.0.0.1:8080`.
I'm able to use the API locally but unable to do so outside of the device.
If I have another application running on a separate port, that is accessible by my other device.

Can some

[2021-07-07 20:24] JonathanSum commented on #1149
It looks like other people solved it by installing  requirements.txt. But I do not see the  requirements.txt. I do not know how to install the  requirements folder.

[2021-07-07 20:31] JonathanSum commented on #1149
It seems other people solved it by installing it with requriement.txt. But I do not see the txt file. I am not sure how to install it with the requirement folder.

[2021-07-07 20:37] JonathanSum commented on #1149
Problem Solved

[2021-07-07 20:37] #1149 closed

[2021-07-07 22:54] HamidShojanazeri commented on #1151
cc @dhanainme

[2021-07-08 02:47] msaroufim commented on #1147
This feature added buildspec su

[2021-07-08 02:47] #1147 closed

[2021-07-08 08:01] #1086 closed

[2021-07-08 08:01] #1130 closed

[2021-07-08 13:00] JonathanSum opened #1153 "What is the post route link to upload the kitten.jpg? instead of the "-T""
## 📚 Documentation

For example, if I use something like postman, how should I upload the image?
Thank you.

![image](https://user-images.githubusercontent.com/21982975/124931000-a7f7aa00-dfb6-11eb-8e7e-22501874981f.png)
All these ways are failed.

[2021-07-08 13:56] #1153 closed

[2021-07-09 07:38] KrzysztofPrzygodzki commented on #1114
Hi! I didn't know where to put it, but I believe there is a problem with example of batch processing: [resnet_152_batch](https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_152_batch ).

There is an exemplary _config.properties_ which has section _models_ where properties like _batchsize_ etc. are defined - [README.md#L67](https://github.com/pytorch/serve/blame/master/exa

[2021-07-09 08:49] ricardomlyk commented on #1054
Hi @msaroufim

`torch.set_num_threads(1)` really helps a lot for my resnet34 image classify implement which has very simple preprocess(resize and rgb2gray) and no postprocess.
Before i limit pytorch with `torch.set_num_threads(1)`, the CPU Loads soared up to 90% with a 64 cores CPU when model do prediction, and after i limit pytorch with `torch.set_num_threads(1)`, the CPU Loads kept at 20%.
And T

[2021-07-09 15:54] HamidShojanazeri commented on #1114
@KrzysztofPrzygodzki Sorry for the confusion, this feature would be available from 0.4.1 as mentioned in the doc which is coming in couple of weeks, for now you can use this feature by installing from src.

[2021-07-09 16:05] KrzysztofPrzygodzki commented on #1114
@HamidShojanazeri
I see. I had to missed it, sorry. Thank you for clarifications.

[2021-07-09 17:04] HamidShojanazeri commented on #1114
@KrzysztofPrzygodzki Pls feel free to open a new issue if you ran into any problem with setting them through config.properties.

[2021-07-09 17:04] #1114 closed

[2021-07-09 18:11] maaquib commented on #1103
@HamidShojanazeri @yurkoff-mv I was able to register both workflows in the [nmt transformers](https://github.com/pytorch/serve/tree/master/examples/Workflows/nmt_tranformers_pipeline) simultaneously and run inferences on both. They share the same model mar file but are registered as different nodes.

@yurkoff-mv Are you getting any excpetions when registering the second workflow?

[code]

[2021-07-09 18:11] maaquib commented on #1124
Added correspondance https://github.com/pytorch/serve/issues/1103#issuecomment-877367598

[2021-07-09 21:39] HamidShojanazeri commented on #1124
@maaquib it seems in cases similar to issue #1103 there might be another option that would be interesting to explore, as in both workflows the features are coming from a base model and then there are two heads for different tasks, the possibility of having one DAG that uses a base model as feature extractor and two heads for different tasks make a better use of resources (reduce the memory consump

[2021-07-09 21:39] #1124 closed

[2021-07-09 21:43] HamidShojanazeri commented on #1103
@yurkoff-mv it would be also to good to know if you had the chance to try in one DAG, using roberta as feature extractor in preprocessing node and send the data to classifier and summarizer, if you could share the models/ steps we could give it a try as well.

[2021-07-09 23:08] #1089 closed

[2021-07-11 12:47] neoragex2002 commented on #989
Thanks for your reply.

In the end I had to use an nginx server (njs script) to proxy / translate my calls from GET method to POST/BODY method.... It's very inconvenient, but I have no choices.

[2021-07-12 05:01] msaroufim commented on #1152
Could you elaborate a bit more on how you're accessing the device where torchserve is running? Repro instructions would be super helpful.

[2021-07-12 19:02] msaroufim opened #1155 "Add BERT to Apache Benchmarks"
## Is your feature request related to a problem? Please describe.
Right now only vision models are being benchmarked in the AB benchmarks
https://github.com/pytorch/serve/blob/master/benchmarks/benchmark-ab.py#L434

We should add the ability to also benchmark an NLP transformer model in our apache benchmarks

## Describe the solution
1. Create a BERT mar file
2. Upload the mar file to pytorch.org

[2021-07-13 06:20] msaroufim opened #1156 "install_dependencies.py hangs with conda python 3.8"
## Context
Latest torchserve hangs when using install_dependencies with a conda environment with python 3.8

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: no
* Is it a CPU or GPU environment?: CPU

## Expected Behavior

## Current Behavior

## Possible Solution
In README.md we say that

This is incorrect and should be

[2021-07-13 07:05] msaroufim opened #1157 "torchserve ab benchmarks won't give up ports and won't overwrite version"
## Context
When I run `python benchmark-ab.py --config config.json` the model fails to get registered even when I manually stop torchserve

* torchserve version: 0.4 master branch
* torch-model-archiver version:
* torch version: 1.9

## Your Environment

* Installed using source? [yes/no]: yes
* Is it a CPU or GPU environment?: cpu

## Expected Behavior
I expect the model to be served with no issu

[2021-07-13 07:17] msaroufim opened #1158 "Remove MNIST model from our repo"
## Why

Mnist is not a model, it's a dataset https://en.wikipedia.org/wiki/MNIST_database

We're using it for benchmarks when we already have architectures like resnet or VGG that are more often used in benchmarks

The architecture seems to be the below and it doesns't seem to be any of the classic architectures

[code]

[2021-07-13 07:25] msaroufim opened #1159 "Automated benchmark hanging on BERT"
## Context
Trying to use the automated benchmark as described in https://github.com/pytorch/serve/tree/master/test/benchmark to benchmark BERT before and after a minor change made to the mar file

* Operating System and version: Ubuntu 18.04 but running on a remote instance (auto benchmark)

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it using docker co

[2021-07-13 08:26] msaroufim commented on #1159
NVM it just takes 2h for a single batch size

[2021-07-13 08:26] #1159 closed

[2021-07-13 08:46] msaroufim opened #1160 "serve/test/benchmark/tests/utils/report.py does not compile"
[code]

This blocks making progress on step 8 here https://github.com/pytorch/serve/tree/master/test/benchmark

[2021-07-13 13:09] brainnnnup opened #1161 "outside of localhost can not access API"
## 📚 Documentation
When I use the example image_classifier。The API can be accessed locally，other devices can not access API。

Non local：`{
  "code": 404,
  "type": "ModelNotFoundException",
  "message": "Model not found: densenet161"
}`

local：`{
  "tabby": 0.4666191339492798,
  "tiger_cat": 0.46449020504951477,
  "Egyptian_cat": 0.06614047288894653,
  "lynx": 0.0012924382463097572,
  "plastic_bag

[2021-07-14 05:49] roundTTable opened #1162 "Clone the TorchServe repository in directory from home"
## 📚 Documentation

If clone the TorchServe repository out of home directory, torchserve can't find image_classifier

I will share some model.log.

[code]

[2021-07-14 13:56] PushpakBhoge512 opened #1163 "import torch ImportError"
Hello,

I have installed PyTorch 1.8 with Cuda 11.1 (copied command from torch official website)(specifically speaking on the torchserve server)
Everything was working fine later I needed to install detectron2 there I installed detection with the following command

[code]

After doing this everything broke down I am getting errors while importing torch
see the logs below
[code]

I have seen some d

[2021-07-14 13:58] PushpakBhoge512 commented on #1162
I think you should specify the relative path to the "model_store" folder from the directory you are starting the services and your model need to be in that folder

[2021-07-14 14:00] PushpakBhoge512 commented on #1161
I think you swapped the above cases, are you running the server at your local personal laptop or desktop?
in that case it won't work for other devices If you want it there are some router configuration you can do and them expose the ports but I think even then it will be only accessible to the devices connected to router

[2021-07-14 23:34] msaroufim commented on #1163
Hi @PushpakBhoge512 can you fill up the issue template so I can help repro?

[2021-07-14 23:36] msaroufim commented on #1161
It's hard to debug without repro instructions do you mind filling up the issue template so I can help?

[2021-07-14 23:47] msaroufim opened #1164 "docker/build_image.sh ignores branches"
## Repro

[code]

## Output
Two images with the exact same image_id

[code]

The branch cpu_opt does exist both remotely and locally
[code]

[2021-07-15 02:07] PushpakBhoge512 commented on #1163
Hello,
Thank you for replying I did not found template for issues. Do you mean PR template ?

[2021-07-15 02:17] roundTTable commented on #1162
Thanks, I will check.

[2021-07-15 02:26] HamidShojanazeri commented on #1163
@PushpakBhoge512  opening a new issue asks bunch of question that would be helpful to repro, this might be related to env conflicts, where you can check your env running ``` python -m "torch.utils.collect_env```, as @msaroufim mentioned, it would be helpful to provide steps to repro as well.

 <img width="1743" alt="Screen Shot 2021-07-14 at 7 22 48 PM" src="https://user-images.githubusercontent.c

[2021-07-15 05:37] roundTTable commented on #1162
You are right. I close this issue

[2021-07-15 05:37] #1162 closed

[2021-07-15 12:52] brainnnnup commented on #1161
Sorry, I didn't reply in time.I don't quite understand setting the routing configuration.It seems that there is no such step when configuring torch serve. Can you explain it in detail. Thank you. @PushpakBhoge512

[2021-07-15 13:00] brainnnnup commented on #1161
Sorry, I didn't reply in time. There are no repro instructions.  Another host in the LAN can't access the inference API of torch serve.
@msaroufim

[2021-07-15 14:03] brainnnnup commented on #1161
I got it, thank you. I change the default inference_address=https://127.0.0.1:8443 to inference_address=https://0.0.0.0:8443, the problem is solved.

[2021-07-15 18:03] msaroufim opened #1165 "Add workflows to apache bench test"
## Is your feature request related to a problem? Please describe.
Today the apache bench script does not include any code to benchmark workflows https://github.com/pytorch/serve/blob/master/benchmarks/benchmark-ab.py

## Describe the solution
Run `python3 benchmark-ab.py --config workflow-config.json`

[2021-07-16 07:10] roundtable-swk opened #1166 "resnet example has a bug."
https://github.com/pytorch/serve/tree/master/examples/image_classifier/resnet_18

## Context

torch                   1.9.0
torch-model-archiver    0.4.0
torch-workflow-archiver 0.1.0
torchserve              0.4.0
torchvision             0.10.0
* java version: 11.0.11
* Operating System and version: mac os big sur 11.4

## Your Environment

* Installed using source? [yes/no]: yes
* Are you plannin

[2021-07-16 07:20] #1161 closed

[2021-07-21 15:58] #1107 closed

[2021-07-21 15:58] #1115 closed

[2021-07-21 15:59] #1128 closed

[2021-07-22 05:43] KhyatiMehta3 commented on #1152
Yeah sure.
So the device where torchserve is running, has `wireguard` installed and running. I access it through a different machine via ssh.
I'm able to access the machine but unable to access the port where torchserve is running.

[2021-07-22 07:10] KhyatiMehta3 commented on #1152
To reproduce the issue,
1. Add these lines into your `config.properties` file:
[code]
2. Then, type this in command line:
`torchserve --start --ncs --model-store model_store --models <model name> --ts-config config.properties`
3. Now, ensure this device where the model is running can be accessible by another device. (with wireguard or any other VPN)
4. Now try to trigger the inference API from tha

[2021-07-22 14:34] yurkoff-mv opened #1168 "Model specific custom python requirements not woks"
## Context
* torchserve version: 0.4.0
* torch-model-archiver version: 0.4.0
* torch version: 1.8.1+cu111
* torchvision version [if any]: 0.9.1+cu111
* torchtext version [if any]: 0.9.1
* torchaudio version [if any]: 0.8.1
* java version: OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
* Operating System and version: Windows 10

## Your Environment
* Installed using source? [yes/no]: no
* Are yo

[2021-07-22 14:47] yurkoff-mv commented on #1168
Sorry, I was wrong.
The feature works. You need to write a line **`install_py_dep_per_model=true`** in the file **config.properties** and start the service with the flag **`--ts-config config.properties`**:
`torchserve --start --ncs --model-store model_store --models empty_model=empty_model.mar --ts-config config.properties
`

[2021-07-22 15:55] HamidShojanazeri commented on #1168
@yurkoff-mv Thanks for the update, that is the right way to use this feature.

[2021-07-22 15:55] #1168 closed

[2021-07-22 18:07] HamidShojanazeri commented on #1166
@roundTTable I was not able to repro, it seems you have go this error testing the Torchscripted model, can you pls confirm which mode it was and sequence of steps you followed?

[2021-07-23 02:35] natureLanguageQing opened #1170 "bert qa demo bug"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:0.4.1
* torch-model-archiver version:
* torch version:
* torchvision version [if an

[2021-07-23 06:23] jade227 opened #1171 "Docker container doesn't stop after complete model packaging"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: latest
* torch-model-archiver version: latest
* torch version: latest
* torchvisio

[2021-07-23 08:45] themissingCRAM opened #1172 "ResourceNotFoundException: Requested resource is not found, please refer to API document"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version:
* torch-model-archiver version:
* torch version:
* torchvision version [if any]:
*

[2021-07-23 08:45] #1172 closed

[2021-07-23 14:03] isomov commented on #1172
How did you solve that?

[2021-07-23 15:39] Silas606 opened #1174 "Torchserve 0.4.0 model & workflow management api unreachable"
Hi,

I tried to start torchserve in a container but failed. Here is my config
[code]
inference api and management api are sharing the same port. This is the common setting in AWS SageMaker.
torchserve  start cmd
[code]
I don't have `model.mar` in the `model-store` folder and just want to register models on the fly. However, I was not able to access `/models` or `/workflow`. When running
[code]
I g

[2021-07-26 01:41] jade227 commented on #1171
I found that unknown process is running inside the container if I give command torch-model-archive to docker container with detach mode.
And I solved this by killing that process.

[2021-07-26 05:07] yurkoff-mv commented on #1103
@maaquib, That's right, you got two models instead of one. Now imagine that the model is large. And will there be enough GPU resources to service two identical models?

[2021-07-26 05:12] yurkoff-mv commented on #1103
@HamidShojanazeri, I do not know how to do that. How in one DAG send the data to classifier and summarizer. This is exactly part of my question.

[2021-07-27 02:21] #1170 closed

[2021-07-27 02:22] natureLanguageQing commented on #1170
写的不太标准

[2021-07-27 17:04] HamidShojanazeri commented on #1174
@Silas606 I believe the management and inference port needs to be different 8081/8080, please take a look at this [example](https://github.com/HamidShojanazeri/serve/tree/sagemaker_example/examples/Sagemaker) that shows how to serve a model on Sagemaker using customized container, you need to place the mar file in a S3 bucket and reference it  where you are creating the Sagemaker model.

[2021-07-27 17:04] HamidShojanazeri commented on #1174
cc @lxning

[2021-07-27 17:08] HamidShojanazeri commented on #1171
cc @lxning

[2021-07-28 12:14] Silas606 commented on #1174
I have made a mistake that `ManagementRequestHandler` isn't blocking `WorkflowMgmtRequestHandler`. I have revised the issue description. However, currently, `WorkflowInferenceRequestHandler` indeed blocks all subsequent handlers.

[2021-07-29 03:18] ckmessi commented on #1085
Hi @msaroufim I encountered this problem too.

I spent lots of time to investigate the cause. Finally I found that the `pathlib` package is not correctly installed.
Actually there exist two `pathlib.py` files in the python environment. One is in `/path/to/env/lib/python3.x/` and the other is in `/path/to/env/lib/python3.x/site-packages/`.

The resolution is to **remove the file `/path/to/env/lib/p

[2021-07-29 03:57] #1174 closed

[2021-07-29 19:52] #1090 closed

[2021-08-02 18:54] ArtemisDicoTiar opened #1177 "Combining all REST API to one endpoint"
## Is your feature request related to a problem? Please describe.

Currently, I am using cloud platform that isn't either AWS, Azure or GCP.
Therefore, the docker container setting for torch_serve deployment is insufficient to expose multiple ports.
The torchserve uses 3 REST API ports (8080, 8081, 8082) for different purpose.
I have tried to put a nginx for reverse proxy in torchserve-cpu docker

[2021-08-02 21:41] lxning opened #1178 "TS nightly build setup on S3"
## Is your feature request related to a problem? Please describe.

1. Set up Torchserve, model-archiver, workflow-archiver nightly build job
2. Publish nightly build on S3 or Pypi (confirm with eli@)
3. Add binary link the binary in pytorch nightly build page

## Describe the solution

## Describe alternatives solution

[2021-08-02 21:43] lxning opened #1179 "Torchserve benchmark dashboard in cloudwatch"
## Is your feature request related to a problem? Please describe.

Set up TS benchmark dashborad on cloudwatch

## Describe the solution

## Describe alternatives solution

[2021-08-02 21:43] lxning opened #1180 "TS staging binary build issues"
Please have a look at [FAQ's](../../docs/FAQs.md) and [Troubleshooting guide](../../docs/Troubleshooting.md), your query may be already addressed.

Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

1. TORCHSERVE_ROOT_DIR not found in windows
Environment:
- EC2-windows-server
- conda installed

The following files

[2021-08-02 23:15] JonathanSum opened #1181 "Can serve to run in javascript in the bowser in Pytorch?"
If you suggest ONNX:
ONNX allows the Pytorch model to be deployed in javascript, so we can run the model in the browser frontend-only without using the backend CPU or backend GPU. But the problem with ONNX was different versions support different features. They upgrade the ONNX to be ONNX web allowing it to run all the features. I am not sure. I think it may still have the issue of not supporting

[2021-08-03 21:23] logan-markewich opened #1182 "Slow connections with image detection"
## Is your feature request related to a problem? Please describe.
Inference times with image detection seem to be slowed down by network times with large images. I'm on the same network as torchseve (on localhost), but transferring large images (2000x1500 in my case) to torchserve takes about 2 minutes before pre-processing even starts, compared to 2 seconds for inference.

I could move the prepro

[2021-08-04 02:53] msaroufim commented on #1177
Hi @ArtemisDicoTiar you should be able to expose multiple ports with Docker and torchserve already https://github.com/pytorch/serve/tree/master/docker

From the very bottom of that page

[code]

If you'd like to combine all the endpoints try changing your `config.properties` here is an example https://github.com/pytorch/serve/blob/master/benchmarks/config.properties

I don't have much experience w

[2021-08-04 02:56] msaroufim commented on #1182
Interesting, I think this would be valuable for us to repro if you have anything we could use.

Is torchserve running on the same machine as where your images are? Any details you can provide would be super helpful

How are you measuring the transfer time vs preprocess time?

[2021-08-04 03:00] msaroufim commented on #1181
Hi @JonathanSum it may take some time still to find a proper solution to your problem. We are discussing a C++ backend for torchserve but that's not out yet.

Another option would be to deploy your code using Pytorch Mobile in case that's enough https://github.com/pytorch/ios-demo-app or https://github.com/pytorch/android-demo-app

[2021-08-04 03:07] logan-markewich commented on #1182
I can attach a sample input image here:
![ELS_ENG_IJES_2011_V49_1-8](https://user-images.githubusercontent.com/22285038/128115429-24d78b2e-d5c7-4053-869a-fb5360658313.jpg)

Torchserve is running on the same machine as where my images are (and on the same disk!). So all data is being transferred over localhost connections.

To measure the time, I'm doing the following:
Once torchserve is running, h

[2021-08-04 10:32] #1181 closed

[2021-08-04 16:55] HamidShojanazeri opened #1183 "Addressing the cold start issue with benchmarks"
### Issue
Recently, we are experiencing the cold start issue with many of running benchmarks where a jump in model p99 has been observed. So far, we have tried to address/ smooth it out by increasing the number of requests.

#### Request
We need to modify the benchmark routines to separate warmup from actual runs that are benchmarked.

[2021-08-05 23:53] logan-markewich commented on #1182
Wow, just found the problem... user error lol

max_batch_delay is not the response timeout, it's the wait time to fill a batch

Since I was always sending one image, it was always waiting the full max_batch_delay time

I'll close this issue then

[2021-08-05 23:53] #1182 closed

[2021-08-06 06:42] hsurana299 commented on #1150
Hi @HamidShojanazeri . Did you find a solution to this problem? I am facing the same issue .

[2021-08-06 10:58] mmeendez8 opened #1184 "Link to markdown anchors not properly working"
## 📚 Documentation

Hello,

I was checking [custom_service](https://pytorch.org/serve/custom_service.html#installing-model-specific-python-dependencies) and I just realized both links at the bottom of the page are not working.

I went to check markdown files in source code and everythings seems to be fine there:
https://github.com/pytorch/serve/blob/master/docs/custom_service.md#installing-model-s

[2021-08-06 11:54] Apachaika opened #1185 "Register Model"
Hello everyone!

I have problem with register models in TorchServe via gRPC or POST request.

My problem in details:

- I successfully start Server by MAR file. I have done  torch-model-archiver:

[code]

- Then start server

[code]

- Server is up
[code]

- Check list:

[code]

- Prediction is working!

I want register new model with new version for example.

I have done again , change version, n

[2021-08-06 17:19] lxning commented on #1150
@hsurana299 please try increase [max_response_size](https://github.com/pytorch/serve/blob/master/docs/configuration.md)

[2021-08-06 17:35] p1x31 opened #1186 "[Question] GPU memory"
Hi! Say I have about 10 models and a single GPU is it possible to load a model object for a specific task at the request time and then completely free up the memory for a different model object? For instance, completely deleting it and then reinitialize it when needed. I know this will increase the response time but the crucial part is the amount of VRAM left for the inference.

[2021-08-06 17:54] HamidShojanazeri commented on #1186
Hi @p1x31, you are able to register delete or scale the number of workers for each of you models through the [Management API](https://github.com/pytorch/serve/blob/master/docs/management_api.md#register-a-model) once you have started Torchserve. You can also set the configurations for each of your models using config.properties, please have a look at this [guide](https://github.com/pytorch/serve/b

[2021-08-06 19:33] chauhang opened #1188 "Add Nvidia FastTransformer example"
Add an example demonstrating Nvidia FastTransformer model inference in TorchServe.

- Use the Nvidia NGC docker container with TorchServe installed for all the relevant dependencies
- Example to demonstrate Encoder based models for Classification or NER

[2021-08-06 20:16] p1x31 commented on #1186
Hi @HamidShojanazeri
Let me paraphrase
How can I scale down workers to 0 after a single request and scale up to 1 when there is another request for that particular model? Essentially restarting a worker without doing it manually via Management API

- `config.properties:`
`# vmargs=-Xmx128m -XX:-UseLargePages -XX:+UseG1GC -XX:MaxMetaspaceSize=32M -XX:MaxDirectMemorySize=10m -XX:+ExitOnOutOfMemoryEr

[2021-08-08 14:21] #1064 closed

[2021-08-08 14:27] chauhang commented on #1067
Remaining items to be addressed in 0.5.0

[2021-08-08 15:09] chauhang commented on #1120
@mspinaci Can you please share details of the model and inputs sizes:

- How large is your model (rough size eg ~100G)?
- Size of your typical input image data file that you are processing
- Sample image file (if you can share that)
- Are you using batch processing or single inference?
- Have you run the benchmark / snakeviz [profiler](https://github.com/pytorch/serve/tree/master/benchmarks#profil

[2021-08-08 15:14] chauhang commented on #1012
@MFreidank This has been fixed in TorchServe 0.4.2 release

[2021-08-08 17:45] hsurana299 commented on #1150
Thanks @lxning .

[2021-08-09 19:05] #1150 closed

[2021-08-10 03:13] HaominJiang opened #1191 "Function map_class_to_label arguments are not equal with these in object_detector.py"
## Context

* torchserve version: From master branch
* torch-model-archiver version: From master branch
* torch version: 1.9.0+cu111
* torchvision version [if any]: 0.10.0+cu111
* torchtext version [if any]: 0.10.0
* torchaudio version [if any]: 0.9.0
* java version:
* Operating System and version: Ubuntu 20.04

## Describe the problem
Function `map_class_to_label` may have different parameters in

[2021-08-10 09:35] JiaweiShiCV opened #1192 "Serve the generative model"
## 📚 Documentation

I tried to serve a generative model, but failed. Can you help me?
repo: https://github.com/TencentARC/GFPGAN
## Files
**main network** : `examples/GAN/gfpgan/gfpganv1_clean_arch.py`
[code]
**sub-network**: `examples/GAN/gfpgan/stylegan2_clean_arch.py`
[code]
**simple handler**: `ts/torch_handler/generative.py`
[code]
## Store a Model
[code]
## Start TorchServe
[code]
`logs`:
[c

[2021-08-10 10:47] p1x31 commented on #1192
Hi @JiaweiShiCV, try setting `max_response_size` to a bigger value in `config.properties`

[2021-08-10 11:07] JiaweiShiCV commented on #1192
Thank you for your reply. I only find the `max_response_size` in `ts/configs/sagemaker_config.properties`, and I don't know how to adjust it.
[code]

[2021-08-10 12:06] JiaweiShiCV commented on #1192
thx for your help! It works.

[2021-08-10 12:06] #1192 closed

[2021-08-10 12:07] p1x31 commented on #1192
Try running your server without `--ncs` flag this will create `config` folder under logs folder
e.g. `torchserve --start --model-store model_store --models densenet161.mar`
You can copy the settings to a different file and add `max_response_size=65535000`
Then run with `--ts_config` flag
e.g. `torchserve --start --ncs --model-store model_store --models clean.mar --ts_config <your_config_file>`
Ple

[2021-08-10 12:12] JiaweiShiCV commented on #1192
Yes, I have overcome this problem through your method. Thank you very much!

[2021-08-10 12:38] maligree opened #1193 "0.4.0 and 0.4.2 GPU/CPU hits system thread count limit – threads not cleaned up"
## Context
We are currently testing torchserve to run our models. Our issue is that we are seeing `torchserve` create a few new threads per inference request and never clean them up. The requests themselves seem to go through properly.
* torchserve version: happened on `torchserve-0.4.0-gpu` and `torchserve-0.4.2-gpu`. Same issue on `-cpu` flavor.

We're testing some minimal deployments right now,

[2021-08-10 12:43] maligree commented on #1193
Please advise on any steps/direction to take to debug further.

[2021-08-10 14:06] Shobhit20 opened #1194 "InvalidmodelException: Model name is not defined"
I am trying to register an encrypted model from s3 url using management apis. But doing so throws an error below
[code]

The way i am trying to register the model on local is by setting the access key and secret as env vars and using
[code]

On specifying the model_name as one of the params in the above curl request to register the model the error changes to
[code]
and am not able to specify the m

[2021-08-10 17:09] marvelous-melanie commented on #1085
Currently seeing this on Python3.8 and Python3.9. Regardless of you have the original pathlib.py version, or a site-packages pathlib installed, when the configuration of `install_py_dep_per_model` is `true`.

I can confirm that it is importing from the "correct" pathlib.py file in the python3.X root.

[2021-08-11 05:29] sharvil opened #1195 "TorchServe should not overwrite /usr/bin/python and /usr/bin/pip"
https://github.com/pytorch/serve/blob/cdca64c821d4106b752a5e9421e205b685afbfda/ts_scripts/install_dependencies.py#L71-L72

Under no circumstances should an install script silently and without user consent forcibly relink system binaries.

[2021-08-11 08:52] KhyatiMehta3 commented on #1152
Hello! Can anyone help out please? I'd really appreciate it!
I see in the documentation it says
[code]
Is Https needed to be able to access inference API from outside the machine?

[2021-08-11 13:34] veronikayurchuk opened #1196 "Getting a custom header value from an incoming request"
Hi!

I am trying to get value of the custom header of incoming requests (after adding cors_allowed_headers to config.properties)
Based on the code, I see that it is technically possible using [_get_all_request_header_ method](https://github.com/pytorch/serve/blob/master/ts/context.py#L54), but I have troubles with using it.

Thanks for any help in advance.

Also, I would be happy to get any hints

[2021-08-11 18:47] sharvil opened #1197 "TorchServe does not honor CUDA_VISIBLE_DEVICES"
The `CUDA_VISIBLE_DEVICES` environment variable limits the visibility of GPUs to a process. TorchServe ignores the environment variable and goes directly to `nvidia-smi` to determine how many GPUs are physically installed on a machine. When `CUDA_VISIBLE_DEVICES` is less than the number of installed GPUs, we see errors like:

```2021-08-11 11:45:05,433 [INFO ] W-9001-foo_1.0-stdout MODEL_LOG - Run

[2021-08-11 19:46] msaroufim opened #1198 "NUMA Multi-Process optimization"
## Is your feature request related to a problem? Please describe.
The goal of this effort is to figure out how to increase CPU throughput by applying ideas from this blog post to torchserve https://huggingface.co/blog/bert-cpu-scaling-part-1

Historically we've seen issues with torchserve CPU performance that were solved either by changing the `torch_set_num_threads(1)` #1138 or by setting `worker

[2021-08-11 23:49] d4l3k opened #1199 "torch.package support"
As of pytorch 1.9.0 there's a new `torch.package` library used for building self contained model code + weights packages. https://pytorch.org/docs/stable/package.html

This fits a similar role as torchserve model archiver but is part of core pytorch. This seems like it would be beneficial to have support for it if it becomes more widely adopted for model packaging.

Are there any existing plans to

[2021-08-12 13:54] xingener commented on #529
@harshbafna Hi, Bafna. I have read the comments above and issues which mentioned this issue.
It seems that the batch size config from trochserve doesn't control the batch size of models When I set multiple texts in one request. Here is an example:
I can send 30 texts per request after modifying handler like you suggested above. The batch size config from torchserve is 8 and we assume max delay is

[2021-08-16 19:42] lxning commented on #1194
@Shobhit20, please follow [archiver example](https://github.com/pytorch/serve/tree/master/model-archiver ).

[2021-08-16 19:54] HamidShojanazeri commented on #1186
@p1x31 in this case, we need to call management API to scale up/ down the workers based on  custom logic, and this can be automated possibly using a shell script/ or other orchestrations tools.

[2021-08-16 20:50] lxning commented on #1177
@ArtemisDicoTiar you can config all endpoint on the same port in config.properties.eg
inference_address=https://127.0.0.1:8080
management_address=https://127.0.0.1:8080
metrics_address=https://127.0.0.1:8080

[2021-08-16 20:56] p1x31 commented on #1186
Yeah, thanks for clearing that up for me
I reckon I'd just initialize with `min_worker=0` and `max_worker=0`
And then scale them up with:

`curl -v -X PUT 'http://127.0.0.1:8081/models/esrgan?min_worker=1&max_worker=1&synchronous=true`

and scale them down with:

`curl -v -X PUT 'http://127.0.0.1:8081/models/esrgan?min_worker=0&max_worker=0&number_gpu=0&synchronous=true`

not bothering with `job_q

[2021-08-16 20:56] #1186 closed

[2021-08-16 21:04] ArtemisDicoTiar commented on #1177
@lxning I have tried that before and have just tried now and the bash shows same error that torch serve fails binding to the address
[code]

[2021-08-16 21:05] lxning commented on #1164
@msaroufim I guess both "cpu_opt" and master are exactly same. build_image doesn't add "-no-cache" option. That's why both of them have same image id.

[2021-08-16 21:49] #1144 closed

[2021-08-16 21:56] #1137 closed

[2021-08-16 21:58] lxning commented on #1197
dup [#1136](https://github.com/pytorch/serve/issues/1136)

[2021-08-16 21:58] #1197 closed

[2021-08-16 22:08] #1102 closed

[2021-08-16 22:24] #1075 closed

[2021-08-16 22:25] lxning commented on #1073
done in v0.4.0

[2021-08-16 22:25] #1073 closed

[2021-08-16 22:31] lxning commented on #1054
this will be addressed in [issue1198](https://github.com/pytorch/serve/issues/1198)

[2021-08-16 22:31] #1054 closed

[2021-08-16 22:53] lxning commented on #976
Fixed in v0.4.2

[2021-08-16 22:53] #976 closed

[2021-08-16 22:56] lxning commented on #967
this is fixed in v0.4.0

[2021-08-16 22:56] #967 closed

[2021-08-16 23:12] lxning commented on #748
@shnoru1 Feel free to reopen if you think there still have some issues.

[2021-08-16 23:12] #748 closed

[2021-08-16 23:14] #735 closed

[2021-08-16 23:16] #734 closed

[2021-08-16 23:21] lxning commented on #693
fixed in v0.4.1

[2021-08-16 23:21] #693 closed

[2021-08-16 23:33] lxning commented on #476
fixed in v0.4.0

[2021-08-16 23:33] #476 closed

[2021-08-16 23:44] lxning commented on #125
model level config is added in v0.4.1. @mycpuorg feel free to reopen if you think the issue still exists.

[2021-08-16 23:44] #125 closed

[2021-08-16 23:47] lxning commented on #64
model level config is added in v0.4.1.

[2021-08-16 23:47] #64 closed

[2021-08-17 00:41] lxning commented on #1177
@ArtemisDicoTiar sorry for the wrong info. both inference_address and management_address can share the same port. metrics_address needs a separate port.

[2021-08-17 03:45] msaroufim commented on #1199
Hi @d4l3k I'm curious to hear your thoughts on why you're interested in torch.package vs mar files. torch.package support is definitely something we're looking into for our roadmap but feel free to DM me any feedback.

[2021-08-17 07:44] Shobhit20 commented on #1194
@lxning isn't the archiver example similar to what I did to generate the mar file?
The problem occurs when I try to load a model from s3. On using the torch run command for models on local, the model is served just fine but for my use case I want it to be loaded from an encrypted s3 bucket

[2021-08-17 09:36] ArtemisDicoTiar commented on #1177
@lxning Thank you. I think this can be one of the solution that I am struggling now! :)

[2021-08-17 17:26] #1012 closed

[2021-08-17 17:33] #881 closed

[2021-08-18 00:10] #1180 closed

[2021-08-18 01:43] pablodz opened #1203 "How to add a custom Handler?"
## 📚 Documentation

How to add custom handlers python files friendly and automatic?

By now, I understand that is necessary to modify `pytorch/serve` source code. is that correct?

In my case, I need a custom handler with
input: numpy array or json or list of numbers
output: numpy array or json or list of numbers

I just want to do the inference in  `pytorch/serve`  because I have complex preproce

[2021-08-18 17:30] msaroufim commented on #1203
Hi @pablodz the best way to learn how to create a custom handleer is to look at an example of an existing one. This is a good examplee https://github.com/pytorch/serve/blob/master/examples/nmt_transformer/model_handler_generalized.py

You inherit from base handler and overload initialize, preprocess, inference and postprocess to do what you need

You don't need to change `pytorch/serve` source cod

[2021-08-18 17:38] pablodz commented on #1203
@msaroufim
Thanks for your answer, I really appreciate it!

[2021-08-18 17:38] #1203 closed

[2021-08-18 20:01] pablodz commented on #1203
Also, I found this article that is really helpful! https://github.com/FrancescoSaverioZuppichini/torchserve-tryout.

[2021-08-18 20:48] lxning opened #1207 "benchmark code refactor"
## Is your feature request related to a problem? Please describe.

1. benchmark entry point should be pytorch/serve/benchmarks. All the code under "pytorch/serve/test/benchmark" should be migrated in pytorch/serve/benchmarks.
2. benchmark automation parameters should be configurable. Current all the files "pytorch/serve/test/benchmark/tests/test_XXX.py are highly duplicated. It is difficult for ma

[2021-08-19 06:41] yopknopixx commented on #1194
Hello! I would like to work on this. Please let me know how to proceed.

[2021-08-19 21:06] msaroufim opened #1208 "Make TorchServe multi framework"
We've been assuming so far that Torchserve can only work with Pytorch Eager mode or Torchscripted models but our current handler is general enough to make it possible to support ONNX models.

The idea is a hack one of our partners mentioned that involves
1. Adding `onnx` as a dependency in docker file or requirements.txt
2. Loading `onnx` model in initialize handler
3. Making an inference in the i

[2021-08-20 06:05] Shobhit20 commented on #1194
@yopknopixx getting this error when using the url of a model in an encrypted bucket although both version and model name are defined while generating the mar file. The error occurs while registering the model though I am using the s3_sse_kms parameter

[2021-08-20 06:52] lxning commented on #1194
@Shobhit20 can you print out the manifest.json in the model mar file downloaded from s3?

[2021-08-20 15:50] marcusnchow commented on #740
Does pytorch serve support amd rocm gpus now that pytorch officially supports them?

[2021-08-20 19:58] msaroufim commented on #740
@marcusnchow not yet but if you could share a bit more about your interest in ROCM we should restart the discussion with the team

[2021-08-20 20:04] msaroufim commented on #1207
There's a couple more things we should consider adding here - I'd love to create an aspirational list of dream features we'd like to see for benchmarks after which we can prioritize
1. Making it easier to run multiple experiments to grid search over torchserve parameters e.g: https://gist.github.com/msaroufim/84e1bfbf6440152deda7c8079ea0582e - this added the ability to not overwrite the `tmp` dire

[2021-08-20 20:09] msaroufim commented on #1184
Hi @mmeendez8 thank you for catching this. Would you like to make a PR with your fix? Tag me when it's ready and I'll approve it very quickly.

[2021-08-20 20:11] msaroufim commented on #1193
Interesting I haven't seen similar issues in the past with regular models but adding @maaquib in case he's seen something like this before

[2021-08-20 21:39] marcusnchow commented on #740
There are various AMD multi-gpu systems, like [AMD instinct](https://www.amd.com/en/graphics/servers-radeon-instinct-mi) (similiar to Nvidia's DGX systems) that are used for inference workloads and would benefited by support from pytorch serve. We have an 8 amd gpu system that we use for bench marking inference servers. We already have tensorflow and tensorflow serving running and would like to co

[2021-08-21 11:38] mmeendez8 commented on #1184
Hi @msaroufim

I am willing to fix it but there are quite a few broken links that we might be missing too. Basically all this warnings should be properly addressed because they are not working in the html version of the docs:
https://github.com/pytorch/serve/runs/3356216125?check_suite_focus=true#step:4:134

So I am not sure if a larger discussion about this should be started or I should just fix

[2021-08-21 23:46] msaroufim commented on #1184
Thanks for spotting all these!

https://github.com/pytorch/serve/runs/3356216125?check_suite_focus=true#step:4:134

Probably worth fixing all of them, in the `docs` subfolder it's been test to use absolute links, I thought I cleaned up all of them but seems like I missed a few

cc'ing @brianjo who may be interested

[2021-08-23 15:07] brianjo commented on #1184
I'll take a look at this. The problem is that the documentation is set up to be readable as github markdown, so the links in github aren't actually broken, but when we look at the pages in Sphinx, they are. I'll see if I can do a new TOC on the docs that links everything and then fix the URLs with links that go to the documentation, rather than directly to the markdown files.

[2021-08-23 18:47] mmeendez8 commented on #1184
Hi @brianjo

You are right. Note some of the links such `index.md` get rendered to `index.html` which is nice. Problem happens when they point to some specific section in the markdown file such ' index.md#section1 where "rendered links" does not replace the `.md `with the `.html `extension.

[2021-08-24 01:06] msaroufim commented on #740
Out of curiosity what's the performance difference you've observed on a few models when comparing DGX vs Instinct?

[2021-08-24 02:17] marcusnchow commented on #740
oh we dont have access to a DGX, i guess i was using it as an example. but we would like to use pytorch to benchmark AMD GPUs for inference performance :)

[2021-08-24 06:24] kqhuynguyen commented on #1010
@ayushch3 Can you check if there was any other import error above the torch_handler import error in `model_log.log`?
I had the same issue. I discovered that the Dockerfile was missing some required pip libraries, so I fixed that.
The exception `ModuleNotFoundError: No module named 'ts.torch_handler.*'` was raised by the following code in `ts/model_loader.py`:
[code]
This code will see if it can lo

[2021-08-24 13:41] AshwinRaikar88 opened #1212 "Unable to generate .mar files with custom requirements.txt in Docker GPU CUDA 11.1 image"
I've built the latest docker gpu image with cuda 11.1 for torch serve

When I try to register my custom model using the command
curl -X POST http://0.0.0.0:8081/models?url=/home/model-server/model-store/td.mar

I get this error:

{
  "code": 400,
  "type": "ModelException",
  "message": "Custom pip package installation failed for td"
}

The requirements.txt contains opencv-python as one of it's de

[2021-08-24 18:22] HamidShojanazeri commented on #1120
@mspinaci Thanks for opening this ticket and sorry for the delay, I am looking into this issue and was wondering if you could share some more details.

- What is the model size?
- Have you tried scaling the number of workers?
- Are you using batch inference -- usually the better gpu utilization come from higher batch size
- Please share your observation if you have monitored the handler time, infe

[2021-08-24 23:08] nmohr192 commented on #776
Can you elaborate on how you implemented the secure communication support? I can't get a torchserver to work using secure grpc communication with self signed certificates for localhost

[2021-08-25 07:32] nmohr192 opened #1213 "torchserve to support arm"
## Is your feature request related to a problem? Please describe.
I want to deploy my pytorch model with custom handling to nvidia jetson but apparrently torchserve does not support arm architecture.

## Describe the solution
provide docker image or pip package for armv8

## Describe alternatives solution
provide solution on how to build the package for arm. there are already nvidia pip-wheels for

[2021-08-25 09:34] mspinaci commented on #1120
Hello @chauhang and @HamidShojanazeri , sorry for the late answer, I just came back from vacation. Please find below answer to your questions (for details, see the fully reproducible example I posted a couple of comments up...)

- Model size: it doesn't really matter that much. If the model is big, the problem is harder to see because the model time becomes the bottleneck, so in the example I used

[2021-08-25 12:58] IdoGabay111 opened #1214 "can't create an image using build_image.sh"
## Context

* torchserve version: ?
* torch-model-archiver version: ?
* torch version: 1.9.0
* torchvision version [if any]: 0.10.0
* torchtext version [if any]: -
* torchaudio version [if any]: -
* java version: -
* Operating System and version: macOS 11.5.2

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using docker container? [yes/no]: yes
* Is it

[2021-08-25 16:55] lxning commented on #1010
@ayushch3 @kqhuynguyen pls add [install_py_dep_per_model=true](https://github.com/pytorch/serve/blob/master/docs/configuration.md#allow-model-specific-custom-python-packages) in config.properties if your model needs install package. And then copy or attach the config.properties to your docker container.

[2021-08-26 17:39] msaroufim opened #1216 "Improve handler developer workflow"
Right now if someone is iterating on a handler, the implicitly suggested process is
1. Create a handler
2. package the mar file
3. start torchserve
4. If things go wrong which they will many times if it's the first time someone is deploying a model then look at logs, debug and then repackage the mar again.

This is a huge pain if the model is big where the archiver can take up to 5 min on a 1.5GB

[2021-08-26 18:00] msaroufim opened #1217 "How to cache inferences with torchserve"
Reference architecture showcasing how to cache inferences from torchserve

So potentially the `inference` handler would reach from some cloud cache or KV store

The benefit of this is it'd dramatically reduce latency for common queries

Probably a good level 3-4 bootcamp task for a specific kind of KV store like Redis or specific cloud cache in AWS.

[2021-08-26 20:32] aivanou opened #1218 "Torchserve throws 400 `DownloadArchiveException` when the process does not have write access to model store folder"
Hello.
Recently I installed eks cluster with torchserve following the tutorial https://github.com/pytorch/serve/tree/master/kubernetes/EKS, but having troubles uploading a motel.

When I try to upload a model via:

[code]

I am getting the following error:
[code]
Although `http://54.190.129.247:8222/model_ubuntu_2dd0aac04a22d6a0.mar` is a valid url.

[code]

config.properties:
[code]

Output of th

[2021-08-27 09:11] hampusrosvall opened #1219 "gRPC RESOURCE_EXHAUSTED w. "Received message larger than max" with bumped `max_{response, request}_size` config."
## Context

* torchserve version: torchserve:0.4.1-gpu
* torch-model-archiver version: 0.4.2
* torch version: 1.9.0
* torchvision version [if any]: N/A
* torchtext version [if any]: N/A
* torchaudio version [if any]: N/A
* java version: see docker image
* Operating System and version: see docker image

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it usin

[2021-08-29 23:48] HamidShojanazeri commented on #1120
@mspinaci Thanks for the explanations, I agree with you that input size matter the most in this case, unfortunately, I couldn't repro using your example.  In case of using the bigger input as provided in your example, it actually is not going through (it shows 8 iter/s as a result of tqdm),  you can check this in the access.log, model_log.log and ts_log.log, when the small input is selected, it ge

[2021-08-30 01:49] aivanou commented on #1218
It seems that torchserve uses very "strange" download procedure.

E.g. Downloading model directly to the pod works:

[code]

Works and produces results:

[code]

Is it possible at least to enhance error message to get an idea what exactly went wrong??

[2021-08-30 03:05] aivanou commented on #1218
In case anyone would encounter the same problem:

`model-store` pod creates `model-store` directory with root permissions, and `torchserve` pod does not have write access to it.

[2021-08-30 06:54] chauhang commented on #1218
@aivanou What is the version number of torchserve that you are using? Can you please check if you are seeing this problem with TorchServe 0.4.2 release?

[2021-08-30 07:06] chauhang commented on #528
@Leoduv @Wilson-inclaims Please see the TorchServe Kubernetes deployment [details](https://github.com/pytorch/serve/blob/master/kubernetes/README.md)

[2021-08-30 07:12] chauhang commented on #560
@misrasaurabh1 Please check the TorchServe KFServing integration with the [canary rollout ](https://github.com/kubeflow/kfserving/blob/master/docs/samples/v1beta1/torchserve/canary/README.md)feature for this.

[2021-08-30 07:28] chauhang commented on #116
Closing this, use the TorchServe KFServing integration instead

[2021-08-30 07:28] #116 closed

[2021-08-30 07:40] chauhang commented on #1212
@AshwinRaikar88 Please add [install_py_dep_per_model=true](https://github.com/pytorch/serve/blob/master/docs/configuration.md#allow-model-specific-custom-python-packages) in config.properties if your model needs install package. Also verify that your requirements.txt file has all the required dependencies.

[2021-08-30 08:15] chauhang commented on #1185
@Apachaika Please check the steps for gRPC Model registration and inference [here](https://github.com/pytorch/serve/blob/master/docs/grpc_api.md#python-client-example-for-grpc-apis).

[2021-08-30 15:26] aivanou commented on #1218
Hi @chauhang . Yes, this is 0.4.2 version. I think the main problem is not torchsevre, but the `model-store` pod that is used in https://github.com/pytorch/serve/tree/master/kubernetes/EKS guide. The command `kubectl exec --tty pod/model-store-pod -- mkdir /pv/model-store/` creates folter `model-store` with permissions that are not accessible by the `torchserve` pod.

On the torchserve, there is a

[2021-08-30 17:10] Apachaika commented on #1185
I have read a lot of gRPC registration and didn't find answer on my question. I found new function https://github.com/mlflow/mlflow-torchserve it's more easy registration and see lifecycle model.

[2021-08-30 17:10] #1185 closed

[2021-08-30 18:45] Hongbo-Miao opened #1221 "Using TorchServe GRPC API in Go"
Just provide a working demo using TorchServe GRPC API in Go based on the [official GRPC doc in Python](https://pytorch.org/serve/grpc_api.html).

- https://github.com/Hongbo-Miao/hongbomiao.com/blob/6f9db741e2dcc8641ff8c2c69d43c4ba232b6d0d/api-go/internal/graphql_server/controllers/predict.go
- https://github.com/Hongbo-Miao/hongbomiao.com/blob/6f9db741e2dcc8641ff8c2c69d43c4ba232b6d0d/api-go/inter

[2021-08-30 18:45] #1221 closed

[2021-08-30 20:43] d4l3k commented on #1199
@msaroufim no super urgent use cases, just observing that torch.package now exists and seems like torch::deploy supports it.

To make things easier on users it'd be ideal to have standardization across all the pytorch projects so they're not recommended torch.package on the training side and then have to convert to a conceptually similar .mar format on inference side. Having two different package

[2021-08-30 21:35] ArtemisDicoTiar commented on #1218
This problem also happening on GKE.

[2021-08-30 21:58] #1183 closed

[2021-08-31 06:48] hampusrosvall opened #1223 "gRPC `PredictResponse` is bytes encoded JSON - potentially slow?"
## Context

* torchserve version: torchserve:0.4.1-gpu
* torch-model-archiver version: 0.4.2
* torch version: 1.9.0
* torchvision version [if any]: N/A
* torchtext version [if any]: N/A
* torchaudio version [if any]: N/A
* java version: see docker image
* Operating System and version: see docker image

## Your Environment

* Installed using source? [yes/no]: no
* Are you planning to deploy it usin

[2021-09-01 03:49] jagadeeshi2i commented on #580
@dhanainme The version is chosen by ekctl, try upgrading ekctl tool. Check for default kubernetes version used by running `eksctl create cluster --help`

[2021-09-01 13:21] AshwinRaikar88 commented on #1212
Yes @chauhang, I've tried all those steps in the .config files as well as verifying all the required files for requirements.txt.

One specific problem which I noticed while manually trying to install pip packages inside docker container was with Opencv python.

I had to build it by installing cmake package then run pip install opencv-python
Usually it takes a few mins to complete ......but the pro

[2021-09-01 13:25] jagadeeshi2i commented on #1218
@aivanou Pls let me know if this works `http://localhost:8081/models?url=https://torchserve.pytorch.org/mar_files/squeezenet1_1.mar`. The url you mentioned failed with connection timeout.

[2021-09-01 19:44] spate141 opened #1227 "How to torch-model-archiver directory with its content?"
I'm trying to generate .mar file which contain some extra files including a directory. I'm not sure how can I add that. Here is what I'm trying to archive:

[code]

Here is my `torch-model-archiver` command which is replacing `my_model/config.json` with `my_model/1_Pooling/config.json` in model.mar file.

[code]

How can I keep the `1_Pooling/` directory as it is in .mar file with all its content?

[2021-09-01 20:49] dconathan opened #1228 "Better document s3 support ("unknown protocol: s3")"
## 📚 Documentation

It's unclear from the documentation that (to my knowledge) only s3 via http is supported.  In fact, the documentation on https://pytorch.org/serve/server.html seems to indicate the s3 protocol is supported:

but if you try to use an s3:// uri you get:
[code]

[2021-09-01 20:52] dconathan opened #1229 "Incorrect links in documentation"
## 📚 Documentation

There are incorrect links throughout the documentation.  For example at bottom of:

https://pytorch.org/serve/custom_service.html#installing-model-specific-python-dependencies

Links to https://pytorch.org/serve/configuration.md#allow-model-specific-custom-python-packages

Which 404s.  It should link to:

https://pytorch.org/serve/configuration.html#allow-model-specific-custom-

[2021-09-01 21:06] #1227 closed

[2021-09-01 22:30] lxning commented on #1214
I was not able to reproduce this error.
[log.txt](https://github.com/pytorch/serve/files/7094701/log.txt)

@IdoGabay111 could you run python to see if your sys platform is darwin? eg.
python
Python 3.9.6 (default, Jun 29 2021, 06:20:32)
[Clang 12.0.0 (clang-1200.0.32.29)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

'darwin'

[2021-09-01 23:03] HamidShojanazeri commented on #1120
@mspinaci there is also another workaround, that instead of sending the large payloads over http, you can read it in the handler from a shared location (e.g s3 bucket), please let us know if that can work for your use-case.

[2021-09-02 11:34] IdoGabay111 commented on #1214
@lxning
the output i get is :
(base) ido@Idos-MacBook-Air ~ % python
Python 3.9.6 | packaged by conda-forge | (default, Jul 11 2021, 03:35:11)
[Clang 11.1.0 ] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[2021-09-02 17:57] lxning commented on #1214
@IdoGabay111
Can you run the following code in python?

import sys
sys.platform

[2021-09-03 01:26] berlinsaint opened #1233 "MaskRCNN inference can not use GPU?"
I have downloaded a pretrained model from  [mask_rcnn_r50_fpn_1x_coco_20200205.pth](https://download.pytorch.org/models/maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth)
use archiver:
[code]

then serving config is ：

[code]
i have 2 gpu T4 card on the machine.
and I call the model http interface get this result:

[code]
then I run the ab-benchmark: `ab -c 10  -n 100 -k -p ./x.jpg -T application/jpg http:/

[2021-09-03 06:05] #1233 closed

[2021-09-03 06:06] berlinsaint commented on #1233
use docker  image solved the problem.

[2021-09-03 06:48] ovlia opened #1234 "Load model failed: mymodel, error: Worker died"
## 📚 Documentation

2021-09-03 14:26:44,745 [WARN ] W-9000-mymodel1_1.0-stderr MODEL_LOG - model_service_worker.py: error: unrecognized arguments: --sock-type unix --sock-name /tmp/.ts.sock.9000
2021-09-03 14:26:44,745 [INFO ] epollEventLoopGroup-5-7 org.pytorch.serve.wlm.WorkerThread - 9000 Worker disconnected. WORKER_STARTED
2021-09-03 14:26:44,745 [DEBUG] W-9000-mymodel1_1.0 org.pytorch.serve.w

[2021-09-03 09:31] toretak opened #1235 "Multi request batching"
I'v been looking in previous issues, but I could not find satisfying answer.

I have packed model using model-archiver in docker.
[code]

Than I run model in docker.
[code]

[code]

Than I will call model multiple times
[code]
or from python
[code]

but in TS log I can see, that requests are processed sequentially.
[code]

## Context
We would like to batch multiple requests and do the inference ju

[2021-09-03 09:35] toretak commented on #1234
Hi @ovlia, please provide more information about the model. Is it default or custom handler? Are you running TorchServe in docker, or locally? Is it latest version of torchserve? Is the version of torchserve and model-archiver the same?

[2021-09-05 07:17] IdoGabay111 commented on #1214
@lxning
for printing sys.platform line i get the output "darwin"

[2021-09-06 07:34] ovlia commented on #1234
running TorchServe in docker, latest version of torchserve 0.4.2

[2021-09-07 07:06] LydiaXiaohongLi opened #1237 "a100-MIG multiple mig devices not supported with torchserve"
I have created multiple MIG devices on one machine with one nvidia a100 GPU, when i started torchserve, with no limit on number_of_gpu, I expect it to use all MIG devices created (total 6), however, only MIG DEV 0 is used.

xiaohong_li@semantic-torchserve-a100-mig:~/title_semantic_relevance_api_torchserve$ **nvidia-smi**
Tue Sep  7 06:25:02 2021
+---------------------------------------------------

[2021-09-07 16:46] lxning commented on #1214
@IdoGabay111 according to [code](https://github.com/pytorch/serve/blob/master/ts_scripts/install_dependencies.py), [torch_darwin.txt](https://github.com/pytorch/serve/blob/master/requirements/torch_darwin.txt) should be called if platform is "darwin".  That means "torch==1.9.0" will be installed, not "torch==1.9.0+cpu" (shown on your log).

I tested on my mac, it works fine (see my previous attach

[2021-09-08 03:58] HamidShojanazeri commented on #1237
Thanks @LydiaXiaohongLi for opening this ticket, it sounds like a good first issue, I believe this is happening as [devices are assigned using gpu physical ids](https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L50), as indicated in the link you shared, all the partitioned GPU are on GPU:0, you might be able to modify the device assignment in a custom handler to support

[2021-09-08 04:06] HamidShojanazeri commented on #1235
@toretak you need to register the model with the target batch size, this can be done either through management API foe example
[code]
or through config.properties if you are using latest version, as indicated [here](https://github.com/pytorch/serve/blob/master/docs/batch_inference_with_ts.md#batch-inference-of-resnet-152-configured-through-configproperties).

[2021-09-08 04:10] HamidShojanazeri commented on #1234
@ovlia Can you please share more details on the model and handler and full model_log, this would help us better understand the context and suggest solutions.

[2021-09-08 04:12] HamidShojanazeri commented on #1228
@dconathan This refers to a  URL of a mar file located on an S3 bucket, it doesn't support S3 URI.

[2021-09-08 04:16] HamidShojanazeri commented on #1223
cc @lxning

[2021-09-08 04:19] msaroufim commented on #1198
Alternatively a simpler solution is to use cpuset in docker https://unix.stackexchange.com/questions/312382/how-to-achieve-processor-affinity-in-containers

[2021-09-08 07:33] toretak commented on #1235
Thanks for reply @HamidShojanazeri, ts is started with `config.properties`

[code]

**config.properties** file:
[code]

[2021-09-08 07:42] toretak commented on #1212
@AshwinRaikar88 you can try to run your model in this docker https://hub.docker.com/r/toretak/torchserve there are added setuptools in docker image. We have similar issues and it helped.

[2021-09-09 04:07] vdantu commented on #1213
I am curious to see what error you are facing? AFAIK, the two main dependencies JAVA 11 and python 3 are supported ARMv8 (aarch64).

[2021-09-09 08:25] #1213 closed

[2021-09-09 08:27] nmohr192 opened #1241 "gRPC API for workflows?"
## 📚 Documentation

For me it is unclear, whether workflow gRPC inference is supported or not, and if yes, whether the standard inference proto file should be used. Can you please comment on this or update the documentation? I don't know (without) testing, whether torchserve is the right approach for me if I can't deploy server-sided workflows to be consumed via gRPC.

[2021-09-09 13:32] IdoGabay111 commented on #1214
@lxning I did it.... doesn't work.

I manually tried to delete "+cpu" in the Dockerfile. now the script can install torch!
unfortunately now it can't find the torchvision version :

<img width="1440" alt="Screen Shot 2021-09-09 at 16 27 56" src="https://user-images.githubusercontent.com/89010709/132694742-c0f58760-249f-4640-a61d-76e3a8233b53.png">

So i tried to delete "+cpu" there as well but sad

[2021-09-09 21:08] HamidShojanazeri opened #1242 "Sending response processed in a batch that aggregated from different sources to the relevant source."
#### Problem statement
Considering a number of requests received from different sources, getting batched dynamically, what is the right solution to send back the responses to the respected source?

A --> req1
B--> req2 ==> batch (req1, req2, req3, req4) ==> handler (process (req1, req2, req3, req4)) ==> send-response (resp1-->A, ..,)
C --> req3
D--> req4
#### Feature request
A solution to send bac

[2021-09-10 17:17] lxning commented on #1178
@nskool according to the ticket's requirements, there are two items not done yet. So I reopen this ticket.
1. move bin fro S3 private bucket to public
2. publish the binary link the binary in pytorch nightly build page

[2021-09-12 12:51] LydiaXiaohongLi commented on #1237
Hihi Thanks a lot @HamidShojanazeri  for your prompt reply!

Sorry may I understand more how do I do device assignment with partitioned GPUs, when all partitioned GPUs assigned with same gpu physical id?

I understand A100 MIGs, have this unique UUID for each partitioned GPU, as shown below.
[code]

And I am only able to use command lines with CUDA_VISIBLE_DEVICES to bring up processes that runs o

[2021-09-13 01:43] msaroufim commented on #1198
It seems like 1-2ms latency with BERT is possible - how do we get there https://twitter.com/Thom_Wolf/status/1436308987725680640?s=20

[2021-09-13 03:18] pallashadow opened #1243 "Add supports for serving TensorRT and torch2trt model"
## Is your feature request related to a problem? Please describe.
TensorRT can decrease the latency dramatically on some model, especially when batchsize=1. see

torch2trt is a PyTorch to TensorRT converter which utilizes the TensorRT Python API. It can simple convert the model in 1 line and run it as a pytorch model. see https://github.com/NVIDIA-AI-IOT/torch2trt.

I have tried to use torchserve

[2021-09-13 13:59] nskool commented on #1198
Was able to reproduce the results you shared @msaroufim for the batch size of 8, using cpuset. As you said, use of numactl/cpuset without virtualization is currently not possible with torchserve, as one may only run a single instance of the server on a particular host.

As mentioned, there seem to be two avenues of tuning without significantly amending Torchserve: (1). specific optimizations for P

[2021-09-13 16:56] lxning commented on #1214
@IdoGabay111 I still can not reproduce your problem. Can you print the [cmd](https://github.com/pytorch/serve/blob/master/ts_scripts/install_dependencies.py#L35) to see the result platform.system() during the installation on your mac?

[2021-09-14 16:46] msaroufim commented on #1198
So next question may be - why can we only run one torchserve instance at a time given that we can remap ports with `config.properties`

It's possible that this is an artificial constraint, so one way to investigate would be to skip these lines and see what happens

Backend: https://github.com/pytorch/serve/blob/master/ts/model_server.py#L49
Frontend: https://github.com/pytorch/serve/blob/master/fr

[2021-09-15 01:06] jaekookang commented on #730
I had a similar issue but for a different reason,
[code]
which was fixed by just returning a list of list for the prediction output in my postprocess method. Thank you.

[2021-09-15 01:32] msaroufim opened #1245 "LPOT integration"
Take a model optimized with LPOT https://github.com/intel/neural-compressor

And serve it using torchserve

Te missing steps may be purely installation, some changes to inference or training scripts and extra files

Compare with IPEX vs LPOT vs no optimizations on Resnet and BERT and see what happens

[2021-09-15 05:49] chauhang commented on #1193
@maligree Were you able to narrow down the issue further? Are you still observing the problem when serving Workflows?

[2021-09-15 05:53] chauhang commented on #1152
@KhyatiMehta3  HTTPS is not required to access Inference API from outside and can access over pure HTTP. Are you facing any issues when using HTTP?

[2021-09-16 03:48] msaroufim commented on #1235
Can you print the the number of inferences being generated in the inference handler and check the `logs/model_log.log` for it?

Also the BERT example is a good one to see how batching works https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py

[2021-09-16 03:55] msaroufim commented on #1196
In the `initialize` handler you can pass as the first argument as context, make it an attribute of the class and then call it in any handler you like

Here's an example https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/Transformer_handler_generalized.py

[2021-09-16 04:02] msaroufim commented on #1177
@ArtemisDicoTiar do you mind sharing which cloud provider you're using? Is this an on prem setup?

[2021-09-16 19:16] ytsheng opened #1246 "docker instance with torch serve error (running the examples provided)"
## Context
Hi Team,

I am really trying to understand serving a torchserve instance with docker. Therefore, I ran the documentation examples on torchserve and docker. Unfortunately they are not working for me. To be clear running torchserve locally works, but not with docker.

## Your Environment

* torchserve version: 0.4.0
* torch-model-archiver version: 0.4.0b20210521
* torch version: 1.8.1
* t

[2021-09-17 00:12] msaroufim commented on #1246
When you're working with Docker it's easier to do everything you need to do with `Dockerfile` so ideally you should never need to actually log into it except to read logs (The VS code Docker extension is amazing for this kind of debugging)

So for example here instead of curling your model weights to the docker instance just copy over the model https://gist.github.com/msaroufim/6e4a61e714410a4b6d9

[2021-09-17 01:57] msaroufim commented on #1246
Talked offline - there are some confusing aspects in our Dockerfile
`model_store` and `config.properties` are not owned by the `model-server` user but owned by root - doing a straight `chown` didn't work either, we need to look more carefully at the script and how ownership works when new directories are created

As a workaround we logged into the Docker container, stopped torchserve, created a ne

[2021-09-17 23:24] akirillov opened #1247 "requirements.txt are not loaded from model archive: `models/Manifest.setRequirementsFile` is never invoked"
When I attempt to serve a MAR archive with TorchServe, the server skips dependency installation from a requirements.txt file included into the archive.

Based on the code in this repo, it looks like the `requirementsFile` setter in `Manifest` class is never called, neither the `Manifest.requirementsFile` field is set directly.

This results in the `setupModelDependencies` skipping the installation

[2021-09-18 00:10] akirillov commented on #1247
It looks like the requirements.txt are actually loaded but there's no indication in the logs.
requirements.txt:
[code]

logs:
[code]

[2021-09-18 00:10] #1247 closed

[2021-09-18 07:51] AdityaSoni19031997 commented on #1217
I am new to serve but i believe we would have to handle it ourselves for now using custom handlers, there we can make connections to some KV like Redis and hit that first before making the inference, right?

[2021-09-18 21:40] msaroufim commented on #1217
That is correct, if you have a reference example we can add the example for it in the repo

[2021-09-20 18:41] AdityaSoni19031997 commented on #1217
I can try to sending a sample snip in upcoming weekend or following that.

Just wanted to know your thoughts,

It's a fair assumption that some (repetitive) ID will be present in the incoming request that can be looked up against some look-up table?

Otherwise, ID generation is incoming data specific which might make things complicated, right?

[2021-09-20 23:34] msaroufim commented on #1217
How would a client know that it's seen a request before?

One way would be to use input tensors as the key for the key value store but those are probably too big.

I'm thinking the python `hash()` function could do the job just fine but open to any other suggestions

[2021-09-21 04:58] AdityaSoni19031997 commented on #1217
Oh yes, I completely agree, it's the servers responsibility to figure out that it has seen this record before. But if someone changes a small value in a tensor, will `hash()` be able to pick it up? (as shown below)

<img width="356" alt="Screenshot 2021-09-21 at 10 20 57 AM" src="https://user-images.githubusercontent.com/22738086/134113241-2cde9084-0f6d-40b2-87b8-03f8fe62efed.png">

Similar issue

[2021-09-21 08:36] LydiaXiaohongLi commented on #1237
hihi @HamidShojanazeri , any updates? Thank you!

[2021-09-21 18:44] msaroufim commented on #1217
Oh wow that's a fascinating example, so yeah either you just use the whole tensor as the key (where I'd imagine the network cost to be higher than inference cost so breaks whole need for cache) or we find a smarter hash function

Probability of seeing a repeated tensor is use case specific but let's take as an example search or spelling correction where lots of usages are repeated

[2021-09-21 19:00] AdityaSoni19031997 commented on #1217
IIRC, The worst part about using hash is that it keeps on changing if you keep on running the same example wrt each Python session as well. So it definitely cannot be used here I feel.

We need a better hash function for sure! Will search for more or maybe we can use Min-Hash idea here or hashlib hash functions.

[2021-09-22 05:30] HamidShojanazeri commented on #1237
@LydiaXiaohongLi sorry for the late reply. I am looking into this issue, it seems it is only available from command line Nvidia-smi  and CUDA_VISBILE_DEVICES [extended](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/) to support it.  I am looking into a way to  programmatically access this info through Nvidia-smi or other packages. It is not supported through [CUDA utilities](https://pyto

[2021-09-22 10:08] LydiaXiaohongLi commented on #1237
hi @HamidShojanazeri ,

I have tried your suggestion, however, the device string format of GPU_UUID/GPU_instance_ID/0 is not valid device string.
I have tried some other formats for device string, all failed for "Invalid device string".

[code]

Does it allow you to create the torch device with UUID string format?

I am using:
torchserve version: 0.4.2
torch version: 1.9.0+cu111.

Many thanks!
Reg

[2021-09-22 10:09] LydiaXiaohongLi commented on #1237
hi @HamidShojanazeri ,

I have tried your suggestion, however, the device string format of GPU_UUID/GPU_instance_ID/0 is not valid device string.
I have tried some other formats for device string, all failed for "Invalid device string".

[code]

Does it allow you to create the torch device with UUID string format?

I am using:
torchserve version: 0.4.2
torch version: 1.9.0+cu111.

Many thanks!
Reg

[2021-09-22 16:49] HamidShojanazeri commented on #1242
Closing this issue as it is already supported.

[2021-09-22 16:49] #1242 closed

[2021-09-22 19:01] HamidShojanazeri commented on #1237
@LydiaXiaohongLi Sorry I think a "MIG-"  was missing from the start of the string, so should be  "MIG-GPU-6482a92e-d06b-dc68-c272-e3d8f7ecabbf/7/0". I will look into NVML[ Python Binding](https://pypi.org/project/nvidia-ml-py/) it might be helpful to provide available MIG devices. You might want to give it a shot as well.

[2021-09-22 19:51] jagadeeshi2i commented on #1219
@hampusrosvall Looks fine with the configurations and from the torchserve logs, it seems the request size and response size are set to `10000000`. Can you share the steps, so i can try to reproduce the issue.

[2021-09-22 19:58] jagadeeshi2i commented on #1246
@ytsheng

1. Pls check that you are not mounting a root owned local path to docker container as volume. Try running docker container from `serve` folder and check if you are still facing the issue. Make sure ts is cloned to non root path.
2. The second issue is, you trying run torchserve from `pytorch/dev:latest` image.

[2021-09-23 14:27] LydiaXiaohongLi commented on #1237
hihi @HamidShojanazeri, thanks for the references. Btw, I have tried various formats of device string, including with 'MIG-' prefix, still failing for the same reason.

[2021-09-27 06:21] AdityaSoni19031997 commented on #1195
This has messed up my env, thanks for that.

[2021-09-27 09:38] sharvil commented on #1195
Is it possible to increase the priority on this bug? Silently breaking the systemwide Python on a user's machine is a very severe outcome.

[2021-09-27 12:34] AdityaSoni19031997 commented on #1195
It broke my env, thanks 🙏. Took me a week to figure out what has happened and what caused it.

[2021-09-28 17:18] msaroufim opened #1253 "Apache benchmark improvements"
Apache Bench scripts could use a few usability improvements
1. An example of a `config.json`
2. Specify report output location in `config.json`
3. Write down parameters from `config.json` as columns in table for reproducible results and
4. copy `config.json` to output directory
4. Stretch: YAML list parameters for example to do a grid search of number of workers

Also make it clearer in `README.md

[2021-09-28 20:26] msaroufim commented on #1198
IPEX is all you need

managed to shave down CPU inference for BERT all the way down to 36ms if using m6i.4x!!

[2021-09-28 22:15] #1196 closed

[2021-09-29 08:14] Timonzimm opened #1256 "Deployment with customer handler on Google Cloud Vertex AI"
Hello there,
I'm trying to deploy a TorchServe instance on Google Vertex AI platform but as per their documentation (https://cloud.google.com/vertex-ai/docs/predictions/custom-container-requirements#response_requirements), it requires the responses to be of the following shape:
[code]
Where **PREDICTIONS** is an array of JSON values representing the predictions that your container has generated.

[2021-09-29 19:06] jagadeeshi2i opened #1257 "TS_CONFIG_FILE env var not loaded"
From [configuration doc](https://github.com/pytorch/serve/blob/master/docs/configuration.md), it is clear that running torchserve with config.properties set to env var as `TS_CONFIG_FILE` loads the config properties. What happens is, after setting the `TS_CONFIG_FILE` env var the properties are not loaded.

Starting torchserve with `torchserve --start` throws `Missing mandatory parameter --model-s