[2019-12-16 21:50] fbbradheintz opened #5 "Python version"
Why do the instructions specify Python 2.7, when it's rapidly approaching EOL? https://pythonclock.org/

[2019-12-16 21:53] fbbradheintz opened #6 "Conda preferable to pip"
Anaconda is the preferred method for installing PyTorch & Torchvision - it would be good if the installation instructions mirrored that.

[2019-12-16 22:42] fbbradheintz opened #7 "Error installing"
Error during install while running tests:

[code]

Looks like a Python dependency issue.

[2019-12-17 01:27] fbbradheintz opened #8 "torch-model-archiver Installation"
Despite what the instructions say, I don't see any installation instructions for `torch-model-archiver` - and it's needed for the quick start.

It was simple enough to `cd` to the right folder and run `setup.py`, but this should still be called out correctly in the quick start.

[2019-12-19 19:08] fbbradheintz opened #9 "Following instructions, model server does not start"
[code]

Install prereqs are met:
[code]

Also, `java` is in my `PATH`.

[2019-12-19 20:03] fbbradheintz opened #10 "On running server, workers die"
I finally got the server to start, but when I do, I see a lot of this kind of thrash:

[code]

Java 1.8.0 Python 3.6.9 macOS 10.14.6

[2019-12-29 19:13] chauhang opened #13 "Java8 install steps using brew for MacOs does not work anymore"
Java8 installation steps using brew for MacOs not working anymore. Please provide updated steps, It will be better to use OpenJDK instead for future proofing.

Following worked for me on Mac OS Catalina (10.15.1)

`brew tap AdoptOpenJDK/openjdk`
`brew cask install adoptopenjdk8`

Verify using:
`java --version`

If you get security error for installing from unverified source, add exception to the s

[2020-01-22 20:02] alexwong opened #16 "Example on readme uses MxNet"
The example in the README uses a SqueezeNet model built with MxNet, we should update it to use PyTorch.

[2020-01-28 22:57] #8 closed, assigned to nobody

[2020-01-28 23:04] fbbradheintz opened #18 "Model Archiver instructions incomplete & incorrect in README"
In /README.md, in the "Serve a Model" section, there is a command line for creating a model archive for the downloaded DenseNet-161 model:

`torch-model-archiver --model-name densenet161 --model-file serve/examples/densenet_161/model.py --serialized-file densenet161-8d451a50.pth --extra-files serve/examples/index_to_name.json`

This fails with the message:

`torch-model-archiver: error: the follow

[2020-01-28 23:10] #10 closed, assigned to nobody

[2020-01-28 23:11] #9 closed, assigned to nobody

[2020-02-12 21:13] #6 closed, assigned to nobody

[2020-02-12 21:32] #18 closed, assigned to nobody

[2020-02-12 21:33] #5 closed, assigned to nobody

[2020-02-12 21:53] fbbradheintz opened #22 "pom.xml file has references to MXNet server"
See https://github.com/pytorch/serve/blob/master/serving-sdk/pom.xml

This appears to be related to the `serving-sdk` component specifically. I'm assuming we don't want a bunch of references to MXNet Model Server or its source control in the project.

Is this SDK component going to be part of the final project? If not, is it something that can be cut, rather than leaving old stuff around?

[2020-02-12 22:25] fbbradheintz opened #23 "Incorrect docs for --model-store option"
Docs for the `torchserve` command line at https://github.com/pytorch/serve/blob/master/docs/server.md make the claim:

This is in reference to the `--model-store` argument. This is incorrect; if it were true, I should be able to call `torchserve --start --model-store model_store` (where I have multiple models in the folder `model_store`) and get endpoints - but I get only 404s when trying to call

[2020-02-12 22:49] fbbradheintz opened #24 "Long wait times for first request from TorchScript model"
I have two identical models, one in code + weights, the other in TorchScript. Doing inference with TorchScript takes far, far longer, which is surprising.

**The setup:**

The non-TorchScript model is just the DenseNet-161 model archive from the README.me quick start.

The TorchScript model is the same one, but exported to TorchScript thus:

[code]

It was then packaged with:

`torch-model-archive

[2020-02-12 23:08] fbbradheintz opened #25 "Undocumented and legacy endpoints"
Calling `curl -X OPTIONS http://localhost:8080` (not 8443 as the docs originally had it) gives an API description for inference that has a number of undocumented endpoints, including `/predict` (which it says is "A legacy predict entry point for each model"), `/invoke` (not clear what this is supposed to do if it's not prediction).

I'm not opposed to having `/predict` be an alias for `/prediction

[2020-02-12 23:09] #16 closed, assigned to nobody

[2020-02-13 23:44] fbbradheintz opened #26 "`torch.eval()` call in the wrong place"
The various included model handlers include calls to `model.eval()`, which is good - we want the model put in that mode for inference.

Where this call *really* belongs, though, is in the parent class for all handlers, where the model gets loaded. In fact, calling `model.eval()` should probably be the next thing that happens after the model loads - someplace like line 61 in the current version of

[2020-02-16 00:46] chauhang opened #29 "Update error message when attempting inference on model with 0 workers"
On adding a model via the management-api, the default min/max workers for the model is set to 0. As a result when running prediction against the model after registering gives a 503 error with details as 'No worker is available to serve request: densenet161'. This will be confusing for user's trying to add models from the inference api.

**Register model using:**
curl -X POST "http://<torchserve-ho

[2020-02-16 01:08] chauhang opened #30 "Unable to install on GPU machine"
`pip install .` command failed with errors when installing on a ubuntu 18.04 GPU server (aws p3.8xlarge). The gradle tests as part of the  install are failing with many `Backend worker monitoring thread interrupted or backend worker process died` errors in the logs.

Error logs are attached.
[error.txt](https://github.com/pytorch/serve/files/4209229/error.txt)

[2020-02-16 01:10] chauhang opened #31 "docker build failing on line 27"
Docker build failing on line 27.

Error details:
------------
Step 9/24 : ADD serve serve
ADD failed: stat /var/lib/docker/tmp/docker-builder277367370/serve: no such file or directory

[2020-02-16 01:12] chauhang opened #32 "dockerfile for gpu machines install"
Please provide a gpu dockerfile for serving gpu dependent models

[2020-02-16 01:20] chauhang opened #33 "config steps for serving via public-ip"
The default configuration works for serving models on localhost. In order to run predictions on  models via the public-ip (making calls from a different host) one has to specify 0.0.0.0 or the explicit IP-address through the --ts-config file settings. This is not very clear in the documentation. Add clear instructions for new users to get started, otherwise can take a while to figure out why predi

[2020-02-16 02:30] chauhang opened #34 "Adding new model from s3 url via management api does not store it into the model store directory"
On adding a new model using the management api, if the model path is from s3 url, the model does not get added to torchserve's model store path. One would expect that models registered via urls will be downloaded locally for faster predictions, and for persistence when torchserve is restarted.

[2020-02-16 02:40] chauhang opened #35 "text_classification example not working"
The text_classification example is not working. Adding the model works. But on scaling the workers, one gets 500 error with 'failed to start workers".

After this error torchserve keeps trying to restart the workers and logs are flooded with errors, till one explicity scales back the workers for the model to 0.

**Detailed error logs in console:**
2020-02-16 02:35:53,352 [INFO ] W-9007-my_text_cla

[2020-02-16 19:16] chauhang opened #36 "benchmark dependencies install script failing on fresh ubuntu 18.04"
The 'install_dependencies.sh' script is not working on a fresh ubuntu 18.04 machine. Tested for both GPU and CPU installs.

Error details:
+ brew install jmeter --with-plugins
Usage: brew install [options] formula
....
Error: invalid option: --with-plugins
+ true
+ wget https://jmeter-plugins.org/get/ -O /home/ubuntu/.linuxbrew/Cellar/jmeter/5.2.1/libexec/lib/ext/jmeter-plugins-manager-1.3.jar
/ho

[2020-02-18 23:20] fbbradheintz opened #41 "Restricting worker env var access should use whitelist, not blacklist"
When restricting access to something with a functionally infinite address space - like the namespace of env vars - blacklisting is a poor practice. Every new env variable that the blacklist *doesn't* know about becomes a new potential vulnerability. It is impossible for the blacklist to capture all possible invalid inputs that it might want to restrict.

A better practice is to use whitelisting. I

[2020-02-18 23:41] fbbradheintz opened #42 "Problem loading image_classifier handler?"
When I do an image classification task, I get the following error:

[code]

This is consistent on Mac (latest MacOS) and Linux (Ubuntu 16.04 DL AMI v26). Latest master from the TorchServe repo. The thing still works and I get inference results, but that error message was a surprise.

If things are actually working correctly (which they mostly appear to be, we shouldn't be getting an error message.

[2020-02-19 00:35] fbbradheintz opened #43 "Question: Should new model version always become default?"
If I put up an image classifier model with a version of 1.0, then register another with the same name and a version of 1.1, version 1.1 automatically becomes the default. **Is this intentional?**

Part of the point of versioning is to be able to test new versions without taking down the old version (or appearing to by taking over the default URL). Based on this, it would seem that the current beha

[2020-02-19 19:15] fbbradheintz opened #47 "Security issue loading model archives from arbitrary URL"
There is a significant security issue with fetching new models via URL, in that model archives may contain arbitrary code, which will be run by TorchServe with no verification. Vulnerabilities include replacing a model at a target URL (with one containing malicious code), or registering such a model by getting access to the Management API, and active MITM attacks that insert their own model archiv

[2020-02-19 19:35] fbbradheintz opened #48 "Command line does not allow starting with multiple model versions"
In my model store, I have three model archives:
* name `densenet161`, version `1.0`, file `densenet161.mar`
* name `densenet161`, version `1.1`, file `densenet161a.mar`
* name `tsd161`, version `1.0`, file `tsd161.mar`

I attempted to use this command line to start the server:

`torchserve --start --model-store model_store --models densenet161=densenet161.mar densenet161=densenet161a.mar tsd161=ts

[2020-02-20 02:33] chauhang opened #49 "Add example for Custom Service"
Add a new example for usage of Custom Service. Given that most user's of TorchServe will have their own custom models, this will help in jump starting things for deploying their models into production.

[2020-02-20 03:13] #26 closed, assigned to nobody

[2020-02-20 03:42] #42 closed, assigned to nobody

[2020-02-20 03:43] #13 closed, assigned to nobody

[2020-02-20 21:15] #31 closed, assigned to nobody

[2020-02-20 21:22] #33 closed, assigned to nobody

[2020-02-21 00:37] fbbradheintz opened #53 "Can't log custom metrics"
I attempted to log custom metrics according to the docs. I did the following:

At the top of my custom model handler:
[code]

In the inference method:
[code]

This fails with the error:

[code]

It's not really clear to me what's wrong there. I tried using it without the allegedly optional `dimensions` argument, and got:

[code]

Examining the code made it clear that the `dimensions` arg was not a

[2020-02-21 01:08] fbbradheintz opened #54 "Can't load two versions of same model from config file"
I attempted to start a model server with two versions of the same model specified in the config options. Both model archives had a model name of "d161", with one of them having version number 1.0 and the other version 1.1. The two files were named `d161_1_0.mar` and `d161_1_1.mar` and they were both in the model store directory. My `config.properties` contained the line:

[code]

The expected outc

[2020-02-21 01:13] fbbradheintz opened #55 "Undocumented options for config.properties"
The `model_store` and `load_model` are mentioned briefly in the [config docs](https://github.com/pytorch/serve/blob/master/docs/configuration.md), but their syntax is not explicated. I had to dig in test config files for the information.

[2020-02-21 01:26] chauhang opened #56 "Document JDK version in install steps"
Install stopped working after the latest changes. Failing with "FindBugs rule violations" for modelarchive.

**Error details:**

(myenv) ubuntu@ip-172-31-18-32:~/pt/serve$ pip install .
Processing /home/ubuntu/pt/serve
Requirement already satisfied: Pillow in /home/ubuntu/anaconda3/envs/myenv/lib/python3.8/site-packages (from torchserve==0.0.1b20200221) (7.0.0)
Requirement already satisfied: psuti

[2020-02-21 01:33] chauhang opened #57 "Add integration tests into the CI build process for catching regression issues"
Add basic integration tests into the CI build process for catching regression issues. Please ensure:

1. Basic install on a fresh machine or docker sandbox takes place as part of the sanity testing.
2. All API endpoints are verified for regression. It can be as simple as running a Postman script with all the endpoints and testing that models get deployed and inference is working for the examples b

[2020-02-21 03:47] mycpuorg opened #58 "Run AWS DeepLearning Benchmarks agains TS containers"
AWS runs Deep Learning benchmarks that measure serving latency and throughputs against different models. Run these benchmarks against TorchServe Containers.

Here's the AWS Deep Learning Benchmark:
https://github.com/awslabs/deeplearning-benchmark/tree/master/mms

Some important files to get quick started are:
https://github.com/awslabs/deeplearning-benchmark/blob/master/benchmark_driver.py
https:

[2020-02-21 08:43] chauhang opened #60 "Add handler for audio models with an example"
Add new handler for audio models along with an example for pre / post processing of audio data.

[2020-02-21 09:55] dhaniram-kshirsagar opened #61 "Update doc/scripts with s3 url based model archive/mar files"
Docs and few scripts are still pointing to local mar files i.e. at present, the user has to build mar files themselves. Need to update the docs/scripts with required S3 mar file urls for readymade mar files.

[2020-02-21 20:27] fbbradheintz opened #62 "Incomplete OpenSSL instructions"
This refers to the SSL instructions in the config doc: https://github.com/pytorch/serve/blob/master/docs/configuration.md#enable-ssl

It looks like there was an intent to create instructions for making a self-signed cert with `openssl`, but it is incomplete. The config instructions also look like they were copied & pasted from the `keytool` instructions immediately above.

[2020-02-21 23:03] fbbradheintz opened #63 "TorchServe startup fails to honor valid combinations of config.properties and command line"
I have models in my `model_store` folder, and the line `model_store=model_store` in my `config.properties` file.

The following two command lines work, with the first starting no endpoints and the second starting workers for the model:

[code]

In the first one, it takes the model store location from config; in the second, it ignores that in favor of the command line.

This command line fails (err

[2020-02-21 23:16] fbbradheintz opened #64 "TorchServe ignores batch config properties"
In my `config.properties` file, I have the lines:

[code]

I started TorchServe with the command line:

[code]

When I query the status of the endpoint with `curl http://127.0.0.1:8081/models/d161good`, I get:

[code]

Note the `"batchSize"` and `"maxBatchDelay"` entries.

[2020-02-21 23:33] fbbradheintz opened #65 "Default image classfier model handler fails on black & white JPG"
Repro: In the quick start, replace kitten.jpg with the attached file. There's a crash in `image_classifier.py` when it attempts to convert the image to a tensor, because it assumes 3 color channels.

[2020-02-21 23:46] fbbradheintz opened #66 "Java concurrency crash when attempting batch processing"
I have an endpoint configured thus:

[code]

When I pass in a single image, this behaves as expected. It takes about 5 seconds to return while it waits for a batch, gives up, and processes the request.

It fails consistently when passed multiple requests in rapid succession (much less than `maxBatchDelay`), e.g.:

[code]

The error from the logs:
[code]

The `java.util.ConcurrentModificationExcept

[2020-02-22 00:16] fbbradheintz opened #67 "TorchServe failing to batch multi-image requests"
My endpoint is configured thus:

[code]

When I make a multi-file request, it processes both inputs correctly, but does them as separate batches. For example, when I use the following command line:

[code]

I get the following log:

[code]

Note that it is handling them as separate requests, and *not* batching them - it's waiting for the `maxBatchDelay` to run down before *each* file passed in the

[2020-02-22 00:49] #25 closed, assigned to nobody

[2020-02-26 17:41] fbbradheintz opened #71 "TorchServe fails to start multiple workers threads on multiple GPUs with large model."
On a c5.12xlarge instance, I was able to run 16 instances of the FairSeq English-to-German translation model, all simultaneously running translations. This model's weights take up about 2.5GB on disk (though its resident footprint in memory seems smaller).

Attempting a similar feat on a p3.8xlarge turned out to be impossible. I could get a single instance running, but if I attempted to get even 4

[2020-02-26 19:27] #7 closed, assigned to nobody

[2020-02-26 19:45] #63 closed, assigned to nobody

[2020-02-26 23:39] fbbradheintz opened #72 "Benchmarks have dependency on Mxnet"
[code]

[2020-02-27 00:06] fbbradheintz opened #73 "Config changes are not preserved"
Previous high-priority item from the last round of feedback:

AFAICT, this is not happening.

[2020-02-28 02:19] #62 closed, assigned to aaronmarkham

[2020-02-28 22:35] fbbradheintz opened #78 "ResNet-152 example code does suboptimal things with tensors and loops"
In `examples/image_classifier/resnet_152_batch/resnet152_handler.py`, in the `preprocess()` and `postprocess()` methods, tensors are looped over and subtensors/elements are handled individually. This processing will probably be faster and take less code using tensor broadcasting semantics and a small amount of refactoring. I'll handle it when I have a little time.

[2020-02-29 00:27] #54 closed, assigned to nobody

[2020-02-29 00:29] #48 closed, assigned to nobody

[2020-03-03 23:45] mycpuorg opened #79 "Avoid reading GPU ID from properties for RR worker assignment"
https://github.com/pytorch/serve/issues/71
mentioned about assigning [GPU ID from properties](https://github.com/pytorch/serve/issues/71#issuecomment-594068814) explicitly which will work.
However, this will require end user to know the number of GPU devices present on an instance prior to assigning.

https://github.com/pytorch/serve/issues/71#issuecomment-591561184 should suffice IMO. Please look

[2020-03-06 16:15] adityabindal opened #81 "SageMaker support for gpu and cpu dockerfiles"
Update cpu and gpu dockerfiles so that Docker Images work on SageMaker (eg add SageMaker inference toolkit)

[2020-03-07 02:41] chauhang opened #82 "IllegalMonitorState Exceptions on running benchmark tests"
Seeing many illegalmonitorstate exceptions on running the benchmarks tests. Tested on p2.8xlarge
with the default configurations using the config.properties in the benchmark folder and adding model store path to it.

**Output**

(pytorch_p36) ubuntu@ip-172-31-41-247:~/serve/benchmarks$ python benchmark.py throughput --ts http://127.0.0.1:8080
Running benchmark throughput with model resnet-18
Proce

[2020-03-08 02:38] C24IO opened #83 "Serve installation fails on SageMaker Notebook and Cloud9"
Following steps in Readme and the following errors occur - environment is Cloud9 and Amazon SageMaker Notebooks.
`
(venv) chzar:~/environment/serve/serve-setup/serve (master) $ pip install .
Processing /home/ec2-user/environment/serve/serve-setup/serve
Requirement already satisfied: Pillow in /home/ec2-user/environment/serve/serve-setup/venv/lib/python3.6/dist-packages (from torchserve==0.0.1b2020

[2020-03-09 16:15] adityabindal opened #85 "Add examples for HuggingFace models"
Create examples or tutorials to show how to deploy HuggingFace PyTorch models with TorchServe

[2020-03-09 19:48] #56 closed, assigned to harshbafna

[2020-03-09 21:12] #67 closed, assigned to harshbafna

[2020-03-09 21:30] chauhang opened #86 "Model store property on starting TorchServe"
If there is a typo in the config parameters for the model store property name, the TorchServe still starts and shows no errors on the console. When the user tries to add a new model they get a 404 error:

{
  "code": 404,
  "type": "ModelNotFoundException",
  "message": "Model store has not been configured."
}

For better user experience, if any of the mandatory properties are not set properly, th

[2020-03-10 01:39] chauhang opened #87 "ArrayIndexOutOfBounds errors in logs"
Seeing some unexpected ArrayIndexOutObBounds errors in the logs on AWS p3.8xlarge. Not clear what the source of the errors is.

**Errors:**

2020-03-10 01:25:01,558 [INFO ] epollEventLoopGroup-3-18 ACCESS_LOG - /44.225.84.206:61781 "GET http://169.254.169.254/latest/dynamic/instance-identity/document HTTP/1.1" 404 0
2020-03-10 01:25:01,558 [INFO ] epollEventLoopGroup-3-18 TS_METRICS - Requests4XX.

[2020-03-10 05:17] chauhang opened #88 "Create Production deployment AWS Cloudformation template for TorchServe"
For Production deployment of TorchServe, provide AWS Cloudformation templates that support following configurations:

- [x] Simple EC2 deployment
- [ ] Sagemaker deployment with autoscaling
- [ ] K8s/EKS deployment with autoscaling

Each of the production deployment templates should include configuration with:

- TorchServe inference node(s)
- TorchServe Model management node
- NGINX loadbalancer

[2020-03-10 07:54] dennybritz opened #89 "Dockerfile should not embed model/config file"
The current Dockerfile requires the `resnet-18.mar` model and has a hard-coded configuration. Users could change this and build their own image with their own model.

But end-users probably don't want to build and push their own Docker images just to change the model. Instead, there should be a ready-to-use image that can be configured with a custom model and config file.

This is as easy as remov

[2020-03-11 00:02] fbbradheintz opened #90 "Undocumented dependencies in text classification example"
Text classification example depends on `sentencepiece` and `subword_nmt` packages. These should be documented in the README for the example.

[2020-03-11 01:04] mycpuorg opened #91 "torchserve installation failure on top of tree"
I get the following error. Attaching the complete console log separately. This seems to be a regression because all alternatives run into this issue (conda, pyenv etc)

[code]

[2020-03-11 01:29] chauhang opened #92 "Add support for latest jdk"
Add support for latest jdk version, instead of dependency on jdk 8. Cuda 10.1 automatically updates the systems to jdk 11, the latest release so if one if running TorchServe on GPU machines with latest cuda releases the install does not work. In general we should avoid dependency on a specific library / dependency version for ease of maintenance.

[2020-03-11 01:34] mycpuorg opened #93 "Remove dep on openjdk-8 version and default to latest"
AFAIK, there are no java version dependency necessary in the code, however, in our installation guide and Quick Start sections we recommend the user to install openjdk-8-jdk version.

Without this issues such as #56  and #91 are known to occur which are not just annoying, but a waste of the user's time to debug (going through the pain provides no value to the end result of TS).
Remove this dep.

[2020-03-11 01:54] #91 closed, assigned to nobody

[2020-03-11 04:10] #92 closed, assigned to nobody

[2020-03-12 03:50] chauhang opened #94 "Cloud agnostic K8s deployment script / instructions"
Provide a cloud agnostic K8s deployment script / instructions for production deployment of TorchServe for vanilla Kubernetes.

It can be a helm chart deploy that includes:

- TorchServe inference node(s)
- TorchServe Model management node
- NGINX loadbalancer
- Metrics collection node - Statsd/Prometheus
- Log aggregation using fluentd (or similar)

[2020-03-12 18:16] fbbradheintz opened #95 "Add a command line flag to query TorchServe version"
`torchserve --version` and/or `torchserve -v` should return complete information about the version of TorchServe installed

[2020-03-12 18:48] #35 closed, assigned to nobody

[2020-03-12 18:48] #49 closed, assigned to nobody

[2020-03-12 18:48] #53 closed, assigned to nobody

[2020-03-12 18:48] #55 closed, assigned to nobody

[2020-03-12 18:48] #66 closed, assigned to mycpuorg

[2020-03-12 18:48] #71 closed, assigned to nobody

[2020-03-12 18:48] #72 closed, assigned to nobody

[2020-03-12 21:47] fbbradheintz opened #97 "Password required for `sudo` use in benchmark `install_dependencies.sh`"
This was on DL AMI 27 Ubuntu 18 c4.xlarge.

`sudo` must be passworded for the user running `install_dependencies.sh` to complete successfully.

Currently, many default Ubuntu configurations on EC2 have the default `ubuntu` user able to do passwordless `sudo` - meaning that unless they add a password to that account, `install_dependencies.sh` can't complete.

`sudo passwd <username>` with a non-emp

[2020-03-12 22:23] fbbradheintz opened #98 "Linuxbrew (benchmark dependency) outdated"
This was on DL AMI 27 Ubuntu 18 on a c4.4xlarge.

NB: This may be a problem for a different team within AWS. Details follow.

Warning emitted while running `benchmarks/install-dependencies.sh`:
[code]

Linuxbrew has not been updated in 13months, and backward compatibility of future version Homebrew is not certain. Ref: https://github.com/Linuxbrew/brew

Best move would be to upgrade to Homebrew/br

[2020-03-13 03:01] #23 closed, assigned to nobody

[2020-03-13 21:16] fbbradheintz opened #99 "Benchmarking run: Errors and results"
Last night, I ran all the benchmarks on CPU and GPU. Some gave valid results, some did not. Please note that this run was for testing/debugging, not for actual profiling. (Too many bugs were encountered.)

Currently, latency, throughput, ping, and concurrent_inference tests are giving valid results; multiple_models, load, and repeated_scale_calls are buried in errors.

I'll be rerunning longer, mo

[2020-03-17 16:32] mycpuorg opened #101 "CUDA 10.1 raises installation issues"
From my discussion with Harsh here's our observation related to CUDA 10.1:
-----------------------------------------------------
Increasing the netty readtimeout to 120 second in UT resolves the issues, however it slows down the build process a bit.
On P3.8xlarge it takes 5m + time for installation.
On my local MacBook it takes around ~(3 mins 20 sec) as compared to ~(1 min 50 sec) without this ch

[2020-03-18 04:11] harshbafna opened #104 "Default object detection handler works only on cuda:0 device in GPU machine"
Executing pre-trained FasterRCNN/MaskRCNN object detection modes using default object detection handler fails if GPU device other then `cuda:0` is used.

Cuda:0 and CPU devices return similar response with minor floating point differences in the BB. However executing on different GPU devices like `cuda:1`, `cuda:2` etc returns tensor/label/score for a single BB.

We created following ticket on PyT

[2020-03-18 04:23] #97 closed, assigned to harshbafna

[2020-03-18 04:24] #36 closed, assigned to harshbafna

[2020-03-18 04:36] #101 closed, assigned to harshbafna

[2020-03-18 05:17] #30 closed, assigned to harshbafna

[2020-03-18 05:39] harshbafna opened #105 "Waveglow example does not work on multiple GPUs."
Machine : p3.8xlarge

AMI : DLAMI 27.0

When we start `torchserve` with wavaglow model as init model, by default 4 workers are registered, one on each GPU

[code]

On running multiple inference on waveglow model, 75% of requests fail with following exceptions for 3 out of 4 requests.:

[code]

The inference succeeds only for worker running on cuda:0.

Need to fix the [custom handler](https://githu

[2020-03-18 23:51] #90 closed, assigned to fbbradheintz

[2020-03-19 04:01] #93 closed, assigned to harshbafna

[2020-03-20 19:18] alexwong opened #112 "test_integration_model_archiver fails"
Not sure if this happens locally for anyone, but building the CI project and getting this error.

------------------

model_archiver/tests/integ_tests/test_integration_model_archiver.py:38: AssertionError
--
970 | ----------------------------- Captured stderr call -----------------------------
971 | usage: torch-model-archiver [-h] --model-name MODEL_NAME --serialized-file
972 | SERIALIZED_FILE [-

[2020-03-22 04:35] #112 closed, assigned to harshbafna

[2020-03-23 17:19] mycpuorg opened #115 "Archive snapshotted config files periodically"
For context please refer:

* https://github.com/pytorch/serve/issues/73
* https://github.com/pytorch/serve/pull/111

To prevent a blowup of snapshots and configuration files? Do we simply archive them periodically?
Based on the discussions during snapshot implementation, this seems like a nice thing to have:
https://github.com/pytorch/serve/pull/111#discussion_r395806506

[2020-03-23 18:13] chauhang opened #116 "Add TorchServe Kubernetes operator"
Add a TorchServe operator to make it easier for users to run inference jobs on Kubernetes clusters.

All the complexity to construct pods and services, manage jobs should be hidden from users. Users should be able define job spec instead of operate the entire stack.

[2020-03-23 19:09] alexwong opened #118 "Python linting"
Python linting fails (which I have as a command in the CI buildspec file). Do we want python linting using pylint, or something else, or just remove it entirely?

[Container] 2020/03/23 19:00:23 Running command pylint -rn --rcfile=./ts/tests/pylintrc ts/.
--
6853 | Using config file /codebuild/output/src833252683/src/github.com/pytorch/serve/ts/tests/pylintrc
6854 | ************* Module ts.protoco

[2020-03-23 21:20] fbbradheintz opened #119 "Config snapshot robustness"
Preserving server config with config file snapshots (issue #73) will have a few issues at launch:

1) It won't support batch size configuration (see issue #64), as this is not yet supported in config files. This is part of server configuration that should be preserved.
2) It may not do well with the case where model stores and/or config file folders are shared with other instances.
3) There's curr

[2020-03-23 21:30] fbbradheintz opened #120 "Do snapshot configs need a separate folder?"
From @harshbafna's comment on #111: "The thought was that, unless required for restoring to an old state, all snapshots are essentially logs dumps of current state of the server."

That's a good thought. In that same discussion, the idea of making a separate folder for config snapshots, in the same manner we have special folders for logs and model archives, was suggested.

This is a question that

[2020-03-24 00:56] fbbradheintz opened #123 "Can't install snapshot branch"
I can't install the branch `snapshot`. When I attempt to do a clean install on a CPU instance (c4.2xlarge, DL AMI 27, Ubuntu 18), I get a test failure. Here's as much log as I was able to capture:

[code]

[2020-03-24 17:53] fbbradheintz opened #124 "Snapshot branch: Starting model server fails"
Now that the model server installs, it's failing to start. This command:

[code]

...gets this result:

[code]

Attempting to work around by adding `-v` or  `--version` responds with the usage info and a different error message:

[code]

I'm going to see if I can code around this so I can actually test.

[2020-03-26 02:17] mycpuorg opened #125 "Separation of Snapshot's data members"
Currently a Snapshot looks like the following in its simplest form.
However, we need to separate the key-value pairs in a given snapshot into
+ Server Specific. Ex: `inference_address`
+ Machine/Env Specific. Ex: `num_workers`, `model_store`, ` number_of_gpu` etc

This will make the snapshot files portable, without this taking a snapshot on one machine/env and trying to restart on another machine/

[2020-03-26 17:52] eslesar-aws opened #127 "Doc review: main README.md, server.md, install.md, inference_api.md"
I am reviewing docs per request. I will start with these four files, and submit a PR to submit proposed changes.

[2020-03-28 17:22] mycpuorg opened #130 "Avoid redundant copies of Model members"
[Snapshot Feature](https://github.com/pytorch/serve/pull/111/files/a2a8d17552664161a31b7fa2a54abc9607215039#) introduces a new class in the following file.
`frontend/server/src/main/java/org/pytorch/serve/snapshot/ModelInfo.java`

It is unclear how this is different from `class Model`, it seems redundant? If it's redundant, we should remove it. If it's not redundant, then why are moving `class Mod

[2020-03-28 17:28] mycpuorg opened #131 "Benchmark the server with snapshots in the tests"
The more I look at the requirement and proposal for implementation https://github.com/pytorch/serve/pull/111 for the `snapshot` feature the more it appears that the impact on the performance with this code change could be significant.
We must run benchmark the server with the `snapshot` PR to get a better idea of what we are spending.

[2020-03-28 17:30] mycpuorg opened #132 "Implement a global flag to toggle snapshot feature"
Should be able to turn the `snapshot` feature off and on. In my opinion, unless #131 shows clear data that the server is not impacted it might be worth turning the feature off by default.

[2020-03-30 18:53] mycpuorg opened #138 "make sanity script robust"
The CI workflow depends on torchserve_sanity script
to catch all issues in CI env. We add more
instance types and runtime env to CI so we must add
more reliability to it. It's a simple bash script that
does the job for now, but it is a *simple* bash script
without any safeguards to handle exceptions etc.

[2020-03-31 22:54] eslesar-aws opened #147 "Eslesar docs review part 2"
Part 2 of the review will cover the following md files:

configuration
custom_service
management_api
server

[2020-04-02 02:20] fbbradheintz opened #153 "Resnet-152 example handles GPUs incorrectly"
In the `staged_release` branch, the custom model handler for batch-mode ResNet-152 `resnet152_handler.py` checks for GPU and grabs the default GPU device if one is available. This may fail on multi-GPU devices, because it is not taking in a device number from its initialization context.

[2020-04-02 02:31] fbbradheintz opened #154 "Spurious NUM_WORKERS entry in snapshots"
Repro: Start TorchServe, register models, and scale up with 3 separate commands:

[code]

There are (correctly) three config files emitted - one for startup, and one after each Management API call. *All three* have a confusing entry:

[code]

It appears (from looking at the source code) that the `NUM_WORKERS` entry is actually the *default* number of workers per model (when the model is specified

[2020-04-02 02:36] fbbradheintz opened #155 "Worker threads crash on shutdown"
Repro:
* Started TorchServe with no models
* Registered a model from the Model Store
* Scaled up to 4 workers
* Tested image classification inference
* Scaled up to 8 workers
* Stopped TorchServe

Error output from log:

[code]

[2020-04-02 17:05] #138 closed, assigned to nobody

[2020-04-02 21:23] chauhang opened #156 "Need proper mechanism for restarts from last known snapshot for production deployment"
For production deployment one has to specify the inference_address setting for things to work, and it requires using config file to launch. I started TS with
torchserve --start --ts-config ./config.properties
Added few models
Stopped TS
restarted using above command and it did not load the snapshoted states.

For production use case if one has to identify the correct snapshot config file to restar

[2020-04-02 23:29] mycpuorg opened #157 "Verify GPU specific failures are caught with CI"
This request came up during my chat with @chauhang Currently CI sanity tests only for CPU and GPU installation. Verify GPU specific failures are caught with CI.
Since TorchServe relies on PyTorch's ability to detect GPU to run models on them any good ideas are welcome.

@fbbradheintz @harshbafna ideas are welcome.

[2020-04-03 15:09] mycpuorg opened #158 "refactor UT for better reporting"
Currently, our UT tool generates report of each run we can actually use that infra. For ex: we run this umbrella test for snapshot which has a single function called "test()" which in turn calls all the individual tests from that function.
Instead, if we split these tests into their independent logical tests (which we already have in place). The report would look different. Today we have this repo

[2020-04-03 17:47] chauhang opened #160 "Delete model does not delete .mar file in model store"
On deleting a model via the API, the .mar file for it is not removed in the model store folder. As a result if one tries to register the same model again, it fails with an error that file already exists.

[2020-04-06 16:55] eslesar-aws opened #165 "ESlesar Doc review #3"
Final doc review of the following files:

batch_inference_with_ts
code_coverage
default_handlers
logging
metrics
rest_api

[2020-04-06 23:45] #87 closed, assigned to fbbradheintz

[2020-04-07 16:51] fbbradheintz opened #170 "Inference call with bogus version gives 500 instead of 404"
If I put up version 1.0 of a model called `r18`, the following happens:

* If I call `curl -X POST http://localhost:8080/predictions/r18/1.0 -T kitten.jpg`, I get a 200 and an inference result. (This is correct.)
* If I call `curl -X POST http://localhost:8080/predictions/r18/1.2 -T kitten.jpg`, I get a 404 - the model can't be found. (This is correct.)
* If I call `curl -X POST http://localhost:8

[2020-04-09 17:44] #124 closed, assigned to nobody

[2020-04-09 17:44] #123 closed, assigned to harshbafna

[2020-04-09 17:45] #73 closed, assigned to harshbafna

[2020-04-09 17:46] #86 closed, assigned to harshbafna

[2020-04-09 17:46] #43 closed, assigned to harshbafna

[2020-04-09 17:47] #95 closed, assigned to mjpsl

[2020-04-09 17:48] #34 closed, assigned to harshbafna

[2020-04-10 01:21] chauhang opened #178 "Optimized dockerfiles using docker best practices"
Reduce the size of the docker containers, use multi-stage builds and other recommended [best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/) from Docker for optimized dockerfiles

- [ ] Multi-stage builds
- [ ] Use Docker build-kit
- [ ] Use optimized base image for production deployments (eg alpine linux or docker python base image)
- [ ] Scan image for secur

[2020-04-10 03:06] chauhang opened #179 "Change serving-sdk namespace to pytorch.org"
The serving-sdk is still under software.amazon.ai.mms namespace. Change to org.pytorch.serve namespace

[2020-04-10 03:09] mycpuorg opened #180 "Remove multiple copies of Dockerfiles"
Currently, CI Dockerfiles are different from the ones under `docker/` directory. We should have a single copy of these files.

[2020-04-10 05:43] chauhang opened #181 "Fix subheading for torchscript mode model serving in examples readme"
The second bullet in the [Examples readme](https://github.com/pytorch/serve/blob/master/examples/README.md) should match the actual title of the example corresponding to "Torchscript mode model"

[2020-04-10 19:21] fbbradheintz opened #183 "Multiple model archives broken in Model Zoo"
The version of `my_text_classifier.mar` downloadable from the [Model Zoo](https://github.com/pytorch/serve/blob/master/docs/model_zoo.md) crashes on inference. The important line from the logs:

[code]

Please put up a copy of the text classifier without the hard-coded file, or cut it from the Model Zoo links.

[2020-04-10 19:43] fbbradheintz opened #184 "Doc bug: Broken links in Image Classifier Examples"
In https://github.com/pytorch/serve/tree/master/examples/image_classifier, the five links for the `image_classifier` example subfolders ("Image Classification with AlexNet", &c) all give a 404. These should be updated to corrected **relative** links prior to launch.

[2020-04-10 21:21] fbbradheintz opened #186 "Waveglow example throws exceptions on CPU"
It may be that Nvidia's code assumes a GPU, so it's fine if the model doesn't work on CPU, but there should at least be an informative log message instead of the current exception.

Not urgent for initial release.

[2020-04-12 00:02] chauhang opened #189 "Remove reference to Waveglow example from examples readme"
The Examples Readme still has reference to Waveglow, which has been removed from master. Please remove the reference as well for now.

Reference for Waveglow will be added back in future when the example is fully functional.

[2020-04-12 20:05] chauhang opened #191 "Add steps for how to run gpu docker container"
Please add the steps for running GPU docker container in the docker readme. Steps should describe how to specify the gpus to be used on a multi-gpu machine

eg

`docker run --rm -it --gpus device=0 -p 8080:8080 -p 8081:8081  torchserve:v0.1-gpu-latest`

where device=0,1,2,3 selects GPUs indexed by ordinals 0,1,2 and 3, respectively. torchserve will see only these GPUs. If you specify device=all, t

[2020-04-12 21:37] chauhang opened #192 "Steps for how to preserve model store state across docker container restarts"
When running torchserve in docker containers, provide steps for how to preserve state across container restarts

[2020-04-13 09:15] mycpuorg opened #193 "setup scripts for conda binaries"
conda binaries should be installable and run successfully on both CPU and GPU instances.

[2020-04-13 15:53] chauhang opened #195 "Steps for running model archive from docker"
Add the steps for how to do the model archive when using torchserve docker containers

[2020-04-13 17:45] fbbradheintz opened #196 "Attempting to set default version to nonexistent version number gives exception in log and HTTP 500"
**Repro:** Given the model archives `r18_v1.0.mar` and `r18_v1.1.mar`, which contain versions `v1.0` and `v1.1` respectively of model `r18`, bring up a TorchServe instance with no models running, and run the following commands:

[code]

Note that the `/set-default` API call specifies model version `1.1`, not `v1.1`.

Log shows the following:

[code]

And the HTTP response is:

[code]

On the other

[2020-04-14 20:26] fbbradheintz opened #200 "Snapshot not emitted after unregistering model with 0 workers"
The problem is straightforward to repro:

**Step 1:** Start TorchServe (with no past snapshot history, no config file):
[code]

Then, if you `ls -l logs/config` you see (as expected):
[code]

**Step 2:** Bring up an endpoint with 0 workers:
[code]

And the snapshot folder contains another file from the Management API call (as expected):
[code]

**Step 3:** Add another endpoint with at least one wo

[2020-04-14 23:20] fbbradheintz opened #201 "object_detector default handler does not seem to be using multiple GPUs"
The other default handlers seem to work on many GPUs without difficulty, but CloudWatch is telling me that only GPU 0 is being used by `object_detector`.

[2020-04-15 17:12] fbbradheintz opened #202 "SSL-enabled TorchServe handles http: protocol incorrectly"
If you're running a TorchServe installation with the following config:
[code]

And you attempt an `http` call - *not* `https` - such as:
[code]

There is no response, and an exception shows in the log:
[code]

**Suggested Remediation:**
* Handle this case without throwing an exception, as it is something that is likely to happen during normal operation.
* Log an informative error message, perhaps

[2020-04-15 17:51] fbbradheintz opened #203 "SSL instructions fail"
Following "Option 1" of the "[Enable SSL](https://github.com/pytorch/serve/blob/master/docs/configuration.md#enable-ssl)" section of the docs does not bring up working endpoints.

The `config.properties` file:
[code]

The failing Management API command:
[code]

Here's the result on the client side:
[code]

On the server, the following exception turns up in the log:
[code]

**Suggested Remediation:

[2020-04-16 00:00] fbbradheintz opened #204 "enable_envvars_config appears to do nothing"
AFAICT, the `enable_envvars_config` config file setting does nothing. The `LOG_LOCATION`, `METRICS_LOCATION`, and `TS_CONFIG_FILE` env vars are all picked up by TorchServe on startup. I tried this three ways in my `config.properties`:

* No `enable_envvars_config` entry
* `enable_envvars_config=true`
* `enable_envvars_config=false`

In all three trials, the env var behavior was as it should be for

[2020-04-16 02:00] fbbradheintz opened #205 "Docker install not finding GPUs"
On a p3.2xlarge, the GPU Docker install (built with the `--gpu` flag) is not finding GPU devices. From `ts_log.log` - note the "Number of GPUs" line:

[code]

When starting on a GPU machine with CUDA drivers installed, I normally see `Number of GPUs: 4`.

[2020-04-16 02:50] chauhang opened #206 "Add a system diagram"
Add a system architecture diagram in the docs that explains the inner workings of torchserve and its components - the front end clients, job processing queue, backend workers. Details should also cover the details about the interplay between the number_of_netty_threads, netty_client_threads, workers/model, job_queue_size.

[2020-04-16 23:37] #165 closed, assigned to eslesar-aws

[2020-04-17 00:58] aaronmarkham opened #207 "link issues"
## These should be relative links:

FILE: ./docs/custom_service.md
[✖] https://github.com/pytorch/serve/blob/master/ts/context.py → Status: 404
[✖] https://github.com/pytorch/serve/blob/master/model-archiver/README.md → Status: 404

FILE: ./docs/metrics.md
[✖] https://github.com/pytorch/serve/blob/master/frontend/server/src/main/resources/log4j.properties → Status: 404
[✖] https://github.com/pytor

[2020-04-17 05:39] chauhang opened #208 "On stopping torchserve number of errors get logged and program does not exit"
On stopping torchserve using `torchserve --stop` a number of errors get logged on the console and the program does not exit, one has to hit ctrl-c to kill the process. Errors are thrown on stopping even if there are no active inference requests on the server and it has been idle for few hours.

Errors:
------
[code]

[2020-04-17 12:49] #189 closed, assigned to nobody

[2020-04-17 21:35] fbbradheintz opened #213 "Possible model isolation issue"
When a model handler has an intermittent crash during initialization - that is, immediately after the model archive's scale-up call, but before any inference call - then *all* worker threads for that model get taken down and the model removed from memory - even threads that could have continued processing correctly.

Some notes:
* This does not happen during inference calls. A crash during inferen

[2020-04-17 23:26] #65 closed, assigned to harshbafna

[2020-04-19 21:25] chauhang opened #215 "Add troubleshooting steps common problems"
Add documentation for troubleshooting common problems related to model serving by TorchServe:

- [ ] List of all the 5xx and non 200 error codes , their implications and how to troubleshoot
- [ ] Model server overload scenario troubleshooting
- [ ] Model not getting loading related errors (eg is there is an error in the custom handler code and the model worker crashes on loading)
- [ ] Configurati

[2020-04-19 21:52] mycpuorg opened #216 "simplify benchmark for torchserve"
There are a ton of utilities out there that use light benchmarking tools. Ex: https://github.com/awslabs/deeplearning-benchmark

[2020-04-20 15:58] mycpuorg opened #221 "CI/CD seems to fail even for commits not including source code"
It appears that benign commits like  https://github.com/pytorch/serve/pull/217 and https://github.com/pytorch/serve/pull/212 and are failing codebuild. The source itself builds and installs fine locally, issue appears to be specific to the CI env.

Error log:
[code]

[2020-04-20 16:02] mycpuorg opened #222 "list all the package requirements in a central file"
requirements.txt would be the ideal place to list all the package requirements (including locking down the versions of the dep pkgs) This file can then be used by sanity script, CI/CD scripts and other installations alike.

[2020-04-20 17:19] #221 closed, assigned to nobody

[2020-04-20 22:45] aaronmarkham opened #232 "install issue: sentencepiece dependency fails for macOS with Python 3.8"
So i’m not able to install using python 3.8… get an issue with sentencepiece dependency - same as this here: https://github.com/google/sentencepiece/issues/386 see the other folks posting in the last several days all getting the same error

[2020-04-20 23:00] #181 closed, assigned to nobody

[2020-04-20 23:00] #184 closed, assigned to nobody

[2020-04-20 23:00] #207 closed, assigned to nobody

[2020-04-21 01:20] chauhang opened #234 "Document the docker settings for running in production mode"
Document the steps for running docker in production mode, with parameters like `--shm-size=1g --ulimit memlock=-1 --ulimit stack=32505856` that will be needed for proper functioning with production workloads

[2020-04-21 06:21] #157 closed, assigned to nobody

[2020-04-21 06:22] #32 closed, assigned to C24IO

[2020-04-21 07:04] #132 closed, assigned to harshbafna

[2020-04-21 19:29] zhangguanheng66 opened #242 "Sentencepiece in README.md"
It seems that sentencepiece is missing from the conda install command. Since examples run sentencepiece related APIs from torchtext, sentencepiece dependency is a must in this case. Right now in the conda install command, there is only a `powerai` channel but not sentencepiece library. Here is the relevant PR in torchtext https://github.com/pytorch/text/pull/733

For pip install command, sentencep

[2020-04-21 23:49] vfdev-5 opened #245 "Bad links in docs"
Hi,
Just a brief report on bad links on examples from this page : http://pytorch.org/serve/default_handlers.html

PS: Cool project ! Thanks !

[2020-04-22 02:24] jeongukjae opened #246 "Broken link in /README.md"
There is a broken link in https://github.com/pytorch/serve/blob/master/README.md#store-a-model.

[2020-04-22 05:01] Jeffwan commented on #116
This would be very similar to other serving framework case. Basically, one deployment and service are good enough to start an application. There're not lot of resources to manage in this case.

To better serve kubernetes customers, I think the concentration for next step is to make sure pytorch/serve work with most of serving inference build on top of low level frameworks. Like KFServing, Seldon-c

[2020-04-22 12:25] wassimseif opened #249 "Trying to load bert vocab would result in unpickling error"
Hey,

I was trying to serve a finetuned bert model. in the logs of torchserve I noticed that the workers are not being loaded.

The exception I got is
[code]

The vocab file I used is this [one](https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-multilingual-uncased-vocab.txt)

Also i noticed that even trying `torch.load('vocab.txt')` would throw the same error. Am i missing something w

[2020-04-22 12:34] wassimseif commented on #249
So i noticed that I'm loading a text vocab file which is not supported?

[2020-04-22 13:33] wassimseif commented on #249
Using a custom handler solved the issue but I would love to know how to get it running with the predefined handlers

[2020-04-22 15:45] chl916185 opened #250 "module = importlib.import_module(module_name)"
(pytorch_1.5) chl@chl:~/work_files/AI_project/embedded_project/serve_master$ torchserve --start --model-store model_store --models densenet161=densenet161.mar
(pytorch_1.5) chl@chl:~/work_files/AI_project/embedded_project/serve_master$ 2020-04-22 23:46:39,358 [INFO ] main org.pytorch.serve.ModelServer - Torchserve stopped.
2020-04-22 23:46:39,583 [INFO ] main org.pytorch.serve.ModelServer -
TS Hom

[2020-04-22 18:24] aaronmarkham commented on #206
Background/proposal info with some of this info (surely needs updating, but better than nothing):
* https://github.com/pytorch/pytorch/issues/27610
* https://torchserve-docs.s3-us-west-2.amazonaws.com/docs/torchserve_architecture_v0.pdf

[2020-04-22 21:35] jeffreyksmithjr opened #252 "Grammatical Issues in the Docs"
There are several docs pages with various grammatical errors. Some are trivial, but some prevent easy comprehension of the material.

# Examples
https://github.com/pytorch/serve/blob/1f16a7e5989e046f0e5ce5a9f4c73182f63c4573/docs/server.md
* PyTorch is not consistently camel-cased
* "focus" where "focuses" should be used
* Shows up on pytorch.org as "Running the TorchServe" not "Running TorchServe"

[2020-04-22 21:39] brianjo commented on #252
Thanks for the detailed information Jeff. We'll do an edit pass and fix it up.

[2020-04-22 21:43] jspisak commented on #252
@aaronmarkham - can you look at this?

[2020-04-23 14:31] harshbafna commented on #153
Reopening the ticket as the custom handler still does not loads the model on GPU. Even though the device is properly initialized with the gpu id, the model will always be loaded in the default device i.e., CPU. Will put a PR with the fix.

[2020-04-23 15:55] adityabindal opened #257 "Create Model Zoo with examples"
Add and fix model zoo (removed in https://github.com/pytorch/serve/pull/187)

[2020-04-23 15:56] adityabindal commented on #60
Reopening and adding v0.11 milestone

[2020-04-23 15:57] adityabindal commented on #22
Duplicate of #179

[2020-04-23 15:57] #22 closed

[2020-04-23 16:04] lokeshgupta1975 commented on #250
@chl916185 Issue acknowledged. Someone will take a look at it today. Just to confirm, did you just use this command to get this error:
`torchserve --start --model-store model_store --models densenet161=densenet161.mar`

[2020-04-23 16:11] lokeshgupta1975 commented on #249
@wassimseif custom handlers are not present for all types of models. If you look at https://github.com/pytorch/serve/tree/master/examples, you will find some examples. Over time, we will keep increasing the number of default handlers. Here is the current list of supported default handlers:
https://pytorch.org/serve/default_handlers.html

[2020-04-23 18:06] aaronmarkham commented on #252
A lot of these things were already fixed but merged into a staging branch.
https://github.com/pytorch/serve/pull/177
https://github.com/pytorch/serve/pull/176
https://github.com/pytorch/serve/pull/175
https://github.com/pytorch/serve/pull/174
https://github.com/pytorch/serve/pull/173

Stay tuned... Eric will create a new PR to bring back all of those edits that didn't make it in (a hold was put on

[2020-04-23 19:03] dhanainme commented on #250
Also can you confirm if you have created a folder **model_store** & you have densenet161.mar inside the folder as described https://aws.amazon.com/blogs/aws/announcing-torchserve-an-open-source-model-server-for-pytorch/

[2020-04-23 20:32] adityabindal opened #259 "Add Acknowledgement in Readme"
Currently the TorchServe readme is missing an acknowledgements section to callout other OSS projects that were inputs/inspirations for TorchServe. Add an acknowledgment section at the end and callout Multi-Model Server. Something like:

"TorchServe acknowledges the [Multi Model Server (MMS)](https://github.com/awslabs/multi-model-server) project from which it was derived”

[2020-04-23 20:50] dhanainme commented on #250
This may have been fixed with https://github.com/pytorch/serve/pull/248.

[2020-04-23 23:43] #246 closed

[2020-04-23 23:59] #252 closed

[2020-04-24 04:58] mqway opened #263 "Is there any plan to provide RPC style API for inference?"
as we know, there are many High-throughput inference job usually. So  Is there any plan to provide RPC API for batch inference scenario?

[2020-04-24 16:16] C24IO opened #266 "TorchServe build fails sometimes inside of Docker build"
Hit the following error sometimes when building Docker containers for TorchServe.

`BUILD FAILED in 3m 22s
  26 actionable tasks: 23 executed, 3 up-to-date
  Traceback (most recent call last):
    File "<string>", line 1, in <module>
    File "/tmp/pip-req-build-z505ad23/setup.py", line 160, in <module>
      license='Apache License Version 2.0'
    File "/usr/local/lib/python3.6/dist-packages/set

[2020-04-24 16:23] jeffreyksmithjr commented on #252
Great to see that these were already identified. The doc review looks to have been much broader and deeper than I was able to go. Glad that we were able to recover that work and get it in. Looks better.

[2020-04-24 17:30] mycpuorg opened #267 "Create Custom Handler Example for BERT Model"
BERT Models are not part of TorchServe's [default handlers ](http://pytorch.org/serve/default_handlers.html) Given their popularity, it is worth while to add custom handlers showing the usage under examples.

[2020-04-24 19:23] dhanainme commented on #263
The documentation related to for batch inference can be found at
https://github.com/pytorch/serve/blob/master/docs/batch_inference_with_ts.md

[2020-04-24 19:25] lokeshgupta1975 commented on #130
@mycpuorg Can you define the next action on this in the context of #152 and see if this issue can be closed?

[2020-04-24 19:27] dhanainme commented on #266
Can you provide some additional details about the steps that you had to perform to run in to this error.

Have you been trying the docker files in https://github.com/pytorch/serve/tree/master/docker ?

[2020-04-24 22:16] fbbradheintz commented on #155
I flagged this for the patch release, because it would be nice to get those errors out of the log. As I said in the relevant PR, though, I'm very reluctant to just silence the exceptions without a clear understanding of why the exceptions come up in the first place, and whether they have any effect on the system.

[2020-04-24 22:30] fbbradheintz opened #268 "Remove home folder paths from README.md"
Two distinct issues here:

Before #248, there were `~` on some of the paths in quick start commands, but not on at least one other. #248 updated the file to be consistent, with `~`.

The problem is that this is wrong. We don't want to prescribe doing this in anyone's home folder. The `~` path specifiers should be removed.

[2020-04-24 22:34] fbbradheintz commented on #250
#248 does not fix this (and in fact was incorrect). The problem appears to be the Python path or environment - certain imports are failing, e.g:
[code]
and
[code]

[2020-04-24 22:37] fbbradheintz commented on #249
If we're going to treat this as a bug (and not a limitation of the built-in handler), we'll need to figure a way to detect whether we're dealing with a parameter file serialized with `torch.save()`, or a text file - and it needs to *not* be checking the file extension.

[2020-04-24 22:38] fbbradheintz commented on #245
Thank you!

[2020-04-24 22:40] fbbradheintz commented on #206
I have some system diagrams coming, one of which may fill the need here. Will report back once i have them.

[2020-04-24 22:42] fbbradheintz commented on #203
Self-assigned for testing

[2020-04-24 22:44] fbbradheintz commented on #201
Covered by @harshbafna in #265, requested changes pending.

[2020-04-24 22:47] fbbradheintz commented on #186
Self-assigned for testing against pending PR

[2020-04-24 22:48] fbbradheintz commented on #183
Can @mycpuorg or someone comment on the current state of this?

[2020-04-24 22:50] fbbradheintz commented on #156
There is a deeper issue we should discuss here, which is the lack of feature parity among the *four* methods of configuring TorchServe - command line, config file, env var, and Management API.

[2020-04-24 22:51] fbbradheintz commented on #156
Self-assigned to check whether we can close this.

[2020-04-24 22:53] #120 closed

[2020-04-24 23:15] wassimseif commented on #249
Is there a way to save the vocab of a tokenizer as **not**  as text file ?

I'm using the transformers library & it seems that it only saves the vocab as a regular text file

<img width="1131" alt="Screen Shot 2020-04-25 at 1 13 30 AM" src="https://user-images.githubusercontent.com/7282773/80263855-43427f00-8692-11ea-8624-7927fd29a72d.png">

[2020-04-25 10:05] laohur opened #269 "java.lang.ClassNotFoundException: org.pytorch.serve.ModelServer"
Environment: ubuntu18/20, conda, fresh, gpu,
setup:

- anaconda3
- sudo apt-get install openjdk-11-jdk
- conda create --name torchserve torchserve torch-model-archiver pytorch torchtext torchvision cudatoolkit=10.1 -c pytorch -c powerai
- source activate torchserve
- git clone https://github.com/pytorch/serve && cd serve && pip install -e .
- cd serve/model-archiver && pip install -e .
- pip insta

[2020-04-25 11:06] harshbafna commented on #269
@laohur :

Could you please provide detailed steps of what you tried. From the currently provided details below are my observations and recommendations :

1)
[code]

This command should create a new conda environment named `torchserve` with all the above mentioned packages installed. Did you switch to the new environment before starting `TorchServe`.  I am not able to make out whether your switche

[2020-04-25 14:26] laohur commented on #269
cmds all above, install jdk11 from apt

[2020-04-25 16:48] harshbafna commented on #269
@laohur I am a bit confused here, why are you again installing from source after switching to the torchserve conda environment? The `conda create` command above will create a new conda environment with `torchserve` and `torch-model-archiver` packages  pre-installed. You don't need to run `pip install` commands.

Also the following error is only observed when trying to build from source and the bui

[2020-04-25 21:23] MFreidank commented on #267
Hi, I just created a medium post showcasing a simple custom handler for huggingface/transformers BERT:
https://medium.com/@freidankm_39840/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18

Thought I'd share it for reference, happy to help formalize it out for your documentation if you think that would be useful.

[2020-04-25 21:25] MFreidank commented on #249
@wassimself For transformers models, you will need to provide custom handler code, the default `text_handler` does not support `transformers` models as of now.
For more details on how this would work, see:
https://medium.com/@freidankm_39840/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18

Let me know if anything is still unclear.

[2020-04-25 21:27] MFreidank commented on #85
I put together a blog post to showcase how to write custom handler code for a simple huggingface BERT sentence classifier:
https://medium.com/@freidankm_39840/deploy-huggingface-s-bert-to-production-with-pytorch-serve-27b068026d18

Let me know if I can be of any help in putting together an example or some documentation around this topic.

[2020-04-25 22:19] mycpuorg commented on #267
Thank you! I think pushing this will be very helpful. We can bring this in under examples section.

[2020-04-26 01:11] laohur commented on #269
emm, your are right. Then how to clean it ,and why does  install twice wrong?

[2020-04-26 04:04] tobegit3hub opened #270 "Should not copy the code from awslabs/multi-model-server"
Currently most of the code of this project are copied from [awslabs/multi-model-server](https://github.com/awslabs/multi-model-server). Just refer to the source of InferenceRequestHandler.java in [serve](http://t.cn/A6wsMOOY) / [multi-model-server](http://t.cn/A6wsMOO8) and model_service_worker.py in [serve](http://t.cn/A6wsXAN6) / [multi-model-server](http://t.cn/A6wsXANi) etc.

This project shou

[2020-04-26 13:48] MFreidank commented on #267
@mycpuorg Great, if I can help put it together - happy to. Just was not sure what dataset to use for the training script (spam dataset as the standard text classifier?) and whether you would want one example to show general usage or multiple ones per use-case (`huggingface/transformers` has examples for NER, sentence classification, Q&A etc).

[2020-04-26 20:46] #156 closed

[2020-04-26 20:49] fbbradheintz commented on #61
Circling back to this: It's not clear to me what the problem is with users creating their own .mar files. The model archiver is part of the package, and the instructions are clear.

[2020-04-26 20:49] #61 closed

[2020-04-26 22:20] fbbradheintz commented on #203
Verified - closing.

[2020-04-26 22:20] #203 closed

[2020-04-26 22:30] fbbradheintz commented on #202
This is still an issue.

A better solution would have the server not throwing an exception, but spotting the issue and sending a 301 redirect to the client.

[2020-04-27 04:45] okgrammer commented on #71
Hi @fbbradheintz, I am interested in deploying my Fairseq models with TorchServe. Would it be possible to share some examples or pointers that you used above? I noticed that in the MNIST example, custom model file is given but it is only a single file. What should be the correct way to do it when we have multiple files for the model definition like in Fairseq?

[2020-04-27 05:02] harshbafna commented on #71
@okgrammer, you can supply all the other dependency files using --extra-files param as a comma separated list while creating the model-archive.

You can refer the [image_segmenter](https://github.com/pytorch/serve/tree/master/examples/image_segmenter) example, where it supplies multiple `.py` files using `--extra-files` parameter while creating the model-archive.

[2020-04-27 06:11] laohur opened #272 "not found models"
ENV： ubuntu18, cuda10.2
modify Dockerfile from Dockerfile.gpu

RUN pip install torch-model-archiver
RUN mkdir /workspace
WORKDIR /workspace
COPY  config.properties /workspace
ENV TEMP=/workspace/tmp

and mount volumes as model-store
" torchserve --start --ts-config config.properties" or "torchserve --start --model-store model-store --models model-store/densenet161.mar"
can not load or register "de

[2020-04-27 06:21] harshbafna commented on #272
@laohur, You only need to supply the mar name with `--models` flag for the models already present in the model-store.

E.g.
[code]

From the above logs, TorchServe is starting from old snapshot available in `<log_path>/config` direcotry, in which case the models passed through `--models` param will be ignored.

To overcome this problem you can use one of the following options :

1) Use a specific

[2020-04-27 06:25] laohur commented on #272
yes, only successed via "config.properties"
and failed via cmd which likes "torchserve --start --model-store ~/model_store --models ~/model_store/densenet161.mar"

[2020-04-27 06:26] harshbafna commented on #269
@laohur : I would recommend to create two separate environments for installing from source and installing from conda/pip repo.

Also, as per #272, I assume you were able to successfully install and start `torchserve` on a fresh environment. Could you please confirm?

[2020-04-27 06:33] harshbafna commented on #272
If no config file is supplied with --ts-config flag while starting TorchServe, last snapshot in ./logs/configs is used for startup and any models passed through `--models` flag is ignored.

The snapshot feature is by default enabled.

Refer following documentation for more details : https://github.com/pytorch/serve/blob/master/docs/snapshot.md

[2020-04-27 07:56] laohur commented on #249
what is the benchmark of torchserve for bert?

[2020-04-27 08:11] laohur commented on #272
Many thanks!
Is ther any benchmark for bert models?  how fast compairing to TensorRT... ?

[2020-04-27 08:56] harshbafna commented on #272
@laohur : We currently don't have any benchmark reports related to bert models.

[2020-04-27 09:06] laohur commented on #272
OR other models。  And how fast compairing to TensorRT... ?

[2020-04-27 17:23] adityabindal commented on #270
TorchServe was initially ported over from the open source Multi-Model Server project (we have an issue to acknowledge MMS here #259 ). But TorchServe is now an independent project that will grow within the PyTorch community based on PyTorch user needs. All new features and enhancements will be implemented natively in TorchServe, and where appropriate, we will learn from other open source projects,

[2020-04-27 17:23] #270 closed

[2020-04-27 18:28] ashnair1 commented on #269
I'm facing the same issue while installing. Following are the steps that I followed:
[code]

[2020-04-27 21:59] vgoklani commented on #249
Hey @wassimseif - how did you setup your zschrc profile? it looks amazing!

[2020-04-27 22:05] wassimseif commented on #249
Hey @vgoklani
Thanks !

Oh-My-Zsh + A LOT of configurations & long restless nights

[2020-04-28 02:47] laohur commented on #269
use docker！

[2020-04-28 04:12] harshbafna commented on #269
@ashnair1 : The `torch-model-archiver` utility has no Java component. Are you sure you observed the above error while creating the mar file and not while starting `torchserve`? Looks like you are missing some step in your logs.

[2020-04-28 04:47] ashnair1 commented on #269
@harshbafna Apologies. You're right. This is triggered when I run torchserve

[2020-04-28 04:53] harshbafna commented on #269
@ashnair1 : Could you please provide the following environment details :

 - OS
 - JDK version
 - Python version in the `torchserve` conda environment

Also, did you try to install `torchserve` from source using `pip install` command?

[2020-04-28 04:56] ashnair1 commented on #269
[code]

I did try installing from source and the same problem occurred.

[2020-04-28 05:33] harshbafna commented on #269
@ashnair1 :

I could not reproduce the issue following the same steps as yours. Following are the environment details :

[code]
Could you try this on a fresh conda envrironment and confirm?

[2020-04-28 05:53] ashnair1 commented on #269
Reinstalling in a fresh conda environment worked. I'm now able to launch torchserve. But model can't be loaded.

[code]

[2020-04-28 06:03] #272 closed

[2020-04-28 12:58] sunanlin13174 opened #276 "java.lang.ClassNotFoundException"
i used pip install serve.The environment is
python 3.7.3

[2020-04-28 13:01] #276 closed

[2020-04-28 13:19] sunanlin13174 opened #277 "java.lang.ClassNotFoundException"
i used pip install the torchserve on windows.The environment is
windows10
python 3.7.3
jdk-11.0.7
torch 1.4
torchvision 0.5
I succeeded in getting a mar file by tutorials,but an error occurs when i run this command:
torchserve --start --model-store ~/model_store --models ~/model_store/densenet161.mar

Error: Could not find or load main class org.pytorch.serve.ModelServer
Caused by: java.lang.Class

[2020-04-28 13:30] harshbafna commented on #277
@sunanlin13174 : Currently `TorchServe` is supported only on Ubuntu and MacOS and not on windows.

[2020-04-28 13:33] sunanlin13174 commented on #277
oh,thank you, i will try it on linux,Thanks to the developers for their hard work

[2020-04-28 13:34] #277 closed

[2020-04-28 18:35] fbbradheintz opened #278 "Problem installing from source"
This was tested using on AWS p3.2xlarge, p3.8xlarge, and c4.2xlarge instances using Deep Learning AMI 27 on Ubuntu 18.

Attempting to install TorchServe from source to test open PRs, I **started the new instances** described above, allowed them to **finish autoupdating,** and **rebooted.** After that, I ran the following commands:

[code]

On GPU, the `conda create...` was adjusted to:

[code]

Th

[2020-04-28 19:24] fbbradheintz commented on #278
The install proceeds correctly if I install dependencies *before* attempting to install TorchServe from source:

[code]

This will allow me to continue testing, but install instructions need to be fixed ASAP for anyone trying to install from master today.

**Possible remediations:**
* Add `conda install psutil future -y` (and/or or an appropriate command for `pip`) to the instructions to install f

[2020-04-28 20:53] alexwong opened #279 "Reregistering model returns 'Model file already exist' after unregistering"
I noticed the following behavior when doing some testing. I'm starting an instance and registering a model via S3 and then unregistering it. I then check the list of models to make sure it's empty again and trying to reregister the same model with the same S3 link but am getting 'Model file already exists".

To reproduce:

Register the model:
`
curl -X POST "http://localhost:8081/models?url=https:

[2020-04-29 00:18] chauhang commented on #279
Duplicate of #160

[2020-04-29 03:08] Damiox opened #280 "Question about Java code accessing Custom Handlers in Python"
It is not clear to me that the server is implemented in Java, but we can define custom handlers in Python. How does that communication internally works?
Does it mean we can deploy a pre-trained pytorch model that can use  https://github.com/huggingface/transformers/ to run inferences (Python), and working around the GIL? How is this project handling the threads for CUDA? Is it loading the model mu

[2020-04-29 03:11] dhaniram-kshirsagar commented on #280
@Damiox Please refer #267 and related PR and let us know if you still have questions.

[2020-04-29 04:24] tobegit3hub commented on #270
Thanks @adityabindal . But we still hope the common code of `MMS` and `pytorch/serve` could be reusable meanwhile these code are copying under different licenses.

[2020-04-29 06:58] Guillem96 opened #281 "Object Detection worker dies"
I am deploying a FasterRCNN model with 2 workers, and when I POST an image to the inference API as follows:

```curl -X POST http://localhost:8080/predictions/faster-rcnn -T image.png```

The server responds with this error:

[code]

I first thought that this issue was related to memory usage, but I am increasing the Java VM memory by setting this options to the ts config file: `vmargs=-Xmx12g` an

[2020-04-29 07:01] harshbafna commented on #281
@Guillem96 : Could you please share the following environment details :

 - OS
 - Python version
 - PyTorch and TorchVision version
 - JDK version

Please also attach the ts_log.log file from the logs directory.

[2020-04-29 08:08] harshbafna commented on #281
@Guillem96 : Thanks for the update, I will validate this on the docker image shared. I assume, you registered the model through some public URL. Could you please share the model url and the commands you used for registration and inference.

[2020-04-29 08:09] Guillem96 commented on #281
It is my own model, It is working perfectly with a si gle worker, but when increasing the workers to 2, then the error raises

[2020-04-29 08:14] harshbafna commented on #281
@Guillem96 : Could you please provide the model and the command used for creating the model-archive?

[2020-04-29 08:52] Guillem96 commented on #281
@harshbafna

 *Upload as txt because GitHub is not allowing .py*

Model handler: [handler.txt](https://github.com/pytorch/serve/files/4550596/handler.txt)
Model file: [model.txt](https://github.com/pytorch/serve/files/4550595/model.txt)

Model archive command:

[code]

TS config file:

[code]

[2020-04-29 12:32] Damiox commented on #280
@dhaniram-kshirsagar thanks for the feedback, and that's a nice article! I saw it yesterday after submitting this question 😓
Could you please point me out or explain me briefly how is that the server is in Java and the code is in Python? How do they interact each other? Is that through the .mar files?
My schema is a bit complex. I need to pre-process the data, run the model, use the past layers th

[2020-04-29 13:34] MFreidank commented on #280
Hi @Damiox , thanks for your nice words on my article :)
Full disclaimer - I am not part of the `pytorch/serve` team, so my answer might not be as detailed as you wish.

Yes, the java code and python code roughly interact through the `.mar` file.
Custom handlers get bundled into the MAR (model archive) when you run the `torch-model-archiver` command and are registered for the corresponding model n

[2020-04-29 13:55] dhaniram-kshirsagar commented on #280
You got it right!

@Damiox As indicated in PR#271 or [custom_handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md), you just have to write a handler with pre, inference, and post-processing steps. This way, you don't have to worry about any threading aspects.
You can register your model with n-number of workers [=numbers of python processes in the backend]. When you are inf

[2020-04-29 13:59] Damiox commented on #280
If we add N workers on GPU, it means we need to load the model N times in the GPU?

[2020-04-29 14:05] uzaymacar opened #284 "Read .mar archive file into a readable format"
Is there a way I can read the `.mar` archive file as a dictionary, JSON, etc.? Any resources or suggestions will be helpful!

[2020-04-29 14:08] dhaniram-kshirsagar commented on #284
Why do you want to read mar file? In general, it is zip archive.

[2020-04-29 14:11] dhaniram-kshirsagar commented on #280
You just have to tell it how many workers and it will automatically use available GPUs.

[2020-04-29 15:01] harshbafna commented on #281
@Guillem96 : I modified the you load function in the model.py as follows as I didn't had the checkpoint file you used while creating the mar file :

[code]

And saved the checkpoint as follows :

[code]

With the above changes, I created the mar file and was successfully able to register it on TorchServe with 4 workers and run multiple inferences on the same.

Environment :
Ubuntu 18.04 with docke

[2020-04-29 15:03] Damiox commented on #280
Thanks for the feedback.
I think I read based on the docs that it's 1 worker per GPU, is that right?
Does that mean my pipeline will be mono-thread if I have one GPU? I'd like to confirm that...

[2020-04-29 15:47] Guillem96 commented on #281
@harshbafna I attach my checkpoint.

https://drive.google.com/file/d/1Eil_1-BlJRmOa8q1XRkV6NR7rF_1hy83/view?usp=sharing

[2020-04-29 16:18] dhaniram-kshirsagar commented on #280
Yes, its worker/GPU. e.g. If you register 4 workers and 1 GPU then all of them will be pointing to same gpu. You can find more details here '[setting gpu limit'](https://github.com/pytorch/serve/blob/master/docs/configuration.md#limit-gpu-usage).

[2020-04-29 16:20] harshbafna commented on #281
@Guillem96 : The model works just with the provided checkpoint as well.

I am able to run prediction on the model as well. Following metrics is also getting logged:

[code]

[2020-04-29 16:23] Damiox commented on #280
Alright. Thanks for the feedback guys! Amazing how fast you answer my questions. Feel free to close the ticket if you consider so.

[2020-04-29 16:23] dhanainme commented on #57
NOTE : This commit is only an end - end wiring of Pytorch Installation / Code Build Containers in ECR / New Man Reporting to S3. The Actual tests should get added to the place holder JSON files that have been created.

Attaching NewMan HTML Reports which are uploaded to S3.

<img width="989" alt="Screen Shot 2020-04-29 at 9 20 13 AM" src="https://user-images.githubusercontent.com/60679183/80620381

[2020-04-29 16:23] Guillem96 commented on #281
Have you tried to run predicions in paralel?

[2020-04-29 16:27] #280 closed

[2020-04-29 16:28] harshbafna commented on #281
I am running on ubuntu 18:04, c4.4xlarge EC2 instance with the docker image : [pytorch/torchserve:0.1-cpu](https://hub.docker.com/layers/pytorch/torchserve/0.1-cpu/images/sha256-ef95375236b55e3d0e90b3da71ebe7d32d5d7f3b33c34aa70cedf1936ad1cead?context=explore)

[2020-04-29 16:32] uzaymacar commented on #284
Thank you, this was helpful. When unzipped, I saw that the only file I didn't specify in the `torch-model-archiver` command was the self-generated `MAR-INF/MANIFEST.json` file. We have a `.mar` the file that is working on one setup and not working on another setup so we wanted to see what might be causing this issue.

[2020-04-29 16:32] #284 closed

[2020-04-29 16:44] Guillem96 commented on #281
It Is not trained with coco I am using a custom dataset. Maybe the issue is related to Windows an Docker for windows.

I will try to run the code on a GCP compute engine with ubuntu and see what happens

[2020-04-29 19:07] fbbradheintz commented on #60
As noted in a comment on #258, there is one other item: At the team status meeting today, it was raised that this is not really a complete example, as it stashes the output in a file in /tmp - which does the requester no good if they're on another machine. To make the example truly valuable, it should package the file for download with the HTTP response.

[2020-04-29 21:09] aaronmarkham commented on #268
It was made to be consistent because if you want people to be able to copy and paste the commands to start up the server you need to specify the model store location. This needs to be somewhere. Rather than spend a bunch of instruction on this the home folder is used by default since it is arguably easier to test out.

Unless some location for the model store is defined and used throughout, I woul

[2020-04-30 00:18] eslesar-aws commented on #245
This was fixed in source, awaiting a publish refresh on the PyTorch docs site:

https://github.com/pytorch/serve/commit/580c0532fa13954258d314fd9312ceec8cb36084

[2020-04-30 00:20] #245 closed

[2020-04-30 03:31] dhaniram-kshirsagar commented on #155
@fbbradheintz updates in #172

[2020-04-30 07:12] Guillem96 commented on #281
@harshbafna Works when running the docker image on a Ubuntu. The issue must be related with Docker for windows and how it manage the memory.

Thanks for helping.

[2020-04-30 07:12] #281 closed

[2020-04-30 08:38] harshbafna commented on #170
@fbbradheintz This is already fixed in master. Can we close this ticket?

[2020-04-30 13:27] harshbafna commented on #82
PR #172 fixes the exception trace logged on worker scale down / model unregistration.

[2020-04-30 16:28] aaronmarkham commented on #242
If the general instructions for Conda are updated to use the yml files and commands in #288, then this issue will be resolved.

[2020-04-30 16:58] lokeshgupta1975 commented on #179
@vdantu has created a PR #261 for this, but the PR needs more work, he is looking it.

[2020-04-30 19:04] fbbradheintz commented on #191
I just checked `docker/README.md`, and it looks like it contains the required examples for GPU usage. @aaronmarkham , I assigned to you so you can verify the content is up to standard - you can close this issue if you're satisfied.

[2020-04-30 21:17] aaronmarkham opened #289 "pip versions incorrect"
I want to pin my dependencies.
They should show up as 0.1.0, but they do not. It is currently:
* `torchserve 0.0.1b20200409`
* `torch-model-archiver 0.1.0b20200409`

https://pypi.org/project/torchserve/
https://pypi.org/project/torch-model-archiver/

[2020-04-30 21:23] aaronmarkham commented on #278
@fbbradheintz I experienced this as well. But isn't this a bug, not a docs issue? Sure, we can add some notes on how to make it work if you align the planets a certain way, but if pip hangs when you run `pip install .`... that's a bug!

[2020-04-30 21:32] fbbradheintz commented on #206
Will this do?

![AWS_pytorch_v2-01](https://user-images.githubusercontent.com/28989374/80761436-6ab0a600-8aef-11ea-937a-b52a61c38960.jpg)

[2020-04-30 21:37] fbbradheintz commented on #268
I would change every `~` to a `.` - that changes it from "do it in your home directory" to "do it in your current directory" - the different being that if a user *doesn't* want to do it in `~` (I know mine is pretty cluttered), they then have to go and change *every* `~`-containing command line that we provide them - the cut-and-paste runthrough is no longer an option. Changing to `.` works everyw

[2020-05-01 00:33] vdantu commented on #289
Good find. We should use the below command to build our release wheels.
[code]
We should probably push a 0.1.0 wheel to pypi.

[2020-05-01 00:40] vdantu commented on #266
@dhanainme : Is there any reason why we build torchserve when we are building the container?

Ideally we should be doing a `pip install torchserve==<version>` in the Dockerfile. If customers want latest torchserve, they should ideally be pulling the "prerelease" versions, which should be pushed to pypi on a nightly basis. Would like to hear more opinions about this.

[2020-05-01 01:27] dhanainme commented on #266
@vdantu , I agree with you. The Dockerfile was probably created before we had the pypi packages.

[2020-05-01 02:52] prabhuomkar opened #291 "Invalid Port while running inside a PaaS"
[HERE](https://github.com/pytorch/serve/blob/1f16a7e5989e046f0e5ce5a9f4c73182f63c4573/frontend/server/src/main/java/org/pytorch/serve/util/Connector.java#L108) there is a validation for port being less than or equal to `Short.MAX_VALUE`

**Possible Fix**:
Change the validation to `PORT <= 2*Short.MAX_VALUE + 1`  i.e. 65535 being the upper limit for PORT.

**Failure with PORT = 42523**
[code]

**Su

[2020-05-01 03:54] vdantu commented on #291
@prabhuomkar : Excellent catch.

[2020-05-01 04:20] prabhuomkar commented on #291
@vdantu any timeline when this will be fixed? I'm working on something with TorchServe and want to release soon :)

[2020-05-01 08:06] harshbafna commented on #64
Batch Inferencing is not supported by TorchServe default handlers and is only supported through custom handlers. In case we make this configurable through config.property at global level, this will get applicable for models using default handlers as well and the will break. Thus, it makes sense to keep this configurable at model level only at the time of model registration.

However, TorchServe sh

[2020-05-01 16:01] #242 closed

[2020-05-01 16:01] #278 closed

[2020-05-01 16:41] fbbradheintz commented on #278
* Removing `documentation` tag, because the doc part of this is sorted out
* Removed `launch blocker` tag, anyone following instructions won't have the problem
* Removed `v0.1.1` project, same reasons

**Kept `bug` tag & reopened** because we should still figure out the root cause of `pip` hanging when we try to install from source without `psutil` and `future` installed, but with the current stat

[2020-05-01 16:42] aaronmarkham commented on #192
Please add me for a review when these steps are created.

[2020-05-01 16:45] aaronmarkham commented on #195
Please add me to the review when these steps are created.

[2020-05-01 16:47] aaronmarkham commented on #234
Please add me to the review when the steps are fully fleshed out. "with parameters like" isn't ready for a doc update.

[2020-05-01 16:55] eslesar-aws commented on #268
Submitted https://github.com/pytorch/serve/pull/292 to address this.

[2020-05-01 16:56] aaronmarkham commented on #215
Please add me as a reviewer when this information is added in a PR.

[2020-05-01 16:56] fbbradheintz commented on #268
Reviewing now.

[2020-05-01 16:57] harshbafna commented on #278
@fbbradheintz : The issue is because `pip` downloads `.tar.gz` package for `psutil` in conda environment and builds the `whl` file locally where as installing `torchserve` from source expects `psutil` to be pre installed.

Refer to following comment in issue #7 for more detils :
https://github.com/pytorch/serve/issues/7#issuecomment-585770218

[2020-05-01 21:23] fbbradheintz commented on #205
Added `triaged_wait` tag to indicate this is waiting on my action (testing in `staged_release`).

[2020-05-01 21:34] lokeshgupta1975 commented on #278
@fbbradheintz From your previous comment, it looks like you wanted to keep this issue opened, but it is still closed. Do you want to reopen it as a bug to be followed up later?

[2020-05-02 00:02] fbbradheintz commented on #268
Reopening - still tweaks to be made

[2020-05-02 01:48] #268 closed

[2020-05-02 18:44] chauhang opened #295 "Default Handlers reference link missing in main model server doc page"
The [Default Handlers reference ](https://github.com/pytorch/serve/blob/master/docs/default_handlers.md)is missing from the main model server doc page. Please add to the link to the main model server [readme](https://github.com/pytorch/serve/blob/master/docs/README.md).

[2020-05-02 18:47] chauhang opened #296 "Snapshot reference link missing from main readme"
The [Snapshot reference](https://github.com/pytorch/serve/blob/master/docs/snapshot.md) is missing from the main model server doc page. Please add to the link to the main model server [readme](https://github.com/pytorch/serve/blob/master/docs/README.md).

[2020-05-02 20:20] chauhang opened #297 "Conda install for torchserve stopped working"
Conda install for torchserve stopped working and gives 'module not found' error. Things work fine on uninstalling torchserve from conda and using the pip install instead.

**Steps to reproduce:**

1. Install using:
`conda create --name serve torchserve torch-model-archiver psutil future pytorch sentencepiece torchtext torchvision cudatoolkit=10.1 -c pytorch -c powerai`
2. Activate conda env
`sourc

[2020-05-02 21:19] maaquib commented on #297
Looks like the issue is caused by introducing `sentencepiece`. The following works fine with conda

`conda create --name serve torchserve torch-model-archiver psutil future pytorch torchtext torchvision cudatoolkit=10.1 -c pytorch -c powerai`

[2020-05-02 23:28] fbbradheintz commented on #64
Agreed with @harshbafna that batch params should be set at the model level. The point here is consistency and parity among the multiple configuration channels.

Are we limited here by the `.properties` format?

Also, can we agreed on a definition for this feature before writing more code for it?

[2020-05-02 23:56] #297 closed

[2020-05-03 06:20] chauhang opened #300 "Metrics endpoint to probe for autoscaling"
Add metrics endpoint to TorchServe to enable load balancers and orchestrators to autoscale inference based on load. The endpoint will be used for making auto-scaling decisions by Kubernetes, Sagemaker and similar services.

Metrics to be exposed via the endpoint:
- CPU Utilization (per server)
- GPU Utilization (per server)
- Server load - number of requests / sec (per model, per server)
- Request

[2020-05-03 07:20] vdantu commented on #64
It may be a good idea to discuss the approach taken and its pros/cons. Some of my thoughts are as follows:

1. Ideally we shouldn't add model-level configuration to `config.properties`. We could look into adding these options to `MANIFEST.json` in MAR files (or) look into having a separate configuration file (analogous to `log4j.properties`) which contains all the model-specific configuration. The

[2020-05-03 20:10] lokeshgupta1975 commented on #88
@maaquib Can you please provide updates here on this one?

[2020-05-03 21:34] lokeshgupta1975 commented on #83
@C24IO Can this be closed now?

[2020-05-03 21:39] lokeshgupta1975 commented on #263
@mqway Currently we do not have any plans to provide RPC Style APIs, however as suggested by @dhanainme above, please look at the documentation for batch inference.

[2020-05-03 21:39] #263 closed

[2020-05-04 16:19] aaronmarkham commented on #289
What about conda - are the versions set correctly there? I don't think that they are.
https://anaconda.org/pytorch/torchserve

[2020-05-05 06:13] dhaniram-kshirsagar commented on #64
I like #2 above i.e. modify PUT API to support batch params.

[2020-05-05 13:27] dhaniram-kshirsagar commented on #195
@chauhang Assuming this is only for the local containers as remote containers should pull mar files from S3/other public URL. For local container, user can use either
a. `docker cp <marFile> <container_name>:<target_dir>`
OR
b. Share mar files by mapping local dir. with model-store dir.  in container e.g.
`docker run --rm -p 8080:8080 -p 8081:8081 -v /Users/user1/model-store:/home/model-server/mod

[2020-05-05 17:42] mycpuorg commented on #130
The changes look good. Please submit the PR following the template (what was tested etc). Thanks.

[2020-05-05 18:08] dhaniram-kshirsagar commented on #234
@chauhang Tried to understand how and which other similar system parameters for 'run command' could be useful. However, need more details to understand the following aspect -
- Are we looking to specify certain optimum values for these parameters for torchserve?
- I think the values of these will vary based on the use case of torchserve.
- There are other parameters like memory, swapiness, securit

[2020-05-06 13:12] monkeyDemon opened #306 "Does TorchServe support CUDA 10.0"
I want to know is TorchServer support CUDA 10.0 or whether there is Dockerfile supporting CUDA 10.0 ?
If so, how to use it in CUDA 10.0 environment ?
Some experiential guidance will be very helpful to me, thank you.

[2020-05-06 16:41] skyprince999 opened #307 "Failed to bind to address: http://127.0.0.1:8080 [Troubleshooting]"
This is wrt to the steps provided in the Readme doc. I am trying to serve the tutorial model

Please provide following details -

**Context**
torchserve version: 0.0.1b20200409
torch version: 1.5.0
torchvision version [if any]: Na
torchtext version [if any]: Na
torchaudio version [if any]: Na
java version: openjdk 11.0.6 2020-01-14
Operating System and version: Debian GNU/Linux 9.12 (stretch)

You

[2020-05-06 17:15] dhaniram-kshirsagar commented on #178
Optimization in torchserve imaage size with the base image as ubuntu 18.04 [which takes around 63MB + updates] -

1. Remove unnecessary build tools and install PyPI torch serve instead of local build
-  Size reduces from **2.81GB to 2.09GB**

2. Use two-stage build i.e. compile and runtime + torchserve from pypi [as described above]
- Size reduces from **2.09GB to 1.95GB**

Considering the fact th

[2020-05-06 17:19] dhaniram-kshirsagar commented on #306
Not sure if you have seen this https://github.com/pytorch/serve/blob/master/docker/Dockerfile.gpu

[2020-05-07 04:17] dhaniram-kshirsagar commented on #249
This will be addressed via #302.

[2020-05-07 04:38] dhaniram-kshirsagar commented on #213
@fbbradheintz Do we want to change existing behavior for registration api with initial workers to have model isolation like scap up and inference api call? Also, can you confirm comments by @vdantu .

[2020-05-07 04:39] dhaniram-kshirsagar commented on #193
This is in place hence closing.

[2020-05-07 04:39] #193 closed

[2020-05-07 04:40] dhaniram-kshirsagar commented on #131
Reports attached, closing

[2020-05-07 04:40] #131 closed

[2020-05-07 06:08] dhaniram-kshirsagar commented on #307
Better option would be to handle this exception and output a graceful message that the port is in use etc. and ask the user to refer troubleshooting guide for details if any.

[2020-05-07 08:24] skyprince999 commented on #307
@dhaniram-kshirsagar I don't think the port is in use. I have shared the output of the ss command in my message above.

Can you also share the link to the troubleshooting guide.

[2020-05-07 11:28] harshbafna commented on #306
@monkeyDemon : TorchServe works fine with CUDA 9.2 and 10.x . However, it is recommended to use the latest version supported by PyTorch.

Also as indicated by @dhaniram-kshirsagar : We have dockerfile with CUDA 10.1

[2020-05-07 11:47] harshbafna commented on #307
@skyprince999 : Are you running on Debian OS?

[2020-05-07 14:00] skyprince999 commented on #307
yes using debian. Updated the other details in the first comment.
I am running the tutorial provided in the Readme file.

[code]

[2020-05-07 14:21] harshbafna commented on #307
The port 8080 is being occupied by some proxy service or other web-server running on your machine.

[2020-05-07 17:23] skyprince999 commented on #307
Is it possible to change the port ? (in torchserve)

[2020-05-07 17:28] harshbafna commented on #307
Yes, you can set custom IP/Port for TorchServe's inference and management APIs using config.properties file.

For more details refer : https://github.com/pytorch/serve/blob/master/docs/configuration.md

[2020-05-07 17:44] dhaniram-kshirsagar commented on #266
PR #308 will address this.

[2020-05-07 20:24] chauhang opened #310 "Development install steps error"
The Development install steps for the dependencies have an extra -y flag that gives error.

**Error:**
[code]

[2020-05-07 21:04] dhanainme commented on #57
Details about the tests, how to run them & how to add more can be found at https://github.com/pytorch/serve/tree/issue_57/test

The latest test execution log can be found @ https://torchserve-regression-test.s3.amazonaws.com/torch-serve-regression-test/tmp/test_exec.log

These are scheduled to be run nightly in Code Build.

[2020-05-08 00:40] chauhang opened #312 "Install from source not working"
The install from source is not working on the staging branch, giving ClassNotFoundException

[code]

[2020-05-08 02:10] mohammedayub44 commented on #204
I'm trying to find the same. Where are the log and metrics files generated and stored when i start the server ?

[2020-05-08 02:33] mohammedayub44 commented on #250
@dhanainme  @fbbradheintz  I can confirm that I see the same error when I load a custom model inside my custom_handler.py file.
The import runs fine when I run it outside on the Jypyter notebook.

[code]

Error:

[code]

Here is the log file:
[server_log3.txt](https://github.com/pytorch/serve/files/4596700/server_log3.txt)

Not sure if I'm missing something.

Thanks !

[2020-05-08 04:27] harshbafna commented on #312
@chauhang  : Please use `pip install .` instead of `pip install -e .`

Because of -e flag pip skips out the build process which generated the frontend jar for `TorchServe`. I will put a PR with the doc fix.

[2020-05-08 04:35] chauhang commented on #312
@harshbafna Similar issue was reported 10 days back on master as well. Can you please clarify why https://github.com/pytorch/serve/issues/269 was closed?

[2020-05-08 04:38] harshbafna commented on #312
@chauhang : This got missed out there because the OP of the issue had mixed up multiple environment and tried installed from conda repo as well as from source and created a confusion. And later the user was successfully able to install from conda repo on a fresh environment.

[2020-05-08 05:04] harshbafna commented on #250
@mohammedayub44 : This is a different error from the original error as you are using a custom handler and will need the mar file you are using.

Could you please create a new ticket for this using the following template :

https://github.com/pytorch/serve/blob/staging_0_1_1/ISSUE_TEMPLATE/bug_template.md

[2020-05-08 07:53] mohammedayub44 opened #314 "Cannot import module while using custom handler"
🐛 Bug report

I'm trying to use a custom crowd counting model and while serving it gives me an error while importing custom model libraries.

Python Import code is like below:

[code]

Error:

[code]

Here is the log file:
[server_log3.txt](https://github.com/pytorch/serve/files/4596700/server_log3.txt)

**Environment Details:**

Operating System and version: Ubuntu 16.04

![image](https://user-im

[2020-05-08 07:55] mohammedayub44 commented on #250
@harshbafna Np. Raised #314
Temporarily fixed using `PYTHONPATH` instead of adding to `sys.path` before running the serve command.

[2020-05-08 08:06] harshbafna commented on #314
@mohammedayub44 All the dependency files need to be packaged inside the mar file using the `torch-model-archiver` utility. `TorchServe` extracts the mar file in a temporary location and that is already added in the path for importing the modules.

Could you share your mar file.

[2020-05-08 08:16] shivamshriwas commented on #204
@mohammedayub44  log and metrics files are generated in logs folder, located at path from where torchserve was started.
logs and metrics location can be configured by env variable, LOG_LOCATION and METRICS_LOCATION.

These can also be configured through custom log4j.properties file, please refer [logging.md](https://github.com/pytorch/serve/blob/master/docs/logging.md) for more details.

[2020-05-08 08:33] harshbafna commented on #250
@chl916185 : From the logs provided it can be observed that you are using conda environment with python 3.6.

However, as documented [here](https://github.com/pytorch/serve#install-torchserve)

Could you please confirm?

[2020-05-08 10:03] chauhang commented on #306
@monkeyDemon You should be to create own Dockerfile for 10.0 using the https://github.com/pytorch/serve/blob/master/docker/Dockerfile.gpu as a reference

[2020-05-08 10:03] #306 closed

[2020-05-08 10:08] shivamshriwas commented on #204
@fbbradheintz
when enable_envvars_config property is set true , all the properties mentioned in config.properties only can be controlled using this flag.

Note:
for setting these as env this format should be used "TS_<PROPERTY>"
eg: inference_address -> TS_INFERENCE_ADDRESS

we will be updating documentation for the same.

[2020-05-08 10:37] mohammedayub44 commented on #314
Yes correct, I'm using the modules which are outside the mar file. However the `torch-model-archiver` does not throw any errors while generating the mar file, which made me guess that everything is fine. Only while running the `torchserve`, it checks imports and throws an error.

I also tried, including all the dependency files in the same location as model.py and handler.py. That works fine witho

[2020-05-08 10:39] mohammedayub44 commented on #204
@shivamshriwas Thanks will take a look.

[2020-05-08 12:05] harshbafna commented on #232
This has been fixed with the newer version on `sentencepiece`.

[code]

Closing.

[2020-05-08 12:05] #232 closed

[2020-05-08 13:19] harshbafna commented on #314
@mohammedayub44 : `torch-model-archiver` is just a utility tool for packaging your model and does not validates you model. It is expected that the user will supply all the other dependency files using the `--extra-files` flag. You can always create an egg/zip file to upload your custom python package if the number of files are more.

[2020-05-08 13:19] #314 closed

[2020-05-08 14:01] mohammedayub44 commented on #314
Sure. Thanks for confirming 👍

[2020-05-08 15:37] kovarsky opened #316 "Wrong query parameter name in OpenApi description."
Here:
https://github.com/pytorch/serve/blob/1f16a7e5989e046f0e5ce5a9f4c73182f63c4573/frontend/server/src/main/java/org/pytorch/serve/openapi/OpenApiUtils.java#L238
Query parameter for model registration endpoint should be just `url`, not `model_url`.
Wrong parameter description leads to wrong generated API if for example [openapi-generator](https://github.com/OpenAPITools/openapi-generator) was us

[2020-05-08 15:52] kovarsky opened #317 "Wrong repeated argument flag in README.md"
In `examples/image_classifier/resnet_152_batch/README.md` `--handler` is wrongly repeated twice.

[2020-05-08 17:14] #310 closed

[2020-05-08 18:17] mycpuorg commented on #269
In my opinion, it is not clear what the root cause is.

[2020-05-08 20:05] aaronmarkham commented on #269
@mycpuorg

I recreated this issue by:
1) installing from source `pip install -e .` in env "a"
2) creating env "b" and doing `pip install torchserve`
3) run `torchserve ...` and get this error...

I fixed it by:
1) `pip uninstall torchserve`
2) `pip install torchserve` or even `pip install .` or `pip install -U .`

I recreated the error again by installing with the `-e` option. Talked to @harshbafn

[2020-05-08 20:21] chauhang opened #319 "Version number reporting for TorchServe"
At present TorchServe reports different version from different places which defeats the purpose of having a version number.

- Version number needs to be consistent across all exposed interfaces - `torchserve -v`, /OPT endpoint and any other place
- Same version should be logged in the logs at on startup
- Version number should be updated with each release
- There should be a way to tag the name o

[2020-05-09 09:02] wugoukanle commented on #203
curl -k https://0.0.0.0:8443/ping

[2020-05-10 07:31] chauhang commented on #195
@dhaniram-kshirsagar This is for creation of the .mar file. If someone is using docker for running everything they need steps for how to invoke this for a docker setup.

There can be two options:

**Option A**

Easy option is to run the docker in interactive mode with a volume mount of folder that has the model source files and the model store (destination) and then inside the docker manually run

[2020-05-10 09:51] chauhang commented on #257
@harshbafna Can you please describe:

1.  How the index_to_name.json is handled for the modelzoo models. What mappings have been bundled in the .mar files?
2. Clarify which models are Eager vs TorchScripted models
3. For the text classifier model that uses a vocabulary - please provide reference or details for it in the model zoo doc page
4. Add link of the new model_zoo.md file into the main docs

[2020-05-10 09:53] chauhang commented on #179
@vdantu Verified can be closed after merge

[2020-05-10 09:59] chauhang commented on #155
@harshbafna Please see the [comments](https://github.com/pytorch/serve/pull/172#discussion_r422620498) and verify that remove code for terminating child process does not have any other side effects of hanging child processes

[2020-05-10 10:12] chauhang commented on #205
@maaquib Please see the [comments](https://github.com/pytorch/serve/commit/e8a2c7588df422c5764c18a3e639382f2bba07fb) left in the commit and address them.

[2020-05-10 10:19] chauhang commented on #82
@harshbafna Please see [comments](https://github.com/pytorch/serve/pull/172#discussion_r422620498) in the PR and see if no other side effects are caused due to removing code for terminating the child processes.

[2020-05-10 10:33] chauhang opened #324 "Provide correct steps for torchscripted model archive creation in the examples"
The steps for creating the .mar files for torchscripted version of the models are incorrect for many examples. Please fix the steps eg for the [Resnet_152_batch](https://github.com/pytorch/serve/tree/staging_0_1_1/examples/image_classifier/resnet_152_batch) model

[2020-05-10 10:35] chauhang commented on #153
@mycpuorg Please see the related issue for [broken steps](https://github.com/pytorch/serve/issues/324) for torchscripted model .mar file creation in this example.

[2020-05-10 11:01] chauhang opened #325 "Model archive manifest file version mismatch"
The Model archive MANIFEST.json file should include correct version numbers for all components and have an additional timestamp field for the time when it was created.

Current manifest file for the vgg11.mar

[code]

[2020-05-10 16:58] harshbafna commented on #269
Possible root cause for this behavior : https://github.com/conda/conda/issues/5861

[2020-05-10 17:35] mycpuorg commented on #269
Thanks @harshbafna can you please look into PR #320 ? and comment what else is needed there?

[2020-05-11 15:21] lokeshgupta1975 commented on #325
@chauhang Can you be more specific please? Which version numbers should be corrected here?
@harshbafna Does the field "modelServerVersion" represent the version of TS, for e.g. should it be set to "0.1.0" here?

[2020-05-11 17:02] lokeshgupta1975 opened #331 "Create Developer documentation for contributing to TorchServe"
We should have a document describing the process for developers to contribute to TorchServe. This issue will be used to test the steps that I am documenting.

[2020-05-11 22:50] dhanainme commented on #57
I am looking to close this PR & do the following next steps in a separate PR to avoid the risk of blowing the size of this 1. Next steps for the Integration tests :

#### Add new tests for
* Batch Inference related tests - These can be tested only for Performance Test **[TODO : Add Issue Id ]**
* One example for every model in the model zoo **[TODO : Add Issue Id]**
* Automate the benchmark tests

[2020-05-11 23:01] mycpuorg commented on #57
FWIW, this is the sort of output (just the inference snippet copied here.)
This is a promising start, thanks @dhanainme :
[code]

[2020-05-12 01:42] chauhang commented on #57
Thanks @dhaniram-kshirsagar This is a good start

[2020-05-12 02:55] chauhang opened #334 "Install from src additional tests and cleanup"
Following changes need to be done to the CI/CD to ensure install from src does not break again, and we cleanup errors from the logs.

1. Use the install from src script in the CI/CD sanity test for install / resinstall check
1. Cleanup extra build artifacts - `torchserve.egg-info` folder and any others temp files / folders created as part of the build
1.  Fix following erorrs for the gradle tests

[2020-05-12 03:02] mycpuorg commented on #334
@vdantu any idea about specific gradle features which are deprecated?

[2020-05-12 03:07] mycpuorg commented on #334
@harshbafna Can you please use this ticket to make changes that ensure only one script is used to install from source within sanity script? That way our one source of truth is tested and used for CI/CD tests as well?

[2020-05-12 06:45] hanfeng0409 opened #335 "Trouble with curl post when file is big"
# Context
torchserve version: 0.0.1b20200409
torch version: 1.5.0
torchvision version [if any]: 0.6.0
torchtext version [if any]: 0.6.0
torchaudio version [if any]: no
java version: openjdk 11.0.5
Operating System and version:  Ubuntu 16.04.6 LTS
Environment: conda env with Python 3.7.7

Installed using source? [yes/no]: no
Are you planning deploy it using docker container? [yes/no]:  yes
Is it a

[2020-05-12 07:35] dhaniram-kshirsagar commented on #335
@hanfeng0409 Please post your bug in the following format

## Context

* torchserve version:
* torch version:
* torchvision version [if any]:
* torchtext version [if any]:
* torchaudio version [if any]:
* java version:
* Operating System and version:

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
...

## Failure Logs [if any]

## Your Environment

*

[2020-05-12 08:09] hanfeng0409 commented on #335
@dhaniram-kshirsagar ok

[2020-05-12 09:51] hanfeng0409 commented on #335
@dhaniram-kshirsagar solved this by add tsconfig file with TS_MAX_REQUEST_SIZE. Another question is that can I use python or java to complete a post requests?

[2020-05-12 10:56] dhaniram-kshirsagar commented on #307
This should be address via #215

[2020-05-12 10:56] dhaniram-kshirsagar commented on #335
This should be addressed via #215

[2020-05-12 19:45] mycpuorg opened #339 "Benchmark BERT and LSTM based models with TorchServe"
As discussed offline, this is coming from @jspisak 's request. In general, benchmarking the above models should be very useful for NLP model deployment.

[2020-05-13 01:27] hanfeng0409 commented on #335
I did not find how to post requests by python in #215.

[2020-05-13 02:13] hanfeng0409 commented on #335
solved. That key of post is different and I will close this issue.

[2020-05-13 02:14] #335 closed

[2020-05-13 02:25] chauhang commented on #325
@mycpuorg Can you please comment on this? The versions are from the Manifest file created inside the .mar model packages. The modelserverversion should match the TorchServe version. Please comment for the others.

[2020-05-13 07:28] harshbafna opened #340 "Install from source fails in python virtual environments created using pyenv/virtualenv/venv"
## Context
Install from source fails in python virtual environments created using pyenv/virtualenv/venv

* torchserve version: Latest master source.
* torch version: 0.5.0
* torchvision version [if any]: 0.6.0
* torchtext version [if any]: NA
* torchaudio version [if any]: NA
* java version: Open JDK 11.0.7
* Operating System and version:Ubuntu 18.0.4

## Expected Behavior
TorchServe should build

[2020-05-13 08:39] mpjlu opened #342 "Will serve support gRPC inference call?"
The performance of gRPC is better than REST API. Will serve support gRPC inference call?

[2020-05-13 08:51] dhaniram-kshirsagar commented on #342
It will be available in future releases. Here is the RFC torchserve. https://github.com/pytorch/pytorch/issues/27610

[2020-05-13 09:34] mpjlu commented on #342
Thanks. Is there a plan time about gRPC release.

[2020-05-13 13:22] harshbafna commented on #257
@chauhang : PFB my answers

All the mar files in the model zoo are created using the [torchserve examples](https://github.com/pytorch/serve/tree/master/examples) . These examples are based on the default handlers.
For image classification example, please refer following code for image_to_name.json : https://github.com/pytorch/serve/blob/master/ts/torch_handler/image_classifier.py#L59

We use follo

[2020-05-13 14:37] FrancescoSaverioZuppichini opened #343 "Docker: How to add your .mar files?"
Dear all,

Could you please update the doc showing how to use your `.mar` files and `model-store` dir with docker? Assuming I have a stored `.mar` and `model-store` dir locally on my pc and I want to run `torchserve` on docker with them, what should I do? Is there an option to add the `mar` file? The docker page of `torchserve` doesn't contain information.

Thank you.

Be safe and best regards,

F

[2020-05-13 22:05] mycpuorg commented on #343
Hi @FrancescoSaverioZuppichini is the idea to keep a persistent model store dir? If so, then you could use `-v` option in docker to map your host's local directory to docker's mounted filesystem and provide the path.

Be sure to provide the Docker's view of the path as model store. It points to `/home/model-server/model-store` inside the docker if you used the sample config.
Refer: [this config fi

[2020-05-13 22:09] mycpuorg commented on #312
Both changes for Linux and MacOS are in staging. Removing Launch Blocker tag. @chauhang @dhanainme @lokeshgupta1975 Time for a merge from `staging_0_1_1` to `master` to pull this in??

[2020-05-13 22:12] mycpuorg commented on #334
@dhaniram-kshirsagar Could you help?

[2020-05-14 04:14] dhaniram-kshirsagar commented on #343
@mycpuorg @FrancescoSaverioZuppichini  Discussion is in progress to add such a support #195 should address this.

[2020-05-14 04:19] dhaniram-kshirsagar commented on #334
Yes, we are working on it.

[2020-05-14 05:59] lessw2020 opened #345 "windows 10 pro: try to run torchserve, get Could not find or load main class org.pytorch.serve.ModelServer"
Brand new win10 pro install
install pre-requisites

build .mar for densenet

attempt to run:
torchserve --start --ncs --model-store model_store --models densenet161.mar

C:\Users\lessw>Error: Could not find or load main class org.pytorch.serve.ModelServer
Caused by: java.lang.ClassNotFoundException: org.pytorch.serve.ModelServer

Versions:

java version "1.8.0_251"
Java(TM) SE Runtime Environment

[2020-05-14 06:00] lessw2020 commented on #345
Did see a number of issues related to this, but all seem to be related to running buildable version.
I did pip install for all items.

[2020-05-14 06:05] lessw2020 opened #346 "port in use: try to test/run torchserve in colab (Torchserve stopped. java.io.IOException: Failed to bind to address: http://127.0.0.1:8080)"
Is there a workaround to run/dev in colab?   Can't get it to run on windows (see previous issue I just entered, so moved to colab....still fails).

Followed all pip setup and requirements in readme.

!torchserve --start --ncs --model-store model_store --models densenet161.mar

result:

2020-05-14 05:28:41,971 [INFO ] main org.pytorch.serve.ModelServer -
TS Home: /usr/local/lib/python3.6/dist-packa

[2020-05-14 06:08] harshbafna commented on #345
@lessw2020 : `TorchServe` is currently certified on Ubuntu and MacOS only.

[2020-05-14 06:14] harshbafna commented on #346
@lessw2020 : `TorchServe` by-default uses 8080 and 8081 ports for inference and management apis respectively.

From the above log trace, the 8080 port is already in use by some other process in your environment. You can configure custom ports while starting `TorchServe` as follows :

 - Create a config.properties file
 - Add following config properties
[code]
 - Start torchserve with following com

[2020-05-14 06:16] lessw2020 commented on #346
Thanks will test tomorrow, much appreciated.

[2020-05-14 06:17] dhaniram-kshirsagar commented on #346
@harshbafna Lets include this in upcoming troubleshooting guide as well #215

[2020-05-14 06:21] lessw2020 commented on #345
True, but PyTorch 1.50 works perfectly on it and I don't think this issue is Windows specific.
WSL2 is available on WinPro and docker images build and work fine.
You can close it as OS not supported if there is no plan to support Windows (though again, why have PyTorch support Windows but not PyTorch serve? :)

[2020-05-14 06:25] dhaniram-kshirsagar commented on #345
@lokeshgupta1975 @chauhang - Could you please comment here.

[2020-05-14 06:26] dhaniram-kshirsagar commented on #342
@lokeshgupta1975 - Could you please comment here.

[2020-05-14 09:32] kovarsky opened #347 "Inference handle description is wrongly templated and doesn't meet OpenAPI requirements."
https://github.com/pytorch/serve/blob/1f16a7e5989e046f0e5ce5a9f4c73182f63c4573/frontend/server/src/main/java/org/pytorch/serve/openapi/OpenApiUtils.java#L36

In OpenAPI spec there is no square bracket syntax for [Path Object](https://swagger.io/specification/).
Because `model_version` is optional route part, two endpoint [should be provided](https://stackoverflow.com/questions/35011192/how-to-defi

[2020-05-14 09:37] kovarsky commented on #347
Maybe, a good way to automatically check correctness of OpenAPI description is to generate client code using [OpenAPI generator](https://github.com/OpenAPITools/openapi-generator) and use client for requests.
OpenAPI validators can be considered also.

[2020-05-14 14:52] dhaniram-kshirsagar opened #349 "Intermittent gradle build failure"
Nullpointer exceptions observed while unregistering model /scaling down workers. This results in intermittent failure of following test cases and ultimate build failure!!

1. ModelServerTest
2. SnapshotTest
[build_with_SnapshotTest_failure.log](https://github.com/pytorch/serve/files/4629066/build_with_SnapshotTest_failure.log)

[2020-05-14 16:52] lessw2020 commented on #345
I guess this is turning into two items but for some feedback:
1 - Is there a script or similar I can run to attempt to instantiate the missing class?  (that would delimit if it's really an OS issue).
2 - To be clear, I'm not planning to deploy on Windows, but given that PyTorch works perfectly on Windows (vs Mac has **zero** Nvidia GPU support), I still expect I can test run and code against PyTor

[2020-05-14 18:04] FrancescoSaverioZuppichini commented on #343
@dhaniram-kshirsagar Thank you :)

[2020-05-14 20:56] lessw2020 commented on #346
worked like a champ, thanks very much.  (I'll leave open if you want to reference for the troubleshooting guide) but issue is definitely resolved.

[2020-05-15 08:32] jeon30c opened #353 "streaming inference like speech recognition"
Can I do streaming service with pytorch-serve like streaming speech recognition?

I cannot find the way for it. So if not, do you have any plan for it?

[2020-05-16 00:30] dhanainme commented on #353
Torchserve currently supports only inference though HTTP 1.0 - Request / Response style.
We dont have anything particular in out roadmap - https://github.com/pytorch/pytorch/issues/27610

Feel free to open a Issue / Feature ask with specific details of your need.

[2020-05-16 14:40] UdonDa opened #355 "How do we get the curl output as image?"
I'd like to try to serve the style transfer model.

So, how do we make the handler of style transfer?

Thanks.

[2020-05-16 21:07] chauhang opened #356 "BERT example cleanup"
Add the remaining items for the BERT example:

- [ ] Integrate PR https://github.com/pytorch/serve/pull/283 related changes
- [ ] Add integration tests

[2020-05-16 21:15] chauhang opened #357 "TorchScripted BERT example"
Add (or enhance existing) example for deploying TorchScripted BERT models on TorchServe. Details [here](https://huggingface.co/transformers/torchscript.html)

[2020-05-16 21:24] chauhang commented on #355
@UdonDa Please check the [custom service ](https://github.com/pytorch/serve/blob/master/docs/custom_service.md)documentation and [example](https://github.com/pytorch/serve/tree/master/examples/image_classifier/mnist) for this.

[2020-05-17 03:41] UdonDa commented on #355
Hi @chauhang
I can implement the custom service following your proposed link.

The return value of serve is str, so we need to cast the image type.
How do I implement to get the translated image in the client with python effectively?

I think it's a same problem of image segmentation https://github.com/pytorch/serve/tree/master/examples/image_segmenter .

[2020-05-17 05:35] uzaymacar opened #358 "Significant Prediction Differences in Local vs. Cloud"
We have a custom `torchvision` Mask RCNN deployed in AWS with `torchserve`. We are able to get similar prediction scores (i.e. equivalent to the 4th or 5th decimal) between local vs. cloud for most of the images. I know that there will always be some expected (minor) difference, but for some images we are having situations with significant fluctuation. I can confirm that everything except the envi

[2020-05-17 06:08] UdonDa commented on #355
Actually, We can get the returned image through server: np.array -> byte -> str and cliant: str-> byte -> np.array.
But the image is illegal.

For example, the output image in the server is well.
![fake2](https://user-images.githubusercontent.com/25411643/82137106-ef215980-984f-11ea-8517-cab4d9f867b9.png)

But, after I get the response and cast it and save it, the image is illegal.
![fake](https:/

[2020-05-17 17:01] harshbafna commented on #358
@uzaymacar : This mostly looks like Model or torchvision specific behavior and `TorchServe` does not impact the inference output generated by your model unless done through your custom handler.

Could you verify if your model has similar behavior if you run the same inference on your model outside TorchServe using a simple python script?

[2020-05-17 23:26] lessw2020 opened #359 "Docker: clean build from source fails with tmp/docker-build###/serve: no such file or dir"
Brand new Ubuntu install (EC2), latest github source for serve, latest docker etc.:

1 - sudo docker build --file Dockerfile.cpu -t torchserve:latest .

2 - error:
`Step 10/23 : ADD serve serve
ADD failed: stat /var/lib/docker/tmp/docker-builder531966407/serve: no such file or directory`

any insights?  I was in serve/docker when running if that matters (based on readme directions).

[2020-05-17 23:45] lessw2020 commented on #359
I also tested with gpu build just in case, same error:

`Step 8/21 : ADD serve serve
ADD failed: stat /var/lib/docker/tmp/docker-builder942203608/serve: no such file or directory`

[2020-05-18 02:56] dhaniram-kshirsagar commented on #359
@lessw2020 Can you please follow this https://github.com/pytorch/serve#quick-start-with-docker and let us know if you are still facing this issue. FYI - We are fixing few docker doc issues as part of #266

[2020-05-18 04:29] lessw2020 commented on #359
Hi @dhaniram-kshirsagar - thanks for the fast response.

I did exactly the steps from the quick start link which is how I found this issue :)   So yes it reproes with the quick start guide steps.

It's a brand new staging server (EC2) for us so I wanted to prove everything working before adding our own models/customizations and hit this issue.

Thanks for the update re: #266 - can you please ping

[2020-05-18 05:34] lessw2020 commented on #359
Hi @dhaniram-kshirsagar  - an update, I am able to build with the shell script.
  I thought your link was to the docker folder readme which was the steps I followed.  However double checked your link and saw the home page has different docker directions and recommends using a shell script..I am able to build with the script!

Thus:
using the script on the homepage for docker instructions:
./build_

[2020-05-18 05:34] dhaniram-kshirsagar commented on #359
@lessw2020 I am not sure why you are executing following command since `./build_image.sh` takes care of everything for creating an image!

`sudo docker build --file Dockerfile.cpu -t torchserve:latest .`

I just tried following from quick start for cpu and found no issues -

[code]

[2020-05-18 05:38] lessw2020 commented on #359
Hi @dhaniram-kshirsagar  - we posted at same time :)
I followed the directions on the /docker readme - why would that not be valid info and process...if the recommended method is to use the script, then that should be what is on the docker page as well.
Anyway, if the script is the preferred way then I will use that but the readme on the /docker page should be adjusted as well to match is the bug

[2020-05-18 05:40] lessw2020 commented on #359
for reference - https://github.com/pytorch/serve/tree/master/docker

![image](https://user-images.githubusercontent.com/46302957/82177746-4eeb2500-988f-11ea-863b-7bd6d7ddf38b.png)

[2020-05-18 05:43] harshbafna commented on #359
@lessw2020 : Looks like you missed out on the first step while following docker readme, where you need to clone the serve repo inside docker directory as well. The script takes care of this step.

[2020-05-18 05:48] dhaniram-kshirsagar commented on #359
@lessw2020  As I have mentioned, we are working on it to fix [docker doc](https://github.com/pytorch/serve/tree/master/docker) via #266.

If you don't want to build it from source then replace the following steps in Dockerfile.cpu/gpu:

`ADD serve serve
RUN pip install ../serve/`

with

`RUN pip install --no-cache-dir torchserve torch-model-archiver`

`docker build --file Dockerfile.cpu -t torchse

[2020-05-18 09:00] MFreidank opened #361 "Efficiency: Serving multiple models on a single GPU"
Hi,

A requirement that I expect to occur relatively frequently is to serve multiple models from a single GPU. With previous serving frameworks such as `tensorflow/serving` and NVIDIA's `tensorRt` framework, model checkpoints are optimized/compressed before serving.
This decreases memory footprint on the GPU and makes it easier to serve multiple models from the same GPU device. In the case of `ten

[2020-05-18 09:56] kovarsky commented on #355
@UdonDa
Could you, please, provide a snippet of code for serialization and deserialization of image?
I had a simpler problem. I needed to obtain vector from image (embedding). So, I used custom postprocessor:
[code]
And in client code:
[code]

[2020-05-18 16:00] mycpuorg opened #362 "Serialize models to store in DDB"
To allow for scaling of snapshots across server instances. [Snapshot Serialization](https://github.com/pytorch/serve/blob/376110010a2fe3f8341d6299ec60795eaead7bf6/frontend/server/src/main/java/org/pytorch/serve/snapshot/SnapshotSerializerFactory.java#L7) should allow for database storage such as DynamoDB. This must be made optional through config properties since most customers may not use such an

[2020-05-18 16:00] mycpuorg commented on #362
@dhaniram-kshirsagar thoughts?

[2020-05-18 19:07] maaquib commented on #179
PR tested and merged

[2020-05-18 19:07] maaquib commented on #179
PR tested and merged

[2020-05-18 19:08] dhaniram-kshirsagar commented on #195
Added steps in #308 under docker/README.md#docker_torch_model_archiver

[2020-05-18 20:02] dhaniram-kshirsagar commented on #355
@UdonDa Could you please use the segmentation default handler given [here](https://github.com/pytorch/serve/commit/7984492081699372dd164bb6bff37d5706475081). I have modified the post-processing to return the image. You can use the following to get image output.
`curl http://localhost:8080/predictions/fcn_resnet_101 -T <inputfilename>.jpg -o output.jpg`

Since we were trying to return a string in a

[2020-05-19 01:31] lessw2020 commented on #359
Hi @dhaniram-kshirsagar and @harshbafna  - thanks very much for your help!
and now I understand how in the world I have a second copy of /serve repo within my first /serve repo :)

Anyway thanks again for the assist and look forward to further improvements...Serve is a huge improvement for deployment  :)

[2020-05-19 05:16] lessw2020 opened #363 "Best practice question - how to chain multiple models together for pipeline process?"
Hi all - I couldn't find anything in the documentation so wondering if there is a recommendation for how to chain multiple models together in an internal pipeline?
Example - we need to take an incoming image, do obj detection , then do a seperate mdoel classification from items cropped and zoomed, return the result...i.e.:

1 - Model A -  Run obj detector on incoming image
1a - post process to det

[2020-05-19 07:53] FrancescoSaverioZuppichini opened #364 "Saving model without .eval gives wrong outputs"
Dear all,
I come across a problem. If I do not call `model.eval()` before saving a model I will have a wrong output in the server, even if in the `BaseHandler` calls [`self.model.eval()`](https://github.com/pytorch/serve/blob/master/ts/torch_handler/base_handler.py#L64) at runtime.

I have the following steps to put in production a resnet34 model

1) Saving the model
[code]

2) Create the `.mar` f

[2020-05-19 08:14] harshbafna commented on #363
@lessw2020 : You can create a custom handler to invoke multiple models in your flow and host it as a single model. You can pass the model/checkpoint/statedict file for the second model using `--extra-files` flag and use it in your custom handler.

You can refer the recently added example for [text-to-speech-translation](https://github.com/pytorch/serve/tree/staging_0_1_1/examples/text_to_speech_sy

[2020-05-19 10:20] harshbafna commented on #364
@FrancescoSaverioZuppichini  : Thanks for pointing this out. This looks like an issue with `PyTorch` itself for `tracing` a model and we had simply followed the [torchscript documentation](https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html) for the examples. Also looks like the output got overlooked at our end for `traced mode`.

Could you put up a PR with the above suggeste

[2020-05-19 11:20] FrancescoSaverioZuppichini commented on #364
@harshbafna Thank you for your reply. Sure, I will change the `tracing` example, I am not sure if this problem applies also to the normal and scripting example. However, is it weird? In the end `model.eval()` is called correctly in the handler, in your opinion, why the model did not switch to evaluation mode?

[2020-05-19 11:23] harshbafna commented on #364
You will need to take this question to the `PyTorch` development team. I tried this outside `torchserve` as well and the result remains the same for `traced` model. This works fine without `model.eval()` for `scripted` models

[2020-05-19 11:26] FrancescoSaverioZuppichini commented on #364
In your opinion, is it better to use the scripting or the scripting API?

[2020-05-19 12:07] dhaniram-kshirsagar commented on #364
@FrancescoSaverioZuppichini This is not the correct forum to discuss torch APIs.
I would recommend asking this question at https://discuss.pytorch.org/.

[2020-05-19 14:24] Shirleykiruba opened #367 "Extra logging added to Maven builds makes the build log hard to read"
In our project we have the Maven Integration Plugin - 3.6 and Jenkins - 2.222.3 installed, and I'm seeing org.apache.maven.cli.event.ExecutionEventLogger everywhere in Jenkins Console logs only in the publish stage as below.

[Pipeline] { (Publish) (hide)
[Pipeline] newArtifactoryServer
[Pipeline] newBuildInfo
[Pipeline] newMavenBuild
[Pipeline] artifactoryMavenBuild
02:51:23 Jenkins Artifactory P

[2020-05-19 15:21] vdantu commented on #367
Does using the `-q` flag help? You could check this PR - https://github.com/pytorch/serve/pull/326

[2020-05-19 15:43] FrancescoSaverioZuppichini commented on #364
@dhaniram-kshirsagar Thank you for your reply. I was just asking for a feedback to @harshbafna based on the discussion. If I would have wanted the general opinion of the community I would have asked there :)

[2020-05-19 16:29] kovarsky commented on #347
I ran [Spectral validator](https://github.com/stoplightio/spectral) and It found next problems.
 - Inference API description:
![2020-05-19_19-23](https://user-images.githubusercontent.com/5002721/82352569-d909c980-9a06-11ea-8da6-19bf5d7ce117.png)
 - Management API description:
![2020-05-19_19-23_1](https://user-images.githubusercontent.com/5002721/82352663-f63e9800-9a06-11ea-9a4c-ee1c2319417c.png)

[2020-05-19 19:37] lessw2020 commented on #363
@harshbafna - thanks a bunch, that is great to hear we can design a flow with multiple models!
I'll use the --extra-files flag and setup our custom handler, the code links were very informative on how to do this.
Much appreciated!

[2020-05-19 19:37] #363 closed

[2020-05-19 19:57] dhaniram-kshirsagar commented on #362
At a high level -
- The credential for DDB client will be available via [Default Credential Provider Chain](https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html)
- Table will be added/dropped in DDB via script [use best practice] (https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/best-practices.html) to implement this]. This should be kept separate since user

[2020-05-20 00:03] #331 closed

[2020-05-20 03:40] dhaniram-kshirsagar commented on #359
Closing as docs were correct however steps in order were not followed.

[2020-05-20 03:40] #359 closed

[2020-05-20 03:43] lessw2020 opened #369 "best practice - handling port re-routing with docker images (use config.properties or just -p at image load)?"
Hi all,
We're re-routing our inference and mgt ports from the default 8080/8081 to 5050/9090 for internal reasons.
However, since we are running in a docker container is it better to:

A - re-route ports in the config.properties file
or
B - just manually modify the ports at docker image load ala -p 5050:8080 -p 9090:8081

Since we have to expose the ports at docker load, it feels a bit redundant t

[2020-05-20 08:18] assapin opened #370 "torch-model-archiver - support inference code with external python dependencies"
Inference code may depend on arbitrary packages outside of torch projects.

currently I didn't see a way to include these in the .mar file.
I had to do a hack which is to pip install --target to a temp folder, open the .mar and inject these in.

Sagemaker has an elegant solution which is to just include a requiremetns.txt in the zip and it will inject them into the environment (conda? pip install

[2020-05-20 14:52] Shirleykiruba commented on #367
The code has -q already in it but still the logs are not silent

[2020-05-20 16:51] uzaymacar commented on #358
Hi @harshbafna, the difference indicated above is already this. Running a simple Python script to get predictions on a local environment gives different prediction results compared to the cloud. So, the behavior is indeed different. As far as I can see, my custom handler doesn't play around with the scores returned by the model.

[2020-05-20 17:16] vdantu commented on #367
Interesting. `-q` option works well in our CI/CD setup. Optionally, would you be able to redirect the output of that command to a separate log?

[2020-05-20 18:07] vdantu commented on #370
The dependency management is a tricky feature to have, especially when you host multiple models on the server which have dependency on different versions of the same python package :) . But, I agree with the ask. This is a very good feature to have,.

[2020-05-20 19:50] #346 closed

[2020-05-20 19:51] #307 closed

[2020-05-20 20:19] chauhang commented on #361
@MFreidank The model compression techniques like quantization, pruning need to be handled as part of the exercise of getting the model ready for production deployment. You should be able to take your quantized model and deploy that to run on TorchServe. Some good tutorials for [Quantization](https://pytorch.org/blog/introduction-to-quantization-on-pytorch/) and [Pruning](https://pytorch.org/blog/i

[2020-05-20 20:32] chauhang commented on #312
Please go ahead with merge to master

[2020-05-20 22:22] lessw2020 opened #373 "best practice - preferred model saving mechanism for performance/scaling?"
For production, is there a preferred method of saving out a given model depending on it's use case of testing vs production?

Right now mar supports:
1 - eager model save
2 - script save
3 - traced save

Just wondering if there is a preferred way to save the model(s) depending on final destination -  production vs test?  I'm wondering if traced might be closer to c++ style/jit compilation and thus

[2020-05-20 22:27] lessw2020 opened #374 "code for the default image_classifier / object detection handlers and/or base class to build on for custom?"
I must be missing it but I can't find the .py code for the default image_classifier handler (i.e. custom_service.py)?

In the examples I see some variations of handlers, but was hoping to use the default handler to then build our own handler up from depending on what it already does or does not do.
Is this code available or is it in java and thus deeper in the torchserve code base?

It would be id

[2020-05-20 23:02] maaquib opened #375 "Install from source script failure on Ubuntu"
If there is no java installed on the machine, the [install_from_src_ubuntu](https://github.com/pytorch/serve/blob/staging_0_1_1/scripts/install_from_src_ubuntu) fails silently

[code]

[2020-05-20 23:16] maaquib commented on #374
@lessw2020 Not sure if you are looking for this [ImageClassifier](https://github.com/pytorch/serve/blob/376110010a2fe3f8341d6299ec60795eaead7bf6/examples/image_classifier/squeezenet/model.py#L4). It uses [SqueezeNet](https://github.com/pytorch/vision/blob/12b551e7a7232d829df0f01ae9f6c56305571dfc/torchvision/models/squeezenet.py#L37) as the base class.

[2020-05-20 23:18] maaquib commented on #312
I created an issue for install from source #375
Please fix this before merging to master

[2020-05-21 01:45] lessw2020 commented on #374
Hi @maaquib  - thanks for the reply.
What I meant was code like this, but for the generic implementation provide for each category:
https://github.com/pytorch/serve/blob/master/examples/image_classifier/resnet_152_batch/resnet152_handler.py

I'm unclear for example how the base Image_classifier handler know what the desired image size is (reads the input channels for the model?), does it resize in

[2020-05-21 02:21] lessw2020 commented on #374
also just to clarify a bit more - the handler shown resnet152 handler does a center crop as part of the pre-processing which is fine for base classification, but complete failure for medical diagnostics work.
Thus without seeing the code for the included "image_classifier" impossible to tell how the image is being prepped, hence the interest in knowing what is or is not being done in the base woul

[2020-05-21 05:55] chauhang commented on #358
@uzaymacar Can you please provide details with the code snippet of your model and the configs of your local server vs the AWS instance (CPU/GPU/Memory)?

[2020-05-21 06:26] chauhang commented on #373
@lessw2020 For better inference performance it is recommended to use TorchScripted models. There are two options for TorchScripting:

- **Trace** mode - is generally used for rapid testing to convert your model to TorchScript before deploying into production. It requires example input for doing the tracing, and traces for the parts of the model code exercised by the example input provided. Tracing

[2020-05-21 09:08] josiahdavis commented on #30
I am still experiencing the same issue/error as @chauhang (running `./build_image --gpu` on an Ubuntu 18.04 EC2 Instance `m4.xlarge`).

<img width="1435" alt="Screenshot 2020-05-21 at 5 02 56 PM" src="https://user-images.githubusercontent.com/6405428/82542654-f2d11b00-9b84-11ea-9f8a-e1d2c6540257.png">

[2020-05-21 09:51] harshbafna commented on #30
@josiahdavis : The original issue was related to installing torchserve from source on a GPU based EC2 instance like p3.2xlarge.

In your case this is related to the error observed while creating the docker image for GPU.

Could you please create a new issue for this with details in this format :

## Context

* torchserve version:
* torch version:
* torchvision version [if any]:
* torchtext version

[2020-05-21 10:40] harshbafna commented on #374
@lessw2020 : Here are the code for all the default handlers provided by `TorchServe`

[Image Classifier](https://github.com/pytorch/serve/blob/master/ts/torch_handler/image_classifier.py)
[Text Classifier](https://github.com/pytorch/serve/blob/master/ts/torch_handler/text_classifier.py)
[Object Detector](https://github.com/pytorch/serve/blob/master/ts/torch_handler/object_detector.py)
[Image Segme

[2020-05-21 15:57] lokeshgupta1975 opened #378 "Support gRPC based inference call in TorchServe"
Linked to Issue #342
This is an enhancement request, we will put this on our roadmap. Rough timeline for this feature as of now is by end of Q3'2020 (Sep'2020).

[2020-05-21 15:57] lokeshgupta1975 commented on #342
@mpjlu We do not have a concrete plan yet but roughly it would be by end of Q3'2020. I have created another tracking issue for this feature #378

[2020-05-21 15:57] #342 closed

[2020-05-21 17:08] #291 closed

[2020-05-21 18:35] lessw2020 commented on #373
Extremely helpful info - thanks very much @chauhang

[2020-05-21 19:49] maaquib commented on #191
Steps added to README as part of #308

[2020-05-21 20:08] maaquib commented on #317
Fixed in release v0.1.1 on branch `staging_0_1_1` as part of #354 . Pending merge to master

[2020-05-21 21:11] maaquib commented on #88
Adding additional items that need to be incorporated in next release v0.2.0
* Use optimal AMI for production deployment
* Use a standard install scripts for cloudwatch agent, cfn-init and torchserve

[2020-05-21 22:06] lessw2020 opened #380 "packaging eager mode and .py file - do we need to move all dependencies to have a single model.py file?"
I'm currently blocked from scripting a model, so planning to run for now with eager mode.
However, this model has multiple sub file dependencies.
Thus, do I need to move all dependencies into the single model.py file equivalent (meaning it's just model.py and then system imports) or is there a way to package model.py + dependency1.py + dependency2.py?
Not really sure how the model.py is packaged r

[2020-05-22 00:17] mycpuorg commented on #380
@lessw2020 You can use `--extra-files` and pass comma separated dep files. Refer to the documentation for the model archiver [here](https://github.com/pytorch/serve/tree/master/model-archiver#creating-a-model-archive). Also, the MAR file is simply a zipped archive of all the files including serialize, json, handlers etc. So you can play around with the structure for all your files.

[2020-05-22 00:33] lessw2020 commented on #380
@mycpuorg  - thanks that helps a ton.  I didnt' realize the .mar was just a zip, that makes things a lot easier for packaging knowing that!

[2020-05-22 00:35] lessw2020 commented on #374
Thanks a bunch @harshbafna - that's exactly what I was looking for.  Would it be worth linking those on the readme or docs to make easier to find?  I imagine a lot of people will want to see and build on those as base classes.
Regardless, thanks again as that was exactly what I was looking for.

[2020-05-22 00:37] maaquib commented on #374
@lessw2020 Already added to [staging](https://github.com/pytorch/serve/tree/staging_0_1_1/docs#default-handlers). This will be updated in the next release

[2020-05-22 00:39] lessw2020 commented on #374
suggestion - expose the image size and resize method as an argument somewhere and whether to centercrop or not?
With a bit of tweaking could make it so most people wont' need to build their own b/c they mostly would just need to adjust:
1 - image size and resize method
2 - center crop or not

[2020-05-22 00:40] lessw2020 commented on #374
@maaquib - excellent, that should be very useful.  Thanks for the fast updates!

[2020-05-22 00:45] maaquib opened #381 "Enhancement for the base image classifier"
suggestion - expose the image size and resize method for the base image classifier as an argument somewhere and whether to centercrop or not?
With a bit of tweaking could make it so most people wont' need to build their own b/c they mostly would just need to adjust:
1 - image size and resize method
2 - center crop or not

_Originally posted by @lessw2020 in https://github.com/pytorch/serve/issues/

[2020-05-22 00:45] maaquib commented on #374
@lessw2020 Created #381 to track your request for enhancing the base image classifier

[2020-05-22 01:49] lessw2020 opened #383 "starting torchserve from command line ignores passed in params in favor of previous 'snapshot log'?"
I am restarting TorchServe repeatedly testing out new .mar files...but noticed that at launch, it's ignoring my passed in params in favor of reading the previous snapshot log.
Is there a way to make it ignore the previous log and listen to the start up commands?
It shutdown simply because I had removed an earlier model (the demo densenet) yet at startup, it was reading the snapshot log, looking fo

[2020-05-22 02:06] maaquib commented on #383
@lessw2020 This is the expected behaviour. Please refer to the docs [here](https://github.com/pytorch/serve/blob/master/docs/snapshot.md)

[2020-05-22 02:35] lessw2020 commented on #383
@maaquib - ok thanks very much.
The config file only has 4 items in it by default, so not that useful on avg and a bit of a pain to enter that flag everywhere if not using it esp on new servers.
anyway, thanks for clarifying this issue!

[2020-05-22 16:28] chauhang commented on #383
@lessw2020 You can turn off the snapshot feature by passing the `--no-config-snapshots` flag. In this case the automatic snapshots will be disabled completely

[2020-05-22 16:33] chauhang commented on #374
@lessw2020 For now you can create a custom service and put logic for all the transformations in the preprocess function. Please take a look at the mnist image classifier example for details: https://github.com/pytorch/serve/blob/master/examples/image_classifier/mnist/mnist_handler.py#L49

[2020-05-22 16:35] chauhang commented on #381
@maaquib Better way of handling this by exposing the preprocess and postprocess functions for the default handlers. The mnist image classifier custom handler example already describes how to do this. Similar examples needs to be added for the default handlers.

https://github.com/pytorch/serve/blob/master/examples/image_classifier/mnist/mnist_handler.py#L49

[2020-05-22 16:42] chauhang opened #384 "Add FAQ section in docs"
Add a new FAQ section in docs based on common questions from users.

[2020-05-22 19:11] maaquib opened #386 "Refactor MetricCollector.java code for PYTHONPATH and PATH updates"
Seems like we are repeating this code. This logic exists in [WorkerLifeCycle.java](https://github.com/pytorch/serve/blob/376110010a2fe3f8341d6299ec60795eaead7bf6/frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java#L44) as well. We could probably pull this logic of pulling environtment variables and filtering out blacklisted environment variables into a util file and use the me

[2020-05-22 21:49] lessw2020 opened #387 "serve fails to process 'version number' after load resnest50 and aborts server with "java.lang.AssertionError: Model version not not found for model : resnest50""
I'm attempting to load a custom resnest model (SOTA - https://github.com/zhanghang1989/ResNeSt) which currently is not jit scriptable due to it's split attention internals.

Thus I am loading via eager mode - however, when attempting to load serve hits this error and then aborts:`2020-05-22 21:38:14,080 [DEBUG] main org.pytorch.serve.wlm.ModelVersionedRefs - Adding new version 22.0 for model resne

[2020-05-22 21:57] lessw2020 commented on #387
oddly, I started from a new directory and so it used the snapshot config at which point it was able to load the model and version?

2020-05-22 21:53:42,454 [DEBUG] main org.pytorch.serve.wlm.ModelVersionedRefs - Adding new version 22.242 for model resnest50
2020-05-22 21:53:42,454 [DEBUG] main org.pytorch.serve.wlm.ModelVersionedRefs - Setting default version to 22.242 for model resnest50
2020-05-

[2020-05-22 22:06] lessw2020 commented on #387
ok that load had 0 workers so I attempted to scale workers and that fails.
So likely the issue is model fails to scale a worker and that cascades into the version number assignment failing?

 curl -v -X PUT "http://localhost:8081/models/resnest50?min_workers=2&synchronous=true"
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8081 (#0)

< HTTP/1.1 500 Internal Se

[2020-05-22 23:03] maaquib commented on #387
@lessw2020 Can you attach the server logs for the above failure? I can take a look

[2020-05-23 04:37] ar3717 opened #390 "Is it possible to deploy Sentence BERT?"
Hi, I am building a semantic search application and I have been using Sentence BERT (https://github.com/UKPLab/sentence-transformers). Can I use torch serve to deploy such a model that is developed based on the SentenceTransformer class (https://github.com/UKPLab/sentence-transformers/blob/master/sentence_transformers/SentenceTransformer.py) in this repo?
Thanks a lot in advance.

[2020-05-23 18:46] balachandrafb opened #391 "Branch staging_0_1_1 fails on install_from_src_macos"
Fails at test execution which kills the whole install. Commented out the Assert for this specific test and install succeeded. The system seems to be working fine as it can serve models and respond to prediction requests

**testTSValidPort**

java.lang.NullPointerException
    at org.pytorch.serve.ModelServerTest.testPing(ModelServerTest.java:106)
    at org.pytorch.serve.ModelServerTest.testTSVali

[2020-05-23 19:18] chauhang commented on #369
@lessw2020 One will use the regular docker mechanisms for port handling for this case.

1. Inside the docker container, you can use the default ports for torchserve -- 8080/8081. In case you are using config.properties file for starting torchserve, specify the port that it is running on inside the docker container.
**Note** that when torchserve (or any other process) that runs inside a docker cont

[2020-05-23 19:29] chauhang commented on #390
@ar3717 You can use the [custom service](https://github.com/pytorch/serve/blob/master/docs/custom_service.md) handler for this. Check out  [mnist digit classifier handler](https://github.com/pytorch/serve/blob/master/examples/image_classifier/mnist/mnist_handler.py) as an example.

Further in the upcoming release we are also adding examples for BERT models - check out the PR https://github.com/pyt

[2020-05-23 19:52] lessw2020 commented on #369
Hi @chauhang  - awesome, thanks very much for the advise here.  We'll use the docker port command then to re-route.
(also really appreciate how fast and responsive you and the whole team here are for TorchServe and providing clarifications and tips...great job!)

[2020-05-23 20:12] StephanieRogers-ML opened #392 "Point Cloud Custom Handler"
Has anyone had any luck implementing a point cloud custom handler to run inference with MinkowskiEngine (MinkUNet34C) or PointNet++ for point cloud segmentation and object detection?  I understand both would need their own handler.  Would we Pip the additional package requirements into the .mar file during archive?  Can open3d be used in the post process part of the handler to write the point clou

[2020-05-23 20:44] maaquib commented on #392
@StephanieRogers-ML You are correct about writing a [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md) and packaging it into a .mar file. You'd pip install additional packages separately. You might find these two examples useful for writing a custom handler which require additional dependencies [1](https://github.com/pytorch/serve/tree/staging_0_1_1/examples/Hugg

[2020-05-24 03:29] chauhang opened #393 "Integration tests limit the resource usage"
Optimize the integration test suite, to do cleanup after each model test. At present, the automation test expects all models to be registered and runs the tests against them. The larger BERT based model examples have high resource requirements, and as more examples are added this will continue to increase.

In order to limit the resource usage, optimize the test suite for proper tear down of the r

[2020-05-24 22:55] balachandrafb opened #394 "Regression test suite cannot be run multiple times consecutively in local installs"
Fails on model registration tests as the mar already exists in the model store. So, we can either
1. Have instructions to restart the torchserve in a new model_store folder if running collection from PostMan client.
2. Rename the mar file downloaded with a timestamp so it doesn't clash with currently existing file when model registration API is invoked

[2020-05-25 01:02] balachandrafb opened #395 "Issues running regression_tests.sh in docker for staging_0_1_1 branch"
Consolidating all issues in a single thread

1. Sysconfig was missing in docker image and this crashed the test execution. After pulling, worked fine.
2. Once above was fixed When executing regression_tests.sh, got the following two errors
2a.
[code]

2b.
[code]

Neither seemed to cause any actual issues running the tests which worked fine in docker with just a single error below

3. Only test tha

[2020-05-25 12:50] dhaniram-kshirsagar commented on #390
@ar3717 - You can use this example for semantic search created using the example given here https://github.com/UKPLab/sentence-transformers/blob/master/examples/applications/semantic_search.py .

Created a simple custom handler to demonstrate your use case. Go to this https://github.com/pytorch/serve/tree/issue_390/examples/semantic_search and follow the instruction on this page. As indicated by @

[2020-05-25 13:01] pranavpsv opened #397 "Support for Multi-Model Endpoint with SageMaker"
I'm not sure if this is the right place to ask, but is there support for Multi-Model-Endpoint deployment with SageMaker for Torchserve? Using TorchServe, I tried creating a Multi-Model endpoint to deploy 2 Torch models placed in an S3 Bucket. I  used [sagemaker.multidatamodel.MultiDataModel](https://sagemaker.readthedocs.io/en/stable/multi_data_model.html) to create this endpoint but deployment fa

[2020-05-25 13:49] dhaniram-kshirsagar commented on #395
@balachandrafb Could you share detailed steps for this. Unable to repro on staging branch.

[2020-05-25 14:32] shivamshriwas commented on #394
@balachandrafb I was not able to reproduce the error described in the issue , however the consecutive runs had failures for management  collection only with error "Connection refused on port 8081" on curl command  "curl http://127.0.0.1:8081/models" for management collection which was due to stale snapshot of previous run, as TS was started using stale snapshot the inference address port was 8443

[2020-05-25 16:42] balachandrafb commented on #394
@shivamshriwas If modelstore is cleaned up, you won't see this error. This was one of the suggested fixes that was documented in the original report. Please feel free to close this as a duplicate of PR398

[2020-05-25 17:19] dhaniram-kshirsagar commented on #362
@mycpuorg Can you share your feedback on this.

[2020-05-25 20:20] balachandrafb commented on #395
1. Create docker image from source using  ./build_image.sh -b staging_0_1_1 -t staging:0_1_1
2. Start docker container
docker run -it --user root staging:0_1_1 /bin/bash
3. In the Docker CLI execute the following cmds.

apt-get update
apt-get install -y git wget sudo
git clone https://github.com/pytorch/serve
cd serve
git checkout staging_0_1_1
4. ./test/regression_tests.sh staging_0_1_1

In this

[2020-05-25 20:46] maaquib commented on #397
@pranavpsv I'll investigate this further. Is there a specific dockerfile you are using for the Sagemaker container?

[2020-05-25 21:21] maaquib opened #399 "Docker build for dev image failing"
[code]

[2020-05-25 21:58] pranavpsv commented on #397
[code]

[2020-05-26 03:07] balachandrafb opened #400 "Benchmark profiling for backend not working on staging_0_1_1"
Followed instructions in https://github.com/pytorch/serve/blob/staging_0_1_1/benchmarks/README.md

In the profiling-> backend section, it talks about setting constant BENCHMARK to true. But this doesn’t seem to exist in the file ts/model_service_worker.py

Just adding this const on top of DEBUG into the file and running torchserve and benchmark.py didn’t generate /tmp/tsPythonProfile. Frontend pro

[2020-05-26 05:17] dhaniram-kshirsagar commented on #399
@maaquib Looks like, one of the prerequisites steps which say 'ensure you are in serve/docker' has been missed out. Anyways, now I have made that step explicit.
Also, all the links in that doc were broken hence fixed those as well.

[2020-05-26 15:42] boniek83 opened #403 "AMD ROCM support"
Are AMD gpus supported? How to start serving models with ROCM?

[2020-05-26 17:06] mycpuorg commented on #201
Closing this because https://github.com/pytorch/serve/pull/265

[2020-05-26 17:08] mycpuorg commented on #130
Reopening this since the changes have not made it to `master` branch yet

[2020-05-26 17:09] mycpuorg commented on #201
Reopening because the changes have not made it to `master` yet

[2020-05-26 18:43] dhaniram-kshirsagar commented on #395
@balachandrafb Enhancements in #398 will fix 3.

[2020-05-27 15:24] chauhang opened #404 "Add description about structure of default handler"
Describe the structure of default handlers - the different functions/methods and what a user can override eg for preprocess, prostprocess of the data

[2020-05-27 16:03] mycpuorg commented on #362
@dhaniram-kshirsagar This sounds good to me, in addition:

- Atomicity of save and restart operations (Which is the reason DDB is suitable)
- DDB ops have to be completely outside the scope of this and logs should indicate failures
- as a POC it's worth benchmarking mounting a remote FS on a local path (such as EBS)

@maaquib was interested in this too?

[2020-05-27 18:04] mohammedayub44 opened #406 "Updating workers after starting models doesn't reflect changes using Management API"
Hi,

Python: 3.8.3
Cudatoolkit: 10.1.243
pytorch: 1.5.0

I'm testing batching using the provided resnet152 batch scripts and commands. I'm using the config.properties to start the server on different ports using the below command:

[code]

Config.properties file is as follows:

[code]

I try to scale the workers using the management API by giving the max_batch_size and max_batch_delay arguments. I

[2020-05-27 19:49] lessw2020 opened #409 "model run fails with CUDA version error - b/c server is CPU only vs trained on GPU...dynamically adjust map_location?"
I trained a new model on GPU and exported it as JIT script.
When I went to run it on our server, it failed out with complaints about insufficient CUDA drivers...which is b/c this server is CPU only.

Is there a way to make this scenario better handled -i.e. can Serve check the devices available and then pass the appropriate device map_location argument to avoid this?

The hard coded fix is for me

[2020-05-27 20:01] dhaniram-kshirsagar commented on #406
Tried following and workers are getting scaled -
[code]

[2020-05-27 20:08] lessw2020 commented on #387
Hi @maaquib  - I was able to get a fix for JIT export for resneST thanks to @rwightman and with that, things worked fine (running JIT version).
Thus I don't have the logs atm but I did review them earlier and didn't see anything interesting.
One question - what is the working dir for the model running in eager mode inside Serve?  Wondering if that was the issue as it loads fine locally.
B/c of the

[2020-05-27 20:25] lessw2020 opened #410 "debugging tips? code 503, InternalServerException, Prediction failed..."
(update - I found the issue is the assumption is topK = 5, in my case only 2 classes - https://github.com/pytorch/serve/issues/411 to track and resolve
However, still would be good to know recommended debugging options....)

Using default image_classifier handler I loaded my model with no issue but when doing a first prediction get this error:

curl -X POST http://127.0.0.1:2000/predictions/nest10

[2020-05-27 20:51] maaquib commented on #395
@dhaniram-kshirsagar I am seeing exception 2a running inside venv as well. Additional `pip install wheel` fixes this

[2020-05-27 21:12] mohammedayub44 commented on #406
@dhaniram-kshirsagar my bad, my curl command URL was incorrect, it needs a model name.
It works fine now.
Thanks for confirming.

[2020-05-27 21:12] #406 closed

[2020-05-27 21:48] rwightman commented on #387
@lessw2020 since I was mentioned. EfficientNets aren't standard issue in PT either. I'd debug with a Torchvision ResNet34 or 50 and go from there :)

[2020-05-27 23:59] mycpuorg commented on #355
@dhaniram-kshirsagar can you please attach the output from the example images attached above? This will clarify what the output image looks like.

In addition, we should really specify how our default handlers were tested, especially, in cases where we have tested with models from PyTorch pre-trained models it is crucial to mention it.

FWIW, in most cases users who bring their models that require

[2020-05-28 01:09] lessw2020 commented on #409
Note that I was using the default image classifier handler above and in reviewing the code see that while the device is checked in base_handler.py:

`#
**self.device = torch.device("cuda:" + str(properties.get("gpu_id")) if torch.cuda.is_available() else "cpu")**

        # Read model serialize/pt file
        serialized_file = self.manifest['model']['serializedFile']
        model_pt_path = os.pa

[2020-05-28 01:40] lessw2020 opened #411 "predictions fail on models with < 5 classes using defaults - topK out of range...runtime exception"
My model started hitting a run time exception when running predictions.  In reviewing the code I found the issue.
The image_classifier handler assumes a default of 5 for topk.
In my case, we only have a binary prediction (positive or negative) and hence 2.
Trying to access a topk of 5 from the results creates a runtime error.

I'll update with a custom handler so I can override but putting an issu

[2020-05-28 06:35] ar3717 commented on #390
Great, thank you so much. I was able to successfully deploy my fine-tuned model on AWS Sagemaker using this guide. I greatly appreciate your help.

[2020-05-28 15:32] mohammedayub44 commented on #105
Hi,
@harshbafna
I ran into this issue as well, my Crowd detection models are also failing
I'm using this stmt in my custom handler script:
[code]
Error:

[code]

It runs fine on single GPU machine.  Is there a way to automatically scale to number of GPU's.

Thanks !

[2020-05-28 17:35] dhaniram-kshirsagar commented on #105
@mohammedayub44 This issue has been fixed in latest Tacotron2 as per following issue [reported by @harshbafna ] on Nvidia forum https://github.com/NVIDIA/DeepLearningExamples/issues/450

[2020-05-28 17:50] dhaniram-kshirsagar commented on #410
I am not sure but if you are talking about debugging backend [i.e. model loading/inferencing] then the same will be addressed via #215. More precisely via Developer guide.

[2020-05-28 20:27] maaquib commented on #387
@lessw2020 The working directory for the eager model should also be the same i.e. what you provide for param `--model-store MODEL_STORE`. Let me know if the behaviour you are seeing is inconsistent with this and feel free to reopen this issue.

[2020-05-28 20:27] #387 closed

[2020-05-28 23:50] mohammedayub44 commented on #105
@dhaniram-kshirsagar  what exactly was the fix. Do we need to change anything in the handler ?

Thanks !

[2020-05-29 00:05] maaquib commented on #397
#### config.properties
[code]

#### Dockerfile
Same as above

#### Notebook changes
[code]

Was able to spin up an endpoint with the above changes. However, the model doesn't get registered on server spin up. Running inference causes the following exception
[code]

Will reach out to the Sagemaker team.

[2020-05-29 00:31] lessw2020 commented on #410
Hi @dhaniram-kshirsagar  - yes that's exactly what I'm after.  Some details on interacting with the logger for debugging, and common issues related to prediction errors, etc would be great as per that issue.
I'll close this one out since it's basically encompassed in #215

[2020-05-29 00:31] #410 closed

[2020-05-29 00:40] maaquib commented on #397
@pranavpsv MultiModel BYOCs have an explicit dependency on MultiModelServer. Supporting TorchServe would require changes from the Sagemaker team
* https://github.com/awslabs/amazon-sagemaker-examples/blob/master/advanced_functionality/multi_model_bring_your_own/multi_model_endpoint_bring_your_own.ipynb
* https://github.com/aws/sagemaker-inference-toolkit

[2020-05-29 00:43] lessw2020 opened #414 "make basehandler and visionhandler available as runtime imports for custom handlers?"
Is there a recommended way to import basehandler and visionhandler for our own custom handlers?
Or should we just include them all as --extra-files param and import, though that also seems redundant?

Basically, I wrote a new custom handler but doesn't make sense to rewrite the .pth loader etc for the same reasons you have these base classes for the default handlers.
The resnet152 example has basi

[2020-05-29 05:09] harshbafna commented on #105
@mohammedayub44 : The issue was with the `tacotron2` model it self where the tensors were loaded into default cuda device only and when we tried to load the model in a different cuda device (other than default) it failed. I would recommend to check your model as well as handler and ensure that you are loading all the tensors on the same device as your model.

[2020-05-29 05:22] YingChenlu opened #415 "Memory is increasing"
I use torchserve 0.0.1 to run cpu model. The memory used by each worker is increasing and finally the server crashes. How to solve it?

[hs_err_pid16037.log](https://github.com/pytorch/serve/files/4699814/hs_err_pid16037.log)

[2020-05-29 06:13] mycpuorg commented on #415
Hi @YingChenlu
Thanks for sharing the profiler log.

I have a few questions:

- It looks like you have a 2-core machine with 7GB RAM, how large is the model?
- What's the avg increase in memory size per request?
- Is it possible to share the model and handlers? If not, is there any public model/handler you can point us to that exhibits similar behavior?
- Do you have multiple models registered or

[2020-05-29 09:36] YingChenlu commented on #415
Hi @mycpuorg
Thank you for your reply. I re-run my test with 3000 requests. This time the server doesn't crash. But the memory is still increasing and as I monitor the memory usage shown by _top_ command, when the memory is ran out, one of the 2 backend workers dies and the server re-starts another worker.

- It looks like you have a 2-core machine with 7GB RAM, how large is the model?
The mar fil

[2020-05-29 14:10] dhaniram-kshirsagar commented on #414
Extending default handler is pretty much possible -

Look at the last line.

[code]

[2020-05-29 18:21] lessw2020 commented on #414
Hi @dhaniram-kshirsagar  - thanks for the update.
That works great, just tested it on our server.  I didn't know about the namespace breakout you show, so that was the key.
That's a big improvement vs including the same code redundantly so much appreciated!

[2020-05-29 18:21] #414 closed

[2020-05-29 18:47] dhaniram-kshirsagar commented on #415
Tried with docker having 2GB and 2 cores + vgg11 model (size - 471MB) for 3000 requests.
**Unable to repro exact issue however observing an overall increase in memory footprint. Next, will check again with the different configuration on ubuntu ec2 instead of docker.**

**In the following top output, memory usage has increased from initial ~1.2GB [when workers started] to test ended ~1.6GB.**

** B

[2020-05-30 16:59] pranavpsv commented on #397
Thank you for the information and update!

[2020-05-30 17:35] chauhang commented on #409
@lessw2020 Please see [Save on GPU, load on CPU ](https://pytorch.org/tutorials/recipes/recipes/save_load_across_devices.html#save-on-gpu-load-on-cpu)recipe for proper way of handling this.

[2020-05-30 23:14] lessw2020 commented on #409
Hi @chauhang  - thanks for the link.
I see the various setups in the link, but my question remains of whether you can update the base_handler class to dynamically handle the three main load cases?
Right now I believe the code properly handles:
1 - Train GPU / Load GPU
2 - Train CPU / Load CPU
but does not handle:
3 - Train GPU / Load CPU
4 - (Less common) Train CPU / Load GPU
3 and 4 both require

[2020-05-31 18:10] chauhang commented on #400
Verified this has been fixed by PR #402

[2020-05-31 18:10] #400 closed

[2020-05-31 18:13] chauhang commented on #85
Added by PR #302

[2020-05-31 18:13] #85 closed

[2020-06-01 04:15] mohammedayub44 commented on #105
@harshbafna  I was actually trying to run on 4 GPU's (`p3.8xlarge` instance).  I'm able to run on single GPU id without any problem, I run into this error when running on 4 GPU's, is that not supported out of box by Torchserve.

[2020-06-01 05:40] harshbafna commented on #105
@mohammedayub44 : Running on multiple GPUs is supported in TorchServe. Every workers is started on different GPU devices in a round-robin fashion, which is taken care by following piece of code in the handler :

[code]

From the stack trace shared, the following line your model seems to be the culprit, where atleast one of the tensor is not loaded in the same device as model.
[code]

In case you h

[2020-06-01 05:43] harshbafna commented on #170
@lokeshgupta1975 @mycpuorg : The corresponding PR is already merged in the master branch. We can close this ticket.

[2020-06-01 09:30] josiahdavis opened #416 "Error building GPU image on an Ubuntu 18.04 EC2 Instance m4.xlarge"
## Context

I am trying to build the docker image for a GPU instance but would like to build the image on a non-GPU instance. I am just trying to build using the [provided docker example](https://github.com/pytorch/serve/tree/master/docker) as is with no modifications.

* torchserve version: I am running a git clone on the current version (master branch)
* torch version: I am running on an m4.xlar

[2020-06-01 09:30] josiahdavis commented on #416
[output.txt](https://github.com/pytorch/serve/files/4710522/output.txt)

Here is full output.

[2020-06-01 10:33] harshbafna commented on #416
@josiahdavis : This is a known issue related to intermittent gradle build failure (refer #349) and has been fixed in `staging_0_1_1` branch and will be available in `master` branch with the next release.

[2020-06-01 12:03] harshbafna opened #417 "RequestTimeOut errors for unregister api call during build"
Observed a consistent build failure on m4.xlarge EC2 instance with “RequestTimeOut” error for unregister API calls in UT on `staging_0_1_1` branch.

Similar failures are also observed intermittently on CI builds (for non-code changes as well).

**Error logs from EC2 instance :**

[build_intermittent_failures.txt](https://github.com/pytorch/serve/files/4710979/build_intermittent_failures.txt)

**So

[2020-06-01 14:30] boniek83 commented on #403
I've tried compiling pytorch with rocm using official instructions:
`https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-learning.html#recommended-install-using-published-pytorch-rocm-docker-image`
It works:
[code]
But when trying to serve example model with torchserve it is not seeeing any GPUs:
[code]

[2020-06-01 14:54] boniek83 commented on #403
It seems src/main/java/org/pytorch/serve/util/ConfigManager.java has problematic method getAvailableGpu() which only supports nvidia-smi. Similar AMD equivalent would be:
[code]

[2020-06-01 15:44] dhaniram-kshirsagar commented on #415
@YingChenlu Can you please share the top command output for the following state -
1. No model loaded
2. Model loaded [with worker]
3. Post 4 inference requests
4. Post 3k requests [copy top output after a pause of 5 mins]

We need these inputs to understand the model footprint. We are observing an increase in memory however it is not following the pattern you have described. There are few things t

[2020-06-01 16:42] mycpuorg commented on #415
Thanks @dhaniram-kshirsagar this is very useful info. The workers are spawned and they load the corresponding model into memory so the initial increase is justified. But the memory must remain constant (within a channel) after this.

[2020-06-01 16:43] mycpuorg opened #419 "Memory footprint optimizations"
In case of multiple models, we will experience higher memory footprint. We had a patch proposed internally a while back (needs a ton of testing) that uses fork's COW semantics to prevent redundant copies of models from being loaded into memory.

Linux's fork system call's Copy-On-Write semantics that performs a lazy copy of virtual address spaces from parent to child. Performing a pre-load of the

[2020-06-01 16:45] mycpuorg commented on #415
@YingChenlu the server should release the memory once the model is unregistered. Nonetheless, thanks for bringing this issue up as it's very important. I have created a related request to bring in some optimizations we had discussed from a while back. Please refer and comment: https://github.com/pytorch/serve/issues/419

[2020-06-02 04:09] qiaoning commented on #378
expect

[2020-06-02 10:09] YingChenlu commented on #415
For me, memory increase happens with different requests. With the same request, the memory is almost constant. I'll post more logs later.

[2020-06-02 12:40] YingChenlu commented on #415
top command results:
1. backgroud
[background_without_torchserve.log](https://github.com/pytorch/serve/files/4717145/background_without_torchserve.log)

2. start torchserve, not load model
[server_started_no_model_loaded.log](https://github.com/pytorch/serve/files/4717149/server_started_no_model_loaded.log)

3. start torchserve, load model, not post requests
[server_started_model_loaded.log](https

[2020-06-02 13:07] YingChenlu commented on #415
I just figure out that memory increase has nothing to do with torchserve. It's caused by torch.jit. Thanks for your spending time.

[2020-06-02 14:10] mohammedayub44 commented on #105
Thanks so much. I'll try debugging why this is happening. Will raise separate ticket if I don't figure out.

[2020-06-02 17:42] dhaniram-kshirsagar commented on #415
No, I was not able to repro this issue however a different kind of behavior that seems like desired behavior considering the fact that netty uses buffer pooling.  Our major concern has been java process and not the worker python process as those remain constant.

And as per the latest post from OP, he has confirmed [also same can be confirmed via top output provided by OP]  that it's not java howe

[2020-06-02 17:42] dhaniram-kshirsagar commented on #415
Thanks @YingChenlu !

[2020-06-02 23:27] dhanainme opened #426 "Update Model Zoo models with Torchscripted versions for better latency"
Right now we have a TorchScripted model for BERT - https://github.com/pytorch/serve/pull/421

Verify that for all the other models models in Model Zoo, we have a TorchScripted version available. If this is not the case, then add a column in the Model Zoo README to highlight the type of the model.

Also benchmark against the torch scripted versions.

[2020-06-03 00:40] mycpuorg commented on #362
@dhaniram-kshirsagar this sounds good. Please proceed and make a PR. Thanks.

[2020-06-03 07:58] faustomilletari opened #429 "About the possibility of adding client-accessible model metadata"
Hello,

I would like to know if it's possible to add some custom, user-defined (at packaging time), meta-data about the model so that it can be retrieved by clients.

I describe my use case a little bit more: I usually have models with a variable number of inputs and outputs. Once the description of these inputs and outputs is captured in meta-data, my clients retrieve the metadata and build the n

[2020-06-03 14:02] faustomilletari opened #430 "Payload too big"
When I make a request with a rather large 3D volume to the server, (Torchserve) I receive an error about the payload being too big.

how can I set limits about the payload?

[2020-06-03 14:08] harshbafna commented on #430
You can set the `max_request_size` and `max_response_size` parameter in config.properties to overwrite the default values as follows :

[code]

The default value for both the params is `6553500` bytes. This is not documented in current master. However you can refer following [configuration doc](https://github.com/pytorch/serve/blob/staging_0_1_1/docs/configuration.md#other-properties) from `stagin

[2020-06-03 16:07] dhaniram-kshirsagar commented on #429
@faustomilletari It is pretty much possible to package user-defined metadata inside a mar file and process it using a [custom handler](https://github.com/pytorch/serve/blob/master/docs/custom_service.md) however at present there is no direct api for getting model metadata specifically, what model expects as input and the output it is going to return.

One of the approaches to solving your problem

[2020-06-03 16:57] faustomilletari commented on #429
Thanks a lot! I have solved by custom handler, returning metadata when no inputs are sent with the request :) that's pretty great!

Also, torch serving is fast! thanks for creating this. I love it

[2020-06-03 16:57] #429 closed

[2020-06-03 16:57] faustomilletari commented on #430
Thanks! this works!!

[2020-06-07 02:40] htappen opened #434 "Refactor torch handlers (especially BaseHandler) for better reusability and functionality"
# LONG issue following
(Hi all, PM for Google Cloud AI Platform)
The Torchserve handler classes need a refactor so it's easier for developer to use and for us to provide functionality. This refactor is a prerequisite to enabling Torchserve on Google Cloud. I've implemented a version in this commit: https://github.com/htappen/serve/commit/7f8fe9eb72efb3fbc9020a6bc37f8ff27f459a2e

Thoughts very much

[2020-06-08 14:23] dhaniram-kshirsagar commented on #434
Thanks, @htappen for the proposal!

It looks like, the majority of the proposed changes are in place with different approaches. However, the documentation needs to be calibrated to remove confusion around writing custom handlers and/or extending default handlers. In fact, we already have a PR #432 in progress where we are addressing code reusability aspects. Even examples are getting refactored. A

[2020-06-08 17:27] drcdr opened #435 "Behavior of fastrcnn object_detector demo with a black image and no predictions"
**Setup**
Running fastrcnn object_detector [demo](https://github.com/pytorch/serve/tree/master/examples/object_detector/fast-rcnn), without modifications, on a JPEG image that is completely black.  No objects are detected (as expected).

**Summary of Issue**
An exception occurs based in object_detector.py, in inference(), at the line

```pred_t = [pred_score.index(x) for x in pred_score if x > thr

[2020-06-08 19:08] dhaniram-kshirsagar commented on #409
@lessw2020 Tried all the above combination with scripted as well as eager mode models however not facing any such issues. Here is the [sample script](https://drive.google.com/file/d/17U1JF6BwXhg0BJMVkyIJ1JJIlUK3MIz0/view?usp=sharing) I am using on cpu and gpu machines.  NOTE - once scripted module is saved, I am moving the same to gpu/cpu machine for cross-testing.

[2020-06-08 19:17] lessw2020 commented on #409
Hi @dhaniram-kshirsagar  - thanks for the update.  My scenario that it failed on was training on GPU, model on GPU and save/script model.  Then load on CPU only (no gpu anywhere) server.
If that's now working, that's great to hear though I'm not clear what would have changed.  Ultimately just want to make it easy for people to load and run their models without having to track how it was originally

[2020-06-08 19:45] htappen opened #436 "Add "RequestFormatter" config class to work with different inference platforms"
# Problem statement
Many model serving systems provide a signature for request bodies. Examples include:

- [Seldon](https://docs.seldon.io/projects/seldon-core/en/v1.1.0/graph/protocols.html)
- [KFServing](https://github.com/kubeflow/kfserving/tree/master/docs)
- [Google Cloud AI Platform](https://cloud.google.com/ai-platform/prediction/docs/online-predict)

Data scientists use these multi-framew

[2020-06-08 19:55] htappen commented on #434
Hi Dhaniram, thanks for getting back to me. I do see a bit of progress in the PR you mention, but it still stops short of actually building a reusable class or interface. Looks like other PRs are also adding to the fragmentation and duplication: https://github.com/pytorch/serve/pull/283, https://github.com/pytorch/serve/pull/418, https://github.com/pytorch/serve/pull/432.

Lack of reusability make

[2020-06-09 00:12] mycpuorg commented on #415
@YingChenlu Could you please test usecase with https://github.com/pytorch/serve/pull/422 now that it's merged? It would be nice to see if this alleviates your situation (memory pressure). Thanks.

[2020-06-09 00:37] #205 closed

[2020-06-09 01:11] dhanainme opened #442 "Enable Snakeviz with ENV variables instead for code change"
Update snakeviz to use a env flag to enable benchmark instead of a code change.

https://github.com/pytorch/serve/tree/master/benchmarks#backend

[2020-06-09 08:27] YingChenlu commented on #415
My problem is solved with setting LRU_CACHE_CAPACITY=1

[2020-06-09 12:23] dhaniram-kshirsagar commented on #409
@lessw2020 You are correct GPU to CPU [only] is giving issue for both scripted and eager mode models. Looks like I forgot to copy model saved on gpu to cpu box! Created fix PR #444

[2020-06-09 17:08] dhaniram-kshirsagar commented on #215
There is another issue #384 for documenting FAQ hence this issue should focus on troubleshooting and Developer guide which includes steps for debugging backend etc.

[2020-06-09 17:10] dhaniram-kshirsagar commented on #434
Sure @htappen, let us first complete that PR and documentation fix and then you can fork from our branch and add some of these enhancements. We should be completing the changes by this week.

[2020-06-09 17:42] dhaniram-kshirsagar commented on #436
Liked the idea of including formatter in mar. torch-model-archive util supports --extra-files flag, may be we can thought of using same with some standard module/class naming convention.

[2020-06-09 17:46] htappen commented on #434
Thanks so much! I'll check back in next week.

On Tue, Jun 9, 2020 at 10:10 AM dhaniram-kshirsagar <
notifications@github.com> wrote:

[2020-06-09 23:36] #399 closed

[2020-06-09 23:37] #391 closed

[2020-06-09 23:37] #386 closed

[2020-06-09 23:37] #375 closed

[2020-06-09 23:39] #364 closed

[2020-06-09 23:39] #349 closed

[2020-06-09 23:39] #343 closed

[2020-06-09 23:40] #340 closed

[2020-06-09 23:40] #334 closed

[2020-06-09 23:40] #319 closed

[2020-06-09 23:41] #317 closed

[2020-06-09 23:41] #316 closed

[2020-06-09 23:41] #312 closed

[2020-06-09 23:44] #296 closed

[2020-06-09 23:44] #295 closed

[2020-06-09 23:45] #266 closed

[2020-06-09 23:45] #259 closed

[2020-06-09 23:45] #257 closed

[2020-06-09 23:46] #234 closed

[2020-06-09 23:46] #208 closed

[2020-06-09 23:46] #196 closed

[2020-06-09 23:47] #195 closed

[2020-06-09 23:47] #191 closed

[2020-06-09 23:48] #183 closed

[2020-06-09 23:48] #179 closed

[2020-06-09 23:49] #178 closed

[2020-06-09 23:49] #155 closed

[2020-06-09 23:50] #57 closed

[2020-06-09 23:52] #29 closed

[2020-06-09 23:53] #60 closed

[2020-06-09 23:55] #98 closed

[2020-06-09 23:56] #118 closed

[2020-06-09 23:57] #324 closed

[2020-06-09 23:57] #153 closed

[2020-06-09 23:59] #82 closed

[2020-06-10 00:03] #105 closed

[2020-06-10 00:04] #186 closed

[2020-06-10 00:04] #279 closed

[2020-06-10 00:06] #201 closed

[2020-06-10 00:09] #357 closed

[2020-06-10 00:10] #158 closed

[2020-06-10 00:20] maaquib commented on #99
@fbbradheintz Is this still relevant for the latest release?

[2020-06-10 00:22] maaquib commented on #83
@C24IO Closing this. Please re-open if you are still running into this issue on the latest release

[2020-06-10 00:22] #83 closed

[2020-06-10 01:01] maaquib commented on #206
Will create another PR for adding diagrams for netty/worker interplay

[2020-06-10 03:35] dhaniram-kshirsagar commented on #115
@maaquib Could you please indicate the reason behind closing this issue? We thought it is an important issue.

[2020-06-10 03:42] dhaniram-kshirsagar commented on #104
Related PR has been merged hence closing this.

[2020-06-10 03:42] #104 closed

[2020-06-10 03:44] dhaniram-kshirsagar commented on #160
Related PR has been merged hence closing this.

[2020-06-10 03:44] #160 closed

[2020-06-10 03:44] dhaniram-kshirsagar commented on #170
Related PR has been merged hence closing this.

[2020-06-10 03:44] #170 closed

[2020-06-10 03:48] dhaniram-kshirsagar commented on #269
Related PRs #320 #322 #420 #349 have been merged hence closing this.

[2020-06-10 03:48] #269 closed

[2020-06-10 04:30] dhaniram-kshirsagar commented on #204
Related PR has been merged hence closing it

[2020-06-10 04:30] #204 closed

[2020-06-10 04:49] harshbafna commented on #79
The frontend layers selects the GPU device in a round robin fashion and passes the device ID on to the backend handler where user can use it to initialize the torch.device object with specified GPU ID.

The details for handling model execution is already documented [here](https://github.com/pytorch/serve/blob/master/docs/custom_service.md#handling-model-execution-on-multiple-gpus).

[2020-06-10 04:49] #79 closed

[2020-06-10 08:52] dhaniram-kshirsagar commented on #415
Closing this as related PR has been merged to master and OP reported issue was not directly related to memory but was scripted pytorch model

[2020-06-10 08:52] #415 closed

[2020-06-10 08:55] dhaniram-kshirsagar commented on #390
Closing this as OP has accepted the answer.

[2020-06-10 08:55] #390 closed

[2020-06-10 08:57] dhaniram-kshirsagar commented on #367
Closing as related PR has been merged.

[2020-06-10 08:57] #367 closed

[2020-06-10 09:10] dhaniram-kshirsagar commented on #78
Being taken care by pr #432

[2020-06-10 10:23] dhaniram-kshirsagar commented on #119
Related to #362

[2020-06-10 10:29] dhaniram-kshirsagar commented on #267
@maaquib @dhanainme Can you check if this can be closed.

[2020-06-10 10:43] dhaniram-kshirsagar commented on #369
Closing this as query has been answered.

[2020-06-10 10:43] #369 closed

[2020-06-10 11:36] faustomilletari opened #449 "Error 507 when predicting"
Hello,

I have a rather large model that I need to use for prediction. When I make the request, I receive an error 507 and a message stating that the worker has died on the server side

[code]

I suspect this is somehow related with the JVM memory. I am therefore using a config.properties file with the following entry

`vmargs=-Xmx128g` (of course the model needs much less than 128gb)

I am not us

[2020-06-10 11:42] faustomilletari commented on #449
it's definitely a problem of memory as when I try inference with smaller data I actually am able to obtain a response.

Is there some other option I can pass to the JVM to get it to use MORE memory?

[2020-06-10 11:54] harshbafna commented on #449
@faustomilletari  : How many workers are you using for your model and can you share the output of top commands for different scenarios like after starting the workers, running the inference with smaller input size and larger input size.

Please also share the different log files from the log folder, which is by default generate on the path from where you start `TorchServe`

[2020-06-10 11:55] faustomilletari commented on #449
despite the fact I have specified vmargs in config.properties, on startup I still see

[code]

[2020-06-12 09:27] boscotsang opened #455 "Netty IndexOutOfBoundException"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/pytorch/serve/issues) before creating one.

## Context

* torchserve version: build docker image from master branch 719add34dce99680ed3f9
* torch version: 1.5.0
* Operating System and version: Ubuntu 18.04

## Your Environment

* Installed using source? [yes/no]: yes
* Are you planning to deploy it using do

[2020-06-12 19:22] maaquib commented on #455
@boscotsang I am not able to reproduce this. Can you provide some more details for the reproduction steps?

[2020-06-13 02:06] bananemure opened #456 "How to use management API in Sagemaker? e.g how to change batch size"
Hi,

Is it possible to use management api to a sagemaker deployed model?

I am trying to increase the batch size but I don't know if it is doable in sagemaker.

Can we just customise it (batch size) through config.properties so it will apply when sagemaker deploy the model ?

Thanks

[2020-06-13 04:17] vdantu commented on #456
@bananemure : I don't there is a way to do this currently. But once https://github.com/pytorch/serve/pull/287 is pulled in, there will be a way to configure batch on your endpoint through `config.properties` file or by giving batch related environment variables when you `create model` on Amazon Sagemaker.

[2020-06-13 22:55] riyan-ahmed commented on #403
I am having difficulty following the official instructions to install rocm pytorch on my machine.
Did you install ROCm v3.3 or v3.5 before pulling the docker image? Because the official instructions say "A ROCm install version 3.3 is required currently." yet its pulling  rocm/pytorch:rock3.5 from docker hub.?

[2020-06-14 09:53] boniek83 commented on #403
I'm using ROCk 3.3 (ROCk is kernel driver, ROCm is userland) with rocm/pytorch:rocm3.3_ubuntu16.04_py3.6_pytorch

[2020-06-14 23:28] bananemure commented on #456
@vdantu Thanks for the reply.

[2020-06-14 23:28] #456 closed

[2020-06-15 09:07] la-cruche opened #459 "How to avoid contention between models, workers and runtime parallelism?"
Hi! this is a question, not an issue

I see that TorchServe can serve multiple models or multiple workers per model. For example the [AWS blog](https://aws.amazon.com/blogs/machine-learning/deploying-pytorch-models-for-inference-at-scale-using-torchserve/) says "If your model is hosted on a CPU with many cores such as the c5.24xlarge EC2 instance with 96 vCPUs, you can easily scale the number of t

[2020-06-15 09:55] harshbafna commented on #459
@la-cruche

There are two levels of parallelism in TorchServe :
 - ** Frontend model workers**: Whenever a new worker is added to a model, a corresponding new java thread is created.
 - ** Backend model workers**: Each frontend model worker(java thread) creates a backend python process that is responsible for loading the model and running the inference.

The frontend and backend workers work in ta

[2020-06-16 08:47] SlimFrkh opened #461 "Custom handler template with context error handling"
## Is your feature request related to a problem? Please describe.
Custom handler documentation lacks context error handling and context object manipulation. Plus, custom handler can be created as a template with preprocess, predict and postprocess functions or transform function.

## Describe the solution
Port These code snippets from Sagemaker inference toolkit repo:
https://github.com/aws/sagema

[2020-06-16 17:11] ddevanir opened #463 "ModuleNotFoundError: No module named demo_service"
While I was setting up custome service defined here - https://github.com/pytorch/serve/blob/master/docs/custom_service.md

This is the command I ran to create the model archive -
torch-model-archiver --model-name demo -v 1.0 --serialized-file demo_model.pt --handler demo_service:handle

1. I get the error saying the handler should be part of py if not default
"Handler should be one of the default

[2020-06-16 17:49] dhaniram-kshirsagar commented on #434
@htappen Thanks for waiting on this. I have made the required changes to Base, Default, and Example handlers. I have also corrected the custom handler doc. Please refer to #432.

Unfortunately, there were mistakes in default handler and initial examples that got blindly pasted in other examples as well. Please look at this [updated custom handler](https://github.com/pytorch/serve/blob/8cd6722e47fb

[2020-06-16 18:20] dhaniram-kshirsagar commented on #463
@ddevanir There seems to be a bug in the model-archiver utility. As a workaround, please use `--handler demo_service.py` instead of `--handler demo_service:handle`

The mar creation should have failed. Have you created mar file manually to register it? Asking this questions since you are able to register model?
[code]

NOTE if you are planning to create mar file for torch eager mode models then yo

[2020-06-16 18:38] dhaniram-kshirsagar commented on #436
@htappen Instead of changing the base handler and adding new method i.e. getDefaultHandler that accepts Formatter, can we add new package named `formatters` that will contain apart from formatters,  a new default base handler class say `BaseHandlerWithFormatter` [extending `BaseHandler`] however has overridden `initialize` method for initializing formatter and `handle` method for pre and post form

[2020-06-17 05:07] ddevanir commented on #463
I have fixed the bug locally and was able to pass the creation of mar. I was able to get it working end to end. Thanks.

Another question:
I see that we can serve the model in MMS as well. What is the advantage of TorchServe over MMS?

[2020-06-17 05:30] dhaniram-kshirsagar commented on #463
@ddevanir TorchServe as the name indicates is a model serving component for PyTorch and hence provides some specific features/examples for pytorch. e.g. default handlers are not there in mms or versioning/snapshot are some of the other features not part of mms.
And is driven by the PyTorch community. Overall framework has been derived from mms.

[2020-06-17 06:55] Varun-Epi opened #464 "Pass folder/zipfile to torch-model-archiver"
I have been working on deploying deep learning models using serve and been able to deploy BERT models without any issues.

Currently, I have been trying to deploy an allennlp model stored in a folder structure/zipfile (both possible). To load model inside torch_serve_handler:
[code]
Tried couple of things,
1. Passed folder to serialized-file argument but it returns error as it expects file.
2. Pas

[2020-06-17 14:42] #463 closed

[2020-06-17 14:43] htappen commented on #434
Thanks for replying! I've been out on leave for a few days, and I'll take a
closer look by end of week.

On Tue, Jun 16, 2020 at 10:50 AM dhaniram-kshirsagar <
notifications@github.com> wrote:

[2020-06-17 17:18] dhaniram-kshirsagar opened #465 "Model archive utility is not working with handler or handler:entry_pnt_func name"
In the following command --handler has restricted to *.py file only.
`torch-model-archiver --model-name <model-name> --version <model_version_number> --model-file <path_to_model_architecture_file> --serialized-file <path_to_state_dict_file> --extra-files <path_to_index_to_name_json_file> --handler model_handler:handle --export-path <output-dir> --model-path <model_dir> --runtime python3`

What is

[2020-06-18 05:12] harshbafna commented on #464
@Varun-Epi : `TorchServe` extracts the contents of a `mar` file in a temporary location only once at the time of model registration and each worker refers to the same model directory.

However, the `Predicator.from_archive` function in your code snippet will get executed per worker and it looks like this function is generating temp files in different path every time.

You could write custom code f

[2020-06-18 08:04] shivamshriwas opened #466 "RobertaQA_not_Torchscript model gives blank prediction output"
RobertaQA_Torchscript generates output for the sample text file whereas RobertaQA_not_Torchscript returns an empty string prediction. Refer to below logs.

Input file: [examples/Huggingface_Transformers/QA_artifacts/sample_text.txt](https://github.com/pytorch/serve/blob/master/examples/Huggingface_Transformers/QA_artifacts/sample_text.txt)

[code]

As per the input file given to the above models f

[2020-06-18 13:55] Varun-Epi commented on #464
Hey @harshbafna, thank you for the quick response.

I found the issue on `load_archive` func which was deliberately creating tempdir for each worker, so took your advice to customize the script & it worked!

Thanks!!

[2020-06-18 13:55] #464 closed

[2020-06-18 16:45] htappen commented on #434
I like that new `handle` method. Looks great!

I added comments to the changelist. It's getting there, but still needs some work.

[2020-06-18 16:50] htappen commented on #461
Incidentally, I think SlimFrikh and I are asking for similar changes: https://github.com/pytorch/serve/issues/434

[2020-06-18 18:06] htappen commented on #436
Thanks for taking a look! Implementing the request formatters in a replacement base class for BaseHandler won't work because then classes derived from BaseHandler (e.g. all the built-ins) won't get the behavior.

However, another similar that could work would be to have the RequestFormatter wrap a handler object instead of the other way around:

[code]

To use this, someone would have to create a

[2020-06-19 12:36] shivamshriwas commented on #41
Black list env var uses regex for filtering out env variables which are not required or need to be restricted.

These env variables are used to start model worker and changing it to whitelist can easily break functionality as there are too many default env variable as well python virtual env variable which if missed to whitelist will affect funcionality.

Even if still wants to whitelist env var ,

[2020-06-22 18:52] VarunNatraaj opened #473 "java.lang.NoSuchMethodError when starting Torch Serve"
I keep getting this path not found error.

This is from starting the torchserve inside a project:

[code]

This is from after pulling and building torchserve from git, and running the torchserve_sanity.sh script:

[code]

Any ideas or help here please? Also, here's my environment info:
[code]

[2020-06-23 03:28] dhaniram-kshirsagar commented on #473
You need java 11 for this. Please look at the quick start guide [here](https://github.com/pytorch/serve/blob/master/README.md)

[2020-06-23 06:32] VarunNatraaj commented on #473
Ah sorry. My bad then. I thought Java 8 was the minimum requirement according to [this](http://pytorch.org/serve/install.html). Let me try with Java 11.

[2020-06-23 07:41] VarunNatraaj commented on #473
Works now. Sorry for the trouble!

[2020-06-23 07:41] #473 closed

[2020-06-23 17:51] dhaniram-kshirsagar opened #475 "netty: Upgrade to latest for important fixes and performance enhancements"
At present, we have netty 4.1.24 and the latest stable is 4.1.50.

Netty 4.1.30.Final and later has been tested with java11. java11 is what we support hence we should upgrade the netty to the latest stable to take advantage of fixes and performance enhancements.

## Your Environment
All.

## Expected Behavior
No change

## Current Behavior
No change

## Possible Solution
Upgarde to latest stable n

[2020-06-23 18:11] dhaniram-kshirsagar opened #476 "Custom mar downloader"
## Is your feature request related to a problem? Please describe.
At present, only mar files from public urls can be fetched. This imposes unnecessary restrictions for users to keep their model on public URL or on the local disk. It can also result in a security risk however the same can be reduced to some extent using #468 .

## Describe the solution
Make mar download component of torchserve exte

[2020-06-24 01:46] s-rog opened #478 "docker: torch.cuda.is_available() returns false despite detecting GPUs"
## Your Environment

- ubuntu16.04, docker 19.03.12, driver 418.56, cuda 10.1, nvcc 7.5.17, single (local) gpu
- tested with images built from `Create TorchServe docker image` (with experimental enabled) as well as pulled from `pytorch/torchserve:latest-gpu`
- dummy handler that checks torch.cuda.is_available() on init (like the mnist example)
- container started with:
[code]
init detects gpu:
[co